<style>
.row {
	margin-bottom: 10px;
}
</style>
<div>
	<div class="box-header well">
		用户贷款申请记录
	</div>
	<div  class="box-content">
		<div class="row">
			<div class="col-xs-1">
				<p style="margin-top: 8px; font-weight: bold;">
					共<span class="totalNum">{{paginationParams.total()}}</span>条
				</p>
			</div>
			<!--<div class="col-xs-offset-4 col-xs-7">
				<div class="input-group">
					<select ng-model="search" style="width:20%;" class="form-control">
						<option value="">请选择查询条件</option>
						<option value="1">UU号</option>
						<option value="2">用户名</option>
					</select>
					<input type="search" style="width:80%;" class="form-control" ng-model="searchContent"
						ng-search="onSearch()" placeholder="请输入搜索内容">
					<span class="input-group-btn">
						<button ng-click="onSearch()" class="btn btn-primary" type="button">搜索</button>
					</span>
				</div>
			</div>-->
		</div>

		<p ng-model="test"></p>
		<table ng-table="logUsageTableParams"
			class="table table-bordered table-striped table-hover" style="word-break:break-all; word-wrap:break-all;">
			<thead>
				<tr class="tr-default">
					<th width="10%;" class="text-center">申请时间</th>
					<th width="7%;" class="text-center">客户称呼</th>
					<th width="30%" class="text-center">联系方式</th>
					<th width="20%" class="text-center">申请金额</th>
				</tr>
			</thead>
			<tbody ng-repeat="apply in $data">
				<tr class="text-center">
					<td><span ng-bind="apply.date | date:'yyyy-MM-dd HH:mm:ss'"></span></td>
					<td><span ng-bind="apply.name"></span></td>
					<td>
						<span ng-if="apply.tel">手机号：<span ng-bind="apply.tel"></span>；</span>
						<span ng-if="apply.email">邮箱：<span ng-bind="apply.email"></span>；</span>
						<span ng-if="apply.qq">QQ：<span ng-bind="apply.qq"></span>；</span>
					</td>
					<td><span ng-bind="apply.amount || '未知'"></span></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
