<style>
.searchGroup {
	margin-top: 20px;
	margin-bottom: 10px;
}

.btn-primary {
	color: #fff;
	background-color: #7bb4e1;
	border-color: #7bb4e1;
}

.account-info-line {
	padding: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.marginltb {
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.containerrow {
	display: inline-block;
	width: 91%;
	padding-right: 0px;
}

.minTitle {
	margin-bottom: 15px;
	margin-top: 15px;
	font-weight: 600;
	font-size: 15px;
}

.paddingzero {
	padding-left: 0px;
	padding-right: 0px;
}

.marginleftrightzero {
	margin-left: 0px;
	margin-right: 0px;
}

.marginbot30 {
	margin-bottom: 30px;
}

.total {
	margin-right: 10px;
	font-size: 20px;
}

.marginbot15 {
	margin-bottom: 15px;
}

.orderDiv {
	font-size: 15px;
}

.block {
	background-color: white;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 14px;
	font-family: "microsoft yahei";
}

h4 {
	font-size: 20px;
	font-weight: 600;
}

.btn-primary:hover {
	color: #fff;
	background-color: #f39800;
	border-color: #f39800;
	border-left-color: #fff;
	border-right-color: #fff;
}

.btn-primary:active {
	color: #fff;
	background-color: #f39800;
	border-color: #f39800;
}

.tr-default {
	color: #fff;
	background-color: #7bb4e1;
}

.totalNum {
	font-weight: bold;
	color: #f39800;
}

.price {
	color: #f39800;
	font-weight: bold;
	font-size: 14px;
}

td {
	line-height: 1.1;
}

.order_start label {
	display: inline;
	/* font-weight: normal; */
}

.order-start {
	padding-left: 30px !important;
}

.order-start input[type="checkbox"] {
	display: inline;
}

.order-start input[type="radio"] {
	display: none;
}

input[type="radio"]+label, input[type="checkbox"]+label {
	background-color: #FFF;
	border: 1px solid #C1CACA;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px
		rgba(0, 0, 0, 0.05);
	padding: 6px;
	display: inline-block;
	position: relative;
	vertical-align: text-bottom;
}

input[type="radio"]:checked+label:after, input[type="checkbox"]:checked+label:after
	{
	content: '\2714';
	clear: both;
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	color: #FFF;
	background-color: #7bb4dc;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 14px;
	vertical-align: text-top;
}

.order-start label {
	margin-bottom: 0px;
}

.border-account {
	border-bottom: 1px dashed #C1BABA;
	border-top: 1px dashed #C1BABA;
	margin-top: 10px;
}

.account-line:HOVER {
	background-color: #E6E5E5;
	cursor: pointer;
}

.action-tag {
	color: rgb(113, 142, 208);
	padding-top: 10px;
	font-family: "microsoft yahei";
}

.action-tag:HOVER {
	text-decoration: none;
	color: #202123;
}

.modify-account {
	color: rgb(243, 154, 2);
}

.modify-account:HOVER {
	color: #202123;
}

.margin-top-5 {
	margin-top: 5px;
}

.margin-left-37 {
	margin-left: 37px;
}

.padding-left-right-zero {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.padding-left-30 {
	padding-left: 30px;
}

table>tbody>tr>td .btn-primary {
	width: 70px;
}

.price {
	color: #f39800;
	font-weight: bold;
	font-size: 14px;
}

.detail-icon {
	padding-left: 15px;
}
.location ul {
    border-bottom: solid 1px #ddd;
}

.location {
    line-height: 28px;
}

.font-size-12 {
	font-size: 12px !important;
}
</style>
<!--<div class="location ng-scope">-->
	<!--<ul class="list-unstyled list-inline">-->
		<!--<li class="text-bold">您当前的位置：</li>-->
		<!--<li>买家中心 <i class="fa fa-angle-double-right"></i></li>-->
		<!--<li>交易信息<i class="fa fa-angle-double-right"></i></li>-->
		<!--<li>填写银行转账信息</li>-->
	<!--</ul>-->
<!--</div>-->
<div>
<!--	<div>
		<div class="row searchGroup">
			<div class="col-xs-3">
				<h4>未付款，填写转账信息</h4>
			</div>
			<div class="col-xs-6">
				<div class="input-group">
					<input type="search"
						class="form-control ng-pristine ng-untouched ng-valid"
						ng-search="searchFor()" ng-change="upper()" ng-model="keyword"
						placeholder="请输入订单号查询"> <span class="input-group-btn">
						<button ng-click="searchFor()" class="btn btn-primary"
							type="button">搜索</button>
					</span>
				</div>
			</div>
		</div>
		<div>
			<div class="col-xs-1">
				<p style="margin-top: 8px; font-weight: bold;">
					共<span class="totalNum">{{tobePaidTableParams.total()}}</span>条
				</p>
			</div>
		</div>
		</br>
		<table ng-table="tobePaidTableParams"
			class="table table-bordered table-striped">
			<thead>
				<tr class="tr-default">
					<th width="70" class="text-center">
						<div>序号</div> <input type="checkBox" ng-checked="isSelectAll"
						ng-click="selectAll()" ng-disabled="showMe">
					</th>
					<th width="auto" class="text-center">订单详情</th>
					<th width="114" class="text-center">单价</th>
					<th width="114" class="text-center">金额</th>
					<th width="100" class="text-center">税金</th>
					<th width="100" class="text-center">价税合计</th>
					<th width="80" class="text-center">订单状态</th>
					<th width="60" class="text-center">操作</th>
				</tr>
			</thead>
			<tbody ng-repeat="order in $data">
				<tr>
					<td rowspan="2" class="tdcenter">
						<div>{{$index+1}}</div>
						<div>
							<input type="checkBox" ng-checked="order.isSelect"
								ng-model="order.isSelect" ng-disabled="showMe"
								ng-click="doSelect(order)">
						</div>
					</td>
					<td colspan="8">
						<div class="row">
							<div class="col-sm-8 text-muted">
								<span> <i class="fa fa-clock-o"></i> <span
									ng-bind="order.creattime | date: 'yyyy-MM-dd HH:mm'"
									class="text-num"></span>
								</span> <span>订单号： <a
									ng-href="user#/home/order/{{order.orderid | EncryptionFilter}}"
									ng-bind="order.orderid"></a>
								</span> <span class="text-inverse">过期时间： <span
									ng-bind="order.availabletime | date: 'yyyy-MM-dd HH:mm'"></span>
								</span>
							</div>
							<div class="col-sm-4 text-muted text-num text-right">
								<span class="price">币别：<span ng-bind="order.currency"></span></span>
								&nbsp;产品总数：<span ng-bind="order.qty"></span>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="3">
						<div class="row cmp-item"
							ng-repeat="orderDetail in order.orderDetails">
							<div class="col-sm-6">
								<div class="p-img">
									<a href="product#/component/{{orderDetail.uuid}}/"> <img
										src="" lazy-load="{{orderDetail.img}}" height="78px"
										width="78px">
									</a>
								</div>
								<div>
									<div>
										<a class="f16 text-bold" style="display: block;"
											href="product#/component/{{orderDetail.uuid}}/"
											ng-bind="orderDetail.cmpCode"></a> <span
											ng-bind="orderDetail.brName"></span>
									</div>
									<div>
										<i class="iconfont icon-kind f14"></i><span
											ng-bind="orderDetail.kiName"></span>
									</div>
									<div ng-if="orderDetail.returnInWeek">
	        							<img class="detail-icon" alt="支持7天无理由退货" src="static/img/product/seven-day-back.jpg" title="支持7天无理由退货">&nbsp;
	        						</div>
								</div>
							</div>
							<div class="col-sm-3 text-num text-center">
								<div class="text-num text-bold f16">
									<span ng-bind="orderDetail.taxUnitprice | number:6"></span>
								</div>
								<div class="text-num text-muted">
									×<span ng-bind="orderDetail.number"></span>
								</div>
								<div>
									<span ng-if="orderDetail.tax">单价含税<span ng-bind="orderDetail.tax"></span>%</span>
								</div>
							</div>
							<div>
							</div>
							<div class="col-sm-3 text-num price text-center">
								<div>
									<span ng-bind="orderDetail.price | number"></span>
								</div>
							</div>
						</div>
					</td>
					<td class="text-center tdcenter">
						<div class="text-theme f14 text-num">
							<span ng-bind="order.taxes | number"></span>
						</div>
					</td>
					<td class="text-center tdcenter">
						<div class="text-inverse text-bold f16 text-num">
							<span ng-bind="order.price | number"></span>
						</div>
					</td>
					<td class="text-center tdcenter">
						<div>
							<span ng-bind="order.status | statusAndTypeFilter"
								class="text-muted"></span>
						</div>
					</td>
					<td class="tdcenter"
						ng-hide="active=='paid'|| active=='unavailable'">
						<button ng-show="!(order.availabletime < nowTime)"
							class="btn btn-primary btn-sm" ng-click="pay(order)"
							ng-disabled="showMe">付款</button>
					</td>
				</tr>
				<tr ng-if="!order" class="text-center">
					<td colspan="5" class="text-center"
						style="line-height: 40px; font-size: 20px;"><i
						class="fa fa-smile-o fa-lg"></i> 当前没有对应的订单信息</td>
				</tr>
			</tbody>
		</table>
		<div  id="O">
			<button class="btn btn-primary" ng-click="batchPay()"
				ng-disabled="!orderNum" ng-show="!showMe">批量付款</button>
			<button class="btn btn-primary" ng-show="showMe"
				ng-click="alterPay()">重新勾选</button>
		</div>
		<a id="anchorScroll" style="color: white;"></a>
	</div>-->
	<div class="user_right fr block">
		<div class="fill-info">
			<div class="orderDiv" id="O">
				<div class="marginbot30">
					<div class="minTitle">订单号</div>
					<div class="margin-left-37" ng-bind="orderNum"></div>
				</div>
				<div class="marginbot30">
					<div class="minTitle">买家应付账户</div>
					<div class="margin-left-37">
						<label class="radio-inline" ng-click="set(true, true)"> <input
							type="radio" name="inlineRadioOptions" id="inlineRadio1"
							value="option1" ng-checked="purKind"> 个人账户
						</label> <label class="radio-inline" ng-click="set(false, true)"
							style="margin-left: 30px;"> <input type="radio"
							name="inlineRadioOptions" id="inlineRadio2" value="option2"
							ng-checked="!purKind"> 企业账户
						</label> <span role="button" class="pull-right action-tag"
							ng-click="newAccount()" style="padding-top: 0px;"><i
							class="fa fa-plus-square"></i>&nbsp;新增账户</span>
					</div>
					<div class="border-account">
						<div class="containerrow">
							<div ng-if="buyExpose"
								class="row paddingzero marginleftrightzero account-line account-info-line"
								ng-click="select(accountInfo, true)"
								ng-repeat="accountInfo in buyAccountInfos">
								<div class="col-md-4 order-start">
									<input type="radio"
										ng-checked="accountInfo.id == buyAccount.id"
										id="{{accountInfo.id}}" name="buyAccount"><label
										for="{{accountInfo.id}}"></label> &nbsp;<span
										ng-bind="accountInfo.accountname"></span>
								</div>
								<div class="col-md-5">
									<span ng-bind="accountInfo.filterAccount"></span>&nbsp; &nbsp;
									<span ng-bind="accountInfo.bankname"></span>&nbsp;&nbsp;<i
										class="fa fa-credit-card"></i>
								</div>
								<div class="text-right col-md-3">
									<span role="button" class="modify-account"
										ng-click="newAccount(accountInfo)"> <i
										class="fa fa-edit"></i>&nbsp;编辑
									</span> <span role="button" class="modify-account"
										ng-click="deleteAccount(accountInfo)"> <i
										class="fa fa-remove"></i>&nbsp;删除
									</span>
								</div>
							</div>
							<div ng-if="!buyExpose&&buyAccount"
								class="row paddingzero marginleftrightzero account-line account-info-line">
								<div class="col-md-4 order-start">
									<input type="radio" ng-checked="buyAccount.id == buyAccount.id"
										id="{{buyAccount.id}}"><label for="{{buyAccount.id}}"></label>
									&nbsp;<span ng-bind="buyAccount.accountname"></span>
								</div>
								<div class="col-md-5">
									<span ng-bind="buyAccount.filterAccount"></span>&nbsp; &nbsp; <span
										ng-bind="buyAccount.bankname"></span>&nbsp;&nbsp;<i
										class="fa fa-credit-card"></i>
								</div>
								<div class="text-right col-md-3">
									<span role="button" class="modify-account"
										ng-click="newAccount(buyAccount)"> <i
										class="fa fa-edit"></i>&nbsp;编辑
									</span> <span role="button" class="modify-account"
										ng-click="deleteAccount(buyAccount)"> <i
										class="fa fa-remove"></i>&nbsp;删除
									</span>
								</div>
							</div>
							<div ng-if="!buyAccount"
								class="row paddingzero marginleftrightzero text-center account-line account-info-line">空
							</div>
						</div>
						<div ng-if="buyAccountInfos.length>1"
							class="pull-right action-tag">
							<span role="button" ng-if="!buyExpose"
								ng-click="doExpose(true, true)"><i
								class="fa fa-angle-double-down"></i>&nbsp;展开列表</span> <span
								role="button" ng-if="buyExpose" ng-click="doExpose(false, true)"><i
								class="fa fa-angle-double-up"></i>&nbsp;收起列表</span>
						</div>
					</div>
				</div>
				<div class="marginbot30">
					<div class="minTitle" style="margin-bottom: 0px;">商城应收帐户</div>
					<div class="margin-left-37 margintop15">
						<label class="radio-inline"> 
							<input type="radio" name="saleAccounts" ng-checked="saleKind" ng-click="set(true, false)"> 对私账户
						</label> 
						<label class="radio-inline" style="margin-left: 30px;"> 
							<input type="radio" name="saleAccounts" ng-checked="!saleKind" ng-click="set(false, false)"> 对公账户
						</label>
					</div>
					<div class="border-account">
						<div class="containerrow">
							<div ng-if="salexpose"
								class="row marginleftrightzero account-line account-info-line"
								ng-click="select(saleAccountInfo)"
								ng-repeat="saleAccountInfo in saleAccountInfos">
								<div class="col-md-4 order-start">
									<input type="radio"
										ng-checked="saleAccountInfo.id == saleAccount.id"
										id="{{saleAccountInfo.id}}" name="saleAccount"><label
										for="{{saleAccountInfo.id}}"></label> &nbsp;<span
										ng-bind="saleAccountInfo.accountname"></span>
								</div>
								<div class="col-md-8">
									<span ng-bind="saleAccountInfo.filterAccount"></span> &nbsp;
									&nbsp; <span ng-bind="saleAccountInfo.bankname"></span>&nbsp;
									&nbsp;<i class="fa fa-credit-card"></i>
								</div>
							</div>
							<div ng-if="!salexpose"
								class="row marginleftrightzero account-info-line">
								<div class="col-md-4 order-start">
									<input type="radio"
										ng-checked="saleAccount.id == saleAccount.id"
										id="{{saleAccount.id}}" name="saleAccount"><label
										for="{{saleAccount.id}}"></label> &nbsp;<span
										ng-bind="saleAccount.accountname"></span>
								</div>
								<div class="col-md-8">
									<span ng-bind="saleAccount.number"></span> &nbsp; &nbsp;
									<span ng-bind="saleAccount.bankname"></span>&nbsp; &nbsp;<i
										class="fa fa-credit-card"></i>
								</div>
							</div>
						</div>
						<div class="pull-right  action-tag">
							<span role="button" ng-if="!salexpose"
								ng-click="doExpose(true, false)"><i
								class="fa fa-angle-double-down"></i>&nbsp;展开列表</span> <span
								role="button" ng-if="salexpose"
								ng-click="doExpose(false, false)"><i
								class="fa fa-angle-double-up"></i>&nbsp;收起列表</span>
						</div>
					</div>
				</div>
				<div class="row marginbot30">
					<div class="minTitle col-md-2 margin-top-5">转账日期</div>
					<div class="col-md-10">
						<datetrigger name="transferTime" model="transferTime"
							format="yyyy年MM月dd日" class="col-md-5" max-date="maxDate"
							style="line-height: 28px; border-radius: 5px; width: 70%; font-size: 15px;"></datetrigger>
					</div>
				</div>
				<div class="marginbot30">
					<div class="minTitle marginbot15">交易图片</div>
					<div class="marginltb">
						<label>付款截图：</label>
						<div>
							<img class="img-thumbnail" ng-src="{{imageUrl}}"
								style="width: 100px; height: 100px;"
								ng-click="showImageDialog()"> <span
								class="help-block font-size-12 text-inverse">建议图片尺寸在750*750像素以上，图片请避免全文字</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="text-right marginbot15 margintop15">
			<span class="total">总价：&nbsp;{{$$bankTransfer.total | number : 2}}&nbsp;元</span>
			<button class="btn btn-primary btn-lg" ng-click="confirm()"
				ng-disabled="!$$bankTransfer.total||!buyAccount||!saleAccount||!transferTime">确认</button>
		</div>
	</div>
</div>