<style>
    /* general
   ****************************************************/
    .ex {
        font: normal 14px/1 "Microsoft Yahei", "微软雅黑" ;
    }
    .ex .table {
        margin-bottom: 0;
        box-shadow: 6px 6px 12px rgba(0,0,0,.175);
    }
    /*表格缝隙颜色*/
    table .before-blank, .table-bordered>tbody>tr>td.before-blank, .table-bordered>tbody>tr>th.before-blank, .table-bordered>tfoot>tr>td.before-blank, .table-bordered>tfoot>tr>th.before-blank, .table-bordered>thead>tr>td.before-blank, .table-bordered>thead>tr>th.before-blank {
        border-right: 13px solid #eee;
    }
    .ex .table-bordered>thead>tr>td, .ex .table-bordered>thead>tr>th {
        border-bottom: none;
    }
    .ex table > thead > tr > th {
        height: 57px;
        color: rgb(255, 255, 255);
        font-size: 14px;
        background: linear-gradient(rgb(93, 134, 220), rgb(12, 53, 136));
        vertical-align: middle !important;
        text-align: center;
        font-weight: normal; /* 400 */
    }
    .ex table td {
        text-align: center;
    }

    .ex .title {
        font-size: 18px;
        font-weight: normal;
        display: inline-block;
        height: 36px;
        line-height: 36px;
        vertical-align: middle;
        text-align: center;
        padding: 0 0.6em;
        margin-bottom: 0;
        color: white;
        background: linear-gradient(rgb(93, 134, 220), rgb(12, 53, 136));
        border-radius: 3px;
    }
    .ex textarea {
        resize: none;
    }

    /* 采购单信息 */
    .order-info {
        margin-bottom: 30px;
    }
    .order-info .pay-amount {
        color: red;
        font-weight: 600;
    }


    /* 异常信息汇总 */
    .ex-info-sum {
        line-height: 1.8;
    }
    .ex-info-sum .float-left {
        float: left;
    }
    .ex-info-sum .float-left > * > span:first-child {
        font-weight: 600;
    }
    .ex-info-sum .float-left .submit-time > time:nth-child(2), .ex-info-sum .float-left .update-time > time:nth-child(2) {
        display:  inline-block;
        font-weight: 600;
        padding-left: 0.7em;
    }
    .float-left .apply-type > span:nth-child(2) {
        color: rgb(253, 120 ,2);
        display:  inline-block;
        font-weight: 600;
        padding-left: 0.7em;
    }
    .float-left .apply-reason-desc {
        margin-top: 0.5em;
    }
    .float-left .apply-reason-desc > * {
        vertical-align: top;
    }
    .float-left .apply-reason-desc > *:last-child {
        display: inline-block;
        width: 30em;
        height: 10em;
        padding: 0.3em 0.7em;
        margin-top: -0.3em;
        border: 1px solid #ccc;
        border-radius: 3px;
        font-size: 14px;
        resize: none;
    }

    .ex-info-sum .batch-sum {
        float: right;
        width: 45%;
    }
    .ex-info-sum .batch-sum > div:first-child {
        display: inline-block;
        vertical-align: top;
        font: 600 14px/1 "Microsoft Yahei", "微软雅黑" ;
        padding-top: 0.9em;
    }
    .ex-info-sum .batch-sum > ul {
        display: inline-block;
        width: 20em;
        border: 1px solid #eee;
        border-radius: 3px;
        margin-bottom: 0;
        /*padding: 0 0 0 8em;*/
        /*background-color: #eee;*/
        background-color: rgb(243, 254,254);
        padding: 0.5em 1em;
        box-shadow: 6px 6px 12px rgba(0,0,0,.175);
    }
    .ex-info-sum ul > li:nth-child(3n + 0) {
        margin-bottom: 0.5em;
    }
    .ex-info-sum ul > li > span:first-child {
        display: inline-block;
        width: 7em;
    }
    .ex-info-sum ul > li > span:nth-child(2) {
        color: red;
    }
    .ex-info-sum .currency {
        color: hsl(219, 57%, 64%);
    }
    .ex-info-sum .tax > span:last-child {
        color: hsl(219, 57%, 64%);
    }
    .ex-info-sum .total-amount:not(:nth-child(1)) {
        font-weight: 600;
    }

    /* 申请明细 */
    .select-detail {

    }
    .select-detail .u-box {
        overflow-x: auto;
    }
    .select-detail table {
        width: 1500px;
        background-color: white;
    }
    /* 1920+
   ------------------------------------------ */
    @media only screen and (min-width: 1920px) {
        .select-detail .u-box {
            overflow-x: visible;
        }
    }

    /* 操作 */
    .ex-operation {
        padding: 2em;
        text-align: center;
    }
    .ex-operation button[disabled] {
        opacity: 0.7;
    }
    .ex-operation button[disabled]:hover {
        cursor: not-allowed;
        box-shadow: none;
    }
    .ex-operation button {
        padding: 0.3em 0.7em;
        font-size: 2em;
        line-height: normal;
        border: none;
        width: 18%;
        border-radius: 3px;
    }
    .ex-operation button:hover {
        box-shadow: 0 0 0 2px hsl(11, 97%, 51%);
    }
    .ex-operation .agree-handling, .ex-operation .cancel-apply {
        margin: 0 2em 0 0;
        background: linear-gradient(hsla(4, 85%, 54%, 0.7), hsla(4, 85%, 54%, 1));
        color: white;
    }
    .ex-operation .cancel {
        background: linear-gradient(hsla(45, 3%, 47%, 0.7), hsla(45, 3%, 47%, 1));
        color: white;
    }
</style>
<div class="ex">
    <h1 class="title">异常申请：<span ng-bind="orExSrc[apply.orderExSrc]"></span></h1>
    <main role="main">
        <article>
            <!-- ==== 订单信息start ==== -->
            <section class="order-info">
                <!--<h2>订单信息</h2>-->
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>下单时间</th>
                        <th>订单号</th>
                        <th>付款时间</th>
                        <th>货源批次数</th>
                        <th>型号数量</th>
                        <th>总数量</th>
                        <th>支付总金额</th>
                        <th>币种</th>
                        <th>税率</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><span ng-bind="order.creattime | date:'yyyy-MM-dd HH:mm'"></span></td>
                        <td><span ng-bind="order.orderid"></span></td>
                        <td><span ng-bind="order.paytime | date:'yyyy-MM-dd HH:mm:ss'"></span></td>
                        <td><span ng-bind="order.batchQty"></span></td>
                        <td><span ng-bind="order.cmpQty"></span></td>
                        <td><span ng-bind="order.qty"></span></td>
                        <td class="pay-amount"><span ng-bind="order.ensurePrice"></span></td>
                        <td><span ng-bind="order.currency"></span></td>
                        <td>
                            <span ng-switch="order.currency">
                                <span ng-switch-when="RMB">17%</span>
                                <span ng-switch-when="USD">0%</span>
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </section>
            <!-- 订单信息end -->

            <!-- ==== 异常申请信息start ==== -->
            <section class="ex-info-sum clearfix">
                <!--<h2>异常申请信息</h2>-->
                <div class="float-left">
                    <div class="submit-time">
                        <span>提交时间：</span>
                        <time datetime="apply.createTime | date:'yyyy-MM-dd HH:mm:ss'" ng-bind="apply.createTime | date:'yyyy-MM-dd HH:mm'"></time>
                    </div>
                    <div class="update-time" ng-if="apply.updateTime">
                        <span>更新时间：</span>
                        <time datetime="apply.updateTime | date:'yyyy-MM-dd HH:mm:ss'" ng-bind="apply.updateTime | date:'yyyy-MM-dd HH:mm'"></time>
                    </div>
                    <div class="apply-type">
                        <span>问题类型：</span>
                        <span ng-bind="apply.applyReasonType"></span>
                    </div>
                    <div class="apply-reason-desc">
                        <span>问题描述：</span>
                        <span ng-bind="apply.applyReason"></span>
                    </div>
                </div>
                <div class="batch-sum">
                    <div>待处理批次汇总：</div>
                    <ul class="list-unstyled">
                        <li><span>货源批次数:</span> <span ng-bind="apply.batchQty"></span></li>
                        <li><span>型号数量：</span> <span ng-bind="apply.cmpQty"></span></li>
                        <li><span>产品总数量：</span> <span ng-bind="apply.prodQty"></span></li>
                        <li>
                            <span>产品总金额：</span>
                            <span ng-bind="apply.totalAmount | formateNumber:2"></span>
                            <span class="currency" ng-bind="apply.currency"></span>
                        </li>
                        <li>
                            <span>运费合计：</span>
                            <span ng-bind="apply.freight | number:2"></span>
                            <span class="currency" ng-bind="apply.currency"></span>
                        </li>
                        <li class="tax">
                            <span>税率：</span>
                            <span ng-switch="order.currency">
                                <span ng-switch-when="RMB">17</span>
                                <span ng-switch-when="USD">0</span>
                            </span>
                            <span>%</span>
                        </li>
                        <li class="total-amount">
                            <span>涉及总金额：</span>
                            <span ng-bind="apply.totalAmount | formateNumber:2"></span>
                            <span class="currency" ng-bind="apply.currency"></span>
                        </li>
                    </ul>
                </div>
            </section>
            <!-- 异常申请信息end -->

            <!-- ==== 选择处理批次start ==== -->
            <section class="select-detail">
                <h2 class="title">所选批次</h2>
                <div class="u-box">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>产品型号</th>
                            <th>品牌</th>
                            <th>类目</th>
                            <th>采购数量</th>
                            <th>采购金额</th>
                            <th>单价</th>
                            <th class="before-blank">币别</th>

                            <th>申请类型</th>
                            <th>补充说明</th>
                            <th>商城意见</th>
                            <th class="before-blank">补充说明</th>

                            <th>生产日期</th>
                            <th>库存更新日期</th>
                            <th>包装</th>
                            <th>最小包装数</th>
                            <th>产品批次号</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="applyDetail in apply.applyDetails">
                            <td>
                                <span ng-bind="$index + 1"></span>
                                <!--<input type="checkbox" ng-model="applyDetail.checked">-->
                            </td>
                            <td><span ng-bind="applyDetail.orderDetail.cmpCode"></span></td>
                            <td><span ng-bind="applyDetail.orderDetail.brName"></span></td>
                            <td><span ng-bind="applyDetail.orderDetail.kiName"></span></td>
                            <td><span ng-bind="applyDetail.orderDetail.number"></span></td>
                            <td><span ng-bind="applyDetail.orderDetail.price"></span></td>
                            <td><span ng-bind="applyDetail.orderDetail.taxUnitprice | formateNumber : 6"></span></td>
                            <td class="before-blank"><span ng-bind="applyDetail.orderDetail.currencyName"></span></td>

                            <td>
                            <!--<span ng-if="apply.status == 'MALL_TO_BUYER'">
                                <select ng-model="applyDetail.negotiations.last().buyerToMallApplyType" ng-change="refreshDetail(detail)">
                                    <option value="RETURN">退货</option>
                                    <option value="EXCHANGE">换货</option>
                                </select>
                            </span>-->
                                <span ng-bind="applyTypes[applyDetail.negotiations.last().buyerToMallApplyType]"></span>
                            </td>
                            <td>
                            <textarea ng-if="apply.status == 'MALL_TO_BUYER'" ng-model="applyDetail.negotiations.last().buyerToMallApplyReason"
                                      maxlength="4000" class="consumer-apply-reason"></textarea>
                                <span ng-if="apply.status !== 'MALL_TO_BUYER'" ng-bind="applyDetail.negotiations.last().buyerToMallApplyReason"></span>
                            </td>
                            <td>
                            <span ng-bind="applyTypes[applyDetail.negotiations.last().mallToBuyerApplyType]"></span>
                            </td>
                            <td class="before-blank">
                                <span ng-bind="applyDetail.negotiations.last().mallToBuyerApplyReason"></span>
                            </td>

                            <td><span ng-bind="applyDetail.orderDetail.goodsHistory.produceDate"></span></td>
                            <td><span ng-bind="applyDetail.orderDetail.goodsHistory.updateDate | date : 'yyyy-MM-dd HH:mm'"></span></td>
                            <td>
                                <span ng-bind="applyDetail.orderDetail.goodsHistory.packaging || '托盘'"></span>
                            </td>
                            <td><span ng-bind="applyDetail.orderDetail.goodsHistory.minPackQty"></span></td>
                            <td><span ng-bind="applyDetail.orderDetail.batchCode"></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <!-- 选择处理批次end -->

            <!-- ==== 服务评价 ==== -->
           <!-- <section ng-if="apply.status == 'MALL_TO_BUYER'">
                <h2>服务评价</h2>
                <article>
                    <section>
                        服务评价：
                        <select ng-model="apply.serviceEvaluationGrade">
                            <option value="">选择评价等级</option>
                            <option value="非常满意">非常满意</option>
                            <option value="基本满意">基本满意</option>
                            <option value="一般">一般</option>
                            <option value="不满意">不满意</option>
                            <option value="其他">其他</option>
                        </select>
                    </section>
                    <section class="evaluate-content">
                        评价内容：<textarea ng-model="apply.serviceEvaluationContent"></textarea>
                    </section>
                </article>
            </section>-->
            <div class="ex-operation">
                <!--<button ng-if="apply.status == 'MALL_TO_BUYER'" class="ensure-update" ng-click="updateAfterSaleApply()">确认更新</button>-->
                <!--<button ng-if="apply.status == 'MALL_TO_BUYER'" class="agree-handling" ng-click="agreeHandling()">同意处理</button>-->
                <!--<button class="cancel-apply" ng-click="cancelApply()">取消</button>-->
                <a href="#/home/myOrder_todo"><button class="cancel">返回</button></a>
            </div>
        </article>
    </main>
</div>