<style type="text/css">
.row.margin_top_10 {
	margin-top: 10px;
}

.img_help > strong:FIRST-CHILD {
	display: block;
	margin: 29px 0px 25px;
}

div.well {
	background-color: white;
	border: white;
	margin-bottom: 0px;
}

.part {
	font-size: 15px;
	margin-bottom: 20px;
	line-height: 20px;
}

.part .title {
	font-size: 15px;
	margin: 10px 0px;
	font-weight: 600;
	border-bottom: 1px dashed rgb(125, 180, 221);
	padding-left: 0px;
	padding-bottom: 10px;
}

.font-weight-500 {
	font-weight: 500;
}

.padding-left-zero {
	padding-left: 0px !important;
}

.user-info {
	font-size: 14px;
	line-height: 17px;
}

.margin-left-80 {
	margin-left: 80px;
}

.user-block {
	margin-left: 20px;
	margin-top: 20px;
}

.font-weight-600 {
	font-weight: 600;
}

.inline-width {
	display: inline-block;
	width: 200px;
}

.margin-bottom-10 {
	margin-bottom: 10px;
}
</style>
<div>
	<div class="row">
		<!-- 头像 Start -->
		<div class="col-xs-12">
			<div class="well clearfix">
				<div class="pull-left img_block" style="width: 160px">
					<div class="my-thumbnail text-middle-center">
						<img class="img-notfound img-thumbnail" ng-src="{{user.imageUrl}}"
						ng-click="showImageDialog()">
					</div>
				</div>
				<div class="pull-left img_help user-block">
					<div class="user-info margin-bottom-10">
						<div class="inline-width">
							<span class="font-weight-600">姓名：</span><span ng-bind="user.userName"></span>
						</div>
						<span class="margin-left-80 font-weight-600">联系电话：</span><span ng-bind="user.userTel"></span>
					</div>
					<div class="user-info text-num margin-bottom-10">
						<div class="inline-width">
							<span class="font-weight-600">UU：</span><span ng-bind="user.userUU"></span> 
						</div>
						<span class="margin-left-80 font-weight-600">邮箱：</span><span ng-bind="user.userEmail"></span>
					</div>
					<p class="user-info"><span class="font-weight-600">所属企业：</span><span ng-bind="user.enterprise.enName"></span></p>
					<p class="user-info">
						<span class="font-weight-600">角色：</span>
						<span ng-repeat="role in user.roles">
							<span ng-bind="role.desc"></span>&nbsp;
						</span>
					</p>
				</div>
			</div>
		</div>
		<!-- 头像 End -->
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div class="col-xs-12 part">
				<div class="col-xs-12 title">购物车</div>
				<div class="col-xs-12 padding-left-zero"><i class="fa fa-shopping-cart"></i>&nbsp;购物车共有(<a class="text-danger text-num" href="product#/cart">{{cartCount}}</a>)种产品</div>
			</div>
			<div class="col-xs-12 part">
				<div class="col-xs-12 title">未完成订单 （<a class="text-danger font-weight-500" href="">{{totalToDo}}</a>）</div>
				<div class="col-xs-2 padding-left-zero"><i class="fa  fa-file-text-o"></i>&nbsp;待确认:(<a class="text-danger text-num" href="user#/home/myOrder_todo" ng-click="setToBeComfirmedStatus()">{{tobeConfirm}}</a>)</div>
				<div class="col-xs-2"><i class="fa fa-credit-card"></i>&nbsp;待付款:(<a class="text-danger text-num" href="user#/home/myOrder_todo" ng-click="setToBePaid()">{{tobepaid}}</a>)</div>
				<div class="col-xs-2"><i class="fa fa-truck"></i>&nbsp;待收货:(<a class="text-danger text-num" href="user#/home/myOrder_todo" ng-click="setToBeInbound()">{{tobeInbound}}</a>)</div>
			</div>
<!-- 			<table class="table table-bordered table-hover">
				<tbody>
					<tr>
						<td class="active"><strong>购物车</strong></td>
						<td class="active">购物车中共有（<a class="text-danger" href="">0</a>）种产品
						</td>
						<td class="active"></td>
					</tr>
					<tr>
						<td class="active"><strong>未完成订单提醒</strong></td>
						<td class="active">共有（<a class="text-danger" href="">{{totalToDo}}</a>）个订单待操作
						</td>
						<td class="active">待确认：（<a class="text-danger" href="user#/home/myOrder_todo" ng-click="setToBeComfirmedStatus()">{{tobeConfirm}}</a>）；
							待付款： （<a class="text-danger" href="user#/home/myOrder_todo" ng-click="setToBePaid()">{{tobepaid}}</a>）； 待收货： （<a
							class="text-danger" href="user#/home/myOrder_todo" ng-click="setToBeInbound()">{{tobeInbound}}</a>）
						</td>
					</tr>
				</tbody>
			</table> -->
		</div>
	</div>
</div>

