<style>
h4 {
	font-size: 18px;
	font-weight: 600;
}

.row.searchInputGroup {
	margin-top: 20px;
	margin-bottom: 10px;
}

.btn-primary {
	color: #fff;
	background-color: #7bb4e1;
	border-color: #7bb4e1;
}

button[type=button].btn-primary-choosed {
	color: #fff;
	background-color: #f39800;
	border-color: #f39800;
	border-left-color: #fff;
	border-right-color: #fff;
}

.btn-primary:hover {
	color: #fff;
	background-color: #f39800;
	border-color: #f39800;
	border-left-color: #fff;
	border-right-color: #fff;
}

.btn-primary:active {
	color: #fff;
	background-color: #f39800;
	border-color: #f39800;
}

.btn-default-inline {
	color: #fff;
	background-color: #7bb4e1;
	border-color: #7bb4e1;
	border-left-color: #fff;
	border-right-color: #fff;
}

.btn-default-inline:hover {
	color: #fff;
	background-color: #f39800;
	border-color: #f39800;
}

.tr-default {
	color: #fff;
	background-color: #7bb4e1;
}

.totalNum {
	font-weight: bold;
	color: #f39800;
}

.price {
	color: #f39800;
	font-weight: bold;
	font-size: 14px;
}

td {
	line-height: 1.1;
}

.total {
	background-color: #7bb4e1;
	margin-left: auto;
	margin-right: auto;
	font-size: 14px;
	font-weight: 700;
	line-height: 30px;
}

.total ul>li {
	float: left;
	margin-left: -2px;
	padding-left: 15px;
	padding-right: 15px;
	border-left: 2px #fff solid;
    border-right: 2px #fff solid;
}

.total ul>li:hover {
	background-color: #337ab7;
}

.total ul>li>a {
	color: #fff;
	cursor: pointer;
	text-decoration: none;
}

.btnactive {
	background-color: #f39800;
}

div.row.total button:HOVER {
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}

.total button {
	height: 30px;
}

table>tbody>tr>td .btn-primary {
	width: 70px;
}

.detail-icon {
	padding-left: 15px;
}
.location ul {
    border-bottom: solid 1px #ddd;
}

.location {
    line-height: 28px;
}
</style>
<div class="location ng-scope">
	<ul class="list-unstyled list-inline">
		<li class="text-bold">您当前的位置：</li>
		<li>买家中心 <i class="fa fa-angle-double-right"></i></li>
		<li>信息编辑<i class="fa fa-angle-double-right"></i></li>
		<li>进口报关</li>
	</ul>
</div>
<div class="row searchInputGroup">
	<div class="col-xs-3">
		<h4>进口报关</h4>
	</div>
</div>
<div>
	<div class="row total">
		<div class="col-xs-6">
			<div class="btn-group" role="group" style="display: block; margin-left: auto;">
				<button type="button" class="btn btn-sm btn-default-inline"
					ui-sref="new_import_declaration">新增进口报关</button>
			</div>
		</div>
		<div class="col-xs-6">
			<div ng-table-pagination="paginationParams"
				template-url="templates.pagination" style="margin-right: -15px">
				<div class="ng-table-pager" ng-if="paginationParams.data.length">
					<div ng-if="paginationParams.settings().counts.length"
						class="pull-right">
						<ul class="list-unstyled list-inline">
							<li ng-repeat="count in paginationParams.settings().counts"
								ng-class="{'btnactive':paginationParams.count()==count}"><a
								ng-click="paginationParams.count(count)" ng-bind="count"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div>
	<div class="col-xs-1">
		<p style="margin-top: 8px; font-weight: bold;">
			共<span class="totalNum"> {{importTableParams.total()}}</span> 条
		</p>
	</div>
</div>
</br>
<table ng-table="importTableParams"
	class="table table-bordered table-striped table-hover">
	<thead>
		<tr class="tr-default">
			<th width="60" class="text-center">序号</th>
			<th width="120" class="text-center">企业名称</th>
			<th width="120" class="text-center">录入人</th>
			<th width="120" class="text-center">录入时间</th>
			<th width="auto" class="text-center">需求</th>
			<th width="100" class="text-center">处理状态</th>
			<th width="120" class="text-center">处理结果</th>
		</tr>
	</thead>
	<tbody ng-repeat="import in $data">
		<tr>
			<td rowspan="2" class="tdcenter">
				<div>{{$index+1}}</div>
			</td>
			<td rowspan="2" class="tdcenter">
				<span ng-bind="import.enName"></span>
			</td>
			<td rowspan="2" class="tdcenter">
				<span ng-bind="import.userName"></span>
			</td>
			<td rowspan="2" class="tdcenter">
				<span ng-bind="import.date | date:'yyyy-MM-dd HH:mm'"></span>
			</td>
			<td rowspan="2" class="tdcenter">
				<span ng-bind="import.demand"></span>
			</td>
			<td rowspan="2" class="tdcenter">
				<span ng-bind="import.status"></span>
			</td>
			<td rowspan="2" class="tdcenter">
				<span ng-bind="import.result"></span>
			</td>
		</tr>
	</tbody>
</table>
</br>
</div>
</div>

