<style>
    /*#left-nav-fragment .user_left a {*/
        /*font-size: 1.1em;*/
    /*}*/
    #left-nav-fragment .user_left p {
        text-align: center;
    }
    #left-nav-fragment .user_left p span {
        margin-left: 0;
    }
    #left-nav-fragment .user_left p:hover {
        background: #67afe4;
    }
    #left-nav-fragment .user_left ul li {
        text-align: center;
    }
    #left-nav-fragment .user_left ul li a {
        padding-left: 0;
    }
    .disabled {
        cursor: not-allowed;
    }
 /*   #toast-container {
        top: 36px;
    }
    #toast-container > .toast-info {
        background-color: #d88f2c;
        font-size: 14px;
        font-weight: normal;
        width: auto;
    }*/
</style>
<body>
    <div id="left-nav-fragment" ng-controller="leftNavCtrl">
        <div class="user_left fl">
            <a href="user#/home"><p ng-class="{'active' : active == 'home'}"><span>买家中心</span></p></a>
            <ul>
                <li ng-class="{'active' : active == 'buyer_cart'}"><a  ui-sref="buyer_cart">购物车<em>(<span ng-bind="countCart || 0 | number"></span>)</em></a> </li>
                <div ng-hide="!(userInfo.pwdEnable && userInfo.haveUserQuestion && userInfo.userEmail)">
                    <li ng-class="{'active' : active == 'buyer_order'}"><a  ui-sref="buyer_order">订单中心</a></li>
                    <li ng-class="{'active' : active == 'seek_purchase'}"><a  ui-sref="buyerSeekPurchase">我的求购</a></li>
                    <li ng-class="{'active' : active == 'pay_center'}"><a  ui-sref="pay_center">支付中心</a></li>
                    <li ng-class="{'active' : active == 'buyer_invoice'}"><a  ui-sref="buyer_invoice">发票管理</a></li>
                </div>
                <div ng-hide="userInfo.pwdEnable && userInfo.haveUserQuestion && userInfo.userEmail">
                    <li ng-class="{'active' : active == 'buyer_order'}"><a ng-click="promptUpdate()" class="disabled">订单中心</a></li>
                    <li ng-class="{'active' : active == 'seek_purchase'}"><a  ng-click="promptUpdate()" class="disabled" >我的求购</a></li>
                    <li ng-class="{'active' : active == 'pay_center'}"><a ng-click="promptUpdate()" class="disabled" >支付中心</a></li>
                    <li ng-class="{'active' : active == 'buyer_invoice'}"><a ng-click="promptUpdate()" class="disabled" >发票管理</a></li>
                </div>



                <!--<li ng-class="{'active' : active == 'my_wallet'}" class="undo">-->
                   <!--<a  ui-sref="my_wallet">我的钱包</a>-->
                <!--</li>-->
                <!--<li ng-class="{'active' : active == 'my_seek_purchase'}" class="undo">-->
                    <!--<a  ui-sref="my_seek_purchase">我的求购</a>-->
                <!--</li>-->
                <!--<li ng-class="{'active' : active == 'buyer_logistics'}"><a  ui-sref="buyer_logistics">物流信息</a></li>-->
                <!--<li ng-class="{'active' : active == 'after_sale'}" class="undo">-->
                    <!--<a  ui-sref="after_sale">申请售后</a>-->
                <!--</li>-->
                <li ng-class="{'active' : active == 'account_manager'}"><a  ui-sref="account_manager">账户管理</a></li>
            </ul>
        </div>
    </div>
</body>
</html>