<style type="text/css">
.left-nav {
	background: #f3f5f3;
	border-bottom: solid 1px #ddd;
	border-right: solid 1px #ddd;
	border-left: solid 1px #ddd;
}
.left-nav.left-home {
	padding: 0;
	margin: 0;
}

.nav-home {
	height: 50px;
	line-height: 50px;
	cursor: pointer;
}

.nav-label {
	margin-top: 10px;
	height: 30px;
	line-height: 30px;
	color: #FFFFFF;
	cursor: pointer;
	position: relative;
	background: #5078cb;/* #3c52c9 */
	text-align: center;
}

.nav-label>i {
	position: absolute;
	left: 15px;
	top: 18px;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 5px 0 5px;
	border-top-color: #9ea9c0;
}

.left-nav .icon-left {
	margin-left: 15px;
	margin-right: 10px;
}
.left-nav>ul>li {
	margin-top: 10px;
}
.left-nav ul>li>a {
	display: block;
	padding: 6px 10px;
	clear: both;
	line-height: 1.42857143;
	white-space: nowrap;
	color: rgba(29, 29, 29, 1);
	text-decoration: none;
}
.left-nav ul>li>a:HOVER {
	text-decoration: none;
	background: #ffd658;
}
.left-nav>ul>li>a {
	background: #dfe9fd;
}
.left-nav>ul>li>ul {
	list-style: none;
}
.nav-dropdown {
	position: relative;
}
.nav-dropdown.nav-label:HOVER, .left-nav li.nav-dropdown:HOVER>a{
	background: #ffd658;
}
.nav-dropdown i {
	position: absolute;
	top: 9px;
	right: 10px;
}
.nav-dropdown:HOVER .nav-dropdown-menu {
	display: block;
}
.nav-dropdown-menu {
	position: absolute;
	display: none;
	left: 100%;
	top: 0;
	margin-left: -1px;
	list-style: none;
	background: #f3f5f3;
	border: solid 1px #ffd658;
	z-index: 20;
}
.left-nav .nav-dropdown-menu>li:HOVER a {
	background: rgba(255, 214, 88, 0.5);
}
</style>

<div class="left-nav">
	<div class="nav-label">
		买家交易管理
	</div>
	<ul class="list-unstyled">
		<li ui-sref-active="active">
			<a ui-sref="myOrder_todo">采购订单管理</a>
		</li>
		<li ui-sref-active="active">
			<a href="product#/cart">购物车</a>
		</li>
		<li ui-sref-active="active">
			<!--<a ui-sref="">异常管理</a>-->
			<a >异常管理</a>
			<ul class="">
				<li><a ui-sref="myReturn_done" class="text-right">退货</a></li>
				<li><a ui-sref="myChange_done" class="text-right">换货</a></li>
				<li><a ui-sref="myRefund_done" class="text-right">退款</a></li>
			</ul>
		</li>
		<li ui-sref-active="active">
			<!--<a ui-sref="">信息统计</a>-->
			<a >信息统计</a>
			<ul class="">
				<li><a href="" class="text-right">物流</a></li>
				<li><a ui-sref="bill_admin" class="text-right">发票</a></li>
				<li><a ui-sref="histTransfer" class="text-right">转账</a></li>
			</ul>
		</li>
		<li ui-sref-active="active">
			<!--<a ui-sref="">信息编辑</a>-->
			<a >信息编辑</a>
			<ul class="">
				<li><a ui-sref="credit_card" class="text-right">银行信息</a></li>
				<li><a ui-sref="ship_address" class="text-right">物流信息</a></li>
				<li><a ui-sref="bill_admin" class="text-right">发票信息</a></li>
				<li><a ui-sref="import_declaration" class="text-right">进口报关</a></li>
			</ul>
		</li>
	</ul>
<!-- <div class="left-nav left-home">
	<div class="nav-home">
		<a ui-sref="index" class="text-bold">
			<i class="fa fa-home icon-left fa-lg"></i> 交易管理
		</a>
	</div>
</div> -->
	<!-- <div class="nav-label">
		<i></i>样品管理
	</div>
	<ul class="list-unstyled">
		<li ui-sref-active="active"><a ui-sref="myProofing">我的样品</a></li>
	</ul>
	<div class="nav-label">
		<i></i>交易信息
	</div>
	<ul class="list-unstyled">
		<li ui-sref-active="active"><a ui-sref="myOrder_transfer">填写银行转账信息</a></li>
		<li ui-sref-active="active"><a ui-sref="histTransfer">历史转账信息</a></li>
	</ul>
	<div class="nav-label">
		<i></i>售后服务
	</div>
	<ul class="list-unstyled">
		<li ui-sref-active="active"><a ui-sref="myAfter_sales">退/换货服务</a></li>
		<li ui-sref-active="active"><a ui-sref="myReturn_done">我的退货单</a></li>
		<li ui-sref-active="active"><a ui-sref="myChange_done">我的换货单</a></li>
	</ul>
	<div class="nav-label">
		<i></i>我的收藏
	</div>
	<ul class="list-unstyled">
		<li ui-sref-active="active"><a ui-sref="brandCol">品牌收藏</a></li>
		<li ui-sref-active="active"><a ui-sref="componentCol">器件收藏</a></li>
	</ul>
	<div class="nav-label">
		<i></i>我的设置
	</div>
	<ul class="list-unstyled">
		<li ui-sref-active="active"><a ui-sref="credit_card">银行账户信息管理</a></li>
		<li ui-sref-active="active"><a ui-sref="ship_address">地址管理</a></li>
		<li ui-sref-active="active"><a ui-sref="bill_admin">发票信息管理</a></li>
	</ul> -->	
</div>
