<div class="modal-header">
	<h3 class="modal-title">物流信息</h3>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-xs-offset-2 col-xs-8">
			<table class="table table-bordered table-striped" style="margin-top: 10px;">
				<thead>
					<tr>
						<th></th>
						<th>时间</th>
						<th>信息</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="logisticsDetail in logistics.data">
						<td class="text-center">{{($index + 1)}}</td>
						<td>{{logisticsDetail.time}}</td>
						<td>{{logisticsDetail.context}}</td>
						<td>
							<button ng-click="" class="btn btn-primary btn-sm"><i class="fa fa-check"></i> @TODO</button>
						</td>
					</tr>
					<tr ng-if="logistics.data == 0">
						<td colspan="10" class="text-center" style="line-height: 40px; font-size: 20px;"><i class="fa fa-smile-o fa-lg"></i> 暂时没有对应的订单信息</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button ng-show="logistics.status == 3" class="btn btn-warning" ng-click="">我要催单</button>
	<button class="btn btn-info" ng-click="ok()">确认</button>
</div>