<div class="loading" ng-class="{'in': loading}">
	<i></i>
</div>
<div class="body_header">
	<!-- <div class="mod-main mod-comm">
		<div class="header_h3">您的当前位置:会员中心 &nbsp;>>售后服务 >>退/换货服务</div>
	</div> -->
	<!-- @TODO:先隐藏，重新规划 -->
	<div class="mod-main mod-comm" style="display: none">
		<div class="mt">
			<div class="row">
				<div class="col-xs-9">
					<label class="header_h3">申请售后</label>
				</div>
				<div class="col-xs-3" >
					<a class="repair-btn-red">售后政策</a> <a class="repair-btn-red">联系UU客服</a>
				</div>
			</div>
		</div>
	</div>
	<div class="mod-main mod-comm" ng-show="hasOrder">
		<div class="row">
			<div class="col-xs-9 col-xs-offset-1" style="font-size:14px">
				<span class="text-inverse">*友情提示：</span>您本次申请的订单号为&nbsp;<span class="text-inverse">{{order.orderid}}</span>&nbsp;如下表所示
			</div>
		</div>
	</div>
	<div class="mod-main mod-comm order-table" ng-show="!hasOrder">
		<tbody ng-if="tableParams.total() == 0">
			<tr>
				<td colspan="7">
					<div class="row info-container" style="padding: 50px 10px;">
						<div class="col-md-4 text-center">
							<div><img src="static/img/all/info.png" width="130px" height="90px"></div>
							<div class="f16">您当前没有正在办理的退货单或换货单！</div>
						</div>
						<div class="col-md-8 br-l">
							<div class="f16">
								<p>为什么我没有退货单或换货单？</p>
							</div>
							<div class="f14">
								<div class="info">
									<p>1、您未对订单发起售后服务，或者售后服务暂时处于维护阶段<p>
									<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;解决方案：立即查看 我的订单 >>已完成订单，发起售后服务</p>
								</div>
							</div>
							<br>
							<br>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</div>
	<div class="mod-main mod-comm" ng-show="hasOrder">
		<table class="order-table block" style="margin: 0 auto;">
			<thead>
				<tr>
					<th width="260">订单号</th>
					<th width="280">订单生成时间</th>
					<th width="170">金额</th>
					<th width="105">订单状态</th>
				</tr>
			</thead>
			<tbody>
				<tr class="order-hd">
					<td ng-bind="order.orderid"></td>
					<td>{{order.creattime | date: "yyyy-MM-dd HH:mm"}}</td>
					<td>{{order.currency}}&nbsp;{{order.price}}</td>
					<td ng-bind="order.status | statusAndTypeFilter"></td>
				</tr>
			</tbody>
		</table>
		<div class="content">
			<span class="text-inverse">*温馨提示：</span>本次售后服务由&nbsp;<span class="text-inverse">优软</span>&nbsp;为您服务
		</div>
		<div class="content">
			<div class="selectvalue">
				<div class="row">
					<div class="col-md-12">
						<label>*服务类型:&nbsp;</label>
						<span ng-click="selectDelivery(1301)" class="item-noselect" ng-class="{'item-noselect': !returnresurt , 'item-select': returnresurt }">退货服务</span>
						 <span ng-click="selectDelivery(1302)" class="item-noselect" ng-class="{'item-noselect': !changeresurt , 'item-select': changeresurt }">换货服务</span>
					</div>
				</div>
				
				<div class="details" ng-show="changeresurt">
					<div class="text-inverse text-line"><strong>订单号：{{order.orderid}}</strong>
						<span class="text-span">请您仔细填写该订单的换货数量</span>
					</div>
					<table class="order-table block" style="margin: 0 auto;">
						<thead>
							<tr>
								<th width="90">序号</th>
								<th width="200">订单明细号</th>
								<th width="200">单价</th>
								<th width="110">可换货数量</th>
								<th width="105">已换货数量</th>
								<th width="110">换货数量</th>
								<th width="100">订单明细状态</th>
							</tr>
						</thead>
						<tbody ng-repeat="detail in order.orderDetails">
							<tr class="order-hd">
								<td>{{$index + 1}}</td>
								<td ng-bind="detail.detailid"></td>
								<td>
									<div class="text-num text-bold text-theme f14" ng-bind="detail.taxUnitprice | formateNumber : 6"></div>
								</td>
								<td class= "text-num text-inverse f14 text-bold" ng-bind="detail.realQty"></td>
								<td ng-bind="detail.custchangeQty || 0"></td>
								<td ><input type="number" min="0" ng-model="detail.returnQty" ng-disabled="detail.status != 405" class="form-control input-xs"  ng-blur="updatePackage(detail.returnQty, detail.number)"/></td>
								<td ng-bind="detail.status | statusAndTypeFilter"></td>
							</tr>
							<tr>
								<td></td>
								<td class="border-leright">
									<div class="row cmp-item">
										<div class="col-sm-12">
											<div class="p-img">
												<a href="product#/component/{{detail.uuid}}/"> <img
													src="" lazy-load="{{detail.img}}" height="78px"
													width="78px">
												</a>
											</div>
											<div class="cmp-info">
												<div>
													<a class="f16 text-bold" style="display: block;"
														href="product#/component/{{orderDetail.uuid}}/"
														ng-bind="detail.cmpCode"></a> <span
														ng-bind="detail.brName"></span>
												</div>
												<div>
													<i class="iconfont icon-kind f14"></i> <span
														ng-bind="detail.kiName"></span>
												</div>
											</div>
											<div ng-if="detail.returnInWeek">
												<img class="detail-icon" alt="支持7天无理由退货"
													src="static/img/product/seven-day-back.jpg"
													title="支持7天无理由退货">&nbsp;
											</div>
										</div>
									</div>
								</td>
								<td class="tdcenter border-leright">
									<div class="text-num text-center">
										<div class="text-num text-theme f16 text-bold">
											<span ng-bind="detail.taxUnitprice | formateNumber:6"></span>
										</div>
									</div>
								</td>
								<td class="tdcenter border-leright">
									<div class="text-num price text-center">
										<div>
											<span ng-bind="orderDetail.taxes"></span>
										</div>
									</div>
								</td>
								<td class="tdcenter border-leright">
									<div class="text-inverse text-bold f16 text-num">
										<span ng-bind="orderDetail.price | formateNumber : 2"></span>
									</div>
								</td>
								<td class="tdcenter border-leright">
									<div>
										<span ng-bind="orderDetail.status | statusAndTypeFilter"
											class="text-muted"></span>
									</div>
								</td>
								<td class="tdcenter" ng-show="active=='checkdeadline'"></td>
							</tr>
						</tbody>
					</table>
					<div class="row divpadding" ng-show="!timeseconds">
						<div class="col-xs-7">
							<span class="text-muted" style="line-height: 30px;">提示：确认换货前，请认真填写表格右侧的换货数量</span>
						</div>
						<div class="col-xs-5">
							<button type="button" class="btn btn-danger pull-right" ng-click="ensureChange(order)">确定换货</button>
						</div>
					</div>
					<div class="row f16 divpadding" ng-show="timeseconds">
						<div class="col-xs-3"></div>
						<div class="col-xs-9">
							<i class="fa fa-smile-o fa-lg"></i>&nbsp;换货成功，将在&nbsp;<span class="f18 text-inverse">{{timeseconds}}</span>&nbsp;秒后自动跳转到您的换货单！
						</div>
					</div>
				</div>
				
				<div class="details" ng-show="returnresurt">
					<div class="text-inverse text-line"><strong>订单号：{{order.orderid}}</strong>
						<span class="text-span">请您仔细填写该订单的退货数量</span>
					</div>
					<table class="order-table block" style="margin: 0 auto;">
						<thead>
							<tr>
								<th width="90">序号</th>
								<th width="200">订单明细号</th>
								<th width="200">单价</th>
								<th width="110">可退货数量</th>
								<th width="105">已退货数量</th>
								<th width="110">退货数量</th>
								<th width="100">订单明细状态</th>
							</tr>
						</thead>
						<tbody ng-repeat="detail in order.orderDetails">
							<tr class="order-hd">
								<td>{{$index + 1}}</td>
								<td ng-bind="detail.detailid"></td>
								<td>
									<div class="text-bold text-num text-theme f14" ng-bind="detail.taxUnitprice"></div>
								</td>
								<td ng-bind="detail.realQty" class="text-bold text-inverse f14 text-num"></td>
								<td ng-bind="detail.custreturnQty || 0"></td>
								<td><input type="number" min="0" ng-disabled="detail.status!=405" ng-model="detail.returnQty" class="form-control input-xs" ng-blur="updatePackage(detail.returnQty,detail.number)"/></td>
								<td ng-bind="detail.status | statusAndTypeFilter"></td>
							</tr>
							<tr>
								<td></td>
								<td class="border-leright">
									<div class="row cmp-item">
										<div class="col-sm-12">
											<div class="p-img">
												<a href="product#/component/{{detail.uuid}}/"> <img
													src="" lazy-load="{{detail.img}}" height="78px"
													width="78px">
												</a>
											</div>
											<div class="cmp-info">
												<div>
													<a class="f16 text-bold" style="display: block;"
														href="product#/component/{{orderDetail.uuid}}/"
														ng-bind="detail.cmpCode"></a> <span
														ng-bind="detail.brName"></span>
												</div>
												<div>
													<i class="iconfont icon-kind f14"></i> <span
														ng-bind="detail.kiName"></span>
												</div>
											</div>
											<div ng-if="detail.returnInWeek">
												<img class="detail-icon" alt="支持7天无理由退货"
													src="static/img/product/seven-day-back.jpg"
													title="支持7天无理由退货">&nbsp;
											</div>
										</div>
									</div>
								</td>
								<td class="tdcenter border-leright">
									<div class="text-num text-center">
										<div class="text-num text-theme f16 text-bold">
											<span ng-bind="detail.taxUnitprice | number:6"></span>
										</div>
									</div>
								</td>
								<td class="tdcenter border-leright">
									<div class="text-num price text-center">
										<div>
											<span ng-bind="orderDetail.taxes"></span>
										</div>
									</div>
								</td>
								<td class="tdcenter border-leright">
									<div class="text-inverse text-bold f16 text-num">
										<span ng-bind="orderDetail.price | number : 2"></span>
									</div>
								</td>
								<td class="tdcenter border-leright">
									<div>
										<span ng-bind="orderDetail.status | statusAndTypeFilter"
											class="text-muted"></span>
									</div>
								</td>
								<td class="tdcenter" ng-show="active=='checkdeadline'"></td>
							</tr>
						</tbody>
					</table>
					<div class="row divpadding" ng-show="!timeseconds">
						<div class="col-xs-7">
							<span class="text-muted" style="line-height: 30px;">提示：确认退货前，请认真填写表格右侧的退货数量</span>
						</div>
						<div class="col-xs-5">
							<button type="button" class="btn btn-danger pull-right" ng-click="ensureReturn(order)">确定退货</button>
						</div>
					</div>
					<div class="row f14 divpadding" ng-show="timeseconds">
						<div class="col-xs-9 col-xs-offset-3">
							<i class="fa fa-smile-o fa-lg"></i>&nbsp;退货成功，将在&nbsp;<span class="f16 text-inverse">{{timeseconds}}</span>&nbsp;秒后自动跳转到您的退货单！
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>