<div class="body_header">
	<!-- <div class="mod-main mod-comm">
		<div class="header_h3">您的当前位置:会员中心 &nbsp;>>售后服务 >>退/换货服务</div>
	</div> -->
	<!-- @TODO:先隐藏，重新规划 -->
	<div class="mod-main mod-comm" style="display: none">
		<div class="mt">
			<div class="row">
				<div class="col-xs-9">
					<label class="header_h3">申请售后</label>
				</div>
				<div class="col-xs-3" >
					<a class="repair-btn-red">售后政策</a> <a class="repair-btn-red">联系UU客服</a>
				</div>
			</div>
		</div>
	</div>
	<div class="mod-main mod-comm order-table" ng-show="!hasOrder">
		<tbody ng-if="tableParams.total() == 0">
			<tr>
				<td colspan="7">
					<div class="row info-container" style="padding: 50px 10px;">
						<div class="col-md-4 text-center">
							<div><img src="static/img/all/info.png" width="130px" height="90px"></div>
							<div class="f16">您当前没有正在办理的退货单或换货单！</div>
						</div>
						<div class="col-md-8 br-l">
							<div class="f16">
								<p>为什么我没有退货单或换货单？</p>
							</div>
							<div class="f14">
								<div class="info">
									<p>1、您未对订单发起售后服务，或者售后服务暂时处于维护阶段<p>
									<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;解决方案：立即查看 我的订单 >>已完成订单，发起售后服务</p>
								</div>
							</div>
							<br>
							<br>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</div>
	<div class="mod-main mod-comm" ng-show="hasOrder">
		<table class="order-table block" style="margin: 0 auto;">
			<thead>
				<tr>
					<th width="260">订单号</th>
					<th width="280">过期时间</th>
					<th width="170">金额</th>
					<th width="105">订单状态</th>
				</tr>
			</thead>
			<tbody>
				<tr class="order-hd">
					<td ng-bind="order.orderid"></td>
					<td>{{order.availabletime | date: "yyyy-MM-dd HH:mm"}}</td>
					<td ng-bind="order.price"></td>
					<td ng-bind="order.status | statusAndTypeFilter"></td>
				</tr>
			</tbody>
		</table>
		<div class="content">
			<span class="text-inverse">*温馨提示：</span>本次售后服务有由&nbsp;<span class="text-inverse">优软</span>&nbsp;为您服务
		</div>
		<div class="content">
			<div class="selectvalue">
				<div class="row">
					<div class="col-md-12">
						<label>*服务类型:&nbsp;</label>
						<span ng-click="selectDelivery(1301)" class="item-noselect" ng-class="{'item-noselect': !returnresurt , 'item-select': returnresurt }">退货服务</span>
						 <span ng-click="selectDelivery(1302)" class="item-noselect" ng-class="{'item-noselect': !changeresurt , 'item-select': changeresurt }">换货服务</span>
					</div>
				</div>
				
				<div class="details" ng-show="changeresurt">
					<div class="text-inverse text-line"><strong>订单号：{{order.orderid}}</strong>
						<span class="text-span">请您仔细填写该订单的换货数量</span>
					</div>
					<table class="order-table block" style="margin: 0 auto;">
						<thead>
							<tr>
								<th width="90">序号</th>
								<th width="auto">订单明细号</th>
								<th width="200">单价</th>
								<th width="110">数量</th>
								<th width="110">换货数量</th>
								<th width="105">操作</th>
							</tr>
						</thead>
						<tbody ng-repeat="detail in order.orderDetails">
							<tr class="order-hd">
								<td ng-bind="detail.id"></td>
								<td ng-bind="detail.detailid"></td>
								<td ng-bind="detail.price"></td>
								<td ng-bind="detail.number"></td>
								<td ><input type="number" ng-model="detail.returnQty" class="form-control input-xs"  ng-blur="updatePackage(detail.returnQty,detail.number)"/></td>
								<td>回复左边换货</td>
							</tr>
						</tbody>
					</table>
					<div class="row divpadding">
						<div class="col-xs-7">
							<button type="button" class="btn btn-primary pull-right" ng-click="ensureChange(order)">确定换货</button>
						</div>
						<div class="col-xs-5">
							<span class="text-muted" style="line-height: 30px;">提示：确认换货前，请认真填写表格右侧的换货数量</span>
						</div>
					</div>
				</div>
				
				<div class="details" ng-show="returnresurt">
					<div class="text-inverse text-line"><strong>订单号：{{order.orderid}}</strong>
						<span class="text-span">请您仔细填写该订单的退货数量</span>
					</div>
					<table class="order-table block" style="margin: 0 auto;">
						<thead>
							<tr>
								<th width="90">序号</th>
								<th width="auto">订单明细号</th>
								<th width="200">单价</th>
								<th width="110">数量</th>
								<th width="110">退货数量</th>
								<th width="105">操作</th>
							</tr>
						</thead>
						<tbody ng-repeat="detail in order.orderDetails">
							<tr class="order-hd">
								<td ng-bind="detail.id"></td>
								<td ng-bind="detail.detailid"></td>
								<td ng-bind="detail.price"></td>
								<td ng-bind="detail.number"></td>
								<td ><input type="number" ng-model="detail.returnQty" class="form-control input-xs" ng-blur="updatePackage(detail.returnQty,detail.number)"/></td>
								<td>请回复左边</td>
							</tr>
						</tbody>
					</table>
					<div class="row divpadding">
						<div class="col-xs-7">
							<button type="button" class="btn btn-primary pull-right" ng-click="ensureReturn(order)">确定退货</button>
						</div>
						<div class="col-xs-5">
							<span class="text-muted" style="line-height: 30px;">提示：确认退货前，请认真填写表格右侧的退货数量</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>