<style type="text/css">
h2 {
	font-size: 18px;
	font-weight: 600;
}

table#myOrderBill .row .col-md-2, table#myOrderBill .row .col-md-4, table#myOrderBill .row .col-md-1 {
	padding: 0px;
} 

table#myOrderBill .row {
	padding: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

table > thead {
 	display: none; 
}

#myOrderBill td {
	border-bottom: 1px solid white;
	border-top: 1px solid white;
	padding-bottom: 0px;
	padding-top: 0px;
}

table#myOrderBill div.line-head {
	 line-height: 23px; 
	 border-bottom: 1px solid gainsboro; 
	 padding-bottom: 5px; 
	 padding-top: 5px;
	 background-color: whitesmoke;
}

table#myOrderBill ol.detail-line-head {
	list-style: none; 
	padding-top: 10px;
}

table#myOrderBill ul.detail-line-body {
	list-style: none; 
	margin-left: 0px; 
	border-bottom: 1px solid gainsboro; 
	padding-bottom: 10px; 
	margin-bottom: 0px;
}

button.line-button {
	line-height: 23px;
	height: 23px;
	padding-bottom: 0px;
	padding-top: 0px;
}

.no-data {
	margin-top: -16px;
	line-height: 23px;
	font-size: 17px;
}

.th-head {
	line-height: 30px;
	height: 30px;
}
</style>
<h2>订单发票管理</h2>
<div>
	<div class="row">
		<div class="col-xs-1">
			<p style="margin-top: 8px;">
				共<span class="badge">{{myOrderBillTableParams.total()}} </span>条
			</p>
		</div>
		<div class="col-xs-5">
			<div class="btn-group" role="group" aria-label="...">
<!-- 				<button type="button" class="btn btn-sm btn-default"
					ng-class="{'btn-primary':active=='prepare'}"
					ng-click="setActive('prepare')">准备发票</button> -->
				<button type="button" class="btn btn-sm btn-default"
					ng-class="{'btn-primary':active=='toBeMakeOut'}"
					ng-click="setActive('toBeMakeOut')">待开发票</button>
				<button type="button" class="btn btn-sm btn-default"
					ng-class="{'btn-primary':active=='toBeReceive'}"
					ng-click="setActive('toBeReceive')">待收发票</button>
				<button type="button" class="btn btn-sm btn-default"
					ng-class="{'btn-primary':active=='opened'}"
					ng-click="setActive('opened')">已收发票</button>
				<button type="button" class="btn btn-sm btn-default"
					ng-class="{'btn-primary':active=='needNo'}"
					ng-click="setActive('needNo')">不需开票</button>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="input-group">
				<input type="search" class="form-control" ng-model="keyword"
					ng-search="onSearch()" placeholder="请输入订单查询">
				<span class="input-group-btn">
					<button ng-click="onSearch()" class="btn btn-default" type="button">搜索</button>
				</span>
			</div>
		</div>
	</div>
</div>

</br>

<table ng-table="myOrderBillTableParams" class="table row" id="myOrderBill">
<!-- 	<thead class="row">
		<tr class="row">
			<td class="row font-weight-600" colspan="4">
				<div class="row th-head">
					<span class="text-center col-md-2">订单号</span>
					<span class="text-center col-md-2">发票类型</span>
					<span class="text-center col-md-2">发票抬头</span>
					<span class="text-center col-md-6">发票收货地址</span>
				</div>
			</td>
		</tr>
	</thead> -->
	<tbody class="row">
		<tr ng-repeat="order in $data">
			<td colspan="4">
				<div class="row">
					<div class="row line-head">
						<span class="text-center col-md-2" title="订单号">
							<a ng-href="user#/home/order/{{order.orderid | EncryptionFilter}}" ng-bind="order.orderid"></a>
						</span>
						<span ng-show="order.invoicetype == 1205" class="col-md-2 text-center" title="发票类型">增值税专用发票</span>
						<span ng-show="order.invoicetype == 1206" class="col-md-2 text-center" title="发票类型">增值税普通发票</span>
						<span ng-show="order.invoicetype == 1207" class="col-md-2 text-center"  title="发票类型">不需开票</span>
						<span ng-bind="order.invoicetitle" class="col-md-2 text-center" title="发票抬头"></span>
						<div title="发票收货地址" class="col-md-6 text-center">
							<span ng-bind="order.invoiceAddress.name"></span>&nbsp;&nbsp;
							<span ng-bind="order.invoiceAddress.telephone"></span>&nbsp;&nbsp;
							<span ng-bind="order.invoiceAddress.area"></span>
							<span ng-bind="order.invoiceAddress.detailAddress"></span>
						</div>
					</div>
					<div class="row">
						<ol class="row detail-line-head">
							<li class="row">
								<span class="col-md-2 text-center">明细号</span>
								<span class="col-md-2 text-center">数量</span>
								<span class="col-md-1 text-center">单价</span>
								<span class="col-md-2 text-center">发票号</span>
								<span class="col-md-1 text-center">总价</span>
								<span class="col-md-2 text-center">
									<span ng-show="order.invoicetype != 1207" >发票状态</span>
								</span>
								<span class="col-md-2 text-center" ng-show="active=='toBeReceive'">操作</span>
							</li>
						</ol>
						<ul class="row detail-line-body">
							<li class="row" ng-repeat="orderDetail in order.orderDetails">
								<span class="col-md-2 text-center">
									<span ng-bind="orderDetail.detailid"></span>
								</span>
								<span class="col-md-2 text-center" ng-bind="orderDetail.realTradeNum"></span>
								<span class="col-md-1 text-center" ng-bind="orderDetail.unitprice"></span>
								<span class="col-md-2 text-center" ng-bind="orderDetail.billNum ? orderDetail.billNum: '空'"></span>
								<span class="col-md-1 text-center" ng-bind="orderDetail.realPrice | number : 4"></span>
								<span class="col-md-2 text-center">
									<span ng-show="order.invoicetype!=1207 && orderDetail.billStatus==700">待开发票</span>
									<span ng-show="order.invoicetype!=1207 && orderDetail.billStatus==701">待收发票</span>
									<span ng-show="order.invoicetype!=1207 && orderDetail.billStatus==702">已收发票</span>
									<span ng-show="orderDetail.billStatus==703">不需开票</span>
								</span>
								<span class="col-md-2 text-center" ng-show="active=='toBeReceive'&&orderDetail.billStatus==701">
									<button class="btn btn-default btn-sm line-button" ng-click="confirmBill(order, orderDetail)">确认收票</button>
								</span>
								<span class="col-md-2 text-center" ng-show="active=='toBeReceive'&&orderDetail.billStatus!=701">无操作</span>
							</li>
						</ul>
					</div>
				</div>
			</td>
		</tr>
	</tbody>
</table>
<div class="no-data text-center col-md-12 font-size-12" ng-show="!myOrderBillTableParams.total()">当前状态没有对应的数据</div>

