<style>
h3 {
	font-size: 18px;
	font-weight: 600;
}

.row .searchInputGroup {
	margin-top: 20px;
	margin-bottom: 10px;
}

.btn-primary {
	color: #fff;
	background-color: #7bb4e1;
	border-color: #7bb4e1;
}

button[type=button].btn-primary-choosed {
	color: #fff;
	background-color: #f39800;
	border-color: #f39800;
	border-left-color: #fff;
	border-right-color: #fff;
}

.btn-primary:hover {
	color: #fff;
	background-color: #f39800;
	border-color: #f39800;
	border-left-color: #fff;
	border-right-color: #fff;
}

.btn-primary:active {
	color: #fff;
	background-color: #f39800;
	border-color: #f39800;
}

.btn-default-inline {
	color: #fff;
	background-color: #7bb4e1;
	border-color: #7bb4e1;
	border-left-color: #fff;
	border-right-color: #fff;
}

.btn-default-inline:hover {
	color: #fff;
	background-color: #f39800;
	border-color: #f39800;
}

.tr-default {
	color: #fff;
	background-color: #7bb4e1;
}

.totalNum {
	font-weight: bold;
	color: #f39800;
}

.price {
	color: #f39800;
	font-weight: bold;
	font-size: 14px;
}

td {
	line-height: 1.1;
}

.total {
	background-color: #7bb4e1;
	margin-left: auto;
	margin-right: auto;
	font-size: 14px;
	font-weight: 700;
	line-height: 30px;
}

.total ul>li {
	float: left;
	margin-left: -2px;
	padding-left: 15px;
	padding-right: 15px;
	border-left: 2px #fff solid;
    border-right: 2px #fff solid;
}

.total ul>li:hover {
	background-color: #337ab7;
}

.total ul>li>a {
	color: #fff;
	cursor: pointer;
	text-decoration: none;
}

.btnactive {
	background-color: #f39800;
}

div.row.total button:HOVER {
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}

.total button {
	height: 30px;
}

table>tbody>tr>td .btn-primary {
	width: 70px;
}

.detail-icon {
	padding-left: 15px;
}
</style>
<div class="body_header">
	<!-- <div class="mod-main mod-comm">
		<div class="header_h3">您的当前位置:会员中心 &nbsp;>>我的订单 >>已完成订单</div>
	</div> -->
	<div class="row">
		<div class="col-xs-6">
			<h3>已完成订单</h3>
		</div>
		<div class="col-xs-6">
			<div class="input-group searchInputGroup">
				<input type="search" class="form-control" ng-model="keyword"
					ng-search="onSearch()" ng-change="upper()" placeholder="请输入订单号查询">
				<span class="input-group-btn">
					<button ng-click="onSearch()" class="btn btn-primary" type="button">搜索</button>
				</span>
			</div>
		</div>
	</div>
	<div>
		<div class="row total">
			<div class="col-xs-6">
				<div class="btn-group" role="group"
					style="display: block; margin-left: -16px;">
					<button type="button" class="btn btn-sm btn-default-inline"
						ng-class="{'btn-primary-choosed':active=='checkdeadline'}"
						ng-click="setActive('checkdeadline')">未过期</button>
					<button type="button" class="btn btn-sm btn-default-inline"
						ng-class="{'btn-primary-choosed':active=='nocheckdeadline'}"
						ng-click="setActive('nocheckdeadline')">已过期</button>
					<button type="button" class="btn btn-sm btn-default-inline"
						ng-class="{'btn-primary-choosed':active=='inaftersales'}"
						ng-click="setActive('inaftersales')">售后中</button>
					<button type="button" class="btn btn-sm btn-default-inline"
						ng-class="{'btn-primary-choosed':active=='alreadyReturn'}"
						ng-click="setActive('alreadyReturn')">已失效</button>
				</div>
			</div>
			<div class="col-xs-6">
				<div ng-table-pagination="paginationParams"
					template-url="templates.pagination" style="margin-right: -15px">
					<div class="ng-table-pager" ng-if="paginationParams.data.length">
						<div ng-if="paginationParams.settings().counts.length"
							class="pull-right">
							<ul class="list-unstyled list-inline">
								<li ng-repeat="count in paginationParams.settings().counts"
									ng-class="{'btnactive':paginationParams.count()==count}"><a
									ng-click="paginationParams.count(count)" ng-bind="count"></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-1">
				<p style="margin-top: 8px; font-weight: bold;">
					共<span class="totalNum">{{orderdoneTableParams.total()}}</span>条
				</p>
			</div>
		</div>
		</br>

		<table ng-table="orderdoneTableParams"
			class="table table-bordered table-striped table-hover">
			<thead>
				<tr class="tr-default">
					<th width="70" class="text-center">
						<div>序号</div>
					</th>
					<th width="auto" class="text-center">订单详情</th>
					<th width="200" class="text-center">单价</th>
					<th width="114" class="text-center">税金</th>
					<th width="100" class="text-center">价税合计</th>
					<th width="80" class="text-center">订单状态</th>
					<th width="60" class="text-center" ng-show="active=='checkdeadline'">操作</th>
				</tr>
			</thead>
			<tbody ng-repeat="order in $data">
				<tr>
					<td class="tdcenter">
						<div>{{$index+1}}</div>
					</td>
					<td colspan="5">
						<div class="row">
							<div class="col-sm-7">
								<span style="margin-right: 10px; color: #A2A2A2; float: left">
									生成时间：{{order.creattime| date: "yyyy-MM-dd HH:mm"}}
								</span>
								<span ng-show="active=='checkdeadline'" style="color:#A2A2A2; float: left;"> 
									过期时间：{{order.availabletime| date: "yyyy-MM-dd HH:mm"}}
								</span> 
								<span style="color: #A2A2A2; float: left">
									订单号：<a ng-href="user#/home/order/{{order.orderid | EncryptionFilter}}">{{order.orderid}}</a>
								</span>
							</div>
							<div class="col-sm-5 text-muted text-num text-right">
								币别：<span class="price"><span ng-bind="order.currency" class="f16"></span></span>
								&nbsp;产品总数：<span ng-bind="order.qty"></span>
								&nbsp;价税合计：<span class="text-inverse f16 text-num text-bold" ng-bind="order.price"></span>
							</div>
						</div>
					</td>
					<td class="tdcenter" ng-show="active=='checkdeadline'">
						<a ng-click="afterSale(order)">
								<button type="button" class="btn btn-primary btn-sm">申请售后</button>
						</a>
					</td>
				</tr>
				<tr ng-repeat="orderDetail in order.orderDetails">
					<td>
					</td>
					<td class="border-leright">
						<div class="row cmp-item" >
							<div class="col-sm-12">
								<div class="p-img">
									<a href="product#/component/{{orderDetail.uuid}}/">
										<img src="" lazy-load="{{orderDetail.img}}" height="78px" width="78px">
									</a>
								</div>
								<div class="cmp-info">
									<div>
										<a class="f16 text-bold" style="display: block;" href="product#/component/{{orderDetail.uuid}}/" ng-bind="orderDetail.cmpCode"></a>
										<span ng-bind="orderDetail.brName"></span>
									</div>
									<div>
										<i class="iconfont icon-kind f14"></i>
										<span ng-bind="orderDetail.kiName"></span>
									</div>
								</div>
								<div ng-if="orderDetail.returnInWeek">
			        				<img class="detail-icon" alt="支持7天无理由退货" src="static/img/product/seven-day-back.jpg" title="支持7天无理由退货">&nbsp;
			        			</div>	
							</div>
						</div>
					</td>
					<td class="tdcenter border-leright">
						<div class="text-num text-center">
							<div class="text-num text-theme f16 text-bold">
								<span ng-bind="orderDetail.taxUnitprice | number:6"></span>
							</div>
							<div class="text-num text-muted">
								×<strong><span ng-bind="orderDetail.number"></span></strong>
							</div>
							<div class="text-num">
								<span ng-if="orderDetail.tax">含税<span ng-bind="orderDetail.tax"></span>%</span>
							</div>
						</div>
					</td>
					<td class="tdcenter border-leright">
						<div class="text-num price text-center">
							<div>
								<span ng-bind="orderDetail.taxes"></span>
							</div>
						</div>
					</td>
					<td class="tdcenter border-leright">
						<div class="text-inverse text-bold f16 text-num">
							<span ng-bind="orderDetail.price | number : 2"></span>
						</div>
					</td>
					<td class="tdcenter border-leright">
						<div>
							<span ng-bind="orderDetail.status | statusAndTypeFilter" class="text-muted"></span>
						</div>
					</td>
					<td class="tdcenter" ng-show="active=='checkdeadline'">
					</td>
				</tr>
				<tr ng-if="!order" class="text-center">
					<td colspan="5" class="text-center"
						style="line-height: 40px; font-size: 20px;"><i
						class="fa fa-smile-o fa-lg"></i> 当前没有对应的订单信息</td>
				</tr>
			</tbody>
		</table>
		</br>
	</div>
</div>