<style>
div.location {
	line-height: 28px;
}

div.location ul {
	border-bottom: solid 1px #ddd;
}

div#refund-info-display {
}

div#refund-info-display h4 {
	font-size: 18px;
	font-weight: 600;
}

div#refund-info-display	.row.searchInputGroup {
	margin-top: 20px;
	margin-bottom: 10px;
}

div#refund-info-display	.btn-primary {
	color: #fff;
	background-color: #7bb4e1;
	border-color: #7bb4e1;
}

div#refund-info-display	button[type=button].btn-primary-choosed {
	color: #fff;
	background-color: #f39800;
	border-color: #f39800;
	border-left-color: #fff;
	border-right-color: #fff;
}

div#refund-info-display	.btn-primary:hover {
	color: #fff;
	background-color: #f39800;
	border-color: #f39800;
	border-left-color: #fff;
	border-right-color: #fff;
}

div#refund-info-display	.btn-primary:active {
	color: #fff;
	background-color: #f39800;
	border-color: #f39800;
}

div#refund-info-display	.btn-default-inline {
	color: #fff;
	background-color: #7bb4e1;
	border-color: #7bb4e1;
	border-left-color: #fff;
	border-right-color: #fff;
}

div#refund-info-display	.btn-default-inline:hover {
	color: #fff;
	background-color: #f39800;
	border-color: #f39800;
}

div#refund-info-display	.tr-default {
	color: #fff;
	background-color: #7bb4e1;
}

div#refund-info-display	.totalNum {
	font-weight: bold;
	color: #f39800;
}

div#refund-info-display	.price {
	color: #f39800;
	font-weight: bold;
	font-size: 14px;
}

div#refund-info-display	td {
	line-height: 1.1;
}

div#refund-info-display	.total {
	background-color: #7bb4e1;
	margin-left: auto;
	margin-right: auto;
	font-size: 14px;
	font-weight: 700;
	line-height: 30px;
}

div#refund-info-display	.total ul>li {
	float: left;
	margin-left: -2px;
	padding-left: 15px;
	padding-right: 15px;
	border-left: 2px #fff solid;
	border-right: 2px #fff solid;
}

div#refund-info-display	.total ul>li:hover {
	background-color: #337ab7;
}

div#refund-info-display	.total ul>li>a {
	color: #fff;
	cursor: pointer;
	text-decoration: none;
}

div#refund-info-display	.btnactive {
	background-color: #f39800;
}

div#refund-info-display	div.row.total button:HOVER {
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}

div#refund-info-display	.total button {
	height: 30px;
}

div#refund-info-display	table>tbody>tr>td .btn-primary {
	width: 70px;
}

div#refund-info-display	.detail-icon {
	padding-left: 15px;
}
</style>
<div class="location ng-scope">
	<ul class="list-unstyled list-inline">
		<li class="text-bold">您当前的位置：</li>
		<li>买家中心&nbsp;<i class="fa fa-angle-double-right"></i></li>
		<li>异常管理<i class="fa fa-angle-double-right"></i></li>
		<li>我的退款单</li>
	</ul>
</div>
<div id="refund-info-display">
	<div class="row searchInputGroup">
		<div class="col-xs-3">
			<h4>我的退款单</h4>
		</div>
		<div class="col-xs-6">
			<div class="input-group">
				<input type="search" class="form-control" ng-model="keyword"
					   ng-search="onSearch()" ng-change="upper()" placeholder=请输入订单号查询>
				<span class="input-group-btn">
				<button ng-click="onSearch()" class="btn btn-primary" type="button">搜索</button>
			</span>
			</div>
		</div>
	</div>
	<div>
		<div class="row total">
			<div class="col-xs-6">
				<div class="btn-group" role="group"
					 style="display: block; margin-left: -16px;">
					<button type="button" class="btn btn-sm btn-default-inline"
							ng-class="{'btn-primary-choosed':active=='TOBERETURN'}"
							ng-click="setActive('TOBERETURN')">待退货</button>
					<button type="button" class="btn btn-sm btn-default-inline"
							ng-class="{'btn-primary-choosed':active=='TOBEREFUND'}"
							ng-click="setActive('TOBEREFUND')">待退款</button>
					<button type="button" class="btn btn-sm btn-default-inline"
							ng-class="{'btn-primary-choosed':active=='REFUNDED'}"
							ng-click="setActive('REFUNDED')">已退款</button>
				</div>
			</div>
			<div class="col-xs-6">
				<div ng-table-pagination="paginationParams"
					 template-url="templates.pagination" style="margin-right: -15px">
					<div class="ng-table-pager" ng-if="paginationParams.data.length">
						<div ng-if="paginationParams.settings().counts.length"
							 class="pull-right">
							<ul class="list-unstyled list-inline">
								<li ng-repeat="count in paginationParams.settings().counts"
									ng-class="{'btnactive':paginationParams.count()==count}"><a
										ng-click="paginationParams.count(count)" ng-bind="count"></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="col-xs-1">
			<p style="margin-top: 8px; font-weight: bold;">
				共<span class="totalNum">{{refundToDoTableParams.total()}}</span>条
			</p>
		</div>
	</div>
	<br/>
	<table ng-table="refundToDoTableParams"
		   class="table table-bordered table-striped table-hover">
		<thead>
		<tr class="tr-default">
			<th width="70" class="text-center">
				<div>序号</div>
			</th>
			<th width="auto" class="text-center">订单详情</th>
			<th width="114" class="text-center">单价</th>
			<th width="114" class="text-center">税金</th>
			<th width="100" class="text-center">价税合计</th>
			<th width="80" class="text-center">订单状态</th>
		</tr>
		</thead>
		<tbody ng-repeat="refund in $data">
		<tr>
			<td class="tdcenter">
				<div>{{$index+1}}</div>
			</td>
			<td colspan="4">
				<div class="row">
					<div class="col-sm-6 text-muted">
						<span>
							<i class="fa fa-clock-o"></i>
							<span ng-bind="refund.createTime | date: 'yyyy-MM-dd HH:mm'" class="text-num"></span>
						</span>
						<span>订单号：
							<a ng-click="toDetail(refund.reid);" ng-bind="refund.reid" class="text-num"></a>
						</span>
					</div>
					<div class="col-sm-6 text-muted text-num text-right">
						币别：<span class="price"><span ng-bind="refund.currency"></span></span>
						&nbsp;价税合计：<span class="text-inverse text-bold f16" ng-bind="refund.reMoney | formateNumber:2"></span>
					</div>
				</div>
			</td>
			<td class="text-center tdcenter">
				<div>
					<span class="text-muted" ng-if="refund.status == 'TOBEREFUND'">待退款</span>
					<span class="text-muted" ng-if="refund.status == 'REFUNDED'">已退款</span>
				</div>
			</td>
		</tr>
		<tr ng-repeat="refundDetail in refund.refundDetails">
			<td></td>
			<td>
				<div class="col-sm-12 cmp-item">
					<div class="col-sm-7">
						<div class="p-img">
							<a href="product#/component/{{refundDetail.orderDetail.uuid}}/">
								<img src="" lazy-load="{{refundDetail.orderDetail.img}}" height="78px" width="78px">
							</a>
						</div>
						<div class="cmp-info col-sm-8">
							<div>
								<a class="f16 text-bold" style="display: block;" href="product#/component/{{refundDetail.orderDetail.uuid}}/" ng-bind="refundDetail.orderDetail.cmpCode"></a>
								<span ng-bind="refundDetail.orderDetail.brName"></span>
							</div>
							<div>
								<i class="iconfont icon-kind f14"></i><span
									ng-bind="refundDetail.orderDetail.kiName"></span>
							</div>
						</div>
						<div ng-if="refundDetail.orderDetail.returnInWeek">
							<img class="detail-icon" alt="支持7天无理由退货" src="static/img/product/seven-day-back.jpg" title="支持7天无理由退货">&nbsp;
						</div>
					</div>
				</div>
			</td>
			<td>
				<div class="text-num text-center">
					<div class="text-num">
						<span ng-bind="refundDetail.orderDetail.taxUnitprice | formateNumber: 6"></span>
					</div>
					<div class="text-num text-muted">
						×<span ng-bind="refundDetail.number | number"></span>
					</div>
				</div>
			</td>
			<td>
				<div class="text-center">
					<span class="text-bold text-num f16 text-theme" ng-bind="(refundDetail.taxes || 0) | formateNumber : 2 "></span>
				</div>
			</td>
			<td>
				<div class="text-num price text-center">
					<div>
						<span ng-bind="refundDetail.total | formateNumber : 2"></span>
					</div>
					<div>
						<span ng-if="refundDetail.tax">含税<span ng-bind="refundDetail.tax"></span>%</span>
					</div>
				</div>
			</td>
			<td>
				<div class="text-center">
					<span class="text-muted" ng-if="refund.status == 'TOBEREFUND'">待退款</span>
					<span class="text-muted" ng-if="refund.status == 'REFUNDED'">已退款</span>
				</div>
			</td>
		</tr>
		<tr ng-if="!refund" class="text-center">
			<td colspan="6" class="text-center"
				style="line-height: 40px; font-size: 20px;"><i
					class="fa fa-smile-o fa-lg"></i> 当前没有对应的订单信息</td>
		</tr>
		</tbody>
	</table>
	<br/>
</div>
