<style>
h4 {
	color: #317eac;
	font-weight: bold;
	font-size: 14px;
}

.body {
	padding: 30px;
	padding-top: 20px !important;
}

.line {
	border-bottom: solid 1px #ddd;
}

.part {
	margin-top: 20px;
}

.head {
	width: 80px;
	line-height: 30px;
	clolor: red;
	border: 1px solid #ddd;
}

.text-inverse {
	color: #f40;
}

.text-info {
	color: #008000;
}

.orderid {
	margin-top: 15px;
	padding-top: 12px;
	padding-left: 10px;
	font-size: 16px;
	font-weight: bold;
}

.flow {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 40px;
	text-align: center;
}

.flow div {
	padding-top: 5px;
	height: 25px;
	margin-right: 2px;
}

.list-inline {
	padding-left: 0;
	margin-left: -5px;
	list-style: none;
	font: 16px/43px 'Microsoft Yahei';
	display: inline;
}

.no {
	color: #BDBDBD;
	width: 100px;
}

.already {
	color: #31A729;
	font-weight: bold;
	width: 100px;
}

span {
	font-size: 13px;
}

.tip {
	line-height: 25px;
}

.detailMargin {
	border: 1px solid #ddd;
	padding-top: 5px;
	margin-top: 8px;
}

li.status {
	padding: 9px 20px;
	border: 1px solid #60C6E7;
	margin-left: -6px;
	position: relative;
	width: 84px;
	background: #E3EDF4;
}

ul.list-inline {
	line-height: 13px;
}

li.status .angle {
	border-top: 1px solid #60C6E7;
	border-right: 1px solid #60C6E7;
	padding: 5px;
	display: inline-block;
	position: absolute;
	top: 10px;
	left: 77px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	background: #E3EDF4;
	z-index: 21;
}

li.status.past,  li.status.past .angle{
	background: #60C6E7;
}

li.status.past {
	border-left: 1px solid #E3EDF4;
}

li.status.past .angle {
	border-top: 1px solid #E3EDF4;
	border-right: 1px solid #E3EDF4;
}

li.status.past.last .angle {
	border-top: 1px solid #60C6E7;
	border-right: 1px solid #60C6E7;
}

ul li:FIRST-CHILD {
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

ul li:last-child {
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

.orderid-num {
	line-height: 38px;
}

.border-dashed {
	border-bottom: 1px dashed rgb(125, 180, 221);
}

.color-blue {
	color: rgb(66, 168, 102);
}

.color-yellow {
	color: rgb(245, 190, 123);
}

tbody tr td {
	vertical-align: middle !important;
}

.t-head {
	background: rgb(123, 181, 221);
	color: white;
}

.notice {
	padding: 12px 18px;
	text-align: right
}
</style>
<div class="orderid row">
	<div class="col-md-5 orderid-num">
		<i class="fa fa-file-text-o"></i>
		退款单号：<a ng-bind="refund.reid"></a>
	</div>
	<div class="col-md-7">
		<ul class="list-unstyled list-inline pull-right">
			<li id="step1" class="status" ng-class="{'past': styl0,'last': last0}"><span>待退款</span><span class="angle"></span></li>
			<li id="step2" class="status" ng-class="{'past': styl1,'last': last1}"><span>已退款</span></li>
		</ul>
	</div>
</div>
<div class="border-dashed"></div>
<div class="body">
	<div>
		<div class="row">
			<div class="col-xs-2">
				<h4>基本信息</h4>
			</div>
		</div>
		<div class="row tip">
			<div class="col-xs-4" ng-hide="!refund.createTime">
				<span>退款单生成时间：</span> <span ng-bind="refund.createTime| date:'yyyy-MM-dd HH:mm:ss'"></span>
			</div>
			<div class="col-xs-4" ng-if="refund.origin != 'ORDER'">
				<span>来源订单：</span><span ng-bind="refund.orderid"></span>
			</div>
			<div class="col-xs-4" ng-if="refund.origin">
				<span>来源{{typeMap[refund.origin]}}：</span><span ng-bind="refund.inId"></span>
			</div>
			<div class="col-xs-4">
				<span>收款人：</span><span ng-bind="refund.reUserName"></span>
			</div>
			<div class="col-xs-4" ng-if="refund.payType">
				<span>支付类型：</span>
				<span ng-if="refund.payType == 1102">在线支付</span>
				<span ng-if="refund.payType == 1103">线下支付</span>
			</div>
		</div>
	</div>
	<div class="part" ng-if="address !=null">
		<div class="row tip">
			<div class="col-xs-2">
				<h4>发货详情信息</h4>
			</div>
		</div>
		<div class="row tip">
			<div class="col-xs-4">
				<span>发货人：</span> <span ng-bind="address.name"></span>
			</div>
			<div class="col-xs-4">
				<span>发货人联系电话：</span> <span ng-bind="address.tel"></span>
			</div>
			<div class="col-xs-4" ng-hide="address.email == null">
				<span>邮箱：</span> <span ng-bind="address.email"></span>
			</div>
		</div>
		<div class="row tip">
			<div class="col-xs-4">
				<span>地区：</span> <span ng-bind="address.area"></span>
			</div>
			<div class="col-xs-4">
				<span>详细地址：</span> <span ng-bind="address.detailAddress"></span>
			</div>
		</div>
	</div>
	<div class="part" ng-if="statushistory">
		<div class="row tip">
			<div class="col-xs-2">
				<h4>状态变更记录</h4>
			</div>
		</div>
		<table class="table table-striped">
			<thead>
			<tr role="row">
				<th role="columnheader" rowspan="1" colspan="1">状态</th>
				<th role="columnheader" rowspan="1" colspan="2">操作者UU</th>
				<th role="columnheader" rowspan="1" colspan="2">操作时间</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="his in statushistory">
				<td class="center" rowspan="1" colspan="1">
					<span ng-if="his.status == 'TOBERETURN'">待退货</span>
					<span ng-if="his.status == 'TOBEREFUND'">待退款</span>
					<span ng-if="his.status == 'REFUNDED'">已退款</span>
				</td>
				<td class="center" rowspan="1" colspan="2"><span
						ng-bind="his.userUU"></span></td>
				<td class="center" rowspan="1" colspan="2"><span
						ng-bind="his.time | date:'yyyy-MM-dd HH:mm:ss'"></span></td>
			</tr>
			</tbody>
		</table>
	</div>
	<div class="part">
		<div class="row tip">
			<div class="col-xs-2">
				<h4>费用信息</h4>
			</div>
		</div>
		<div class="row tip">
			<div class="col-xs-3">
				<span>总金额：</span><span class="text-inverse" ng-bind="refund.currency"></span>&nbsp;<span class="text-inverse" ng-bind="refund.reMoney | number:2"></span>
			</div>
		</div>
	</div>
	<div class="part">
		<div class="row-fluid">
			<div class="span2">
				<h4>产品清单</h4>
			</div>
		</div>
		<table class="table table-striped table-bordered">
			<thead class="t-head">
			<tr role="row">
				<th role="columnheader" rowspan="1" colspan="1">序号</th>
				<th role="columnheader" rowspan="1" colspan="1">原厂型号</th>
				<th role="columnheader" rowspan="1" colspan="2">图片</th>
				<th role="columnheader" rowspan="1" colspan="2">退款单明细编号</th>
				<th role="columnheader" rowspan="1" colspan="2">批次号</th>
				<th role="columnheader" rowspan="1" colspan="1">单价</th>
				<th role="columnheader" rowspan="1" colspan="1">数量</th>
				<th role="columnheader" rowspan="1" colspan="1">金额</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="detail in refund.refundDetails">
				<td class="center" rowspan="1" colspan="1"><span
						ng-bind="$index + 1"></span></td>
				<td class="center" rowspan="1" colspan="1"><a
						ng-href="product#/component/{{detail.orderDetail.uuid}}/"><span
						ng-bind="detail.orderDetail.cmpCode"></span></a></td>
				<td class="center" rowspan="1" colspan="2"><a
						ng-href="product#/component/{{detail.orderDetail.uuid}}/"><img alt=""
																		   ng-src="{{detail.orderDetail.img}}" height="100px;"></a></td>
				<td class="center" rowspan="1" colspan="2"><span
						ng-bind="detail.reid"></span></td>
				<td class="center" rowspan="1" colspan="2"><span
						ng-bind="detail.orderDetail.batchCode"></span></td>
				<td class="center text-inverse" rowspan="1" colspan="1"><span ng-bind="refund.currency"></span>&nbsp;<span
						ng-bind="detail.orderDetail.taxUnitprice | number: 6"></span></td>
				<td class="center color-blue" rowspan="1" colspan="1"><span
						ng-bind="detail.number"></span></td>
				<td class="center text-inverse" rowspan="1" colspan="1"><span ng-bind="refund.currency"></span>&nbsp;<span
						ng-bind="detail.total | number:2"></span></td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
