<style>
#main {
	background-color: #ffffff;
	border: 0px;
}

h2 {
	font-size: 18px;
	font-weight: 600;
}

.cartExist {
	margin-top: 100px;
}

.cart-content {
	border: 2px #7bb4dc;
    border-style: solid;
    padding: 10px;
    margin-bottom: 30px;
    margin-top: 10px;
    box-shadow: 6px 6px 20px #A7B9DE;
}

.p-img {
	height: 80px;
	width: 80px;
	text-align: center;
	border: 1px solid #ddd;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}

.row .p-img a>img {
	max-width: 76px;
	max-height: 76px;
	padding: 4px 0px 4px 4px;
}

.price {
	color: #f39800;
	font-weight: bold;
	font-size: 14px;
}

.message {
	margin-bottom: 10px;
	padding: 2px;
	vertical-align: middle;
	line-height: 30px;
	border-bottom: 1px #5078cb;
    border-bottom-style: solid
}

.row .unchoose-item {
	border: 2px #ddd;
	height: 150px;
	line-height: 26px;
	border-style: dashed;
	margin-right: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}

.row .unchoose-item:hover {
	box-shadow: 4px 4px 3px 3px #999;
}

.row .choose-item {
	border: 2px #00CC00;;
	height: 150px;
	line-height: 26px;
	border-style: solid;
	margin-right: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}

.row .choosed-angle {
	width: 0;
	height: 0;
	border-top: 30px solid #00CC00;
	border-left: 30px solid transparent;
	margin-left: 101px;
	margin-top: -26px;
	z-index: 100;
	position: absolute;
}

.row .choosed-icon {
	position: absolute;
	margin-top: -27px;
	color: #fff;
	margin-left: -16px;
}

.row .choosed-tips {
	font-size: 14px;
    font-weight: bold;
}

.btn-primary:hover {
	color: #fff;
	background-color: #f39800;
	border-color: #f39800;
	border-left-color: #fff;
	border-right-color: #fff;
}

.btn-primary:active {
	color: #fff;
	background-color: #f39800;
	border-color: #f39800;
}

.batch-sum {
	line-height: 15px;
	font-size: 12px !important;
}

.item-height div {
	line-height: 20px;
}

.padding-left-right-zero, .pading-leri-zero div {
	padding-left: 0px;
	padding-right: 0px;
}

.batch-title {
	line-height: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #7bb4e1;
	border-left: 1px solid #ccc7c7;
	border-right: 1px solid #ccc7c7;
	border-top: 1px solid #ccc7c7;
}

.batch-content {
	line-height: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.batch-content:HOVER {
	cursor: pointer;
}

.batch-content:HOVER {
	background-color: #f7f2f2;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"]+label {
	background-color: #FFF;
	border: 1px solid #C1CACA;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px
		rgba(0, 0, 0, 0.05);
	padding: 6px;
	display: inline-block;
	position: relative;
	vertical-align: text-bottom;
	margin-bottom: 0 !important;
	cursor: pointer;
}

input[type="checkbox"]:checked+label:after
	{
	content: '\2714';
	clear: both;
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	color: #FFF;
	background-color: #7bb4dc;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 14px;
	line-height: 12px;
	vertical-align: text-top;
}

.pading-10-0 {
	padding: 10px 0px;
}

.padding-leri-zero {
	padding-left: 0px;
	padding-right: 0px;
}
</style>

<!-- 右侧产品详细信息  Start-->
<div id="shopping_cart">
	<div>
		<h2>
			<strong>我的购物车</strong>
		</h2>
	</div>
	<div ng-repeat="code in cart">
		<div ng-repeat="value in code" class="cart-content">
			<div class="row message">
				<div class="col-sm-2">
					<div class="p-img">
						<a style="display: block;"
							href="product#/component/{{value[0].uuid}}/"> <img src="" lazy-load="{{value[0].img}}"
							height="100px">
						</a>
					</div>
				</div>
				<div class="col-sm-4 text-code">
					<div>
						<span><a class="f16 text-bold" href="product#/component/{{value[0].uuid}}/">{{value[0].code}}</a>
						&nbsp;{{value[0].brName}}</span>
					</div>
					<div>
						<i class="iconfont icon-kind f14"></i>
						<span ng-bind="value[0].kiName"></span>
					</div>
				</div>
				<div class="col-sm-2 text-center">
					<div>已选数量</div>
					<div class="choosed-tips" ng-bind="countNum(value) | number"></div>
				</div>
				<div class="col-sm-2 text-center padding-left-right-zero">
					<div>已选金额</div>
					<div class="choosed-tips text-num price batch-sum">
						<div ng-repeat="(v,k) in value.moneyInfo">
							<span ng-bind="v"></span> &nbsp;&nbsp;<span ng-bind="k | number: 2"></span>
						</div>
						<div ng-if="isNullObject(value.moneyInfo)">0</div>
					</div>
				</div>
				<div class="col-sm-2 text-center padding-left-right-zero">
					<a ng-click="checkOrder(value)" ng-model="value.isSelect">
						<span class="text-right" ng-if="!value.isSelectAll">全选</span>
						<span class="text-right" ng-if="value.isSelectAll">全取消</span>
					</a>
				</div>
		</div>
		<div class="row">
			<table class="col-sm-12">
				<thead>
					<tr class="batch-title">
						<th width="auto" class="text-center">批次号</th>
						<th width="120" class="text-center">描述</th>
						<th width="150" class="text-center">单价</th>
						<th width="120" class="text-center">数量</th>
						<th width="150" class="text-center">金额</th>
						<th width="150" class="text-center">税金</th>
						<th width="50" class="text-center">操作</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="cartGroup in value" class="pading-leri-zero batch-content" ng-click="checkSelect(value, cartGroup)">
						<td>
							<div class="text-center">
								<input type="checkbox" ng-model="cartGroup.isSelect" ng-checked="cartGroup.isSelect"></input><label></label>
								&nbsp;&nbsp;<span>{{cartGroup.batchCode}}</span>
							</div>
						</td>
						<td>
							<div class="text-center">
								<span ng-if="cartGroup.type== 1311">现货</span> 
								<span ng-if="cartGroup.type== 1312">呆滞库存</span>
								<!-- <span ng-if="cartGroup.type== 1313">废料</span> -->
								&nbsp;&nbsp;<img title="支持七天无理由退货" src="static/img/product/seven-day-back.jpg" ng-if="cartGroup.returnInWeek"></img> 
							</div>
						</td>
						<td>
							<div class="text-center pading-10-0">
								<span ng-bind="cartGroup.currencyName"></span>&nbsp;
								<span class="text-num price">{{cartGroup.unitprice | number : 6}}</span>
								<div ng-if="cartGroup.tax" class="text-num">含税(<span ng-bind="cartGroup.tax" class="text-deep-blue"></span>%)</div>
							</div>
						</td>
						<td>
							<div class="text-center">
								<span class="text-blue text-bold text-num">{{cartGroup.number | number }}</span>&nbsp;pcs
							</div>
						</td>
						<td>
							<div class="text-center">
								<span ng-bind="cartGroup.currencyName"></span>&nbsp;&nbsp;<span class="text-num text-bold">{{cartGroup.number*cartGroup.unitprice||0 | number : 2}}</span>
							</div>
						</td>
						<td>
							<div class="text-center">
								<span ng-bind="cartGroup.currencyName"></span>&nbsp;&nbsp;<span class="text-num text-purple text-bold">{{cartGroup.taxes||0 | number : 2}}</span>
							</div>
						</td>
						<td>
							<div class="text-center">
								<a ng-click="deleteBatch(cartGroup.batchCode)">移除</a>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<!-- <div ng-repeat="cartGroup in value" class="col-sm-12 pading-leri-zero batch-content" ng-click="checkSelect(value, cartGroup)"> -->
				
				
<!-- 				<div class="col-sm-2 unchoose-item item-height" ng-model="cartGroup.isSelect"
					ng-click="checkSelect(value, cartGroup)"
					ng-class="{'unchoose-item' : (!cartGroup.isSelect), 'choose-item' : (cartGroup.isSelect)}"> -->
<!-- 					<div>
						<span>数量：</span><span class="price">{{ cartGroup.number | number }}</span>
					</div> -->
<!-- 					<div class="choosed-angle" ng-show="cartGroup.isSelect">
						<i class="fa fa-lg fa-check icss choosed-icon"></i>
					</div> -->
					<!-- <div>
						<span>单价：</span><span ng-bind="cartGroup.currencyName"></span>&nbsp;&nbsp;
						<span class="text-num price">{{cartGroup.unitprice | number : 6}}</span>
						<span ng-if="cartGroup.tax" class="text-num">含税（17）%</span>
					</div>
					<div ng-if="cartGroup.taxes">
						<span>税金：</span>&nbsp;&nbsp;
						<span class="text-num price">{{cartGroup.taxes | number : 2}}</span>
					</div>
					<div>
						<span ng-if="cartGroup.type== 1311">现货</span> 
						<span ng-if="cartGroup.type== 1312">呆滞库存</span>
						<span ng-if="cartGroup.type== 1313">废料</span> 
						<span class="pull-right">
							<a ng-click="deleteBatch(cartGroup.batchCode)">移除</a>
						</span>
					</div> -->
				<!-- </div> -->
			</div>
		</div>
	</div>

</div>
<div class="tool-bar" ng-if="cartExist" scroll-Bottom="35">
	<div class="row tool">
		<div class="col-xs-1" ng-model="all.isSelectTotal">
			<a ng-click="checkTotal()">
				<span ng-if="all.isSelectTotal">取消</span>
				<span ng-if="!all.isSelectTotal">全选</span>
			</a>
		</div>
		<div class="col-xs-2">
			<span><a ng-click="deleteBatches()">移除选中产品</a></span>
		</div>
		<div class="col-xs-2 cartNum">
			全部器件:<span ng-bind="countExist"></span>
		</div>
		<div class="col-xs-2 f14 text-bold text-num">
			已选数量：<span>{{getChoose() | number}}</span>
		</div>
		<div class="col-xs-3 padding-leri-zero">
			<span class="price col-sm-3 padding-leri-zero">总计:</span>
			<div class="text-num col-sm-9 padding-leri-zero">
				<div ng-repeat="(v, k) in totalMoneyInfo">
					<span ng-bind="v"></span>&nbsp;&nbsp;
					<span class="text-inverse f14 text-bold text-num" ng-bind="k||0 | number : 2"></span>
				</div>
			</div>
		</div>
		<div class="col-xs-2 pull-right">
			<button ng-click="submitOrder()" class="btn btn-primary">生成订单</button>
		</div>
	</div>
</div>
<div class="cartExist" ng-if="!cartExist">
	<div class="row">
		<div class="col-xs-4 text-right">
			<img src="static/img/icon/cart.png" height="75px">
		</div>
		<div class="col-xs-8">
			<br />
			<p class="f16">您的采购车空空如也，去挑选您想要采购的产品吧！</p>
			<p><a href="product#/home"><i class="fa fa-th-large fa-fw"></i> 按分类 >></a></p>
			<p><a href="product#/brandList"><i class="fa fa-diamond fa-fw"></i> 按品牌 >></a></p>
		</div>
	</div>
</div>
</div>
<!-- <div class="cart-float" ng-if="cartExist">
		<div class="tool-bar">
			<div class="row">
				<div class="col-xs-offset-1 col-xs-1">
					<input type="checkbox" ng-change="selectTotal(cart)" ng-model="$option.cart.isSelectTotal"  ng-if="cartIsSelect(cart)"><span>全选</span>
				</div>
				<div class="col-xs-2">
					<span><a ng-click="deleteBatches()">移除选中产品</a></span>
				</div>
				<div class="col-xs-2">
				全部器件:<span ng-bind="countExist"></span>
				</div>
				<div class="col-xs-offset-2 col-xs-2">
					<p class="color_orange">
						<span>总计： {{total(cart) | number}}</span>
					</p>
				</div>
				<div class="col-xs-2">
					<button ng-click="submitOrder()" class="btn btn-orange">生成订单</button>
				</div>
			</div>
		</div>
	</div> -->
<!-- 右侧产品详细信息  End-->