<style>
/* 进度条 */
.stepflex {
    display: block;
    border-top: -10px solid #ccc;
    text-align: center;
    margin: 30px 0 0;
}
.stepflex dl {
    float: left;
    position: relative;
    width: 160px;
    top: -15px;
    border-top: 5px solid #ccc;
}
.stepflex dl.doing {
    border-top-color: #7abd54;
}
.stepflex dl.doing .s-num {
    background-position: -23px 0;
}
.stepflex .s-text {
    color: #ccc;
}
.stepflex .s-text2 {
   color: #7abd54;
}
.stepflex .s-num{
    position: relative;
    margin: -15px auto 0;
    color: white;
    font-weight: 700;
    width: 23px;
    height: 23px;
    background-image: url(//misc.360buyimg.com/user/purchase/2.0.0/css/i/step2013.png);
    line-height: 23px;
}

/* 购买数量按钮  */
div.tableContainer table .changeNum {
	height: 30px;
}

/* 购物车标题 */
#cart-title {
	display: block;
	width: 124px;
	height: 36px;
	background-image: url(static/img/product/title-bg.png);
}

#icon-buycar {
	display: inline-block;
}

#cart {
	display: inline-block;
	font-size: 18px;
	font-family: '微软雅黑';
	color: white;
	margin-top: 8px;
}

/* 表格显示区域 */
div.tableContainer { 
	margin-left: 0;
	clear: both;
	height: 240px; 
	overflow: auto;
} 

div.tableContainer table { 
	display: block;
	width: 1036px;
	table-layout: fixed; 
	/* float: left; */
	border-collapse: collapse; 
	empty-cells: hide; 
}

div.tableContainer table>thead {
	display: block;
}

div.tableContainer table>thead.fixedHeader tr { 
	border-left: 2px solid #7da1ec;
	border-right: 2px solid #7da1ec;
	position: relative; 
} 

div.tableContainer table>thead.fixedHeader th { 
	color: white;
	font-size: 14px;
	height: 57px;
	font-family: '微软雅黑';
	font-weight: normal;
	background-image: url(static/img/product/title-higher-bg.png);
	border-top: 2px #7da1ec;
	border-left: 0;
	border-right: 1px #e0e2e3;
	border-bottom: 0;
	border-style: solid;
}

/* 请输入购买数量表头 */
div.tableContainer table #input-number {
	background-image: none;
	background-color: #a6f3a6;
	font-family: '微软雅黑';
	color: #3c3c3c;
	font-size: 14px;
}

/* 间隔  */
div.tableContainer table>thead>tr .blank {
	height: 57px;
	background-image: none;
	background-color: #e0e2e3;
	border-left: 2px #7da1ec;
	border-right: 2px #7da1ec;
	border-top: 2px #e0e2e3;
	border-bottom: 0;
	border-style: solid;
}

div.tableContainer table>tbody .blank {
	background-color: #e0e2e3;
	border-left: 2px #7da1ec;
	border-right: 2px #7da1ec;
	border-top: 0;
	border-bottom: 0;
	border-style: solid;
}

div.tableContainer table>tbody tr { 
	border-left: 2px solid #7da1ec;
	border-right: 2px solid #7da1ec;
}

div.tableContainer table>tbody>tr:last-child td{ 
	border-bottom: 2px solid #7da1ec;
}

div.tableContainer table>tbody>tr:last-child .blank{ 
	border-bottom: 2px solid #e0e2e3;
}

div.tableContainer table>tbody tr td {
	vertical-align: top;
	text-align: center;
	height: 36px;
	border-top: 1px #e0e2e3;
	border-left: 0;
	border-right: 1px #e0e2e3;
	border-bottom: 1px #e0e2e3;
	border-style: solid;
	font-family: '微软雅黑';
	font-size: 12px;
	width:100%;
}

/* 品牌、类别、型号 超过宽度隐藏，鼠标放置显示 */
div.tableContainer table>tbody>tr>td.overWidth div {
	width: 70px;
	word-break: keep-all;/* 不换行 */
	white-space: nowrap;/* 不换行 */
	overflow: hidden;/* 内容超出宽度时隐藏超出部分的内容 */
	text-overflow: ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
}

div.tableContainer table>tbody {
	height: 182px;
	overflow: auto;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
	border-style: solid;
	background-color: white;
	display: block;
}

div.tableContainer table>tbody>tr:HOVER {
	background-color: #e0eee1;
}


#buy-number {
	background-color: #07fc06; 
}

/* 输入购买数量td  */
div.tableContainer table>tbody .inputNum {
	background-color: #a6f3a6;
	padding-top: 0;
}

/* 输入购买数量框 */
div.tableContainer table .buyNum {
	border: 2px solid #a6f3a6;
}

/* 底部详情total */
div.total .total-left {
	font-size: 16px;
	font-family: '微软雅黑';
	line-height: 2;
	padding-top: 40px;
	padding-bottom: 20px;
	float: left;
}

div.total .total-right {
	font-size: 16px;
	font-family: ArialMT;
	color: red;
	line-height: 2;
	padding-top: 40px;
	padding-bottom: 20px;
	margin-left: 100px;
	float: left;
}

/* 生成订单区域 */
#btn-order {
	clear: both;
	background-color: #f1f1f1;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-left: -120px;
	margin-right: -80px;
}

/* 生成订单按钮 */
#button-order {
	margin-left: 120px;
	outline: none;
	width: 158px;
	height: 50px;
	background-image: url(static/img/product/cart/btn-order.png);
}

#button-order:hover {
	background-image: url(static/img/product/cart/btn-order-hover.png);
}

/* 全选框  */
div.tableContainer table #selectAll {
	-webkit-appearance: none;
	appearance: none;
	width: 12px;
	height: 12px;
	margin: 0;
	cursor: pointer;
	vertical-align: bottom;
	background-image: url(static/img/product/cart/btn-select-all.png);
	outline: none;
}

div.tableContainer table #selectAll:hover {
	background-image: url(static/img/product/cart/btn-select.png);
}

div.tableContainer table #selectAll:checked {
	background-image: url(static/img/product/cart/btn-select.png);
}

/* 单条选择框 */
div.tableContainer table #selectOne {
	-webkit-appearance: none;
	appearance: none;
	width: 16px;
	height: 16px;
	margin: 0;
	cursor: pointer;
	vertical-align: bottom;
	background-image: url(static/img/order/check-unselect.png);
	outline: none;
}

div.tableContainer table #selectOne:hover {
	background-image: url(static/img/order/check-select.png);
}

div.tableContainer table #selectOne:checked {
	background-image: url(static/img/order/check-select.png);
}

/* 全删  */
div.tableContainer table #deleteAll {
	-webkit-appearance: none;
	appearance: none;
	width: 12px;
	height: 12px;
	margin: 0;
	cursor: pointer;
	vertical-align: bottom;
	background-image: url(static/img/product/cart/icon-delete-all.png);
	outline: none;
}

div.tableContainer table #deleteAll:hover {
	background-image: url(static/img/product/cart/btn-delete.png);
}

div.tableContainer table #deleteAll:checked {
	background-image: url(static/img/product/cart/btn-delete.png);
}

/* 删除一条 */
div.tableContainer table #deleteOne {
	-webkit-appearance: none;
	appearance: none;
	width: 12px;
	height: 12px;
	margin: 0;
	cursor: pointer;
	vertical-align: bottom;
	background-image: url(static/img/product/cart/icon-delete.png);
	outline: none;
}

div.tableContainer table #deleteOne:hover {
	background-image: url(static/img/product/cart/btn-delete.png);
}

div.tableContainer table #deleteOne:checked {
	background-image: url(static/img/product/cart/btn-delete.png);
}

/* 重要内容红色显示 */
div.tableContainer table .important {
	color: red;
	text-align: center;
}


/*********************表格内容大小限制start*******************/
/*全选框  th和td*/
div.tableContainer table .selectAllWidth{
	width: 45px;
}

div.tableContainer table .status{
	width: 47px;
	position: relative;
}

.status-sel {
	position: absolute;
    background-color: white;
    width: 39px;
    top: 56px;
    opacity: 1;
    color: black;
    z-index: 5;
}

ul.status-sel li:HOVER {
	background-color: #e4e4e4;
	cursor: pointer;
}

ul.status-sel li {
	line-height: 20px;
}

.disabled-color {
	background-color: #e0eee1;
}

.selectAllWidth div {
	display: inline-block;
}

/*序号  th和td*/
div.tableContainer table .indexWidth {
	width: 50px;
}

/*输入购买数量  th和td*/
div.tableContainer table .inputNumWidth{
	width: 80px;
}

/*间隔  th和td*/
div.tableContainer table .blankWidth {
	width: 8px;
}

/*总额  th和td*/
div.tableContainer table .sumMoneyWidth {
	width: 80px;
}

/*型号  th和td*/
div.tableContainer table .cmpWidth {
	width: 110px;
	word-break: break-word;
}

/*类目  th和td*/
div.tableContainer table .kindWidth {
	width: 110px;
	word-break: break-word;
}

/*品牌  th和td*/
div.tableContainer table .brandWidth {
	width: 80px;
}

/*库存量  th和td*/
div.tableContainer table .reserveWidth {
	width: 60px;
}

/*包装  th和td*/
div.tableContainer table .packWidth {
	width: 40px;
}

/*单价  th和td*/
div.tableContainer table .unitpriceWidth {
	width: 90px;
	background-color: #a6f3a6;
    background-image: url() !important;
    position: relative;
}

/*最小包装量  th和td*/
div.tableContainer table .minPackWidth {
	width: 43px;
}

/*最小购买量  th和td*/
div.tableContainer table .minBuyWidth {
	width: 43px;
}

/*大陆交货期  th和td*/
div.tableContainer table .deliveryMainWidth {
	width: 70px;
}

/*香港交货期  th和td*/
div.tableContainer table .deliveryHKWidth{
	width: 50px;
}

/*生产日期  th和td*/
div.tableContainer table .produceDateWidth {
	width: 70px;
}

/*全删  th和td*/
div.tableContainer table .deleteAllWidth {
	width: 36px;
}

.padding-top-bottom-5 {
	padding-bottom: 5px;
	padding-top: 5px;
}

tbody tr td {
    vertical-align: middle !important;
}

.vertical-align-top {
	vertical-align: text-top;
}

.rmbprice-back-color{
	background-color: #7dd17d;
}

.usdprice-back-color {
	background-color: #a6f3a6;
}

.height-100 {
	height: 100%;
}

.height-full {
	height: 100%;
	vertical-align: middle !important;
    text-align: center;
    line-height: 35px;
}

.height-half {
	height: 50%;
}

.currency-sel {
	width: 90px;
	left: 0px;
	top: 57px;
	position: absolute;
	z-index: 10;
	background-color: white;
    color: black;
    padding: 10px 0px;
}

.currency-sel > li {
	line-height: 25px;
}

.currency-sel > li:HOVER {
	background-color: #e4e4e4;
	cursor: pointer;
}

.width-80 {
	width: 60px;
	display: inline-block;
}

.width-20 {
	width: 20px;
	display: inline-block;
}

.font-weight-700 {
	font-weight: 700;
}

.color-black {
	color: #3c3c3c !important;
}

.disabled {
	background-image: url(static/img/order/check-unselect.png) !important;
}

.deleteAllWidth  i:HOVER {
	transform: scale(2);
}

.font-size-12 {
	font-size: 12px !important;
}

.margin-bottom-5 {
	margin-bottom: 5px;
}

span.search {
	background-color: #5078cb;
    color: white;
}

span.search:HOVER {
	background-color: #f39800;
	cursor: pointer;
}
/*********************表格内容大小限制end*******************/

</style>

<!-- 进度条  Start-->
<div ng-if="cartExist" class="stepflex" id="#sflex03">
	<dl class="normal doing">
		<dt class="s-num" style="color: white;">1</dt>
		<dd ng-class="{'s-text2':orderResult,'s-text':!orderResult}">
			1.我的购物车<s></s>
		</dd>
	</dl>
	<dl class="first done">
		<dt class="s-num">2</dt>
		<dd class="s-text">
			2.填写核对订单信息<s></s>
		</dd>
	</dl>
	<dl class="normal last">
		<dt class="s-num">3</dt>
		<dd class="s-text">
			3.成功提交订单<s></s>
		</dd>
	</dl>
</div>
<!-- 进度条  End-->
<!-- 购物车详细信息  Start-->
<div style="clear: both;"></div>
<div class="row" ng-if="cartExist">
	<div class="col-xs-offset-6 col-xs-4">
		<div class="input-group col-xs-12">
			<input class="form-control" type="search" ng-model="product.keyword" placeholder="输入搜索类目、品牌、器件">
			<span class="form-control-feedback text-simple"><i class="fa fa-search"></i></span>
		</div>
	</div>
</div>
<div>
	<div ng-if="cartExist" id="cart-title">
		<div id="icon-buycar"><img src="static/img/product/cart/icon-buycar.png"></div>
		<div id="cart">购物车确认</div>
	</div>
	<div class="cart-content">
		<div ng-if="cartExist" class="row tableContainer">
			<table>
				<thead class="fixedHeader">
					<tr>
						<th class="text-center selectAllWidth">
							<!-- <input id="selectAll" title="全选" type="checkbox" ng-click="checkTotal()" ng-checked="all.isSelectTotal">RMB<br/>
							<input id="selectAll" title="全选" type="checkbox" ng-click="checkTotal()" ng-checked="all.isSelectTotal">USD -->
							批次<br/>序号
						</th>
						<th class="text-center status">
							状态<br/>
							<div ng-switch on="basic.status">
								(<span ng-switch-when='1'>有效</span>
								<span ng-switch-when='0'>失效</span>
								<span ng-switch-default>全部</span>)
							</div>
							<div class="width-20"><i ng-click="showDrop('selectStatus')" class="fa fa-2x" ng-class="{true:'fa-caret-down', false:'fa-caret-up'}[!selectStatus]"></i></div>
							<ul ng-show="selectStatus" class="list-unstyled status-sel">
								<li ng-click="selectSta(1)">有效</li>
								<li ng-click="selectSta(0)">失效</li>
							</ul>
						</th>
						<th class="text-center inputNumWidth" id="input-number">请输入<br/>采购数量</th>
						<th class="text-center sumMoneyWidth">产品<br/>总金额</th>
						<th class="blank blankWidth"></th>
						<th class="text-center cmpWidth">产品</th>
						<th class="text-center kindWidth">类目</th>
						<th class="text-center brandWidth">品牌</th>
						<th class="text-center reserveWidth">库存<br/>数量</th>
						<th class="text-center unitpriceWidth color-black">
							<div class="width-80">选择<br/>单价</div>
							<div class="width-20"><i ng-click="showDrop('selectCurrency')" class="fa fa-2x" ng-class="{true:'fa-caret-down', false:'fa-caret-up'}[!selectCurrency]"></i></div>
							<div ng-if="totalMoneyInfo.currencyName">(
								<span ng-switch on="totalMoneyInfo.currencyName">
									<span ng-switch-when="RMB">RMB</span>
									<span ng-switch-when="USD">USD</span>
									<span ng-switch-default>币别</span>
								</span>
							)</div>
							<ul ng-show="selectCurrency" class="list-unstyled currency-sel">
								<li ng-click="selectCurr('RMB')">RMB</li>
								<li ng-click="selectCurr('USD')">USD</li>
							</ul>
						</th>
						<th class="text-center deliveryMainWidth">收货地<br/>交期（天）</th>
						<th class="blank blankWidth"></th>
						<th class="text-center packWidth">包装</th>
						<th class="text-center minPackWidth font-size-12">最小<br/>包装数</th>
						<th class="text-center minBuyWidth font-size-12">最小<br/>采购量</th>

						<th class="text-center produceDateWidth">生产日期</th>
						<th class="text-center deleteAllWidth">
							<div class="margin-bottom-5">全删</div>
							<a href="javascript:void(0)" title="清空购物车" ng-click="deleteAll(cartGroup.uu)">
									<i class="fa fa-close text-danger"></i>
							</a>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="cartGroup in cartView[0] | filter : cartFilterCurrency | filter : cartFilterStatus" ng-class="{'disabled-color' : !cartGroup.isActive}">
						<!-- 选择  -->
						<td class="selectAllWidth">
							<div class="text-center">
								<input type="checkbox" title="勾选当前产品" ng-class="{'disabled': !cartGroup.isActive}" ng-disabled="!cartGroup.isActive" ng-click="checkSelect(cartView[0], cartGroup)" id="selectOne" ng-model="cartGroup.isSelect">
							</div>
							<div class="vertical-align-top">{{$index+1}}</div>
						</td>
						<td class="text-center status">
							<span ng-if="cartGroup.isActive">有效</span>
							<span ng-if="!cartGroup.isActive">失效</span>
						</td>
						<td class="important inputNum inputNumWidth">
				   			<div class="input-group buyNum input-group-xs">
							  <input type="text" ng-pattern="/^\d+$/" required class="form-control input-sm important" value="cartGroup.number"
							  	 ng-model="cartGroup.number" ng-blur="changeNum(cartGroup)" ng-change="maxNum(cartGroup)">
							</div>
						</td>
 						<td class="important sumMoneyWidth" >
							<div class="text-center font-weight-700 height-100">
								<div ng-switch="totalMoneyInfo.currencyName" class="height-100">
									<div class="height-100">
										<div class="height-half text-left" ng-if="(!totalMoneyInfo.currencyName || totalMoneyInfo.currencyName == 'RMB')&&cartGroup.RMBCount">￥<span ng-bind="cartGroup.RMBCount||0 | number"></span></div>
										<div class="height-half text-right" ng-if="(!totalMoneyInfo.currencyName || totalMoneyInfo.currencyName == 'USD')&& cartGroup.USDCount">$<span ng-bind="cartGroup.USDCount||0 | number "></span></div>
									</div>
								</div>
							</div>
						</td>
						<td class="blank blankWidth"></td>
						<td class="cmpWidth">
							<div class="text-center">
								<a class="important" title="{{cartGroup.code}}" href="product#/component/{{cartGroup.uuid}}/" target="_blank">{{cartGroup.code}}</a
							</div>
						</td>
						<td class="kindWidth"><div class="text-center" title="{{cartGroup.kiName}}">{{cartGroup.kiName}}</div></td>
						<td class="brandWidth overWidth"><div class="text-center" title="{{cartGroup.brName}}">{{cartGroup.brName}}</div></td>
						<td class="reserveWidth"><div class="text-center">{{cartGroup.goods.reserve || 0}}</div></td>
						<td class="unitpriceWidth">
				        	<div class="text-center height-100 f14">
				        		<div  class="text-left rmbprice-back-color height-half">
				        			<span ng-show="cartGroup.rMBPrice&&(totalMoneyInfo.currencyName=='RMB' || !totalMoneyInfo.currencyName)">￥{{cartGroup.rMBPrice | number:6}}</span>
				        		</div>
				        		<div  class="text-right usdprice-back-color height-half">
				        			<span ng-show="cartGroup.uSDPrice&&(totalMoneyInfo.currencyName=='USD' || !totalMoneyInfo.currencyName)">${{cartGroup.uSDPrice | number:6}}</span>
				        		</div>
				        	</div>
						</td>
						<td class="deliveryMainWidth">
							<div class="text-center">
								<div ng-if="!totalMoneyInfo.currencyName && cartGroup.goods.b2cMinDelivery">交期&nbsp;{{cartGroup.goods.b2cMinDelivery}}-{{cartGroup.goods.b2cMaxDelivery}}</div>
							</div>
						</td>
						<td class="blank blankWidth"></td>
						<td class="packWidth"><div class="text-center">{{cartGroup.goods.packaging || '托盘'}}</div></td>
						<td class="minPackWidth"><div class="text-center">{{cartGroup.goods.minPackQty || "-"}}</div></td>
						<td class="minBuyWidth"><div class="text-center">{{cartGroup.goods.minBuyQty || "-"}}</div></td>

						<td class="produceDateWidth"><div class="text-center" ng-bind="cartGroup.goods.produceDate"></div></td>
						<!-- 删除  -->
						<td class="deleteAllWidth">
							<div class="text-center">
								<a href="javascript:void(0)" title="删除" ng-click="deleteBatch(cartGroup)">
									<i class="fa fa-close text-danger"></i>
								</a>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="total" ng-if="cartExist">
	<div class="total-left" >
		<div>货源批次数:</div>
		<div>已选型号:</div>
		<div>已选产品数：</div>
		<div>金额总计：</div>
		<div>税额：</div>
	</div>
	<div class="total-right">
		<div>
			<span>{{batchChoose() | number}}批</span>
		</div>
		<div>
			<span>{{compChoose() | number}}种</span>
		</div>
		<div>
			<span>{{getChoose() | number}}PCS</span>
		</div>
<!-- 		<div ng-repeat="(v, k) in totalMoneyInfo" style="display: inline-block;">
			<span ng-bind="k||0 | number : 2"></span>
			<span ng-bind="v"></span>
		</div> -->
		<div ng-switch on="totalMoneyInfo.currencyName" style="display: inline-block;">
			<div ng-switch-when="RMB">￥&nbsp;<span ng-bind="totalMoneyInfo.RMBTotal  | number : 2"></span></div>
			<div ng-switch-when="USD">$&nbsp;<span ng-bind="totalMoneyInfo.USDTotal  | number : 2"></span></div>
			<div ng-switch-when="RMB-USD">
				$&nbsp;<span ng-bind="totalMoneyInfo.USDTotal | number : 2"></span>
				￥&nbsp;<span ng-bind="totalMoneyInfo.RMBTotal | number : 2"></span>
			</div>
		</div>
		<div ng-repeat="(y, x) in totalTaxes">
			<span ng-bind="x||0 | number : 2"></span>
			<span ng-bind="y"></span>
		</div>
	</div>
</div>
<!-- 生成订单按钮 -->
<div ng-if="cartExist" id="btn-order">
	<button id="button-order" class="btn btn-default" ng-click="submitOrder()"></button>
</div>

<div style="margin-top: 50px;" class="cartExist" ng-if="!cartExist">
	<div class="row">
		<div class="col-xs-4 text-right">
			<img src="static/img/icon/cart.png" height="75px">
		</div>
		<div class="col-xs-8">
			<br />
			<p class="f16">您的采购车空空如也，去挑选您想要采购的产品吧！</p>
			<p><a href="product#/home"><i class="fa fa-th-large fa-fw"></i> 按分类 >></a></p>
			<p><a href="product#/brandList"><i class="fa fa-diamond fa-fw"></i> 按品牌 >></a></p>
		</div>
	</div>
</div>
<!-- 购物车详细信息  End-->