<style>
#operationManual {
	font-size: 14px;
	line-height: 20px;
}

#operationManual .head {
	font-weight: 600;
}

#operationManual img {
	margin-top: 5px;
	margin-bottom: 5px;
}

#operationManual .part .section {
	margin-top: 10px;
	margin-bottom: 10px;
}

#operationManual .part p {
	margin-top: 5px;
	margin-bottom: 5px;
}

#operationManual .part .title-2 {
	margin-top: 10px;
}

#operationManual .section {
	margin-top: 10px;
	margin-bottom: 10px;
}

#operationManual .notice ul > li {
	text-indent: 2em;
}

.display-buy-seller a {
	margin-right: 20px;
}

.selected {
	background-color: #ffcee7;
    padding: 5px 10px;
    border-radius: 6px;
}
</style>
<div id="operationManual">
	<h4 class="head">操作指南</h4>
	<div class="display-buy-seller">
		<a ng-click="see('Buyer')" ng-class="{'selected':status =='Buyer'}">关于买家</a><a ng-click="see('Seller')" ng-class="{'selected':status =='Seller'}">关于卖家</a>
	</div>
	<div class="content">
		<div class="part" ng-if="status == 'Buyer'">
			<h4>买家正常交易流程详解</h4>
			<div class="section">
				<div class="title">1.注册商城会员（mall.ubtob.com或者通过www.ubtob.com进入优软商城）</div>
				<p>点击“免费注册”，填写完整注册企业信息提交，收到商城激活邮件后需在24小时内激活帐号，否则需要重新提交注册资料审核<span class="text-inverse">（激活时确认商城账号登录密码）</span></p>
				<img alt="登录" src="static/img/product/manual-login.png"><br/>
				<img alt="注册" src="static/img/product/manual-register.png">
			</div>
			<div class="section">
				<div class="title">2.查询物料及其库存等信息</div>
				<div class="section">
					<p>
						<div>2.1通过多级目录或者搜索框查询物料</div>
						搜索框搜索可进行分类型搜索，如搜呆滞库存，搜常备库存，搜品牌等。
					</p>
					<img alt="查找物流" src="static/img/product/manual-find-product.png">
				</div>
				<div class="section">
					<p>2.2找到所需物料或者相似物料，可在所示页面进行详细选型，点击向下的箭头可按照标题栏提示筛选各项数据及进行相应的操作，立即购买或者加入购物车</p>
					<img alt="产品列表" src="static/img/product/manual-product-list.png">
				</div>
			</div>
			<div class="section">
				<div class="title">3．购买产品（未付款或者完成付款后均会自动跳转到订单跟踪页，订单跟踪页在【买家中心】中查看，即采购订单管理）</div>
				<div class="section">
					<p>3.1.购买单个型号产品→点击购买后跳转进入订单确认页，分别把相关信息填写完整<br/>
						①选择在线支付（包括支付宝、微信支付、网银支付）后，点击【确认付款】后自动跳转至付款选择界面；<br/>
						②选择线下支付，点击【确认付款】，弹出对话框，要求上传水单；上传成功后，订单进入订单跟踪页的“待付款”状态，交易操作显示为“待优软收款”；当商城确认收款后，订单进入“待发货”状态，商城安排发货。
					</p>
					<img alt="订单确认" src="static/img/product/manual-order-ensure.png">
				</div>
				<div class="section">
					<p>3.2.购买多个型号→把需要购买型号加入购物车后，勾选需要购买的型号（购物车确定型号和数量，筛选币别）→点击生成订单，进行一次性结算</p>
					<img alt="生成订单" src="static/img/product/manual-add-cart.png">
					<p>点【生成订单】后跳转进入订单确认页面，分别把相关信息填写完整<br/>
					   ①选择在线支付（包括支付宝、微信支付、网银支付）后，点击【确认付款】后自动跳转至付款选择界面；<br/>
					   ②选择线下支付，点击【确认付款】，弹出对话框，要求上传水单；上传成功后，订单进入订单跟踪页的“待付款”状态，交易操作显示为“待优软收款”；当商城确认收款后，订单进入“待发货”状态，商城安排发货
					</p>
					<img alt="订单确认" src="static/img/product/manual-create-order.png">
					<div>付款后，即完成订购，只需耐心等待商城发货。相关信息均可在买家中心查看。</div>
					<div class="notice">
						特别说明：<br />
						①	状态切换说明<br/>
						<ul class="list-unstyled">
							<li>待付款：包含已确认未付款、未确认未付款订单；</li>
							<li>待发货：当在线支付成功以及商城确认收到买家线下转账货款，订单从“待付款”状               态进入“待发货”状态</li>
							<li>待收货：当商城发货后，订单从“待发货”状态进入“待收货”状态；</li>
							<li>已收货：当买家签收货后，并在“待收货”状态点击【确认收货】，则订单从“待收货”状态进入“已收货”状态；</li>
							<li>已完成：当收货10个自然日后，订单从“已收货”状态进入“已完成”状态</li>
							<li>已失效：当超期未付款，取消订单，及全部退货时，订单为“已失效”状态</li>
						</ul>						
						②	 “已完成”及“已失效”状态下的订单，商城均不提供任何售后服务；<br/>
						
						③	当在订单确认页点击过【确认付款】，即提交过订单，却没有马上付款，后续可在48小时内在订单跟踪页的“待付款”状态下找到此订单点击【确认付款】进行付款；超48小时内未付款，订单自动失效； <br/>
						
						④	未提交过订单的，则会显示【确认订单】，点击即可进入订单确认页，确认订单信息后进行付款；<br/>
					</div>
				</div>
			</div>
			<div class="section">
				<div class="title">订单跟踪页</div>
				<img alt="生成订单" src="static/img/product/manual-order.png">
			</div>
		</div>
		<div class="part" ng-if="status == 'Seller'">
			<h4>卖家销售流程详解</h4>
			<div class="section">
				<div class="title">1.上架产品</div>
				<div class="section">
					<div class="title-2">1.1 申请新品牌入库</div>
					<div class="step">
						<p>第一步：在登入状态，进入卖家中心，点击【新品建档】，再点击【申请品牌】。</p>
						<img src="static/img/product/manual-apply-brand.png">
					</div>
					<div class="step">
						<p>第二步：页面跳转至填写品牌基本信息及应用信息，填完并确认无误后，点击【确认无误，提交】。</p>
						<img src="static/img/product/manual-brand-ensure.png">
					</div>
					<div class="step"><p>第三步：页面自动跳转为我的品牌维护历史界面，请您耐心等待商城人员审核。</p></div>
				</div>
				<div class="section">
					<div class="title-2">1.2 申请新标准元器件入库</div>
					<p>若您需要的元器件原厂型号在优软商城没有找到，您可以申请标准器件入库。有则可省略该步骤。</p>
					<p>元器件申请流程如下：</p>
					<div class="step">
						<p>第一步：在登入状态，进入卖家中心，点击【新品建档】，再点击【标准器件申请】</p>
						<img src="static/img/product/manual-component-apply.png">
					</div>
					<div class="step">
						<p>第二步：填写元器件基本信息</p>
						<p>页面跳转至填写器件基本信息界面,请您填写”所属分类、”器件品牌”、”器件原厂型号”、”包装方式”等相关信息带<span class="text-inverse">*</span>为必填。</p>
						<img src="static/img/product/manual-fill-component.png">
					</div>
					<div class="step">
						<p>第三步：填写元器件参数値</p>
						<p>页面跳转至填写元器件参数値基本信息界面，完成元器件参数値，确认无误后点击【提交】。</p>
					</div>
				</div>
				<div class="section">
					<div class="title-2">1.3标准器件批量申请</div>
					<p>进入标准器件的批量申请的页面</p>
					<div class="step">
						<p>1.点击批量申请标准器件</p>
						<img src="static/img/product/manual-batch-apply-component.png">
						<p>进入填写标准器件信息的页面</p>
						<img src="static/img/product/manual-batch-fill-component.png">
						<p>
							方法一：可以直接填写一级二级三级类目跟原厂官网产品目录下产品类表页网址，填完后，点直接提交按钮。<br/>
							方法二：可直接下载表格按钮，把表格下载下来填写完后，点选择文件，选择刚填写好的表格，点击确认上传按钮即可。	
						</p>
					</div>
				</div>
				<div class="section">
					<div class="title-2">1.4 批量发布产品</div>
					<div>进入【批量发布库存页面】</div>
					<div class="step">
						<p>1.点击“下载Excel模板”。点击查看表格示例，可查看表格填写的格式。</p>
						<img src="static/img/product/manual-batch-publish.png">
						<p>在表格中填写“中文产品品牌”“英文产品品牌”、“产品型号”、“库存类型”、“库存数量”“发布库存数量”、“样品数”、“最小包装数量”、“RMB(含17%税）最小包单价”、“USD最小包单价”、“产品生产日期”、“交大陆交期（天）”、“交香港交期（天）”、“分段数量1（≥xxx）”、“RMB
						         分段价格1”、“USD分段价格1”、“分段数量2（≥xxx）”、“RMB分段价格2”、“USD分段价格2”、“分段数量3(≥xxx)”、“RMB分段价格3”、“USD分段价格3”、“备注”等信息后保存表格。提示：红色为必填项；
						</p>
					</div>
					<div class="step">2.点击“选择文件”，上传您已经填写完成的Excel文件，点击“上传库存信息”；</div>
					<div class="step">
						<p>3. 上传匹配成功后，点击“批量发布”发布你需要发布的产品。</p>
						<img src="static/img/product/manual-batch-publish-goods.png">
					</div>
					<div class="step">
						<p>4.点击“批量发布”，即可提示“发布成功”。</p>
						<img src="static/img/product/manual-batch-publish-success.png">
					</div>
					<div class="step">
						<p>5.下载批量发布匹配不成功的型号列表。</p>
						<p>上传过程中，与系统匹配不成功的型号会自动生产“匹配不成功的产品列表”，并且文件中包含验证不通过的原因，修改完删除错误信息再可重新上传。</p>
					</div>
				</div>
			</div>
			<div class="section">
				<div class="title">2. 交易流程</div>
				<div class="section">
					<div class="title-2">2.1	全部订单</div>
					<div>订单状态上面都有一个订单搜索功能,以便您最快找到你想找的订单信息。点击【下单时间】下拉框可查看：近30天、近90天，90天以上的订单信息。</div>
					<img src="static/img/product/manual-purchase-all.png">
				</div>
				<div class="section">
					<div class="title-2">2.2	意向订单</div>
					<div>订单状态切换：意向订单是指商城自动生成给卖家的意向采购订单，表示采购意向，但因买家未付款而未正式生效，可能失效的订单。点击查看详情，可查看订单详情；</div>
					<img src="static/img/product/manual-purchase-tobeComfirmed.png">
				</div>
				<div class="section">
					<div class="title-2">2.3	待发货</div>
					<div>订单状态切换：当商城确认收款后，意向订单 自动转为 待发货订单。</div>
					<img src="static/img/product/manual-purchase-tobesend.png">
					<div>点击【填写物流】填写送货至优软商城的快递单号及物流公司名称，并确认商城收货信息，发货信息，配送方式及相关快递费，如下图：</div>
					<div class="notice">
						发货须知：
						<ul class="list-unstyled">
							<li>①	卖家承担产品从卖家到买家的所有运费（包括卖家自身发货到商城的运费，商城发货到买家的运费）；为第三方物流公司送货</li>
							<li>②	物流费用币种必须与交易币种一致。</li>
						</ul>
					</div>
					<img src="static/img/product/manual-vendor-sending.png">
				</div>
				<div class="section">
					<div class="title-2">2.4	待收货</div>
					<div>订单状态切换：当卖家确认发货信息后，待发货订单 自动转为 待收货订单；</div>
				</div>
				<div class="section">
					<div class="title-2">2.5	待收款</div>
					<p>订单状态切换：商城确认收货后，待收货订单  自动转为 待收款订单</p>
					<div class="notice">
						<div>
							待收款须知：
							<ul class="list-unstyled">
								<li>①	优软商城确认收货后，订单从【待收货】状态自动转为【待收款】状态。</li>
								<li>②	待收款16个自然日后，优软可为卖家结款，即当优软商城收到卖家的发票后，3个工作日内将安排付款给卖家。</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="section">
					<div class="title-2">2.6	已完成</div>
					<p>订单状态切换：商城给卖家结款后，订单自动从【待收款】状态  转为 【已完成】状态。</p>
				</div>
				<div class="section">
					<div class="title-2">2.7	已失效</div>
					<p>订单状态切换：当买家或者卖家发起取消订单、拒绝发货时，订单转为 已失效订单。</p>
				</div>
			</div>
		</div>
	</div>
</div>