<style type="text/css">
/* 订单状态
------------------------------------ */
.state {
    margin: 30px 0 0;
    text-align: center;
}
.state dl {
    float: left;
    width: 160px;
    border-top: 5px solid #ccc;
}
.state dl .s-num{
    margin: -15px auto 0;
    color: white;
    font-weight: 700;
    width: 23px;
    height: 23px;
    background-image: url(//misc.360buyimg.com/user/purchase/2.0.0/css/i/step2013.png);
    line-height: 23px;
}
.state dl.doing {
    border-top-color: #7abd54;
}
.state dl.doing .s-num {
    background-position: -23px 0;
}
.state .s-text {
    color: #ccc;
}
.state .s-text2 {
    color: #7abd54;
}

/* general
------------------------------------ */
/* 垂直居中 */
.vertical-align-container::BEFORE {
	width: 0.1%;
	content: " ";
	height: 100%;
}
.vertical-align-container > * {
	display: inline-block;
	vertical-align: middle;
}

/* ::: 标题 ::: */
.order-section-title {
	position: relative;
	background-image: url("static/img/product/title-bg.png");
	width: 124px;
	height: 36px;
	font-size: 18px;
	color: rgb(255, 255, 255);
}
.order-section-title > div {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 8px;
}
.order-section-title > div img {
	margin-right: 5px;
	vertical-align: center;
}

/* ::: 箭头 ::: */
.u-caret-position {
	float: right;
	margin-top: 15px;
	margin-right: 15px;
}
/* ::: 下拉列表，父元素必须relative ::: */
.u-dropdown {
	position: absolute;
	top: 0%;
	width: 100%;
	background: white;
	z-index: 99;
}

.u-dropdown-body {
	width: 100%;
	min-height: 80px;
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	margin-bottom: 0px;
}
.u-dropdown-body > li {
	list-style: none;
}
.u-dropdown-body > li:first-child {
	margin-top: 5px;
}
.u-dropdown-body > li > div {
	padding: 10px 5px;
	text-align: center;
	list-style: none;
}
.u-dropdown-body > li > div:hover {
	cursor: pointer;
	background-color: #f5f5f5;
	color: #333;
}
.u-dropdown-body > li.disabled > div {
	color: #777;
}
.u-dropdown-body > li.disabled > div:hover {
	cursor: not-allowed;
	background-color: transparent;
}

/* 提示框 */
.callout {
	position: absolute;
	border: 1px solid #dddddd;
	background-color: white;
	box-shadow: 5px 5px 5px #E2E3E4;
	color: hsl(0, 100%, 50%);
	border-radius: 3px;
	padding: .3em .7em;
	z-index: 10;
}
.callout::before {
	content: "";
	position: absolute;
	top: -.4em; left: 1em;
	padding: .35em;
	background: inherit;
	border: inherit;
	border-right: 0;
	border-bottom: 0;
	transform: rotate(45deg);
}
.callout-container {
	position: relative;
}

.u-cancle, .add-to-cart {
	width: 15px;
	height: 15px;
}

/* 产品确认
------------------------------------ */
.product-confirm {
	background-color: hsl(210, 3%, 89%);
	box-shadow: 8px 0px 5px #E2E3E4;
	box-shadow: 0 7px 0 0 hsl(210, 3%, 89%);
	margin-bottom: 20px;
	max-height: 22em;
    overflow-y: auto;
}
.order .table {
	margin-bottom: 0px;
	background-color: #fff;
}
.order table > thead > tr > th {
	height: 57px;
	color: rgb(255, 255, 255);
	font-size: 14px;
	background-image: url("static/img/product/title-higher-bg.png");
	padding: 0px;
	vertical-align: middle !important;
	text-align: center;
	font-weight: normal; /* 400 */
}
.order .table > tbody > tr > td,
.order .table > tfoot > tr > td {
	height: 37px;
	/* padding: 0px;
	vertical-align: middle; */
}

.order .bordered {
	/* border: 1px solid #7da1ed; */
}
/*清除bootstrap默认table的边框样式*/
.order .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
	border-top: none;
}
.order .table>thead>tr>th {
	border-bottom: none;
}

/*之前写的表格间距样式,现在改为使用抽取到common.css的before-blank样式*/
/*
.bordered th,
.bordered td {
  border: 1px solid #dddddd;
}
.bordered th.blank,
.bordered td.blank {
  	width: 5px;
  	border: 1px solid #E2E3E4;
	border-right: 1px solid #1BA5F8;
    background: hsl(210, 3%, 89%) none;
}
.bordered th.before-blank,
.bordered td.before-blank {
  	border-right: 1px solid #1BA5F8;
}
*/
table .before-blank, .table-bordered>tbody>tr>td.before-blank, .table-bordered>tbody>tr>th.before-blank, .table-bordered>tfoot>tr>td.before-blank, .table-bordered>tfoot>tr>th.before-blank, .table-bordered>thead>tr>td.before-blank, .table-bordered>thead>tr>th.before-blank {
    border-right: 13px solid #eee;
}

.select-currency {
	position: relative;
	padding: 0px;
}
.select-currency > div:first-child * {
     vertical-align: middle;
 }
.select-currency > div.choose-currency {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background: white;
	z-index: 198;
	color: black;
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.select-currency .u-dropdown-body {
	min-height: initial;
}
.select-currency > div.choose-currency .u-dropdown-body {
	margin-bottom: 0px !important;
}

.th-enter-buy-num {
	background: #00FF1F;
	color: black;
}
.enter-buy-num {
	width: 120px;
	height: 35px;
	/* background-image: url("static/img/product/enter-buy-num.png"); */
	background-color: #00FF1F;
	padding: 0.1em 0.15em !important;
	color: hsl(0, 100%, 50%);
	font-size: 14px;
	/*position: relative;*/
}
.enter-buy-num .input-group-btn {
	background-color: white;
}
.enter-buy-num .input-group-sm>.input-group-btn>.btn {
	border-radius: 0;
}

.enter-buy-num .callout {
	/*left: 35px; top: 35px;*/
}
.enter-buy-num .callout > div {
	text-align: left;
}

.order .form-control {
	color: hsl(0, 100%, 50%);
	text-align: center;
}
.order .operation {
	width: 80px;
}
.order .operation:hover {
	cursor: pointer;
}

/* 物流确认
------------------------------------ */
.logistics-confirm {
	box-shadow: 8px 0px 5px #E2E3E4;
	background-color: #E2E3E4;
	padding-bottom: 7px;
	margin-bottom: 20px;
    vertical-align: top;
}
.receiving-info, .buyer-delivery-freight{
	display: inline-block;
}
.buyer-delivery-freight > table {
    height: 125px;
}

.receiving-info {
	width: 65%;
	margin-right: 1%;
	position: relative;
}
.receiving-info tbody tr {
	height: 67px;
}
.buyer-delivery-freight {
    width: 33.6%;
}
.buyer-delivery-freight table tbody tr td > div {
    min-height: 50px;
}

.receiving-info-dropdown {
    position: absolute;
    top: 57px;
    width: 100%;
    min-height: 100px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    padding-bottom: 5px;
    max-height: 350px;
    overflow: auto;
}
.receiving-info-dropdown-add-address {
	padding: 1.2em;
	text-align: center;
	position: relative;
    border-right: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
}
.receiving-info-dropdown-item {
	margin:-1px auto;
	text-align: left;
	position: relative;
	height: 74px;
}
.receiving-info-dropdown-item:hover {
	cursor: pointer;
	background-color: #f5f5f5;
	color: #333;
}
/* ::: 收货单位、收货地址、收货人 ::: */
.receiving-info-dropdown-item > div {
	position: relative;
	height: 100%;
}
.receiving-info-dropdown-item > div > div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: left;
	width: 80%;
	line-height: 20px;
}
.receiving-info .receiving-info-dropdown-item .receiving-company > div {
	text-align: center;
}
.dropdown-edit-delete > div {
	text-align: center !important;
}

.receiving-info-dropdown-item:last-child {
	border-bottom: 1px solid #dddddd;
}

.receiving-info table > tbody > tr > td.addr-warning {
    height: 67px;
    vertical-align: middle;
}
.add-addr-warning {
    text-align: center;
}

/* 支付确认
------------------------------------ */
.pay-confirm {
	box-shadow: 8px 0px 5px #E2E3E4;
	background-color: #E2E3E4;
	padding-bottom: 7px;
	margin-bottom: 20px;
}
.pay-payment-method {
	position: relative;
	width: 9.5%;
}
.pay-payment-method .dropdown-paytype {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    z-index: 98;
    color: black;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.pay-payment-method > i {
    margin-top: -5px;
}
.invoice-info > div {
    display: inline-block;
    vertical-align: middle;
}
.invoice-info > div:first-child {
    width: 200px;
}
.invoice-info > div:last-child {
    width: 40px;
}

/* 订单信息
------------------------------------ */
.order-info {
	margin-top: 50px;
}
.order-info > div {
	display: inline-block;
	vertical-align: top;
}

/* 订单信息 */
.order-info-items {
	width: 30%;
}
.order-info-item div {
	display: inline-block;
	padding: 6px 0px;;
}
/* 订单信息项title */
.order-info-item div:first-child {
	font-size: 16px;
	color: rgb(28, 28, 28);
	width: 150px;
}
/* 订单信息项内容 */
.order-info-item div:last-child {
	font-size: 16px;
	color: rgb(243, 10, 38);
}
.order-info-item:nth-child(3n+0) {
	margin-bottom: 1em;
}


/* 交易备注 */
.order-info-trade-remark {
	padding: 6px 0px;
}
.order-info-trade-remark div {
	display: inline-block;
	vertical-align: top;
}
.order-info-trade-remark div:first-child {
	font-size: 16px;
	color: rgb(28, 28, 28);
}
.order-info-trade-remark .text-area {
	width: 370px;
	height: 100px;
	resize: none;
	border: 1px solid #ccc;
	overflow: auto;
	line-height: 18px;
	text-indent: 4px;
}

/* 订单确认
------------------------------------ */
#order-confirm {
	background-color: rgb(241, 241, 241);
	height: 96px;
	width: 99.4vw; /* 视口宽度是把浏览器的纵向滚动条（无论是否出现）也算在内的 */
	margin-left: calc(-50vw + 50%); /* margin的百分数取的是父元素宽度的百分比 */
}
#order-confirm > div {
	font-size: 24px;
	display: table;
	height: 100%;
}
#order-confirm  > div > div {
	display: table-cell;
	vertical-align: middle;/* 垂直居中对齐元素 */
}
.total-account {
	width: 30%;
}
.total-account > div {
	display: inline-block;
}
.total-account > div:first-child {
	font-family: MicrosoftYahei, ArialMT, sans-serif;
	color: rgb(0, 0, 0);
	width: 145px;
}
.total-account > div:last-child {
	font-family: ArialMT, MicrosoftYahei, sans-serif;
	color: rgb(243, 10, 38);
}
.confirm-pay {
	width: 20%;
}
#order-confirm .btn {
	padding: 0px;
}
#order-confirm .btn:hover {
	border: 2px solid red;
	border-radius: 6px; /* 图片有圆角，为了不留下空隙，边框也设置圆角 */
}
#order-confirm .btn[disabled]:hover {
	border: 1px solid transparent;
}

</style>
<div class="order">
	<div>
		<!-- ==== 订单状态 start ==== -->
		<!-- 直接购买隐藏进度条时，加入间隔 -->
		<div ng-if="isBuyNow" style="margin: 80px;"></div>
		<div class="state clearfix" id="#sflex03" ng-if="!isBuyNow">
			<dl>
				<dt class="s-num">1</dt>
				<dd class="s-text">
					<s>1.我的购物车</s>
				</dd>
			</dl>
			<dl class="doing">
				<dt class="s-num" style="color: white;">2</dt>
				<dd ng-class="{'s-text2':orderResult,'s-text':!orderResult}">
					2.填写核对订单信息
				</dd>
			</dl>
			<dl>
				<dt class="s-num">3</dt>
				<dd class="s-text">
					<s>3.成功提交订单</s>
				</dd>
			</dl>
		</div>
		<!-- 订单状态 end -->

		<!-- ==== 产品确认start ==== -->
		<div class="callout-container">
			<div class="order-section-title">
				<div>
					<img src="static/img/product/goods-confirm.png">
					产品确认
				</div>
			</div>
			<div class="product-confirm">
				<table fixed-thead class="table table-bordered" >
					<thead>
						<tr class="">
					        <th>序号</th>
					        <th>产品型号</th>
					        <th>类目</th>
					        <th>品牌</th>
					        <th>库存数量</th>
					        <th class="select-currency">
								<div>
									选择单价
									<i ng-if="order.status == 501" ng-click="showDropdown('selectCurrency')"
										ng-class="{'fa fa-caret-down fa-2x' : !dropdownState.selectCurrency,
												   'fa fa-caret-up fa-2x' : dropdownState.selectCurrency}"
									ng-if="order.buyNow && order.orderDetails[0].usdPrices && order.orderDetails[0].rmbPrices">
									</i>
								</div>
								<div class="choose-currency" ng-show="dropdownState.selectCurrency" ng-if="order.buyNow && order.orderDetails[0].usdPrices && order.orderDetails[0].rmbPrices">
									<ul class="u-dropdown-body">
							   			<li ng-click="selectCurrency('RMB')"><div>人民币</div></li>
							   			<li ng-click="selectCurrency('USD')"><div>美元</div></li>
									</ul>
								</div>
					        </th>
					        <th class="before-blank">交期（天）</th>

					        <th>生产日期</th>
					        <th>包装</th>
					        <th>最小包装数</th>
					        <th class="before-blank">最小采购量</th>

					        <th class="th-enter-buy-num">请输入采购数量</th>
					        <th width="120">产品总金额</th>
					        <th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="detail in order.orderDetails">
							<td>{{$index + 1}}</td>
							<td><span ng-bind="detail.cmpCode"></span></td>
					        <td><span ng-bind="detail.kiName"></span></td>
					        <td><span ng-bind="detail.brName"></span></td>
					        <td><span ng-bind="detail.reserve"></span></td>
					        <td width="130">
					        	<div ng-if="detail.rmbPrices && order.currency == 'RMB'">
									￥<span ng-bind="detail.rmbTaxUnitprice | number: 6"></span>
					        		<!--<a ng-click="showPrices(detail, 'RMB')"><i class="fa fa-angle-double-down"></i></a>-->
					        		<!--<div ng-show="detail.$pricesShowRmb">
						        		<ul class="list-unstyled">
							        		<li ng-repeat="p in detail.rmbPrices">
					        					<span ng-bind="p.start"></span> - <span ng-bind="p.end"></span>:
					        					<span ng-bind="p.taxPrice | number:4" class="f14"></span>
							        		</li>
						        		</ul>
				        			</div>-->
					        	</div>
					        	<div ng-if="detail.usdPrices && order.currency == 'USD'">
									$<span ng-bind="detail.usdTaxUnitprice | number:4"></span>
					        		<!--<a ng-click="showPrices(detail, 'USD')"><i class="fa fa-angle-double-down"></i></a>-->
					        		<!--<div ng-show="detail.$pricesShowUsd">
						        		<ul class="list-unstyled">
							        		<li ng-repeat="p in detail.usdPrices">
					        					<span ng-bind="p.start"></span> - <span ng-bind="p.end"></span>:
					        					<span ng-bind="p.taxPrice | number:4" class="f14"></span>
							        		</li>
						        		</ul>
				        			</div>-->
					        	</div>
					        </td>
					        <td class="before-blank">
					        	<span>交期：<span ng-bind="detail.b2cMinDelivery"></span>-<span ng-bind="detail.b2cMaxDelivery"></span></span>
					        </td>

					        <td><span ng-bind="detail.produceDate"></span></td>
					        <td><span ng-bind="detail.packaging || '托盘'"></span></td>
					        <td><span ng-bind="detail.minPackQty"></span></td>
					        <td class="before-blank"><span ng-bind="detail.minBuyQty"></span></td>

					        <td id="{{'enter-buy-num' + $index}}" ng-if="order.status == 501" class="enter-buy-num" data-title="'购买数量'">
					        	<div class="input-group input-group-sm">
					        	  <span class="input-group-btn">
							        <button class="btn btn-default" type="button" ng-click="changeBuyQty(detail, -detail.minPackQty)"
								  	 ng-disabled="detail.number <= detail.minBuyQty">-</button>
							      </span>
								  <input type="text" ng-pattern="/^\d+$/" required class="form-control input-sm"
								  	 placeholder="请输入购买数量" ng-model="detail.number" value="{{detail.number}}" ng-class="{'ng-invalid': qtyInvalid(detail)}"
					        		 ng-change="refresh(detail)">
								  <span class="input-group-btn">
							        <button class="btn btn-default" type="button" ng-click="changeBuyQty(detail, detail.minPackQty)"
								  	 ng-disabled="detail.number >= detail.reserve">+</button>
							      </span>
								</div>
					        	<!-- <input type="number" required class="form-control input-sm" placeholder="请输入购买数量"
					        		 ng-model="detail.number" min="{{detail.minBuyQty}}" max="{{goods.reserve}}"
					        		 step="{{detail.minPackQty}}" ng-class="{'ng-invalid': qtyInvalid(detail)}"
					        		 ng-blur="refresh(detail)" ng-change="refresh(detail)"> -->
					        	<div ng-if="qtyInvalid(detail)" class="callout" callout data-top="0" data-left="35" >
						        	<div ng-if="detail.noBuyQty" style="width:110px;">请输入购买数量</div>
						        	<div ng-if="detail.ltMinPackQty" style="width:230px;">购买数量必须大于等于最小购买数</div>
						        	<!--<div ng-if="detail.notMultipleOfminPackQty" style="width:240px">购买数量必须为最小包装量的整数倍</div>-->
						        	<div ng-if="detail.greaterThanReserve" style="width:160px">购买数量不能大于库存</div>
					        	</div>
					        </td>
							<td ng-if="order.status != 501">
								<span ng-bind="detail.number"></span>
							</td>
					        <td>
						        <span ng-switch="order.currency">
									<span ng-switch-when="RMB">￥</span>
									<span ng-switch-when="USD">$</span>
								</span>
								<span ng-bind="detail.amount | number:2 + ''"></span>
					        </td>
					        <td class="operation">
								<span ng-if="order.status == 501" ng-click="cancelOrderDetail(detail, order)" title="取消">
									<img class="u-cancle" alt="取消" src="static/img/product/cancel.ico">
								</span>
								<span ng-if="detail.canAddToCart" ng-click="addToCart(detail)" title="加入购物车">
									<img class="add-to-cart" alt="加入购物车" src="static/img/product/add-to-cart.png">
								</span>
								<span ng-if="!detail.canAddToCart">
									<img alt="加入购物车" src="static/img/product/cannot-add-to-cart.png">
								</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- 产品确认end -->

		<!-- ==== 物流确认 start ==== -->
		<div>
			<div class="order-section-title">
				<div>
					<img src="static/img/product/logistics-confirm.png">
					物流确认
				</div>
			</div>
			<div class="logistics-confirm">
                <!-- 收货信息 start -->
				<div class="receiving-info">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th width="14%">收货单位</th>
                            <th width="42%">收货地址</th>
                            <th width="32%">收货人</th>
                            <th ng-if="order.status == 501"><i ng-click="showDropdown('receivingInfo')" ng-class="{'fa fa-caret-down fa-2x' : !dropdownState.receivingInfo, 'fa fa-caret-up fa-2x' : dropdownState.receivingInfo}"></i></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-if="addrs.length != 0">
                            <td><div ng-cloak>{{selectAddress.company || '无信息'}}</div></td>
                            <td>
                                <div ng-cloak>
                                    {{selectAddress.area}}<br>
                                    {{selectAddress.detailAddress}}
                                </div>
                            </td>
                            <td>
                                <div>
                                    <div ng-cloak>
                                        姓名：{{selectAddress.name}}<br>
                                        电话：{{selectAddress.tel}}<br>
                                        邮箱：{{selectAddress.email}}
                                    </div>
                                </div>
                            </td>
                            <td ng-if="order.status == 501">
                                <div>
                                    <span ng-click="editAddr(false, selectAddress)"><a class="color_orange"><i class="fa fa-pencil-square-o"></i>编辑</a></span><br>
                                    <span ng-click="deleteAddr(selectAddress)"><a class="color_orange"><i class="fa fa-times"></i>删除</a></span>
                                </div>
                            </td>
                        </tr>
                        <tr ng-if="addrs.length == 0">
                            <td colspan="4" class="addr-warning">
                                <span>您还未填写收货地址，请立即<a ng-click="editAddr(true)">添加收货信息</a></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
					<!-- 收货信息选择下拉框 start -->
					<div class="u-dropdown receiving-info-dropdown" ng-show="dropdownState.receivingInfo">
                        <div class="receiving-info-dropdown-add-address">
                            <a ng-click="editAddr(true)"><i class="fa fa-plus"></i>&nbsp;新增收货地址</a>
                        </div>
                        <div ng-if="addrs.length == 0">
                            <div>
                                <div class="add-addr-warning">
                                    <span>您还未填写收货地址，请立即<a ng-click="editAddr(true)">添加收货信息</a></span>
                                </div>
                            </div>
                        </div>
                        <table class="table table-bordered">
                            <tbody>
                            <tr ng-repeat="addr in addrs" ng-click="selectAddr(addr, addrs)" class="receiving-info-dropdown-item">
                                <td width="14%"><div>{{addr.company || '暂无'}}</div></td>
                                <td width="42%">
                                    <div ng-cloak>
                                        {{addr.area}}<br>
                                        {{addr.detailAddress}}
                                    </div>
                                </td>
                                <td width="32%">
                                    <div ng-cloak>
                                        姓名：{{addr.name}}<br>
                                        电话：{{addr.tel}}<br>
                                        邮箱：{{addr.email}}
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span ng-click="editAddr(false, addr)"><a class="color_orange"><i class="fa fa-pencil-square-o"></i>编辑</a></span><br>
                                        <span ng-click="deleteAddr(addr)"><a class="color_orange"><i class="fa fa-times"></i>删除</a></span>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
					</div>
					<!-- 收货信息选择下拉框 end -->
				</div>
				<!-- 收货信息 end -->

                <div class="buyer-delivery-freight">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>购买方</th>
                            <th>配送方式</th>
                            <th>运费</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><div ng-bind="order.buyer"></div></td>
                            <td>
                                <div ng-switch="order.deliverytype">
                                    <div ng-switch-when="1301">第三方配送</div>
                                    <div ng-switch-when="1302">卖家配送</div>
									<div ng-switch-when="1303">上门自提</div>
                                </div>
                            </td>
                            <td>/</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
			</div>
		</div>
		<!-- 物流确认 end -->

		<!-- ==== 支付确认 start ==== -->
		<div>
			<div class="order-section-title">
				<div>
					<img src="static/img/product/pay-confirm.png">
					支付确认
				</div>
			</div>
			<div class="pay-confirm">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>物料费</th>
                        <th>运费</th>
                        <th>支付总金额</th>
                        <th class="before-blank">税率</th>

                        <th>发票类型</th>
                        <th class="before-blank">发票信息</th>

                        <th class="pay-payment-method">付款方式 <i ng-if="order.status == 501" ng-click="showDropdown('paytype')" ng-class="{'u-caret-position fa fa-caret-down fa-2x' : !dropdownState.paytype, 'u-caret-position fa fa-caret-up fa-2x' : dropdownState.paytype}"></i>
                            <div ng-show="dropdownState.paytype" class="dropdown-paytype">
                                <ul class="list-unstyled u-dropdown-body ">
                                    <li ng-click="selectPayType(1102)"><div>在线支付</div></li>
                                    <li ng-click="selectPayType(1103)"><div>线下支付</div></li>
                                </ul>
                            </div>
                        </th>
                        <th width="250">付款账户信息</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <span ng-switch="order.currency">
                                <span ng-switch-when="RMB">￥ {{ productsAmount | number:2 }}</span>
                                <span ng-switch-when="USD">$ {{ productsAmount | number:2  }}</span>
                            </span>
                        </td>
                        <td>/</td>
                        <td>
                            <span ng-switch="order.currency">
                                <span ng-switch-when="RMB">￥ {{ (productsAmount + importExtraCharges) | number:2}}</span>
                                <span ng-switch-when="USD">$ {{ productsAmount | number:2}}</span>
                            </span>
                        </td>
                        <td class="before-blank">
                            <div ng-if="order.currency === 'RMB'">17%</div>
                            <div ng-if="order.currency === 'USD'">0</div>
                        </td>

                        <td>
                            <div ng-switch="order.invoicetype">
                                <div ng-switch-when="1207">不开发票</div>
                                <!-- 						   		<div ng-switch-when="1206">增值税普通发票</div> -->
                                <div ng-switch-when="1205">增值税专用发票</div>
                            </div>
                        </td>
                        <td class="before-blank">
                            <div ng-if="order.invoicetype != 1207 && selecInvoice.area" class="invoice-info">
                                <div>
                                    <span>{{selecInvoice.name}} {{selecInvoice.head}}</span><br>
                                    <span>{{selecInvoice.telephone}} {{selecInvoice.area}}</span><br>
                                    <span>{{selecInvoice.detailAddress}}</span>
                                </div>
                                <div>
                                    <a ng-click="viewDetail(selecInvoice)" class="color_orange"><i class="fa fa-info" aria-hidden="true">查看</i></a><br>
                                    <a ng-click="modify(selecInvoice.id)" class="color_orange"><i class="fa fa-pencil-square-o" ng-if="order.status == 501">编辑</i></a><br>
                                    <a ng-click="deleteById(selecInvoice.id)" class="color_orange"><i class="fa fa-times" ng-if="order.status == 501">删除</i></a>
                                </div>
                            </div>
                            <!-- <div ng-if="order.invoicetype === 1207" style="text-align: center">/</div> -->
                            <div ng-if="order.invoicetype != 1207 && !selecInvoice.area">
                                <a ng-click="addInvoiceInfo()"><i class="fa fa-plus"></i>新建发票信息</a>
                            </div>
                        </td>

                        <td>
                            <div ng-switch="order.paytype">
                                <div ng-switch-default>/</div>
                                <div ng-switch-when="1102">在线支付</div>
                                <div ng-switch-when="1103">线下支付</div>
                            </div>
                        </td>
                        <td>
                            <div ng-if="order.paytype === 1102">
                                请使用网银、支付宝、微信支付等方式在线付款
                            </div>
                            <div ng-if="order.paytype === 1103 && order.currency === 'RMB'">
                                <span ng-cloak>银行：{{saleRMBAccount.bankname}}</span><br>
                                <span ng-cloak>账户名称：{{saleRMBAccount.accountname}}</span><br>
                                <span ng-cloak>账号：{{saleRMBAccount.number}}</span>
                            </div>
                            <div ng-if="order.paytype === 1103 && order.currency === 'USD'">
                                <!-- <span ng-cloak>银行：{{saleUSDAccount.bankname}}</span><br>
                                <span ng-cloak>账户名称：{{saleUSDAccount.accountname}}</span><br>
                                <span ng-cloak>账号：{{saleUSDAccount.number}}<span> -->
                                企业名称：深圳市优软商城科技有限公司<br>
                                联系方式：0755-86564892<br>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
			</div>
		</div>
		<!-- 支付确认 end -->

		<!-- ==== 订单信息 start ==== -->
		<div>
			<div class="order-info" ng-show="!loading || !errorloading">
				<div class="order-info-items">
					<div class="order-info-item">
						<div>货源批次数：</div>
						<div ng-cloak>{{ order.orderDetails.length }}</div>
					</div>
					<div class="order-info-item">
						<div>型号数量：</div>
						<div ng-cloak>{{ cmpNum }}</div>
					</div>
					<div class="order-info-item">
						<div>产品总数量：</div>
						<div ng-bind="totalQty | number"></div>
					</div>


					<div class="order-info-item">
						<div>产品总金额：</div>
						<div>
							<span ng-bind="productsAmount | number: 2"></span>
							<span ng-bind="order.currency"></span>
						</div>
					</div>
					<div class="order-info-item" ng-if="importExtraCharges > 0">
						<div>进口额外费用：</div>
						<div>
							<span ng-bind="importExtraCharges | number: 2"></span> RMB
						</div>
					</div>
					<div class="order-info-item">
						<div>运费合计：</div>
						<div>
						   	<!-- <span ng-switch="currencyName">
								<span ng-switch-when="RMB">{{ freight}} RMB</span>
								<span ng-switch-when="HKD">{{ freight/0.86 }} HKD</span>
								<span ng-switch-when="USD">{{ freight/6.67 }} USD</span>
							</span> -->
							/
					   	</div>
					</div>
					<div class="order-info-item">
						<div>支付总金额：</div>
						<div>
							<span ng-bind="(productsAmount + importExtraCharges) | number: 2"></span>
							<span ng-bind="order.currency"></span>
						</div>
					</div>

					<div class="order-info-item">
						<div>币种：</div>
						<div>
							<span ng-bind="order.currency"></span>
						</div>
					</div>
					<div class="order-info-item">
						<div>税率：</div>
						<div>
							<span ng-if="order.currency === 'RMB'">17%</span>
						   	<span ng-if="order.currency === 'USD'">0%</span>
						</div>
					</div>
				</div>
				<div class="order-info-trade-remark">
					<div>交易备注：</div>
					<div>
                        <textarea ng-if="order.status == 501" class="text-area" maxlength="500" ng-model="order.orderRemark"></textarea>
                        <div ng-if="order.status != 501" class="text-area" ng-bind="order.orderRemark"></div>
                    </div>
				</div>
			</div>
		</div>
		<!-- 订单信息 end -->
	</div>

	<!-- ==== 提交订单 start ==== -->
	<div id="order-confirm" ng-show="!loading">
		<div class="container">
			<div class="total-account">
				<div>应付总额：</div>
				<div>
					<span ng-if="!order.ensurePrice" ng-cloak>{{productsAmount + importExtraCharges | number:2 }} {{order.currency}}</span>
					<span ng-if="order.ensurePrice" ng-cloak>{{order.ensurePrice| number:2 }} {{order.currency}}</span>
			   	</div>
			</div>
			<div class="confirm-pay">
				<form id="paymentForm" target="_self">
					<!--前端需要获取的参数 -->
					<input type="hidden" name="out_trade_no" value={{ysepayRequest.out_trade_no}}>
					<!-- 后台配置的固定值 -->
					<input type="hidden" name="method" value={{ysepayRequest.method}}>
					<input type="hidden" name="charset" value={{ysepayRequest.charset}}>
					<input type="hidden" name="sign_type" value={{ysepayRequest.sign_type}}>
					<input type="hidden" name="notify_url" value={{ysepayRequest.notify_url}}>
					<input type="hidden" name="return_url" value={{ysepayRequest.return_url}}>
					<input type="hidden" name="version" value={{ysepayRequest.version}}>
					<input type="hidden" name="timeout_express" value={{ysepayRequest.timeout_express}}>
					<input type="hidden" name="business_code" value={{ysepayRequest.business_code}}>
					<!--需要银盛支付提供的参数  -->
					<input type="hidden" name="partner_id" value={{ysepayRequest.partner_id}}>
					<input type="hidden" name="seller_id" value={{ysepayRequest.seller_id}}>
					<input type="hidden" name="seller_name" value={{ysepayRequest.seller_name}}>
					<!--后台获取的参数 -->
					<input type="hidden" name="subject" value={{ysepayRequest.subject}} >
					<input type="hidden" name="total_amount" value={{ysepayRequest.total_amount}} >
					<input type="hidden" name="timestamp" value={{ysepayRequest.timestamp}}>
					<input type="hidden" name="sign" value={{ysepayRequest.sign}}>
					<button ng-click="ensureOrder()"  type="submit" class="btn" title="确认订单"  ng-disabled="!canSubmitOrder">
						<img src="static/img/product/confirm-pay.png">
					</button>
				</form>
			</div>
			<div class="cancel-order">
				<button ng-click="back()" ng-mouseover="showCancelTip(true)" ng-mouseout="showCancelTip(false)"
				class="btn" title="取消订单" >
					<img src="static/img/product/cancel-order.png">
				</button>
			</div>
			<div ng-show="isShowCancelTip" class="color_orange">警告！该操作将取消此订单</div>
			<div ng-show="!isShowCancelTip" class="color_orange">
				<div ng-if="order.invoicetype != 1207 && !selecInvoice.area">您没有创建发票，请创建发票</div>
				<div ng-if="!selectAddress">您没有选择收货地址，请确认收货地址</div>
				<div ng-if="order.currency === 'USD' && order.paytype === 1102">您好！在线支付目前只能使用人民币，请选择大陆收货地址，或者使用线下支付方式</div>
				<div ng-bind="currencyInconsistentWithAddr"></div>
			</div>
		</div>
	</div>
	<!-- 提交订单 end -->

	<div class="basetop">
		<div ng-show="loading && !errorloading">
			<div class="row">
				<div class="col-xs-12 f16 color_orange text-center">
					<img src="static/img/all/info.png">&nbsp;&nbsp;&nbsp;<strong>您的订单确认失败，{{time}}秒跳转到您的未完成订单...</strong>
				</div>
			</div>
		</div>
		<div ng-show="loading && errorloading">
			<div class="row">
				<div class="col-xs-12 f16 color_orange text-center">
					<img src="static/img/all/info.png">&nbsp;&nbsp;&nbsp;<strong>订单:{{order.orderid}}&nbsp; 不在待确认状态，{{time}}秒跳转到您的未完成订单...</strong>
				</div>
			</div>
		</div>
		<div class="loading" ng-class="{'in': loading}">
			<i></i>
		</div>
	</div>
</div>