<!-- 拖拽样式 -->
<style>
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.buttons {
	padding: 20px 0;
	border-top: solid 1px #dddddd;
}

.form-horizontal .form-group {
	margin-right: 0px;
	margin-left: 0px;
}

.mt-units {
	position: relative;
	cursor: pointer;
}

.mt-units:hover .mt-units-down {
	display: block;
}

.mt-units-down {
	display: none;
	position: absolute;
	top: 100%;
	left: -1px;
	border: solid 1px #aaa;
	list-style: none;
	background: #eee;
	margin-bottom: 0;
	z-index: 10;
}

.mt-units-item {
	padding: 6px 12px;
	border-bottom: solid 1px #ccc;
}

.mt-units-item:last-child {
	border-bottom: none;
}

.mt-units-item:hover {
	background: #ddd;
	color: #000;
}
</style>

<div class="row">
	<div class="col-xs-2">
		<!-- 操作侧边导航，类似百度经验效果 http://jingyan.baidu.com/edit/content -->
		<!-- <div>
			基本信息
		</div>
		<div>
			上传图片
		</div>
		<div>
			编辑属性
		</div> -->
	</div>
	<div class="col-xs-9">
		<!-- 产品基本信息 Start -->
		<div class="panel panel-default">
			<div class="panel-title">
				<h4>
					<span class="fa fa-star"></span> <span>器件基本信息</span>
				</h4>
				<h5 class="pull-right">
					<a href="#">查看优质范例</a>
				</h5>
			</div>
			<div class="panel-body">
				<div>
					<form class="form-horizontal" name="myform" novalidate>
						<!-- 填写基本信息 Start -->
						<div class="row" ng-show="isMessage">
							<div class="form-group">
								<label class="col-sm-2 control-label">
									<span class="text-required">*</span>所属分类：
								</label>
								<div class="col-sm-6">
									<div class="input-group">
										<input type="text" class="form-control input-sm" name="kindName" ng-model="activesString"  required 
											placeholder="请输入或点击搜索按钮选取分类" autocomplete="off"
											typeahead="kind.nameCn for kind in getSimilarKinds($viewValue)"
											typeahead-on-select="onAssociateKindClick($item)"/>
										<div class="input-group-addon">
											<a ng-click="selectKind()"><i class="fa fa-search"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">
									<span class="text-required">*</span>器件品牌：
								</label>
								<div class="col-sm-4">
									<div class="input-group">
										<input type="text" class="form-control input-sm" name="brandName"  autocomplete="off"
											ng-model="component.brand.nameCn" required  placeholder="请输入或点击搜索按钮选取品牌" 
											typeahead="brand.nameCn for brand in getSimilarBrands($viewValue)" autocomplete="off"
											typeahead-on-select="onAssociateBrandClick($item)" />
										<div class="input-group-addon"><a  ng-click="selectBrand('lg')"><i class="fa fa-search"></i></a></div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">
									<span class="text-required">*</span>器件原厂型号：
								</label>
								<div class="col-sm-4">
									<input type="text" name="code" ng-model="component.code" class="form-control input-sm" 
										ng-change="getSimilarCmps(component.code)" ng-focus="onFocus('cmp')" placeholder="标准原厂型号"
										typeahead="component.code for component in getSimilarCmps($viewValue)" autocomplete="off"
										typeahead-on-select="onAssociateCmpClick($item)" required>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">
									<span class="text-required">*</span>包装方式：
								</label>
								<div class="col-sm-4">
									<input type="text" name="packaging" 
										ng-model="component.packaging" class="form-control input-sm" autocomplete="off"
										placeholder="包装方式" typeahead="packaging for packaging in packagings | filter : $viewValue" 
										typeahead-min-length="0">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">
									单位：
								</label>
								<div class="col-sm-3">
									<input ng-model="component.unit" type="text"
										class="form-control input-sm" placeholder="常用的单位描述，如个、pcs">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">
									单位重量：
								</label>
								<div class="col-sm-2">
									<div class="input-group">
										<input ng-model="component.weight" type="text"
											placeholder="单位重量" ng-pattern="/^((\d)|(\d+\.?\d+))$/"
											class="form-control input-sm">
										<div class="input-group-addon">g</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- 产品基本信息 End -->
		
		<!-- 图片合详细说明 Start -->
		<div class="panel panel-default" id="product_info_2">
			<div class="panel-title">
				<!-- 器件附件上传功能未完成 -->
				<h4>
					<span class="fa fa-star"></span> <span>图片和详细说明</span>
				</h4>
				<h5 class="pull-right">
					<a href="#">查看优质范例</a>
				</h5>
			</div>
			<div class="panel-body">
				<form class="form-horizontal">
					<div class="row">
						<div class="form-group">
							<label class="col-sm-2 control-label">
								<span class="text-required">*</span>器件图片：
							</label>
							<div class="col-sm-10">
								<img class="img-thumbnail" ng-src="{{component.img}}"
									style="width: 100px; height: 100px;"
									ng-click="showImageDialog()"> <span class="help-block">建议图片尺寸在750*750像素以上，图片请避免全文字</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<label class="col-sm-2 control-label"><span
								class="text-required">*</span>详细描述：</label>
							<div class="col-sm-10">
								<summernote ng-model="component.description" height="200"
									lang="zh-CN" show-image-dialog="showImageDialog()"></summernote>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<label class="col-sm-2 control-label">
								规格文档：
							</label>
							<div class="col-sm-10">
								<div class="" ng-if="component.attachFile">
									<div class="alert alert-success alert-sm f14">
										<a href="{{component.attachFile.path}}">
											<i class="fa fa-file"></i>
											<strong ng-bind="component.attachFile.fileName"></strong>
										</a>(<span ng-bind="component.attachFile.size"></span>)
										<a class="pull-right text-muted f12" ng-click="removeAttach()">删除</a>
										<span class="pull-right">&nbsp;&nbsp;&nbsp;</span>
										<a ng-click="reUpload()" class="pull-right text-muted f12">
											<span ng-if="!$uploading">重新上传</span>
											<span ng-if="$uploading">取消重新上传</span>
										</a>
									</div>
								</div>
								<div class="upload-container" ng-if="!component.attachFile || $uploading">
									<div id="attachUpload" on-success="onAttachUploadSuccess($data)" uploadify="{}"></div>
								</div>
								<div class="help-block">请上传器件的官方规格书文档！</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- 图片合详细说明 End -->
		
		<!-- 编辑属性 Start -->
		<div class="panel panel-default" id="product_info_2">
			<div class="panel-title">
				<!-- 器件附件上传功能未完成 -->
				<h4>
					<span class="fa fa-star"></span> <span>详细参数维护</span>
				</h4>
				<h5 class="pull-right">
					<a href="#">查看优质范例</a>
				</h5>
			</div>
			<div class="panel-body">
				<form class="form-horizontal">
					<div class="row" ng-if="!kindProperties">
						<div class="col-xs-12">
							<p class="text-muted">请先选择器件的所属分类！</p>
						</div>
						<!-- <div class="form-group ">
							<label class="col-sm-3 control-label">
								<span class="text-required">*</span>
								<span ng-bind="kp.property.labelCn"></span>：
							</label>
							<div class="col-sm-4">
								<div class="input-group">
									<input class="form-control input-sm">
									<div class="input-group-addon mt-units">
										<span>V</span>
										<ul class="mt-units-down">
											<li class="mt-units-item">mV</li>
											<li class="mt-units-item">V</li>
											<li class="mt-units-item">KV</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group ">
							<label class="col-sm-3 control-label">
								<span class="text-required">*</span>
								<span ng-bind="kp.property.labelCn"></span>：
							</label>
							<div class="col-sm-4">
								<input class="form-control input-sm" ng-model="as" typeahead="t for t in getAssociates($viewValue)">
							</div>
						</div> -->
					</div>
					
					<div class="row" ng-if="component.uuid">
						<div class="form-group " ng-repeat="kp in kindProperties">
							<label class="col-sm-3 control-label">
								<span ng-bind="kp.property.labelCn"></span>：
							</label>	
							<div class="col-sm-5" ng-if="kp.isChange">
								<div property-input="kp"></div>
							</div>						
							<div class="col-sm-5" ng-if="!kp.isChange">
								<span ng-bind="kp.value" ></span>
							</div>		
							<div class="col-sm-4">
								<a ng-click="change(kp)" ng-show="!kp.isChange" class="btn btn-sm btn-inverse text-right"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
								<a ng-click="returns(kp)" ng-show="kp.isChange" class="btn btn-sm btn-inverse text-right"> <i class="fa fa-reply" aria-hidden="true"></i></a>
							</div>
						</div>
						<div class="form-group ">
							<div class="col-sm-6 col-sm-offset-3">
								<div class="help-block">如有其他参数描述，请在详细描述中说明。</div>
							</div>
						</div>
					</div>
					
					<div class="row" ng-if="!component.uuid">
						<div class="form-group " ng-repeat="kp in kindProperties">
							<label class="col-sm-3 control-label">
								<span ng-bind="kp.property.labelCn"></span>：
							</label>
							<div class="col-sm-5">
								<div property-input="kp"></div>
							</div>
						</div>
						<div class="form-group ">
							<div class="col-sm-6 col-sm-offset-3">
								<div class="help-block">如有其他参数描述，请在详细描述中说明。</div>
							</div>
						</div>
					</div>
					
				</form>
			</div>
		</div>
		<!-- 编辑属性 End -->
							
		<div class="text-center">
			<!-- <button type="button" class="btn btn-inverse "
				ng-click="next()">
				<strong>下一步</strong>
			</button> -->
			<button type="submit" class="btn btn-inverse" ng-click="save()"
				ng-disabled="myform.$invalid">
				<strong>提 交</strong>
			</button>
		</div>
	</div>
</div>
<!-- 填写基本信息 End -->

	<!-- 产品图片插入modal Start -->
	<script type="text/ng-template" id="offer/image/insert.html">
		<div class="modal-header">
			<button type="button" class="close" ng-click="close()">×</button>
			<h4 class="modal-title">插入图片</h4>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-xs-7" style="padding: 20px;">
					<p class="help-block">提示：选择的图片单张大小不超过3MB，支持jpg,jpeg,gif,bmp,png</p>
					<div class="upload-container" ng-disabled="getImages().length == images.length">
						<div id="uploadify" on-success="onUploadSuccess($data)" 
							uploadify="{type:'image'}"></div>
					</div>
				</div>
				<div class="col-xs-5">
					<h3>预览</h3>
					<div class="image-content">
						<img ng-src="{{image.src}}" class="img-thumbnail" style="width: 100px; height: 100px;">
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<div class="pull-right"><a ng-click="confirm()" class="btn btn-primary" ng-disabled="!image.src">确定</a></div>
		</div>
	</script>
	<!-- 产品图片插入modal End -->