<!-- 类目详情展示页面 -->
<style>
	.clear, .clr {
		clear: both;
	}

	/* breadcrumbs */
	.breadcrumbs {
		margin-top: 20px;
	}

	.breadcrumbs ul.list-unstyled.list-inline {
		margin-left: 0px;
	}

	.breadcrumbs ul.list-inline.list-unstyled li.crumb-item {
		position: relative;
		padding-left: 0px;
		padding-right: 0px;
		padding-bottom: 1px;
		height: 32px;
		line-height: 30px;
		background: #fff;
		border: solid 1px #6493ff;
	}

	.breadcrumbs ul li.crumb-item-angle {
		margin-left: -5px;
	}

	.breadcrumbs ul li.crumb-item>a {
		display: inline-block;
		width: 100%;
		height: 100%;
		padding-left: 15px;
		padding-right: 15px;
		cursor: pointer;
		text-decoration: none;
		color: #323232;
		font-size: 16px;
	}
	.breadcrumbs ul li.crumb-item:hover>a span,.breadcrumbs ul li.crumb-item:hover>a i{
		color: #5078cb;
	}
	.breadcrumbs ul li.crumb-item>a i{
		margin-right: 10px;
	}
	.breadcrumbs ul li.crumb-item:hover>a i{
		transform: rotate(-180deg);
	}
	.breadcrumbs ul li.crumb-item .angle {
		position: absolute;
		left: -6px;
		top: 50%;
		margin-top: -5px;
		height: 10px;
		width: 10px;
		border-bottom: 1px solid #6493ff;
		border-left: 1px solid #6493ff;
		background: white;
		transform: rotate(45deg);
		-ms-transform: rotate(45deg); 	/* IE 9 */
		-moz-transform: rotate(45deg); 	/* Firefox */
		-webkit-transform: rotate(45deg); /* Safari 和 Chrome */
		-o-transform: rotate(45deg); 	/* Opera */
		z-index: 14;
	}

	.breadcrumbs ul li.crumb-item .crumb-drop {
		position: absolute;
		display: none;
		left: -1px;
		top: 30px;
		border: #6493ff 1px solid;
		background: #fff;
		z-index: 100;
		width: 200px;
	}

	.breadcrumbs ul li.crumb-item .crumb-drop li {
		line-height: 20px;
	}
	.breadcrumbs ul li.crumb-item .crumb-drop li a{
		font-size: 12px;
	}
	li{
		list-style: none;
	}
	.breadcrumbs ul li.crumb-item:hover .crumb-drop {
		display: block;
	}

	.breadcrumbs ul li.crumb-item:hover>a {
		border-color: #f50;
		background: #ffffff;
		z-index: 101;
	}
	.breadcrumbs ul li.crumb-item a{
		color: #323232;
	}
	.breadcrumbs ul li.crumb-item a:hover{
		color: #5078cb;
	}
	.kind-count-line {
		line-height: 25px;
		height: 25px;
		color: #fff;
		font-weight: 600;
		background: #7bb4e1;
	}

	.kind-count-line .kind-count {
		display: inline-block;
		padding: 0 15px;
		background-color: #f39800;
	}

	/* sl_warp */
	.main-content .selector {
		color: #666;
		border: 1px solid #ddd;
		border-top: #6493ff 2px solid;
		margin-bottom: 30px;
		padding: 10px 0;
	}

	.main-content .sl-wrap {
		position: relative;
		line-height: 22px;
		padding: 5px 0;
	}

	.main-content .sl-wrap .sl-key {
		float: left;
		width: 100px;
		padding: 0 8px;
	}

	.main-content .sl-wrap .sl-key>span {
		color: #323232;
		font-size: 14px;
	}

	.main-content .sl-wrap .sl-value {
		margin-left: 110px;
		overflow-y: auto;
	}

	.main-content .sl-wrap .sl-value ul li a{
		color: #323232;
		font-size: 14px;
	}
	.main-content .sl-wrap .sl-value ul li a:hover{
		color: #5078cb;
	}
	.main-content .sl-wrap .sl-value .sl-selected {
		display: inline-block;
		position: relative;
		padding-left: 10px;
		padding-right: 30px;
		border: 1px solid #ccc;
		cursor: pointer;
	}

	.main-content .sl-wrap .sl-value .sl-selected a {
		color: #666;
		text-decoration: none;
	}

	.main-content .sl-wrap .sl-value .sl-selected:HOVER {
		border: 1px solid #f50;
	}

	.main-content .sl-wrap .sl-value .sl-selected:HOVER a {
		color: #f50;
	}

	.main-content .sl-wrap .sl-value .sl-selected span {
		display: inline-block;
		position: absolute;
		right: 0px;
		top: 0px;
		height: 100%;
		width: 20px;
		text-align: center;
		background: #ccc;
		color: #fff;
	}

	.main-content .sl-wrap .sl-value .sl-selected:HOVER span {
		background: #f50;
	}

	.main-content .sl-wrap .sl-value ul {
		margin-bottom: 0;
	}

	.main-content .sl-wrap .sl-value ul.list-inline li {
		width: 16.6666%;
		white-space:nowrap;
		overflow:hidden;
		text-overflow:ellipsis;
	}

	.main-content .sl-wrap .sl-value ul, .main-content .sl-set .sl-value ul{
		min-height: 25px;
	}

	.main-content .sl-wrap .sl-ext {
		position: absolute;
		top: 0px;
		right: 0px;
		width: 80px;
	}

	.main-content .sl-more {
		position: relative;
		top: -1px;
		line-height: 30px;
		text-align: center;
		border-top: 1px solid #DDD;
	}

	.main-content .sl-more a {
		position: relative;
		display: inline-block;
		margin-top: -1px;
		height: 30px;
		line-height: 30px;
		padding: 0 10px 0 10px;
		border-width: 1px;
		border-style: solid;
		border-color: #FFF #DDD #DDD;
		background: #fff;
		cursor: pointer;
		-webkit-transition: border-color .15s ease-in-out;
		-moz-transition: border-color .15s ease-in-out;
		transition: border-color .15s ease-in-out;
	}

	.main-content .sl-more:hover {
		border-top-color: #f39800;
	}

	.main-content .sl-more:hover a {
		color: #f39800;
		border-color: #FFF #f39800 #f39800;
		text-decoration: none;
	}

	.main-content .sl-more a:focus {
		text-decoration: none;
		color: #f39800;
	}

	.main-content .sl-set {
		position: relative;
		line-height: 30px;
		font-size: 14px;
	}

	.main-content .sl-set .sl-key {
		float: left;
		width: 100px;
	}

	.main-content .sl-set .sl-value {
		margin-left: 110px;
	}

	.main-content .content {
		position: relative;
	}

	.main-content .content .total {
		position: relative;
		margin-bottom: 10px;
		line-height: 30px;
		height: 30px;
		background: #7bb4e1;
		color: white;
		font-weight: 700;
	}

	.main-content .info {
		line-height: 24px;
	}

	.main-content .info .title {
		display: inline-block;
		width: 100px;
		font-family: 'microsoft yahei';
		font-weight: 600;
	}

	.main-content .info .content {
		font-size: 14px;
	}

	.main-content .operate {
		margin-bottom: 5px;
	}

	.main-content .operate .btn {
		width: 100px;
		text-align: left;
	}

	.main-content .content .view_all:hover {
		text-decoration: none;
		color: #f50;
		background: #f5f5f5
	}

	.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th,
		.table>thead>tr>td, .table>thead>tr>th {
		padding: 10px 5px;
	}

	.total-content {
		background-color: #f39800;
		padding-left: 10px;
	}

	.btnactive {
		background-color: #f39800;
	}

	.reserve {
		color: white;
		font-weight: 500;
	}

	.pagging .pagging-count {
		padding-left: 10px;
		padding-right: 10px;
	}

	.pagging .pagging-count:HOVER {
		background: #4D7BA5;
		cursor: pointer;
	}

	.pagging .pagging-count a {
		color: white !important;
		text-decoration: none !important;
	}
	.parameter-selection {
		position: relative;
		background-image: url("static/img/product/title-bg.png");
		width: 124px;
		color: #fff;
		margin-top: 15px;
		font-size: 18px;
		height: 36px;
	}
	.parameter-selection > div:first-child {
		display: inline-block;
		position: absolute;
		top: 50%;
		left: 8px;
		transform: translateY(-50%);
	}
	.parameter-selection div:last-child {
		display: inline-block;
		position: absolute;
		top: 50%;
		left: 40px;
		transform: translateY(-50%);
	}
	.div-table{
		width:1190px;
		height:120px;
		border-top: #6493ff 2px solid;
	}
	.div-table-left{
		width:135px;
		float:left;
		text-align: center;
	}
	.parameter-selection-ul{
		min-height: 80px;
		max-height: 176px;
		overflow: scroll;
		overflow-x:hidden;
	}
	.div-table-right{
		float:left;
		height:120px;
		width:1055px;
		overflow-x:auto;
		overflow-y:hidden;
		border:1px solid #DBDBDB;
	}
	.div-table-right .table{
		margin-bottom: 0;
	}
	.div-table-right table thead tr td{
		width: 140px;
		text-align: center;
		vertical-align: middle;
		padding: 0;
	}
	.text-hidden {
		text-overflow:ellipsis;
		overflow:hidden;
		white-space: nowrap;
	}
	.text-hidden:hover{
		 overflow: visible;
	}
	.td-width{
		color: #323232;
		font-size: 14px;
	}
	.td-icon{
		font-size:18px;
	}
	.tr-brand{
		height:80px;
		vertical-align: middle;
	}
	.tr-properties{
		height:65px;
	}
	.td-brand,.td-properties{
		line-height: 20px;
		word-wrap : break-word;
		word-break : break-all;
	}

	.inventory-filter {
		position: relative;
		background-image: url("static/img/product/title-bg.png");
		width: 124px;
		height: 36px;
		color: #fff;
		font-size: 18px;
		margin-top: 15px;
		padding-top: 8px;
		padding-left: 5px;
	}

	thead tr {
		/*background-image: url("static/img/product/th-tr-bg.png");
		background-repeat: repeat-x;*/
		background: linear-gradient(rgb(93, 134, 220), rgb(12, 53, 136));
		color: #fff;
		height: 48px;
	}
	.table>thead>tr>th{
		padding:5px 5px;
	}

	.dropdown:hover>.dropdown-back {
		border-color: transparent;
		background-color: transparent;
		/* background-image: url("static/img/product/th-tr-bg.png"); */
	}
	/* scroll */
	::-webkit-scrollbar {
		width: 10px;
		height: 10px;
		background: #ededed;
	}

	::-webkit-scrollbar-thumb {
		background-color: #c1c1c1;
		border-radius: 5px;
	}

	::-webkit-scrollbar-thumb:hover {
		background-color: #959595;
	}

	.container {
		position: relative;
		width: 1190px;
	}
	.wrap {
		position: relative;
		width: 500px;
		border: 1px solid #ccc;
		overflow-x: auto;
	}
	.table {
		display: table;
		table-layout: fixed;
		width: 100%;
		border-collapse: collapse;
		position: relative;
		left: 0px;
	}
	.tr, .th {
		display: table-row;

	}
	.th {
		font-weight: 600;
	}
	.td {
		display: table-cell;
		padding: 5px;
		width: 100px;
		text-align: center;
		border: 1px solid #ddd;
	}
	.dropdown-menu {
		display: none;
		position: absolute;
		top: 100%;
		background: #fff;
		text-align: center;
		cursor: pointer;
	}
	[split-dropdown] {
		position: relative;
	}

	[split-dropdown-toggle] {
		position: absolute;
		display: none;
		border: 1px solid #ccc;
		background: #fff;
		z-index: 100;
		top: 40px !important;
	}
	.drop-down-list{
		font-size: 14px;
		min-width: 100px;
		line-height: 1.75;
		background: #fff;
		text-align:center;
		padding: 5px 0;
		margin: 1px 0 0;
	}
	.drop-down-list a{
		padding: 0 10px;
	}
	.drop-down-list li:hover,.dropdown-menu li:hover a{
		background: #5078cb;
	}
	.drop-down-list li:hover a,.dropdown-menu li:hover a{
		color: #fff;
	}
	.a-color {
		color:black;
		cursor: pointer;
	}
	tr.properties-hint-tr {
		height: 65px;
	}
	tr.properties-hint-tr > td.properties-hint-td {
		vertical-align: middle;
		line-height: 20px;
		border-bottom: none;
	}
	tr.properties-hint-tr > td.properties-hint-td > div {
		/*position: relative;
		left: -25em;*/
		text-align: left;
		margin-left: 38em;
	}
	.word-break {
		word-break: break-word;
	}

	/*修改样式*/
	.breadcrumbs,.main-content{
		padding: 0;
	}
	.main-content .table-bordered{
		border-top: none;
	}
	.main-content .table-bordered thead tr{
		background: none;
		line-height: 40px;
		height: 40px;
		color: #323232;
	}
	.div-table-left table thead tr td,.div-table-right table thead tr td{
		border-bottom: none;
	}
	.div-table-left table tbody tr td,.div-table-right table tbody tr td{
		font-size: 12px;
	}
	.div-table-left table tr td{
		border-right: none;
	}
	.div-table-right table thead tr td:first-child{
		border-left: none;
	}
	.table-bordered{
		border: none;
	}
	.div-table-right table thead tr td:hover span{
		color: #5078cb;
	}
	.div-table-right table thead tr td:hover span.fa-angle-down{
		transform: rotate(-180deg);
	}
	.div-table-right table .td-properties{
		text-align: center;
	}
	.div-table-right table .td-properties i,.div-table-left table i{
		color: #5078cb;
	}
	.div-table-right table .td-properties{
		border-bottom: none;
	}
	.div-table-left .table{
		margin-bottom: 0;
	}
	.div-table-right tbody tr td:first-child{
		border-left: none;
	}
	.text-length-more{
		width: 100px;
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		float: left;
	}
</style>

<div>
	<div class="breadcrumbs container">
		<ul class="list-unstyled list-inline">
			<li class="crumb-item"><a href="product#/home">电子元器件</a></li>
			<li class="crumb-item crumb-item-angle" ng-repeat="k in actives">
				<i class="angle"></i>
				<a href="#/kinds/{{k.id}}">
					<span ng-bind="k.nameCn"></span> <i class="fa fa-angle-down"></i>
				</a>
				<div class="crumb-drop" ng-if="k.bothers">
					<ul class="list-unstyled list-inline" role="menu">
						<li ng-repeat="b in k.bothers"><a href="#/kinds/{{b.id}}">{{b.nameCn}}</a></li>
					</ul>
				</div>
				<i class="icon-glass"></i>
			</li>
		</ul>
	</div>

	<div class="main-content container">
		<!--<div class="parameter-selection">
			<div>
				<img src="static/img/product/parameter-selection.png">
			</div>
			<div>
				参数选型
			</div>
		</div>	-->
		<div class="selector" ng-if="!kind.leaf">
			<div class="sl-wrap" >
 				<div class="sl-key">
					<span>分类：</span>
				</div> 
 				<div class="sl-value">
					<ul class="list-inline">
						<li ng-repeat="c in kind.children" title="{{c.nameCn}}">
							<a ng-bind="c.nameCn" ng-href="product#/kinds/{{c.id}}"></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="div-table" split-dropdown ng-if="kind.leaf">
			<div class="div-table-left">
				<table class="table table-bordered">
					<thead >
						<tr>
							<td class="td-width dropdown">		
								<span  class="dropdown-toggle dropdown-back" data-toggle="dropdown">品牌<span class="fa fa-angle-down td-icon"></span></span>
						  		<ul class="dropdown-menu parameter-selection-ul" role="menu" aria-labelledby="dropdownMenu1">
						  			<li ng-repeat="b in kind.brands| orderBy:'nameCn'"><a ng-click="selectBrand(b)"><span ng-bind="b.nameCn"></span></a></li>			
						  		</ul>	
							</td>
						</tr>
					</thead>
					<tbody>
						<tr class="tr-brand">
							<td class="td-brand" style="vertical-align: middle;">
								<div class="sl-selected" ng-if="kind.selectedBrand.nameCn" ng-click="selectBrand()">
 									<a class="text-num" ng-bind="kind.selectedBrand.nameCn"></a>
									<span><i class="fa fa-close"></i></span>
 								</div>
								<div ng-if="!kind.selectedBrand.nameCn">
									请选择品牌
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>	
			<div class="div-table-right" dropdown-scroll>
				<table class="table table-bordered" style="table-layout:fixed;">
					<thead>
						<tr>
							<td ng-repeat="pro in kind.properties" class="td-width word-break" split-dropdown-trigger="pro.id">		
								<span class="dropdown-toggle dropdown-back" data-toggle="dropdown"><span ng-bind="pro.property.labelCn"></span><span class="fa fa-angle-down td-icon"></span></span>
							</td>
						</tr>
					</thead>
					<tbody>
						<tr ng-if="hasProperties" class="tr-properties">
							<td ng-repeat="pro in kind.properties" class="td-properties" style="vertical-align:middle;">
 								<span class="sl-selected" ng-if="pro.selected" ng-click="selectProperty(pro)">
 									<a class="text-num" ng-bind="pro.selected.value"></a>
									<span><i class="fa fa-close"></i></span>
 								</span>
							</td>
						</tr>
					<tr class="properties-hint-tr" ng-if="!hasProperties">
						<td colspan="{{kind.properties.length}}" class="properties-hint-td">
							<div>请选择筛选属性</div>
						</td>
					</tr>
					</tbody>
				</table>
			</div>	
			<div>
				<div ng-repeat="pro in kind.properties" split-dropdown-toggle="{{pro.id}}" style="top: 40px !important;">
					<ul class="parameter-selection-ul drop-down-list" role="menu" aria-labelledby="dropdownMenu1">
			  			<li ng-repeat="v in pro.values|orderBy:'value'"><a ng-click="selectProperty(pro, v)" class="a-color"><span ng-bind="v.value"></span></a></li>
			  		</ul>
				</div>
			</div>
		</div>
		
		<!-- 竖向展示的参数选型 -->
		<!-- <div class="selector">
			<div class="sl-wrap" ng-if="!kind.leaf">
 				<div class="sl-key">
					<span>明细分类：</span>
				</div> 
 				<div class="sl-value">
					<ul class="list-inline">
						<li ng-repeat="c in kind.children" title="{{c.nameCn}}">
							<a ng-bind="c.nameCn" ng-href="product#/kinds/{{c.id}}"></a>
						</li>
					</ul>
				</div>
				<div class="sl-ext">
					更多
				</div>
				<div class="clear"></div>
			</div>
			<div class="sl-wrap">
 				<div class="sl-key">
					<span>产品品牌：</span>
				</div> 
 				<div class="sl-value">
 					
					<ul class="list-inline" ng-if="!kind.selectedBrand">
						<li ng-repeat="b in kind.brands | orderBy:'nameCn'" title="{{b.nameCn}}" ng-show="$index<18||moreBrands">
							<a ng-click="selectBrand(b)" ng-bind="b.nameCn"></a>
						</li>
					</ul>
				</div>
				<div class="sl-ext">
					更多
					<a ng-click="moreBrand()" class="text-muted" ng-if="kind.brands.length>18 && !kind.selectedBrand">
						<span ng-if="!moreBrands">更多 <i class="fa fa-angle-double-down"></i></span>
						<span ng-if="moreBrands">收起 <i class="fa fa-angle-double-up"></i></span>
					</a>
				</div>
				<div class="clear"></div>
			</div>
			<div class="sl-wrap" ng-repeat="pro in kind.properties" ng-show="$index<1||kind.morePro">
 				<div class="sl-key">
					<span><span ng-bind="pro.property.labelCn"></span>：</span>
				</div> 
 				<div class="sl-value">
 					<div class="sl-selected" ng-if="pro.selected" ng-click="selectProperty(pro)">
 						<a class="text-num" ng-bind="pro.selected.value"></a>
						<span><i class="fa fa-close"></i></span>
 					</div>
					<ul class="list-inline" ng-if="!pro.selected">
						<li ng-repeat="v in pro.values|orderBy:'value'" title="{{v.value}}" ng-show="$index<18||pro.more">
							<a ng-click="selectProperty(pro, v)" ng-bind="v.value"></a>
						</li>
					</ul>
				</div>
				<div class="sl-ext">
					<a ng-click="moreValue(pro)" class="text-muted" ng-if="pro.values.length>18&&!pro.selected">
						<span ng-if="!pro.more">更多 <i class="fa fa-angle-double-down"></i></span>
						<span ng-if="pro.more">收起 <i class="fa fa-angle-double-up"></i></span>
					</a>
				</div>
				<div class="clear"></div>
			</div>
			<div class="sl-more" ng-if="kind.properties.length>2">
 				<div class="text-center">
					<a ng-click="moreProperty()">
						<span ng-if="!kind.morePro">展开更多产品属性筛选 <i class="fa fa-angle-double-down"></i></span>
						<span ng-if="kind.morePro">收起更多产品属性筛选 <i class="fa fa-angle-double-up"></i></span>
					</a>
				</div> 
			</div>
		</div> -->
		<!-- <div class="content">
			<div class="total" >
				<div class="row">
					<div class="col-xs-2">
						<div class="total-content">
							共<span ng-bind="productTableParams.total()"></span>个产品型号
						</div>
					</div>
					<div class="col-xs-offset-5  col-xs-2 text-right">
					    <label class="reserve" ng-click="filterNoReserveZero()">
					      <input type="checkbox" style="vertical-align: text-bottom;" ng-model="noReserveZero">&nbsp; 库存量不为零
					    </label>
					</div>
					<div class="col-xs-3">
						<div ng-table-pagination="paginationParams" template-url="templates.pagination">
							<div class="ng-table-pager" ng-if="paginationParams.data.length">
								<div ng-if="paginationParams.settings().counts.length" class="pagging pull-right">
									<ul class="list-unstyled list-inline">
										<li ng-repeat="count in paginationParams.settings().counts" 
											ng-class="{'btnactive':paginationParams.count()==count}"
											class="pagging-count" ng-click="paginationParams.count(count)">
											<span ng-bind="count"></span>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		<div class="component-table">
			<div ng-include src="'static/view/common/componentGoods_list.html'"></div>
		</div>
	</div>
</div>