<!-- 类目描述属性维护的预览模态框，用于预览效果，不作操作 -->
<div class="modal-header">
	<h3 class="modal-title">
		<i class="fa fa-fw fa-eye text-default"></i>
		<span> 预览类目属性录入</span>
	</h3>
</div>
<div class="modal-body">
	<form class="form-horizontal">
		<div ng-repeat="drop in kind.properties | orderBy : 'num'"
			class="drop-unit text-muted">
			<div class="form-group">
				<label class="col-sm-4 control-label"><span
					class="text-required" ng-show="drop.required">*</span>{{drop.property.labelCn}}：</label>
				<div dynamic-input="drop"></div>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-default" ng-click="cancel()" type="button">取消</button>
</div>
