<!-- 类目修改模态框，修改类目名称 -->
<div class="modal-header">
	<h3 class="modal-title">
		<i class="fa fa-fw fa-sitemap"></i>
		<span>请确认是否删除类目</span>
	</h3>
</div>
<form name="myForm" novalidate ng-submit="save()">
	<div class="modal-body">
		<div class="form-group">
			<label>要删除的类目</label> 
			<input type="text" name="name"
				ng-model="kind.nameCn" class="form-control" required autofocus readonly="readonly">
			<span id="helpBlock" class="help-block">
				<i class="fa fa-exclamation-triangle text-inverse"></i> 
				<span ng-if="kind.isLeaf" class="text-inverse">删除该类目将会清空该类目包含器件的类目属性。</span>
				<span ng-if="!kind.isLeaf" class="text-inverse">要删除的类目不是叶子几点，它含有子类目，删除该类目会删除该类目的所有子类目，同时该类目下所有子类目包含的器件的类目属性会被清空。</span>
				<br><br>
				确认删除请点击确认删除按钮，不删除点击取消按钮。
			</span>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="submit">确认删除</button>
		<button class="btn btn-default" ng-click="cancel()" type="button">取消</button>
	</div>
</form>