<style>
.modal-dialog {
    width: 420px;
    margin: 30px auto;
}
table tr {
	cursor: pointer;
}
table tr:hover .br-name {
	position: relative;
	left: 4px;
	font-weight: 600;
}
table tr .br-select {
	display: none;
}
table tr:hover .br-select {
	display: inline-block;
}
</style>
<!-- 品牌选择模态框 -->
<div class="modal-header">
	<h3 class="modal-title">选择所属品牌</h3>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-xs-12">
			<table ng-table="brandsTableParams" class="table table-condensed table-bordered table-striped">
				<tr class="info">
					<th width="100">
						<input type="text" ng-model="filter.keyword" ng-change="search()"
							class="form-control input-sm" placeholder="请输入关键词进行筛选" autofocus/>
					</th>
				</tr>
		        <tr ng-repeat="brand in $data" ng-click="select(brand)">
		          <td class="text-left">
		          	<div class="text-num f14">
		          		<span class="br-name" ng-bind="brand.nameCn"></span>
		          	</div>
		          	<div class="text-muted f12">
		          		<span ng-bind="brand.nameEn||'空'"></span>
		          		<span class="br-select pull-right">选择</span>
		          	</div>
		          </td>
		        </tr>
	        </table>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-default" ng-click="cancel()">取消</button>
</div>