<style>
	/*index*/
	#manufacturer-header {
		width: 1190px;
		height: 360px;
		margin-bottom: 60px;
		padding: 0px;
	}

	#banner .banner-body {
		margin: 0 auto;
		width: 1190px;
	}
	#newBrands {
		float: left;
		width: 350px;
		height: 360px;
		border: 1px solid #ccc;
	}

	#newBrands .newBrands-header {
		font-size: 18px;
		font-weight: bold;
		color: #323232;
		height: 60px;
		padding-top: 12px;
	}

	#newBrands .newBrands-header img {
		width: 35px;
		height: 35px;
		margin-left: 35px;
	}

	#newBrands .newBrands-body {
		/*text-align: center;*/
	}

	#newBrands .newBrands-body .newBrand {
		margin-bottom: 15px;
	}

	#newBrands .newBrands-body .newBrand .newBrand-img {
		display: inline-block;
		margin-right: 10px;
		margin-left: 27px;
		float: left;
	}

	#newBrands .newBrands-body .newBrand .newBrand-img img {
		width: 100px;
		height: 60px;
		line-height: 14px;
		border: 1px solid #ccc;
	}

	#newBrands .newBrands-body .newBrand .newBrand-text {
		display: inline-block;
		line-height: 26px;
		height: 60px;
		width: 200px;
	}

	#newBrands .newBrands-body .newBrand .newBrand-text .newBrands-title {
		font-size: 16px;
		color: #323232;
	}

	#newBrands .newBrands-body .newBrand .newBrand-text .newBrands-message {
		font-size: 14px;
		color: #787878;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	#category {
		text-align: center;
		float: left;
		width: 20%;
		height: 300px;
		color: white;
		font-size: 16px;
	}

	#carousel {
		float: left;
		width: 840px;
		height: 360px;
		margin-bottom: 60px;
	}

	#recommends {
		width: 1190px;
		padding: 0px;
	}

	#recommends .hr-blue {
		border-bottom: 2px solid #6493FF;
		border-right: 0px;
		border-top: 0px;
		border-left: 0px;
		width: 100%;
		margin-bottom: 20px;
	}

	#recommends .recommend-list {
		margin-bottom: 20px;
		text-align: center;
		margin: 0;
	}

	#recommends .recommend-list .recommend {
		width: 220px;
		height: 210px;
		border: 1px solid #D6D3CE;
		margin-right: 22.5px;
		margin-bottom: 22px;
		padding: 0;
		float: left;
		overflow: hidden;
	}
	#recommends .recommend-list .recommend:last-child{
		margin-right: 0px !important;
	}
	.margin-left-zero {
		margin-left: 0px !important;
	}
	#recommends .recommend-list .recommend a {
		text-decoration: none;
	}
	#recommends .recommend-list .recommend .img{
		width: 200px;
		height: 80px;
		display: inline-block;
		overflow: hidden;
		line-height: 88px;
		text-align: center;
	}
	#recommends .recommend-list .recommend img{
		max-height: 80px;
		max-width: 200px;
	}

	#recommends .recommend-list .recommend .content {
		font-family: "Microsoft Yahei";
		margin: 0 10px;
		height: 108px;
		text-align: left;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		word-break: break-all;
	}

	#recommends .recommend-list .recommend .name {
		font-size: 16px;
		color: #383939;
		font-weight: 600;
		width: 200px;
		/*height: 30px;*/
		margin-bottom: 8px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	#recommends .recommend-list .recommend .subject, #recommends .recommend-list .recommend .description {
		width: 200px;
		height: 35px;
		font-size: 12px;
		color: #797979;
		line-height: 18px;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		max-height: 36px;
	}
	#recommends .recommend-list .recommend .description{
		/*overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;*/
		margin-top: 5px;
	}
	#recommends .recommend-list .recommend .subject span {
		width: 204px;
		white-space: pre-wrap;
		word-wrap : break-word ;
		overflow: hidden;
		text-overflow: ellipsis;
	}
		#recommends .recommend-list .recommend:hover{
		border: #5078cb 1px solid;
	}
	#recommends .recommend-list .recommend .description span {
		width: 204px;
		display: inline;
		white-space: pre-wrap;
		word-wrap : break-word ;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.title-icon {
		font-size: 24px;
		color: #323232;
		margin-top: 30px;
		margin-bottom: 10px
	}

	/** brandList*/
	#brandsList {
		clear: both;
		width: 1190px;
		padding: 0px;
	}

	#brandsList .hr-blue {
		border-bottom: 2px solid #6493FF;
		border-right: 0px;
		border-top: 0px;
		border-left: 0px;
		width: 100%;
	}

	#brandsList .initials {
		margin-top: 3px;
	}

	#brandsList .row {
		margin: 20px 0px;
	}

	#brandsList .row .initial {
		font-size: 16px;
		color: #787878;
	}

	#brandsList .row .initial:hover{
		color: #5078CB;
		font-weight: bold;
		cursor: pointer;
	}

	#brandsList .row .initial-active{
		color: #5078CB;
		font-weight: bold;
	}

	#brands .container {
		width: 1190px;
		padding: 0px;
	}

	#brands .row .brands-title {
		width: 70px;
		height: 30px;
		padding-top: 5px;
		text-align: center;
		font-size: 16px;
		color: #fff;
		background-color: #6493FF;
	}

	#brands .row .brands-body {
		margin-bottom: 30px;
		font-size: 14px;
		color: #323232;
	}

	#brands .simplebrand {
		height: 30px;
		margin: 13px 0px;
	}

	#brands .simplebrand a {
		color: #323232;
		text-decoration: none;
	}

	#brands .simplebrand:hover a{
		color: #6493FF;
		font-weight: bold;
	}

	#brands .simplebrand .brand-name {
		margin-bottom: 2px;
	}

	#brands .simplebrand .brand-name-cn {
		font-size: 12px;
	}

	#brandsList ul {
		padding-left: 0px;
	}

	#brandsList ul li {
		list-style: none;
	}
	#carousel li {
		width: 12px;
		height: 12px;
		margin: 3px;
	}
</style>
<!--<div id="manufacturer-header" class="container">
	<div id="carousel">
		<carousel interval="5000">
			<slide ng-repeat="c in carousels" active="slide.active">
				<img ng-src="{{c.pictureUrl}}" width="840px" height="360px" style="max-width: 840px;max-height: 360px">
				<div class="carousel-caption">
					<h4 ng-bind="c.body"></h4>
				</div>
			</slide>
		</carousel>
	</div>
	<div id="newBrands">
		<div  class="newBrands-header">
			<img src="static/img/icon/new.png" />
			<span>新入驻的厂家</span>
		</div>
		<div  class="newBrands-body">
			<div class="newBrand" ng-repeat="newBrand in newBrands">
				<a href="product#/brand/{{newBrand.uuid}}/">
					<div class="newBrand-img">
						<img ng-src="{{newBrand.logoUrl}}" />
					</div>
					<div class="newBrand-text">
						<div class="newBrands-title" ng-bind="newBrand.nameEn"></div>
						<div class="newBrands-message">
							<span>主营：</span>
							<span ng-bind="newBrand.series"></span>
							<span ng-if="!newBrand.series">未知</span>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>-->

<div id="recommends"  class="container">
	<div class="title-icon">品牌推荐</div>
	<div class="hr-blue"></div>
		<ul class="recommend-list list-unstyled list-inline">
			<li class="recommend" ng-repeat="hotBrand in hotBrands">
				<a ng-href="product#/brand/{{hotBrand.uuid}}/">
					<div class="img"><img ng-src="{{hotBrand.logoUrl || 'static/img/all/default.png'}}" /></div>
					<div class="content">
						<div class="name">
							<span ng-bind="hotBrand.nameEn" title="{{hotBrand.nameEn}}"></span>
						</div>
						<div class="subject">
							<strong>主营分类</strong>： <span ng-bind="hotBrand.series"></span> <span ng-if="!hotBrand.series">未知</span>
						</div>
						<div class="description">
							<strong>品牌介绍</strong>：<span ng-bind-html="hotBrand.brief"></span> <span ng-if="!hotBrand.brief">暂无简介</span>
						</div>
					</div>
				</a>
			</li>
		</ul>
	</div>
</div>

<div id="brandsList" class="container">
	<div class="title-icon">品牌索引</div>
	<div class="hr-blue"></div>
	<ul class="row initials">
		<li class="col-xs-1 initial" ng-click="showList('ABC')" ng-class="{'initial-active' : choosedInitials.indexOf('ABC')>=0}">ABC</li>
		<li class="col-xs-1 initial" ng-click="showList('DEF')" ng-class="{'initial-active' : choosedInitials.indexOf('DEF')>=0}">DEF</li>
		<li class="col-xs-1 initial" ng-click="showList('GHI')" ng-class="{'initial-active' : choosedInitials.indexOf('GHI')>=0}">GHI</li>
		<li class="col-xs-1 initial" ng-click="showList('JKL')" ng-class="{'initial-active' : choosedInitials.indexOf('JKL')>=0}">JKL</li>
		<li class="col-xs-1 initial" ng-click="showList('MNO')" ng-class="{'initial-active' : choosedInitials.indexOf('MNO')>=0}">MNO</li>
		<li class="col-xs-1 initial" ng-click="showList('PQR')" ng-class="{'initial-active' : choosedInitials.indexOf('PQR')>=0}">PQR</li>
		<li class="col-xs-1 initial" ng-click="showList('STU')" ng-class="{'initial-active' : choosedInitials.indexOf('STU')>=0}">STU</li>
		<li class="col-xs-1 initial" ng-click="showList('VWX')" ng-class="{'initial-active' : choosedInitials.indexOf('VWX')>=0}">VWX</li>
		<li class="col-xs-1 initial" ng-click="showList('YZ')" ng-class="{'initial-active' : choosedInitials.indexOf('YZ')>=0}">YZ</li>
		<li class="col-xs-1 initial" ng-click="showList('0~9')" ng-class="{'initial-active' : choosedInitials.indexOf('0~9')>=0}">0~9</li>
	</ul>
	<div id="brands">
		<div ng-repeat="(initial,brandList) in brands" class="row container brands-page" ng-show="choosedInitials.indexOf(initial) >= 0">
			<div class="brands-title" ng-bind="initial"></div>
			<div class="hr-blue"></div>
			<div class="row brands-body">
				<div class="col-xs-3 simplebrand" ng-repeat="brand in brandList | orderBy: 'nameEn'">
					<div class="brand-name">
						<a ng-href="product#/brand/{{brand.uuid}}/">
							<span ng-bind="brand.nameEn"></span>
						</a>
					</div>
					<div>
						<a ng-href="product#/brand/{{brand.uuid}}/" ng-if="brand.nameEn!=brand.nameCn">
							<span ng-bind="brand.nameCn" class="brand-name-cn"></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
