<!-- 拖拽样式 -->
<style>
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

[ng-drag],[ng-drag-clone] {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

[ng-drag-clone],[ng-drag],[ng-drag].dragging {
	cursor: move;
}

[ng-drag-clone] {
	margin: 0;
}

[ng-drag].drag-over {
	padding: 5px;
	background-color: #f0f0f0 !important;
	border: solid 1px #ff9831 !important;
}

[ng-drag].dragging {
	opacity: 0.8;
	width: 380px;
}

[ng-drop].drag-enter {
	border: dashed 3px #ff9831 !important;
}

[ng-drop] div {
	position: relative;
	z-index: 2;
}
</style>
<div loading="loading">请稍等...</div>
<div class="mgr">
	<!-- 功能项导航 Start -->
	<div class="navbar navbar-inverse" id="nav">
		<div class="nav-inner">
			<div class="container">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">类目属性</a></li>
					<li><a href="#">品牌厂商</a></li>
					<li><a href="#">标准元器件</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- 功能项导航 End -->
	<div class="container clearfix">
		<!-- 所有类目 Start -->
		<div class="categories" ng-controller="NavCtrl">
			<ul class="list-group">
				<li class="list-group-item dropdown-submenu"
					ng-repeat="category in categories"><a href="#"
					class="dropdown-toggle"> <span ng-bind="category.name"></span><i
						class="pull-right fa fa-angle-right"></i>
					</a>
					<div class="dropdown-menu">
						<div class="subcates">
							<dl class="dl-horizontal" ng-repeat="child in category.children"
								ng-show="!category.children[0].leaf">
								<dt ng-bind="child.name"></dt>
								<dd>
									<ul class="list-unstyled list-inline">
										<li ng-repeat="leaf in child.children"><a
											ng-click="select(category, child, leaf)" ng-bind="leaf.name"></a></li>
									</ul>
								</dd>
							</dl>
							<ul class="list-unstyled list-inline"
								ng-show="category.children[0].leaf">
								<li ng-repeat="child in category.children"><a
									ng-click="select(category, child)" ng-bind="child.name"></a></li>
							</ul>
						</div>
					</div></li>
			</ul>
		</div>
		<!-- 所有类目 End -->
		<!-- 属性编辑 Start -->
		<div class="design clearfix">
			<!-- 放置编辑属性 Start -->
			<div class="drop-container">
				<div class="header">
					<ol class="breadcrumb">
						<span><i class="fa fa-share-alt fa-fw"></i>&nbsp;您选择的类目：</span>
						<li ng-repeat="a in productKinds" class="text-muted">{{a.name}}</li>
					</ol>
				</div>
				<div class="header">
					<i class="fa fa-gear fa-fw"></i>&nbsp;编辑产品属性
					<div class="pull-right">
						<div class="btn-group">
							<button class="btn btn-default btn-xs">预览</button>
							<button class="btn btn-default btn-xs">代码</button>
							<button class="btn btn-default btn-xs" ng-click="save()">完成</button>
						</div>
					</div>
				</div>
				<form class="form-horizontal drag-object">
					<div ng-repeat="drop in properties | orderBy : 'num'"
						class="drop-unit text-muted">
						<div class="form-group" ng-drop="true"
							ng-drop-success="onDropComplete2($data,$event,drop)"
							ng-drop-touch="onDropEnter($data,$event)" ng-drag="true"
							ng-drag-data="drop">
							<label class="col-sm-4 control-label"><span
								class="text-required" ng-show="drop.required">*</span>{{drop.label}}：</label>
							<div dynamic-input="drop"></div>
						</div>
						<div class="operator">
							<a title="编辑组件参数" ng-click="drop.$editing=true"><i
								class="fa fa-cog"></i></a> <a ng-click="onDropDelete(drop)"
								title="删除组件"><i class="fa fa-times"></i></a>
						</div>
						<div html-popup title="{{drop.label}}" placement="right"
							animation="true" is-open="drop.$editing">
							<form>
								<div class="form-group">
									<div class="col-sm-6">
										<label>属性名</label> <input type="text"
											class="form-control input-sm" ng-model="drop.label">
									</div>
									<div class="col-sm-6"
										ng-show="drop.type == 'text' || drop.type == 'text-addon-left' || drop.type == 'text-addon-right' || drop.type == 'text-text' || drop.type == 'textarea'">
										<label>占位符</label> <input type="text"
											class="form-control input-sm" ng-model="drop.placeholder">
									</div>
								</div>
								<div class="form-group"
									ng-show="drop.type == 'text' || drop.type == 'text-addon-left' || drop.type == 'text-addon-right' || drop.type == 'text-text' || drop.type == 'textarea'">
									<div class="col-sm-6">
										<label>数据类型</label> <input type="text"
											class="form-control input-sm" ng-model="drop.data_type"
											placeholder="文本">
									</div>
									<div class="col-sm-6">
										<a class="pull-right"
											title="限制输入的内容的字节长度。其中，一个汉字占3个字节，其余的字符均为1个字节"><i
											class="fa fa-question-circle"></i></a> <label>字符长度限制</label> <input
											type="text" class="form-control input-sm"
											ng-model="drop.data_length" placeholder="无限制">
									</div>
								</div>
								<div class="form-group"
									ng-show="drop.type == 'text' || drop.type == 'text-addon-left' || drop.type == 'text-addon-right' || drop.type == 'text-text' || drop.type == 'textarea'">
									<div class="col-sm-12">
										<label>帮助信息</label> <input type="text"
											class="form-control input-sm" ng-model="drop.helpinfo">
									</div>
								</div>
								<div class="form-group"
									ng-show="drop.type == 'select' || drop.type == 'select-multiple' || drop.type == 'checkbox' || drop.type == 'radio' || drop.type == 'checkbox-inline' || drop.type == 'radio-inline'">
									<div class="col-sm-12">
										<label>选项</label>
										<textarea class="form-control" rows="4"
											ng-model="drop.options">
										</textarea>
									</div>
								</div>
								<div class="form-group" ng-show="drop.type == 'text-addon-left'">
									<div class="col-sm-6">
										<label>前置</label> <input type="text"
											class="form-control input-sm" ng-model="drop.prefix"
											placeholder="前置">
									</div>
								</div>
								<div class="form-group"
									ng-show="drop.type == 'text-addon-right'">
									<div class="col-sm-6">
										<label>后置</label> <input type="text"
											class="form-control input-sm" ng-model="drop.subfix"
											placeholder="后置">
									</div>
								</div>
								<div class="checkbox">
									<label> <input type="checkbox" ng-model="drop.required">
										不允许为空
									</label>
								</div>
								<hr>
								<button ng-click="drop.$editing=false"
									class="btn btn-sm btn-info">确定</button>
								<button ng-click="drop.$editing=false"
									class="btn btn-sm btn-default">关闭</button>
							</form>
						</div>
					</div>
				</form>
				<div class="drop-add text-muted" ng-drop="true"
					ng-drop-success="onDropComplete1($data,$event)"
					ng-drop-touch="onDropEnter($data,$event)">
					<p class="text-center">
						<i class="fa fa-plus-square fa-fw"></i>组件拖放到这里
					</p>
				</div>
			</div>
			<!-- 放置编辑属性 End -->
			<!-- 拖动部分 Start -->
			<div class="drag-container">
				<div class="drag-fixed">
					<div class="header">
						<i class="fa fa-retweet fa-fw"></i>&nbsp;待拖动的组件
					</div>
					<tabset justified="true"> <tab heading="输入框"
						ng-mouseover="select()">
					<form class="form-horizontal drag-object">
						<div class="form-group" ng-drag="true"
							ng-drag-data="{type:'text',label:'文本输入'}">
							<label class="col-sm-4 control-label">文本输入</label>
							<div class="col-sm-7">
								<input type="text" placeholder="占位符"
									class="form-control input-sm">
								<p class="help-block">帮助信息</p>
							</div>
						</div>
						<div class="form-group" ng-drag="true"
							ng-drag-data="{type:'text-addon-left',label:'带前置文本',prefix:'前置'}">
							<label class="col-sm-4 control-label">带前置文本</label>
							<div class="col-sm-7">
								<div class="input-group">
									<div class="input-group-addon">前置</div>
									<input type="text" placeholder="占位符"
										class="form-control input-sm">
								</div>
								<p class="help-block">帮助信息</p>
							</div>
						</div>
						<div class="form-group" ng-drag="true"
							ng-drag-data="{type:'text-addon-right',label:'带后置文本',subfix:'后置'}">
							<label class="col-sm-4 control-label">带后置文本</label>
							<div class="col-sm-7">
								<div class="input-group">
									<input type="text" placeholder="占位符"
										class="form-control input-sm">
									<div class="input-group-addon">后置</div>
								</div>
								<p class="help-block">帮助信息</p>
							</div>
						</div>
						<div class="form-group" ng-drag="true"
							ng-drag-data="{type:'text-text',label:'文本区间'}">
							<label class="col-sm-4 control-label">文本区间</label>
							<div class="col-sm-7">
								<div class="input-group group-2">
									<input type="text" placeholder="占位符"
										class="form-control input-sm"> <input type="text"
										placeholder="占位符" class="form-control input-sm">
								</div>
								<p class="help-block">帮助信息</p>
							</div>
						</div>
						<div class="form-group" ng-drag="true"
							ng-drag-data="{type:'textarea',label:'文本框输入'}">
							<label class="col-sm-4 control-label">文本框输入</label>
							<div class="col-sm-7">
								<textarea placeholder="占位符" class="form-control"></textarea>
							</div>
						</div>
					</form>
					</tab> <tab heading="下拉框" ng-mouseover="select()">
					<form class="form-horizontal drag-object">
						<div class="form-group" ng-drag="true"
							ng-drag-data="{type:'select',label:'下拉框',options:'0\n1\n2\n3'}">
							<label class="col-sm-4 control-label">下拉框</label>
							<div class="col-sm-7">
								<select class="form-control input-sm">
									<option value="0">0</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
								</select>
							</div>
						</div>
						<div class="form-group" ng-drag="true"
							ng-drag-data="{type:'select-multiple',label:'多选下拉框',options:'0\n1\n2\n3'}">
							<label class="col-sm-4 control-label">多选下拉框</label>
							<div class="col-sm-7">
								<select multiple class="form-control input-sm">
									<option value="0">0</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
								</select>
							</div>
						</div>
					</form>
					</tab> <tab heading="勾选 / 单选" ng-mouseover="select()">
					<form class="form-horizontal drag-object">
						<div class="form-group" ng-drag="true"
							ng-drag-data="{type:'checkbox-inline',label:'横向勾选框',options:'0\n1\n2'}">
							<label class="col-sm-4 control-label">横向勾选框</label>
							<div class="col-sm-7">
								<label class="checkbox-inline"> <input type="checkbox"
									name="checkbox-inline" value="0"> 0
								</label> <label class="checkbox-inline"> <input type="checkbox"
									name="checkbox-inline" value="1"> 1
								</label><label class="checkbox-inline"> <input type="checkbox"
									name="checkbox-inline" value="2"> 2
								</label>
							</div>
						</div>
						<div class="form-group" ng-drag="true"
							ng-drag-data="{type:'radio-inline',label:'横向单选框',options:'0\n1\n2'}">
							<label class="col-sm-4 control-label">横向单选框</label>
							<div class="col-sm-7">
								<label class="radio-inline"> <input type="radio"
									name="radio-inline" value="0"> 0
								</label> <label class="radio-inline"> <input type="radio"
									name="radio-inline" value="1"> 1
								</label><label class="radio-inline"> <input type="radio"
									name="radio-inline" value="2"> 2
								</label>
							</div>
						</div>
						<div class="form-group" ng-drag="true"
							ng-drag-data="{type:'checkbox',label:'竖向勾选框',options:'0\n1\n2'}">
							<label class="col-sm-4 control-label">竖向勾选框</label>
							<div class="col-sm-7">
								<div class="checkbox">
									<label> <input type="checkbox" name="checkbox"
										value="0"> 0
									</label>
								</div>
								<div class="checkbox">
									<label> <input type="checkbox" name="checkbox"
										value="1"> 1
									</label>
								</div>
								<div class="checkbox">
									<label> <input type="checkbox" name="checkbox"
										value="2"> 2
									</label>
								</div>
							</div>
						</div>
						<div class="form-group" ng-drag="true"
							ng-drag-data="{type:'radio',label:'竖向单选框',options:'0\n1\n2'}">
							<label class="col-sm-4 control-label">竖向单选框</label>
							<div class="col-sm-7">
								<div class="radio">
									<label> <input type="radio" name="radio" value="0">
										0
									</label>
								</div>
								<div class="radio">
									<label> <input type="radio" name="radio" value="1">
										1
									</label>
								</div>
								<div class="radio">
									<label> <input type="radio" name="radio" value="2">
										2
									</label>
								</div>
							</div>
						</div>
					</form>
					</tab> <tab heading="文件" ng-mouseover="select()">
					<form class="form-horizontal drag-object">
						<div class="form-group" ng-drag="true"
							ng-drag-data="{type:'file',label:'选择文件'}">
							<label class="col-sm-4 control-label">选择文件</label>
							<div class="col-sm-7">
								<input type="file" class="input-file">
							</div>
						</div>
					</form>
					</tab></tabset>
				</div>
			</div>
			<!-- 拖动部分 End -->
		</div>
		<!-- 属性编辑 End -->
	</div>
</div>
<!-- 固定栏帮助 Start -->
<div class="fixed-btn" style="right: 1px; bottom: 30%;">
	<a href="#info?kindIds={{kindIds}}"><i class="fa fa-star-o"></i>发布产品</a> <a><i
		class="fa fa-hand-o-up"></i>我要帮助</a> <a><i
		class="fa fa-question-circle"></i>问题反馈</a>
</div>
<!-- 固定栏帮助 End -->