<style>
.modal-header{
    background: #f4f4f4;
}
h5 {
    font-weight: 700;
}
ul, ol, td {
    list-style: none;
    margin: 0;
    padding: 0;
}
.main {
    margin: 20px auto;
    width: 100%;
    padding: 3px 3px;
}
.main .main-s{
    border: 1px solid #d2d2d2;
    margin-bottom: 15px;
}
.main-l dl:after, .main-l:after, .main-l ul:after {
	 clear: both;
	 content: " ";
	 display: block;
	 height: 0;
	 visibility: hidden;
}
.main-l{
     margin-top: 8px;
     padding-bottom: 10px;
     overflow: hidden;	
}
.main-l dl, .main-l dt,.main-l dd {
    float: left;
}
.main-l dt {
    width: 100px;
    font-weight: bold;
    text-align: right;
    margin-right: 10px;
}
.main-l .main-dd{
  	width: 950px;
	margin-bottom: -20px;
}
.main-l .main-d {
    width: 950px;
    max-height: 25px;
}
.main-l li {
    float: left;
    width: 137px;
	margin-right: 18px;
    margin-bottom: 10px;
    overflow: hidden;
}
.main-l li .active{
	 color: #fff;
	 background: #3c9cff;
}
.main-l li a{
	padding: 5px;
}
.main-r {
    float: right;
    margin-right: 10px;
}
.content{
	margin: 10px 0 20px 0;;
}
.content:after {
    clear: both;
    display: block;
    content: "";
}
.main .content-f{
	float: left;
}
.main  .content-r{
	float: right;;
}
.samples-h2 {
    font-family: 微软雅黑;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    margin-bottom: 5px;
}
.sample-list{
	width: 225px;
    height: 248px;
    margin: 0;
    float: left;
   	border-left: 1px solid #e8e8e8;
    background-color: #f0f7fd;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.sample-list a{
	text-decoration:none;
}
.sample-list .a1:hover{
	left:45px;
	transition: left 0.5s ease;
	-moz-transition: left 0.5s ease; /* Firefox 4 */
	-webkit-transition: left 0.5s ease; /* Safari 和 Chrome */
	-o-transition: left 0.5s ease; /* Opera */
}
.a2{
	position: relative;
	left: 75px;
	bottom: 15px;
}
.a2-r{
	position: relative;
	left: 60px;
	bottom: 15px;
}
.a1{
	position: relative;
    left: 50px;
    top: 25px;
} 
.main .proofList{
	width: 100%;
    height: auto;
    border: 1px solid #d2d2d2;
    border-top: 2px solid #89c1ff;
    margin: 15px 0 15px 0;
}
.proofList:after {
    clear: both;
    display: block;
    content: "";
}
.proofList .main-proof{
	padding: 20px 20px;
}
.proofList .img {
    width: 80px;
    height: 80px;
    margin-right: 15px;
}
.proofList .pro-title {
    width: 720px;
    padding: 10px 10px 10px 20px;
    height: 115px;
}
.proofList .pro-r {
	padding: 15px 10px 0 0;
}
.proofList .pro-r div{
	margin-top: 10px;
}
.proofList table>tbody+tbody {
    	border-top: none; 
}
.proofList .table tr td {
	border-top: 1px solid #F5EFEF;
}
.proofList .table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: none;
}

.elipsiss {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.main-s .total .ng-table-pager .pull-right ul>li {
	float: left;
    list-style: none;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: -2px;
    border-left: 2px #fff solid;
    border-right: 2px #fff solid;
    width: inherit;
}
</style>
<div class="main">
	<!-- 广告图片  -->
	<div>
		<ul>
			<li>
				<img alt="样片中心" title="样片中心" src="static/img/proofing/uuproofing.jpg" width="100%" height="200">
			</li>
		</ul>
	</div>
	<!-- 样品展示 -->
	<div class="content">
		<!-- 推荐样品  -->
		<div class="content-f">
			<h2 class="samples-h2">推荐样品</h2>
			<div class="sample-list" ng-repeat="component in recommends" ng-if="$index<2">
	 		 	<p>
	 		 		<a class="a1" ng-href="product#/component/{{component.uuid}}/">
	 		 			<img ng-src="" lazy-load="{{component.img || 'static/img/all/default.png'}}" alt="{{component.code}}" width="100" height="100">
	 		 		</a>		
	 		 		<a class="a2"><img src="static/img/proofing/produt.png"></a>
	 		 	</p>
	 		 	<center><h5 style="margin: 40px 10px;"><a ng-bind="component.code" ng-href="product#/component/{{component.uuid}}/"></a></h5></center>
	 		 	<center><button class="btn btn-primary" ng-click="appleZero(component)" ng-disabled="true">0元申请</button></center>
	 		</div>
		</div>
		<!-- 最新上架样品  -->
		<div class="content-f" style="margin-left: 8px;">
			<h2 class="samples-h2">最新上架样品</h2>
	 		<div class="sample-list" ng-repeat="component in recommends ">
	 		 	<p>
	 		 		<a class="a1" ng-href="product#/component/{{component.uuid}}/">
	 		 			<img ng-src="" lazy-load="{{component.img || 'static/img/all/default.png'}}" alt="{{component.code}}" width="100" height="100">
	 		 		</a>		
	 		 		<a class="a2"><img src="static/img/proofing/produt.png"></a>
	 		 	</p>
	 		 	<center><h5 style="margin: 40px 10px;"><a ng-bind="component.code" ng-href="product#/component/{{component.uuid}}/"></a></h5></center>
	 		 	<center><button class="btn btn-primary" style="margin-bottom:0px;" ng-click="appleZero(component)" ng-disabled="true">0元申请</button></center>
	 		</div>
		</div>
		<!-- 样品申请排行  -->
		<div></div>
	</div>
    <!-- 样品分类显示 -->
    <div class="main-s">
       <div style="padding: 0 12px 0 15px;">	
			<div class="total row clearfix" >
				<div class="col-xs-1 total-content">样品分类</div>
				<div class="col-xs-3 col-xs-offset-8">
					<div ng-table-pagination="paginationParams" template-url="templates.pagination">
						<div class="ng-table-pager" ng-if="paginationParams.data.length">
							<div ng-if="paginationParams.settings().counts.length" class="pull-right">
								<ul>
									<li ng-repeat="count in paginationParams.settings().counts" ng-class="{'btnactive':paginationParams.count()==count}"><a ng-click="paginationParams.count(count)" ng-bind="count"></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
        <div class="main-l">
            <dl>
                <dt> 类目分类:</dt>
                <dd ng-class="{'main-d': myflag.flag, 'main-dd': !myflag.flag}">
                    <ul>
                        <li ng-repeat="kind in kinds"><a ng-class="{'active': myflag.activeid == kind.id}" ng-bind="kind.nameCn" ng-click="searchKind(kind,$index)"></a></li>
                    </ul>
                </dd>
            </dl>
            <div class="main-r">
                <a class="btn btn-default btn-sm" ng-click="onFlag()" ng-if="myflag.flag">更多&nbsp;<i class="fa fa-angle-double-down"></i></a>
                <a class="btn btn-default btn-sm" ng-click="onFlag()" ng-if="!myflag.flag">收起&nbsp;<i class="fa fa-angle-double-up"></i></a>
            </div>
        </div>
    </div>
	<!-- 搜索框 -->
	<div class="search row">
		<div class="col-xs-1">
			<p style="margin-top: 8px;">
				共<span class="badge">{{componentTableParams.total()}} </span>条
			</p>
		</div>
		<div class="col-xs-4 pull-right">
			<div class="input-group">
				<input type="search" class="form-control" ng-model="keyword"
					ng-search="onSearch()" placeholder="请输入产品型号查询">
				<span class="input-group-btn">
					<button ng-click="onSearch()" class="btn btn-default" type="button">搜索</button>
				</span>
			</div>
		</div>
	</div>
	<!-- 样品展示列表 -->
	<div class="proofList" ng-repeat="component in components">
		<!-- 型号主数据 -->
		<div class="main-proof">
			<div class="content-f pro-title">
				<div class="content-f img">
					<a href="product#/component/{{component.uuid}}/"><img width="80px" height="80px" alt="{{component.code}}"
									ng-src="" lazy-load="{{component.img || 'static/img/all/default.png'}}"></a>
				</div>
				<div class="content-f">
					<div style="margin:10px 0 5px 0"><a class="f16 text-bold text-num" href="product#/component/{{component.uuid}}/">{{component.code}}</a>
					&nbsp;&nbsp;<a class="text-num" ng-href="product#/brand/{{component.brand.uuid}}/"
								ng-bind="component.brand.nameCn"></a></div>
					<p><span title="产品分类"><i class="iconfont icon-kind f14"></i>&nbsp;&nbsp;<a
								ng-href="product#/kinds/{{component.kind.id}}"
								ng-bind="component.kind.nameCn"></a></span></p>
					<p>	<span class="title">包装方式：</span> <span class="content">{{component.packaging
								|| '无'}}</span></p>
				</div>
			</div>
			<div class="content-r pro-r">
				<!-- <div><span>最低至</span>&nbsp;<span ng-if="component.minPrice">
				<span class="text-inverse f16 text-bold">¥<span ng-bind="component.minPrice | number:4"></span></span></div>  -->
				<div ng-if="component.orderNumber" class="text-muted f12">
					已售出<span ng-bind="component.orderNumber"></span> 单，<span
						ng-bind="component.orderQty"></span> <span class="text-num f14"
						ng-bind="component.unit||'pcs'"></span>
				</div>
				<div ng-if="!component.orderNumber" class="text-muted f12">
					 <p>暂无销售记录</p>
				</div>
				<div>
					样品库存：<span class="text-num f12"
						ng-bind="component.sampleQty || 0 | number"></span> &nbsp;<span
						class="text-num f12" ng-bind="component.unit||'pcs'"></span> <span
						class="label label-success f12" ng-if="component.reserveType==1">现货</span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<table class="table table-hover order-table" style="width: 100%;">
					<thead>
						<tr>
							<th >产品型号</th>
							<th >产品批次</th>
							<th >交货周期</th>
							<th >最小起定量</th>
							<th >最小包装量</th>
							<th >库存量</th>
							<th >单价</th>
<!-- 							<th></th> -->
							<th >操作</th>
						</tr>
					</thead>
					<tbody ng-repeat="goods in component.goods">
						<tr>
							<td ng-bind="component.code"></td>
							<td ng-bind="goods.batchCode"></td>
							<td>
								<span class="text-num">{{goods.deliveryTime}}</span> 天
							<td>
								<span class="text-num text-muted">{{goods.minBuyQty | number}}</span>
							</td>
							<td>
								<span class="text-num text-muted">{{goods.minPackQty | number}}</span>
							</td>
							<td><span class="text-num text-inverse f14">{{goods.reserve | number}}</span>
			        		</td>
			        		<td>
								<div class="row" ng-if="currentPrice(goods)">
									<div class="col-xs-8 text-right">
										<a ng-click="showPrices(goods)"><i
											class="fa fa-angle-double-down"></i></a>
									</div>
									<div class="col-xs-4 text-inverse text-left">
										<span ng-bind="currentPrice(goods) | number:6"
											class="f16 text-bold"></span>
									</div>
								</div>
								<ul class="list-unstyled"
									ng-hide="currentPrice(goods) && !goods.$pricesShow">
									<li ng-repeat="p in goods.prices"
										ng-class="{'active': goods.qty && p.$checked}">
										<div class="row">
											<div class="col-xs-8 text-right price-qty">
												<span ng-bind="p.start"></span> - <span ng-bind="p.end"></span>
												个:
											</div>
											<div class="col-xs-4 text-inverse text-left elipsiss">
												<span ng-bind="goods.currencyName"></span>
												<span ng-bind="p.taxPrice | number:4" class="f14" title="{{p.price}}"></span>
											</div>
										</div>
									</li>
								</ul>
								<div ng-if="goods.tax!=0">含税<span ng-bind="goods.tax"></span>%</div>
							</td>
<!-- 							<td>
								<div ng-if="goods.returnInWeek" class="ng-scope">
			        				<img alt="支持7天无理由退货" src="static/img/product/seven-day-back.jpg" title="支持7天无理由退货">&nbsp;
			        			</div>
							</td> -->
							<td style="vertical-align: middle;">
								<button class="btn btn-primary btn-sm" ng-show="!goods.hasSample"
									ng-click="applyProofing(goods)" ng-disabled="true">
									<i class="fa fa-balance-scale fa-fw"></i> 申请送样
								</button>
								<p class="text-muted" ng-show="goods.hasSample">贵司已申请！</p>
							</td>
						</tr>
					</tbody>
				</table> 
			</div>
		</div>
	</div>
	<!-- 分页展示 -->
	<div>
		<table ng-table="componentTableParams"><thead><tr></tr></thead></table>
	</div>
</div>