#corp-case {
    height: 180px;
    width: 1190px;
    margin: auto;
    text-align: center;
}
#corp-case > h2 {
    font-size: 24px;
    color: rgb(50, 50, 50);
}
#corp-case ul > li {
    display: inline-block;
    width: 13%;
}


/* Center align the text within the three columns below the carousel */
/*
.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}*/
