#nav .container {
    width: 1190px;
    padding: 0px;
}

#nav .container .navbar-nav {
    height: 40px;
}

#header .header-main {
    height: 100px;
    width: 1190px;
    margin: auto;
}
#header .header-main > li {
    display: inline-block;
    margin: 0 1.9em;
    vertical-align: middle;
    text-align: center;
}
#header .header-main >li:first-child {
    height: 100%;
    width: 105px; /*inline元素的宽度会受到别的元素的影响，如果不设置宽度，则会被ghost-center设置的伪元素挤到下方*/
    margin-left: -5.5em;
}
#header .header-main .mall-slogan {
    width: 12em;
}
#header .header-main .mall-search {
    width: 470px;
    height: 40px;
    font-size: 12px;
    font-weight: bold;
}
#header .header-main .mall-search input.form-control, #header .header-main .mall-search button.btn-default {
    height: 40px;
    border: 2px solid hsla(216, 100%, 67%, 1);
}
#header .header-main .mall-search button.btn-default {
    background-color: hsla(216, 100%, 67%, 1);
    color: rgb(255, 255, 255);
    font-size: 17px;
}
#header .header-main .mall-search .active-search {
    text-align: left;
}
#header .header-main .mall-search .active-search .active-search-title, #header .header-main .mall-search .active-search .active-search-body {
    display: inline-block;
}
#header .header-main .mall-search .active-search .active-search-title {
    color: red;
    font-size: 13px;
    font-weight: bold;
    margin-top: 0.5em;
}
#header .header-main .mall-search .active-search .active-search-body .active-search-item {
    color: rgb(120, 120, 120);
    font-size: 13px;
    display: inline-block;
    margin-right: 2em;
}

#header .nav-main {
    list-style: none;
}

/* ::: Main Navigation ::: */
.nav-main {
    /*border-bottom: 1px solid #c7c7c8;*/
    /*border-top: 5px solid #019443;*/
    /*border-top: 1px solid #c8c8c8;*/
    background-color: rgb(244, 248, 255);
    height: 40px;
}
.nav-main > ul {
    margin: 0 auto;
    padding: .45em 0 .5em;
    background-color: rgb(244, 248, 255);
    width: 1190px;
}

.nav-main > ul li {
    /*border-left: 1px solid #c8c8c8;*/
    display: inline-block;
    text-align: left;
}

.nav-main > ul li:first-child {
    border-left: none;
    margin-left: 200px;
}

.nav-main > ul li:last-child a {
    padding-right: 0;
}

.nav-main > ul li a {
    color: #292929;
    display: inline-block;
    font-size: 14px;
    padding: .5em 1.15em .5em 1.4em;
}

.nav-main > ul a:hover {
    color: #029443;
    text-decoration: none;
}

.nav-main > ul .current-page,
.nav-main > ul .current-page:hover {
    color: hsla(216, 100%, 56%, 1);
    cursor: default;

}

#nav .container .nav .category-title {
    /*position: absolute;*/
    /* margin-top: -40px;
     margin-left: 25px;*/
    background-color: rgb(33, 71, 151);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    height: 40px;
    width: 200px;
}