.hot-commodity .hot-commodity-box {
    width: 238px;
    height: 200px;
    border-top: 1px solid #D6D3CE;
    border-left: 1px solid #D6D3CE;
}

.hot-commodity > ul > li {
    /*float: left;*/
}

.hot-commodity ul {
    border-bottom: 1px solid #D6D3CE;
    font-size: 0px;
}

.hot-commodity-box span {
    font-size: 14px;
    font-family: "Microsoft Yahei", "微软雅黑";
    color: #333434;
    text-align: center;
    display: inline-block;
    width: 100%;
    height: 25px;
}

.hot-commodity .border-right {
    border-right: 1px solid #D6D3CE;
}