#nav_fragment .shop-name {
	font-family: "MicrosoftYaHei Regual";
	font-size: 24px;
	color: RGB(50,50,50);
}

#nav_fragment .shop-info {
	font-family: "MicrosoftYaHei Regual";
	font-size: 12px;
	color: rgb(50,50,50);
}

#nav_fragment .shop-data {
	font-family: MicrosoftYahei;
	font-size: 12px;
	line-height: 25px;
	font-weight: 600;
	color: RGB(255,0,0);
}

#nav_fragment .btn-nav{
	width: 40px;
	height: 20px;
}

#nav_fragment .btn-nav .watch {
	font-size: 12px;
	color: white;
}

#nav_fragment .btn-nav .message {
	font-size: 12px;
	color: rgb(50,50,50);
}

#nav_fragment div.dropdown {
	height: 390px;
}

#nav_fragment .shop-contact {
	font-family: "MicrosoftYaHei Regual";
	font-size: 12px;
	color: rgb(120,120,120);
	line-height: 25px;
}

#nav_fragment .shop-contact a{
	color: rgb(33,71,151);
}

#nav_fragment .shop-scroe {
	font-family: MicrosoftYahe;
	color: rgb(255,104,104);
	font-weight: 600;
	line-height: 25px;
	font-size: 12px;
}

#nav_fragment #search_input {
	height: 36px;
	font-size: 16px;
	font-family: '微软雅黑';
	border: 2px solid #5078cb;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

#nav_fragment #search_input:focus {
	border-color: #5078cb;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#nav_fragment #search_btn {
	height: 36px;
	line-height: 36px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 16px;
	font-weight: 600;
	background: #5078cb;
	color: #fff;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	font-family: "MicrosoftYaHei Regual";
}

#nav_fragment #search_btn_this {
	height: 36px;
	line-height: 36px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 16px;
	font-weight: 600;
	color: #5078cb;
	background: #fff;
	border-radius: 0;
	border: 1px #5078cb solid;
	font-family: "MicrosoftYaHei Regual";
}

#nav_fragment .my-cart {
	margin-top: 20px;
	margin-left: 20px;
}

#nav_fragment .my-cart #my-cart{
	font-size: 14px;
	color: #5078cb;
	font-family: MicrosoftYahei;
}

#nav_fragment .my-cart .badge {
	background-color: rgb(255,10,10);
}

#nav_fragment .list-unstyled {
	list-style: none;
}

#nav_fragment a:hover,a:focus {
	text-decoration: none;
}

#nav_fragment .row>div {
	float: left;
}

#nav_fragment #shop {
	width: 270px;
	margin-left: 135px;
	position: absolute;
	float: left;
}

#nav_fragment #search-group {
	padding-top: 20px;
	margin-left: 10px;
	padding-left: 20px;
	width: 600px;
	position: relative;
	border-left: 1px dashed #eee;
}

#nav_fragment #search-group .input-group {
	margin-right: 10px;
	float: left;
	width: 480px;
}

#nav_fragment .button-nav {
	margin-top: 50px;
	margin-left: 30px;
}

#nav_fragment .dropdown:hover>.dropdown-menu {
	margin-top: -30px;
	min-width: 100%;
	font-size: 12px;
	border-top-color: #fff;
	border-top-left-radius: 0;
	border-top-right-radius: 0;

}

#nav_fragment .dropdown .dropdown-menu .dropdown-btn {
	float: left;
	margin-top: 30px;
}

#nav_fragment .dropdown .dropdown-menu .dropdown-score #description {
	margin-left: 140px;
	margin-top: 0px;
}

#nav_fragment .dropdown .dropdown-menu .dropdown-score #score {
	margin-left: 140px;
	margin-top: -30px;
}

#nav_fragment .dropdown .dropdown-menu .dropdown-score>div>div {
	margin-top: 0px;
	width: 25px;
	margin-right: 10px;
}

#nav_fragment .shop-score {
	margin-top: 20px;
	margin-left: 70px;
}

#nav_fragment .shop-score>div>div {
	margin-right: 10px;
	width: 25px;
}

#nav_fragment .hot-search .resources {
	font-size: 12px;
	font-family: "Microsoft Yahei", "微软雅黑";
	color: rgb(250,50,50);
}

#nav_fragment .hot-search .hot-word {
	font-size: 12px;
	font-family: "Microsoft Yahei", "微软雅黑";
	color: rgb(50,50,50);
	margin-left: 20px;
}
