#sidebar {
    position: fixed;
    z-index: 1000;
    right: 0;
    top: 0;
    width: 36px;
    height: 100%;
    background-color: rgb(80, 120, 203);
}
#sidebar .container {
    width: 1190px;
}
#sidebar .sidebar-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    list-style: none;
    padding: 0;
    width: 100%;
}
#sidebar .sidebar-content li {
    margin: 2.5em 0;
    width: 100%;
    text-align: center;
}
#sidebar .sidebar-content li a {
    display: block;
    width: 100%;
}
