<style type="text/css">
.title {
	font-size: 20px;
	font-weight: 600;
	border-bottom: 2px solid #e4e4e4;
	padding-bottom: 10px;
}

#notice {
	font-size: 14px;
	margin-top: 15px;
}

#notice .span12 {
	margin-left: 0px;
	margin-right: 0px;
}

.hello {
	margin-bottom: 15px;
	margin-top: 15px;
	margin-left: 15px;
}

.content {
	margin-left: 30px;
}

.content ol li {
	margin-bottom: 10px;
	line-height: 1.5;
}

.content p {
	line-height: 1.5;
}

.panel-default>.panel-heading {
	color: #333;
	background-color: #f5f5f5;
	border-color: #ddd;
}

.panel-heading {
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
</style>
<div id="notice">
		<div class="title">
			<span>发票须知</span> 
		</div>
		<div class="hello">
			<p>
				尊敬的顾客，您在优软商城购物后都会收到我们开具的正规发票，请您仔细阅读本须知。
			</p>
		</div>
		<div class="span12">
			<div class="panel panel-default bd-none">
				<div class="panel-heading">
					发票的开具
				</div>
			</div>
			<div class="content">
				<ol class="ol">
					<li>
						发票将从优软统一开具并邮寄，不随您的订单产品同时送达，敬请大家了解并注意。
					</li>
					<li>
						开具发票的金额以实际支付的金额为准。
					</li>
					<li>
						优软商城提供的发票种类有"增值税普通发票（不可抵扣）"和"增值税专用发票（可抵扣）"两种。
					</li>
					<li>
						为提高操作效率并避免可能发生的退换货影响，发票一般在到货14天后方可开具，每月20日为当月开票的截止时间，如当月未能开出，则自动顺延至下月开票，并在每月25日之前快递寄出。
					</li>
					<li>
						请您填写正确的发票邮寄地址、联系人和联系电话，以保证发票能够准确送达；如果您未填写此项，优软商城将以收货地址作为发票的邮寄地址，以便及时与您联系。
					</li>
				</ol>
			</div>
		</div>
		<div class="span12">
			<div class="panel panel-default bd-none">
				<div class="panel-heading">
					增值税普通发票
				</div>
			</div>
			<div class="content">
				<ol class="ol">
					<li>
						对于不具有一般纳税人资格的客户，均开具增值税普通发票（不可抵扣）。
					</li>
					<li>
						开具该发票时，请在发票抬头录入将需要发票的抬头在修改信息中进行修改。
					</li>
					<li>
						发票通过快递寄送给客户。
					</li>
					<li>
						增值税普通发票信息与您输入的信息一致的情况下，发票一经开出，恕不退换。
					</li>
				</ol>
			</div>
		</div>
		<div class="span12">
			<div class="panel panel-default bd-none">
				<div class="panel-heading">
					增值税专用发票
				</div>
			</div>
			<div class="content">
				<ol class="ol">
					<li>
						请需要开具“增值税专用发票”的客户一定要勾选"增值税专用发票"，否则系统将默认开具普通发票。
					</li>
					<li>
						为确保"增值税专用发票"的顺利开具，请您在订单提交页面填写开票资料时认真核对，并在会员中心—会员信息—<a target="_blank" href="http://my.ickey.cn/invoice-setting.html" class="c_alink">开票资料</a>，上传盖公章的开票资料，如因您提交的信息有误而造成发票开错而影响认证抵扣，优软商城恕不负责。
					</li>
					<li>
						“增值税专用发票”将在您收到货物的确认无误后，用快递的方式寄给您。
					</li>
					<li>
						为使客户能及时有效地使用“增值税专用发票”，请详细填写公司名称、地址电话、税号、开户银行和帐号、发票邮寄地址，并注意所填的内容须与纳税信息一致。
						<p class="pl20">
							a. 公司名称必须为工商注册登记的名称。
						</p>
						<p class="pl20">
							b. 公司的地址和电话是您开票信息上的地址和电话。
						</p>
						<p class="pl20">
							c. 税务登记号是您公司《税务登记证》的编号，一般为15位，请仔细核对后输入。
						</p>
						<p class="pl20">
							d. 开户银行名称与银行帐号两者必须都要填写，缺一不可。
						</p>
					</li>
				</ol>
			</div>
		</div>
		<div class="span12">
			<div class="panel panel-default bd-none">
				<div class="panel-heading">
					友情提醒
				</div>
			</div>
			<div class="content">
				<ol class="ol">
					<li>
						根据国家海关规定，集成电路即IC的进口一律免关税，但对非集成电路类的元器件（如继电器、带通滤波器、衰减器、各类模块、线缆等）可能需要额外增收5%-12%的关税，如您在优软商城网上订购的器件在报关时被确认需要额外征收关税，我们客服人员将第一时间通知您并请您配合补缴关税费用，敬请谅解。（备注：单个型号金额＜5000元免收关税；单个型号金额≥5000元，按实际情况收取关税。）
					</li>
				</ol>
			</div>
		</div>
		<div class="span12">
			<div class="panel panel-default bd-none">
				<div class="panel-heading">
					注意事项
				</div>
			</div>
			<div class="content">
				<p>
					如果因为您填写的错误信息导致”增值税专用发票”无法开出，我们将自动为您开出普通发票，普通发票一经开出，恕不退换。
				</p>
				<p>
					根据您输入的信息开具的增值税专用发票，在不影响认证抵扣的情况下，我司不会受理重开增值税专用发票的要求。
				</p>
			</div>
		</div>
		<div class="span12">
			<div class="panel panel-default bd-none">
				<div class="panel-heading">
					友情提示
				</div>
			</div>
			<div class="content">
				<p>
					如果您对以上开票信息有任何疑义，可咨询您公司的财务人员。
				</p>
				<p>
					如果您在收到货物的30天内还未收到发票，请您及时与我们的客服人员联系；超过90天（您成功下单之日起）未与我们联系的，优软商城将不再为已开发票的订单进行补开发票。
				</p>
				<p>
					发票中的 “货物（劳务）名称”，我公司统一默认按“电子元器件”开具；“型号规格”按货物实际型号开具，不接受与实际交易相悖的特殊开票要求。
				</p>
			</div>
		</div>
		<div class="span12">
			<div class="panel panel-default bd-none">
				<div class="panel-heading">
					发票的退换
				</div>
			</div>
			<div class="content">
				<ol class="ol">
					<li>
						如果您收到的发票与您输入的开票信息、订单信息不一致，请先联系我们的客服人员，联系电话：0755-26994749，我们会以最快的速度为你更换正确的发票。
					</li>
					<li>
						如果您收到的发票与你输入的开票信息、订单信息一致，但您要求更改相关信息，您也需要先联系我们的客服人员，经我们财务部门同意之后，请亲自携带需要更换的发票到指定的地址办理。
					</li>
					<li>
						未经我司客服人员的允许，财务部门将不接受电话、传真、邮件、邮寄等形式的重开发票申请，如您擅自将发票寄到我公司的任一办公地址，在寄送过程中发生的发票遗失、缺失等情况，恕我们概不负责。
					</li>
				</ol>
				<p class="mt10">
					谢谢您的配合，祝您购物愉快！
				</p>
			</div>
		</div>
	</div>