<style type="text/css">
.content-header {
	font-size: 20px;
	font-weight: 600;
	border-bottom: 2px solid #e4e4e4;
	padding-bottom: 10px;
}

.content-title {
	font-size: 19px;
}

td > .simple-select {
	display: inline;
}

.normal- {
    margin-bottom: 0;
    text-align: right;
    padding-top: 6px;
}

#bill-info label {
	font-weight: 500;
}

.base-line {
	vertical-align: -webkit-baseline-middle;
}

#bill-info .span12 {
	margin-left: 0px;
	margin-right: 0px;
}

#bill-info {
	font-size: 15px;
}

.error {
	padding-top: 7px;
	line-height: 1.5;
}

div.radio {
	margin-top: 0px;
}

.padding-top-5 {
	padding-top: 5px;
}

label.padding-left-0 {
	padding-left: 0px;
}

.checkbox .span3{
	padding-right: 0px;
}

div.upload {
	margin-left: 15px;
	width: 370px;
}

div.select-group {
	padding-left: 0px;
}

div.select-group select {
	border-radius: 3px;
	height: 29px;
}

label {
	display: inline;
}

div.padding-top-bottom-10 {
	padding-bottom: 10px;
	padding-top: 10px;
}

a:HOVER {
	cursor: pointer;
}

#bill-info {
	font-size: 12px !important;
}

.a-background {
	color: red;
}
.box-header {
	height: 35px;
	line-height: 26px;
	font-size: 14px;
}
	.fullscreen .row{
		font-size: 14px;
		line-height: 34px;
		margin-bottom: 15px;
		margin-right: 0;
	}
.fullscreen .row .form-control{
	height: 34px;
	padding: 0 15px;
	line-height: 34px;
}
.radio-inline input[type="radio"],.checkbox-inline input[type="checkbox"]{
	margin-top: 11px;
}
.radio, .checkbox{
	margin: 0;
}
.btn-primary{
	background: #3ba9e9;
	border-radius: 0;
}
.btn-warning{
	background: #fb9c06;
	border-radius: 0;
	border-bottom: #fb9c06 1px solid;
	margin-left: 20px;
	border-color: #fb9c06;
}
.fullscreen .row  .col-sm-4{
	padding-right: 0;
}
</style>
<div class="row-fluid sortable">		
	<div class="box span12">
		<div class="box-header well">
			新增开票资料
		</div>
		<div class="box-content">
			<!-- ng-tableStart -->
			<div class="fullscreen" style="padding: 10px;overflow-y:auto;">
				<div id="bill-info" class="span12">
				       <div class="row">
				           <label class="col-sm-2 text-right"><b class="text-inverse">*</b>发票类型：</label>
				           <div class="col-sm-10">
				           		<label class="radio-inline" ng-show="isNormal">
				         			<label class="padding-top-5"><input type="radio" ng-model="bill.kind" value="1206" ng-checked="bill.kind==1206"></label> <label class="padding-left-0">增值税普通发票（不可抵扣）</label>
								</label>
				               <label class="radio-inline" ng-show="isSpecial">
				               		<label class="padding-top-5"><input type="radio" ng-model="bill.kind" value="1205" ng-checked="bill.kind==1205"></label> <label class="padding-left-0">增值税专用发票（可抵扣） </label>
				               </label>
				           </div>
				       </div>
				       <form class="span12" novalidate="novalidate" name="normalForm" ng-if="bill.kind==1206">
				       		 <div class="row">
				                 <label class="col-sm-2 text-right"><b class="text-inverse">*</b>发票抬头：</label>
				                 <div class="col-sm-8">
				                     <input type="text" class="form-control" ng-model="bill.head" name="billHead" required="required">
				                 </div>
				                 <div class="text-inverse error col-sm-2" ng-show="(bill.head||normalForm.billHead.$touched)&&normalForm.billHead.$invalid">必填项</div>
							 </div>
				               <div class="row">
				                   <label class="col-sm-2 text-right"><b class="text-inverse">*</b>收票人：</label>
				                   <div class="col-sm-8">
				                       <input type="text" class="form-control" ng-model="bill.name" name="billName"  required="required">
				                   </div>
				                   <div class="text-inverse error col-sm-2" ng-show="(bill.name||normalForm.billName.$touched)&&normalForm.billName.$invalid">必填项</div>
				               </div>
				                <div class="row">
				                   <label class="col-sm-2 text-right"><b class="text-inverse">*</b>收票人联系人电话：</label>
				                   <div class="col-sm-8">
				                       <input type="text" class="form-control" ng-model="bill.telephone" name="billTel"
				                       ng-pattern="/^((\(\d{3}\))|(\d{3}\\-))?(13|15|17|18)\d{9}$/" ng-length="11" required="required">
				                   </div>
				                   <div class="text-inverse error col-sm-2" ng-show="(bill.telephone||normalForm.billTel.$touched)&&normalForm.billTel.$invalid">必填项</div>
				               </div>
				               <div class="row">
				                   <label class="col-sm-2 text-right"><b class="text-inverse">*</b>收票地址：</label>
				                   <div class="col-sm-8 checkbox select-group">
										<div class="col-sm-4">
											<select class="form-control"
												ng-model="bill.address.province" name="province"
												ng-options="key as key for (key,value) in division"
												ng-change="bill.address.city='';bill.address.district='';">
												<option value="">省</option>
											</select>
										</div>
										<div class="col-sm-4">
											<select class="form-control" ng-model="bill.address.city" name="city"
												ng-options="key as key for (key,value) in division[bill.address.province]"
												ng-change="bill.address.district='';">
												<option value="">市</option>
											</select>
										</div>
										<div class="col-sm-4">
										<select class="form-control" ng-model="bill.address.district" name="district"
											ng-options="value as value for value in division[bill.address.province][bill.address.city]" required="required">
											<option value="">区</option>
										</select>
										</div>
									</div>
				               </div>
				               <div class="row">
				                   <label class="col-sm-2 text-right"><b class="text-inverse">*</b>收票详细地址：</label>
				                   <div class="col-sm-8">
				                       <input type="text" class="form-control" ng-model="bill.detailAddress" name="billDetail" required="required">
				                   </div>
				                   <div class="text-inverse error col-sm-2" ng-show="(bill.detailAddress||normalForm.billDetail.$touched)&&normalForm.billDetail.$invalid">必填项</div>
				               </div>
				               <div class="row padding-top-bottom-10">
				               		<label class="col-sm-2 text-right"></label>
				               		<div class="col-sm-8">
				               			<b class="text-inverse">*</b>
					                     <label class="checkbox-inline text-inverse">
					                     		<input type="checkbox" checked="true" name="is_agree" ng-model="bill.is_agree" required="required" /> 我已阅读并同意 
					                     </label>
					                     <a href="/help/helpList/19">《发票须知》</a>
				                     </div>
				               </div>
				               <div class="text-center span8 text-center">
				                   <input type="submit" value="保存发票信息" class="btn btn-primary" ng-disabled="normalForm.$invalid||(!bill.is_agree)" ng-click="saveBill()">
				                   <input type="button" value="取消修改" class="btn btn-warning" ng-show="isRevice" ng-click="exit()">
				               </div>
				       </form>
				       <form class="span12" novalidate="novalidate" name="specialForm" ng-if="bill.kind==1205">
				            	  <div class="row">
				                   <label class="col-sm-2 text-right"><b class="text-inverse">*</b>发票抬头：</label>
				                   <div class="col-sm-8">
				                       <input type="text" class="form-control" ng-model="bill.head" name="billHead" required="required">
				                   </div>
				                   <div class="text-inverse error col-sm-2" ng-show="(bill.head||specialForm.billHead.$touched)&&specialForm.billHead.$invalid">必填项</div>
				               </div>
				               <div class="row">
				                   <label class="col-sm-2 text-right"><b class="text-inverse">*</b>收票人：</label>
				                   <div class="col-sm-8">
				                       <input type="text" class="form-control" ng-model="bill.name" name="billName" required="required">
				                   </div>
				                   <div class="text-inverse error col-sm-2" ng-show="(bill.name||specialForm.billName.$touched)&&specialForm.billName.$invalid">必填项</div>
				               </div>
				               <div class="row">
				                   <label class="col-sm-2 text-right"><b class="text-inverse">*</b>收票人联系电话：</label>
				                   <div class="col-sm-8">
				                       <input type="text" class="form-control" ng-model="bill.telephone" name="billTel"
				                       ng-pattern="/^((\(\d{3}\))|(\d{3}\\-))?(13|15|17|18)\d{9}$/" ng-length="11" required="required">
				                   </div>
				                   <div class="text-inverse error col-sm-2" ng-show="(bill.telephone || specialForm.billTel.$touched)&&specialForm.billTel.$invalid">输入正确的联系方式</div>
				               </div>
				               <div class="row">
				              	 <label class="col-sm-2 text-right"><b class="text-inverse">*</b>收票地址：</label>
				                 <div class="col-sm-8 checkbox select-group">
										<div class="col-sm-4">
											<select required="required" class="form-control"
												ng-model="bill.address.province" name="province"
												ng-options="key as key for (key,value) in division"
												ng-change="bill.address.city='';bill.address.district='';">
												<option value="">省</option>
											</select>
										</div>
										<div class="col-sm-4">
											<select class="form-control" ng-model="bill.address.city" name="city"
												ng-options="key as key for (key,value) in division[bill.address.province]"
												ng-change="bill.address.district='';" required="required">
												<option value="">市</option>
											</select>
										</div>
										<div class="col-sm-4">
										<select class="form-control" ng-model="bill.address.district" name="district"
											ng-options="value as value for value in division[bill.address.province][bill.address.city]" required="required">
											<option value="">区</option>
										</select>
										</div>
									</div>
				           	  </div>
				               <div class="row">
				                   <label class="col-sm-2 text-right"><b class="text-inverse">*</b>收票详细地址：</label>
				                   <div class="col-sm-8">
				                       <input type="text" class="form-control" required="required" name="billDetail" ng-model="bill.detailAddress">
				                   </div>
				                   <div class="text-inverse error col-sm-2" ng-show="(bill.detailAddress||specialForm.billDetail.$touched)&&specialForm.billDetail.$invalid">必填项</div>
				               </div>
				               <div class="row">
				                   <label class="col-sm-2 text-right"><b class="text-inverse">*</b>单位地址：</label>
				                   <div class="col-sm-8">
				                       <input type="text" class="form-control" ng-model="bill.companyAddress" name="companyAddr" required="required">
				                   </div>
				                   <div class="text-inverse error col-sm-2" ng-show="(bill.companyAddress||specialForm.companyAddr.$touched)&&specialForm.companyAddr.$invalid">必填项</div>
				               </div>
				               <div class="row">
				                   <label class="col-sm-2 text-right"><b class="text-inverse">*</b>单位电话：</label>
				                   <div class="col-sm-8">
				                       <input type="text" class="form-control" placeholder="区号和号码使用 '-' 隔开,或者不填区号" name="companyPhone" ng-model="bill.companyPhone" required="required">
				                   </div>
				                   <div class="text-inverse error col-sm-2" ng-show="(bill.companyPhone||specialForm.companyPhone.$touched)&&specialForm.companyPhone.$invalid">输入正确的电话</div>
				               </div>
				               <div class="row">
				                  <label class="col-sm-2 text-right"><b class="text-inverse">*</b>税务登记号：</label>
				                   <div class="col-sm-8">
				                       <input type="text" class="form-control" ng-model="bill.companyTaxNumber" name="companyTaxNum" required="true" ng-minlength="15">
				                   </div>
				                   <div class="text-inverse error col-sm-2" ng-show="(bill.companyTaxNumber||specialForm.companyTaxNum.$touched)&&(specialForm.companyTaxNum.$error.required||specialForm.companyTaxNum.$error.minlength)">至少15位数字</div>
				               </div>
				               <div class="row">
				                   <label class="col-sm-2 text-right"><b class="text-inverse">*</b>开户银行：</label>
				                   <div class="col-sm-8">
				                       <input type="text" class="form-control" ng-model="bill.bankName" name="bankName" required="required">
				                   </div>
				                   <div class="text-inverse error col-sm-2" ng-show="(bill.bankName||specialForm.bankName.$touched)&&specialForm.bankName.$invalid">必填项</div>
				               </div>
				                <div class="row">
				                   <label class="col-sm-2 text-right"><b class="text-inverse">*</b>开户银行账户：</label>
				                   <div class="col-sm-8">
				                       <input type="text" class="form-control" ng-model="bill.bankAccount" name="account" ng-pattern="/^[0-9]*$/" required="required" ng-minlength="8" ng-maxlength="30">
				                   </div>
				                   <div class="text-inverse error col-sm-2" ng-show="(bill.bankAccount||specialForm.account.$touched)&&(specialForm.account.$invalid)">输入正确的银行账号</div>
				               </div>
				               <div class="row" ng-show="!bill.attachUrl || billInfoRevise">
								    <label class="col-sm-2 text-right" for="exampleInputFile">上传开票资料:</label>
								    <div class="col-sm-8">
								    	<input class="form-control" type="file" ng-file-select ng-model="bill.billInfo" name="billInfo" id="InputFile" ng-multiple="false" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg,application/pdf,*.pdf">
								    </div>
			  				   </div>
			  				   <div class="row" ng-show="bill.attachUrl&&!billInfoRevise">
								    <label class="col-sm-2 text-right" for="exampleInputFile">开票资料:</label>
								    <div class="col-sm-8">
								    	<a href="{{bill.attachUrl}}" target="_blank">点击查看</a>&nbsp;<a class="a-background" ng-click="billInfoRevise=true;">修改</a>
								    </div>
			  					</div>
				               <div class="row">
				                   <label class="col-sm-2 text-right"></label>
				                   <div class="col-sm-8">
				                   		<b class="text-inverse">*</b>
				                       <label class="check-inline text-inverse">
				                       		<input checked="true" type="checkbox" ng-model="bill.is_agree" name="is_agree" required=""> 我已阅读并同意
				                       </label>
				                       	<a href="/help/helpList/19">《发票须知》</a>
				                   </div>
				               </div>
				               <div class="text-center span8">
				                   <input type="submit" value="保存发票信息" class="btn btn-primary" ng-disabled="specialForm.$invalid||(!bill.is_agree)" ng-click="saveBill()">
				                   <input type="button" value="取消修改" class="btn btn-warning" ng-show="isRevice" ng-click="exit()">
				               </div>
				       </form>
				  </div>		
				</div>
		</div>
	</div>
</div>