<style>
.rright {
	padding-right: 0px;
}

div[role="button"] > a {
	color: white;
	text-decoration: none;
}

div[role="button"] {
	width: 98px;
	height: 20px;
	line-height: 20px;
	background: #317EBC;
	padding-left: 10px;
	padding-top: 3px;
}
div[role="button"]:HOVER {
	cursor: pointer;
}

.btn-group-left {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.btn-group-rigth {
	margin-left: -4px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.add-count{
	float: right;
	margin-right: 3px;
	margin-top: 9px;
}
.box-header {
	height: 35px;
	line-height: 26px;
	font-size: 14px;
}
.table>tbody>tr>td{
	vertical-align: middle;
}
</style>
<div class="box">
	<div class="box-header well" data-original-title>
		<i class="icon-user"></i> 平台银行账户信息管理
	</div>
	<div class="box-content">
		<!-- ng-tableStart -->
		<div class="fullscreen" style="padding: 10px;">
			<div class="row">
				<div class="col-sm-1">
					共<span class="badge">{{accounts.length}} </span>条
				</div>
				<div class="col-sm-9">
					<button type="button" class="btn btn-default btn-group-left" ng-class="{'btn-primary':active=='personal'}" ng-click="setActive('personal')">个人账户</button>
					<button type="button" class="btn btn-default btn-group-rigth" ng-class="{'btn-primary':active=='enterprise'}" ng-click="setActive('enterprise')">企业账号</button>
				</div>
				<div class="col-sm-2">
					<div class="add-count">
						<a ng-click="editAccount()" style="font-size: 14px;"><i class="fa fa-plus-square"></i>&nbsp;新增银行账户</a>
					</div>
				</div>
			</div>
			<table class="table table-bordered table-striped text-center" style="margin-top: 10px;">
				<thead  class="text-center">
				    <tr>
						<th width="240px">开户人</th>
						<th width="240px">开户行</th>
						<th width="240px">银行账号</th>	
						<th width="300px">操作</th>
				    </tr>
			  	</thead>
			    <tbody>
				    <tr ng-repeat="account in accounts" class="text-center">
				        <td ng-bind="account.accountname"></td>
				        <td ng-bind="account.bankname"></td>
				        <td ng-bind="account.filterAccount"></td>
				        <td>
				        	<button class="btn btn-default" ng-click="deleteAccount(account)">删除</button>
				        	<button class="btn btn-default" ng-click="editAccount(account)">修改</button>
				        	<button ng-if="account.num !=1" class="btn btn-default" ng-click="setDefaultAccount(account.id)">设为默认账户</button>
				        </td>
				    </tr>
			    </tbody>
			</table>			
		</div>
		<!-- ng-tableEnd -->
	</div>
</div><!--/span-->