<style>
.span {
	margin-top: 15px;
}

.title {
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 10px;
}

div>input {
	line-height: 26px;
	border-radius: 5px;
	width: 70%;
}
</style>
<div class="box">
	<div class="box-header well" data-original-title>
		<i class="icon-user"></i> 历史转账信息
	</div>
	<div class="box-content">
		<div class="fullscreen" style="padding: 10px;">
			<div class="row">
				<div class="col-sm-6">
					<div class="btn-group" role="group" aria-label="...">
						<button type="button" class="btn btn-default"
							ng-class="{'btn-primary':active=='isVender'}"
							ng-click="setActive('isVender')">供应商记录</button>
						<button type="button" class="btn btn-default"
							ng-class="{'btn-primary':active=='notVender'}"
							ng-click="setActive('notVender')">客户记录</button>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="input-group">
						<input type="text" class="form-control" ng-model="keyword"
							placeholder="根据转账的流水单号搜索" ng-search="search()">
						<span class="input-group-btn">
							<button ng-click="search()" class="btn btn-primary" type="button">搜索</button>
						</span>
					</div>
				</div>
			</div>
			<table ng-table="historyTransferTableParams"
				class="table table-bordered table-striped text-center" style="margin-top:10px">
				<thead>
					<tr class="text-center">
						<th width="40" class="text-center">序号</th>
						<th width="120" class="text-center">转账流水号</th>
						<th width="90" class="text-center">金额</th>
						<th width="110" class="text-center">付款时间</th>
						<th width="110" class="text-center">生成时间</th>
						<th width="120" class="text-center">收款人账户</th>
						<th width="120" class="text-center">付款人账户</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="bankTransfer in $data">
						<td>{{$index+1}}</td>
						<td ng-bind="bankTransfer.banktranssn"></td>
						<td ng-bind="bankTransfer.total"></td>
						<td ng-bind="bankTransfer.transferTime | date : 'yyyy年MM月dd日'"></td>
						<td ng-bind="bankTransfer.tranferCreateTime | date : 'yyyy年MM月dd日'"></td>
						<td><span ng-bind="bankTransfer.receiveAccount.accountname"></span>&nbsp;
							<span ng-bind="bankTransfer.receiveAccount.bankname"></span>&nbsp;
							<span ng-bind="bankTransfer.receiveAccount.filterNum"></span>&nbsp;
						</td>
						<td><span ng-bind="bankTransfer.payAccount.accountname"></span>&nbsp;
							<span ng-bind="bankTransfer.payAccount.bankname"></span>&nbsp; <span
							ng-bind="bankTransfer.payAccount.filterNum"></span>&nbsp;</td>
					</tr>
					<tr ng-if="$data.length == 0">
						<td colspan="10" class="text-center"
							style="line-height: 40px; font-size: 20px;"><i
							class="fa fa-smile-o fa-lg"></i> 您没有转账的历史记录</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>