<style type="text/css">
div.span2-center li span {
	text-align: center;
}

div.line-head {
	 line-height: 23px; 
	 border-bottom: 1px solid gainsboro;
	 background-color: whitesmoke;
}

div.detail-head {
	list-style: none; 
	padding-top: 10px;
}

div.detail-body {
	list-style: none; 
	margin-left: 0px; 
	border-bottom: 1px solid gainsboro; 
	padding-bottom: 10px;
}

div.margin-left-zero, ul.margin-left-zero {
	margin-left: 0px !important;
}

table.margin-top-10 {
	margin-top: 10px ;
}

div.margin-top-20 {
	margin-top: 20px;
}

span.padding-left-15 {
	padding-left: 15px;
}

table#make-out-bill td{
	border-top: 1px solid white;
	padding: 0px;
}

#make-out-bill ul li {
	margin-left: 0px;
}

.no-data {
	line-height: 23px;
	font-size: 17px;
}

</style>
<div class="box">
	<div class="box-header well">
		<i class="icon-user"></i> 客户订单发票管理
	</div>
	<div class="box-content">
		<!-- ng-tableStart -->
		<div class="fullscreen" style="padding: 10px;">
			<div class="row">
				<div class="col-sm-1">
					共<span class="badge">{{makeOutBillTableParams.total()}} </span>条
				</div>
				<div class="col-sm-7">
					<div class="btn-group" role="group" aria-label="...">
						<button type="button" class="btn btn-default" ng-class="{'btn-primary':active=='prepare'}" ng-click="setActive('prepare')">准备发票</button>							
						<button type="button" class="btn btn-default" ng-class="{'btn-primary':active=='toBeMakeOut'}" ng-click="setActive('toBeMakeOut')">待开发票</button>
						<button type="button" class="btn btn-default" ng-class="{'btn-primary':active=='opened'}" ng-click="setActive('opened')">已开发票</button>
						<button type="button" class="btn btn-default" ng-class="{'btn-primary':active=='needNo'}" ng-click="setActive('needNo')">不需要开票</button>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="input-group">
						<input class="form-control" placeholder="请输入订单号查询"
							ng-model="keyword"  ng-search="onSearch()" size="16" type="text">
						<span class="input-group-btn">
							<button class="btn btn-primary" type="button" ng-click="onSearch()">搜索</button>
						</span>
					</div>
				</div>
			</div>
			<table ng-table="makeOutBillTableParams" class="table margin-top-10" id="make-out-bill">
				<tr ng-repeat="order in $data">
					<td>
						<div>
							<div class="row line-head">
								<span class="col-sm-3 padding-left-15" title="订单号">
									<input type="checkBox" ng-model="order.checked" ng-click="selectOrder(order)" ng-show="active=='toBeMakeOut'" ng-disabled="fillBill">&nbsp;&nbsp;
									<a target="_blank" ng-href="admin#/trade/order/{{order.orderid}}" ng-bind="order.orderid"></a>
								</span>
								<span ng-show="order.invoicetype == 1205" class="col-sm-2 text-center" title="发票类型">增值税专用发票</span>
								<span ng-show="order.invoicetype == 1206" class="col-sm-2 text-center" title="发票类型">增值税普通发票</span>
								<span ng-show="order.invoicetype == 1207" class="col-sm-2 text-center"  title="发票类型">不需开票</span>
								<span ng-bind="order.invoicetitle" class="col-sm-2 text-center" title="发票抬头"></span>
								<div title="发票收货地址" class="col-sm-5 text-center">
									<span ng-bind="order.invoiceAddress.name"></span>&nbsp;&nbsp;
									<span ng-bind="order.invoiceAddress.telephone"></span>&nbsp;&nbsp;
									<span ng-bind="order.invoiceAddress.area"></span>
									<span ng-bind="order.invoiceAddress.detailAddress"></span>
								</div>
							</div>
							<div class="row span2-center margin-left-zero ">
								<ol class="row detail-head">
									<li class="row">
										<span class="col-sm-3">订单明细号</span>
										<span class="col-sm-2">数量</span>
										<span class="col-sm-2">单价</span>
										<span class="col-sm-2">总价</span>
										<span class="col-sm-2">
											<span ng-show="order.invoicetype != 1207" >发票状态</span>
										</span>
									</li>
								</ol>
								<ul class="row detail-body margin-left-zero">
									<li class="row" ng-repeat="orderDetail in order.orderDetails">
										<span class="col-sm-3">
											<input type="checkBox" ng-model="orderDetail.checked" ng-click="selectDetail(order, orderDetail)" ng-disabled="!(order.invoicetype!=1207 && orderDetail.billStatus==700)||fillBill" ng-show="active=='toBeMakeOut'"/> &nbsp;&nbsp;
											<span ng-bind="orderDetail.detailid"></span>
										</span>
										<span class="col-sm-2" ng-bind="orderDetail.realTradeNum"></span>
										<span class="col-sm-2" ng-bind="orderDetail.unitprice"></span>
										<span class="col-sm-2" ng-bind="orderDetail.realPrice | number : 4"></span>
										<span class="col-sm-2">
											<span ng-show="order.invoicetype!=1207 && orderDetail.billStatus==700">待开发票</span>
											<span ng-show="order.invoicetype!=1207 && orderDetail.billStatus==701">待收发票</span>
											<span ng-show="order.invoicetype!=1207 && orderDetail.billStatus==702">已收发票</span>
										</span>
									</li>
								</ul>
							</div>
						</div>
					</td>
				</tr>
			</table>
			<div class="row">
				<div class="col-sm-2">
					<button class="btn btn-default" ng-click="makeOutBill()" ng-show="active=='toBeMakeOut'">批量开票</button>
				</div>
			</div>
			<div ng-if="!makeOutBillTableParams.total()" class="no-data text-center">没有对应状态的数据</div>
		
			<div class="span10 margin-top-20" ng-show="fillBill">
				<div class="span10">
					<span class="span2">发票类型：</span>
					<span ng-show="sameInfo.invoicetype == 1205" class="span4 text-left" title="发票类型">增值税专用发票</span>
					<span ng-show="sameInfo.invoicetype == 1206" class="span4 text-left" title="发票类型">增值税普通发票</span>
					<span ng-show="sameInfo.invoicetype == 1207" class="span4 text-left"  title="发票类型">不需开票</span>
					<span class="span2">发票抬头：</span>
					<span ng-bind="sameInfo.invoicetitle" class="span2 text-left" title="发票抬头"></span>
				</div>
				<div class="span10 margin-left-zero">
					<span class="span2">发票流水号：</span>
					<span class="span4">
						<input type="text" placeholder="输入发票号码" ng-model="bill.billNum">
					</span>
					<span class="span2">发票总价值：</span>
					<span class="span2 text-left" ng-bind="totalPrice"></span>
				</div>
				<div class="span10 margin-left-zero">
					<span class="span2">发票收货地址：</span>
					<div title="发票收货地址" class="span8 text-left">
						<span ng-bind="sameInfo.invoiceAddress.name"></span>&nbsp;&nbsp;
						<span ng-bind="sameInfo.invoiceAddress.telephone"></span>&nbsp;&nbsp;
						<span ng-bind="sameInfo.invoiceAddress.area"></span>
						<span ng-bind="sameInfo.invoiceAddress.detailAddress"></span>
					</div>
				</div>
				<div class="span10">
					<button class="btn btn-default" ng-click="confirmMakeBill()">确认开票</button>
					<button class="btn btn-default" ng-click="cancle()">取消开票</button>
				</div>
			</div>
		</div>
	</div>
</div>