<style type="text/css">
div.span2-center li span {
	text-align: center;
}

div.line-head {
	 line-height: 23px; 
	 border-bottom: 1px solid gainsboro;
	 background-color: whitesmoke;
}

div.detail-head {
	list-style: none; 
	padding-top: 10px;
}

div.detail-body {
	list-style: none; 
	margin-left: 0px; 
	border-bottom: 1px solid gainsboro; 
	padding-bottom: 10px;
}

div.margin-left-zero, ul.margin-left-zero {
	margin-left: 0px !important;
}

table.margin-top-10 {
	margin-top: 10px ;
}

div.margin-top-20 {
	margin-top: 20px;
}

span.padding-left-15 {
	padding-left: 15px;
}

table#make-out-bill td{
	border-top: 1px solid white;
	padding: 0px;
}

.margin-bottom-zero {
	margin-bottom: 0px;
}

.padding-top-10 {
	padding-top: 10px;
}

#make-out-bill .detail-body li {
	margin-left: 0px;
}

.no-data {
	line-height: 23px;
	font-size: 17px;
}
</style>
<div class="box">
	<div class="box-header well">
		<i class="icon-user"></i> 平台采购单发票管理
	</div>
	<div class="box-content">
		<div class="fullscreen" style="padding: 10px;">
			<div class="row">
				<div class="col-sm-1">
					共<span class="badge">{{purchaseBillTableParams.total()}} </span>条
				</div>
				<div class="col-sm-7">
					<div class="btn-group" role="group" aria-label="...">
						<button type="button" class="btn btn-default" ng-class="{'btn-primary':active=='prepare'}" ng-click="setActive('prepare')">准备发票</button>							
						<button type="button" class="btn btn-default" ng-class="{'btn-primary':active=='toBeMakeOut'}" ng-click="setActive('toBeMakeOut')">待开发票</button>
						<button type="button" class="btn btn-default" ng-class="{'btn-primary':active=='toBeReceive'}" ng-click="setActive('toBeReceive')">待收发票</button>
						<button type="button" class="btn btn-default" ng-class="{'btn-primary':active=='opened'}" ng-click="setActive('opened')">已开发票</button>
						<button type="button" class="btn btn-default" ng-class="{'btn-primary':active=='needNo'}" ng-click="setActive('needNo')">不需要开票</button>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="input-group">
						<input class="form-control" placeholder="请输入订单号查询"
							ng-model="keyword"  ng-search="onSearch()" size="16" type="text">
						<span class="input-group-btn">
							<button class="btn btn-primary" type="button" ng-click="onSearch()">搜索</button>
						</span>
					</div>
				</div>
			</div>
			<table ng-table="purchaseBillTableParams" class="table margin-top-10" id="make-out-bill">
				<tr ng-repeat="purchase in $data">
					<td>
						<div>
							<div class="row line-head">
								<span class="col-sm-3 padding-left-15" title="采购单号">
									<a target="_blank" ng-href="admin#/trade/purchase/{{purchase.purchaseid}}" ng-bind="purchase.purchaseid"></a>
								</span>
								<span ng-show="purchase.invoicetype == 1205" class="col-sm-2 text-center" title="发票类型">增值税专用发票</span>
								<span ng-show="purchase.invoicetype == 1206" class="col-sm-2 text-center" title="发票类型">增值税普通发票</span>
								<span ng-show="purchase.invoicetype == 1207" class="col-sm-2 text-center"  title="发票类型">不需开票</span>
								<span ng-bind="purchase.invoicetitle" class="col-sm-2 text-center" title="发票抬头"></span>
								<div title="发票收货地址" class="col-sm-5 text-center">
									<span ng-bind="purchase.invoiceAddress.name"></span>&nbsp;&nbsp;
									<span ng-bind="purchase.invoiceAddress.telephone"></span>&nbsp;&nbsp;
									<span ng-bind="purchase.invoiceAddress.area"></span>
									<span ng-bind="purchase.invoiceAddress.detailAddress"></span>
								</div>
							</div>
							<div class="row span2-center margin-left-zero ">
								<ol class="detail-head margin-bottom-zero">
									<li class="padding-top-10">
										<span class="col-sm-2">采购单明细号</span>
										<span class="col-sm-2">数量</span>
										<span class="col-sm-2">单价</span>
										<span class="col-sm-2">总价</span>
										<span class="col-sm-2">
											<span ng-show="purchase.invoicetype != 1207" >发票状态</span>
										</span>
										<span class="col-sm-2">
											<span ng-show="active=='toBeReceive'">操作</span>
										</span>
									</li>
								</ol>
								<ul class="row detail-body margin-left-zero">
									<li ng-repeat="purchaseDetail in purchase.purchaseDetails">
										<span class="col-sm-2">
											<span ng-bind="purchaseDetail.detailid"></span>
										</span>
										<span class="col-sm-2" ng-bind="purchaseDetail.realTradeNum"></span>
										<span class="col-sm-2" ng-bind="purchaseDetail.unitprice"></span>
										<span class="col-sm-2" ng-bind="purchaseDetail.realPrice | number : 4"></span>
										<span class="col-sm-2">
											<span ng-show="purchase.invoicetype!=1207 && purchaseDetail.billStatus==700">待开发票</span>
											<span ng-show="purchase.invoicetype!=1207 && purchaseDetail.billStatus==701">待收发票</span>
											<span ng-show="purchase.invoicetype!=1207 && purchaseDetail.billStatus==702">已收发票</span>
										</span>
										<span class="col-sm-2">
											<button class="btn btn-default" ng-show="active=='toBeReceive'&&purchaseDetail.billStatus==701" ng-click="confirmBill(purchase, purchaseDetail)">确认收票</button>
										</span>
									</li>
								</ul>
							</div>
						</div>
					</td>
				</tr>
			</table>
			<div ng-if="!purchaseBillTableParams.total()" class="span12 no-data text-center">没有对应状态的数据</div>
		</div>
	</div>
</div><!--/span-->