<style>
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.glyphicon-chevron-left:before {
    content: "\e079";
}
.glyphicon-chevron-right:before {
    content: "\e080";
}
.datetime {
	line-height: 28px;
	border-radius: 5px;
	width: 35%;
	font-size: 15px;
}

.minTitle {
	font-weight: 600;
	font-size: 17px;
}

.boxbank{
	padding: 0px 15px;
}

.marginltb {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
</style>
<div class="row-fluid sortable">		
	<div class="box span12">
		<div class="box-header well" data-original-title>
			<i class="icon-user"></i> 确认付款申请
		</div>
		<div class="box-content">
			<!-- ng-tableStart -->
			<div class="fullscreen" style="padding: 10px;">
				<div class="row">
					<div class="col-sm-1" style="margin-top: 5px;">
						共<span class="badge">{{receiptTableParams.total()}} </span>条
					</div>
					<div class="col-sm-7">
					</div>
					<div class="col-sm-4">
						<div class="input-group">
							<input class="form-control ng-pristine ng-valid ng-touched" placeholder="请输入采购单明细号查询" ng-model="keyword" ng-search="onSearch()" size="16" type="text">
							<span class="input-group-btn">
								<button class="btn btn-primary" type="button" ng-click="onSearch()">搜索</button>
							</span>
						</div>
					</div>
				</div>
				<div>
					<table ng-table="receiptTableParams" class="table table-bordered table-striped" style="margin-top: 10px;">
						<thead>
							<tr>
								<th width="50">序号&nbsp;&nbsp;<input type="checkbox" ng-model="checks.checked" ng-click="checkAll()"></th>
								<th width="auto">采购单明细编号</th>
								<th width="150">产品批次号</th>
								<th width="160">订单号</th>
								<th width="130">库存类型</th>
								<th width="150">创建时间</th>
								<th width="150">金额</th>
								<!--<th>操作</th>-->
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="detail in $data">
								<td class="text-center">
									{{$index+1}}<br/>
									<input type="checkbox" ng-checked="detailIds[detail.id]" ng-click="checkOne(detail)"/>
								</td>
								<td ng-bind="detail.detailid"></td>
								<td ng-bind="detail.batchCode"></td>
								<td><a ng-href="#/trade/purchase/{{detail.purchase.purchaseid | EncryptionFilter}}" ng-bind="::detail.purchase.orderid"></a><td>
									<span ng-if="detail.original == 1311">现货</span>
									<span ng-if="detail.original == 1312">呆滞库存</span>
								</td>
								<td ng-bind="detail.purchase.createtime | date: 'yyyy-MM-dd HH:mm'"></td>
								<td ng-bind="detail.ensurePrice | number : 6 | currencySysmbol : detail.currencyName"></td>
								<!--<td>
									<a ng-click="batchCheckMoney(receipt)" ng-if="active=='available'">
										<button type="button" class="btn btn-default btn-sm" ng-disabled="count>0 && noticeInfo" >确认结算</button></a>
								</td>-->
							</tr>
							<tr ng-if="$data.length == 0">
								<td colspan="10" class="text-center" style="line-height: 40px; font-size: 20px;"><i class="fa fa-smile-o fa-lg"></i> 当前没有对应的采购单明细</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div>
					<button class="btn btn-primary" role="button" ng-disabled="count==0"  ng-if="!noticeInfo" ng-click="batchRequestPay()">申请付款</button>
					<button class="btn btn-primary" role="button" ng-if="noticeInfo" ng-click="cancelCheck()">重新勾选</button>
				</div>
			</div>
			<!-- ng-tableEnd -->
		</div>
	</div><!--/span-->
</div><!--/row-->