<style>
	body,button,input{
		font-family: "Microsoft Yahei", "微软雅黑";
	}
	.glyphicon {
		position: relative;
		top: 1px;
		display: inline-block;
		font-family: 'Glyphicons Halflings';
		font-style: normal;
		font-weight: 400;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	.glyphicon-chevron-left:before {
		content: "\e079";
	}
	.glyphicon-chevron-right:before {
		content: "\e080";
	}
	.datetime {
		line-height: 28px;
		border-radius: 5px;
		width: 35%;
		font-size: 15px;
	}

	.minTitle {
		font-weight: 600;
		font-size: 16px;
	}

	.boxbank{
		padding: 0px 15px;
	}

	.marginltb {
		margin-left: 20px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.times input{
		height: 34px;
		border: #ccc 1px solid;
		padding-left: 15px !important;
	}
	.times .btn{
		position: relative;
		border-radius: 0;
		top: -2px;
		padding: 6px 12px;
	}
	.box-header{
		height: 35px;
		line-height: 26px;
		font-size: 14px;
	}
	.com-open{
		padding-right: 0;
		margin-bottom: 10px;
	}
	.com-open span{
		color: #666;
		margin-right: 0 !important;
	}
	.count-list01 .row-fluid span{
		font-size: 14px;
	}
	.fr{
		float: right;
	}
	.count-list01{
		width: 100%;
		margin: 0 auto;
		display: inline-block;
	}
	.count-list01 .row-fluid .fr .edit{
		color: #2fa4e7;
	}
	.count-list01 .row-fluid .fr .delete{
		color: #f40;
	}
	.count-list01 .row-fluid span{
		margin-right: 80px;
	}
	.count-list01 .row-fluid span.fr,.count-list01 .row-fluid span.fr span{
		margin-right: 0;
	}
	.diselect{
		border: #f5f5f5 3px solid;
	}
	.count-list01 .col-md-12 .row-fluid span.name{
		min-width: 200px;
		display: inline-block;
	}
	.repeatBorder{
		width: 97%;
		margin-left: 15px;
	}
	.previewImage{
		max-width: 220px;
		max-height: 220px;
		cursor: pointer
	}
</style>
<div class="row-fluid sortable">
	<div class="box">
		<div class="box-header well" data-original-title>
			<i class="icon-user"></i> 财务结算
		</div>
		<div class="box-content">
			<!-- ng-tableStart -->
			<div class="fullscreen" style="padding: 10px;">
				<div class="row">
					<div class="col-sm-1">
						共<span class="badge ng-binding">{{paymentTableParams.total() || 0}}</span>条
					</div>
					<div class="col-sm-7">
						<div class="btn-group" role="group" aria-label="...">
							<!--<button type="button" class="btn btn-default" ng-class="{'btn-primary':active=='unavailable'}"-->
									<!--ng-click="setActive('unavailable')">未到期</button>-->
							<button type="button" class="btn btn-default" ng-class="{'btn-primary':active=='available'}"
									ng-click="setActive('available')">可结算</button>
							<button type="button" class="btn btn-default" ng-class="{'btn-primary':active=='settled'}"
									ng-click="setActive('settled')">已结算</button>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="input-group">
							<input class="form-control ng-pristine ng-untouched ng-valid" placeholder="请输入付款申请单编号查询" ng-model="keyword" ng-search="onSearch()" size="16" type="text">
							<span class="input-group-btn">
						<button class="btn btn-primary" type="button" ng-click="onSearch()">搜索</button>
					</span>
						</div>
					</div>
				</div>
				<div style="overflow-y: auto;">
					<table ng-table="paymentTableParams" class="table table-bordered table-striped" style="margin-top: 10px;margin-bottom: 5px;">
						<thead>
						<tr>
							<th width="50">序号</th>
							<th width="150">付款申请单号</th>
							<th width="auto">供应商</th>
							<th width="150">创建时间</th>
							<th width="150">交易金额</th>
							<th width="100">币别</th>
							<th ng-if="active=='available'">操作</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="payment in $data">
							<td class="text-center" ng-bind="$index+1"></td>
							<td><a target="_blank" ng-href="#/trade/payment/{{payment.requestId}}">{{payment.requestId}}</a></td>
							<td ng-bind="payment.sellername"></td>
							<td ng-bind="payment.createTime | date: 'yyyy-MM-dd HH:mm'"></td>
							<td ng-bind="payment.price"></td>
							<td ng-bind="payment.currencyName"></td>
							<td ng-if="active=='available'">
								<a ng-click="checkMoney(payment)" ng-if="active=='available'">
									<button type="button" class="btn btn-default btn-sm" ng-disabled="count>0" >确认结算</button></a>
							</td>
						</tr>
						<tr ng-if="$data.length == 0">
							<td colspan="10" class="text-center" style="line-height: 40px; font-size: 20px;"><i class="fa fa-smile-o fa-lg"></i> 当前没有对应的入库单</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- 批量 确认结算操作 开始代码  -->
<div ng-if="batchCheckStatus">
	<a id="batchCheckMoney"></a>
	<div class="row-fluid sortable">
		<div class="box" >
			<div class="box-header well">
				<i class="icon-user"></i> 确认结算操作
			</div>
			<div class="box-content">
				<div class="repeatBorder row-fluid">
					<div class="divTitle boxbank span12 f12">
						<span>订单号:</span> <span ng-repeat="payment in batchPayment" class="text-inverse">{{payment.requestId}}&nbsp;</span>
					</div>
				</div>
				<div class="boxbank">
					<div class="row-fluid ">
						<span class="minTitle span10">平台应付账户</span>
					</div>
					<div class="row-fluid">
						<div role="button" class="span2"
							 ng-click="newAccount()" style="color: #2fa4e7; font-size: 14px;position: relative; top: 15px; z-index: 20; width: 200px;">
							<i class="fa fa-plus-square"></i>&nbsp;新增账户
						</div>
					</div>
					<div class="count-list01">
						<div class="row-fluid " ng-repeat="b2cAccountInfo in b2cAccountInfos" ng-if="salexpose">
							<div class="com-open col-md-12">
								<div class="pull-right" ng-show="$index == 0">
								<span role="button" ng-if="!salexpose"
									  ng-click="doExpose(true, false)"><i
										class="fa fa-angle-double-down"></i>&nbsp;展开列表</span> <span
										role="button" ng-if="salexpose"
										ng-click="doExpose(false, false)"><i
										class="fa fa-angle-double-up"></i>&nbsp;收起列表</span>
								</div>
							</div>
							<div class="col-md-12" ng-class="{true : 'select', false: 'diselect'}[b2cAccountInfo.id == b2cAccount.id]">
								<div class="row-fluid" ng-click="select(b2cAccountInfo)" >
									<span ng-bind="b2cAccountInfo.accountname" class="name"></span>
									<span ng-bind="b2cAccountInfo.filterAccount"></span>
									<span ng-bind="b2cAccountInfo.bankname">&nbsp;&nbsp;<i class="fa fa-credit-card"></i></span>
									<span class="fr">
										<span role="button" ng-click="newAccount(b2cAccountInfo)" class="edit"><i class="fa fa-edit"></i>&nbsp;编辑</span>&nbsp;
										<span role="button" ng-click="deleteAccount(b2cAccountInfo)" class="delete"><i class="fa fa-remove"></i>&nbsp;删除</span>
									</span>
								</div>
							</div>
						</div>
						<div class="row-fluid" ng-if="!salexpose">
							<div class="com-open col-md-12">
								<div class="pull-right">
								<span role="button" ng-if="!salexpose"
									  ng-click="doExpose(true, false)"><i
										class="fa fa-angle-double-down"></i>&nbsp;展开列表</span> <span
										role="button" ng-if="salexpose"
										ng-click="doExpose(false, false)"><i
										class="fa fa-angle-double-up"></i>&nbsp;收起列表</span>
								</div>
							</div>
							<div class="col-md-12" ng-class="{true : 'select', false: 'diselect'}[b2cAccount.id == b2cAccount.id]" >
								<div class="row-fluid">
									<span ng-bind="b2cAccount.accountname" class="name"></span>
									<span ng-bind="b2cAccount.filterAccount"></span>
									<span ng-bind="b2cAccount.bankname"><i class="fa fa-credit-card"></i></span>
									<span class="fr">
										<span role="button" ng-click="newAccount(b2cAccount)" class="edit"><i class="fa fa-edit"></i>&nbsp;编辑</span>&nbsp;
										<span role="button" ng-click="deleteAccount(b2cAccount)" class="delete"><i class="fa fa-remove"></i>&nbsp;删除</span>
									</span>
								</div>
							</div>
						</div>
					</div>
					<label class="minTitle marginTop30">供应商应收账户</label>
					<div class="count-list01">
						<div class="row-fluid " ng-repeat="venderAccountInfo in venderAccountInfos" ng-if="venderExpose">
							<div class="com-open col-md-12">
								<div class="pull-right" ng-show="$index == 0">
								<span role="button" ng-if="!venderExpose"
									  ng-click="doExpose(true, true)"><i
										class="fa fa-angle-double-down"></i>&nbsp;展开列表</span> <span
										role="button" ng-if="venderExpose"
										ng-click="doExpose(false, true)"><i
										class="fa fa-angle-double-up"></i>&nbsp;收起列表</span>
								</div>
							</div>
							<div class="col-md-12" ng-class="{true : 'select', false: 'diselect'}[venderAccountInfo.id == venderAccount.id]" ng-click="select(venderAccountInfo,true)">
								<div class="row-fluid" >
									<span ng-bind="venderAccountInfo.accountname" class="name" ></span>
									<span ng-bind="venderAccountInfo.filterAccount"></span>
									<span ng-bind="venderAccountInfo.bankname">&nbsp;&nbsp;<i class="fa fa-credit-card"></i></span>
								</div>
							</div>

						</div>
						<div class="row-fluid" ng-if="!venderExpose">
							<div class="com-open col-md-12">
								<div class="pull-right"  ng-show="venderAccount != null && venderAccount.length != 0">
								<span role="button" ng-if="!venderExpose"
									  ng-click="doExpose(true, true)"><i
										class="fa fa-angle-double-down"></i>&nbsp;展开列表</span> <span
										role="button" ng-if="venderExpose"
										ng-click="doExpose(false, true)"><i
										class="fa fa-angle-double-up"></i>&nbsp;收起列表</span>
								</div>
							</div>
							<div class="col-md-12" ng-class="{true : 'select', false: 'diselect'}[venderAccount.id == venderAccount.id]" >
								<div class="row-fluid" ng-show="venderAccount != null && venderAccount.length != 0">
									<span ng-bind="venderAccount.accountname" class="name" ></span>
									<span ng-bind="venderAccount.filterAccount"></span>
									<span ng-bind="venderAccount.bankname"><i class="fa fa-credit-card"></i></span>
								</div>
								<div class="row-fluid" ng-show="venderAccount == null || venderAccount.length == 0">
									<span class="span12 text-center text-warning f14"><i class="fa fa-warning"></i>&nbsp;未能找到供应商对应的企业银行账户！</span>
								</div>
							</div>
						</div>
					</div>
					<div class="row-fluid marginTop20" style="height: 50px;">
						<div class="span2">
							<label class="f16 marginTop5" style="margin-bottom: 10px;"><strong>转账日期</strong></label>
						</div>
						<div class="times span7">
							<datetrigger name="transferTime" model="transferTime"
										 format="yyyy年MM月dd日" class="col-md-12" max-date="maxDate" style="padding-left: 0;"></datetrigger>
						</div>
					</div>
					<div class="row-fluid marginTop20">
						<div class="row-fluid">
							<div class="span2">
								<label class="minTitle">交易图片</label>
							</div>
						</div>
<!--						<div class="row-fluid">
							<label style="margin: 10px 0;"><span>*</span>付款截图：</label>
							<div class="marginBottom5">
								<img class="img-thumbnail" ng-src="{{imageUrl}}"
									 style="width: 100px; height: 100px;"
									 ng-click="showImageDialog()">
							</div>
							<span class="text-muted" >建议图片尺寸在750*750像素以上，图片请避免全文字</span>
						</div>-->
						<div style="width:220px;height:220px;" >
							<div style="width:220px;height:220px;" image-upload data-src="static/img/vendor/store/photo.png" on-success="onUpload($data)"></div>
						</div>
						<div class="">
							图片大小不超过3M，建议使用220 x 220px 图片
						</div>
					</div>
				</div>
			</div>
			<div class="box-content" style="font-size: 15px; ">
				<div class="row-fluid ">
					<div class="span11 text-center">
						<span class="text-inverse">总价：{{total}}</span>&nbsp;&nbsp;
						<button class="btn btn-primary" ng-click="confirm(transferTime)"
								ng-disabled="count==0 || !b2cAccount || !logoUrl || !venderAccount || !transferTime">确认并付款</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
