<style>
	em{
		font-family: "Microsoft Yahei", "微软雅黑";
		color: #229ee6;
		font-style: inherit;
		font-weight: inherit;
		background: none;
	}
	.violation-handler{
		width: 100%;
		margin: 0 auto;
		background: #f4f9fc;
		padding: 10px 15px 30px 15px;
		margin-top: 20px;
	}
	.violation-content{
		width: 100%;
		margin: 0 auto;
	}
	.violation-content .violation-text{
		width: 100%;
		margin: 0 auto;
		display: inline-block;
		margin-top: 10px;
	}
	.violation-content span.title{
		float: left;
		width: 74px;
		font-size: 12px;
	}
	.violation-content span.title em{
		color: #f00;
		margin-right: 5px;
	}
	.violation-content .violation-text .text-input{
		width: 900px;
		height: 103px;
		position: relative;
		float: left;
	}
	.violation-content .violation-text .text-input textarea{
		width: 100%;
		height: 100%;
		background: #fff;
		border: none;
		padding: 10px;
	}
	.violation-content .violation-text .count_tip{
		position: absolute;
		bottom: 0;
		width: 100%;
		margin: 0 auto;
		height: 30px;
		line-height: 30px;
		display: inline-block;
	}
	.violation-content .violation-text .count_tip em{
		color: #999;
	}
	.violation-content .violation-text .count_tip span{
		float: right;
		margin-right: 25px;
		font-size: 12px;
		color: #999;
	}

	/*违规详情*/
	.violation-content h3{
		font-weight: bold;
		color: #25a0e6;
		font-size: 16px;
		margin: 0;
		line-height: 25px;
	}
	.violation-content h3 span{
		float: right;
		color: #999;
		font-size: 12px;
		font-weight: 500;
	}
	.violation-content h3 span em{
		color: #999;
	}
	.violation-content h3 span em:last-child{
		margin-left: 30px;
	}
	.violation-content .close-title{
		width: 100%;
		margin: 0 auto;
		margin-top: 15px;
	}
	.violation-content .close-title p{
		line-height: 25px;
		font-size: 12px;
		color: #666;
		margin-bottom: 0;
	}
	i{
		font-style: normal;
	}
	/*查看大图*/
	.hover-show{
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 100%;
		background: rgba(0,0,0,.5);
	}
	.hover-show a{
		display: inline-block;
		width: 100%;
		height: 100%;
		font-size: 14px;
		color: #fff;
		text-align: center;
		line-height: 147px;
	}
	.hover-show a i{
		margin-right: 5px;
	}
	.hover-show span.delete{
		position: absolute;
		z-index: 100;
		display: inline-block;
		width: 30px;
		height: 30px;
		right: 0;
		top: 0;
		color: #fff;
		font-size: 14px;
		line-height: 30px;
	}
	.violation-deal{
		width: 100%;
		margin: 0 auto;
		text-align: center;
		margin-top: 15px;
	}
	.violation-deal a{
		width: 70px;
		height: 30px;
		display: inline-block;
		text-align: center;
		line-height: 30px;
		font-size: 14px;
	}
	.violation-deal a.off{
		background: #cdcccc;
		color: #666;
		margin-right: 8px;
	}
	.violation-deal a.ok{
		background: #3ba9e9;
		color: #fff;
	}
	.violation-deal a:hover{
		background: #337ab7;
		color: #fff;
	}
	.violation-deal a.apply-store{
		background: #e5051a;
		width: 80px;
		color: #fff;
	}
	.violation-deal a.apply-store:hover{
		background: #f00;
	}
	/*资质证明*/
	.qualification-list{
		width: 100%;
		margin: 0 auto;
		margin-top: 5px;
	}
	.qualification{
		width: 100%;
		margin: 0 auto;
		display: inline-block;
	}
	.qualification li{
		width: 124px;
		height: 147px;
		float: left;
		text-align: center;
		position: relative;
		overflow: hidden;
		margin-right: 50px;
	}
	.qualification li .img img{
		width: 124px;
		height: 147px;
	}
	.qualification li:hover .hover-show{
		top: 0;
	}
	.recovery-deal{
		width: 100%;
		margin: 0 auto;
		height: 55px;
		line-height: 55px;
	}
	.recovery-deal label{
		font-weight: inherit;
		font-size: 12px;
	}
	.recovery-deal label i{
		font-size: 14px;
		color: #ccc;
		height: 13px;
		background: #fff;
		margin-right: 5px;
	}
	.recovery-deal label i.fa-circle{
		color: #31a5e8;
	}
	/* 防误删除 start */
	.com-del-box{
		position: fixed;
		z-index: 2;
		height: 152px;
		opacity: 1;
		background-color: white;
		width: 310px;
		-webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
		box-shadow: 0 5px 15px rgba(0,0,0,.5);
		margin: -155px 0 0 -75px;
		top: 55%;
		left: 50%;
	}
	.com-del-box .title{
		height: 30px;
		background-color: #3ba9e9;
		text-align: right;
		padding-right: 15px;
		line-height: 30px;
	}
	.com-del-box .title a{
		color: white;
		font-size: 16px;
	}
	.com-del-box .content{
		width: 100%;
		text-align: center;
		margin: 0 auto;
	}
	.com-del-box .content p{
		line-height: 50px;
		font-size: 12px;
		padding-top: 10px;
	}
	.com-del-box .content p i{
		color: #3ba9e9;
		font-size: 16px;
		margin-right: 10px;
	}
	.com-del-box .content div{
		width: 100%;
		text-align: center;
		margin: 0 auto;
	}
	.com-del-box .content div a{
		width: 55px;
		height: 26px;
		line-height: 26px;
		display: inline-block;
		text-align: center;
		font-size: 12px;
	}
	.com-del-box .content div a:first-child{
		background: #b4b5b9;
		color: #333;
		margin-right: 10px;
	}
	.com-del-box .content div a:last-child{
		background: #3ba9e9;
		color: #fff;
	}
	.com-del-box .content div a:hover{
		background: #3f7ae3;
		color: #fff;
	}
	.violation-content .violation-text .text-input textarea:focus{
		border: #66afe9 1px solid;
	}
</style>
<div>
	<div class="violation-handler" ng-if="violations.disposeOperator">
		<div class="violation-content">
			<h3>店铺涉嫌违规，前台展示已关闭！<span>审核人：<em ng-bind="violations.disposeOperator.name">哈哈哈</em><em ng-bind="violations.disposeOperator.operateTime | date: 'yyyy-MM-dd HH:mm:ss'">2017-07-02-13 14:50:50</em></span></h3>
			<div class="close-title">
				<p>违规类型：
					<i ng-if="violations.type === 'FICTITIOUS_TRADE'">虚假交易</i>
					<i ng-if="violations.type === 'FICTITIOUS_ADVERTISE'">虚假宣传</i>
					<i ng-if="violations.type === 'FICTITIOUS_DELIVERY'">虚假发货</i>
					<i ng-if="violations.type === 'BAD_CONTENT'">传播不健康内容</i>
				</p>
				<p>处置方式：
					<i ng-if="violations.disposition === 'CLOSE_10'">暂停营业10天</i>
					<i ng-if="violations.disposition === 'CLOSE_30'">暂停营业30天</i>
					<i ng-if="violations.disposition === 'CLOSE_90'">暂停营业90天</i>
					<i ng-if="violations.disposition === 'CLOSE_PERMANENT'">永久暂停店铺营业</i>
				</p>
				<p>处罚日期：<i>{{violations.disposeOperator.operateTime | date: 'yyyy-MM-dd HH:mm:ss'}} 至 {{(violations.disposeEndTime | date: 'yyyy-MM-dd HH:mm:ss') || '永久'}}</i></p>
				<p style="display: inline-block;
    width: 800px;">具体原因：<i ng-bind="violations.reason">近3个月内有5个订单被买家投诉为虚假发货，严重违反了优软商城诚信交易原则，现予以关闭店铺的处罚！</i></p>
			</div>
			<div class="qualification-list" ng-if="violations.disposeProof && violations.disposeProof.length > 0">
				<ul class="qualification">
					<li ng-repeat="proof in violations.disposeProof">
						<div class="img"><img ng-src="{{proof.url || 'static/img/vendor/images/company_zz.jpg'}}"></div>
						<div class="hover-show">
							<!-- 图片预览 -->
							<a ng-click="showImg(proof.url)"><i class="fa fa-search"></i>查看</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!--卖家申诉-->
	<div class="violation-handler" style="margin-top: 5px" ng-if="violations.complaintOperator">
		<div class="violation-content">
			<h3 style="color: #f00">卖家申诉<span>审核人：<em ng-bind="violations.complaintOperator.name">哈哈哈</em><em ng-bind="violations.complaintOperator.operateTime | date: 'yyyy-MM-dd HH:mm:ss'">2017-07-02-13 14:50:50</em></span></h3>
			<div class="close-title">
				<p style="line-height: 20px;">申诉说明：{{violations.complaintInfo}}</p>
			</div>
			<div class="qualification-list" ng-if="violations.complaintProof && violations.complaintProof.length > 0">
				<ul class="qualification">
					<li ng-repeat="proof in violations.complaintProof">
						<div class="img"><img ng-src="{{proof.url || 'static/img/vendor/images/company_zz.jpg'}}"></div>
						<div class="hover-show">
							<!-- 图片预览 -->
							<a ng-click="showImg(proof.url)"><i class="fa fa-search"></i>查看</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!--商家审核-->
	<div class="violation-handler" style="margin-top: 5px" ng-if="violations.complaintOperator">
		<div class="violation-content">
			<h3>商家审核<span ng-if="violations.authOperator">审核人：<em ng-bind="violations.authOperator.name">哈哈哈</em><em ng-bind="violations.authOperator.operateTime | date:'yyyy-MM-dd HH:mm:ss'">2017-07-02-13 14:50:50</em></span></h3>
			<div class="violation-text" ng-if="!violations.authOperator">
				<span class="title" style="line-height: 40px;"><em>*</em>审核意见：</span>
				<div class="text-input">
					<textarea placeholder="请填写审核意见" maxlength="200" ng-model="authInfo" ng-blur="setAuthInfo(authInfo)"></textarea>
					<p class="count_tip"><span><em ng-bind="(authInfo || '').length">0</em>/200</span></p>
				</div>
			</div>
			<!--已经填写审核意见-->
			<div class="close-title" ng-if="violations.authOperator">
				<p style="line-height: 20px;">审核意见：{{violations.authInfo}}</p>
			</div>
			<div class="recovery-deal" ng-if="!violations.authOperator">
				<span>是否恢复店铺经营：</span>
				<span>
					<label><input type="radio" id="1" name="1" ng-model="restore" ng-value="true" ng-click="setRestore(restore)"><label for="1"></label>是</label>
				</span>
				<span>
					<label><input type="radio" id="2" name="1" ng-model="restore" ng-value="false" ng-click="setRestore(restore)"><label for="2"></label>否</label>
				</span>
			</div>
			<div class="recovery-deal" ng-if="violations.authOperator">
				<span>是否恢复店铺经营：</span>
				<span ng-if="violations.restore">已恢复店铺经营</span>
				<span ng-if="!violations.restore">违规关店</span>
			</div>
		</div>
	</div>
	<!-- 管理员恢复店铺经营记录 -->
	<div class="violation-handler" style="margin-top: 5px" ng-if="violations.status === 'DONE' && violations.restore">
		<div class="violation-content">
			<h3 style="color: #f00">恢复店铺经营<span>审核人：<em ng-bind="violations.restoreOperator.name || '系统'">哈哈哈</em><em ng-bind="(violations.restoreOperator.operateTime || violations.updateTime) | date: 'yyyy-MM-dd HH:mm:ss'">2017-07-02-13 14:50:50</em></span></h3>
			<div class="recovery-deal">
				<span>店铺已恢复经营</span>
			</div>
		</div>
	</div>
	<div class="violation-deal">
		<a ng-click="cancelAuth()" class="off" ng-if="violations.complaintOperator && !violations.authOperator">取消</a>
		<a ng-click="submitAuthInfo()" class="ok" ng-if="violations.complaintOperator && !violations.authOperator">确认</a>
		<a ng-click="wantRestoreStore(true)" class="apply-store" ng-if="(violations.status === 'DONE' || violations.status === 'EXECUTING') && !violations.restore">恢复经营</a>
	</div>
	<!-- 恢复经营 -->
	<div class="com-del-box" ng-if="showRestoreConfirmDialog">
		<div class="title">
			<a ng-click="wantRestoreStore(false)"><i class="fa fa-close fa-lg" style="font-size: 16px;"></i></a>
		</div>
		<div class="content">
			<p style="line-height: 20px; padding-top: 20px;"><i class="fa fa-exclamation-circle"></i>是否要恢复店铺经营<br/><span style="color: #f00">处置执行中</span></p>
			<div><a ng-click="wantRestoreStore(false)">取消</a><a ng-click="confirmRestoreStore()">确认</a></div>
		</div>
	</div>
</div>
<style>
	.recovery-deal span:nth-child(2){
		margin: 0 30px 0 20px;
	}
	.recovery-deal label input{
		display: none;
	}
	.recovery-deal label label{
		width: 12px;
		height: 12px;
		margin-right: 8px;
		display: inline-block;
		background: url("static/img/icon/check-icon.png") no-repeat;
		background-position: -28px -1px;
		position: relative;
		top: 6px;
	}
	.recovery-deal label input:checked + label{
		background-position: -43px -1px;
	}
</style>