<style>
td.no-data {
	line-height: 40px; 
	font-size: 20px;
	text-align: center;
}

h2 {
	font-size: 18px;
	font-weight: 600;
}
</style>
<div class="row-fluid sortable">		
	<div class="box">
		<div class="box-header well" data-original-title>
			<h2><i class="icon-user"></i> 创客需求列表</h2>
		</div>
		<div class="box-content">
			<!-- ng-tableStart -->
			<div class="fullscreen" style="padding: 10px;overflow-y:auto;">
				<div  class="container">
					<div class="row-fluid">
						<div class="span1">
							共<span class="badge">{{makeDemandTableParams.total()}} </span>条
						</div>
						<div class="span7">
							<div class="btn-group" role="group" aria-label="...">
								<button type="button" class="btn btn-sm btn-default"
									ng-class="{'btn-primary':active=='tobehandle'}"
									ng-click="setActive('tobehandle')">待处理</button>
								<button type="button" class="btn btn-sm btn-default"
									ng-class="{'btn-primary':active=='handled'}"
									ng-click="setActive('handled')">已处理</button>
							</div>
						</div>
					</div>
				</div>
				<table ng-table="makeDemandTableParams" class="table table-bordered table-striped" style="margin-top: 10px;">
					<thead>
						<tr>
							<th width="140" class="text-center">企业名称</th>
							<th width="auto" class="text-center">需求类型</th>
							<th width="100" class="text-center">联系人</th>
							<th width="140" class="text-center">生成时间</th>
							<th width="110" class="text-center">处理结果</th>
							<th width="140" class="text-center">操作</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="demand in $data">
							<td class="text-center">
								<span ng-bind="demand.commpanyName"></span>
							</td>
							<td class="text-center">
								<span ng-bind="demand.descripeDemandKind"></span>
							</td>
							<td class="text-center">
								<span ng-bind="demand.makerName"></span>
							</td>
							<td class="text-center">
								<span ng-bind="demand.createtime | date: 'yyyy-MM-dd HH:mm'"></span>
							</td>
							<td class="text-center">
								<span ng-bind="demand.resultStatus == 810 ? '待处理' : '已处理'"></span>
							</td>
							<td class="text-center">
								<a class="btn btn-sm btn-default" ng-show="active=='handled'" ui-sref="maDemandInput({id: demand.id, input: false})">查看详情</a>
								<a class="btn btn-sm btn-default" ng-show="active=='tobehandle'" ui-sref="maDemandInput({id: demand.id, input: true})">处理问题</a>
							</td>
						</tr>
						<tr ng-if="$data.length == 0">
							<td colspan="10" class="no-data"><i
								class="fa fa-smile-o fa-lg"></i> 当前没有对应的信息</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	</div><!--/span-->
</div><!--/row-->