<style>
td.no-data {
	line-height: 40px; 
	font-size: 20px;
	text-align: center;
}

h2 {
	font-size: 18px;
	font-weight: 600;
}

.addInfo {
	margin-top: 10px;
	margin-right: 5px;
}

</style>
<div class="row-fluid sortable">
	<div class="box">
		<div class="box-header well" data-original-title>
			<h2>
				<i class="icon-envelope"></i> 审核人邮箱设置
			</h2>
		</div>
		<div class="form-group row">
			<div class="addInfo">
				<div class="col-xs-4 col-xs-offset-8 ">
						<button type="button" class="btn btn-sm btn-primary pull-right"
						ng-click="addMailInfo()"><i
						class="fa fa-plus-square"></i>&nbsp;&nbsp;增加&nbsp;</button>
				</div>
			</div>
			<div class="col-xs-12">
				<table ng-table="receiptTableParams" class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="text-center" width="200">姓名</th>
							<th class="text-center" width="200">邮箱</th>
							<th class="text-center" width="200">操作</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="info in MailInfo">
							<td class="text-center"><span ng-bind="info.username"></span></td>
							<td class="text-center"><span ng-bind="info.useremail"></span></td>
							<td class="text-center"><a ng-click="editMailInfo(info)">修改</a>|<a ng-click="deleteMailInfo(info, $index)">删除</a></td>
						</tr>
						<tr ng-if="MailInfo.length == 0">
							<td colspan="10" class="text-center" style="line-height: 40px; font-size: 20px;"><i class="fa fa-smile-o fa-lg"></i> 暂未设置收件人</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>