<style>
table#status-history-table tr {
	height: 30px;
	vertical-align: middle;
	text-align: center;
}

table#status-history-table tr>th {
	background-color: #60C6E7;
	color: #fff;
	text-align: center;
}
</style>
<table class="table table-bordered" id="status-history-table">
	<thead>
	<tr>
		<th>状态</th>
		<th>操作者的UU</th>
		<th>操作时间</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="his in statushistory | orderBy:'time':true">
		<td ng-bind="his.status | statusAndTypeFilter"></td>
		<td ng-bind="his.uu"></td>
		<td ng-bind="his.time | date:'yyyy-MM-dd HH:mm:ss'"></td>
	</tr>
	</tbody>
</table>