.user_content .user_right {
    float: none!important;
    margin: 0 auto;
}
.wrap {
    width: 100%;
}

/*---------------------btn样式 start---------------------*/
/*示例(size+type)：
<span class="com-btn-level1 com-btn-submit"></span>
*/
/*btnSize*/
.com-btn-level1 {
    display: inline-block;
    padding: 0 17px;
    text-align: center;
    line-height: 25px;
    font-size: 14px;
    cursor: pointer;
    vertical-align: middle;
}
.com-btn-level1[disabled] {
    cursor: not-allowed;
}
.com-btn-level2 {
    display: inline-block;
    padding: 0 11px;
    height: 25px;
    line-height: 23px;
    border-radius: 2px;
    font-size: 12px;
    cursor: pointer;
    vertical-align: middle;
}
.com-btn-level2[disabled] {
    cursor: not-allowed;
}
/*btnType*/
.com-btn-submit {
    color: #fff;
    background: #5078cb;
    border: 1px solid #5078cb;
}
.com-btn-cancel {
    background: #c8c6c6;
    color: #fff;
    border: 1px solid #c8c6c6;
}
.com-btn-detail {
    color: #fff;
    background: #ff8522;
    border: 1px solid #ff8522;
}
.com-btn-detail-border {
    color: #ff8522;
    background: #fff;
    border: 1px solid #ff8522;
}
.com-btn-red {
    background: #f15601;
    color: #fff;
    border: 1px solid #f15601;
}
.com-btn-green {
    background: #33b401;
    color: #fff;
    border: 1px solid #33b401;
}
.com-btn-submit-border {
    border: 1px solid #5078cb;
    background: #fff;
    color: #5078cb;
}
/*---------------------btn样式 end-----------------------*/
