<style>
    #banner {
        transition: background-color .4s;
    }
    #banner a.carousel-control {
        cursor: pointer;
    }
</style>
<div id="banner">
    <div class="banner-body">
        <div id="category" ng-controller="CategoryMenuCtrl">
            <!--<div class="category-title">器件选型</div>-->
            <ul class="list-group">
                <li ng-repeat="c in categories | limitTo: 13" class="level1 list-group-item dropdown">
                    <div class="dropdown-toggle">
                        <a href="product#/kinds/{{c.id}}">
                            <span ng-bind="c.nameCn"></span>
                        </a>
                        <span><i class="arrow pull-right fa fa-angle-right"></i></span>
                    </div>
                    <div class="dropdown-menu" ng-style="{top: -(($index * 34) + 2) + 'px'}">
                        <dl class="level2 dl-horizontal" ng-repeat="cc in c.children">
                            <dt>
                                <a href="product#/kinds/{{cc.id}}">
                                    <span ng-bind="cc.nameCn"></span><i class="pull-right fa fa-angle-right fa-lg"></i>
                                </a>
                            </dt>
                            <dd>
                                <ul class="list-unstyled list-inline">
                                    <li ng-repeat="ccc in cc.children">
                                        <a href="product#/kinds/{{ccc.id}}">
                                            <span ng-bind="ccc.nameCn"></span>
                                        </a>
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                    </div>
                </li>
                <li class="level1 list-group-item moreCategory">
                    <div >
                        <a href="product#/home">
                            <span>查看更多器件分类</span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>

        <div id="carousel" class="carousel slide carousel-fade" ng-controller="CarouselCtrl">
            <!-- 幻灯片 -->
            <carousel interval="5000">
                <slide ng-repeat="c in carousels" active="slide.active">
                    <a ng-href="{{c.hrefUrl}}" target="{{targetName || '_blank'}}"><img ng-src="{{c.pictureUrl}}" style="width: 990px; height: 477px"></a>
                    <input type="hidden" class="banner-background-color" value="{{c.metadata['background-color']}}" />
                    <input type="hidden" class="order-number" value="{{c.orderNumber}}" />
                    <div class="carousel-caption">
                        <h4 ng-bind="c.body"></h4>
                    </div>
                </slide>
            </carousel>
        </div>
    </div>
</div>