<!-- 当前html 没有引入样式 -->
<style type="text/css">
.logo-img>p {
	display: inline-block;
	border: solid 1px #ddd;
}

.compare-btns {
	margin-left: 0px;
	margin-right: 0px;
}

.compare-btns>.compare-btn {
	display: inline-block;
	line-height: 25px;
	padding: 0px 8px;
	margin-left: -1px;
	cursor: pointer;
	color: #fff;
	border-radius: 2px;
}

.compare-btns>.compare-btn:nth-child(odd) {
	background: #7ab4dc;
}

.compare-btns>.compare-btn:nth-child(even) {
	background: #f39801;
}

.compare-btns>.compare-btn[disabled] {
	background: #fff;
	color: #006633;
	font-weight: 600;
	cursor: not-allowed;
}

/* .table tr:hover .compare-btns {
	filter:alpha(opacity=100); 
	-moz-opacity:1.0; 
	-khtml-opacity: 1.0; 
	opacity: 1.0;
	transition: opacity 500ms;
} */

ul.pagination.ng-table-pagination {
	margin: 0px 0px;
}
</style>
<table ng-table="componentTableParams"
	class="table" style="margin-bottom: 0px;">
	<thead></thead>
	<tbody>
		<tr ng-repeat="component in $data" ng-init="kindName.num=componentTableParams.total()">
			<td width="110px">
				<div class="logo-img">
					<p>
						<a href="product#/component/{{component.uuid}}/" target="_blank">
							<img width="85px" height="85px" alt="{{component.code}}"
							src="" lazy-load="{{component.img||'static/img/all/default.png'}}"/>
						</a>
					</p>
				</div>
			</td>
			<td class="text-left" width="500px">
				<div>
					<a class="f16 text-bold text-num"
						ng-bind-html="highlight(component.code) || component.code"
						href="product#/component/{{component.uuid}}/" target="_blank"></a>&nbsp;&nbsp;
					<a class="text-num" ng-href="product#/brand/{{component.brand.uuid}}/" ng-bind="component.brand.nameCn"></a>
				</div>
				<div>
					<span title="产品分类" class="f14">
						<i class="iconfont icon-kind f14"></i> 
						<a ng-href="product#/kinds/{{component.kind.id}}" ng-bind="component.kind.nameCn"></a>
					</span>
				</div>
				<div>
					<span ng-if="!component.packaging" class="text-muted">无包装方式说明</span>
					<span ng-if="component.packaging"  ng-bind="component.packaging" title="包装方式"></span>
				</div>
				<div class="compare-btns">
					<div class="text-center compare-btn"
						ng-click="addToCompare(component.uuid)"
						ng-disabled="addedCompare(component.uuid)">
						<i class="iconfont icon-compare f14" ng-hide="addedCompare(component.uuid)"></i>
						<span ng-if="addedCompare(component.uuid)">已添加</span>对比
					</div>
					<div class="text-center compare-btn"
						ng-click="collect(component.id)">
						<i class="iconfont icon-heart f14"></i> 收藏
					</div>
				</div>
				
			</td>
			<td class="text-left">
				<div ng-if="component.reserve">
				<!-- 增加币别之后，没有最低最高价 -->
					<!-- <div>
						<span ng-if="component.minPrice&&component.maxPrice">
							<span class="text-backgroud f22 text-bold">¥<span class="" ng-bind="component.minPrice|number:6"></span></span>
							-&nbsp;<span class="text-backgroud f22 text-bold">¥<span class="" ng-bind="component.maxPrice|number:6"></span></span>
						</span>
					</div> -->
					<div>
						<span class="text-num f14" ng-bind="component.reserve || 0 | number"></span>
						<span class="text-num f14" ng-bind="component.unit||'pcs'"></span> 
					</div>
					<div>
						<span class="text-num text-inverse f14" ng-if="component.minDelivery">
							{{component.minDelivery}}-{{component.maxDelivery}}
						</span> 天可送达
					</div>
					<div>
						<span class="f12 text-muted">最小订购 
							<span class="text-num f14" ng-bind="component.minBuyQty||0 | number"></span>
							<span class="text-num f14" ng-bind="component.unit||'pcs'"></span>
						</span>
					</div>
				</div>
				<div ng-if="!component.reserve">
					<br />
					<span class="text-muted f12">暂无库存</span>
				</div>
			</td>
			<td class="text-left">
			
				<div ng-show="isPutOn == 'maintenance'">
					<div class="operate">
						<a target="_self" class="btn btn-default btn-sm"
							href="product#/componentEdit/detail/create/{{component.uuid}}" >器件维护</a>
					</div>
				</div>
				
				<div ng-hide="isPutOn">
					<div ng-if="component.reserve">
						<button class="btn btn-orange btn-sm" 
							ng-click="addToCart(component.uuid,false)">
							<i class="fa fa-shopping-cart"></i> 加入购物车
						</button>
					</div>
					<div ng-if="component.orderNumber" class="text-muted f12">
						已售出<span ng-bind="component.orderNumber"></span>
						单，<span ng-bind="component.orderQty"></span>
						<span class="text-num f14" ng-bind="component.unit||'pcs'"></span>
					</div>
					<div ng-if="!component.orderNumber" class="text-muted f12">
						<br />
						<span>暂无销售记录</span>
					</div>
					<div ng-if="component.sampleQty && !hasSample[$index]">
						<a ng-click="applySample(component,$index)" class="text-default text-bold">
							<i class="fa fa-gift fa-lg"></i> 免费样品申请
						</a>
					</div>
					<div ng-if="component.sampleQty && hasSample[$index]">
						<a ng-click="applySample(component,$index)" class="text-inverse text-bold">
							<i class="fa fa-gift fa-lg"></i> 已申请，不可重复申请！
						</a>
					</div>
				</div>
				<div ng-if="isPutOn=='maintenance'? false : isPutOn ">
					<div class="operate">
						<a target="_self" class="btn btn-default btn-sm"
							href="vendor#/putOn/{{component.uuid}}" ng-click="putOn(event)">发布产品</a>
					</div>
				</div>
			</td>
		</tr>
	</tbody>
</table>