<div id="corp-case">
    <h2>合作案例</h2>
    <ul class="list-unstyled">
        <li><a href="http://www.fantem.com/" target="_blank"><img src="static/img/index/cooperation1.jpg" alt=""></a></li>
        <li><a href="http://www.tidal.cn/docc/default.html" target="_blank"><img src="static/img/index/cooperation2.jpg" alt=""></a></li>
        <li><a href="http://www.huansujt.com/" target="_blank"><img src="static/img/index/cooperation3.jpg" alt=""></a></li>
        <li><a href="http://www.madigi.net/" target="_blank"><img src="static/img/index/cooperation4.jpg" alt=""></a></li>
        <li><a href="http://www.51cube.com/ch/Default.asp" target="_blank"><img src="static/img/index/cooperation5.jpg" alt=""></a></li>
        <li><a href="http://www.szsoling.com/home/" target="_blank"><img src="static/img/index/cooperation6.jpg" alt=""></a></li>
        <li><a href="http://www.chiptrip.com.cn/china/cn/index.asp" target="_blank"><img src="static/img/index/cooperation7.jpg" alt=""></a></li>
    </ul>
</div>