<style>
	.modal-body label{
		margin-right: -15px;
	}
	.heigth30 {
		height: 30px;
		line-height: 30px;
	}
</style>
<div class="modal-header">
	<h3 class="modal-title">
		新增发货人地址信息
	</h3>
</div>
<div class="modal-body">
	<div class="row" >
		<div class="col-md-11">
			<form name="myForm" class="form-horizontal" role="form" ng-submit="save(address)" style="min-height: 253px;">
				<div class="form-group">
					<label for="userName" class="col-md-3 col-sm-4 control-label"><strong class="text-inverse">* </strong>发货人：</label>
					<div class="col-md-6 col-sm-6">
				      	<input required ng-model="address.name" type="text" class="form-control" id="name"  name="name"
				      		placeholder="请输入发货人姓名">
				    </div>
				    <div class="col-md-3 col-sm-3" >
				    	<span ng-show="myForm.userName.$invalid" class="text-inverse heigth30">发货人不能为空</span>
				    	<span ng-show="!myForm.userName.$invalid" class="text-success heigth30">填写正确</span>
				    </div>
				</div>
				<div class="form-group ">
					<label for="area" class="col-md-3 col-sm-4 control-label"><strong
						class="text-inverse">* </strong>所在地区：</label>
					<div class="row checkbox">
						<div class="col-md-3">
							<select required="" class="form-control"
								ng-model="address.province"
								ng-options="key as key for (key,value) in division"
								ng-change="address.city='';address.district='';">
								<option value="">省级行政区</option>
							</select>
						</div>
						<div class="col-md-3 ">
							<select class="form-control" ng-model="address.city"
								ng-options="key as key for (key,value) in division[address.province]"
								ng-change="address.district='';">
								<option value="">市</option>
							</select>
						</div>
						<div class="col-md-3">
						<select class="form-control" ng-model="address.district"
							ng-options="value as value for value in division[address.province][address.city]">
							<option value="">区</option>
						</select>
						</div>
					</div>
				</div>
				<div class="form-group">
						<label for="addr" class="col-md-3 col-sm-3 control-label"><strong class="text-inverse">* </strong>详细地址：</label>
						<div class="col-md-7 col-sm-7">
					      	<input required ng-model="address.detailAddress" type="text" class="form-control" id="addr" name="addr"
					      		placeholder="请输入您的详细地址">
					    </div>
					    <div class="col-md-2 col-sm-2">
					     	<span ng-show="!myForm.addr.$invalid" class="text-success heigth30">正确</span>
					     </div>
				</div>
				<div class="form-group">
				 	<div class="col-md-3 col-sm-3">
			    		
			    	</div>
					 <div class="col-md-9 col-sm-9" style="margin: -20px 0px -15px 0px;">
						 <span ng-show="myForm.addr.$invalid" class="text-inverse heigth30">详细地址不能为空</span>
					</div>
				</div>
				<div class="form-group">
					<label for="tel" class="col-md-3 col-sm-4 control-label"><strong class="text-inverse">* </strong>手机号码：</label>
					<div class="col-md-6 col-sm-6">
				      	<input required ng-model="address.tel" type="text" class="form-control" ng-length="11" id="tel" name="tel"
				      		ng-parttern="/^[\d-]{8,}$/" placeholder="8位以上手机号码">
				    </div>
			    	<div class="col-md-3 col-sm-3" >
				    	<span ng-show="myForm.tel.$invalid" class="text-inverse heigth30">手机号码不能为空</span>
				    	<span ng-show="!myForm.tel.$invalid" class="text-success heigth30">填写正确</span>
				    </div>
				</div>
				<div class="form-group">
					<label for="email" class="col-md-3 col-sm-4 control-label">邮箱：</label>
					<div class="col-md-6 col-sm-6">
				      	<input ng-model="address.email" type="text" class="form-control" id="email" 
				      		placeholder="请输入您的邮箱">
				    </div>
				</div>
				<div class="text-muted" style="margin: -9px 0 20px 122px;">用来接收订单提醒邮件，便于您及时了解订单状态</div>
				<div class="form-group">
					<div class="col-md-offset-3 col-md-4 col-sm-offset-3 col-sm-4">
						<div class="checkbox">
					        <label>
					        	<input ng-model="isSetTop" type="checkbox" ng-checked="isSetTop"> 设为默认地址
					        </label>
						</div>
					</div>
		  		</div>
			</form>
		</div>
	</div>
</div>
<div class="modal-footer">
	<span class="pull-left text-muted"><i class="fa fa-fw fa-warning"></i>需要将所有带*必填项填完才能保存</span>
	<button ng-disabled="myForm.$invalid" class="btn btn-success" ng-click="save()" type="button">保存收货人信息</button>
	<button class="btn btn-default" ng-click="cancel()" type="button">取消</button>
</div>