<!-- 底部链接 Start -->
<div class="link-group">
	<ul class="list-inline col-xs-10">
		<li><a href="#">关于优软</a></li>
		<li><a href="#">联系我们</a></li>
		<li><a href="#">诚征英才</a></li>
		<li><a href="#">欢迎合作</a></li>
		<li><a href="#">知识产权</a></li>
		<li><a href="#">著作权与商标声明</a></li>
		<li><a href="#">法律声明</a></li>
		<li><a href="#">服务条款 </a></li>
		<li><a href="#">隐私声明 </a></li>
		<li><a href="#">网站地图 </a></li>
	</ul>
	<div class="col-xs-2">
		<a href="#" class="pull-right">对新版有话说</a>
	</div>
</div>
<!-- 底部链接 End -->
<div style="width: 300px; margin: 0 auto;">
	<p class="text-muted">
		©&nbsp;2014-2018&nbsp;深圳市优软科技有限公司&nbsp;版权所有</p>
</div>