<style>
/* footer css stylesheet */
footer {
	margin-top: 15px;
	padding: 10px 0;
	background: #7bb4dc;
	color: #fff;
}

#footer a {
	color: #fff;
	text-decoration: none;
}

footer .container>div {
	width: 800px;
	margin: 0 auto;
}

footer .qrcode .qrcode-text {
	padding-left: 10px;
	padding-top: 18px;
}

footer .services {
	padding: 18px 0 10px 0;
	border-top: 2px solid #c2c2c2;
	height: 205px;
}

footer .services>dl {
	float: left;
	width: 158px;
	margin-bottom: 0
}

footer .services .app {
	float: left;
	border-left: 1px dotted #e1e1e1;
	position: relative;
	height: 165px;
}

footer .services .app .btn-default {
	color: #adadad;
}

footer .services .app .btn-default:hover {
	color: #f50;
	background-color: #fff;
}

footer .btn-group {
	margin-right: 3px;
}

footer .btn-group:hover .btn-default {
	border-color: #f50;
}

footer .btn-group:hover .btn-default:first-child {
	background-color: transparent;
	color: #f50;
}

footer .btn-group:hover .btn-default:last-child {
	color: #fff;
	background-color: #f50;
	border-left-width: #f50;
}

footer .app .suggest {
	position: absolute;
	bottom: 0;
	right: 0;
}

footer .services>dl>dt {
	margin-bottom: 8px;
}

footer .services li {
	height: 28px;
	line-height: 28px;
}

footer .link-group {
	height: 46px;
	line-height: 46px;
}

footer .link-group li:before {
	content: "|";
	padding-right: 1em;
	color: #f0f0f0;
	font-weight: bold;
}

footer .link-group li:nth-child(1):before {
	content: "";
	padding: 0;
}

footer .link-group ul>li>a {
	color: #fff;
}

footer .link-group ul>li>a:hover {
	color: #f40;
}

footer .copyright {
	color: #eee;
}

.text-link {
	text-decoration: underline;
	color: #f0f0f0;
}
</style>

<!-- footer Start -->
<footer>
	<!-- footer inner -->
	<div class="container">
			<div class="row f12">
				<div class="col-sm-3">
					<div class="qrcode">
						<div class="qrcode-img pull-left">
							<img src="static/img/mobile/code_blue.jpg" width="80px"
								height="80px">
						</div>
						<div class="qrcode-text pull-left">
							<p>UU互联</p>
							<p>快人一步</p>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="qrcode">
						<div class="qrcode-img pull-left">
							<img src="static/img/mobile/yrsc_weixin.jpg" width="80px"
								height="80px">
						</div>
						<div class="qrcode-text pull-left">
							<p>微信扫描</p>
							<p>关注公众号</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<p class="row">
						<a href="help#/agreement" target="_blank" class="text-link">使用优软商城前必读</a>
						<a href="help#/market" target="_blank" class="col-xs-4 text-link">关于优软商城</a>
						<!-- <a href="help" target="_blank" class="col-xs-4 text-link">帮助</a> -->
					</p>
					<p>
						©2016 深圳市优软科技有限公司 <!-- <a href="help" target="_blank"
							class="text-link">意见反馈</a> -->
					</p>
					<p>
						<img src="static/img/icon/copy_right_24.png" alt="" />
						粤ICP备15112126号-3
					</p>
				</div>
			</div>
		</div>
</footer>
<!-- footer End -->