<style>
.list-unstyled {
	padding-left: 0;
	list-style: none;
}
#footer {
	background-color: #f7f7f7;
}

#footer .footer-main, #footer .footer-bottom {
	font-size: 12px;
	color: rgb(50, 50 ,50);
	width: 1190px;
	margin: auto;
	text-align: center;
}
#footer .footer-main > li {
	display: inline-block;
	width: 16%;
	text-align: center;
	vertical-align: top;
}
#footer .footer-main > li > h3 {
	font-size: 16px;
	font-weight: bold;
}
#footer .footer-main > li > ul > li {
	padding: 0.4em;
}
#footer .footer-bottom {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	margin-top: 10px;
}
#footer .footer-bottom > li {
	text-align: center;
	display: inline-block;
	padding: 0 2em 0 2em;
}
#footer .list-unstyled > li a{
	color: #323232;
}
#footer .list-unstyled > li a:hover{
	color: #db143c;
}
#footer .footer-bottom{
	border-top: #c9c9c9 1px solid;
}
#footer .footer-bottom > li {
	text-align: center;
	display: inline-block;
	padding: 0 2em 0 2em;
}
a:hover {
    text-decoration: none;
}
.credit{
	text-align: center;
	padding: 2px;
	padding-bottom: 30px;
}
.credit a{
	margin: 0 8px;
}
.friend-link{
	font-size: 12px;
	width: 1190px;
	margin: auto;
	text-align: center;
	color: #999;
	margin-top: 10px;
}
.friend-link a{
	font-size: 12px;
	color: #323232;
	padding: 2px 10px;
	display: inline-block;
}
.friend-link a:hover{
	color: #d32526;
}
</style>
<div id="footer">
	<ul class="footer-main list-unstyled">
		<li>
			<h3>用户指南</h3>
			<ul class="list-unstyled">
				<li><a href="http://www.usoftmall.com/help#/issue/50" target="_blank">服务条款</a></li>
				<li><a href="http://www.usoftmall.com/help#/issue/16" target="_blank">买卖条例</a></li>
				<li><a href="http://www.usoftmall.com/help#/issue/51" target="_blank">代收代付协议</a></li>
			</ul>
		</li>
		<!--<li>
			<h3>技术支持</h3>
			<ul class="list-unstyled">
				<li>原理图</li>
				<li>设计方案</li>
				<li>BOM清单</li>
			</ul>
		</li>-->
		<li>
			<h3>关于我们</h3>
			<ul class="list-unstyled">
				<li><a href="http://www.usoftmall.com/help#/issue/1" target="_blank">公司简介</a></li>
				<li><a href="http://www.usoftmall.com/help#/issue/28" target="_blank">公司地址</a></li>
				<li><a href="http://www.usoftmall.com/help#/issue/1" target="_blank">联系我们</a></li>
			</ul>
		</li>
		<li>
			<h3>更多服务</h3>
			<ul class="list-unstyled">
				<li><a href="http://www.usoftchina.com/usoft/"  target="_blank" target="_blank">优软科技</a></li>
				<li><a href="http://www.ubtob.com/" target="_blank" target="_blank">优软云</a></li>
			</ul>
		</li>
		<li>
			<h3>商城公众号</h3>
			<img src="static/img/all/qrcode_mall.png" />
		</li>
		<li>
			<h3>科技公众号</h3>
			<img src="static/img/all/qrcode_uas.png" />
		</li>
	</ul>
	<div class="friend-link row">
		<span>友情链接：</span>
		<a href="http://www.worldshine.net" target="_blank" title="深圳华商龙">深圳华商龙</a>|
		<a href="http://www.yitoa.com" target="_blank" title="深圳市英唐智能科技">深圳市英唐智能科技</a>|
		<a href="http://www.usoftchina.com/usoft/" target="_blank" title="深圳市优软科技">深圳市优软科技</a>|
		<a href="http://www.fantem.com" target="_blank" title="丰唐物联技术（深圳）">丰唐物联技术（深圳）</a>|
		<a href="http://www.hiways.com" target="_blank" title="深圳市海威思科技">深圳市海威思科技</a>|
		<a href="http://www.huashangweitai.com" target="_blank" title="深圳市华商维泰显示科技">深圳市华商维泰显示科技</a>|
		<a href="http://www.ufct.com.cn/" target="_blank" title="联合创泰科技">联合创泰科技</a>
	</div>
	<ul class="list-unstyled footer-bottom">
		<li>客服电话：400-830-1818</li>
		<li>公司地址：深圳市南山区英唐大厦一楼</li>
		<li>©2016 深圳市优软科技有限公司 粤ICP备15112126号-3</li>
	</ul>
	<div class="credit">
		<a href="javascript:void(0)"><img src="static/img/credit/credit01.jpg" /></a>
		<a href="javascript:void(0)"><img src="static/img/credit/credit02.jpg" /></a>
		<a href="javascript:void(0)"><img src="static/img/credit/credit03.jpg" /></a>
		<a href="javascript:void(0)"><img src="static/img/credit/credit04.jpg" /></a>
		<a href="javascript:void(0)"><img src="static/img/credit/credit05.jpg" /></a>
	</div>
</div>
<!-- Piwik -->
<script type="text/javascript">
    var _paq = _paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u="//piwik.ubtob.com/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '1']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
</script>
<!-- End Piwik Code -->