<!-- 底部服务信息 Start -->
<div class="services">
	<dl>
		<dt>购物指南</dt>
		<dd>
			<ul class="list-unstyled">
				<li><a ng-href="help#/home">关于搜索</a></li>
				<li><a ng-href="help#/purchaseProcess">购物流程</a></li>
				<li><a ng-href="help#/changeAndReturn">退换货说明</a></li>
			</ul>
		</dd>
	</dl>
	<dl>
		<dt>付款方式</dt>
		<dd>
			<ul class="list-unstyled">
				<li><a ng-href="help#/bankTransfer">银行转账</a></li>
				<li><a ng-href="help#/faBill">发票说明</a></li>
			</ul>
		</dd>
	</dl>
	<dl>
		<dt>配送方式</dt>
		<dd>
			<ul class="list-unstyled">
				<li><a ng-href="help#/deliveryUU">UU配送</a></li>
				<li><a ng-href="help#/deliverySelf">上门自取</a></li>
			</ul>
		</dd>
	</dl>
	<dl>
		<dt>我的账户</dt>
		<dd>
			<ul class="list-unstyled">
				<li><a ng-href="user#/home/myOrder_todo">我的订单</a></li>
				<li><a ng-href="product#/cart">我的购物车</a></li>
				<li><a href="#" class="hidden">我的物流</a></li>
			</ul>
		</dd>
	</dl>
	<dl>
		<dt>关于我们</dt>
		<dd>
			<ul class="list-unstyled">
				<li><a ng-href="help#/market">关于UU电子市场</a></li>
				<li><a ng-href="help#/cultureAndValue">企业文化与价值</a></li>
				<li><a ng-href="help#/connetctUs">联系我们</a></li>
				<li><a ng-href="help#/coperation" class="hidden">渠道合作</a></li>
			</ul>
		</dd>
	</dl>
	<div class="app">
		<dl class="dl-horizontal">
			<dt>关注我们</dt>
			<dd>
				<div class="btn-group btn-group-xs" title="微博">
					<a class="btn btn-default"><i class="fa fa-weibo"></i></a> <a
						class="btn btn-default">加关注</a>
				</div>
				<div class="btn-group btn-group-xs" title="腾讯微博">
					<a class="btn btn-default"><i class="fa fa-tencent-weibo"></i></a>
					<a class="btn btn-default">加关注</a>
				</div>
			</dd>
		</dl>
		<dl class="dl-horizontal">
			<dt>扫描二维码<br>下载手机客户端</dt>
			<dd>
				<img src="static/img/mobile/code.png" width="120px" height="120px">
			</dd>
		</dl>
		<di class="dl-horizontal">
			<dt></dt>
			<dd>
				<i class="fa fa-question-circle fa-fw"></i> 我有<a href="#"
				class="text-info">建议或疑问</a>
			</dd>
		</di>
	</div>
</div>
<!-- 底部服务信息 End -->