<header class="navbar navbar-custom navbar-static-top">
	<div class="navbar-inner">
		<div class="container" ng-controller="AuthenticationCtrl">
			<nav class="hidden-xs">
				<ul class="nav navbar-nav">
					<a class="brand" href="#">我的UU</a>
					<li><a href="#">首页</a></li>
					<li><a href="#">采购</a></li>
					<li><a href="#">供应</a></li>
					<li><a href="#">社区</a></li>
					<li><a href="#"><i class="icon-th-large icon-white"></i>我的应用</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown"><a href="#" role="button"
						class="dropdown-toggle">{{userInfo.name}}&nbsp;<b
							class="caret"></b>
					</a>
						<div class="dropdown-menu" style="padding: 15px;">
							<ul class="unstyled">
								<li><a href="#" class="text-success"><h6>{{userInfo.enName}}</h6></a></li>
								<li class="divider" ng-show="userInfo.enName"></li>
								<li><a href="#">{{userInfo.name}}(<strong
										class="text-warning">{{userInfo.uu}}</strong>)
								</a><i class="pull-right icon-admin"></i></li>
								<li class="divider"></li>
								<li><a href="#">账号管理</a></li>
								<li class="divider"></li>
								<li><a href="#" class="text-info">成为高级会员</a><a href="#"
									class="muted pull-right" ng-click="logout()">退出</a></li>
							</ul>
							<div class="transform">优软认证</div>
						</div></li>
					<li><a href="#" role="button"> 消息 <span
							class="label-warning">1</span></a></li>
					<li><a href="#" role="button"> 优软首页</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>