<div class="container" id="nav">
	<div class="navbar navbar-inverse">
		<nav class="collapse navbar-collapse">
			<ul class="nav navbar-nav" ng-controller="CategoryMenuCtrl">
				<li class="categories">
					<a ng-mouseover="CategoryShow()" ng-mouseout="CategoryHide()" href="product#/home">电子元器件 &nbsp;&nbsp;&nbsp;<i ng-class="{ 'fa-angle-right' : isMenuHide , 'fa-angle-down' : !isMenuHide }" class="fa"></i></a>
					<!-- 产品类目 Start -->
					<div style="z-index : 101;" ng-mouseover="CategoryShow()" ng-mouseout="CategoryHide()" ng-hide="isMenuHide" class="nav-collapse">
						<ul class="list-group">
							<li class="list-group-item dropdown-submenu" ng-repeat="category in categories">
								<div class="dropdown-toggle">
									<a href="product#/kinds/{{category.id}}/test"> <span ng-bind="category.nameCn + '(' + category.count + ')'"></span><i
										class="pull-right fa fa-angle-right"></i>
									</a>
									<p class="example">
										<!-- @TODO 这里暂时注释掉，当有权重的数据时再放出来 
												@DATE 2015年12月31日17:47:35
												@author CHENHAO
										-->
										<!-- <a href="#" ng-bind="e.name" ng-repeat="e in category.ex"></a> -->
									</p>
								</div>
								<div class="dropdown-menu">
									<div class="subcates">
										<dl class="dl-horizontal"
											ng-repeat="child in category.children"
											ng-show="!category.children[0].leaf">
											<dt ng-bind="child.nameCn + '(' + child.count + ')'"></dt>
											<dd>
												<ul class="list-unstyled list-inline">
													<li ng-repeat="leaf in child.children"><a href="product#/kinds/{{leaf.id}}/test"
														ng-bind="leaf.nameCn + '(' + leaf.count + ')'"></a></li>
												</ul>
											</dd>
										</dl>
										<ul class="list-unstyled list-inline"
											ng-show="category.children[0].leaf">
											<li ng-repeat="child in category.children"><a href="product#/kinds/{{child.id}}/test"
												ng-bind="child.nameCn + '(' + child.count + ')'"></a></li>
										</ul>
									</div>
									<div class="subbrands">
										<dl>
											<dt>推荐品牌</dt>
											<dd>
												<ul class="nav nav-pills">
													<li><a href="#">Rohm</a></li>
													<li><a href="#">松下</a></li>
													<li><a href="#">富士通</a></li>
													<li><a href="#">AIC</a></li>
													<li><a href="#">台湾晶技</a></li>
												</ul>
											</dd>
										</dl>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</li>
				<!-- 产品类目 End -->
				<li><a href="index">首页</a></li>
				<li><a href="product#/brandList">品牌</a></li>
				<li><a href="">团购</a></li>
				<li><a href="">优质商家</a></li>
				<li><a href="user">个人中心</a></li>
				<li><a href="about">关于我们</a></li>
			</ul>
		</nav>
	</div>
</div>