<style>
table#original-goods-table.product-list {
	font-size: 12px;
	color: #000;
}

table#original-goods-table.product-list.table>thead>tr {
	height: 46px;
}

table#original-goods-table.product-list.table>thead>tr>th {
	padding: 5px 0 ;
	/*font-weight: normal ;*/
	vertical-align: middle;
	border-bottom-width: 0;
}

table#original-goods-table.product-list.table>tbody>tr>td {
	text-align: center;
	vertical-align: middle;
}

table#original-goods-table.product-list.table>tbody>tr>td > div {
	text-align: center;
}

table#original-goods-table thead tr.title-row {
	background: linear-gradient(rgb(93, 134, 220), rgb(12, 53, 136));
	color: #fff;
	height: 48px;
}

/* th样式 */
table#original-goods-table .min-pack-qty-th, .rmb-price-th, .usd-price-th {
	color: rgb(255, 227, 115);
}

table#original-goods-table .reserve-th, .prices-th {
	background: linear-gradient(#4876d4, #001540);
}
/* td样式 */

table#original-goods-table .product-model a {
	color:red;
}

table#original-goods-table .rmb-price, .usd-price {
	color:red;
}

table#original-goods-table .min-pack-qty, .original, .packaging {
	color: rgb(134, 134, 136);
}

table#original-goods-table .mainland-delivery {
	background: url("static/img/product/mainland-delivery.png");
}

/*td及其内部元素样式*/
table#original-goods-table .delivery-time {
	text-align: center;
}

table#original-goods-table .product-model {
	/*max-width: 80px;*/
	text-align: center;
}

table#original-goods-table .brand-name {
	/*max-width: 80px;*/
	text-align: center;
}

table#original-goods-table .caret {
	border-width: 0.5em;
}

table#original-goods-table .dropup .caret {
	border-bottom: 0.5em dashed;
}

table#original-goods-table .selectedOrder {
	color: hsla(0, 100%, 63%, 1);
}

table#original-goods-table.product-list tbody td:hover:nth-last-child(-n+3) {
	cursor: pointer;
}

table#original-goods-table .show-prices-icon{
	font-size:20px;
	background-color:#1E90FF;
	border:1px solid #D4D4D4;
	width:30px;
	line-height:20px;
	color:white;
	transition-property: transform;
	transition-duration: 1s;
}

table#original-goods-table .background-color-disabled {
	background-color: #D4D4D4 !important;
}

table#original-goods-table .table-min-width{
	min-width: 330px;
	padding:0;
	margin: 0;
}

table#original-goods-table .tr-background-color{
	background-color:#97FFFF;
}

table#original-goods-table .show-td-width{
	width:110px;
	line-height:0.6!important;
	font-weight:bold;
}

table#original-goods-table .show-fisrt-td{
	background-color:#DBDBDB;
	line-height:0.6!important;
}

table#original-goods-table .show-td-color{
	color:red;
	line-height:0.6!important;
}

table#original-goods-table .no-pdf {
	/*opacity: 0.5;*/
}

table#original-goods-table .prices-drop-down {
	position: absolute;
	z-index: 10;
	left: 0px;
	top: 22px;
}

table#original-goods-table a.rotate-hover:HOVER .show-prices-icon, a.rotate-click .show-prices-icon{
	transform: rotate(180deg);
	-ms-transform: rotate(180deg); 	/* IE 9 */
	-moz-transform: rotate(180deg); 	/* Firefox */
	-webkit-transform: rotate(180deg); /* Safari 和 Chrome */
	-o-transform: rotate(180deg); 	/* Opera */
}

table#original-goods-table tr.no-reserve-row {
	height: 51px;
}

table#original-goods-table tr.no-reserve-row td div {
	font-size: 18px;
}

</style>
<table class="table table-bordered product-list" id="original-goods-table" ng-table="componentTableParams">
	<thead>
		<tr class="title-row">
			<th width="174">产品型号</th>
			<th width="132">品牌</th>
			<th width="42">下载<br>资料</th>
			<th width="42">申请<br>样品</th>
			<th class="reserve-th">
                <div ng-if="!onlyOneType">库存数量</div>
                <div ng-if="onlyOneType" ng-click="changeOrder('reserve')" ng-class="{dropup : dir === '' && orderType === 'reserve'}">
                    库存数量
                    <span ng-class="{selectedOrd er : orderType === 'reserve'}" class="caret"></span>
                </div>
            </th>
			<th width="40" class="prices-th">价格<br>梯度</th>
			<th width="74" class="rmb-price-th">
                <div ng-if="!onlyOneType">最小包单价<br>￥17%</div>
                <div ng-if="onlyOneType" ng-click="changeOrder('prices[0].rMBPrice')" ng-class="{dropup : dir === '' && orderType === 'prices[0].rMBPrice'}">
                    最小包单价<br>￥17%
                    <span ng-class="{selectedOrder : orderType === 'prices[0].rMBPrice'}" class="caret"></span>
                </div>
            </th>
			<th width="74" class="usd-price-th">
                <div ng-if="!onlyOneType">最小包单价<br>$</div>
                <div ng-if="onlyOneType" ng-click="changeOrder('prices[0].uSDPrice')" ng-class="{dropup : dir === '' && orderType === 'prices[0].uSDPrice'}">
                    最小包单价<br>$
                    <span ng-class="{selectedOrder : orderType === 'prices[0].uSDPrice'}" class="caret"></span>
                </div>
            </th>
			<th width="48" class="min-pack-qty-th">最小<br>包装数</th>
			<th width="74">
                <div ng-if="!onlyOneType">生产日期</div>
                <div ng-if="onlyOneType" ng-click="changeOrder('produceDate')" ng-class="{dropup : dir === '' && orderType === 'produceDate'}">
                    生产日期
                    <span ng-class="{selectedOrder : orderType === 'produceDate'}" class="caret"></span>
                </div>
            </th>
			<th width="70">交香港交期<br>交大陆交期</th>
			<th width="59">货源</th>
			<th width="46">包装</th>

			<th width="74">库存<br>更新日期</th>
			<th width="40">咨询</th>
			<th width="40">购买</th>
			<th width="42">加入<br>购物车</th>
		</tr>
	</thead>
	<tbody valign="middle">
		<tr ng-repeat="compGoods in $data" ng-class="{'tr-even' : !compGoods.isOdd}">
			<td>
				<div class="product-model">
					<a class="" ng-bind="compGoods.code"
						href="product#/component/{{compGoods.uuid}}/" target="_blank">
					</a>
				</div>
			</td>
			<td>
				<div class="brand-name">
					<a class="text-num" ng-href="product#/brand/{{compGoods.brand.uuid}}/" ng-bind="compGoods.brand.nameCn"></a>
				</div>
			</td>
			<td>
				<div>
					<div ng-if="compGoods.attach">
						<a ng-click="downloadpdf(compGoods.attach)">
							<img alt="下载资料" src="static/img/product/pdf.png">
						</a>
					</div>
					<div ng-if="!compGoods.attach" class="no-pdf">
						<img alt="暂无资料" src="static/img/product/no-document.png"><!-- static/img/product/no-document.png" -->
					</div>
				</div>
			</td>
			<td>
				<div>
					<!-- 暂时不提供样品 申请 12月20号 -->
					<!-- <div ng-if="compGoods.sampleQty && !compGoods.hasSample" class="text-inverse">
		        		<a ng-click="applysample(compGoods)" ng-if="compGoods.sampleQty - compGoods.sampleAppliedQty && !compGoods.hasSample">
		        			<img alt="样品申请" src="static/img/product/sample-request.png">
		        		</a>
		        	</div> 
		        	<div ng-if="compGoods.hasSample" class="text-default">
						<img alt="样品已申请" src="static/img/product/no-sample-request.png">
					</div>
					<div ng-if="!compGoods.sampleQty" class="text-inverse">
		        		<img alt="暂无样品" src="static/img/product/no-sample-request.png">
		        	</div>-->
		        	<!-- 所有的都显示暂无样品 -->
		        	<div class="text-inverse">
		        		<img alt="暂无样品" src="static/img/product/no-sample-request.png">
		        	</div>
				</div>
			</td>
			<td>
				<div ng-if="compGoods.batchCode" class="text-num" ng-bind="(compGoods.reserve || 0) | number"></div>
				<div ng-if="!compGoods.batchCode">0</div>
			</td>

			<td>
	        	<div ng-if="compGoods.prices">
	        		<!-- <a ng-click="showPrices(compGoods, 'RMB')">展开<i class="fa fa-angle-double-down"></i></a> -->
	        		<!-- <div> ng-show="compGoods.$pricesShowRmb"
		        		<ul class="list-unstyled">
			        		<li ng-repeat="p in compGoods.prices">
	        					<span ng-bind="p.start"></span>+
			        		</li>
		        		</ul>
        			</div> -->
					<div class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" ng-disabled="!compGoods.prices.length || compGoods.prices.length == 1" ng-class="{'rotate-hover': compGoods.prices.length > 1}">
							<i class="fa fa-angle-double-right show-prices-icon" ng-class="{'background-color-disabled' : !compGoods.prices.length || compGoods.prices.length == 1}"></i>
						</a>
						<table class="table table-bordered dropdown-menu table-min-width" role="menu" ng-if="compGoods.prices.length > 1">
							<tr class="tr-background-color">
								<td class="show-td-width">数量</td>
								<td class="show-td-width">单价￥(17%)</td>
								<td class="show-td-width">单价$</td>
							</tr>
							<tr ng-repeat="p in compGoods.prices">
								<td class="show-fisrt-td"><span ng-bind="p.start"></span>~<span ng-bind="p.end"></span></td>
								<td class="show-td-color"><span ng-bind="p.rMBPrice"></span></td>
								<td class="show-td-color"><span ng-bind="p.uSDPrice"></span></td>
							</tr>
						</table>
					</div>
				</div>
	         	<div ng-if="!compGoods.prices">/</div>
	        </td>			
			<td class="rmb-price">
	        	<div ng-if="compGoods.prices[0].rMBPrice">
					 <span ng-bind="compGoods.prices[0].rMBPrice | number:2"></span>
	        		<!--<a ng-click="showPrices(compGoods, 'RMB')"><i class="fa fa-angle-double-down"></i></a>-->
	        		<!--<div>
		        		<ul class="list-unstyled">
			        		<li ng-repeat="p in compGoods.prices">
	        					<span ng-bind="p.rMBPrice | number:2"></span>
			        		</li>
		        		</ul>
        			</div>-->
	        	</div>
	        	<div ng-if="!compGoods.prices">0</div>
	        </td>			
	        <td class="usd-price">
	        	<div ng-if="compGoods.prices[0].uSDPrice">
					 <span ng-bind="compGoods.prices[0].uSDPrice | number:2"></span>
	        		<!--<a ng-click="showPrices(compGoods, 'USD')"><i class="fa fa-angle-double-down"></i></a>-->
	        		<!--<div>
		        		<ul class="list-unstyled">
			        		<li ng-repeat="p in compGoods.prices">
	        					<span ng-bind="p.uSDPrice | number:2"></span>
			        		</li>
		        		</ul>
        			</div>-->
	        	</div>
	        	<div ng-if="!compGoods.prices">0</div>
	        </td>
			<td class="min-pack-qty">
				<div ng-if="compGoods.batchCode" ng-bind="compGoods.minPackQty"></div>
				<div ng-if="!compGoods.batchCode">0</div>
			</td>
			<td>
				<div ng-if="compGoods.batchCode" ng-bind="compGoods.produceDate"></div>
				<div ng-if="!compGoods.batchCode">0</div>
			</td>
			<td>
				<div ng-if="compGoods.batchCode" class="delivery-time">
					<div ng-if="compGoods.prices[0].uSDPrice">
						<span ng-bind="compGoods.b2cMinDelivery"></span>-<span ng-bind="compGoods.b2cMaxDelivery"></span>
					</div>
					<div ng-if="!compGoods.prices[0].uSDPrice"><br></div>
                    <div class="mainland-delivery" ng-if="compGoods.prices[0].rMBPrice">
                        <span ng-bind="compGoods.b2cMinDelivery"></span>-<span ng-bind="compGoods.b2cMaxDelivery"></span>
                    </div>
					<div ng-if="!compGoods.prices[0].rMBPrice"><br></div>
				</div>
				<div ng-if="!compGoods.batchCode">0</div>
			</td>
			<td class="original">
				<div ng-if="compGoods.batchCode">
	        		<div ng-if="compGoods.original == 1311">现货</div>
	        		<div ng-if="compGoods.original == 1312">呆滞库存</div>
	        		<!-- <div ng-if="compGoods.original == 1313"><span class="label label-default">废料</span></div> -->
	        	</div>
	        	<div ng-if="!compGoods.batchCode">/</div>
			</td>
			<td class="packaging">
				<div ng-if="compGoods.batchCode" ng-bind="compGoods.packaging || '托盘'"></div>
				<div ng-if="!compGoods.batchCode">/</div>
			</td>

			<td>
				<div ng-if="compGoods.batchCode" ng-bind="compGoods.updateDate | date: 'yyyy-MM-dd'"></div>
				<div ng-if="!compGoods.batchCode">0</div>	
			</td>
			<td>
				<div>
					<!-- 周总需要暂时去掉 -->
					<!--href="http://wpa.qq.com/msgrd?v=3&uin=3432892085&site=www.ubtoc.com&menu=yes"   -->
					<a target="_blank" ng-disabled="true">
						<img src="static/img/product/consult-disabled.png" alt="暂时不提供咨询功能" title="咨询">
					</a>
				</div>
			</td>
			<td>
				<div ng-if="compGoods.reserve" ng-click="addToCart(compGoods, 'true')" >
					<img alt="立即购买" src="static/img/product/buy.png">
				</div>		
				<div ng-if="!compGoods.reserve" ng-click="addToCart(compGoods, 'true')" >
					<img alt="立即购买" src="static/img/product/cannot-buy.png">
				</div>			
			</td>
			<td>
				<div ng-if="compGoods.reserve">
					<div ng-if="!flag[compGoods.batchCode]" ng-click="addToCart(compGoods,false)">
						<img title="加入购物车" alt="加入购物车" src="static/img/product/add-to-cart.png">
					</div>
					<div ng-if="flag[compGoods.batchCode]" ng-click="deleteFromCart(compGoods.batchCode)">
						<img title="撤销产品" alt="撤销产品" src="static/img/product/delete-from-cart.png">
					</div>
				</div>
				<div ng-if="!compGoods.reserve" ng-click="addToCart(compGoods,false)">
					<img alt="加入购物车" src="static/img/product/cannot-add-to-cart.png">
				</div>			
			</td>
		</tr>
		<tr class="no-reserve-row" ng-if="!$data.length">
			<td colspan="17" >
				<div><i class="fa fa-smile-o fa-lg"></i> 当前没有库存，请耐心等待！</div>
			</td>
		</tr>
	</tbody>
</table>