<style>
	#site-nav {
		background-color: #474443;
		height: 36px;
	}
	#site-nav>ul {
		list-style: none;
		width: 1190px;
		margin: auto;
		padding: 0;
		text-align: right;
		height: 100%;
	}
	#site-nav>ul>li {
		vertical-align: middle;
		font-size: 12px;
		display: inline-block;
		/*line-height: 36px;*/
	}
	#site-nav ul li.uas-cloud {
		float: left;
		line-height: 36px;
	}

	#site-nav ul li.uas-cloud a span {
		margin-left: 0.5em;
		vertical-align: middle;
	}

	#site-nav>ul>li>a, #site-nav>ul>li>span {
		color: rgb(230, 230, 230);
		text-decoration: none;
		display: inline-block;
		line-height: 36px;
		padding: 0 1em;
	}

	#site-nav .dropdown {
		position: relative;
	}

	#site-nav .dropdown .dropdown-menu {
		display: none;
		margin: 0;
		padding: 1em;
		border-radius: 0;
		background: #ffffff;
		border: 1px solid #999999;
		border-top: none;
		font-size: 12px;
		z-index: 10;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	#site-nav .dropdown:hover .dropdown-toggle {
		border: 1px solid #999999;
		border-bottom: none;
		background: #ffffff;
		color: #333333;
		z-index:11;
	}
	#site-nav .dropdown:hover .dropdown-menu {
		display: block;
	}
	.unstyled a:hover,.dropdown-menu a:hover{
		color: #d32526;
		text-decoration: underline;
	}
</style>
<nav id="site-nav">
	<ul class="ghost-center" ng-controller="AuthenticationCtrl">
		<li class="uas-cloud">
			<a href="http://www.ubtob.com/">
				<img src="static/img/all/logo_uas.png"/>
				<span>进入优软云</span>
			</a>
		</li>
		<li class="uas-cloud" style="line-height: 38px;">
			<a href=".">商城首页</a>
		</li>
		<li ng-if="!userInfo"><a ng-click="signinModal()">登录</a></li>
		<li ng-if="!userInfo"><a href="http://account.ubtob.com/sso/register">注册</a></li>
		<li ng-if="userInfo" class="dropdown">
			<a class="dropdown-toggle" ><span ng-bind="userInfo.userName"></span> <i class="fa fa-angle-down"></i></a>
			<div class="dropdown-menu" style="top: 36px; left: 0; width: 220px;">
				<p>欢迎您，<span ng-bind="userInfo.userName"></span>
					<a href="javascript:void(0)"  class="pull-right" ng-click="logout()">退出</a></p>
				<p>
					<i class="fa fa-map-marker"></i> <span ng-bind="userInfo.enterprise.enName"></span>
					<a href="javascript:void(0)" class="pull-right" ng-if="userInfo.enterprises.length>1" ng-click="toggleSwitch()" ng-bind="switching?'取消':'切换'">切换</a>
				</p>
				<ul class="unstyled" ng-if="switching" style="-webkit-padding-start: 0;">
					<li ng-repeat="en in userInfo.enterprises" ng-if="!en.current" style="line-height: 30px;">
						<a ng-bind="en.enName" ng-click="switchto(en.uu)" href="javascript:void(0)" ></a>
					</li>
				</ul>
			</div>
		</li>
		<li ng-if="userInfo"><a href="user">买家中心</a></li>
		<li ng-if="userInfo"><a href="vendor">卖家中心</a></li>
		<li><a href="help">帮助中心</a></li>
		<li><a >服务电话:400-830-1818</a></li>
	</ul>
</nav>
