<style>
.result-box .result-content .point {
	margin-left: 3px;
    font-size: 13px;
    color: #015b84;
}
</style>
<div class="brand result-box">
	<div class="result-title text-muted">
		搜索"<span class="text-inverse" ng-bind="keyword"></span>"，下面是您可能要找的产品品牌，请选择您要查找的品牌查看详情。
	</div>
	<div class="result-content">
		<ul class="list-inline">
			<li ng-repeat="b in brandDatas.brands">
				<a href="product#/brand/{{b.uuid}}/" ng-bind="b.nameEn" ng-if="b.nameEn != b.nameCn"></a>
				<span class="point" ng-if="b.nameEn && b.nameCn && b.nameEn != b.nameCn"><b>·</b></span>
				<a href="product#/brand/{{b.uuid}}/" ng-bind="b.nameCn"></a>
			</li>
		</ul>
	</div>
</div>