<style>
	.no-record {
		font-size: 16px;
		color: #999;
		text-align: center;
		line-height: 200px;
	}
	.no-record em{
		font-size: 16px;
		color: #d32526;
		font-style: inherit;
		margin: 0 5px;
	}
	.no-record i{
		margin-right: 5px;
	}
	#searchResult{
		min-height: inherit;
	}
	#searchResult .selector .sl-wrap .sl-value ul{
		height: 60px;
		overflow: hidden;
	}
	#searchResult .selector .sl-wrap .sl-value ul.open{
		height: auto;
	}
	#searchResult .selector .sl-wrap .sl-ext a{
		color: #333;
	}
	#searchResult .selector .sl-wrap .sl-ext a:hover{
		color: #5078cb;
	}
	#searchResult .selector .sl-wrap .sl-ext{
		top: 5px;
	}
	#searchResult .selector .sl-wrap .sl-ext{
		width: 40px;
	}
	#searchResult .selector .sl-wrap .sl-value{
		margin-right: 50px;
	}
	.result-head{
		width: 100%;
		margin: 0 auto;
		height: 40px;
		line-height: 40px;
		font-size: 14px;
	}
	.result-head span{
		font-size: 14px;
		color: #5078cb;
	}
	#main .container{
		width: 1190px;
	}
    #searchResult .selector .sl-wrap .sl-value ul li{
        width: 10%;
        float: left;
        margin-right: 10px;
    }
    #searchResult .selector .sl-wrap .sl-value ul li a{
        width: 100%;
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
</style>
<div class="result-head">
	您输入"<span class="text-inverse" ng-bind="keyword"></span>"，现为您搜索到：产品<span class="text-num" ng-bind="total | number"></span><span ng-if="!total" class="text-num">0</span>个<!--；企业<span>500</span>家。-->
</div>
<div class="result-box">
	<!--<div class="result-title text-muted">
		搜索"<span class="text-inverse" ng-bind="keyword"></span>"，为您找到
		<span class="text-num" ng-bind="total | number"></span><span ng-if="!total" class="text-num">0</span> 个相关产品：
	</div>-->
	<!--<div class="no-record" ng-if="!total"><i class="fa fa-smile-o fa-lg"></i>很抱歉，我们没有找到相关的产品型号！</div>-->
	<div class="selector" ng-if="productTableParams.total()" style="border: #e8e8e8 1px solid;border-bottom: none;">
		<div class="sl-wrap">
			<div class="sl-key f14">类目：</div>
			<div class="sl-value">
                <span ng-repeat="ck in componentKinds" >
                    <div  ng-if="contains(filter.kind,ck.ki_id)" class="sl-filter" ng-click="selectKind(ck,false)">
                        <a class="text-num" ng-bind="ck.ki_name_cn"></a>
                        <span><i class="fa fa-close"></i></span>
                    </div>
                </span>
				<ul class="list-inline"  ng-class="{'open': $open}">
                    <li><a class="f14" ng-click="selectKind()" >全部</a></li>
					<li ng-repeat="ck in componentKinds">
						<a  ng-if="!contains(filter.kind,ck.ki_id)" ng-click="selectKind(ck,true)" ng-bind="ck.ki_name_cn" class="f14"></a>
					</li>
				</ul>
			</div>
			<div class="sl-clear"></div>
			<div class="sl-ext" >
				<a ng-click="$open=!$open" ng-show="componentKinds.length > 17">
					<span ng-bind="$open ? '收起' : '更多'"></span>
					<i class="fa fa-angle-up" ng-if="$open"></i>
					<i class="fa fa-angle-down" ng-if="!$open"></i>
				</a>
			</div>
		</div>
		<div class="sl-wrap">
			<div class="sl-key f14">品牌：</div>
			<div class="sl-value">

                <span ng-repeat="cb in componentBrands" >
                    <div  ng-if="contains(filter.brand,cb.br_id)" class="sl-filter" ng-click="selectBrand(cb,false)">
                        <a class="text-num" ng-bind="cb.br_name_cn"></a>
                        <span><i class="fa fa-close"></i></span>
                    </div>
                </span>
                <ul class="list-inline"  ng-class="{'open': $open02}">
                    <li><a class="f14" ng-click="selectBrand()" >全部</a></li>
                    <li ng-repeat="cb in componentBrands">
                        <a  ng-if="!contains(filter.brand,cb.br_id)" ng-click="selectBrand(cb,true)" ng-bind="cb.br_name_cn" class="f14"></a>
                    </li>
                </ul>
			</div>
			<div class="sl-clear"></div>
			<div class="sl-ext">
				<a ng-click="$open02=!$open02" ng-show="componentBrands.length > 17">
					<span ng-bind="$open02 ? '收起' : '更多'"></span>
					<i class="fa fa-angle-up" ng-if="$open02"></i>
					<i class="fa fa-angle-down" ng-if="!$open02"></i>
				</a>
			</div>
		</div>
		<div class="sl-wrap" ng-if="componentStoreType.length" style="height: 40px">
			<div class="sl-key f14">货源：</div>
            <div class="sl-value">
             <ul class="list-inline" >
                <li><a class="f14" ng-click="selectStoreType()" >全部</a></li>
                <li ng-repeat="cs in componentStoreType">
                    <a  ng-if="!contains(filter.storeType,cs.store_type)" ng-click="selectStoreType(cs,true)" ng-bind="cs.store_type_name" class="f14"></a>
                    <div  ng-if="contains(filter.storeType,cs.store_type)" class="sl-filter" ng-click="selectStoreType(cs,false)">
                        <a class="text-num" ng-bind="cs.store_type_name"></a>
                        <span><i class="fa fa-close"></i></span>
                    </div>
                </li>
                 <li ng-if="!contains(componentStoreTypeTemp,'原厂')">
                     <div class="f14" style="color: #999;">原厂</div>
                 </li>
                 <li ng-if="!contains(componentStoreTypeTemp,'经销')">
                     <div class="f14" style="color: #999;">经销</div>
                 </li>
                 <li ng-if="!contains(componentStoreTypeTemp,'代理')">
                     <div class="f14" style="color: #999;">代理</div>
                 </li>
                 <li ng-if="!contains(componentStoreTypeTemp,'寄售')">
                     <div class="f14" style="color: #999;">寄售</div>
                 </li>
             </ul>
            </div>

		</div>
		<div class="sl-wrap" ng-if="componentCrnameTemp.length" style="height: 40px">
			<div class="sl-key f14">仓库：</div>
			<div class="sl-value">
                <ul class="list-inline"  >
                    <li><a class="f14" ng-click="selectCrname()" >全部</a></li>
                    <li ng-repeat="cr in componentCrnameTemp">
                        <a  ng-if="!contains(filterTemp,cr.cr_name)" ng-click="selectCrname(cr,true)" ng-bind="cr.cr_ar_name" class="f14"></a>
                        <div  ng-if="contains(filterTemp,cr.cr_name)" class="sl-filter" ng-click="selectCrname(cr,false)">
                            <a class="text-num" ng-bind="cr.cr_ar_name"></a>
                            <span><i class="fa fa-close"></i></span>
                        </div>
                    </li>
                </ul>
			</div>
		</div>
        <div class="sl-wrap" ng-if="componentCrnameTemp.length" style="height: 40px">
            <div class="sl-key f14">货币：</div>

            <div class="sl-value">
                <ul class="list-inline" >
                    <li><a class="f14" ng-click="selectCrname()"  class="f14">全部</a></li>
                    <li ng-repeat="cr in componentCrnameTemp">
                        <a  ng-if="!contains(filterTemp,cr.cr_name)" ng-click="selectCrname(cr,true)" ng-bind="cr.cr_cn_name" class="f14"></a>
                        <div  ng-if="contains(filterTemp,cr.cr_name)" class="sl-filter" ng-click="selectCrname(cr,false)">
                            <a class="text-num" ng-bind="cr.cr_cn_name"></a>
                            <span><i class="fa fa-close"></i></span>
                        </div>
                    </li>
                </ul>
            </div>
            <!--<div class="sl-clear"></div>-->
            <!--<div class="sl-ext">-->
                <!--<a ng-click="$open05=!$open05">-->
                    <!--<span ng-bind="$open05 ? '收起' : '更多'"></span>-->
                    <!--<i class="fa fa-angle-up" ng-if="$open05"></i>-->
                    <!--<i class="fa fa-angle-down" ng-if="!$open05"></i>-->
                <!--</a>-->
            <!--</div>-->
        </div>
		<!--<div class="sl-wrap">
			<div class="sl-key f14">货币：</div>
			<div class="sl-value">
				<ul class="list-inline" style="height: 30px;">
					<li>
						<a class="f14">全选</a>
					</li>
					<li>
						<a class="f14">人民币</a>
					</li>
					<li>
						<a class="f14">美金</a>
					</li>
				</ul>
			</div>
			<div class="sl-clear"></div>
		</div>-->
	</div>
	<div ng-include src="'static/view/common/componentsGoodsCommon.html'"></div>
	<div id="notFound" ng-if="componentDatas.total == 0">
		<div>很抱歉，我们没有找到相关的产品型号！</div>
		<div>
			您可以选择 <a href="product#/home">按类目查找产品</a> 或 <a href="product#/brandList">按品牌查找产品</a>。
		</div>
	</div>
</div>