<style>
    .row {
        margin-bottom: 10px;
    }
    .btn-select{
        min-height: 80px;
        width:88px;
        list-style: none;
        text-align: left;
        border:1px solid #2fa4e7;
        float: left;
        background: #fff;
    }
    .btn-select li{
        padding-left:5px;
        line-height: 22px;
        color:#000;
    }
    .btn-select li:hover{
        background: #2fa4e7;
        color:#fff;
        cursor:pointer;
    }

    .mobile-select{
        position:absolute;
        top:29px;
        z-index:1000;
        width:550px;
        min-height:210px;
        border:1px solid #2fa4e7;
        padding:10px 0;
        background: #fff
    }
    .mobile-select>ul{
        display:inline-flex;
        justify-content:space-around;
        list-style: none;
        padding:5px 10px;
        background: #e9e9e9;
        width:100%;
    }
    .mobile-select>ul>li{
        padding:0 1px;
        height:13px;
        line-height: 13px;
    }
    .mobile-select>ul>li>a{
        color:#666;
    }
    .mobile-select>ul>li:hover>a{
        color:#2fa4e7;
        text-decoration: none;
    }
    .mobile-select .pagination>li>a{
        padding:3px 8px;
    }
    .mobile-select .ng-table-pagination .page-number {
        height: 24px!important;
    }
    .mobile-select .ng-table-pager a.page-a {
        color: #fff;
        border-color: #4574e8;
        font-size: 12px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        text-decoration: none;
        height: 24px!important;
        display: inline-block;
        width: 30px;
        padding: 0;
        text-align: center;
        line-height: 24px;
    }
    .mobile-select .ng-table-pager input.page-number {
        width: 28px;
        height: 30px;
        padding: 0!important;
        line-height: 28px;
    }
    .mobile-select .ng-table-pager {
        margin-right: 20px!important;
        background: #fff;
    }

</style>

<div class="box-center">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <p style="margin-top: 8px; font-weight: bold;width:126px;">
                    全部共计：<span class="totalNum ng-binding" style="color:#2fa4e7">{{$$map.totalElements}}条</span>
                </p>
            </div>
            <div class=" col-sm-5">
                <div class="input-group">
                    <input type="search" class="form-control ng-pristine ng-untouched ng-valid" ng-model="keyword" ng-search="onSearch()" placeholder="输入标准库品牌名称/企业名">
                    <span class="input-group-btn">
					<button ng-click="onSearch()" class="btn btn-primary" type="button">搜索</button>
				</span>
                </div>
            </div>
            <div class="col-sm-5">
                <p style="margin-top: 8px; font-weight: bold" ng-if="$$map.totalElements == 0">您输入的内容暂无匹配结果，请重新输入</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-11 text-right">
                <div class="more">
                    <form class="form-inline ng-pristine ng-invalid ng-invalid-required ng-valid-date ng-valid-date-disabled">
                        <div class="form-group" style="margin-right:20px">
                            <label style="color:#2fa4e7">企业类型：</label>
                            <div class="btn-group btn-menu" style="position:relative">
                                <input type="text" ng-model="typeCn" ng-click="showType()" style="padding-left:3px;width:88px;background: url('static/img/product/cart/up-map.png')no-repeat 75px 6px;" readonly="readonly">
                                <ul class="btn-select" ng-if="typeFrame" style="position:absolute;top:22px;">
                                    <li ng-click="changeDateZone('ALL')">全部</li>
                                    <li ng-click="changeDateZone('ORIGINAL_FACTORY')">原厂商</li>
                                    <li ng-click="changeDateZone('AGENCY')">代理商</li>
                                    <li ng-click="changeDateZone('DISTRIBUTION')">经销商</li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group ">
                            <span style="color:#2fa4e7;font-weight: bold">操作日期：</span>
                            <div class="form-group input-group input-group-xs input-trigger">
                                <input type="text" ng-model="startDate"
                                       class="form-control dateinput" placeholder="开始时间"
                                       readonly="readonly" datepicker-popup="yyyy-MM-dd HH-mm-ss"
                                       is-open="condition.startDateOpen" max-date="endDate" current-text="今天"
                                       clear-text="清除" close-text="关闭"
                                       datepicker-options="{formatDayTitle: 'yyyy年M月', formatMonth: 'M月', showWeeks: false}"
                                       ng-click="openDatePicker($event, condition, 'startDateOpen')"
                                       ng-change="onDateCondition()">
                                <span class="input-group-btn dateinput">
                                    <button type="button" class="btn btn-default dateinput"
                                        ng-click="openDatePicker($event, condition, 'startDateOpen')">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                            ——
                            <div class="form-group input-group input-group-xs input-trigger">
                                <input type="text" ng-model="endDate"
                                       class="form-control dateinput" placeholder="结束时间"
                                       readonly="readonly" datepicker-popup="yyyy-MM-dd HH-mm-ss"
                                       is-open="condition.endDateOpen" min-date="startDate" current-text="今天"
                                       clear-text="清除" close-text="关闭"
                                       datepicker-options="{formatDayTitle: 'yyyy年M月', formatMonth: 'M月', showWeeks: false}"
                                       ng-click="openDatePicker($event, condition, 'endDateOpen')"
                                       ng-change="onDateCondition()">
                                <span class="input-group-btn dateinput">
									<button type="button" class="btn btn-default dateinput"
                                            ng-click="openDatePicker($event, condition, 'endDateOpen')">
										<i class="fa fa-calendar"></i>
									</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-1">
                <button ng-click="exportExcel()" class="btn btn-primary" type="button">导出结果</button>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-1">
                <a ng-click="addOneMap()" class="btn btn-primary"><i class="fa fa-plus" style="color:#2fa4e7;border-radius:50%;background: #fff;display:inline-block;padding:0 2px;margin-right:4px;"></i>新增映射关系</a>
            </div>
        </div>

        <table class="table table-hover " ng-table="brandMapTableParams" id="table" style="table-layout: fixed">
            <thead>
            <tr style="background:#7bb4e1;color:#fff;">
                <th class="text-center" width="40">序号</th>
                <th class="text-center" width="270">企业名称</th>
                <th class="text-center" width="100">类型</th>
                <th class="text-center" width="150">非标品牌中文名</th>
                <th class="text-center" width="150">非标品牌英文名</th>
                <th class="text-center" width="150">标准库品牌中文名</th>
                <th class="text-center" width="150">标准库品牌英文名</th>
                <th class="text-center" width="150">操作员</th>
                <th class="text-center" width="210">操作时间</th>
            </tr>
            </thead>
            <!-- ngRepeat: property in $data -->
            <tbody>
            <tr class="text-center" ng-if="addFrame">
                <td></td>
                <td class="tdcenter">
                    <div style="position:relative;display: inline-flex;align-items: center">
                        <input type="text" ng-click="showStoreFrame()" style="width:248px;height:29px;background:url('static/img/product/cart/up-map.png')no-repeat 230px 10px;padding-right:20px;" ng-model="brandMap.enName" readonly="readonly">
                        <div class="mobile-select" ng-if="showStore">
                            <form style="display: inline-flex; align-items:center;padding-bottom:10px;">
                                <span style="margin-left:2px;margin-right:2px;color:#2fa4e7;font-weight: bold">类型选择</span>
                                <label class="radio-inline" ng-click="chooseTypeInStore('ORIGINAL_FACTORY')">
                                    <input type="radio" name="type_radio">原厂商
                                </label>
                                <label class="radio-inline" ng-click="chooseTypeInStore('AGENCY')">
                                    <input type="radio" name="type_radio">代理商
                                </label>
                                <label class="radio-inline" ng-click="chooseTypeInStore('DISTRIBUTION')">
                                    <input type="radio" name="type_radio">经销商
                                </label>
                                <div style="display: inline-flex;align-items: center;margin-left:5px;width:170px;height:21px;">
                                    <input type="search" style="padding:0 20px 0 3px;" ng-model="wordInStore" ng-search="reloadStoreData()" ng-change="changeTextInStore(wordInStore)">
                                    <i class="fa fa-search" style="color:#fff;width:20px;height:20px;display:inline-block;margin-left:-20px;background: #2fa4e7;padding:3px;" ng-click="reloadStoreData()"></i>
                                </div>
                                <button ng-click="fitStoreInMap()" style="border:1px solid #2fa4e7;background: #2fa4e7;color:#fff;font-size: 12px;width:34px;height:24px;line-height: 24px;border-radius: 3px;margin:0 5px;">确定</button>
                                <button ng-click="cancelFitStore()" style="border:1px solid #2fa4e7;background: #2fa4e7;color:#fff;font-size: 12px;width:34px;height:24px;line-height: 24px;border-radius: 3px;margin:0 5px;">取消</button>
                            </form>
                            <table class="table table-striped table-condensed table-hover" ng-table="storeInfoTableParams">
                                <thead>
                                <tr style="background:#e9e9e9;">
                                    <th></th>
                                    <th>店铺型号</th>
                                    <th>公司名称</th>
                                    <th>类型</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="store in storeList" ng-click="fitStoreObj(store)">
                                        <td><input type="radio" value="store.id" ng-checked="store.id == storeInfo.id" name="item_radio"></td>
                                        <td><span ng-bind="store.id | storeId">00100021</span></td>
                                        <td><span ng-bind="store.storeName">深圳中国移动公司</span></td>
                                        <td><span ng-bind="convertType[store.type]">代码商</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </td>
                <td>{{convertType[brandMap.type]}}</td>
                <td><input type="text" style="width:115px;height:29px;" ng-model="brandMap.nameChildCn"/></td>
                <td><input type="text" style="width:115px;height:29px;" ng-model="brandMap.nameChildEn"/></td>
                <td class="tdcenter">
                    <div style="position:relative;display: inline-flex;align-items: center">
                        <input type="text" ng-click="showBrandFrame()" style="width:96px;height:29px;background:url('static/img/product/cart/up-map.png')no-repeat 80px 10px;padding-right:20px;" ng-model="brandMap.nameStandardCn" readonly="readonly">
                        <div class="mobile-select" ng-if="showBrand">
                            <div style="margin-bottom:10px;display: inline-flex;align-items: center">
                                <input type="search" ng-model="wordInBrand" ng-search="searchBrand()" ng-change="changeTextInBrand(wordInBrand)" style="width:395px;height:20px;line-height:20px;padding:0 20px 0 10px;border:1px solid #2fa4e7;" placeholder="输入品牌中文/英文名称">
                                <i ng-click="searchBrand()" class="fa fa-search" style="color:#fff;width:20px;height:20px;display:inline-block;margin-left:-20px;background: #2fa4e7;padding:3px;"></i>
                                <button ng-click="fitBrandInMap()" style="border:1px solid #2fa4e7;background: #2fa4e7;color:#fff;font-size: 12px;width:34px;height:24px;line-height: 24px;border-radius: 3px;margin:0 5px 0 10px;">确定</button>
                                <button ng-click="cancelFitBrand()" style="border:1px solid #2fa4e7;background: #2fa4e7;color:#fff;font-size: 12px;width:34px;height:24px;line-height: 24px;border-radius: 3px;margin:0 5px;">取消</button>
                            </div>
                            <ul>
                                <li>字母索引：</li>
                                <li><a ng-click="clickChar('A')">A</a></li>
                                <li><a ng-click="clickChar('B')">B</a></li>
                                <li><a ng-click="clickChar('C')">C</a></li>
                                <li><a ng-click="clickChar('D')">D</a></li>
                                <li><a ng-click="clickChar('E')">E</a></li>
                                <li><a ng-click="clickChar('F')">F</a></li>
                                <li><a ng-click="clickChar('G')">G</a></li>
                                <li><a ng-click="clickChar('H')">H</a></li>
                                <li><a ng-click="clickChar('I')">I</a></li>
                                <li><a ng-click="clickChar('J')">J</a></li>
                                <li><a ng-click="clickChar('K')">K</a></li>
                                <li><a ng-click="clickChar('L')">L</a></li>
                                <li><a ng-click="clickChar('M')">M</a></li>
                                <li><a ng-click="clickChar('N')">N</a></li>
                                <li><a ng-click="clickChar('O')">O</a></li>
                                <li><a ng-click="clickChar('P')">P</a></li>
                                <li><a ng-click="clickChar('Q')">Q</a></li>
                                <li><a ng-click="clickChar('R')">R</a></li>
                                <li><a ng-click="clickChar('S')">S</a></li>
                                <li><a ng-click="clickChar('T')">T</a></li>
                                <li><a ng-click="clickChar('U')">U</a></li>
                                <li><a ng-click="clickChar('V')">V</a></li>
                                <li><a ng-click="clickChar('W')">W</a></li>
                                <li><a ng-click="clickChar('X')">X</a></li>
                                <li><a ng-click="clickChar('Y')">Y</a></li>
                                <li><a ng-click="clickChar('Z')">Z</a></li>
                                <li><a ng-click="clickChar('0~9')">0-9</a></li>
                            </ul>
                            <table class="table table-condensed" ng-table="brandInfoTableParams">
                                <tr ng-repeat="value in showList">
                                    <td ng-repeat="item in value" style="width:33%;padding-left:5px;text-align: left;">
                                        <label>
                                            <input type="radio" value="item.id" ng-checked="item.id == brandInfo.id" name="radio-type" ng-click="fitBrandObj(item)">
                                            <span style="width:110px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;display: inline-block;">{{item.nameEn}}/{{item.nameCn}}</span>
                                        </label>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </td>
                <td>{{brandMap.nameStandardEn}}</td>
                <td>
                    <button style="width:43px;color:#fff;background: #50b2eb;border:0;margin-right:20px;" ng-click="ensureAdd()">保存</button>
                    <button style="width:43px;color:#fff;background: #50b2eb;border:0;" ng-click="cancelAdd()">取消</button>
                </td>
            </tr >

            <tr class="text-center" ng-repeat="item in $data">
                <td class="tdcenter">
                    <div class="ng-binding" ng-bind="$index + 1"></div>
                </td>
                <td><span ng-bind="item.enName">深圳市华商龙商务互联科技有限公司</span></td>
                <td><span ng-bind="convertType[item.type]">代理商</span></td>
                <td><span ng-bind="item.nameChildCn">133牌子</span></td>
                <td><span ng-bind="item.nameChildEn">FADFSF</span></td>
                <td><span ng-bind="item.nameStandardCn">松下</span></td>
                <td><span ng-bind="item.nameStandardEn">panasonic</span></td>
                <td><span ng-bind="item.operateName">张三</span></td>
                <td><span ng-bind="item.operateTime | date : 'yyyy-MM-dd HH:mm:ss'">2017/10/26 15:15:15</span></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>