<div class="row-fluid sortable">
    <div class="box span12">
        <!--        <div class="box-header well" data-original-title>
                    <h2><i class="icon-user"></i>买家自动收货时间(小时)</h2>
                </div>-->
        <div class="box-header well">
            <div class="row margin-left-right-zero" style="margin-left: 10px">
                <i class="icon-user"></i> 下架公司所有产品
            </div>
        </div>
        <div class="box-content">
            <input ng-model="$$downGoods.eName" placeholder="输入公司全称" class="form-control" style="width:250px;display: inline-block">
            <button ng-click="comfirm()" class="btn btn-default">确定</button>
        </div>
    </div>
</div>