<style>
#propertyContrast .property-group {
	border : 1px, #eee, solid;
}

#propertyContrast .help-block{
	display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}
}
</style>

<div class="box f14">
	<div class="box-header well" data-original-title>
		<i class="icon-user"></i> 基本信息
	</div>
	<div class="box-content">
		<div class="fullscreen" style="padding: 10px;">
			<div class="row">
				<div class="form-group row">
					<label class="col-sm-2 text-right">来源:</label>
					<div class="col-sm-4">
						<span ng-bind="kindContrast.resource" ng-if="!kindContrast.basicChange"></span>
						<input type="text" class="form-control input-sm" ng-model="kindContrast.resource" ng-if="kindContrast.basicChange"/>
					</div>
					<button class="col-sm-offset-4 col-sm-1 btn btn-default btn-sm" ng-click="editBasic()" ng-if="!kindContrast.basicChange && kindContrast.inTask != 2">编辑</button>
					<button class="col-sm-offset-3 col-sm-1 btn btn-default btn-sm" ng-click="saveBasic()" ng-if="kindContrast.basicChange && kindContrast.inTask != 2">保存</button>
					<button class="col-sm-1 btn btn-default btn-sm" ng-click="returnBasic()" ng-if="kindContrast.basicChange && kindContrast.inTask != 2">撤销</button>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 text-right">商城品牌:</label>
					<div class="col-sm-4">
						<span ng-bind="kindContrast.b2cBrand.nameCn" ng-if="!kindContrast.basicChange"></span>
						<input type="text" class="form-control input-sm" ng-model="kindContrast.b2cBrand.nameCn" ng-if="kindContrast.basicChange && kindContrast.inTask != 2"/>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 text-right">目标类目:</label>
					<div class="col-sm-4">
						<span ng-bind="kindContrast.kindName" ng-if="!kindContrast.basicChange"></span>
						<input type="text" class="form-control input-sm" ng-model="kindContrast.kindName" ng-if="kindContrast.basicChange && kindContrast.inTask != 2"/>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 text-right">商城类目:</label>
					<div class="col-sm-4">
						<span ng-bind="kindContrast.b2cKind.nameCn" ng-if="!kindContrast.basicChange"></span>
						<input type="text" class="form-control input-sm" ng-model="kindContrast.b2cKind.nameCn" ng-if="kindContrast.basicChange && kindContrast.inTask != 2"/>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 text-right">来源网址:</label>
					<div class="col-sm-4">
						<a href="{{kindContrast.url}}" ng-bind="kindContrast.url" target="blank" ng-if="!kindContrast.basicChange"></a>
						<input type="text" class="form-control input-sm" ng-model="kindContrast.url" ng-if="kindContrast.basicChange && kindContrast.inTask != 2"/>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 text-right">状态:</label>
					<div class="col-sm-4">
					<span ng-show="kindContrast.inTask==0">待发起</span>
					<span ng-show="kindContrast.inTask==1">已提交</span>
					<span ng-show="kindContrast.inTask==2">进行中</span>
					<span ng-show="kindContrast.inTask==3">已结案</span>
					<span ng-show="kindContrast.inTask==-1">异常</span>
					</div>
				</div>
				<div class="form-group row" ng-show="kindContrast.inTask!=0">
					<label class="col-sm-2 text-right">关联任务:</label>
					<div class="col-sm-3">
						<a href="#/audit/crawlTask/{{kindContrast.taskid}}/componentList" ng-bind="kindContrast.taskid" target="blank"></a>&nbsp;&nbsp;
						<a ng-show="!isUpdate && kindContrast.inTask != 2" ng-click="triggerUpload()" title="重新上传数据"><i class="fa fa-reply" aria-hidden="true"></i></a>
					</div>
				</div>
				<div class="form-group row" ng-show="isUpdate && kindContrast.inTask != 2 && kindContrast.inTask!=0">
					<label class="col-sm-2 text-right">请上传Excel文件:</label>
					<div class="col-sm-4">
						<input required ng-file-select accept="*.xls,*.xlsx"
							ng-model="myFiles" type="file" ng-multiple="false"
							class="form-control input-sm" id="xlsFile" name="xlsFile"
							placeholder="请上传.xls或.xlsx文件" />
					</div>
					<div class="col-sm-4">
						<button ng-click="upload()" class="btn btn-success btn-sm">
							<i class="fa fa-upload"></i>确认上传数据 
						</button>
					</div>
				</div>
				<div class="form-group row" ng-show="kindContrast.file">
					<label class="col-sm-2 text-right">上传文件名:</label>
					<div class="col-sm-6">
						<span ng-bind="kindContrast.file"></span>	
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="box f14" id="propertyContrast">
	<div class="box-header well" data-original-title>
		<i class="icon-user"></i> 参数对照
	</div>
	<div class="box-content">
		<div class="fullscreen" style="padding: 10px;">
			<div class="form-group">
				<div class="form-group property-group row" ng-repeat="p in kindContrast.properties | orderBy : 'detno'">
					<div class="col-sm-4">
						<label class="col-sm-5 text-right">商城标准参数：</label>
						<div class="col-sm-7">
							<span ng-bind="p.property.labelCn"></span>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group row">
							<span class="col-sm-5 text-right">目标参数：</span>
							<div class="col-sm-7">
								<span ng-bind="p.name" ng-if="!p.isChange"></span>
								<input type="text" class="form-control input-sm" ng-model="p.name" ng-if="p.isChange"/>
								<p ng-if="p.isChange" class="f12"><span class="help-block test-inverse">多个参数使用“，”分隔</span></p>
							</div>
						</div>
						<div class="form-group row">
							<span class="col-sm-5 text-right">对应商城单位：</span>
							<div class="col-sm-7">
								<span ng-bind="p.unit" ng-if="!p.isChange"></span>
								<input type="text" class="form-control input-sm" ng-model="p.unit" ng-if="p.isChange"/>
							</div>
						</div>
						<div class="form-group row">
							<span class="col-sm-5 text-right">备注：</span>
							<div class="col-sm-7">
								<span ng-bind="p.remark" ng-if="!p.isChange"></span>
								<input type="text" class="form-control input-sm" ng-model="p.remark" ng-if="p.isChange"/>
							</div>
						</div>
					</div>
					<div class="col-sm-offset-1 col-sm-1">
						<button class="btn btn-default btn-sm col-sm-offset-6 col-sm-6" title="编辑" ng-click="editProperty(p)" ng-if="!p.isChange && kindContrast.inTask != 2"><i class="fa fa-pencil-square-o"></i></button>
						<button class="btn btn-default btn-sm col-sm-6" title="撤销" ng-click="returnProperty(p)" ng-if="p.isChange && kindContrast.inTask != 2"><i class="fa fa-reply"></i></button>
						<button class="btn btn-default btn-sm col-sm-6" title="保存" ng-click="updateProperty(p)" ng-if="p.isChange && kindContrast.inTask != 2"><i class="fa fa-floppy-o"></i></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>