<div class="span12-fluid sortable">		
	<div class="box span12">
		<div class="box-header well">
			<h2><i class="icon-user"></i> 用户类目建议</h2>
		</div>
		<div class="box-content">
			<!-- ng-tableStart -->
			<div class="fullscreen" style="padding: 10px;overflow-y:auto;">
				<div class="span12">
					<div class="span6">
						<p style="margin-top: 8px; font-weight: bold;">
							共<span class="badge">{{kindAdviceTableParams.total()}}</span>条
						</p>
					</div>
				</div>
				</br>
				<table ng-table="kindAdviceTableParams" class="table table-bordered table-striped">
					<thead>
						<tr class="tr-default text-center">
							<th width="50">序号</th>
							<th width="80">建议人</th>
							<th width="180">创建时间</th>
							<th width="auto">建议内容</th>
							<th width="160">建议理由</th>
							<th width="120">建议状态</th>
							<th width="100">是否阅读</th>
							<th width="100">操作</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="kindAdvice in $data">
							<td>{{$index + 1}}</td>
							<td>
								<span ng-bind="kindAdvice.user.userName"></span>
							</td>
							<td>
								<span ng-bind="kindAdvice.date | date: 'yyyy-MM-dd HH:mm:ss'"></span>
							</td>
							<td>
								<span ng-bind="kindAdvice.schema" class="text-center"></span>
							</td>
							<td>
								<span class="text-center" ng-bind="kindAdvice.reason"></span>
							</td>
							<td>
								<span class="text-center" ng-bind="kindAdvice.status"></span>
							</td>
							<td>
								<span class="text-center" ng-bind="kindAdvice.read"></span>
							</td>
							<td>
								<button></button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>