<style>
#kindContrast .url {
	word-wrap:break-word; 
	word-break:break-all; 
	overflow: hidden;
}

#kindContrast .box-content .btn-sm {
	width: 70px;
	margin-bottom: 5px;
}

#kindContrast .box-content .search-input {
	margin-top: 10px
}

#kindContrast .box-content .more-search {
	margin-top: 25px
}
</style>

<div class="box" id="kindContrast">
	<div class="box-header well" data-original-title>
		<i class="icon-user"></i> 参数对应关系维护
	</div>
	<div class="box-content">
		<!-- ng-tableStart -->
		<div class="fullscreen" style="padding: 10px;">
			<div class="row">
				<div class="col-sm-1">
					共<span class="badge">{{kindContrastTableParams.total()}} </span>条
				</div>
				<div class="col-sm-5">
					<div class="btn-group" role="group" aria-label="...">
						<button type="button" class="btn btn-default" ng-class="{'btn-primary':active=='all'}" ng-click="setActive('all')">全部</button>
						<button type="button" class="btn btn-default" ng-class="{'btn-primary':active=='outTask'}" ng-click="setActive('outTask')">待发起</button>
						<button type="button" class="btn btn-default" ng-class="{'btn-primary':active=='inTask'}" ng-click="setActive('inTask')">已提交</button>
						<button type="button" class="btn btn-default" ng-class="{'btn-primary':active=='running'}" ng-click="setActive('running')">进行中</button>
						<button type="button" class="btn btn-default" ng-class="{'btn-primary':active=='concluded'}" ng-click="setActive('concluded')">已结案</button>
						<button type="button" class="btn btn-default" ng-class="{'btn-primary':active=='failed'}" ng-click="setActive('failed')">异常</button>
					</div>
				</div>
				<div class="col-sm-6 search-input row">
					<div class="col-sm-9 text-right">
						<div class="input-group">
							<input type="search" class="form-control ng-pristine ng-valid ng-touched" ng-model="resource" 
								ng-search="onSearch()" placeholder="按来源名搜索">
							<div class="input-group-btn">
								<button ng-click="onSearch()" class="btn btn-primary" type="button">搜索</button>
							</div>
						</div>
					</div>
					<div class="col-sm-3 f14 more-search text-right">
						<a ng-click="showMore()">
							<span ng-if="!searchMore">更多搜索</span>
							<i class="fa fa-angle-double-down" aria-hidden="true" ng-if="!searchMore"></i>
							<span ng-if="searchMore">收起搜索</span>
							<i class="fa fa-angle-double-up" aria-hidden="true" ng-if="searchMore"></i>
						</a>
					</div>
				</div>
				<div class="col-sm-3 search-input" ng-show="searchMore">
					<div class="input-group">
						<input type="search" class="form-control ng-pristine ng-valid ng-touched" ng-model="b2cBrand" 
							ng-search="onSearch()" placeholder="按商城品牌搜索">
						<div class="input-group-btn">
							<button ng-click="onSearch()" class="btn btn-primary" type="button">搜索</button>
						</div>
					</div>
				</div>
				<div class="col-sm-3 search-input" ng-show="searchMore">
					<div class="input-group">
						<input type="search" class="form-control ng-pristine ng-valid ng-touched" ng-model="kiName" 
							ng-search="onSearch()" placeholder="按官网类目搜索">
						<div class="input-group-btn">
							<button ng-click="onSearch()" class="btn btn-primary" type="button">搜索</button>
						</div>
					</div>
				</div>
				<div class="col-sm-3 search-input" ng-show="searchMore">
					<div class="input-group">
						<input type="search" class="form-control ng-pristine ng-valid ng-touched" ng-model="b2cKind" 
							ng-search="onSearch()" placeholder="按商城类目搜索">
						<div class="input-group-btn">
							<button ng-click="onSearch()" class="btn btn-primary" type="button">搜索</button>
						</div>
					</div>
				</div>
				<div class="col-sm-3 search-input" ng-show="searchMore">
					<div class="input-group">
						<input type="search" class="form-control ng-pristine ng-valid ng-touched" ng-model="creater" 
							ng-search="onSearch()" placeholder="按创建人搜索">
						<div class="input-group-btn">
							<button ng-click="onSearch()" class="btn btn-primary" type="button">搜索</button>
						</div>
					</div>
				</div>
			</div>
			<div class="text-right" style="padding: 10px;">
				<a target="_blank" ng-click="addContrast()" class="new-address font-size-12">
					<i class="fa fa-plus-square"></i>&nbsp;&nbsp;新增属性对应关系
				</a>
			</div>
			<table ng-table="kindContrastTableParams" class="table table-bordered table-striped" style="margin-top: 10px;">
				<thead>
					<tr>
						<th width="30">序号</th>
						<th width="100">来源</th>
						<th width="100">商城品牌</th>
						<th width="100">类目</th>
						<th width="100">商城类目</th>
						<th width="100">创建人</th>
						<th width="100">更新人</th>
						<th width="100">更新时间</th>
						<th width="150">网址</th>
						<th width="80">操作</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="contrast in $data">
						<td class="text-center">{{($index + 1)}}</td>
						<td ng-bind="contrast.resource">
							<span class="label label-success f12" ng-if="brand.isUpdate == 0">新增</span>
							<span class="label label-warning f12" ng-if="brand.isUpdate == 1">更新</span>
						</td>
						<td ng-bind="contrast.b2cBrand.nameCn"></td>
						<td ng-bind="contrast.kindName"></td>
						<td ng-bind="contrast.b2cKind.nameCn"></td>
						<td ng-bind="contrast.creater.userName"></td>
						<td ng-bind="contrast.updater.userName"></td>
						<td ng-bind="contrast.updateDate | date: 'yyyy-MM-dd HH:mm'"></td>
						<td  class="url"><a href="{{contrast.url}}" ng-bind="contrast.url" target="blank"></a></td>
						<td>
							<a href="#audit/kindContrast/{{contrast.id}}"><button type="button" class="btn btn-default btn-sm">查&nbsp;看</button></a>
							<button type="button" class="btn btn-default btn-sm" ng-click="createTask(contrast.id)" ng-if="contrast.inTask == 0">发起任务</button>
							<button type="button" class="btn btn-default btn-sm" ng-if="contrast.inTask == 1||contrast.inTask == 2"  disabled>任&nbsp;务&nbsp;中</button>
							<button type="button" class="btn btn-default btn-sm" ng-click="deleteContrast(contrast.id)" ng-disabled="contrast.inTask == 1||contrast.inTask == 2">删&nbsp;除</button>
						</td>
					</tr>
					<tr ng-if="$data.length == 0">
						<td colspan="10" class="text-center" style="line-height: 40px; font-size: 20px;"><i class="fa fa-smile-o fa-lg"></i> 当前没有对应的属性对照资料</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- ng-tableEnd -->
	</div>
</div><!--/span-->