<style>
.margin-bottom-10 {
	margin-bottom: 10px;
}
</style>
<div class="span12-fluid sortable">
	<div class="box span12">
		<div class="box-header well">
			<h2>
				<i class="icon-user"></i> 即将失效批次
			</h2>
		</div>
		<div class="box-content">
			<table class="table table-bordered table-striped">
				<tr>
					<th class="text-center">序号</th>
					<th class="text-center">批次号</th>
					<th class="text-center">器件型号</th>
					<th class="text-center">上架时间</th>
					<th class="text-center">上次更新时间</th>
					<th class="text-center">有效期</th>
					<th class="text-center">供应商名称</th>
					<th class="text-center">发布人姓名</th>
					<th class="text-center">联系电话</th>
					<th class="text-center">剩余有效天数</th>
				</tr>
				<tr class="text-center" ng-repeat="overtimeBatch in overtimeBatches">
					<td>{{$index+1}}</td>
					<td ng-bind="overtimeBatch.batchCode"></td>
					<td ng-bind="overtimeBatch.code"></td>
					<td>{{overtimeBatch.createdDate | date: "yyyy-MM-dd HH:mm"}}</td>
					<td>{{overtimeBatch.updateDate | date: "yyyy-MM-dd HH:mm"}}</td>
					<td>{{overtimeBatch.availableDays}}</td>
					<td ng-bind="overtimeBatch.enterpriseName"></td>
					<td ng-bind="overtimeBatch.publisherName"></td>
					<td ng-bind="overtimeBatch.publishPhone"></td>
					<td>{{overtimeBatch.restDays}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>