<!-- 类目管理页面，包含类目的增、删、改、查 -->
<div id="main">
	<div class="main-content">
		<div class="panel panel-default panel-shadow">
			<div class="panel-title">
				<h4>
					<span class="fa fa-fw fa-sitemap"></span> <span>选择您要编辑的类目</span>
				</h4>
			</div>
			<div class="panel-body">
				<div class="choose-body">
					<div class="choose-item">
						<ul class="list-unstyled">
							<li ng-repeat="k in kinds[0]" ng-class="{active: k.$active}">
								<div class="btn-group btn-group-xs setting">
									<a ng-if="!$first" class="btn btn-xs btn-default"
										ng-click="onUpClick(k, kinds[0][$index - 1], 0)"> <i
										class="fa fa-arrow-up fa-fw"></i>
									</a> <a ng-if="!$last" class="btn btn-xs btn-default"
										ng-click="onDownClick(k, kinds[0][$index + 1], 0)"> <i
										class="fa fa-arrow-down fa-fw"></i>
									</a> <a class="btn btn-xs btn-default" ng-click="onEditClick(k)">
										<i class="fa fa-pencil fa-fw"></i>
									</a> <a ng-if="k.isLeaf" class="btn btn-xs btn-default"
										ng-click="onDeleteClick(k, 0)"> <i
										class="fa fa-trash fa-fw"></i>
									</a>
								</div> <a ng-click="onItemClick(k, 0)">{{k.nameCn}} <span
									class="caret" ng-show="!k.isLeaf"></span>
							</a>
							</li>
							<li class="add" ng-click="onAddClick(k)"><i
								class="fa fa-plus"></i> 增加</li>
						</ul>
					</div>
					<div class="choose-item">
						<ul class="list-unstyled"
							ng-show="kinds[1].length>0 || activeDeep==1">
							<li ng-repeat="k in kinds[1]" ng-class="{active: k.$active}">
								<div class="btn-group btn-group-xs setting">
									<a ng-if="!$first" class="btn btn-xs btn-default"
										ng-click="onUpClick(k, kinds[1][$index - 1], 1)"> <i
										class="fa fa-arrow-up fa-fw"></i>
									</a> <a ng-if="!$last" class="btn btn-xs btn-default"
										ng-click="onDownClick(k, kinds[1][$index + 1], 1)"> <i
										class="fa fa-arrow-down fa-fw"></i>
									</a> <a class="btn btn-xs btn-default" ng-click="onEditClick(k)">
										<i class="fa fa-pencil fa-fw"></i>
									</a> <a ng-if="k.isLeaf" class="btn btn-xs btn-default"
										ng-click="onDeleteClick(k, 1)"> <i
										class="fa fa-trash fa-fw"></i>
									</a>
								</div> <a ng-click="onItemClick(k, 1)">{{k.nameCn}} <span
									class="caret" ng-show="!k.isLeaf"></span>
							</a>
							</li>
							<li class="add" ng-click="onAddClick(1)"><i
								class="fa fa-plus"></i> 增加</li>
						</ul>
					</div>
					<div class="choose-item">
						<ul class="list-unstyled"
							ng-show="kinds[2].length>0 || activeDeep==2">
							<li ng-repeat="k in kinds[2]" ng-class="{active: k.$active}">
								<div class="btn-group btn-group-xs setting">
									<a ng-if="!$first" class="btn btn-xs btn-default"
										ng-click="onUpClick(k, kinds[2][$index - 1], 2)"> <i
										class="fa fa-arrow-up fa-fw"></i>
									</a> <a ng-if="!$last" class="btn btn-xs btn-default"
										ng-click="onDownClick(k, kinds[2][$index + 1], 2)"> <i
										class="fa fa-arrow-down fa-fw"></i>
									</a> <a class="btn btn-xs btn-default" ng-click="onEditClick(k)">
										<i class="fa fa-pencil fa-fw"></i>
									</a> <a ng-if="k.isLeaf" class="btn btn-xs btn-default"
										ng-click="onDeleteClick(k, 2)"> <i
										class="fa fa-trash fa-fw"></i>
									</a>
								</div> <a ng-click="onItemClick(k, 2)">{{k.nameCn}} <span
									class="caret" ng-show="!k.isLeaf"></span>
							</a>
							</li>
							<li class="add" ng-click="onAddClick(2)"><i
								class="fa fa-plus"></i> 增加</li>
						</ul>
					</div>
					<!-- <div class="choose-item">
						<ul class="list-unstyled"
							ng-show="kinds[3].length>0 || activeDeep==3">
							<li ng-repeat="k in kinds[3]" ng-class="{active: k.$active}">
								<div class="btn-group btn-group-xs setting">
									<a ng-if="!$first" class="btn btn-xs btn-default"
										ng-click="onUpClick(k, kinds[3][$index - 1], 3)"> <i
										class="fa fa-arrow-up fa-fw"></i>
									</a> <a ng-if="!$last" class="btn btn-xs btn-default"
										ng-click="onDownClick(k, kinds[3][$index + 1], 3)"> <i
										class="fa fa-arrow-down fa-fw"></i>
									</a> <a class="btn btn-xs btn-default" ng-click="onEditClick(k)">
										<i class="fa fa-pencil fa-fw"></i>
									</a> <a ng-if="k.isLeaf" class="btn btn-xs btn-default"
										ng-click="onDeleteClick(k, 0)"> <i
										class="fa fa-trash fa-fw"></i>
									</a>
								</div> <a ng-click="onItemClick(k, 3)">{{k.nameCn}} <span
									class="caret" ng-show="!k.isLeaf"></span>
							</a>
							</li>
							<li class="add" ng-click="onAddClick(3)"><i
								class="fa fa-plus"></i> 增加</li>
						</ul>
					</div> -->
				</div>
			</div>
		</div>
	</div>
</div>