<!-- 拖拽样式 -->
<style>
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.drag-object .newProperty {
	padding: 10px
}
input[type=checkbox], input[type=radio] {
	margin: 2px 0 0;
	margin-top: 1px\9;
	line-height: normal;
}

[ng-drag], [ng-drag-clone] {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

[ng-drag-clone], [ng-drag], [ng-drag].dragging {
	cursor: move;
}

[ng-drag-clone] {
	margin: 0;
}

[ng-drag].drag-over {
	padding: 5px;
	background-color: #f0f0f0 !important;
	border: solid 1px #ff9831 !important;
}

[ng-drag].dragging {
	opacity: 0.8;
	width: 380px;
}

[ng-drop].drag-enter {
	border: dashed 3px #ff9831 !important;
}

[ng-drop] div {
	position: relative;
	z-index: 2;
}

.buttons {
	padding: 20px 0;
	border-top: solid 1px #dddddd;
}

.drag-object .values {
	font-size: 14px;
    line-height: 22px;
    top: 18px;
    left: 200px;
    width: 270px;
    position: absolute;
    padding: 20px 30px 20px 30px;
    background-color: #fff1d0;
    z-index: 20;
}

.drag-object .values .font-color {
	color: #888;
}

.drag-object .values .labelCn {
	float: left;
	font-weight: bolder;
}
</style>

<div class="panel panel-default panel-shadow">
	<div class="panel-title">
		<h4>
			<span class="text-muted"><i class="fa fa-star"></i> 您当前选择的类目：</span>
			<span ng-repeat="a in $parent.actives">{{a.nameCn}} <span
				ng-if=" ! $last">&nbsp;>&nbsp;</span>
			</span> <a ui-sref="kindProperty.step1" class="btn btn-default btn-xs"><i
				class="fa fa-refresh"></i> 重新选择</a>
		</h4>
	</div>
	<div class="panel-body design clearfix">
		<!-- 放置编辑属性 Start -->
		<div class="drop-container">
			<div class="header">
				<i class="fa fa-gear fa-fw"></i>&nbsp;编辑产品属性
			</div>

			<form class="form drag-object">
				<div ng-repeat="drop in kind.properties | orderBy : 'detno'"
					class="drop-unit text-muted">
					<div class="form-group" ng-drop="true"
						ng-drop-success="onDropComplete2($data,$event,drop)"
						ng-drop-touch="onDropEnter($data,$event)" ng-drag="true"
						ng-drag-data="drop" ng-mouseenter="onValues(drop)" ng-mouseleave="offValues(drop)">
						<label class="control-label">
							<div>
								<span class="text-required">*</span> {{drop.property.labelCn}}
								<span ng-if="!drop.propertyId" class="text-center">请在右边搜索后，选取你想要的属性拖到此处</span>
							</div>
							<!-- <p ng-show="drop.labelEn">{{drop.property.labelEn}}：</p> -->
						</label>
						<div dynamic-input="drop" edit-property="true"></div>
					</div>
					<div class="operator">
						<a ng-click="onDropDelete(drop)" title="删除组件"><i
							class="fa fa-times"></i></a>
					</div>
					<div ng-show="drop.isValue" class="values" ng-mouseenter="onValues(drop)" ng-mouseleave="offValues(drop)">
						<div class="text-right">
							<span class="labelCn" ng-bind="drop.property.labelCn"></span>
							<a ng-click="changeValue(drop)" title="编辑属性值"><i class="font-color fa fa-cog"></i></a>
						</div>
						<div class="form-group row">
							<span class="col-sm-5 text-right">属性类型：</span>
							<span ng-bind="drop.type"></span>
							<span ng-if="drop.type == 'F'">(范围型)</span>
							<span ng-if="drop.type == 'N'">(数值型)</span>
							<span ng-if="drop.type == 'S'">(选项型)</span>
							<span ng-if="drop.type == 'A'">(文本型)</span>
						</div>
						<div class="form-group row" ng-if="drop.type == 'N' || drop.type == 'F'">
							<span class="col-sm-5 text-right">基础单位：</span>
							<span class="col-sm-7" ng-bind="drop.unit"></span>
						</div>
						<div class="form-group row" ng-if="drop.type == 'N' || drop.type == 'F'">
							<span class="col-sm-5 text-right">全部单位：</span>
							<div class="col-sm-7">
								<span ng-repeat="unit in drop.multiUnits">
									<span class="col-sm-7" ng-bind="unit.unit"></span>
								</span>
							</div>
						</div>
						<div class="form-group row"  ng-if="drop.type == 'S'">
							<span class="col-sm-5 text-right">可选值：</span>
							<div class="col-sm-7">
								<span ng-repeat="option in drop.options">
									<span class="col-sm-7" ng-bind="option.option"></span>
								</span>
							</div>
						</div>
					</div>
					
					<!-- <div html-popup title="{{drop.labelCn}}" placement="right"
						animation="true" is-open="drop.$editing">
						<form>
							<div class="form-group">
								<div class="col-sm-6">
									<label>属性名</label> <input type="text"
										class="form-control input-sm" ng-model="drop.labelCn">
								</div>
								<div class="col-sm-6">
									<label>PropertyName</label> <input type="text"
										class="form-control input-sm" ng-model="drop.labelEn">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-6">
									<label>属性值</label> <input type="text"
										class="form-control input-sm" ng-model="drop.placeholder">
								</div>
								<div class="col-sm-6">
									<a class="pull-right" class="fa fa-question-circle"></i></a> <label>字符长度限制</label>
									<input disabled="disabled" type="text"
										class="form-control input-sm" ng-model="drop.data_length">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<label>帮助信息</label> <input type="text"
										class="form-control input-sm" ng-model="drop.helpinfo">
								</div>
							</div>
							<div class="checkbox">
								drop.required
								<label> <input type="checkbox" ng-model="drop.required">
									不允许为空
								</label>
							</div>
							<hr>
							<button ng-click="drop.$editing=false"
								class="btn btn-sm btn-info">确定</button>
							<button ng-click="drop.$editing=false"
								class="btn btn-sm btn-default">关闭</button>
						</form>
					</div> -->
				</div>
				<div ng-if="kind.properties.length < 1" class="text-center newProperty">
					<button class="btn btn-primary" ng-click="newProperty()">新增属性</button>
				</div>
			</form>
			<!-- <div class="drop-add text-muted" ng-drop="true"
				ng-drop-success="onDropComplete1($data,$event)"
				ng-drop-touch="onDropEnter($data, $event)">
				<p class="text-center">
					<a ng-click="addNewSubfix()"><i class="fa fa-plus-square fa-fw"></i>
						新增属性</a>
				</p>
			</div> -->
		</div>
		<!-- 放置编辑属性 End -->

		<!-- 拖动部分 Start -->
		<div class="drag-container">
			<div>
				<!-- drag-fixed -->
				<div class="header row">
					<div class="col-sm-5">
						<i class="fa fa-retweet fa-fw"></i>&nbsp;待拖动的属性
					</div>
					<div class="col-sm-offset-3 col-sm-4">
						<a ng-click="addProperty()"><i class="fa fa-plus"></i>添加属性</a>
					</div>
				</div>
				<div class="form-group form-group-sm has-feedback">
					<input type="text" ng-model="property.keyword"
						class="form-control input-sm ng-valid ng-touched ng-dirty ng-valid-parse"
						placeholder="输入要搜索的属性"> <span
						class="form-control-feedback text-simple"><i
						class="fa fa-search"></i></span>
				</div>
				<div style="height: 430px; overflow: auto">
					<!-- <div ng-repeat="pro in allProperties"> -->
					<div ng-repeat="pro in properties">
						<div class="form-group" ng-drag="true"
							ng-drag-data="{id: '{{ pro.id }}',required: true,'data_length':'150',type:'text',labelCn:'{{ pro.labelCn }}',labelEn:'{{ pro.labelEn }}'}">
							<label class="control-label">
								<div>
									<span class="text-required" ng-show="drop.required">*</span> <i
										ng-show="drop.primary" class="fa fa-star-o text-primary"></i>
									{{ pro.labelCn }}
								</div>
								<p>{{ pro.labelEn }}</p>
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 拖动部分 End -->
		<!-- 操作按钮 Start -->
		<div class="buttons text-center">
			<!-- <button class="btn btn-success" ng-click="save()">
				<i class="fa fa-save"></i> 保存类目描述属性
			</button> -->
			<button class="btn btn-info" ng-click="preview()">
				<i class="fa fa-eye"></i> 预览页面
			</button>
		</div>
		<!-- 操作按钮 End -->
	</div>
</div>