<style>
.margin-bottom-10 {
	margin-bottom: 10px;
}
</style>
<div class="sortable">
	<div class="box">
		<div class="box-header well">
			<i class="icon-user"></i> 批次有效期维护
		</div>
		<div class="box-content">
			<form name="validtimeForm">
				<div ng-repeat="valid in validtime"
					class="text-center f16 text-bold row-fluid">
					<div class="marginTop20 row">
						<span class="col-sm-offset-4 col-sm-2 text-right">现货有效期：</span>
						<span class="col-sm-1" ng-bind="valid.orignialDays" ng-if="!isChange"></span>
						<div class="col-sm-2" ng-if="isChange">
							<input class="form-control" type="number"
							ng-model="valid.orignialDays"
							ng-pattern="/^[1-9]\d*$/" required name="orignialDays{{$index}}">
						</div>
						<span class="col-sm-1">天</span>
					</div>
					<div class="marginTop20 row">
						<span class="col-sm-offset-4 col-sm-2 text-right">呆滞库存有效期：</span>
						<span class="col-sm-1" ng-bind="valid.stockDays" ng-if="!isChange"></span>
						<div class="col-sm-2" ng-if="isChange">
							<input type="number" ng-model="valid.stockDays" class="form-control"
							ng-pattern="/^[1-9]\d*$/" required name="stockDays{{$index}}">
						</div>
						<span class="col-sm-1">天</span>
					</div>
					<!-- <div class="marginTop20">
						废料有效期：<span ng-bind="valid.wastageDays" ng-if="!isChange"></span>{{validtimeForm.wastageDays.$invalid}}
						<input type="number" ng-model="valid.wastageDays" ng-if="isChange"
							ng-pattern="/^[1-9]\d*$/" required name="stockDays{{$index}}">
						天
					</div> -->
					<div class="marginTop20" ng-if="isChange"><input type="checkbox" name="isUpdateNow" ng-model="isUpdate" ng-click="update()">是否立即更新</div>
					<div class="text-center row-fluid marginTop20">
						<button type="button" class="btn btn-primary" ng-click="change()" ng-if="!isChange">修改有效期</button>
						<button type="submit" class="btn btn-primary" ng-click="save(valid)" ng-if="isChange" ng-disabled="validtimeForm.$invalid">保存</button>
						<button type="button" class="btn btn-primary" ng-click="back()" ng-if="isChange">取消</button>
					</div>
				</div>
			</form>
		</div>