<div class="row-fluid sortable">		
	<div class="box">
		<div class="box-header well" data-original-title>
			<i class="icon-user"></i> 平台入库单
		</div>
		<div class="box-content">
			<!-- ng-tableStart -->
			<div class="fullscreen" style="padding: 10px;">
				<div class="row">
					<div class="col-sm-1">
						共<span class="badge">{{receiptTableParams.total()}} </span>条
					</div>
					<div class="col-sm-7">
						<div class="btn-group" role="group" aria-label="...">
							<button type="button" class="btn btn-default" ng-class="{'btn-primary':active=='available'}" ng-click="setActive('available')">有效</button>
							<button type="button" class="btn btn-default" ng-class="{'btn-primary':active=='unavailable'}" ng-click="setActive('unavailable')">无效</button>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="input-group">
							<input placeholder="请输入入库单号查询" class="form-control"
								ng-model="keyword"  ng-search="onSearch()" size="16" type="text">
							<span class="input-group-btn">
								<button class="btn btn-primary" type="button" ng-click="onSearch()">搜索</button>
							</span>
						</div>
					</div>
				</div>
				<table ng-table="receiptTableParams" class="table table-bordered table-striped" style="margin-top: 10px;">
					<thead>
						<tr>
							<th class="text-center" width="80">序号</th>
							<th class="text-center" width="150">入库单号</th>
							<th class="text-center" width="150">供应商企业名称</th>
							<th class="text-center" width="150">金额</th>
							<th class="text-center" width="150">创建时间</th>
							<th class="text-center" width="140">来源单号</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="receipt in $data">
							<td class="text-center" ng-bind="$index+1"></td>
							<td class="text-center"><a target="_blank" ng-href="admin#/trade/receipt/{{receipt.receiptid | EncryptionFilter}}">{{receipt.receiptid}}</a></td>
							<td class="text-center">{{receipt.sellername}}</td>
							<td class="text-center" ng-bind="receipt.price | number:2"></td>
							<td class="text-center" ng-bind="receipt.createtime | date: 'yyyy-MM-dd HH:mm'"></td>
							<td class="text-center" ng-bind="receipt.sourceid">
						</tr>
						<tr ng-if="$data.length == 0">
							<td colspan="10" class="text-center" style="line-height: 40px; font-size: 20px;"><i class="fa fa-smile-o fa-lg"></i> 当前没有对应的入库单</td>
						</tr>
					</tbody>
				</table>
			</div>
			<a id="bottom"></a>
			<!-- ng-tableEnd -->
		</div>
	</div><!--/span-->
</div><!--/row-->