<div class="row-fluid sortable">		
	<div class="box span12">
		<div class="box-header well" data-original-title>
			<i class="icon-user"></i> 销售订单管理
		</div>
		<div class="box-content">
			<!-- ng-tableStart -->
			<div class="fullscreen" style="padding: 10px;">
				<div class="row">
					<div class="col-sm-1">
						共<span class="badge">{{purchaseTableParams.total()}} </span>条
					</div>
					<div class="col-sm-7">
						<div class="btn-group" role="group" aria-label="...">
							<!-- <button type="button" class="btn btn-default" ng-class="{'btn-primary':active=='all'}" ng-click="setActive('all')">全部</button> -->
							<button type="button" class="btn btn-default" ng-class="{'btn-primary':active=='tobeconfirmed'}" ng-click="setActive('tobeconfirmed')">待确认</button>
							<button type="button" class="btn btn-default" ng-class="{'btn-primary':active=='tobeshipped'}" ng-click="setActive('tobeshipped')">待出货</button>							
							<button type="button" class="btn btn-default" ng-class="{'btn-primary':active=='inbound'}" ng-click="setActive('inbound')">待收货</button>
							<button type="button" class="btn btn-default" ng-class="{'btn-primary':active=='received'}" ng-click="setActive('received')">已收货</button>
							<button type="button" class="btn btn-default" ng-class="{'btn-primary':active=='tobepaid'}" ng-click="setActive('tobepaid')">待付款</button>
							<button type="button" class="btn btn-default" ng-class="{'btn-primary':active=='paid'}" ng-click="setActive('paid')">已付款</button>
							<button type="button" class="btn btn-default" ng-class="{'btn-primary':active=='notsettled'}" ng-click="setActive('notsettled')">待结算</button>
							<button type="button" class="btn btn-default" ng-class="{'btn-primary':active=='completed'}" ng-click="setActive('completed')">已结算</button>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="controls">
							<div class="input-group">
								<input placeholder="请输入订单号或供应商名称查询"
									ng-model="keyword"  ng-search="onSearch()" size="16" type="text" class="form-control">
								<span class="input-group-btn">
									<button class="btn btn-primary" type="button" ng-click="onSearch()">搜索</button>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div>
					<a ng-click="downPurchase()">
                        <i class="fa fa-file-excel-o fa-fw"></i>导出当前页Excel
                    </a>
					<form style="display: none;" id="down-load-purchase" method="get">
						<input type="hidden" name="ids" ng-value="localInfo.ids">
					</form>
				</div>
				<table ng-table="purchaseTableParams" class="table table-bordered table-striped" style="margin-top: 10px;">
					<thead>
						<tr class="text-center">
							<th class="text-center" width="30">序号</th>
							<th class="text-center" width="140">采购单号</th>
							<th class="text-center" width="75">自营代售</th>
							<th class="text-center" width="150">供应商企业名称</th>
							<th class="text-center" width="100">金额</th>
							<th class="text-center" width="70">数量</th>
							<th class="text-center" width="130">创建时间</th>
							<th class="text-center" width="150">采购单状态</th>
							<th class="text-center" width="80">操作</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="purchase in $data">
							<td class="text-center">{{($index + 1)}}</td>
							<td class="text-center">
								<a target="_blank" ng-href="#/trade/purchase/{{purchase.purchaseid | EncryptionFilter}}">{{purchase.purchaseid}}</a>
							</td>
							<td class="text-center"><span ng-bind="purchase.selfSell ? '自营' : '代售'"></span></td>
							<td class="text-center">{{purchase.sellername}}</td>
							<td class="text-center text-num">￥{{purchase.price}}</td>
							<td class="text-center">{{purchase.qty}}</td>
							<td class="text-center">{{purchase.createtime | date: "yyyy-MM-dd HH:mm"}}</td>
							<td class="text-center">{{purchase.status | statusAndTypeFilter}}</td>
							<td class="text-center">
								<a ng-click="exApply(purchase.id)" ng-if="!purchase.exApplyStatusFromMall && active=='received'">异常申请</a>
								<div ng-switch on="purchase.exApplyStatusFromMall" ng-click="exApply(purchase.id)">
									<a ng-switch-when="SUP_TO_MALL">申请反馈</a>
									<a ng-switch-when="MALL_TO_SUP">申请处理中</a>
									<a ng-switch-when="CANCELED">已取消</a>
									<a ng-switch-when="FINISHED">已完成</a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- ng-tableEnd -->
		</div>
	</div><!--/span-->
</div><!--/row-->