<div class="row-fluid sortable">		
	<div class="box">
		<div class="box-header well" data-original-title>
			<i class="icon-user"></i> 客户换货单
		</div>
		<div class="box-content">
			<!-- ng-tableStart -->
			<div class="fullscreen" style="padding: 10px;">
				<div class="row">
					<div class="col-sm-1">
						共<span class="badge">{{changefmcustTableParams.total()}} </span>条
					</div>
					<div class="col-sm-7">
						<div class="btn-group" role="group" aria-label="...">
							<button type="button" class="btn btn-default" ng-class="{'btn-primary':active=='tobeshipback'}" ng-click="setActive('tobeshipback')">待回寄</button>
							<button type="button" class="btn btn-default" ng-class="{'btn-primary':active=='inspecting'}" ng-click="setActive('inspecting')">验货中</button>
							<button type="button" class="btn btn-default" ng-class="{'btn-primary':active=='toBeShipped'}" ng-click="setActive('toBeShipped')">待出货</button>
							<button type="button" class="btn btn-default" ng-class="{'btn-primary':active=='shipped'}" ng-click="setActive('shipped')">已出货</button>
							<button type="button" class="btn btn-default" ng-class="{'btn-primary':active=='inbound'}" ng-click="setActive('inbound')">待收货</button>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="input-group">
							<input placeholder="请输入订单号查询" ng-search="onSearch()" class="form-control"
								size="16" type="text" ng-model="keyword">
							<span class="input-group-btn">
								<button class="btn btn-primary" type="button" ng-click="onSearch()">搜索</button>
							</span>
						</div>
					</div>
				</div>
				<table ng-table="changefmcustTableParams" class="table table-bordered table-striped" style="margin-top: 10px;">
					<thead>
						<tr>
							<th class="text-center" width="30"></th>
							<th class="text-center" width="200">换货单号</th>
							<th class="text-center" width="80">买方姓名</th>
							<th class="text-center" width="150">供应商企业名称</th>
							<th class="text-center" width="120">金额</th>
							<th class="text-center" width="70">数量</th>
							<th class="text-center" width="70">税金</th>
							<th class="text-center" width="150">创建时间</th>
							<th class="text-center" width="80">换货单状态</th>
							<th class="text-center" width="120">采购单号</th>
							<th class="text-center" width="150" ng-hide="active=='audited' || active=='inbound' || active=='toBeShipped'">操作</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="change in $data">
							<td class="text-center">{{($index + 1)}}</td>
							<td class="text-center"><a target="_blank" ng-href="admin#/trade/changefromcust/{{change.changeid | EncryptionFilter}}">{{change.changeid}}</a></td>
							<td class="text-center">{{change.buyername}}</td>
							<td class="text-center">{{change.sellername}}</td>
							<td class="text-center text-num">
								<span>{{change.currency}} {{change.price | number : 2}}</span>
							</td>
							<td class="text-center">{{change.qty}}</td>
							<td class="text-center">
								<span>{{change.currency}} {{change.taxes | number : 2}}</span>
							</td>
							<td class="text-center">{{change.createtime | date: "yyyy-MM-dd HH:mm"}}</td>
							<td class="text-center">{{change.status | statusAndTypeFilter}}</td>
							<th class="text-center"><a target="_blank" ng-href="admin#/trade/order/{{change.orid | EncryptionFilter}}">{{change.orid}}</a></th>
							<td class="text-center"  ng-hide="active=='audited' || active=='inbound' || active=='toBeShipped'">
								<a ng-show="active=='unaudit'" ng-click="auditChange(change,true)">
									<button type="button" class="btn btn-default btn-sm"
									>审核通过</button></a>
								<a  ng-show="active=='unaudit'"ng-click="auditChange(change,false)">
									<button type="button" class="btn btn-default btn-sm" 
									>审核不通过</button></a>
								<a  ng-show="active=='inspecting'"ng-click="ensureAccept(change)">
									<button type="button" class="btn btn-default btn-sm" 
									>确认收货</button></a>	
								<a  ng-show="active=='shipped'"ng-click="changeInvoice(change)">
									<button type="button" class="btn btn-default btn-sm" 
									>转出货单</button></a>			
								
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- ng-tableEnd -->
		</div>
	</div><!--/span-->
</div><!--/row-->