<style>
    /* general */
    .exception-processing button[disabled], html input[disabled] {
        cursor: not-allowed;
        opacity: 0.7;
    }

    .exception-processing {
        font: 14px/1 arial, sans-serif;
    }

    .exception-processing > h1 {
        font-size: 1.4em;
        font-weight: 700;
        line-height: 2em;
    }

    .exception-processing h2 {
        font-size: 1.2em;
        font-weight: 600;
    }

    .float-left {
        float: left;
        width: 60%;
    }

    .exception-processing textarea {
        width: 35em;
        height: 9em;
    }

    .exception-processing .table-bordered > thead > tr > td,
    .exception-processing, .table-bordered > thead > tr > th {
        border-bottom-width: 0;
    }

    /* 订单信息 */
    .exception-processing .order-info thead > tr {
        height: 57px;
        color: rgb(255, 255, 255);
        font-size: 14px;
        background-image: url(static/img/product/title-higher-bg.png);
        padding: 0;
        vertical-align: middle !important;
        text-align: center;
        font-weight: normal;
    }

    .exception-processing .order-info thead > tr {
        min-height: 57px;
    }

    /* 异常申请信息 */
    .exception-processing .exception-info {

    }

    .time, .apply-reason {
        margin-bottom: 0.5em;
    }

    /* 时间 */
    .time > div {
        display: inline-block;
        width: 45%;
    }

    .time > div > span:first-child {
        font-weight: 500;
    }

    /* 申请原因 */
    .apply-reason .exception-type > *, .apply-reason .applyReason > * {
        display: inline-block;
    }

    .apply-reason .exception-type {
        margin-bottom: 0.5em;
    }

    .apply-reason .applyReason > * {
        vertical-align: top;
    }

    .apply-reason > div > *:first-child {
        font-weight: 500;
    }

    .applyReason > *:last-child {
        background-color: #ddd;
        width: 30em;
        height: 9em;
    }

    /* 待处理批次汇总 */
    .summary {
        float: right;
        width: 35%
    }

    .summary > * {
        display: inline-block;
        vertical-align: top;
    }

    .summary ul {
        padding-top: 1em;
    }

    .summary > div:first-child {
        font-weight: 500;
    }

    .summary > ul > li {
        margin-bottom: 0.5em;
    }

    .summary > ul > li > div {
        display: inline-block;
    }

    /* 选择处理批次 */
    .choose-item table thead > tr {
        background: linear-gradient(hsla(213, 80%, 38%, 0.7), hsla(213, 85%, 32%, 1));
        color: white;
    }

    .choose-item table tbody td textarea {
        width: auto;
        height: 100%;
    }

    .evaluate-content > * {
        vertical-align: text-top;
    }

    /* 申请操作 */
    .apply-operation {
        background: #eee;
        padding: 2em;
        margin-top: 1em;
        margin-bottom: 2em;
        text-align: center;
        color: white;
    }

    .apply-operation button {
        padding: 0.3em 0.7em;
        font-size: 2em;
        line-height: normal; /* 清除common.css设置的默认行高 */
        border: none;
        width: 18%;
        border-radius: 3px;
    }

    .apply-operation button:hover {
        box-shadow: 0 0 0 2px hsl(11, 97%, 51%);
    }

    .ensure-update, .start-ex-process {
        margin: 0 2em 0 0;
        background: linear-gradient(hsla(4, 85%, 54%, 0.7), hsla(4, 85%, 54%, 1));
    }

    /* 取消 */
    .cancel > button {
        background: linear-gradient(hsla(45, 3%, 47%, 0.7), hsla(45, 3%, 47%, 1));
        color: white;
    }

    .u-box {
        overflow: scroll;
    }
    .u-box table {
        margin-bottom: 0;
    }
</style>
<div class="exception-processing">
    <h1>供应商 异常来源：<span ng-bind="puExSrc[apply.puExSrc]"></span></h1>
    <main role="main">
        <article>
            <!-- ==== 订单信息start ==== -->
            <section class="order-info">
                <h2>订单信息</h2>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>卖家企业</th>
                        <th>联系人</th>
                        <th>下单时间</th>
                        <th>订单号</th>
                        <th>付款时间</th>
                        <th>发货时间</th>
                        <th>货源批次数</th>
                        <th>型号数量</th>
                        <th>总数量</th>
                        <th>支付总金额</th>
                        <th>币种</th>
                        <th>税率</th>
                        <th>运费</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><span ng-bind="purchase.sellername"></span></td>
                        <td><span ng-cloak>名字：{{user.userName}}<br>电话：{{user.userTel}}</span></td>
                        <td><span ng-bind="purchase.createtime | date:'yyyy-MM-dd HH:mm'"></span></td>
                        <td><span ng-bind="purchase.purchaseid"></span></td>
                        <td><span ng-bind="purchase.paytime | date:'yyyy-MM-dd HH:mm'"></span></td>
                        <td><span ng-bind="deliveryTime | date:'yyyy-MM-dd HH:mm'">/</span></td>
                        <td><span ng-bind="purchase.batchQty"></span></td>
                        <td><span ng-bind="purchase.cmpQty"></span></td>
                        <td><span ng-bind="purchase.qty"></span></td>
                        <td><span ng-bind="purchase.ensurePrice"></span></td>
                        <td><span ng-bind="purchase.currency"></span></td>
                        <td>
                            <span ng-switch="purchase.currency">
                                <span ng-switch-when="RMB">17%</span>
                                <span ng-switch-when="USD">0%</span>
                            </span>
                        </td>
                        <td>0</td>
                    </tr>
                    </tbody>
                </table>
            </section>
            <!-- 订单信息end -->

            <!-- ==== 异常申请信息start ==== -->
            <section class="exception-info clearfix">
                <h2>异常申请信息</h2>
                <div class="float-left">
                    <div class="time">
                        <div class="submit-time">
                            <span>提交时间：</span>
                            <time datetime="apply.createTime | date:'yyyy-MM-dd HH:mm:ss'"
                                  ng-bind="apply.createTime | date:'yyyy-MM-dd HH:mm'"></time>
                        </div>
                        <div class="update-time" ng-if="apply.updateTime">
                            <span>更新时间：</span>
                            <time datetime="apply.updateTime | date:'yyyy-MM-dd HH:mm:ss'"
                                  ng-bind="apply.updateTime | date:'yyyy-MM-dd HH:mm'"></time>
                        </div>
                    </div>
                    <div class="apply-reason">
                        <div class="exception-type">
                            <div>问题类型：</div>
                            <span ng-bind="apply.applyReasonType"></span>
                        </div>
                        <div class="applyReason">
                            <div>问题描述：</div>
                            <span ng-bind="apply.applyReason"></span>
                        </div>
                    </div>
                </div>
                <div class="summary">
                    <div>待处理批次汇总：</div>
                    <ul class="list-unstyled">
                        <li>
                            <div>货源批次数:</div>
                            <div><span ng-bind="apply.batchQty"></span></div>
                        </li>
                        <li>
                            <div>型号数量：</div>
                            <div><span ng-bind="apply.cmpQty"></span></div>
                        </li>
                        <li>
                            <div>产品总数量：</div>
                            <div><span ng-bind="apply.prodQty"></span></div>
                        </li>
                        <li>
                            <div>产品总金额：</div>
                            <div><span ng-bind="apply.totalAmount | number:2"></span> <span ng-bind="apply.currency"></span></div>
                        </li>
                        <li>
                            <div>运费合计：</div>
                            <div><span ng-bind="apply.freight | number:2"></span> <span ng-bind="apply.currency"></span></div>
                        </li>
                        <li>
                            <div>税率：</div>
                            <div><span ng-bind="apply.taxRate"></span></div>
                        </li>
                        <li>
                            <div>涉及总金额：</div>
                            <div>
                                <span ng-bind="apply.totalAmount | number:2"></span>
                                <span ng-bind="apply.currency"></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <!-- 异常申请信息end -->

            <!-- ==== 选择处理批次start ==== -->
            <section class="choose-item">
                <h2>所选批次</h2>
                <div class="u-box">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>产品型号</th>
                            <th>品牌</th>
                            <th>类目</th>
                            <th>采购数量</th>
                            <th>采购金额</th>
                            <th>单价</th>
                            <th>币别</th>

                            <th>卖家申请类型</th>
                            <th>申请原因</th>

                            <th>提交买家类型</th>
                            <th>补充说明</th>

                            <th>买家回复</th>
                            <th>补充说明</th>

                            <th>回复卖家</th>
                            <th>补充说明</th>

                            <th>生产日期</th>
                            <th>包装</th>
                            <th>最小包装数</th>
                            <th>产品批次号</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="applyDetail in apply.applyDetails">
                            <td>
                                <span ng-bind="$index + 1"></span>
                            </td>
                            <td><span ng-bind="applyDetail.purchaseDetail.cmpCode"></span></td>
                            <td><span ng-bind="applyDetail.purchaseDetail.brName"></span></td>
                            <td><span ng-bind="applyDetail.purchaseDetail.kiName"></span></td>
                            <td><span ng-bind="applyDetail.purchaseDetail.number"></span></td>
                            <td><span ng-bind="applyDetail.purchaseDetail.price"></span></td>
                            <td><span ng-bind="applyDetail.purchaseDetail.taxUnitprice"></span></td>
                            <td><span ng-bind="applyDetail.purchaseDetail.currencyName"></span></td>

                            <td>
                                <span ng-bind="applyTypes[applyDetail.negotiations.last().supToMallApplyType]"></span>
                            </td>
                            <td><span
                                    ng-bind="applyDetail.negotiations.last().supToMallApplyReason"></span>
                            </td>
                            <!-- 卖家申请 end -->

                            <!-- 买家回复 end -->
                            <td>
                                <div ng-if="apply.status == 'SUP_TO_MALL'">
                                    <select ng-model="applyDetail.mallToBuyerApplyType"
                                            ng-change="checkApply(apply)">
                                        <option value="">选择发送类型</option>
                                        <option value="STOCK_OUT">缺货取消</option>
                                    </select>
                                </div>
                                <div ng-if="apply.status !== 'SUP_TO_MALL'">
                                    <span ng-bind="applyTypes[applyDetail.negotiations.last().mallToBuyerApplyType]"></span>
                                </div>
                            </td>
                            <td>
                                                    <textarea ng-if="apply.status == 'SUP_TO_MALL'"
                                                              ng-model="applyDetail.mallToBuyerApplyReason"
                                                              maxlength="4000" class="supple-info"></textarea>
                                <span ng-if="apply.status !== 'SUP_TO_MALL'"
                                      ng-bind="applyDetail.negotiations.last().mallToBuyerApplyReason"></span>
                            </td>
                            <!-- 商城到买家 end -->

                            <!-- ==== 买家回复 start ==== -->
                            <td>
                                <span ng-bind="applyTypes[applyDetail.negotiations.last().buyerToMallApplyType]"></span>
                            </td>
                            <td><span ng-bind="applyDetail.negotiations.last().buyerToMallApplyReason"></span>
                            </td>
                            <!-- 买家回复 end -->

                            <!-- ==== 回复卖家 start ==== -->
                            <td>
                                <div ng-if="apply.status == 'BUYER_TO_MALL'">
                                    <select ng-model="applyDetail.mallToSupApplyType"
                                            ng-change="checkApply(apply)">
                                        <option value="">选择回复类型</option>
                                        <option value="STOCK_OUT">缺货取消</option>
                                        <option value="REFUSE">拒绝</option>
                                    </select>
                                </div>
                                <div ng-if="apply.status !== 'BUYER_TO_MALL'">
                                    <span ng-bind="applyTypes[applyDetail.negotiations.last().mallToSupApplyType]"></span>
                                </div>
                            </td>
                            <td>
                            <textarea ng-if="apply.status == 'BUYER_TO_MALL'"
                                      ng-model="applyDetail.mallToBuyerApplyReason"
                                      maxlength="4000" class="supple-info"></textarea>
                                <span ng-if="apply.status !== 'BUYER_TO_MALL'"
                                      ng-bind="applyDetail.negotiations.last().mallToSupApplyReason"></span>
                            </td>
                            <!-- 回复卖家 end -->

                            <td><span ng-bind="applyDetail.purchaseDetail.goodsHistory.produceDate"></span></td>
                            <td>
                            <span ng-if="applyDetail.purchaseDetail.goodsHistory.packaging"
                                  ng-bind="applyDetail.purchaseDetail.goodsHistory.packaging"></span>
                                <span ng-if="!applyDetail.purchaseDetail.goodsHistory.packaging">/</span>
                            </td>
                            <td><span ng-bind="applyDetail.purchaseDetail.goodsHistory.minPackQty"></span></td>
                            <td><span ng-bind="applyDetail.purchaseDetail.goodsHistory.batchCode"></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <!-- 选择处理批次end -->

            <div class="apply-operation">
                <button class="ensure-update" ng-if="apply.status !== 'BUYER_TO_MALL'"
                        ng-click="updatePuExApply(apply)" ng-disabled="!apply.canSubmit" >确认更新
                </button>
                <button ng-click="startPuExProcess(apply)" ng-if="apply.status == 'BUYER_TO_MALL'" class="start-ex-process" ng-disabled="!apply.canSubmit">启动异常流程</button>

                <a href="#/trade/buyerExProcess" class="cancel">
                    <button>返回</button>
                </a>
            </div>
        </article>
    </main>
</div>