<style>
<!--
button {
	width: 100px;
}

#bigInputButton {
	height: 35px;
}
h2{
	margin-top: 0;
	margin-bottom: 0;
}
-->
</style>
<div class="row-fluid sortable">
	<div class="box">
		<div class="box-header well" data-original-title>
			<h2>
				<i class="icon-user"></i> 订单查询接口
			</h2>
		</div>
		<div class="box-content">
			<div class="row-fluid col-md-12">
				<div class="col-md-9">
					<h4>本查询接口，可以查询订单的所属买家，供应商，批次，对应的产品等等，供运营人员进行使用</h4>
				</div>
			</div>
			<div class="row-fluid marginTop20 marginBottom10">
				<div class="span2"></div>
				<div class="span10">
					<div class="controls">
						<div class="input-append">
							<input id="bigInputButton" placeholder="请输入订单号查询"
								ng-model="keyword" ng-search="onSearch()" type="text">
							<button class="btn" type="button" ng-click="onSearch()">搜索</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row-fluid marginBottom10" ng-if="flag && !order">
				<div class="span1"></div>
				<div class="span10">
					<span class="text-inverse">您搜索的订单不存在，请重新输入！</span>
				</div>
			</div>
			<div class="row-fluid" ng-if="flag">
				<div class="box-header well" data-original-title>
					<h2 class="query-info">
						<i class="icon-search"></i> 查询信息
					</h2>
				</div>
				<div class="box-content">
					<div class="repeatBorder row-fluid">
						<div class="divTitle boxbank span12 f12">
							<span>订 单号:</span> <span class="text-inverse" ng-bind="order.orderid"></span>
						</div>
					</div>
					<div class="boxbank">
						<div class="row-fluid ">
							<span class="minTitle span10">订单信息：</span>
						</div>
						<table class="table table-bordered table-striped"
							style="margin-top: 10px;">
							<thead>
								<tr>
									<th width="auto">订单号</th>
									<th width="120">金额</th>
									<th width="120">数量</th>
									<th width="150">过期时间</th>
									<th width="150">订单状态</th>
									<th>订单类型</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-if="order">
									<td>{{order.orderid}}</td>
									<td>{{order.price}}</td>
									<td>{{order.qty}}</td>
									<td>{{order.availabletime | date: "yyyy-MM-dd HH:mm"}}</td>
									<td>{{order.status | statusAndTypeFilter}}</td>
									<td>{{order.type | statusAndTypeFilter}}</td>
								</tr>
								<tr ng-if="!order">
									<td colspan="10" class="text-center"
										style="line-height: 40px; font-size: 20px;"><i
										class="fa fa-smile-o fa-lg"></i> 当前没有对应的订单信息</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="boxbank">
						<div class="row-fluid">
							<span class="minTitle span10">买家及企业信息:</span>
						</div>
						<table class="table table-bordered table-striped"
							style="margin-top: 10px;">
							<thead>
								<tr>
									<th width="auto">买家企业名称</th>
									<th width="120">买家企业UU</th>
									<th width="120">买家姓名</th>
									<th width="150">买家UU</th>
									<th width="150">企业联系人</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-if="user">
									<td>{{user.enName}}</td>
									<td>{{user.enUU}}</td>
									<td>{{user.userName}}</td>
									<td>{{user.userUU}}</td>
									<td>应鹏</td>
									<td>无</td>
								</tr>
								<tr ng-if="!user">
									<td colspan="10" class="text-center"
										style="line-height: 40px; font-size: 20px;"><i
										class="fa fa-smile-o fa-lg"></i> 当前没有对应的用户信息</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="boxbank">
						<div class="row-fluid">
							<span class="minTitle span10">供应商，产品批次信息:</span>
						</div>
						<table class="table table-bordered table-striped"
							style="margin-top: 10px;">
							<thead>
								<tr>
									<th width="auto">供应商名称</th>
									<th width="120">供应商企业UU</th>
									<th width="120">联系人姓名</th>
									<th width="150">联系人电话</th>
									<th width="150">批次号</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-if="order">
									<td>{{vender.enName}}</td>
									<td>{{vender.uu}}</td>
									<td>敖峰</td>
									<td>13670027821</td>
									<td>{{user.batchcode}}</td>
									<td>无</td>
								</tr>
								<tr ng-if="!order">
									<td colspan="10" class="text-center"
										style="line-height: 40px; font-size: 20px;"><i
										class="fa fa-smile-o fa-lg"></i> 当前没有对应的供应商信息</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="boxbank">
						<div class="row-fluid">
							<span class="minTitle span10">关联采购单，出货单,物流信息:</span>
						</div>
						<table class="table table-bordered table-striped"
							style="margin-top: 10px;">
							<thead>
								<tr>
									<th width="auto">采购单号</th>
									<th width="150">供应商出货单号</th>
									<th width="150">平台出货单号</th>
									<th width="150">供应商快递号</th>
									<th width="150">平台快递号</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-if="relationInfo">
									<td ng-bind="relationInfo.purchaseid"></td>
									<td ng-bind="relationInfo.inFpurcid"></td>
									<td ng-bind="relationInfo.inForderid"></td>
									<td ng-bind="relationInfo.vendLogistic"></td>
									<td ng-bind="relationInfo.b2cLogistic"></td>
									<th>无</th>
								</tr>
								<tr ng-if="!relationInfo">
									<td colspan="10" class="text-center"
										style="line-height: 40px; font-size: 20px;"><i
										class="fa fa-smile-o fa-lg"></i> 当前没有关联的信息</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
