<style type="text/css">
button[type=button].btn-primary-choosed {
	color: #fff;
	background-color: #f39800;
	border-color: #f39800;
	border-left-color: #fff;
	border-right-color: #fff;
}
.btn-primary:hover {
	color: #fff;
	background-color: #f39800;
	border-color: #f39800;
	border-left-color: #fff;
	border-right-color: #fff;
}
.btn-primary:active {
	color: #fff;
	background-color: #f39800;
	border-color: #f39800;
}
.btn-default-inline {
	color: #fff;
	background-color: #7bb4e1;
	border-color: #7bb4e1;
	border-left-color: #fff;
	border-right-color: #fff;
}

.btn-default-inline:hover {
	color: #fff;
	background-color: #f39800;
	border-color: #f39800;
}
</style>
<div>
	<h3 style="text-align:center">交易记录表</h3>	
	<div class="row datediv" style="margin-left:130px;margin-bottom:20px;">
			<div class="col-xs-12">
				<div class="more">
					<form class="form-inline">
						<div class="form-group ">
							<label>交易日期：</label>
							<div class="btn-group btn-menu" dropdown
								is-open="condition.$dateZoneOpen">
								<button type="button" dropdown-toggle style="width: 85px;"
									class="btn btn-default btn-xs dropdown-toggle">
									{{dateZoneText}}<i class="fa fa-fw fa-angle-down icon-right"></i></span>
								</button>
								<ul class="dropdown-menu dateinput" style="height: inherit">
									<li><a ng-click="changeDateZone(-1)">不限</a></li>
									<li><a ng-click="changeDateZone(1)">一个月内</a></li>
									<li><a ng-click="changeDateZone(6)">半年内</a></li>
									<li><a ng-click="changeDateZone()">半年前</a></li>
								</ul>
							</div>
							<div class="form-group input-group input-group-xs input-trigger">
								<input type="text" ng-model="condition.dateFrom"
									class="form-control dateinput" placeholder="点击选择起始日期"
									readonly="readonly" datepicker-popup="yyyy-MM-dd"
									is-open="condition.$fromOpened" ng-required="true"
									max-date="sysdate" current-text="今天" clear-text="清除"
									close-text="关闭"
									datepicker-options="{formatDayTitle: 'yyyy年M月', formatMonth: 'M月', showWeeks: false}"
									ng-click="openDatePicker($event, condition, '$fromOpened')"
									ng-change="onDateCondition()"> <span
									class="input-group-btn dateinput">
									<button type="button" class="btn btn-default dateinput"
										ng-click="openDatePicker($event, condition, '$fromOpened')">
										<i class="fa fa-calendar"></i>
									</button>
								</span>
							</div>
							<div class="form-group input-group input-group-xs input-trigger">
								<input type="text" ng-model="condition.dateTo"
									class="form-control dateinput" placeholder="点击选择截止日期"
									readonly="readonly" datepicker-popup="yyyy-MM-dd"
									is-open="condition.$toOpened" ng-required="true"
									min-date="condition.dateFrom" current-text="今天" clear-text="清除"
									close-text="关闭"
									datepicker-options="{formatDayTitle: 'yyyy年M月', formatMonth: 'M月', showWeeks: false}"
									ng-focus="openDatePicker($event, condition, '$toOpened')"
									ng-change="onDateCondition()"> <span
									class="input-group-btn">
									<button type="button" class="btn btn-default dateinput"
										ng-click="openDatePicker($event, condition, '$toOpened')">
										<i class="fa fa-calendar"></i>
									</button>
								</span>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>			
	<div class="container">
		<div>
			<div class="col-xs-6" style="float:right;">
				<div class="input-group searchInputGroup">
					<input type="search" ng-model="keyword" class="form-control" ng-change="upper()" ng-search="onSearch()" placeholder="请输入订单号查询">
					<span class="input-group-btn">
						<button type="button" class="btn btn-primary" ng-click="onSearch()">搜索</button>
					</span>
				</div>
			</div>
			<div>
				<div class="row total">
					<div class="col-xs-6">
						<div class="btn-group" role="group"
							style="display: block;">
							<button type="button" class="btn btn-sm btn-default-inline"
								ng-class="{'btn-primary-choosed':active=='all'}"
								ng-click="setActive('all')">全部</button>
							<button type="button" class="btn btn-sm btn-default-inline"
								ng-class="{'btn-primary-choosed':active=='payment'}"
								ng-click="setActive('payment')">已付款</button>
							<button type="button" class="btn btn-sm btn-default-inline"
								ng-class="{'btn-primary-choosed':active=='refund'}"
								ng-click="setActive('refund')">已退款</button>
						</div>
					</div>
				</div>
				<div class="col-xs-1">
					<p style="margin-top: 8px; font-weight: bold;">
						共<span class="totalNum">{{tradeRecordChartTableParams.total()}}</span>条
					</p>
				</div>
			</div>	
		</div>
	
		
		<table ng-table="tradeRecordChartTableParams" class="table table-bordered table-striped">
			<thead>
				<tr style="text-align:center">
					<td>序号</td>
					<td>买家订单号</td>
					<td>交易流水号</td>
					<td>交易状态</td>
					<td>付款金额</td>
					<td>付款日期</td>
					<td>退款金额</td>
					<td>退款日期</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="payment in $data" style="text-align:center">
					<td class="text-center">{{($index + 1)}}</td>
					<td class="text-center"><a target="_blank" ng-href="admin#/trade/order/{{payment.orderid | EncryptionFilter}}">{{payment.orderid}}</a>				
					<td ng-bind="payment.yseid">
					<td ng-bind="payment.state"></td>
					<td ng-bind="payment.totalAmount" ></td>
					<td ng-bind="payment.paymentAccountDate | date: 'yyyy-MM-dd ' " ></td>
					<td ng-bind="payment.refundAmount" ></td>
					<td ng-bind="payment.refundAccountDate | date: 'yyyy-MM-dd ' "></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>