<style>
    /* 异常申请列表 */
    .apply-list > table {
        width: 100%;
        font-size: 16px;
        line-height: 1.5;
        margin-top: 0.5em;
    }

    /* 异常申请 */
    .apply {
        border: 1px solid #eee;
        padding: 0.5em;
        margin-bottom: 0.5em;
        background: linear-gradient(hsl(191, 2%, 94%),transparent, hsl(191, 2%, 94%));
        box-shadow: inset 0 0 0 1px #1995dc;
    }
    .apply table {
        margin-bottom: 0;
    }
    /* 异常申请信息 */
    .apply-info * {
        vertical-align: top;
    }

    .apply-info > div {
        display: inline-block;
        padding: 0.5em;
    }

    .apply-id, .applicant-en-name {
        width: 27%;
    }

    .time {
        width: 22%;
    }

    .apply-reason {
        display: inline-block;
    }

    .apply-reason > * {
        display: inline-block;
        margin-right: 3em;
    }

    .apply-reason > * > * {
        display: inline-block;
    }

    .apply-reason .applyReason > div:last-child {
        max-width: 20em;
        /*min-width: 14em;*/
        /*min-height: 3em;*/
        /*height: 1em;*/
        overflow: hidden;
        white-space: nowrap;
        text-overflow:ellipsis;
        /* background-color: #ddd;*/
        /*padding: 0.7em;*/
    }

    /* 发送信息 */
    .ensure-send {
        font-size: 16px;
        width: 15%;
        background: linear-gradient(hsla(4, 85%, 54%, 0.7), hsla(4, 85%, 54%, 1));
        padding: 0.3em 0.7em;
        line-height: normal; /* 清除common.css设置的默认行高 */
        border: none;
        border-radius: 3px;
        font-weight: 700;
        color: white;
        margin-top: 0.5em;
    }

    .apply-list button[disabled], html input[disabled] {
        cursor: not-allowed;
        opacity: 0.7;
    }

    /* 异常申请明细信息 */
    .apply-detail-info > table > thead > tr {
        background: linear-gradient(hsla(205, 92%, 41%, 0.7), hsla(205, 92%, 41%, 1));
        color: white;
    }

    .apply-detail-info > table > thead > tr {
        text-align: center;
    }

    .apply-detail-info > .table-bordered > thead > tr > th, .apply-detail-info > .table-bordered > thead > tr > td {
        border-bottom: none;
    }

    /* 买、卖、平台三方交流 */
    .supple-info {

    }
</style>
<div class="row-fluid sortable">
    <div class="box">
        <div class="box-header well" data-original-title>
            <i class="icon-user"></i> 卖家异常处理
        </div>
        <div class="box-content">
            <div class="fullscreen" style="padding: 10px;">
                <div class="row">
                    <div class="col-sm-1">
                        共<span class="badge">{{paginationParams.total()}} </span>条
                    </div>
                    <div class="col-sm-7">
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn btn-default" ng-class="{'btn-primary':active=='all'}"
                                    ng-click="setActive('all')">全部
                            </button>
                            <button type="button" class="btn btn-default" ng-class="{'btn-primary':active=='SUP_TO_MALL'}"
                                    ng-click="setActive('SUP_TO_MALL')">待处理
                            </button>
                            <button type="button" class="btn btn-default"
                                    ng-class="{'btn-primary':active=='MALL_TO_BUYER'}"
                                    ng-click="setActive('MALL_TO_BUYER')">待确认
                            </button>
                            <button type="button" class="btn btn-default"
                                    ng-class="{'btn-primary':active=='BUYER_TO_MALL'}"
                                    ng-click="setActive('BUYER_TO_MALL')">待反馈
                            </button>
                            <button type="button" class="btn btn-default"
                                    ng-class="{'btn-primary':active=='FINISHED'}"
                                    ng-click="setActive('FINISHED')">启动异常流程
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <input placeholder="请输入申请单号查询" ng-search="onSearch()" class="form-control"
                                   size="16" type="text" ng-model="keyword">
                            <span class="input-group-btn">
								<button class="btn btn-primary" type="button" ng-click="onSearch()">搜索</button>
							</span>
                        </div>
                    </div>
                </div>

                <!-- ==== 采购异常申请单列表 start ==== -->
                <div class="apply-list">
                    <table ng-table="applyTableParams">
                        <tr ng-repeat="apply in $data">
                            <td>
                                <!-- ==== 申请单 start ==== -->
                                <section class="apply">
                                    <div class="apply-info">
                                        <div class="apply-id">
                                            <span>申请单号：</span>
                                            <span><a ng-href="#/trade/supExProcessDetails/{{apply.applyId | EncryptionFilter}}">{{apply.applyId}}</a></span>
                                        </div>
                                        <!--<div><span>咨询来源</span><span></span></div>-->
                                        <div class="time"><span>创建时间：</span>
                                            <time ng-bind="apply.createTime | date:'yyyy-MM-dd HH:mm'"></time>
                                        </div>
                                        <div class="time"><span>更新时间：</span>
                                            <time ng-bind="apply.updateTime | date:'yyyy-MM-dd HH:mm'"></time>
                                        </div>
                                        <div class="applicant-en-name"><span>提交卖家：</span><span
                                                ng-bind="apply.applicantEnName"></span></div>

                                        <div class="apply-reason">
                                            <div class="exception-type">
                                                <div>卖家提交的问题类型：</div>
                                                <div ng-bind="apply.applyReasonType"></div>
                                            </div>
                                            <div class="applyReason">
                                                <div>卖家提交的问题描述：</div>
                                                <div ng-bind="apply.applyReason"></div>
                                            </div>
                                        </div>
                                        <button ng-if="apply.status !== 'BUYER_TO_MALL'"
                                                ng-click="updatePuExApply(apply)" class="ensure-send"
                                                ng-disabled="!apply.canSubmit" >确认发送
                                        </button>
                                        <button ng-click="startPuExProcess(apply)" ng-if="apply.status == 'BUYER_TO_MALL'" class="ensure-send" ng-disabled="!apply.canSubmit">启动异常流程</button>
                                    </div>
                                    <div class="apply-detail-info">
                                        <table class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <th>货源供应商</th>

                                                <th>卖家申请类型</th>
                                                <th>申请原因</th>

                                                <th>提交买家类型</th>
                                                <th>补充说明</th>

                                                <th>买家回复</th>
                                                <th>补充说明</th>

                                                <th>回复卖家</th>
                                                <th>补充说明</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="applyDetail in apply.applyDetails">
                                                <!-- 卖家申请 end -->
                                                <td><span ng-bind="applyDetail.supEnName"></span></td>
                                                <td>
                                                    <span ng-bind="applyTypes[applyDetail.negotiations.last().supToMallApplyType]"></span>
                                                </td>
                                                <td><span
                                                        ng-bind="applyDetail.negotiations.last().supToMallApplyReason"></span>
                                                </td>
                                                <!-- 卖家申请 end -->

                                                <!-- 买家回复 end -->
                                                <td>
                                                    <div ng-if="apply.status == 'SUP_TO_MALL'">
                                                        <select ng-model="applyDetail.mallToBuyerApplyType"
                                                                ng-change="checkApply(apply)">
                                                            <option value="">选择发送类型</option>
                                                            <option value="STOCK_OUT">缺货取消</option>
                                                        </select>
                                                    </div>
                                                    <div ng-if="apply.status !== 'SUP_TO_MALL'">
                                                        <span ng-bind="applyTypes[applyDetail.negotiations.last().mallToBuyerApplyType]"></span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <textarea ng-if="apply.status == 'SUP_TO_MALL'"
                                                              ng-model="applyDetail.mallToBuyerApplyReason"
                                                              maxlength="4000" class="supple-info"></textarea>
                                                    <span ng-if="apply.status !== 'SUP_TO_MALL'"
                                                          ng-bind="applyDetail.negotiations.last().mallToBuyerApplyReason"></span>
                                                </td>
                                                <!-- 商城到买家 end -->

                                                <!-- ==== 买家回复 start ==== -->
                                                <td>
                                                    <span ng-bind="applyTypes[applyDetail.negotiations.last().buyerToMallApplyType]"></span>
                                                </td>
                                                <td><span ng-bind="applyDetail.negotiations.last().buyerToMallApplyReason"></span>
                                                </td>
                                                <!-- 买家回复 end -->

                                                <!-- ==== 回复卖家 start ==== -->
                                                <td>
                                                    <div ng-if="apply.status == 'BUYER_TO_MALL'">
                                                        <select ng-model="applyDetail.mallToSupApplyType"
                                                                ng-change="checkApply(apply)">
                                                            <option value="">选择回复类型</option>
                                                            <option value="STOCK_OUT">缺货取消</option>
                                                            <option value="REFUSE">拒绝</option>
                                                        </select>
                                                    </div>
                                                    <div ng-if="apply.status !== 'BUYER_TO_MALL'">
                                                        <span ng-bind="applyTypes[applyDetail.negotiations.last().mallToSupApplyType]"></span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <textarea ng-if="apply.status == 'BUYER_TO_MALL'"
                                                              ng-model="applyDetail.mallToSupApplyReason"
                                                              maxlength="4000" class="supple-info"></textarea>
                                                    <span ng-if="apply.status !== 'BUYER_TO_MALL'"
                                                          ng-bind="applyDetail.negotiations.last().mallToSupApplyReason"></span>
                                                </td>
                                                <!-- 回复卖家 end -->
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </section>
                                <!-- 申请单 end -->
                            </td>
                        </tr>
                    </table>

                </div>
                <!-- 采购异常申请单列表 end -->
            </div>
        </div>
    </div>
</div>