<style>
.padding-bottom-10 {
	padding-bottom: 10px;
}
</style>
<div class="row-fluid sortable">		
	<div class="box">
		<div class="box-header well" data-original-title>
			<i class="icon-user"></i> 平台换货单
		</div>
		<div class="box-content">
			<!-- ng-tableStart -->
			<div class="fullscreen" style="padding: 10px;">
				<div class="row">
					<div class="col-sm-1">
						共<span class="badge">{{changefmb2cTableParams.total()}} </span>条
					</div>
					<div class="col-sm-7">
						<div class="btn-group" role="group" aria-label="...">
							<button type="button" class="btn btn-default" ng-class="{'btn-primary':active=='tobeshippedback'}" ng-click="setActive('tobeshippedback')">待回寄</button>
							<button type="button" class="btn btn-default" ng-class="{'btn-primary':active=='inspecting'}" ng-click="setActive('inspecting')">验货中</button>
							<button type="button" class="btn btn-default" ng-class="{'btn-primary':active=='send'}" ng-click="setActive('send')">发货中</button>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="input-group">
							<input placeholder="请输入订单号查询" ng-search="onSearch()" class="form-control"
								size="16" type="text" ng-model="keyword">
							<span class="input-group-btn">
								<button class="btn btn-primary" type="button" ng-click="onSearch()">搜索</button>
							</span>
						</div>
					</div>
				</div>
				<table ng-table="changefmb2cTableParams" class="table table-bordered table-striped" style="margin-top: 10px;">
					<thead>
						<tr>
							<th class="text-center" width="40">
								<input type="checkBox" ng-model="checks.checked" ng-click="checkAll()">
							</th>
							<th width="50">序号</th>
							<th class="text-center" width="200">换货单号</th>
							<th class="text-center" width="80">买方姓名</th>
							<th class="text-center" width="150">供应商企业名称</th>
							<th class="text-center" width="120">总金额</th>
							<th class="text-center" width="120">数量</th>
							<th class="text-center" width="150">创建时间</th>
							<th class="text-center" width="100">状态</th>
							<th class="text-center" width="120">客户换货单号</th>
							<th class="text-center" width="140"  ng-show="active=='tobeshippedback'">操作</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="change in $data">
							<td class="text-center"><input type="checkBox" ng-model="checkCodes[$index]" ng-click="checkOne($index)"/></td>
							<td class="text-center">{{($index + 1)}}</td>
							<td class="text-center"><a ng-href="admin#/trade/changefromb2c/{{change.changeid | EncryptionFilter}}">{{change.changeid}}</a></td>
							<td class="text-center">{{change.buyername}}</td>
							<td class="text-center">{{change.sellername}}</td>
							<td class="text-center">{{change.currencyName}} {{change.price | number:2}}</td>
							<td class="text-center">{{change.qty}}</td>
							<td class="text-center">{{change.createtime | date: "yyyy-MM-dd HH:mm"}}</td>
							<td class="text-center">{{change.status  | statusAndTypeFilter}}</td>
							<td class="text-center"><a ng-href="admin#/trade/changefromcust/{{change.cfcid | EncryptionFilter}}">{{change.cfcid}}</a></td>
							<td class="text-center" ng-show="active=='tobeshippedback'">
								<a ng-show="active=='tobeshippedback'" ng-click="sendChange(change)">
									<button type="button" class="btn btn-default btn-sm" 
									>确认发货</button></a>
							</td>
						</tr>
					</tbody>
				</table>
		 		<div ng-if="active=='tobeshippedback'">
					<button class="btn btn-primary" role="button" ng-disabled="count==0" ng-click="sendChange()">批量确认出货</button>
				</div>
			</div>
			<!-- ng-tableEnd -->
		</div>
	</div><!--/span-->
	<a id="bottom"></a>
</div><!--/row-->
<!-- 批量  确认出货界面 开始代码  -->
<div ng-if="deliveryStatusEntryCheck && active=='tobeshippedback'">
	<div class="row-fluid sortable">
		<div class="box" >
			<div class="box-header well">
				<i class="icon-user"></i> 确认发货操作
			</div>
			<div class="box-content" style="font-size: 15px; ">
				<div ng-repeat="change in batchChange" class="repeatBorder">
					<div class="divTitle" ng-click="deliveryExpose(change)">
						<span role="button"  ng-if="change.expose" style="margin-left: 10px;"><i class="fa fa-angle-down"></i>&nbsp;</span>
						<span role="button" ng-if="!change.expose" style="margin-left: 10px;"><i class="fa fa-angle-up"></i>&nbsp;</span>
						<span >订单号:</span>
						<span ng-bind="::change.changeid"></span>
					</div>
					<div ng-if="change.expose" style="margin-left: 32px;">
						<div class="marginleftline row">
							<span class="col-xs-2"><strong>总金额</strong></span>
							<span class="col-xs-2">{{change.currencyName}} {{change.price | number:2}}</span>
							<span class="col-xs-2"><strong>数量</strong></span>
							<span class="col-xs-6"  ng-bind="change.qty"></span>
						</div>
						<div class="marginleftline row">
							<span class="col-xs-2"><strong>联系方式</strong></span>
							<span class="col-xs-2" ng-bind="change.jsonAddress.tel"></span>
							<span class="col-xs-2"><strong>创建时间</strong></span>
							<span class="col-xs-6" ng-bind="change.createtime | date: 'yyyy-MM-dd HH:mm'"></span>	
						</div>
						<div class="marginleftline row">
							<span class="col-xs-2"><strong>收货人</strong></span>
							<span class="col-xs-2" ng-bind="change.jsonAddress.name"></span>
							<span class="col-xs-2"><strong>收货地址</strong></span>
							<span ng-bind="change.jsonAddress.area" class="col-xs-2"></span>
							<span ng-bind="change.jsonAddress.detailAddress" class="col-xs-4"></span>
						</div>
					</div>
				</div>
				<div>
					<h4><strong>发货信息</strong></h4>
					<hr style="margin-top: 5px; margin-bottom: 15px;">
				</div>
				<div style="line-height: 30px; margin-left: 33px">
					<div class="row">
						<div class="col-xs-12 padding-bottom-10">
							<div class="col-xs-2"><strong>物流公司</strong></div>
							<div class="col-xs-4">
								<select ng-required="true" class="form-control" ng-model="logistics.companyName"
									ng-options="exp.name for exp in express">
									<option value="">请选择物流公司名称</option>
								</select>
								<!-- <input type="text" ng-model="logistics.companyName" class="input span12 display-inline" placeholder="物流公司名称" name="companyName" ng-required="true"/> -->
							</div>
						</div>
						<div class="col-xs-12 padding-bottom-10">
							<div class="col-xs-2"><strong>快递单号</strong></div> 
							<div class="col-xs-4"> 
								<input type="text"
									ng-model="logistics.number" class="input form-control"
									ng-pattern="/^\+?[1-9][0-9]*$/" placeholder="快递单号(数字型)" /> 
								<span ng-if="!logistics.number" class="text-warning">请填写正确的快递号</span>
							</div>
						</div>
					</div>
					<div ng-repeat="addr in sendAddr" class="row">
						<div class="col-xs-12">
							<span class="col-xs-2"><strong>发货人</strong></span>
							<span class="col-xs-2" ng-bind="::addr.name"></span>
							<span class="col-xs-2"><strong>联系方式</strong></span>
							<span class="col-xs-6" ng-bind="::addr.tel"></span>
						</div>
						<div class="col-xs-12">
							<span class="col-xs-2"><strong>发货地址</strong></span>
							<span class="col-xs-2" ng-bind="::addr.area"></span>
							<span class="col-xs-6"  ng-bind="::addr.detailAddress"></span>
						</div>
					</div>
				</div>	
				<div style="text-align: center;">
					<a class="btn btn-primary" ng-click="entryCheck()">录入并核对信息</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div ng-if="deliveryStatusSaveDelivery && active=='tobeshippedback'">
	<div class="row-fluid sortable">
		<div class="box" >
			<div class="box-header well">
				<i class="icon-user"></i> 确认发货操作
			</div>
			<div class="box-content" style="font-size: 15px; ">
				<div ng-repeat="change in batchChange" class="repeatBorder" style="margin-bottom: 30px;" ng-init="change.expose=true">
					<div class="divTitle" ng-click="deliveryExpose(change)">
						<span role="button" ng-if="change.expose" style="margin-left: 10px;"><i class="fa fa-angle-down"></i>&nbsp;</span>
						<span role="button" ng-if="!change.expose" style="margin-left: 10px;"><i class="fa fa-angle-up"></i>&nbsp;</span>
						<span ng-bind="::change.changeid"></span>
						<span ng-bind="::change.logistics.companyName" style="margin-left: 20px; margin-right: 20px;"></span>
						<span ng-bind="::change.logistics.number"></span>
					</div>
					<div ng-if="change.expose" style="margin-left: 30px; font-size: 15px; line-height: 30px;">
						<div class="marginTop10">
							<div class="row">
								<span class="col-xs-2">总金额</span>
								<span class="col-xs-2">{{change.currencyName}} {{change.price | number:2}}</span>
								<span class="col-xs-2">创建时间</span>
								<span class="col-xs-6" ng-bind="change.createtime | date: 'yyyy-MM-dd HH:mm'"></span>
							</div>
						</div>
						<div class="marginTop10">
							<div class="row">
								<span class="col-xs-2">收货人姓名</span>
								<span class="col-xs-2" ng-bind="::change.jsonAddress.name"></span>
								<span class="col-xs-2">收货人联系方式</span>
								<span class="col-xs-6" ng-bind="::change.jsonAddress.tel"></span>
							</div>
							<div class="row">
								<span class="col-xs-2">发货人姓名</span>
								<span class="col-xs-2" class="marginRight98" ng-bind="::selectSendAddr.name"></span>
								<span class="col-xs-2">发货人联系方式</span>
								<span class="col-xs-6" ng-bind="::selectSendAddr.tel"></span>
							</div>
						</div>
						<div class="marginTop10">
							<div class="row">
								<span class="col-xs-2">收货人地址</span>
								<span class="col-xs-2" ng-bind="change.jsonAddress.area"></span>
								<span class="col-xs-6" ng-bind="change.jsonAddress.detailAddress"></span>
							</div>
							<div class="row">
								<span class="col-xs-2">发货人地址</span>
								<span class="col-xs-2" ng-bind="::selectSendAddr.area"></span>
								<span class="col-xs-7" ng-bind="::selectSendAddr.detailAddress"></span>
							</div>
						</div>
					</div>
				</div>
				<div style="text-align: center; margin-bottom: 15px;">
					<a class="btn btn-primary" ng-click="back()">返回上一步</a>
					<a class="btn btn-primary" ng-click="confirmAndDelivery()">确认并出货</a>
				</div>
			</div>
		</div>
	</div>
</div>