<style>
	#address_add_area a {
		text-decoration: none;
	}

	#address_add_area a:hover {
		text-decoration: none;
	}

	#address_add_area div.row {
		margin: 0;
	}

	#address_add_area .heigth30 {
		font-size: 14px;
	}

	#address_add_area div.form-body {
		padding: 0;
	}

	#address_add_area form {
		margin-top: 10px;
	}

	#address_add_area form div.form-group label.control-label {
		text-align: left;
		margin-left: 20px;
		font-weight: normal;
		font-size: 14px;
	}
	.logistics_list_xq dl dd:last-child em{
		background: #5078cb;
    }
	.select-adder{
		background:url("static/img/user/images/xiala.png") right no-repeat ;
		background-position-x: 150px;
	}

	.margin-bottom-15 {
		margin-bottom: 15px;
	}

	.padding-top-15 {
		padding-top: 15px;
	}

	.margin-top-15 {
		margin-top: 15px;
	}
	.log02 dl .line_open span a{
		margin-right: 0;
	}
	.log02 dl span {
		width: 13%;
	}
</style>
<!--右侧主体部分-->
<div class="user_right fr">
	<!--物流信息-->
	<div class="right_l">
		<div class="logistics_cter">
			<div class="oder01" style="margin-bottom: 0;">
				<ul>
					<!--<li ng-class="{'active' : tab=='tracking'}"><a href="javascript:void(0)">包裹跟踪</a></li>-->
					<!--<li ng-class="{'active' : tab=='tracking'}" ng-click="toggleTab('tracking')"><a href="javascript:void(0)">包裹跟踪</a></li>-->
					<li ng-class="{'active' : tab=='ship'}" ng-click="toggleTab('ship')"><a href="javascript:void(0)">包裹跟踪</a></li>
					<!--<li ng-class="{'active' : tab=='send'}" ng-click="toggleTab('send')"><a href="javascript:void(0)">发货地址</a></li>-->
				</ul>
			</div>
			<div class="logistics_cter_01">
				<!--物流信息-->
				<div class="tab" ng-if="tab=='tracking'" style="display: inline-block">
					<div class="log_cter_h">
						<span ng-bind="::order.orderid"></span><em></em>
						<span><a href="javascript:void(0)"><img src="static/img/user/images/shop_home.png"/><em ng-bind="::order.storeName"></em></a></span><em></em>
						<!--<span><img src="static/img/user/images/touxiang.png"/><a href="#" class="contact_btn">联系买家</a></span>-->
					</div>
					<div class="log_list">
						<ul class="clearfix">
							<li class="active">
								<em class="lg_01"></em>
								<p>已发货</p>
							</li>
							<li class="">
								<em class="lg_02"></em>
								<p>运输中</p>
							</li>
							<li class="">
								<em class="lg_03"></em>
								<p>派送中</p>
							</li>
							<li class="">
								<em class="lg_04"></em>
								<p>签收</p>
							</li>
						</ul>
					</div>
					<div class="logistics_list01" style="margin-top: 0px;">
						<!--<div class="log_menu"><span>您已完成提货</span></div>-->
						<div class="logistics_list_xq">
							<dl ng-if="logisticsInfo.length != 0">
								<dd ng-if="logisticsInfo.length != 0" ng-repeat="info in logisticsInfo"><em></em><span ng-bind="info.AcceptTime"></span><span ng-bind="info.AcceptStation"></span></dd>
							</dl>
							<div class="text-center f14 margin-top-15 padding-top-15 margin-bottom-15" ng-if="logisticsInfo.length == 0">
								暂时获取不到您订单的的物流信息
								<a href="javascript:history.go(-1)" style="margin-left:20px;font-size: 14px;"><i class="fa fa-mail-reply"></i>&nbsp;返回上一级</a>
							</div>
						</div>
					</div>
					<div class="logistics_banner02">
						<a href="javascript:void(0)"><img src="static/img/user/images/logistics_banner02.jpg"/></a>
					</div>
				</div>
				<!--收货地址信息-->
				<div class="log02 tab ticket_record_list" ng-if="tab=='ship'" style="display: inline-block">
					<dl>
						<dt>
							<span  class="wd01">联系人</span>
							<span class="wd01">详细地址</span>
							<!--<span>邮编</span>-->
							<span>联系电话</span>
							<span>编辑</span>
							<span>选择</span>
						</dt>
						<p class="height16">&nbsp;</p>
						<dd class="line_open">
                            <span style="width:98%">现有收货地址<em class="gray">已保存{{total}}条<!--，还能新增xx条地址--></em>
                                <a ng-if="isBiggerFive" ng-click="toggleShippingAddress()" style="padding-right: 14px;">
									{{addressEx.$expand ? '收起' : '展开'}}&nbsp;&nbsp;<i class="fa fa-angle-double-down" ng-class="{'fa-angle-double-down' : !addressEx.$expand, 'fa-angle-double-up' : addressEx.$expand}"></i>
								</a>
                            </span>
						</dd>
						<dd ng-repeat="address in addressList">
							<span ng-bind="address.name" class="textmore wd01"></span>
							<span class="textmore wd01">{{address.area + ' ' + address.detailAddress}}</span>
							<!--<span>232323</span>-->
							<span ng-bind="address.tel">1325698369</span>
							<span>
								<a ng-click="updateShippingAddress(address)">修改/</a>
								<a ng-click="deleteShippingAddress(address.id)">删除</a>
							</span>
							<span>
                                <a href="javascript:void(0)" class="default_act" ng-if="address.num == 1">默认地址</a>
								<a href="javascript:void(0)" class="default" ng-if="address.num != 1" ng-click="setDefaultShippingAddress(address.id)">设为默认</a>
                            </span>
						</dd>
						<!--<dd class="add_adress">
							<span><a href="#">+新增收货地址</a></span>
						</dd>-->
					</dl>
					<!--新增收货地址-->
					<div class="add_ticket">
						<div class="add_menu"><span>新增收货地址</span></div>
						<div class="add_ticket_form" id="address_add_area">
							<div class="row" >
								<div class="col-md-12 form-body">
									<form name="myForm" id="form" class="form-horizontal" role="form" ng-submit="save(address)" style="min-height: 253px;">
										<div class="form-group">
											<label for="userName" class="col-md-2 control-label">
												<span style="text-align: left;">收件人姓名</span>
												<strong class="text-inverse">*</strong>
											</label>
											<div class="col-md-6">
												<input required ng-model="address.name" type="text" class="form-control" id="userName"  name="userName"
													   placeholder="请输入姓名" ng-change="checkform(address.name,1)" autocomplete="off">
											</div>
											<div class="col-md-3">
												<span class="text-inverse error" ng-show="myForm.userName.$dirty && userError">请勿超过10个字</span>
												<span class="text-inverse heigth30" ng-show="myForm.userName.$touched && myForm.userName.$invalid">请输入姓名</span>
												<span ng-show="!myForm.userName.$invalid && !userError" class="text-success heigth30">填写正确</span>
											</div>
										</div>
										<div class="form-group ">
											<label class="col-md-2 control-label">
												所在区域<strong class="text-inverse">*</strong>
											</label>
											<div class="mar-rt0 row checkbox">
												<div class="col-md-3">
													<select required="" class="select-adder form-control"
														ng-model="address.province"
														ng-options="key as key for (key,value) in division"
														ng-change="address.city='';address.district='';"
														style="opacity: 1;">
														<option value="">省级行政区</option>
													</select>
												</div>
												<div class="col-md-3">
													<select class="select-adder form-control" ng-model="address.city"
														ng-options="key as key for (key,value) in division[address.province]"
														ng-change="address.district='';"
														style="opacity: 1;">
														<option value="">市</option>
													</select>
												</div>
												<div class="col-md-3">
													<select class="select-adder form-control" ng-model="address.district" style="opacity: 1;"
														ng-options="value as value for value in division[address.province][address.city]" required>
														<option value="">区</option>
													</select>
												</div>
											</div>
										</div>
										<div class="form-group">
											<label for="addr" class="col-md-2 control-label">
												详细地址<strong class="text-inverse">*</strong>
											</label>
											<div class="col-md-6">
												<input required ng-model="address.detailAddress" type="text" class="form-control" id="addr" name="addr"
												   placeholder="请输入您的详细地址" ng-change="checkform(address.name,2)">
											</div>
											<div class="col-md-3">
												<span ng-show="!myForm.addr.$invalid && !addrError" class="text-success heigth30">填写正确</span>
												<span class="text-inverse error" ng-show="myForm.addr.$dirty && addrError">请勿超过30个字</span>
												<span class="text-inverse error" ng-show="myForm.addr.$touched && myForm.addr.$invalid">详细地址不能为空</span>
											</div>
										</div>
										<!--<div class="form-group">
											<label for="postalCode" class="col-md-2 control-label">邮政编码</label>
											<div class="col-md-6">
												<input required ng-model="address.postalCode" type="text" class="form-control" id="postalCode" name="postalCode"
													   ng-pattern="/^[0-9]{4}[0-9]+$/" placeholder="请输入您的邮政编码">
											</div>
											<div class="col-md-3">
												<span ng-show="!myForm.postalCode.$invalid" class="text-success heigth30">正确</span>
											</div>
										</div>-->
										<div class="form-group">
											<label for="tel" class="col-md-2 control-label">手机号码<strong class="text-inverse">*</strong></label>
											<div class="col-md-6">
												<input required ng-model="address.tel" type="text" class="form-control" maxlength="11" id="tel" name="tel"
												   ng-pattern="/^[A-Za-z0-9\-\+]{7}[A-Za-z0-9]+$/" placeholder="8位以上手机号码" ng-blur="checkform(address.name,3)">
											</div>
											<div class="col-md-3" >
												<span ng-show="checkeds.tel == false && myForm.tel.$invalid" class="text-inverse heigth30">格式错误，不存在的手机号</span>
												<span ng-show="!myForm.tel.$invalid" class="text-success heigth30">填写正确</span>
											</div>
										</div>
										<div class="form-group">
											<label for="landlineNumber" class="col-md-2 control-label">座机号码</label>
											<div class="col-md-6">
												<input type="text" ng-model="address.landlineNumber" class="form-control" id="landlineNumber" name="landlineNumber" placeholder="请输入你的办公号码" ng-pattern="/^[0-9]{2,4}[\-\+]?[0-9]{6,8}$/" ng-blur="checkform(address.landlineNumber,4)" maxlength="13">
											</div>
											<div class="col-md-3">
												<span ng-show="checkeds.landlineNumber == false && myForm.landlineNumber.$invalid" class="format-error">格式错误，不存在的座机号</span>
												<span ng-show="!myForm.landlineNumber.$invalid && address.landlineNumber" class="text-success heigth30">填写正确</span>
											</div>
										</div>
										<div class="form-group">
											<label for="email" class="col-md-2 control-label">邮箱：</label>
											<div class="col-md-6">
												<input ng-model="address.email" type="text" class="form-control" id="email" ng-pattern="/[\w!#$%&'*+/=?^_`{|}~-]+(?:\.[\w!#$%&'*+/=?^_`{|}~-]+)*@(?:[\w](?:[\w-]*[\w])?\.)+[\w](?:[\w-]*[\w])?/"
												   placeholder="请输入您的邮箱" name="email" maxlength="50" ng-blur="checkform(address.name,5)">
											</div>
											<div class="col-md-3">
												<span ng-show="checkeds.email == false && myForm.email.$invalid" class="text-inverse heigth30">请输入邮箱</span>
												<span ng-show="!myForm.email.$invalid && address.email" class="text-success heigth30">填写正确</span>
											</div>
										</div>
										<div class="row">
											<div class="text-muted col-md-offset-2" style="padding-left: 24px;">用来接收订单提醒邮件，便于您及时了解订单状态</div>
										</div>
										<div class="form-group">
											<div class="col-md-offset-2">
												<div class="checkbox" style="padding-left: 50px; margin-top: 10px;">
													<label class="check-active">
														<input ng-model="isSetTop" type="checkbox" ng-checked="isSetTop" id="check-act">
														<label for="check-act"></label>
														<span>设为默认地址</span>
													</label>
												</div>
											</div>
										</div>
										<div class="form-group">
											<div class="col-md-offset-9">
												<div class="checkbox">
													<label>
														<a class="save" ng-disabled="myForm.$invalid||userError||addrError" ng-click="addShippingAddress(address, isSetTop, myForm, userError, addrError)">保存</a>
													</label>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="right_r">
		<div id="calender" class="right_r_01" style="margin-top:0px">
    		<div id="date"></div>
		</div>
		<!--<div class="logistics_banner01">
			<a href="#"><img src="static/img/user/images/logistics_banner01.jpg"/></a>
			<a href="#"><img src="static/img/user/images/logistics_banner01.jpg"/></a>
			<a href="#"><img src="static/img/user/images/logistics_banner01.jpg"/></a>
		</div>-->
	</div>
</div>
