<link rel="stylesheet" href="static/css/pay.css" />
<!--右侧主体部分-->
<div class="user_right fr">
	<div class="down-payment">
		<div class="content">
			<!--<div class="common-title margin-top-none">付款账户</div>-->
			<!--<div class="payment-style">-->
				<!--<ul>-->
					<!--<li ng-if="buyAccount">-->
						<!--<label class="check-act" style="margin-right: 64px;">-->
							<!--<input type="radio" id="1" name="1" checked/>-->
							<!--<label for="1"></label>-->
							<!--<em class="word-in-10" ng-bind="buyAccount.bankname" title="{{buyAccount.bankname}}"></em>-->
						<!--</label>-->
						<!--<div ng-bind="buyAccount.filterAccount"></div>-->
						<!--<div ng-bind="buyAccount.accountname"></div>-->
						<!--<div ng-if="buyAccountInfos.length > 1"><button class="change-count" ng-click="changebuyAccount(buyAccount.id)">更换账户</button></div>-->
					<!--</li>-->
					<!--<li class="no-count" ng-if="!buyAccount">-->
						<!--<span><i class="fa fa-exclamation-circle"></i>暂未设置付款账户，前往  <a href="javascript:void(0)" ng-click="editAccount()">设置付款账户</a></span>-->
					<!--</li>-->
				<!--</ul>-->
			<!--</div>-->
			<!--
			<div class="common-title margin-top-8">收款账户</div>
			<div class="payment-style">
				<ul class="payment-80">
					<li ng-if="!($$bankTransfer.installmentId && $$bankTransfer.installment.status != 503)">
						<label class="check-act" ng-click="selectPaymentType('PAIDTOPLATFORM')">
							<input type="radio" id="2" name="name" value="2" ng-checked="type == 'PAIDTOPLATFORM'"/>
							<label for="2"></label>
							<em>平台代收</em>
						</label>
						<div class="tip-content" style="margin-right: 45px;">
							<img src="static/img/common/notice-tip.png" />
							<div class="tip-content-01" style="top: 33px;">
								选择【平台代收】，货款将由优软商城<br/>
								在银行开立的第三方账户暂为保管，待<br/>
								您确认收货后，优软商城再和卖家结清。
							</div>
						</div>
						<div ng-if="type == 'PAIDTOPLATFORM'" ng-bind="saleAccount.bankname" title="{{saleAccount.bankname}}" class="word-in-10"></div>
						<div ng-if="type == 'PAIDTOPLATFORM'" ng-bind="saleAccount.number"></div>
						<div ng-if="type == 'PAIDTOPLATFORM'" ng-bind="saleAccount.accountname"></div>
					</li>
					<li ng-if="$$bankTransfer.installmentId">
						<label class="check-act" ng-click="selectPaymentType('PAIDTOVENDOR')">
							<input type="radio" id="3" name="name" value="3" ng-checked="type == 'PAIDTOVENDOR'"/>
							<label for="3"></label>
							<em>付款给卖家</em>
						</label>
						<div class="tip-content">
							<img src="static/img/common/notice-tip.png" />
							<div class="tip-content-01" style="top: 33px;height: 95px; left: -95px;">
								<em class="red">风险提示：</em><br/>
								选择【付款给卖家】，货款将直接支付<br/>
								到卖家的账户，该笔交易中因此直接或<br/>
								间接导致的损失，由用户自己承担。
							</div>
						</div>
						<div ng-if="type == 'PAIDTOVENDOR'" ng-bind="salePerAccount.bankname" title="{{salePerAccount.bankname}}" class="word-in-10"></div>
						<div ng-if="type == 'PAIDTOVENDOR'" ng-bind="salePerAccount.number"></div>
						<div ng-if="type == 'PAIDTOVENDOR'" ng-bind="salePerAccount.accountname"></div>
						<div ng-if="!salePerAccount || salePerAccount == null"><i class="fa fa-exclamation-circle" style="color: #5078cb;margin-right: 5px;"></i>尚未选择收款账户，请联系卖家处理</div>
					</li>
				</ul>
			</div>
			-->
			<div class="common-title margin-top-8" ng-if="type == 'PAIDTOVENDOR'">分期付款明细</div>
			<div class="payment-detail" ng-if="type == 'PAIDTOVENDOR'">
				<ul>
					<li ng-repeat="installmentDetail in installmentData.installmentDetails">
						<span>第{{numArray[$index+1]}}期</span>
						<span ng-bind="installmentDetail.price | currencySysmbol : $$bankTransfer.currency" style="width: 120px; display: inline-block; margin-right: 20px;"></span>
						<span>要求付款日期  {{installmentDetail.deadline | date : 'yyyy-MM-dd'}}</span>
						<em ng-if="installmentDetail.status == 505"><img src="static/img/icon/pay-ok-icon.png"/></em>
					</li>
				</ul>
			</div>
			<div class="common-title margin-top-8">水单扫描件</div>
			<div class="payment-upload-list" ng-if="type == 'PAIDTOVENDOR' && yesPayinstallmentDetails.length > 0">
				<div class="item" ng-repeat="installmentImg in yesPayinstallmentDetails">
					<div class="img-list">
						<div class="prev" ng-click="changePrev(installmentImg)"><i class="fa fa-angle-left"></i></div>
						<div class="img">
							<div class="number"><em>第{{numArray[$index+1]}}期</em></div>
							<div class="list" ng-repeat="img in installmentImg.installmentImages track by $index" ng-if="installmentImg.imgIndex == $index">
								<span><img ng-src="{{img}}"/></span>
								<div class="hover-show">
									<!-- 图片预览 -->
									<a ng-click="showImg(img)"><i class="fa fa-search"></i>查看</a>
								</div>
							</div>
						</div>
						<div class="next" ng-click="changeNext(installmentImg, $index)"><i class="fa fa-angle-right"></i></div>
					</div>
					<div class="small-img">
						<span ng-class="{'active': installmentImg.imgIndex == $index}" ng-repeat="img in installmentImg.installmentImages track by $index">
							<img ng-src="{{img}}" ng-click="changeImg(installmentImg, $index)"/>
						</span>
					</div>
					<div class="price-input"><input type="text" class="form-control" value="{{installmentImg.price | currencySysmbol : $$bankTransfer.currency}}" readonly/></div>
					<div class="time" ng-bind="installmentImg.deadline | date: 'yyyy-MM-dd HH:mm:ss'">2017-08-24 14:56:20</div>
				</div>
			</div>
			<div class="payment-upload">
				<ul ng-if="noPayinstallmentDetails.length == 0 || !noPayinstallmentDetails || $$bankTransfer.installment.status == 505">
					<li ng-repeat="images in imagesList track by $index">
						<div class="upload" id="uploadImg-{{$index}}">
							<div class="img" ng-if="!images.imageUrl || images.imageUrl == ''" image-upload  data-src="static/img/icon/payment-upload.png" on-success="onUploadPayment($data, $index)">
							</div>
							<div class="img" ng-if="images.imageUrl || images.imageUrl != ''">
								<img ng-src="{{images.imageUrl}}"/>
							</div>
							<div class="hover-show" ng-if="images.imageUrl">
								<span class="delete" title="删除" ng-click="deleteProofInfo($index)"><i class="fa fa-trash"></i></span>
								<!-- 图片预览 -->
								<a ng-click="showImg(images.imageUrl)"><i class="fa fa-search"></i>查看</a>
							</div>
						</div>
						<div class="price" ng-if="type == 'PAIDTOVENDOR'">
							<em ng-bind="$$bankTransfer.currency == 'USD'?'$':'￥'"></em>
							<input type="text" class="form-control" ng-model="diliverPrice[$index]" ng-blur="onDiliverPriceChange($index)"  placeholder="请输入金额"/>
						</div>
					</li>
					<li ng-click="addUploadImg()" ng-if="imagesList.length < 6">
						<div class="upload">
							<div class="img">
								<img src="static/img/icon/payment-add.png">
							</div>
						</div>
					</li>
				</ul>
				<ul ng-if="noPayinstallmentDetails">
					<li ng-repeat="images in installmentNoPayImg track by $index">
						<div class="upload" id="upload-{{$index}}">
							<div class="img" ng-if="!images.imageUrl || images.imageUrl == ''" image-upload data-src="static/img/icon/payment-upload.png" on-success="onUploadPaymentImg($data, $index)">
							</div>
							<div class="img" ng-if="images.imageUrl || images.imageUrl != ''">
								<img ng-src="{{images.imageUrl}}"/>
							</div>
							<div class="hover-show" ng-if="images.imageUrl">
								<span class="delete" title="删除" ng-click="deleteimg($index)"><i class="fa fa-trash"></i></span>
								<!-- 图片预览 -->
								<a ng-click="showImg(images.imageUrl)"><i class="fa fa-search"></i>查看</a>
							</div>
						</div>
						<div class="price" ng-if="type == 'PAIDTOVENDOR'">
							<em ng-bind="$$bankTransfer.currency == 'USD'?'$':'￥'"></em>
							<input type="text" class="form-control" ng-model="diliverPrice[$index]" ng-blur="onDiliverPriceChange($index)"  placeholder="请输入金额"/>
						</div>
					</li>
					<li ng-click="addUploadImgNopay($event)" ng-if="installmentNoPayImg.length < 6 && $$bankTransfer.installmentId">
						<div class="upload">
							<div class="img">
								<img src="static/img/icon/payment-add.png">
							</div>
						</div>
					</li>
				</ul>
				<div ng-if="type == 'PAIDTOVENDOR'" class="img-specifications">仅支持JPG、PNG、GIF、PDF格式，每张大小不超过3M，每期最多可上传6张图片</div>
				<div ng-if="type == 'PAIDTOPLATFORM'" class="img-specifications">仅支持JPG、PNG、GIF、PDF格式，每张大小不超过3M，最多可上传6张图片</div>
			</div>
		</div>
		<div class="pay-price">
			<div class="stage row">
				<div class="content">
					<p ng-if="type == 'PAIDTOVENDOR'"><span>已支付：</span><em ng-bind="yesPayinstallmentDetails.payTatalPrice | formateNumber : 2 | currencySysmbol : $$bankTransfer.currency">￥500</em></p>
					<p ng-if="type == 'PAIDTOVENDOR'"><span>待支付：</span><em class="bule" ng-bind="$$bankTransfer.total - yesPayinstallmentDetails.payTatalPrice | formateNumber : 2 | currencySysmbol : $$bankTransfer.currency">￥513131.32</em></p>
					<p class="total"><span>总价：</span><em class="red">{{$$bankTransfer.total | formateNumber : 2 | currencySysmbol : $$bankTransfer.currency}}</em></p>
				</div>
			</div>
			<div class="row" style="margin-top: 0;">
				<div class="deal-btn">
					<a ng-click="confirm()" class="ok">确认</a>
					<a ng-click="loadPage()" class="off">取消</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!--更换账户-->
<div class="change-count-box" ng-if="changebuyAccountBox">
	<div class="content-box">
		<div class="head">
			<a ng-click="cancelChange()">&times</a>
		</div>
		<div class="content-table">
			<ul>
				<li ng-repeat="item in buyAccountInfos">
					<label class="check-act">
						<input type="radio" id="{{item.id}}" name="name01" ng-click="selectItem(item)" ng-checked="isFalse || item.id == buyAccount.id"/>
						<label for="{{item.id}}"></label>
						<em ng-bind="item.bankname">中国银行</em>
					</label>
					<span class="width150" ng-bind="item.filterAccount">125963528469526354</span>
					<span class="width80" ng-bind="item.accountname">开户人名称</span>
				</li>
			</ul>
			<div class="deal-btn">
				<a ng-click="cancelChange()" class="off">取消</a>
				<a ng-click="confirmChange()" class="ok">确认</a>
			</div>
		</div>
	</div>
</div>
<style>
	.preview input{
		opacity: 0;
		display: inline-block !important;
		width: 114px;
		height: 114px;
		position: absolute;
		left: 0;
		top: 0;
	}
.change-count-box{
	position: fixed;
	z-index: 2;
	/*height: 258px;*/
	opacity: 1;
	background-color: white;
	width: 436px;
	box-shadow: 1px 0px 15px rgba(144, 140, 140, 0.5);
	margin: -240px 0 0 -218px;
	top: 55%;
	left: 50%;
	border-radius: 5px;
	padding-bottom: 20px;
}
.change-count-box .content-box{
	width: 100%;
	margin: 0 auto;
}
.change-count-box .content-box .head{
	width: 100%;
	height: 26px;
}
.change-count-box .content-box .head a{
	float: right;
	font-size: 18px;
	color: #dfdddd;
	margin: 1px 5px;
}
.change-count-box .content-box .content-table{
	width: 406px;
	margin: 0 auto;

}
.change-count-box .content-box .content-table ul{
	width: 100%;
	max-height: 170px;
	overflow-y: auto;
	display: inline-block;
	margin: 0 auto;
}
.change-count-box .content-box .content-table ul li{
	width: 100%;
	float: left;
	height: 34px;
	line-height: 34px;
	font-size: 14px;
}
 .change-count-box .content-box .content-table ul li:nth-child(odd){
	background: #f5f8fe;
 }
.change-count-box .content-box .content-table ul li:nth-child(even){
   background: #eaf1ff;
}
.change-count-box .content-box .content-table ul li .check-act{
	margin-right: 0;
	float: left;
}
.change-count-box .content-box .content-table ul li .check-act label{
	margin-left: 10px;
	top: 6px;
	margin-right: 5px;
}
.change-count-box .content-box .content-table ul li .check-act{
	width: 130px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 0;
}
.change-count-box .content-box .content-table ul li span{
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 34px;
	height: 30px;
}
.change-count-box .content-box .content-table ul li span.width150{
	width: 90px;
	margin: 0 30px;
}
.change-count-box .content-box .content-table ul li span.width80{
	width: 80px;
}
.change-count-box .content-box .content-table .deal-btn a {
	width: 60px;
	height: 26px;
	line-height: 26px;
}
</style>