<!--右侧主体部分-->
<style>
	#buyer_cart a {
		text-decoration: none;
	}
	#buyer_cart a.unstand{
		cursor: default ;
	}
	#buyer_cart a.unstand:hover{
		color: #666 !important ;
	}
	#buyer_cart a:hover {
		text-decoration: none;
	}

	#buyer_cart a[disabled], #buyer_cart a[disabled]:hover{
		background: #e8e8e8;
		border-bottom: #ccc 1px solid;
		color: #66667b;
	}

	.text-hidden {
		white-space: nowrap;
		overflow: hidden;
		word-break: normal;
		text-overflow: ellipsis;
	}

	label[disabled] {
		cursor: not-allowed;
	}

	.table-min-width {
		min-width: 330px;
		padding: 0px;
	}

	.dropdown-menu {
		display: none;
		position: absolute;
		background: #ffffff;
		text-align: center;
		cursor: pointer;
	}

	.dropdown-position {
		left: -310px!important;
		top: 35px!important;
		position: absolute!important;
	}

	.table {
		display: table;
		table-layout: fixed;
		width: 100%;
		border-collapse: collapse;
		position: relative;
		left: 0px;
	}

	.tr-background-color {
		background-color: #f5f5f5;
	}

	.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
		padding: 10px 5px;
		border-top: none;
	}

	.show-td-width {
		width: 110px;
		line-height: 0.6!important;
		font-weight: bold;
	}

	.show-fisrt-td {
		background-color: #ffffff;
		line-height: 0.6!important;
		border-bottom: #dfdfdf 1px solid !important;
	}
	.table>tr:last-child td{
		border-bottom: none !important;
	}
	.table tr td em{
		color: #666 !important;
		font-size: 14px;
	}
	.show-td-color {
		color: red;
		line-height: 0.6!important;
		border-bottom: #dfdfdf 1px solid !important;
	}
	.display-block {
		display: block;
	}
	.display-none {
		display: none;
	}
	#buyer_cart .shopCar .oder_list dl .line02 .car_pro_xq{
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	#buyer_cart .shopCar .oder_list dl .line02 .car_pro_xq:hover a{
		color: #333;
		text-decoration: none;
	}
	#buyer_cart .shopCar .oder_list dl .line02 .car_pro_xq i{
		float: left;
		width: 98%;
	}
	#buyer_cart .shopCar .oder_list dl span.wd02{
		width: 10%;
	}
	#buyer_cart .shopCar .oder_list dl span.wid24{
		width: 24%;
	}
	#buyer_cart .shopCar .text-center{
		padding: 20px 0;
		margin-top: 43px;
		margin-left: 33px;
		font-size: 14px;
	}
	#buyer_cart .shopCar .text-center img{
		height: 75px;
		/*margin: 20px 0 0 20px;*/
	}
	#buyer_cart .shopCar .text-center .col-xs-5{
		margin: 21px 0 45px;
		line-height: 25px;
		text-align: center;
		vertical-align: middle;

	}
	#buyer_cart .shopCar .text-center .col-xs-5 a{
		font-size: 12px;
		color: #5078cb;
	}
	#buyer_cart .shopCar .text-center .col-xs-5 p{
		font-size: 12px;
	}
	#buyer_cart .shopCar .text-center .col-xs-5 i{
		color: #5078cb;
		font-size: 12px;
	}
	.oder_list dl span label{
		margin-bottom: 0;
		vertical-align: sub;
	}
	.oder .oder_list dl dt,.oder .oder_list dl dt span,.oder .oder_list dl dd.line01,.oder .oder_list dl dd.line01 span{height: 40px;line-height: 40px;}

	#buyer_cart .shopCar .oder_list dl span.wd02 .price_btn{
		width: 100%;
		display: inline-block;
		position: relative;
		bottom: 108px;
		color: #5078cb;
		line-height: 30px;
	}
	.shopCar .oder_list dl .line02{
		height: 130px;
	}
	.shopCar .oder_list dl .line02 span{
		height: 130px;
		line-height: 130px;
	}
	.shopCar .oder_list dl .line02 span.sure_oder{
		background: none;
	}
	.shopCar .oder_list dl .pro_xq img{
		margin-top: 33px;
	}
	.shopCar .oder_list dl .deal_btn{
		vertical-align: middle;
		line-height: 25px;
		position: relative;
		top: 33%;
		padding-top: 0;
	}
	.shopCar .oder_list dl .deal_btn a:hover{
		color: #d32526;
	}
	.shopCar .oder_list dl .price_input p input[type="text"]{
		font-size: 14px;
	}
	.shopCar .oder_list dl div.off{
		background: #e8e8e8;
	}
	/*.shopCar .oder_list dl div.off:hover,.shopCar .oder_list dl div.off a:hover{
		cursor: not-allowed;
	}*/
	.shopCar .oder_list dl div.off .number:hover a{
		cursor: not-allowed;
	}
	.shopCar .oder_list dl div.off span{
		color: #666 !important;
	}
	.oder_list dl dd{
		width: 100%;
	}
	.shopCar .oder_list dl dd .check-active{
		max-width: inherit !important;
		margin-left: 13px;
	}
	.shopCar .oder_list dl dd .check-active span{
		margin-left: 0 !important;
		float: right;
		width: 30px;
	}
	.shopCar .oder_list dl div.off span.wd02 em,.shopCar .oder_list dl div.off .deal_btn a{
		color: #666;
	}
	.shopCar .oder_list dl dd.similar-product{
		width: 100%;
		height: 214px;
		background: #d7d7d7;
		position: relative;
	}
	.shopCar .oder_list dl .all_price div.fl a{
		margin: 0 0 0 10px;
		color: #333;
	}
	/*轮播*/
	.shopCar .oder_list dl dd.similar-product{
		position: relative;
		line-height: inherit;
		border-bottom: none;
	}
	.shopCar .carousel{
		height: 214px;
	}
	.shopCar .carousel .carousel-indicators{
		bottom: 5px;
	}
	.similar-product ul{
		width: 100%;
		margin: 0 auto;
		display: inline-block;
		margin-top: 15px;
	}
	.similar-product ul li{
		width: 155px;
		height: 182px;
		border: #dcdcdc 1px solid;
		float: left;
		text-align: center;
		margin-left: 14px;
		margin-bottom: 15px;
		background: #fff;
	}
	.similar-product ul li:hover{
		/*border: #5078cb 1px solid;*/
		cursor: pointer;
	}
	.similar-product ul li div.img{
		width: 100%;
		height: 100px;
		line-height: 100px;
	}
	.similar-product ul li div.img img{
		max-width: 100%;
		max-height: 96px;
	}
	.similar-product ul li div.content{
		width: 100%;
		height: 98px;
		border-top: #e8e8e8 1px solid;
		padding-top: 5px;
	}
	.similar-product ul li div.content p{
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		font-size: 12px;
		line-height: 15px;
		color: #666;
		width: 88%;
		display: inline-block;
		margin: 0 auto;
		text-align: left;
	}
	.red{
		color: #ff0000 !important;
	}
	.similar-product ul li div.content p s{
		color: #999 !important;
		font-size: 12px;
	}
	.similar-product .carousel-control.right,.similar-product .carousel-control.left{
		background: none;
		box-shadow: none;
	}
	.similar-product .carousel-control.right span,.similar-product .carousel-control.left span{
		font-size: 50px;
	}
	.similar-product .carousel-control{
		width: 30px;
		font-size: 50px;
		line-height: 220px;
	}
	.oder_list dl .line02{
		min-height: 130px;
	}
	.f14{
		font-size: 14px !important;
	}
	.shopCar .oder_list dl dd span.wd02{
		line-height: 130px;
	}
	.shopCar .oder_list dl .btn-wrap{
		margin-top: 50px;
		margin-left: 20px;
	}
	.shopCar .oder_list dl .line02 .car_pro_xq{
		line-height: 28px;
	}
	#buyer_cart .shopCar .oder_list dl span.wd02{
		width: 13.3%;
	}
	.shopCar .btn-wrap .number{
		border-radius: 0;
	}
	.shopCar .btn-wrap .number a{
		height: 30px;
		line-height: 27px;
	}
	.shopCar .btn-wrap .number input{
		width: 70px;
		height: 29px;
		line-height: 29px;
		border: 1px solid #ccc;
	}
	.shopCar .btn-wrap .number{
		width: 124px;
		height: 31px !important;
	}
	.shopCar .btn-wrap .number a{
		font-size: 20px;
	}
	.shopCar .oder_list dl span{
		width: 16%;
	}
	.shopCar .oder_list dl .all_price div.fl a:hover{
		color: #5078cb;
	}
	.oder .oder_list dl dt span.wd01 label:before{
		top: -12px;
		color: #333;
	}
	.shopCar .oder_list dl .deal_btn i{
		font-size: 16px;
		margin-left: 3px;
	}
	.oder_list dl dt{
		width: 100%;
	}
	.shopCar .oder_list dl .deal_btn a.active i{
		-webkit-transform: rotateZ(180deg);
		-moz-transform: rotateZ(180deg);
		-o-transform: rotateZ(180deg);
		-ms-transform: rotateZ(180deg);
		transform: rotateZ(180deg);
	}
	.buyer-contact {
		position: absolute;
		z-index: 2;
		min-height: 155px;
		opacity: 1;
		background-color: white;
		width: 600px;
		top: 40px;
		left: -144px;
		border: 1px solid #E7E5E2;
		-webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
		box-shadow: 0 5px 15px rgba(0,0,0,.5);
	}

	.display-none {
		display: none;
	}
	.buyer-contact .contact-title {
		height: 26px;
		background-color: #5078cb;
		text-align: right;
		padding-right: 15px;
		line-height: 26px;
		color: white;
	}

	.oder .oder_list dl dd.line01 .buyer-contact .contact-title a, .oder .oder_list dl dd.line01 .buyer-contact .contact-title a:hover {
		color: white !important;
	}

	.buyer-contact .contact-title a:hover > i{
		color: white !important;
	}

	.buyer-contact .contact-buyer-info {
		margin-left: 24px;
		margin-right: 24px;
		background-color: #5078cb;
		color: #ffffff;
		margin-top: 15px;
		margin-bottom: 12px;
		border-radius: 4px;
		font-family: "Microsoft Yahei", "微软雅黑";
		min-height: 150px;
	}

	.buyer-contact .contact-buyer-info div {
		text-align: left;
		font-size: 14px;
		padding-left: 15px;
		padding-right: 15px;
	}

	.buyer-contact .contact-buyer-info .company-name {
		text-align: center;
		font-size: 18px;
		padding-top: 15px;
	}

	.buyer-contact .send-message {
		width: 553px;
		height: 258px;
		background-color: #F7F7F6;
		padding-left: 13px;
		padding-top: 15px;
		border-radius: 4px;
		border: none;
	}

	.buyer-contact .send-button .send{
		width: 100px;
		background-color: #3A76E3;
		color: white;
		display: inline-block;
		border-radius: 3px;
		height: 32px;
		line-height: 32px;
	}
	.page ul li a{
		margin-top: 2px;
	}
	.page{
		top: 0;
	}
	.page ul{
		margin: 5px 0;
	}
	.shopCar .oder_list dl .all_price label{
		margin-bottom: 0;
	}
	.shopCar .oder_list dl .all_price{
		overflow: hidden;
	}
	.shopCar .oder_list dl .all_price.fixed-bottom{
		position: fixed;
		bottom: 0;
		background: #e0dedf;
		width: 1026px;
		z-index: 1000;
	}
	.similar-product ul li{
		position: relative;
		overflow: hidden;
	}
	.similar-product ul li:hover .hover-btn{
		bottom: 0;
	}
	.similar-product ul li .hover-btn{
		position: absolute;
		bottom: -30px;
		left: 0;
		width: 100%;
		height: 30px;
	}
	.similar-product ul li .hover-btn a{
		display: inline-block !important;
		width: 100%;
		float: left;
		font-size: 14px;
		color: #fff;
		text-align: center;
		line-height: 30px;
	}
	.similar-product ul li .hover-btn a:first-child{
		background: #e83030;
	}
	.similar-product ul li .hover-btn a:last-child{
		background: #555555;
	}
	.similar-product ul li .hover-btn a:hover{
		opacity: .9;
	}
	.shopCar .oder_list dl .deal_btn.top{
		top: 20%;
	}
	.sure_oder select:disabled.select{
		background: url(static/img/user/images/select-disabled.png) no-repeat right;
		border: #ccc 1px solid;
		color: #ccc;
	}
	.sure_oder select:disabled.select:hover{
		cursor: not-allowed;
	}
	/*添加是否可拆买、库存不足等提示*/
	/*.shopCar .oder_list dl .line02 em.tip{*/
		/*display: inline-block;*/
		/*margin-top: 6px;*/
		/*width: 165px;*/
		/*text-align: left;*/
		/*font-size: 12px;*/
		/*font-weight: normal ;*/
		/*line-height: 18px;*/
		/*color: #e64040;*/
	/*}*/
	/*.shopCar .oder_list dl .line02 em.tip i{*/
		/*font-size: 12px;*/
		/*font-style: normal ;*/
		/*color: #e64040;*/
	/*}*/
	/*.shopCar .oder_list dl .line02 em.tips{*/
		/*width: 124px;*/
		/*text-align: center;*/
	/*}*/
	/*.shopCar .oder_list dl .line02 em.tip1{*/
		/*width: 200px;*/
		/*margin-left: -10px;*/
	/*}*/
    /*删除弹框样式调整*/
    .modal-content {
        background-color: transparent;
        border: none;
        border-radius: 0;
        box-shadow: none;
    }
	.com-del-box {
		top: 101%!important ;
		left: 24%!important ;
		background: #fff !important;
	}
	.com-del-box .title{
		width: 100%!important ;
	}
	.com-del-box .title i{
		background: none;
	}
</style>
<div class="user_right fr" id="buyer_cart">
	<!--订单中心-->
	<div class="shopCar oder">
		<div class="oder01"style="margin-bottom: 16px;">
			<ul>
				<li class="active"><a href="javascript:void(0)"> 所有产品({{countCart}})</a></li>
				<!--<li><a href="javascript:void(0)">库存紧张<em>（0）</em></a></li>-->
				<!--<li><a href="javascript:void(0)">已下架（0）</a></li>-->
			</ul>
		</div>
		<div class="oder_list" style="margin-top: 0; background: #f5f5f5;">
			<!--<div class="page">-->
				<!--<ul>-->
					<!--<li><a ng-click="jumpToPage(pageInfo.page - 1)">上一页</a> </li>-->
					<!--<li>第<input ng-model="toPage" ng-search="jumpToPage(toPage)">页</li>-->
					<!--<li><a ng-click="jumpToPage(pageInfo.page + 1)">下一页</a> </li>-->
				<!--</ul>-->
			<!--</div>-->
			<!--购物车清单-->
			<dl style="display: inline-block;" when-scrolled="scrollLoadData()">
				<dt>
					<span class="wd01"><input ng-disabled="cartMap.length == 0" type="checkbox" id="checkonAll" name="checkbox" ng-checked="isChooseAll" ng-click="chooseAllCarts()"/><label for="checkonAll" ng-disabled="cartMap.length == 0"></label></span>
					<span class="wid24">产品信息</span>
					<span class="wd02">交期(天)</span>
					<span>单价</span>
					<span>数量</span>
					<span class="wd02">小计</span>
					<span class="wd02">交易操作</span>
				</dt>
				<p class="height16">&nbsp;</p>
				<!--01-->
				<!--循环的内容-->
				<div style="display: inline-block; width:100%;" ng-repeat="store in cartMap">
					<dd class="line01">
						<span class="wd01">
							<input type="checkbox" id="{{store.name}}" name="checkbox" ng-model="selectedStore[store.name]" ng-click="chooseStoreCarts(store.name)"/><label for="{{store.name}}"></label>
						</span>
						<!--<span>日期：2017-02-20</span>-->
						<span style="width: 29%; text-align: left;">
							<a ng-href="store/{{store.arr[0].storeUuid}}" target="_blank">
								<img src="static/img/user/images/shop_home.png"/>
								<em ng-bind="::store.name"></em>
								<em ng-if="store.arr[0].storeType == 'ORIGINAL_FACTORY'">&nbsp;<img src="static/img/icon/icon-factory.png" width="26" height="35"/></em>
								<em ng-if="store.arr[0].storeType == 'AGENCY'">&nbsp;<img src="static/img/icon/icon-agent.png" width="26" height="35"/></em>
								<em ng-if="store.arr[0].storeType == 'DISTRIBUTION'">&nbsp;<img src="static/img/icon/icon-distribution.png" width="26" height="35"/></em>
								<em ng-if="store.arr[0].storeType == 'CONSIGNMENT'">&nbsp;<img src="static/img/icon/consignment.png" width="26" height="35"/></em>
							</a>
						</span>
						<span style="width: 22%; text-align: left; position: relative;"><img src="static/img/common/songguo.png">
							<a name="{{store.arr[0].id}}" href="javascript:void(0)" class="contact_btn" ng-controller="ChatContactCtrl as chat" ng-click="chat.contactWithOther(store.arr[0].sellPhone, store.arr[0].storeEnterprise.enUU, chat.UserType.STORE)">联系卖家</a>
							<!--<a name="{{store.arr[0].id}}" href="javascript:void(0)" class="contact_btn" ng-click="showContact(store.arr[0])">联系卖家</a>-->
							<div name="{{store.arr[0].id}}" class="buyer-contact" ng-if="store.arr[0].contactSeller">
									 <div class="contact-title">
										 <a ng-click="store.arr[0].contactSeller = false"><i class="fa fa-close fa-lg" aria-hidden="true"></i></a>
									 </div>
									 <div class="contact-buyer-info">
										 <div class="company-name">{{::store.name}}</div>
										 <div>
											 <em>手机：<em>{{store.arr[0].sellPhone || '-'}}</em></em>
											 <em style="margin-left: 60px;">邮箱：<em>{{store.arr[0].sellEmail || '-'}}</em></em>
										 </div>
										 <div>地址：<em>{{store.arr[0].sellCompanyAddress || '-'}}</em></div>
									 </div>
								</div>
						</span>
					</dd>
					<div  ng-repeat="cart in store.arr" ng-class="{'off  ': cart.status == 1}">
						<dd class="line02">
							<span class="wd01">
								<p ng-if="cart.status == 1" style="font-size: 14px;">失效</p>
								<input ng-click="check(cart)" type="checkbox" id="{{'$' + cart.id}}" name="checkbox" ng-model="cart.isSelect"/><label for="{{'$' + cart.id}}" ng-disabled="cart.status == 1" ng-if="cart.status != 1"></label>
							</span>
							<span  class="wid24">
								<div class="pro_xq">
									<a href="store/productDetail/{{::cart.batchCode}}" target="_blank">
                                        <img ng-src="{{cart.img || 'static/img/store/common/default.png'}}" width="60" height="60"/></a>
									<div class="car_pro_xq">
									    <i class="text-hidden" ng-if="!cart.uuid">类目：<a ng-bind="::cart.kiName || '-'" title="{{::cart.kiName}}" class="unstand"></a></i>
									    <i class="text-hidden" ng-if="cart.uuid">类目：<a href="product/kind/{{cart.goods.kindUuid}}" target="_blank" ng-bind="::cart.kiName" title="{{::cart.kiName}}"></a></i>
									    <i class="text-hidden">型号：<a href="store/productDetail/{{::cart.batchCode}}" target="_blank" ng-bind="::cart.code || '-'" title="{{::cart.code}}"></a></i>
									   <i class="text-hidden" ng-if="!cart.uuid">品牌：<a ng-bind="::cart.goods.brandNameEn || '-'" title="{{::cart.goods.brandNameEn}}" class="unstand"></a></i>
									   <i class="text-hidden" ng-if="cart.uuid">品牌：<a href="product/brand/{{::cart.goods.branduuid}}/" target="_blank" ng-bind="::cart.goods.brandNameEn" title="{{::cart.goods.brandNameEn}}"></a></i>
									</div>
								</div>
                        	</span>
							<span class="wd02">
								<p class="f14">
									交期&nbsp;:&nbsp;
									<i ng-if="cart.goods.b2cMinDelivery&&(cart.goods.b2cMinDelivery == cart.goods.b2cMaxDelivery)" ng-bind="cart.goods.b2cMinDelivery"></i>
									<i ng-if="cart.goods.b2cMinDelivery&&(cart.goods.b2cMinDelivery != cart.goods.b2cMaxDelivery)" ng-bind="cart.goods.b2cMinDelivery + '-' + cart.goods.b2cMaxDelivery"></i>
									<i ng-if="!cart.goods.b2cMinDelivery&&(cart.buyCurrency == 'RMB')&&(cart.goods.b2cDeliveryDemMinTime == cart.goods.b2cDeliveryDemMaxTime)" ng-bind="cart.goods.b2cDeliveryDemMaxTime"></i>
									<i ng-if="!cart.goods.b2cMinDelivery&&(cart.buyCurrency == 'RMB')&&(cart.goods.b2cDeliveryDemMinTime != cart.goods.b2cDeliveryDemMaxTime)" ng-bind="cart.goods.b2cDeliveryDemMinTime + '-' + cart.goods.b2cDeliveryDemMaxTime"></i>
									<i ng-if="!cart.goods.b2cMinDelivery&&(cart.buyCurrency == 'USD')&&(cart.goods.b2cDeliveryHKMinTime == cart.goods.b2cDeliveryHKMaxTime)" ng-bind="cart.goods.b2cDeliveryHKMaxTime"></i>
									<i ng-if="!cart.goods.b2cMinDelivery&&(cart.buyCurrency == 'USD')&&(cart.goods.b2cDeliveryHKMinTime != cart.goods.b2cDeliveryHKMaxTime)" ng-bind="cart.goods.b2cDeliveryHKMinTime + '-' + cart.goods.b2cDeliveryHKMaxTime"></i>
								</p>
								<!--<p class="f14" ng-if="cart.buyCurrency == 'RMB'">大陆{{cart.goods.b2cMinDelivery}}-{{cart.goods.b2cMaxDelivery}}</p>-->
								<!--<p class="f14" ng-if="cart.buyCurrency == 'USD'">香港{{cart.goods.b2cMinDelivery}}-{{cart.goods.b2cMaxDelivery}}</p>-->
							</span>
							<span class="sure_oder">
								<p ng-if="cart.goods.currencyName.indexOf('RMB-USD') == -1" ng-bind="cart.price" class="f14"></p>
								<select ng-disabled="cart.isSelect || cart.status == 1" ng-if="cart.goods.currencyName.indexOf('RMB-USD') > -1" class="select" style="opacity: 1;padding-left: 10px;" ng-model="cart.buyCurrency" ng-change="selectCurr(cart, cart.buyCurrency)">
									<option value="RMB" selected="selected" ng-bind="cart.rMBPrice | formateNumber : 6 | currencySysmbol : 'RMB'"></option>
									<option value="USD" ng-bind="cart.uSDPrice | formateNumber : 6 | currencySysmbol : 'USD'"></option>
								</select>
							</span>
							<span>
								<div class="btn-wrap">
									<span class="number">
										<a class="reduce" ng-disabled="cart.minusDisabled || cart.status == 1" ng-click="reduce(cart)">-</a>
										<input type="text" ng-disabled="cart.status == 1" ng-model="cart.number"  ng-blur="blurNum(cart)">
										<a class="add" ng-disabled="cart.addDisabled || cart.status == 1" ng-click="add(cart)">+</a>
									</span>
									<i ng-if="cart.status == 2" style="color: #f00; margin-left: 32px;">库存紧张</i>
									<!--<em class="tip tip1" ng-if="!cart.goods.breakUp && cart.inputError == 3">不支持拆包且包装数量为<i ng-bind="cart.minPackQty"></i></em>-->
									<!--<em class="tip tips" ng-if="cart.goods.breakUp && cart.noInputError == 2">库存不足</em>-->
									<!--<em class="tip tips" ng-if="!cart.goods.breakUp && cart.inputError == 2">库存不足</em>-->
									<!--<em class="tip tips" ng-if="cart.goods.breakUp  && cart.noInputError == 1">最小起订量为<i ng-bind="cart.goods.minBuyQty"></i></em>-->
									<!--<em class="tip tips" ng-if="!cart.goods.breakUp && cart.inputError == 1">最小起订量为<i ng-bind="cart.goods.minBuyQty"></i></em>-->
								</div>
							</span>
							<span class="wd02" style="position: relative">
								<em ng-if="cart.buyCurrency == 'RMB'">￥<em ng-bind="cart.RMBCount | formateNumber : 6"></em></em>
								<em ng-if="cart.buyCurrency == 'USD'">$<em ng-bind="cart.USDCount | formateNumber : 6"></em></em>
								<a class="price_btn" name="{{cart.id}}" ng-click="togglePrice(cart)" ng-if="cart.goods.prices.length > 1" ng-blur="togglePriceBlur(cart)">价格梯度</a>
								<table class="table dropdown-menu table-min-width dropdown-position" ng-class="{true : 'display-block', false : 'display-none'}[cart.display=='block']" role="menu" ng-if="cart.goods.prices.length > 1">
									<tbody>
										<tr class="tr-background-color">
											<td class="show-td-width">数量</td>
											<td class="show-td-width">含税单价¥</td>
											<td class="show-td-width">单价$</td>
										</tr>
										<tr ng-repeat="p in cart.goods.prices">
											<td class="show-fisrt-td"><em ng-bind="p.start + '+'"></em></td>
											<td class="show-td-color"><em ng-bind="p.rMBPrice | formateNumber : 6"></em></td>
											<td class="show-td-color"><em ng-bind="p.uSDPrice | formateNumber : 6"></em></td>
										</tr>
									</tbody>
								</table>
							</span>
							<span class="wd02">
								<div class="deal_btn" ng-class="{'top': cart.similarCount!=0}">
									<!--<a ng-click="">申请样品</a>-->
									<!--<a ng-if="!cart.isActive" style="color: red;">该批次已下架</a>-->
									<!--<a ng-click="collect(cart.uuid, cart.id)" title="移入收藏">移入收藏</a>-->
									<a ng-click="deleteById(cart.id)" title="删除">删除</a>
									<a ng-click="similarOpen(cart)" title="相似产品" style="color: #5078cb !important;" ng-class="{'active': cart.similarShow}" ng-if="cart.similarCount!=0">相似产品<i class="fa fa-angle-down"></i></a>
								</div>
							</span>
						</dd>
						<!--相似产品-->
						<dd class="similar-product" ng-if="cart.similarShow">
							<div id="myCarousel" class="carousel slide pad_010 b_k" data-ride="carousel">
								<!-- 轮播（Carousel）指标 -->
								<!--<ol class="carousel-indicators">
									<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
									<li data-target="#myCarousel" data-slide-to="1"></li>
								</ol>-->
								<!-- 轮播（Carousel）项目 -->
								<div class="carousel-inner bor_btm">
									<div class="item active" >
										<div class="pic">
											<ul>
												<li ng-repeat="similar in cart.similarities">
													<div class="img">
														<a href="store/productDetail/{{::similar.batchCode}}"><img ng-src="{{similar.img || 'static/img/store/common/default.png'}}" alt="" /></a>
													</div>
													<div class="content">
														<p class="red" ng-if="similar.minPriceRMB">
															<em ng-bind="similar.minPriceRMB | formateNumber : 6 | currencySysmbol : 'RMB'"></em>
														</p>
														<p class="red" ng-if="!similar.minPriceRMB">
															<em ng-bind="similar.minPriceUSD | formateNumber : 6 | currencySysmbol : 'USD'"></em>
														</p>
														<p ng-bind="similar.kindNameCn"></p>
														<p ng-bind="similar.code"></p>
														<p ng-bind="similar.brandNameCn"></p>
													</div>
													<div class="hover-btn">
														<a ng-show="item.status&&!isBatch" ng-click="addToCart(similar, false, similar.minBuyQty, similar.currencyName)">加入购物车</a>
														<a ng-click="addToCart(similar, false, similar.minBuyQty, similar.currencyName)">加入购物车</a>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<!-- 轮播（Carousel）导航 -->
								<!--<a class="carousel-control left" href="#myCarousel">&lsaquo;</a>
								<a class="carousel-control right" href="#myCarousel">&rsaquo;</a>-->
							</div>
						</dd>
					</div>
				</div>
				<div class="text-center row"ng-if="cartIsEmpty">
					<div class="col-xs-offset-3 col-xs-2">
						<img src="static/img/all/empty-cart.png">
					</div>
					<div class="col-xs-5">
						<p class="grey f16">您的购物车空空如也，请先挑选您想要购买的产品吧！</p>
						<a href=".">马上去逛一逛</a>&nbsp;<i class="fa fa-arrow-right"></i>
					</div>
				</div>
				<p class="height16" ng-if="!cartIsEmpty">&nbsp</p>
				<dd class="all_price fixed-bottom" ng-if="!cartIsEmpty && countByPage > 4">
					<div class="fl">
						<label class="check-active">
							<input type="checkbox" ng-checked="isChooseAll" ng-click="chooseAllCarts()" id="checkonAll">
							<label for="checkonAll"></label>
							<span>全选</span>
						</label>
						<a ng-click="deleteById()">批量删除</a>
						<!--<a ng-click="">申请样品</a>-->
						<!--<a ng-click="collect()">移入收藏</a>-->
						<a ng-click="deleteInvalid()">清空失效产品</a>
					</div>
					<div class="fr">
						<em style="font-size: 14px; color: #333; margin-right: 20px;">已选择
							<em ng-bind="totalMoneyInfo.countBT" style="color: #5078cb; font-size: 14px;"></em>件产品</em>
						总计：
						{{totalMoneyInfo.total | formateNumber : 2 | currencySysmbol : totalMoneyInfo.currencyName}}
						<a href="javascript:void(0)" class="settlement" ng-click="submitOrder()">去结算</a>
					</div>
				</dd>
				<dd class="all_price" ng-if="!cartIsEmpty">
					<div class="fl">
						<label class="check-active">
							<input type="checkbox" ng-checked="isChooseAll" ng-click="chooseAllCarts()" id="checkonAll">
							<label for="checkonAll"></label>
							<span>全选</span>
						</label>
						<a ng-click="deleteById()">批量删除</a>
						<!--<a ng-click="">申请样品</a>-->
						<!--<a ng-click="collect()">移入收藏</a>-->
						<a ng-click="deleteInvalid()">清空失效产品</a>
					</div>
					<div class="fr">
						<em style="font-size: 14px; color: #333; margin-right: 20px;">已选择
							<em ng-bind="totalMoneyInfo.countBT" style="color: #5078cb; font-size: 14px;"></em>件产品</em>
						总计：
						{{totalMoneyInfo.total | formateNumber : 2 | currencySysmbol : totalMoneyInfo.currencyName}}
						<a href="javascript:void(0)" class="settlement" ng-click="submitOrder()">去结算</a>
					</div>
				</dd>
			</dl>
		</div>
	</div>
	<!--<div class="love_list">
		<div class="rt_menu"><span><img src="static/img/user/images/love.png"/>猜您喜欢 </span></div>
		<ul>
			<li ng-repeat="recommendComp in recommendComps">
				<a ng-href="product/component/{{recommendComp.uuid}}/"><img ng-src="{{recommendComp.img}}"/><p><em ng-cloak="">{{recommendComp.code}}</em></p></a>
				<span><a href="" ng-controller="CollectCtrl" ng-click="collect(recommendComp.id)">加入收藏</a> </span>
			</li>
		</ul>
	</div>-->
</div>
<style>
	.no-store{
		height: 255px;
		width:100%;
		display:inline-flex;
		justify-content: center;
		align-items: center;
		background: white;
	}
	.no-store p{
		padding-top:10px;
		font-size: 14px;
		color: #999;
		margin-left:15px;
		line-height: 28px;
	}
	.no-store p a{
		color: #5078cb;
		display: block;
		background: url(static/img/all/icon_nianxian.jpg)no-repeat;
		background-position: 0px 7px;
		padding-left: 25px;
	}
</style>
<script>
    $(function(){
        $(window).bind("scroll",function() {
            // 判断窗口的滚动条是否接近页面底部，这里的20可以自定义
            if ($(document).scrollTop() + $(window).height() > $(document).height() - 330) {
                $('.shopCar .oder_list dl .all_price.fixed-bottom').slideUp()
            }else {
                $('.shopCar .oder_list dl .all_price.fixed-bottom').slideDown()
            }
        })
    })
</script>