<style>
    .u_c_invoice {
        background: #fff;
    }
    .u_c_invoice select {
        opacity: 1
    }

    .u_c_invoice .invoice-list-title {
        /*margin-bottom: 16px;*/
    }
    .u_c_invoice .ticket_record_list {
        background: #fff;
        min-height: 323px;
    }
    .u_c_invoice #add-invoice {
        width: 100%;
        background: #fff;
        margin-top: 16px;
        padding-bottom: 20px;
    }
    .u_c_invoice #add-invoice label{
        font-size: 14px;
    }
    .u_c_invoice .add-invoice-title {
        width: 98%;
        height: 45px;
        line-height: 45px;
        display: inline-block;
        border-bottom: #e8e8e8 1px solid;
        font-size: 14px;
        margin-left: 15px;
        font-weight: bold;
    }
    .u_c_invoice .invoice-type > label {
        font-weight: normal;
        padding: 15px 0 15px 3em;
    }
    .u_c_invoice .invoice-type > div {
        padding: 15px 13px;
    }
    .u_c_invoice #add-invoice > div > div > label > input[type=radio] {
        margin-top: auto;
    }
    .u_c_invoice .add-invoice-form .form-group label {
        padding-left: 2.5em;
        font-weight: normal;
    }
    .select-adder{
        background:url("static/img/user/images/xiala.png") right no-repeat ;
        background-position-x: 140px;
    }
    .u_c_invoice #add-invoice .form-group{
        line-height: 34px;
    }
    .ticket_record .ticket_record_list .ticket_record_title {
        padding: 8px 18px;
    }
    .ticket_record .ticket_record_list .ticket_record_title .l_title {
        font-size: 14px;
    }
    .ticket_record .ticket_record_list .ticket_record_title .add_btn{
        width: auto;
        height: 40px;
        text-align: center;
        float: right;
        font-size: 12px;
        margin-right: 32px;
    }
    .ticket_record .ticket_record_list .ticket_record_title .add_btn i{
        background: white;
        color: #32b500;
        margin-right: 5px;
        font-size: 14px;
    }
    .ticket_record .ticket_record_list .ticket_record_title .add_btn:hover{
        cursor: pointer;
    }
    .ticket_record_list dl dt span {
        font-weight: bold;
        color: #fff;
        background: #89aefa;
    }
    .match-menu {
        width: 100%;
        height: 20px;
        line-height: 20px;
    }
    .match-menu span.active {
        background: #fff;
        border: #82d2fa 1px solid;
        border-bottom: #fff 1px solid;
    }
    .match-menu span {
        display: inline-block;
        text-align: center;
        width: 100px;
        height: 20px;
        background: #eee;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        margin-left: 390px;
        line-height: 19px;
        position: relative;
        bottom: 20px;
    }
    .match-menu span.active a {
        color: #333;
    }
    .match-menu span a {
        font-size: 12px;
        color: #999;
        display: inline-block;
        height: 20px;
        width: 78px;
    }
    a:hover {
        text-decoration: none;
    }
    .match-menu span i {
        font-size: 14px;
        color: #999;
    }
    .match-menu span i:hover, .match-menu span a:hover {
        color: #5078cb;
    }
    .ticket_record .oder01 ul.active {
        border-bottom: #82d2fa 1px solid;
    }
    /*提示框样式*/
    .com-del-box{
        position: fixed;
        z-index: 2;
        height: 152px;
        opacity: 1;
        background-color: white;
        width: 310px;
        -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
        box-shadow: 0 5px 15px rgba(0,0,0,.5);
        margin: -155px 0 0 -75px;
        top: 55%;
        left: 50%;
    }
    .com-del-box .title{
        height: 30px;
        background-color: #5078cb;
        text-align: right;
        padding-right: 15px;
        line-height: 30px;
    }
    .com-del-box .title a{
        color: white;
        font-size: 16px;
    }
    .com-del-box .content{
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    .com-del-box .content p{
        line-height: 50px;
        font-size: 14px;
        padding-top: 10px;
    }
    .com-del-box .content p i{
        color: #5078cb;
        font-size: 16px;
        margin-right: 10px;
    }
    .com-del-box .content div{
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    .com-del-box .content div a{
        width: 55px;
        height: 26px;
        line-height: 26px;
        display: inline-block;
        text-align: center;
        font-size: 14px;
    }
    .com-del-box .content div a:first-child{
        background: #b4b5b9;
        color: #333;
        margin-right: 10px;
    }
    .com-del-box .content div a:last-child{
        background: #5078cb;
        color: #fff;
    }
    .com-del-box .content div a:hover{
        background: #3f7ae3;
        color: #fff;
    }
    /*新增普票样式*/
    .content-title {
        font-size: 19px;
    }

    td > .simple-select {
        display: inline;
    }
    .normal-control-label {
        margin-bottom: 0;
        text-align: right;
        padding-top: 7px;
        padding-right: 23px;
    }

    #bill-info label {
        font-size: 14px;
        line-height: 1.429;
        font-weight: normal;
    }
    #bill-info span.disable {
        color: rgb(153, 153, 153);
    }
    .base-line {
        vertical-align: -webkit-baseline-middle;
    }

    #bill-info .row {
        margin-left: 0px;
        margin-right: 0px;
    }

    #bill-info {
        font-size: 15px;
        margin-bottom: 1em;
    }

    .error {
        padding-top: 7px;
        line-height: 1.5;
    }

    div.radio {
        margin-top: 0px;
        margin-bottom: 0;
        height: 27px;
        line-height: 27px;
        padding-top: 6px;
        padding-left: 0;
    }

    .padding-top-5 {
        padding-top: 5px;
    }

    label.padding-left-0 {
        padding-left: 0px;
    }

    .checkbox .col-md-3 {
        padding-right: 0px;
    }

    div.upload {
        margin-left: 15px;
        width: 370px;
    }

    #bill-info,  #bill-info input, #bill-info select{
        font-size: 14px !important;
    }

    .height-34 {
        height: 34px;
        line-height: 26px;
    }

    .a-background {
        color: red;
    }

    .address .checkbox .col-md-3{
        width: 20%;
    }
    #bill-info .form-control {
        color: #000;
        font-size: 14px;
    }
    #bill-info .format-error {
        color: red;
        height: 30px;
        line-height: 30px;
    }

    #bill-info select {
        opacity: 1;
    }
    #bill-info .content-header{
        font-size: 14px;
        padding-bottom: 0;
        color: rgb(80, 120, 203);
        font-weight: bold;
        line-height: 1.429;
        padding-left: 40px;
        padding-bottom: 10px;
    }
    .select-adder{
        background:url("static/img/user/images/xiala.png") right no-repeat ;
        background-position-x: 150px;
    }
    .form-btn .btn {
        background: #5078cb;
        border-color: #3b88c3;
        width: 60px;
        height: 26px;
        line-height: 13px;
        color: #fff;
        border-radius: 0;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
    }
    .form-btn .btn:first-child{
        background: #c8c6c6;
        border: 1px solid #c8c6c6;
    }
    .form-area {
        background: #f5f8fe;
        margin: 0 15px;
    }
    .form-area .row {
        padding-top: 15px;
    }
    .form-area .address .row {
        padding-top: 0px;
    }
    .form-area form {
        padding-top: 15px;
    }
    .form-bottom {
        background: #fff;
        text-align: center;
        vertical-align: middle;
        padding-top: 20px;
        padding-bottom: 3px;
    }
    .ticket_record_list dl dt span {
        font-weight: normal;
    }
    /*radio*/
    #bill-info .radioLabel {
        line-height: 20px;
        cursor: pointer;
        color: #666;
    }
    #bill-info .radio-inline {
        padding-left: 0;
        margin: 0 26px;
    }
    #bill-info .radioLabel label{
        width: 12px;
        height: 12px;
        background: url(static/img/icon/check-rule.png);
        background-position: 0 0px;
        vertical-align: middle;
        margin-bottom: 0 !important;
        margin-right: 0px !important;
        padding: 0;
        min-height: 12px;
        left: -7px;
    }
    #bill-info .radioLabel input[type="radio"]:checked + label {
        background-position: -15px -12px;
    }
    #bill-info .radioLabel input[type="radio"]:checked + label{
        color: #5078cb;
    }
    #bill-info .radioLabel input[type="radio"]{
        display: none;
    }
    #bill-info .form-area .input-file-default {
        width: 75px;
    }
    .ticket_record_list dl dd:hover {
        background: #f1f5ff;
    }
    #bill-info .select-file-box input {
        display: none;
    }
    #bill-info .select-file-box span {
        width: 74px;
        display: block;
        text-align: center;
        height: 22px;
        line-height: 22px;
        background: #ff8522;
        font-size: 12px;
        color: #fff;
        margin-top: 5px;
        position: relative;
        left: -22px;
        border-radius: 2px;
    }
    .cursor-not-allowed {
        cursor: not-allowed!important;
    }
    .ticket_record_list .ticket_data dd {
        border-left: #dae5fd 1px solid;
        border-bottom: #dae5fd 1px solid!important;
        border-right: #dae5fd 1px solid;
    }
    #bill-info .form-input-line {
        height: 34px;
        width: 331px;
        display: inline-block;
        margin: 0 15px;
        float: left;
    }
    #bill-info .form-input-line input[type='text'],#bill-info .form-input-line select {
        border-radius: 2px;
        border: 1px solid #eef4ff;
    }
    #bill-info .file-line {
        width: 247px;
    }
    #bill-info .address .form-input-line {
        margin: 0 10px 0 0;
    }
    #bill-info .address .form-input-line:first-child {
        margin-left: 15px;
    }
    #bill-info .control-label{
        position: relative;
        top: 7px;
    }
    #bill-info .normal-control-label {
        position: relative;
        top: 5px;
    }
    .bg-fff8ee {
        background: #fff8ee;
    }
    .bg-fff {
        -webkit-box-shadow: 0 0 0px 1000px white inset!important;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-transition-delay: 99999s;
        -webkit-transition: color 99999s ease-out, background-color 99999s ease-out;
       /* -webkit-box-shadow: 0 0 0px 1000px white inset;*/
    }
    .ticket_record .empty{
        overflow: hidden;
        margin: 0!important;
        display:inline-flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        height: 200px;
    }
    .ticket_record .empty-info{
        line-height: 28px;
        width: 143px;
        text-align: left;
        margin-left:10px;
    }
    .ticket_record .empty-info .grey{
        color: #999;
        font-size: 14px;
    }
    .ticket_record .empty .empty-info>a{
        font-size: 14px;
        color: #5078cb;
    }
    .ticket_record .empty .empty-info i{
        margin-right:5px;
    }
</style>
<!--右侧主体部分-->
<div class="user_right fr u_c_invoice">
    <!--开票记录-->
    <div class="ticket_record oder">
        <div class="oder01">
            <ul ng-class="{'active': changeBillStatusFlag}">
                <li ng-class="{'active': tab == 'buyer_invoice' && !changeBillStatusFlag}" style="margin-left: 15px;"><a ng-click="changeBillStatusFlag = false" ui-sref="buyer_invoice">开票信息</a></li>
                <li ng-class="{'active': tab == 'buyer_no_invoice'}"><a ui-sref="buyer_no_invoice">未开票</a></li>
                <li ng-class="{'active': tab == 'buyer_invoice-record'}"><a ui-sref="buyer_invoice-record">开票记录</a></li>
            </ul>
        </div>
        <div style="background: #f5f5f5; height: 11px" ng-if="!changeBillStatusFlag"></div>
        <!--发票操作导航-->
        <div class="match-menu" ng-if="changeBillStatusFlag">
                <span class="active">
                    <a ng-bind="isAdd?'新增发票信息':'修改发票信息'"></a>
                        <i class="fa fa-remove" ng-click="exitEdit()"></i>
                </span>
        </div>
        <!--我的发票-->
        <div class="ticket_record_list" ng-if="!changeBillStatusFlag">
            <div class="ticket_record_title">
                <span class="l_title">已设置的开票信息</span>
                <span class="add_btn" ng-click="addBill()" ng-if="!(!isSpecial && !isNormal)"><i class="fa fa-plus-circle"></i>   新增发票</span>
            </div>
            <!-- 开票资料-->
            <div class="tab" style="display: inline-block;">
                <dl class="ticket_data">
                    <dt class="invoice-list-title">
                        <span class="wd01">发票类型</span>
                        <span>开票抬头</span>
                        <span class="wd01">收票人</span>
                        <span>收票地址</span>
                        <span>收票人电话</span>
                        <span>编辑</span>
                    </dt>
                  <!--  <p class="height16">&nbsp;</p>-->
                    <dd ng-repeat="invoice in invoices">
                        <span class="wd01">
                            <img ng-if="invoice.kind == 1206" src="static/img/user/images/ticket01.jpg"/>
                            <img ng-if="invoice.kind == 1205" src="static/img/user/images/ticket02.jpg"/>
                        </span>
                        <span ng-cloak class="textmore" title="{{invoice.head}}">{{invoice.head}}</span>
                        <span class="wd01 textmore" ng-cloak title="{{invoice.name}}">{{invoice.name}}</span>
                        <span class="textmore" ng-cloak title="{{invoice.area+','+invoice.detailAddress}}">{{invoice.area}} {{invoice.detailAddress}}</span>
                        <span ng-cloak title="{{invoice.telephone}}">{{invoice.telephone}}</span>
                        <span>
                            <!--<a  class="look" ng-click="viewInvoice(invoice)">查看/</a>-->
                            <a  ng-click="modifyInvoice(invoice)">修改</a> |
                            <a  ng-click="deleteInvoice(invoice)">删除</a>
                        </span>
                    </dd>
                    <!--<dd ng-if="invoices.length == 0 || !invoices" class="text-center invoice-box" style="font-size: 12px;line-height: 200px;height: 200px; border: none!important;">-->
                        <!--<img src="static/img/all/empty-cart.png">-->
                        <!--<span style="width: auto;float: right;line-height: 200px;color: #999;position: relative;right: 390px;font-size: 12px">暂无开票-->
                            <!--<a href="javascript:history.go(-1)" style="margin-left:20px;font-size: 14px;color:#5078cb"><i class="fa fa-mail-reply"></i>&nbsp;返回上一级</a>-->
                        <!--</span>-->

                    <!--</dd>-->
                </dl>
                <div class="empty" ng-if="invoices.length == 0 || !invoices">
                    <p class="empty-img">
                        <img src="static/img/all/empty-cart.png">
                    </p>
                    <div class="empty-info">
                        <p class="grey"> 暂无发票信息 </p>
                        <!--<a href="user#/home"><i class="fa fa-mail-reply fa-xs"></i>返回上一页</a>-->
                    </div>
                </div>
            </div>
        </div>
        <!--新增发票 -->
        <div id="bill-info" ng-if="changeBillStatusFlag">
            <div class="row">
                <h2 class="content-header"  ng-bind="billType == 1205?'增值税专票':'增值税普票'"></h2>
            </div>
            <div class="form-area">
                <div class="row" ng-if="isAdd">
                    <label class="col-md-2 normal-control-label"><b class="text-inverse">*</b>发票类型：</label>
                    <div class="radio col-md-10">
                      <!--  <label class="radio-inline">
                            <label class="padding-top-5"><input type="radio" ng-click="setBillType(1206)" ng-model="billType" value="1206" ng-disabled="!isNormal"></label>
                            <label ng-class="{'disable':!isNormal, '':isNormal}" class="padding-left-0">增值税普通发票（不可抵扣）</label>
                        </label>
                        <label class="radio-inline">
                            <label class="padding-top-5"><input type="radio" ng-click="setBillType(1205)" ng-model="billType" value="1205" ng-disabled="!isSpecial"></label>
                            <label ng-class="{'disable':!isSpecial, '':isSpecial}" class="padding-left-0">增值税专用发票（可抵扣） </label>
                        </label>-->
                        <label for="1206" class="radio-inline radioLabel" ng-class="{'cursor-not-allowed':!isNormal}">
                            <input type="radio" name="bill" value="1206" ng-disabled="!isNormal" ng-click="setBillType(1206)" ng-model="billType" id="1206">
                            <label ng-class="{'cursor-not-allowed':!isNormal}" for="1206" class="txtContact"></label>
                            <span ng-class="{'disable':!isNormal, '':isNormal}">增值税普票（不可抵扣）</span>
                        </label>
                        <label for="1205" class="radio-inline radioLabel" ng-class="{'cursor-not-allowed':!isSpecial}">
                            <input type="radio" name="bill" value="1205" ng-disabled="!isSpecial" ng-click="setBillType(1205)" ng-model="billType" id="1205">
                            <label ng-class="{'cursor-not-allowed':!isSpecial}" for="1205" class="txtContact"></label>
                            <span ng-class="{'disable':!isSpecial, '':isSpecial}">增值税专票（可抵扣）</span>
                        </label>
                    </div>
                </div>
                <form class="form-horizontal" novalidate="novalidate" name="form">
                    <div class="form-group">
                        <label class="col-md-2 control-label"><b class="text-inverse">*</b>发票抬头：</label>
                        <div class="form-input-line">
                            <input type="text" class="form-control" ng-class="{'bg-fff8ee': !initFlag.initBillHead&&(form.billHead.$invalid || !validForm.validBillHead)}" ng-model="bill.head" ng-focus="form.billHead.$touched = false;" ng-blur="form.billHead.$touched = true;initFlag.initBillHead = false;checkBillHead()" name="billHead" required="required" placeholder="请输入发票抬头">
                        </div>
                        <div class="text-inverse error col-md-3" ng-show="form.billHead.$touched&&(form.billHead.$invalid || !validForm.validBillHead)" ng-bind="form.billHead.$error.required?'请填写发票抬头':'请勿超过50个字'"></div>
                    </div>
                    <div class="form-group" ng-if="billType == 1205">
                        <label class="col-md-2 control-label"><b class="text-inverse">*</b>单位地址：</label>
                        <div class="form-input-line">
                            <input type="text" class="form-control" ng-class="{'bg-fff8ee': !initFlag.initCompanyAddress&&(form.companyAddr.$invalid || !validForm.validCompanyAddress)}" ng-model="bill.companyAddress" ng-focus="form.companyAddr.$touched = false;" ng-blur="form.companyAddr.$touched = true;initFlag.initCompanyAddress = false; checkCompanyAddress()" name="companyAddr" required="required" placeholder="请输入单位地址">
                        </div>
                        <div class="text-inverse error col-md-3" ng-show="form.companyAddr.$touched&&(form.companyAddr.$invalid || !validForm.validCompanyAddress)" ng-bind="form.companyAddr.$error.required?'请填写单位地址':'请勿超过50个字'"></div>
                    </div>
                    <div class="form-group"  ng-if="billType == 1205">
                        <label class="col-md-2 control-label"><b class="text-inverse">*</b>单位电话：</label>
                        <div class="form-input-line">
                            <input type="text" class="form-control" ng-class="{'bg-fff8ee':!initFlag.initCompanyPhone&&form.companyPhone.$error.required, 'bg-fff':!initFlag.initCompanyPhone&&!form.companyPhone.$invalid}" ng-focus="form.companyPhone.$touched = false" ng-blur="form.companyPhone.$touched = true;initFlag.initCompanyPhone=false;" placeholder="区号和号码使用 '-' 隔开" name="companyPhone" ng-model="bill.companyPhone" ng-pattern="/^0\d{2,3}-[1-9]\d{6,7}$/" ng-maxlength="20" required="required">
                        </div>
                        <div class="text-inverse error col-md-3" ng-show="form.companyPhone.$touched&&form.companyPhone.$invalid" ng-bind="form.companyPhone.$error.required?'请填写单位电话':form.companyPhone.$error.maxlength?'请勿超过20个字符':'请填写正确的电话号码，用-隔开'"></div>
                    </div>
                    <div class="form-group"  ng-if="billType == 1205">
                        <label class="col-md-2 control-label"><b class="text-inverse">*</b>税务登记号：</label>
                        <div class="form-input-line">
                            <input type="text" class="form-control" ng-class="{'bg-fff8ee':!initFlag.initCompanyTaxNum&&form.companyTaxNum.$error.required, 'bg-fff':!initFlag.initCompanyTaxNum&&!form.companyTaxNum.$invalid}" ng-model="bill.companyTaxNumber" ng-focus="form.companyTaxNum.$touched = false" ng-blur="form.companyTaxNum.$touched = true; initFlag.initCompanyTaxNum = false;" name="companyTaxNum" required="true" ng-maxlength="20" ng-minlength="15" ng-pattern="/^[0-9a-zA-Z]+$/" placeholder="请输入税务登记号">
                        </div>
                        <div class="text-inverse error col-md-3" ng-show="form.companyTaxNum.$touched&&(form.companyTaxNum.$invalid)" ng-bind="form.companyTaxNum.$error.required?'请填写税务登记号':'请填写15-20位数字或字母'"></div>
                    </div>
                    <div class="form-group"  ng-if="billType == 1205">
                        <label class="col-md-2 control-label"><b class="text-inverse">*</b>开户银行：</label>
                        <div class="form-input-line">
                            <input type="text" class="form-control" ng-class="{'bg-fff8ee': !initFlag.initBankName&&(form.bankName.$invalid || !validForm.validBankName)}" ng-model="bill.bankName" ng-focus="form.bankName.$touched = false;" ng-blur="form.bankName.$touched = true;initFlag.initBankName = false; checkBankName()" name="bankName" required="required" placeholder="请输入开户银行">
                        </div>
                        <div class="text-inverse error col-md-3" ng-show="form.bankName.$touched&&(form.bankName.$invalid || !validForm.validBankName)" ng-bind="form.bankName.$error.required?'请填写开户银行':'请勿超过30个字'"></div>
                    </div>
                    <div class="form-group"  ng-if="billType == 1205">
                        <label class="col-md-2 control-label"><b class="text-inverse">*</b>开户银行账户：</label>
                        <div class="form-input-line">
                            <input type="text" class="form-control" ng-class="{'bg-fff8ee':!initFlag.initBankAccount&&form.account.$error.required}" ng-model="bill.bankAccount" name="account" ng-focus="form.account.$touched = false" ng-blur="form.account.$touched = true; initFlag.initBankAccount=false" ng-pattern="/^[0-9]*$/" required ng-maxlength="30" placeholder="请输入开户银行账号">
                        </div>
                        <div class="text-inverse error col-md-3" ng-show="form.account.$touched&&(form.account.$invalid)" ng-bind="form.account.$error.required?'请填写开户银行账号':'请填写30位以内的数字'"></div>
                    </div>
                    <div class="form-group"  ng-if="billType == 1205">
                        <label class="col-md-2 control-label"><b class="text-inverse">*</b>上传开户许可证：{{form.permissionUpload}}</label>
                        <div class="form-input-line file-line">
                            <input type="text" name="permission" required class="form-control" ng-model="bill.attachUrl" readonly style="background: #fff">
                        </div>
                        <div class="col-md-1">
                            <label class="select-file-box">
                                <span>选择文件</span>
                                <input class="input-file-default" type="file" ng-file-select ng-model="bill.billInfo" ng-change="onUploadPermission()" ng-multiple="false" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg,application/pdf,*.pdf">
                            </label></div>
                        <div class="text-inverse error col-md-3" ng-show="isDoUpload&&(form.permission.$error.required)">请勿超过3M</div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label"><b class="text-inverse">*</b>收票人：</label>
                        <div class="form-input-line">
                            <input id="mzbillname" ng-class="{'bg-fff8ee': !initFlag.initBillName&&(form.billName.$invalid || !validForm.validBillName)}" type="text" class="form-control" ng-focus="form.billName.$touched = false; " ng-blur="form.billName.$touched = true;initFlag.initBillName = false; checkBillName()" ng-model="bill.name" name="billName" required="required" placeholder="请输入收票人">
                        </div>
                        <div class="text-inverse error col-md-3" ng-show="form.billName.$touched&&(form.billName.$invalid || !validForm.validBillName)" ng-bind="form.billName.$error.required?'请填写收票人姓名':'请勿超过10个字'"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label"><b class="text-inverse">*</b>联系电话：</label>
                        <div class="form-input-line">
                            <input type="text" class="form-control" ng-class="{'bg-fff8ee':!initFlag.initTelephone&&form.billTel.$error.required, 'bg-fff':!initFlag.initTelephone&&(!form.billTel.$invalid||!form.billTel.$touched)}" ng-model="bill.telephone" ng-focus="form.billTel.$touched = false" ng-blur="form.billTel.$touched = true; initFlag.initTelephone=false;" name="billTel"
                                   ng-pattern="/^[0-9\\-]*$/" ng-minlength="8" ng-maxlength="13" required="required" placeholder="请输入联系电话">
                        </div>
                        <div class="text-inverse error col-md-3" ng-show="form.billTel.$touched&&form.billTel.$invalid" ng-bind="form.billTel.$error.required?'请填写联系电话':'请输入8-13位电话号码'"></div>
                    </div>
                    <div class="form-group address">
                        <label class="col-md-2 control-label"><b class="text-inverse">*</b>所在地区：</label>
                        <div class="row checkbox">
                            <div class="form-input-line" style="width: 160px">
                                <select required="required" class="select-adder form-control"
                                        ng-model="bill.address.province" name="province"
                                        ng-options="key as key for (key,value) in division"
                                        ng-change="bill.address.city='';bill.address.district='';">
                                    <option value="">省</option>
                                </select>
                            </div>
                            <div class="form-input-line" style="width: 160px">
                                <select class="select-adder form-control" ng-model="bill.address.city" name="city"
                                        ng-options="key as key for (key,value) in division[bill.address.province]"
                                        ng-change="bill.address.district='';" required="required">
                                    <option value="">市</option>
                                </select>
                            </div>
                            <div class="form-input-line" style="width: 160px">
                                <select class="select-adder form-control" ng-model="bill.address.district" name="district"
                                        ng-options="value as value for value in division[bill.address.province][bill.address.city]" required="required">
                                    <option value="">区</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label"><b class="text-inverse">*</b>详细地址：</label>
                        <div class="form-input-line" style="width: 502px">
                            <input id="mzaddress" type="text" class="form-control" ng-class="{'bg-fff8ee': !initFlag.initDetailAddress&&(form.billDetail.$invalid|| !validForm.validDetailAddress)}" required="required" name="billDetail" ng-model="bill.detailAddress" title="建议您填写详细发件地址，如街道名，门牌号，楼层和房间号等信息"
                            placeholder="建议您填写详细发件地址，如街道名，门牌号，楼层和房间号等信息" ng-focus="form.billDetail.$touched = false; " ng-blur="form.billDetail.$touched = true;initFlag.initDetailAddress = false; checkDetailAddress()" >
                        </div>
                        <div class="text-inverse error col-md-3" ng-show="form.billDetail.$touched&&(form.billDetail.$invalid|| !validForm.validDetailAddress)" ng-bind="form.billDetail.$error.required?'请填写详细地址':'请勿超过30个字'"></div>
                    </div>
                    <div class="form-bottom">
                        <div class="form-group">
                                <label class="check-active checkbox-inline text-inverse">
                                    <input checked="true" type="checkbox" ng-model="bill.is_agree" name="is_agree" id="check-mzy">
                                    <label for="check-mzy" style="position: relative;bottom: 2px;"></label>
                                    <span style="color: #333;">我已阅读并同意</span>
                                </label>
                                <a href="/help/helpList/19" target="_blank" style="color: #5078cb; font-size: 14px; position: relative;top: 2px;">《发票须知》</a>
                        </div>
                        <div class="form-btn">
                            <input type="button" value="取消" class="btn" ng-click="setChangeBillStatusFlag(false)">
                            <input type="submit" value="保存" class="btn"
                                   ng-click="saveBill(form.$invalid)">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- 提示框 -->
        <div class="com-del-box" ng-if="showDeleteBox">
            <div class="title">
                <a ng-click="setDeleteBox(false)"><i class="fa fa-close fa-lg"></i></a>
            </div>
            <div class="content">
                <p><i class="fa fa-exclamation-circle"></i>是否要删除此发票?</p>
                <div>
                    <a ng-click="setDeleteBox(false)">取消</a>
                    <a ng-click="doDeleteInvoice()">确认</a>
                </div>
            </div>
        </div>
    </div>
</div>