<style>
    /*未开票*/
    .invoice-record{
        width: 100%;
        margin: 0 auto;
        background: #fff;
        margin-top: 16px;
        display: inline-block;
    }
    .invoice-record-content{
        width: 1000px;
        margin: 0 auto;
        margin-top: 16px;
    }
    .invoice-com-tab{
        box-sizing: border-box;
        border: #dae5fd 1px solid;
        border-bottom: none;
        margin-bottom: 0!important;
    }
    .invoice-com-tab thead{
        height: 40px;
        width: 100%;
        background: #89aefa;
    }
    .invoice-com-tab thead>tr th{
        color: #fff;
        font-weight: normal;
        font-size: 14px;
        text-align: center;
        border-bottom: none;
        vertical-align: middle;
    }
    .invoice-com-tab tbody tr:hover{
        background: #f1f5ff;
    }
    .invoice-com-tab tbody>tr>td{
        font-size: 14px;
        color: #666;
        border-bottom: 1px solid #dae5fd;
        border-right: 1px solid #dae5fd;
        height: 50px;
        vertical-align: middle;
        text-align: center;
    }
    .invoice-com-tab thead>tr>th.select-line{
        padding: 8px 0;
    }
    .invoice-com-tab thead>tr>th .form-control{
        color: #666;
        padding: 0 5px;
        height: 24px;
        width: 52px;
        opacity: 1;
        border: #fff 1px solid;
        border-radius: 2px;
        position: relative;
        left: 10px;
    }
    /*无记录与记录条数*/
    .table>tbody>tr.record-num td{
        padding: 0;
        border: none;
        text-align: right;
        font-size: 12px;
        padding-right: 10px;
        border-right: #fff 1px solid;
        border-left: #fff 1px solid;
    }
    .table>tbody>tr.record-num:hover{
        background: none;
    }
    .table>tbody+tbody{
        border-top: 0;
    }
    .table>tbody+tbody.no-record-list tr td{
        border: none;
    }
    .blue{
        color: #5078cb !important;
    }
    .select-adder {
        background: url(static/img/user/images/xiala.png) right no-repeat #fff !important;
        background-position-x: 116% !important;
    }
    .invoice-search{
        width: 100%;
        margin: 0 auto;
        background: #f5f8fe;
        height: 40px;
        margin-top: 5px;
    }
    .invoice-search div.fr{
        width: 388px;
        margin-top: 3px;
        margin-right: 14px;
    }
    .invoice-search input.form-control{
        width: 330px;
        height: 32px;
        line-height: 32px;
        font-size: 12px;
        border-radius: 0;
        border: #5078cb 1px solid;
        background: #fff;
        float: left;
    }
    .invoice-search button{
        border: none;
        width: 58px;
        height: 32px;
        background: #5078cb;
        text-align: center;
        font-size: 14px;
        color: #fff;
        float: right;
    }
    body div.ng-table-pager a.page-a {
        float: right;
        background: #5078cb!important;
    }
    .ng-table-pagination .page-a:hover {
        background: #5078cb!important;
    }
</style>
<!--右侧主体部分-->
<div class="user_right fr u_c_invoice">
    <!--开票记录-->
    <div class="ticket_record oder">
        <div class="oder01">
            <ul>
                <li ng-class="{'active': tab == 'buyer_invoice'}"><a ui-sref="buyer_invoice">开票信息</a></li>
                <li ng-class="{'active': tab == 'buyer_no_invoice'}"><a ui-sref="buyer_no_invoice">未开票</a></li>
                <li ng-class="{'active': tab == 'buyer_invoice-record'}"><a ui-sref="buyer_invoice-record">开票记录</a></li>
            </ul>
        </div>
        <!--开票记录-->
        <div class="invoice-record">
            <div class="invoice-search">
                <div class="fr">
                    <input type="text" ng-keydown="enterEvent($event)" class="form-control" ng-model="keyword" placeholder="商家名称/订单号/发票抬头/收票人/联系电话"/>
                    <button ng-click="searchByKey()">搜索</button>
                </div>
            </div>
            <div class="invoice-record-content">
                <table class="invoice-com-tab table" ng-table="billRecordTableParam">
                    <thead>
                        <tr>
                            <th width="88">申请时间</th>
                            <th width="130">商家名称</th>
                            <th width="80">订单号</th>
                            <th width="105">可开票金额(￥)</th>
                            <th width="55" class="select-line">
                                <select class="select-adder form-control" ng-model="invoiceType" ng-change="changeInvoiceType(invoiceType)">
                                    <option value="">类型</option>
                                    <option value="1206">普票</option>
                                    <option value="1205">专票</option>
                                </select>
                            </th>
                            <th width="100">发票抬头</th>
                            <th width="50">收票人</th>
                            <th width="55">联系电话</th>
                            <th width="55">
                                <select class="select-adder form-control" style="width: 60px;" ng-model="status" ng-change="changeStatus(status)">
                                    <option value="">状态</option>
                                    <option value="101">待开票</option>
                                    <option value="102">已开票</option>
                                </select>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in billData">
                            <td ng-bind="item.createTime | date : 'yyyy-MM-dd'"></td>
                            <td ng-bind="item.sellername"></td>
                            <td>
                                <span style="display: block" ng-repeat="orderid in item.orderids.split(',')" ng-bind="orderid"></span>
                            </td>
                            <td ng-bind="item.price"></td>
                            <td ng-bind="item.invoicetype==1206?'普票':'专票'"></td>
                            <td ng-bind="item.invoicetitle"></td>
                            <td ng-bind="item.receiverName"></td>
                            <td ng-bind="item.recTel"></td>
                            <td>
                                <span ng-bind="item.status==101?'待开票':'已开票'" ng-class="{'blue':item.status==101}"></span>
                            </td>
                        </tr>
                        <tr class="record-num" ng-if="billData.length > 0">
                            <td colspan="10">
                                <span class="count-tip">显示 <span ng-bind="$$kdnData.start"></span>-<span ng-bind="$$kdnData.end"></span> 条，共 <span ng-bind="$$kdnData.totalElements"></span> 条</span>
                            </td>
                        </tr>
                    </tbody>
                    <tbody class="no-record-list" ng-if="billData.length <= 0 || !billData">
                    <tr class="height200">
                    <td colspan="9" style="border: #fff 1px solid"><img src="static/img/all/empty-cart.png"><span class="f14">暂无开票记录</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>