<style>
    #massage .ng-table-pagination a {
        border: none;
        font-size: 12px;
        cursor: pointer;
    }
    #massage ul.pagination.ng-table-pagination > li > a > span {
        height: 17px;
        line-height: 17px;
    }
    #massage div.ng-table-pager {
        margin-right: 0 !important;
    }
    #massage div.ng-table-pager .pagination {
        margin: 0;
    }
    #massage div.ng-table-pager  input.page-number {
        vertical-align: inherit;
        display: inline-block;
        width: 37px;
        height: 28px;
        padding: 6px 6px;
        font-size: 12px;
        line-height: 1.42857143;
        color: #9B9792;
        text-align: center;
        background-color: #F6F5F4;
        background-image: none;
        border: 1px solid #ccc;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

    #massage div.ng-table-pager a.page-a {
        color: #fff;
        cursor: pointer;
        background-color: #4574E8;
        border-color: #4574E8;
        padding: 5.55px 6px;
        font-size: 12px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        text-decoration: none;
        height: 31px;
    }

    #massage div.ng-table-pager div.page-go-block {
        float: right;
        font-size: 0px;
        height: 31px;
        margin-top: 20px;
        line-height: 31px;
    }
    #massage .ng-table-pager .ng-table-pagination{
        text-align: center;
        max-width: 460px;
    }
    #massage .ng-table-pager .ng-table-pagination a{
        color: #4574E8 !important;
        height: 31px;
        line-height: 13px;
    }
    #massage .no-message {
        font-size: 14px;
        text-align: center;
        line-height: 50px;
    }
</style>
<div class="user_right fr" id="massage">
    <!--订单中心-->
    <div class="shopCar oder">
        <div class="oder01">
            <ul>
                <li><a ui-sref="messagePersonal"> 个人消息(<span ng-bind="unReadCountPrivate || 0"></span>)</a></li>
                <li class="active"><a href="javascript:void(0)"> 系统公告(<span ng-bind="messageAllData.totalElements || 0"></span>)</a></li>
            </ul>
        </div>
    </div>
    <div class="com-massage">
        <ul>
            <li ng-repeat="message in messageCurrent">
                <div ng-if="message.messageText.classes=='物流信息'" ng-click="readMessage(message)">
                    <a href="#"><div class="icon icon-log"></div><em ng-if="message.status=='UNREAD'" class="dot"></em></a>
                    <div class="content">
                        <p><span ng-bind="message.messageText.classes"></span><time ng-bind="message.messageText.sendTime | date:'yyyy-MM-dd HH:mm'"></time></p>
                        <p ng-bind="message.messageText.content"></p>
                    </div>
                    <!--<div class="check"><input type="checkbox" id="check01"><label for="check01"></label></div>-->
                </div>
                <div ng-if="message.messageText.classes=='售后信息'" ng-click="readMessage(message)">
                    <a href="#"><div class="icon icon-service"></div><em ng-if="message.status=='UNREAD'" class="dot"></em></a>
                    <div class="content">
                        <p><span ng-bind="message.messageText.classes"></span><time ng-bind="message.messageText.sendTime | date:'yyyy-MM-dd HH:mm'"></time></p>
                        <p ng-bind="message.messageText.content"></p>
                    </div>
                    <!--<div class="check"><input type="checkbox" id="check02"><label for="check02"></label></div>-->
                </div>
                <div ng-if="message.messageText.classes=='新闻公告'" ng-click="readMessage(message)">
                    <a href="#"><div class="icon icon-system"></div><em ng-if="message.status=='UNREAD'" class="dot"></em></a>
                    <div class="content">
                        <p><span ng-bind="message.messageText.classes"></span><time ng-bind="message.messageText.sendTime | date:'yyyy-MM-dd HH:mm'"></time></p>
                        <p ng-bind="message.messageText.content"></p>
                    </div>
                    <!--<div class="check"><input type="checkbox" id="check03"><label for="check03"></label></div>-->
                </div>
                <div  ng-if="message.messageText.classes=='卖家留言'" ng-click="readMessage(message)">
                    <a href="#"><div class="icon icon-massage"></div><em ng-if="message.status=='UNREAD'" class="dot"></em></a>
                    <div class="content">
                        <p><span ng-bind="message.messageText.classes"></span><time ng-bind="message.messageText.sendTime | date:'yyyy-MM-dd HH:mm'"></time></p>
                        <p ng-bind="message.messageText.content"></p>
                    </div>
                    <!--<div class="check"><input type="checkbox" id="check04"><label for="check04"></label></div>-->
                </div>
            </li>
            <li ng-if="messageCurrent.length == 0" class="text-center no-message">
                <div>暂无消息记录</div>
            </li>
        </ul>
    </div>
    <div class="ng-cloak ng-table-pager text-right" ng-if="pages.length">
        <ul class="pagination ng-table-pagination">
            <li ng-class="{'disabled': !page.active && !page.current, 'active': page.current}" ng-repeat="page in pages" ng-switch="page.type">
                <a ng-switch-when="prev" ng-click="setPage(page.type, -1)">&laquo;</a>
                <a ng-switch-when="first" ng-click="setPage(page.type, page.number)"><span ng-bind="page.number"></span></a>
                <a ng-switch-when="page" ng-click="setPage(page.type, page.number)"><span ng-bind="page.number"></span></a>
                <a ng-switch-when="more" ng-click="setPage(page.type, -1)">&#8230;</a>
                <a ng-switch-when="last" ng-click="setPage(page.type, page.number)"><span ng-bind="page.number"></span></a>
                <a ng-switch-when="next" ng-click="setPage(page.type, -1)">&raquo;</a>
            </li>
        </ul>
        <div class="page-go-block">
            <input class="page-number" type="number" ng-model="params.currentPage" ng-keydown="listenEnter()"/>
            <a class="page-a" ng-click="setPage('page', params.currentPage)">GO</a>
        </div>
    </div>
</div>
<style>
    .com-del-box{
        position: fixed;
        z-index: 2;
        height: 152px;
        opacity: 1;
        background-color: white;
        width: 310px;
        -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
        box-shadow: 0 5px 15px rgba(0,0,0,.5);
        margin: -155px 0 0 -75px;
        top: 55%;
        left: 50%;
    }
    .com-del-box .title{
        height: 30px;
        background-color: #5078cb;
        text-align: right;
        padding-right: 15px;
        line-height: 30px;
    }
    .com-del-box .title a{
        color: white;
        font-size: 16px;
    }
    .com-del-box .content{
        width: 100%;
        text-align: center;
        margin: 0 auto;
        margin-top: 15px;
    }
    .com-del-box .content p{
        line-height: 25px;
        font-size: 14px;
    }
    .com-del-box .content p i{
        color: #5078cb;
        font-size: 16px;
        margin-right: 10px;
    }
    .com-del-box .content div{
        width: 100%;
        text-align: center;
        margin: 0 auto;
        margin-top: 10px;
    }
    .com-del-box .content div a{
        width: 55px;
        height: 26px;
        line-height: 26px;
        display: inline-block;
        text-align: center;
        font-size: 14px;
    }
    .com-del-box .content div a:first-child{
        background: #b4b5b9;
        color: #333;
        margin-right: 10px;
    }
    .com-del-box .content div a:last-child{
        background: #5078cb;
        color: #fff;
    }
    .com-del-box .content div a:hover{
        background: #3f7ae3;
        color: #fff;
    }
</style>