<style>
	#pay_center a {
		text-decoration: none;
	}

	#pay_center a:hover {
		text-decoration: none;
	}

	#pay_center .pay_icon {
		margin-top: 15px;
		padding-top: 0;
	}

	#pay_center .pay_icon>img {
		vertical-align: middle;
	}

	a.account {
		border: #d8d8d8 1px solid;
		text-align: center;
		line-height: 24px;
		color: #323232;
		padding: 1px 5px;
	}

	.default-account{
		background: #d8d8d8;
	}

	.account-operate .modify:hover {
		color: #ce8d12;
	}

	.account-operate .default-set:hover {
		background-color: rgba(103, 59, 52, 0.24);
	}

	.new-account {
		float: right !important;
		font-size: 14px;
		padding-right: 15px;
	}

	.new-account:hover {
		color: #ce8d12;
		cursor: pointer;
	}

	a:focus {
		outline: none;
	}
	#pay_center .tab .tab-dd{
		height: 70px;
		padding: 10px 0;
		background: #fff;
		border-bottom: none;
	}
	#pay_center .tab .tab-dd img{
		height: 75px;
		margin: 20px;
	}
	#pay_center .tab .tab-dd .col-xs-4{
		margin: 42px 0;
		line-height: 25px;
		text-align: center;
		vertical-align: middle;
	}
	#pay_center .tab .tab-dd .col-xs-4 a{
		font-size: 14px;
		color: #5078cb;
	}
	#pay_center .tab .tab-dd .col-xs-4 p{
		font-size: 14px;
	}
	#pay_center .tab .tab-dd .col-xs-4 i{
		color: #5078cb;
	}
	#pay_center .tab .f14{
		height: 130px;
		padding: 10px 0;
		background: #fff;
		border-bottom: none;
	}
	#pay_center .tab .f14 img{
		width: 149px;
		height: 75px;
		margin: 20px;
	}
	#pay_center .tab .f14 .col-xs-4{
		margin: 20px 0;
		line-height: 35px;
		text-align: center;
		vertical-align: middle;
	}
	#pay_center .tab .f14 p{
		margin: 20px 0;
		font-size: 14px;
	}
	.pay_record .ticket_record_list dl span{
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		/*width: 14.27%!important;*/

	}
	.pay_record .ticket_record_list dl span:nth-child(1){
		width:17.03%!important;
	}
	.pay_record .ticket_record_list dl span:nth-child(2){
		width:15.73%!important;
	}
	.pay_record .ticket_record_list dl span:nth-child(3){
		width:23.84%!important;
	}
	.pay_record .ticket_record_list dl span:nth-child(4){
		width:8%!important;
	}
	.pay_record .ticket_record_list dl span:nth-child(5){
		width:9.65%!important;
	}
	.pay_record .ticket_record_list dl span:nth-child(6){
		width:12.12%!important;
	}
	.pay_record .ticket_record_list dl span:nth-child(7){
		width:13.52%!important;
	}
	.pay_record .ticket_record_list dl span .select-adder {
		opacity: 1;
		width: 64px;
		border-radius: 0;
		height: 24px;
		padding: 0 0 0 10px;
		text-align: center;
		margin: 0 auto;
		margin-top: 7px;
	}
	.pay_record .ticket_record_list dl dt span {
		color: #fff;
		font-weight: normal;
		font-size: 14px;
		background: #89aefa;
	}
	.pay_record .ticket_record_list dl dd:hover {
		background: #f1f5ff;
	}
	.pay_record .ticket_record_list dl dd span:first-child{
		border-left: 1px solid #dae5fd;
	}
	.pay_record .ticket_record_list dl dd span {
		color: #666;
		border-right: 1px solid #dae5fd;
		border-bottom: 1px solid #dae5fd;
	}
	.ticket_record_list{
		background: none;
	}
	ul.pagination.ng-table-pagination > li > a > span {
		height: 17px;
		line-height: 17px;
	}
	div.ng-table-pager {
		margin-top: 20px;
	}
	div.ng-table-pager  input.page-number {
		vertical-align: inherit;
		display: inline-block;
		width: 40px;
		height: 31px;
		padding: 6px 6px;
		font-size: 14px;
		line-height: 1.42857143;
		color: #9B9792;
		text-align: center;
		background-color: #F6F5F4;
		background-image: none;
		border: 1px solid #ccc;
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
		transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	}

	div.ng-table-pager a.page-a {
		color: #fff;
		cursor: pointer;
		background-color: #4574E8;
		border-color: #4574E8;
		padding: 6px 6px;
		font-size: 14px;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
		text-decoration: none;
		height: 31px;
	}

	div.ng-table-pager div.page-go-block {
		float: right;
		margin-left: 20px;
		font-size: 0px;
		height: 31px;
		line-height: 31px;
	}
	.ng-table-pager .ng-table-pagination a{
		color: #4574E8 !important;
		height: 31px;
	}

	.ng-table-pager .ng-table-pagination li.active a {
		background-color: #4574E8;
		color: white !important;
	}

	.ticket_record_list dl dd span a {
		color: #323232;
	}

	.ticket_record_list dl dd span a:hover {
		color: #5078cb;
	}
	#pay_center .tab .col-xs-4 p{
		font-size: 14px;
	}
	.tab-dd .col-xs-4 p{
		font-size: 14px;
	}
	#pay_center .tab {
		background: #fff;
		padding-bottom: 48px;
	}
	#pay_center .tab .user-account-table {
		width:98%;
		text-align: center;
		table-layout: fixed;
		margin:0 auto 40px;
	}
	#pay_center .tab .user-account-table thead {
		background: #89aefa;
	}
	#pay_center .tab .user-account-table thead tr th {
		height: 38px;
		text-align: center;
		font-size: 14px;
		color: #fff;
		font-weight: normal;
	}
	#pay_center .tab .user-account-table tbody tr:hover {
		background: #f1f5ff;
	}
	#pay_center .tab .user-account-table tbody tr td {
		font-size: 14px;
		color: #666;
		padding-left: 11px;
		height: 51px;
		line-height: 32px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		border-left: 1px solid #dae5fd;
		border-bottom: 1px solid #dae5fd!important;
	}
	#pay_center .tab .user-account-table tbody tr td.operate-area {
		border-right: 1px solid #dae5fd;
	}
	#pay_center .tab .user-account-table tbody tr:hover td.operate-area .mall-btn-warn{
		display: inline-block;
	}
	#pay_center .mall-btn-submit {
		height: 24px;
		line-height: 24px;
		background: #5078cb;
		color: #fff;
		padding: 0 5px;
		display: inline-block;
		margin-left: 10px;
		cursor: pointer;
	}
	#pay_center .mall-btn-warn {
		display:none;
		height: 24px;
		line-height: 24px;
		background: #fc4f03;
		color: #fff;
		padding: 0 5px;
		margin-left: 10px;
		cursor: pointer;
	}
	#pay_center .tab .tab-header {
		width: 999px;
		margin: 0 auto;
		padding: 31px 0 11px 0;
	}
	#pay_center .tab .tab-header >span {
		font-size: 14px;
		position: relative;
		bottom: 5px;
	}
	#pay_center .tab .tab-header >div {
		width: auto;
		text-align: center;
		float: right;
		font-size: 12px;
		margin-right: 32px;
		cursor: pointer;
	}
	#pay_center .tab .tab-header >div i {
		background: white;
		color: #32b500;
		margin-right: 5px;
		font-size: 14px;
	}
	/*搜索时间筛选*/
	.screen {
		background: #f5f8fe;
		height: 40px;
		margin-bottom: 15px;
		margin-top: 5px;
		padding-top: 4px;
		padding-right: 11px;
	}
	.screen .sreach input{
		border: #5078cb 1px solid;
		height: 32px;
		width: 330px;
		box-shadow: none;
	}
	.screen .sreach .date{
		margin-right: 6px;
	}
	.screen .sreach .date input{
		width: 117px;
		text-align: left;
		border: 1px solid #5078cb;
	}
	.screen .sreach .date input:hover{
		cursor: pointer;
	}
	.screen .sreach .date em{
		float: left;
		line-height: 32px;
		color: #999;
		margin: 0 5px;
	}
	.screen .sreach a.seek{
		width: 58px;
		height: 32px;
		background: #5078cb;
		color: #fff;
		line-height: 32px;
		float: none;
	}
	.screen .sreach a.seek:hover{
		background: #3f7ae3;
	}
	.screen .sreach .form-control{
		border-radius: 1px;
	}
	.data-input{
		float: left;
		position: relative;
	}
	.data-input button.open{
		position: absolute;
		right: 1px;
		top: 1px;
		width: 20px;
		height: 30px;
		background: url(static/img/user/images/xiala.png) right no-repeat #fff !important;
		background-position-x: 100% !important;
		border: none;
	}
	.screen .sreach .date input.form-control{
		padding: 6px 6px;
	}
	.pagination li:last-child a {
		font-size: 14px;
	}
	.pagination li:last-child a {
		font-size: 12px;
	}
	body div.ng-table-pager a.page-a{
		color:#fff!important;
	}
	.pagination>li {
		display: inline;
		float: left;
	}
</style>
<!--右侧主体部分-->
<div class="user_right fr" id="pay_center">
	<!--支付中心-->
	<div class="pay_record oder">
		<div class="oder01" style="margin-bottom: 16px;">
			<ul>
				<li ng-class="{'active' : status=='pay-history'}" ng-click="toggleStatus('pay-history')"><a href="javascript:void(0)">交易记录</a></li>
				<li ng-class="{'active' : status=='pay-info'}" ng-click="toggleStatus('pay-info')"><a href="javascript:void(0)">付款账户</a></li>
			</ul>
		</div>
		<!--支付中心列表-->
		<div class="ticket_record_list">
			<!-- 支付信息-->
			<div class="tab" ng-show="status == 'pay-info'" style="display: inline-block;">
				<div class="tab-header">
					<span>已设置的账户信息</span>
					<div ng-click="editAccount()" ng-if="$$bankInfo.totalElements < 20">
						<i class="fa fa-plus-circle"></i>
						<span>新增账户</span>
					</div>
				</div>
				<table class="user-account-table table" ng-table="bankInfoTableParams">
					<thead>
						<th>开户银行</th>
						<th >开户支行</th>
						<th width="80">银行账号</th>
						<th >开户名称</th>
						<th width="130">操作</th>
					</thead>
					<tbody>
						<tr ng-repeat="account in accounts">
							<td ng-bind="account.bankname" title="{{account.bankname}}">中国银行</td>
							<td ng-bind="account.branchname" title="{{account.branchname}}">南山支行</td>
							<td ng-bind="account.number | hideBankFilter">1256325*******************5621</td>
							<td ng-bind="account.accountname" title="{{account.accountname}}">优软*********有限公司</td>
							<td class="operate-area">
								<a ng-click="showDeleteFrame(account)">删除</a>
								<span class="mall-btn-submit" ng-if="account.num == 1">默认账户</span>
								<span class="mall-btn-warn" ng-click="setDefaultAccount(account.id)" ng-if="account.num != 1">设为默认</span>
							</td>
						</tr>
					</tbody>
				</table>
				<div style="text-align: right;margin-right:25px;margin-top:-30px;">
					<span class="count-tip">显示 {{$$bankInfo.start}}-{{$$bankInfo.end}} 条,共 <em ng-bind="$$bankInfo.totalElements" style="color: #5078cb">2506</em> 条</span>
				</div>
				<div class="com-mall-del-box" ng-if="showDelete">
					<div class="title">
						<i ng-click="cancelDelete()"></i>
					</div>
					<div class="content">
						<p><i class="fa fa-exclamation-circle"></i>是否要删除此账户信息?</p>
						<div>
							<a ng-click="cancelDelete()">取消</a>
							<a ng-click="deleteAccount()">确认</a>
						</div>
					</div>
				</div>
			</div>
			<!--支付记录-->
			<div class="tab" ng-show="status == 'pay-history'" style="display: inline-block">
				<!--搜索时间筛选-->
				<div class="screen">
					<div class="sreach fr">
						<div class="date fl">
							<div class="data-input">
								<input id="start" type="text" ng-model="startDate" readonly="readonly"
									   class="form-control select-adder" placeholder="起始时间"
									   datepicker-popup="yyyy-MM-dd"
									   is-open="condition[0].open"
									   current-text="今天" clear-text="清除" close-text="关闭"
									   datepicker-options="{formatDayTitle: 'yyyy年M月', formatMonth: 'M月', showWeeks: false}"
									   ng-click="openDatePicker($event, condition, 0,1)"
									   ng-change="onDateCondition(1)"/>
								<button class="open" ng-click="openDatePicker($event, condition, 0)"></button>
							</div>

							<em>–</em>
							<div class="data-input">
								<input id="end" type="text" ng-model="endDate" readonly="readonly"
									   class="form-control select-adder" placeholder="结束时间"
									   datepicker-popup="yyyy-MM-dd"
									   is-open="condition[1].open"
									   current-text="今天" clear-text="清除" close-text="关闭"
									   datepicker-options="{formatDayTitle: 'yyyy年M月', formatMonth: 'M月', showWeeks: false}"
									   ng-click="openDatePicker($event, condition, 1, 2)"
									   ng-change="onDateCondition(2)"/>
								<button class="open" ng-click="openDatePicker($event, condition, 1)"></button>
							</div>
						</div>
						<div class="sreach-input fr">
							<input type="search" placeholder="商家名称/订单号" class="form-control" ng-model="keyword" ng-search="search()"/>
							<a class="seek" ng-click="search()">搜索</a>
							<a class="seek" ng-click="exportToExcel()" style="margin-left: 5px;">导出</a>
						</div>
					</div>
				</div>
				<dl>
					<dt>
						<span>时间</span>
						<span>订单号</span>
						<span>商家名称</span>
						<span>
							<select class="form-control select-adder" ng-model="currency" ng-change="filterLoad()">
								<option value="ALL">币种</option>
								<option value="RMB">RMB</option>
								<option value="USD">USD</option>
							</select>
						</span>
						<span>金额</span>
						<span>
							<select class="form-control select-adder" style="width: 90px" ng-model="paytype" ng-change="filterLoad()">
								<option value="ALL">交易方式</option>
								<option value="1102">线上支付</option>
								<option value="1103">线下支付</option>
							</select>
						</span>
						<span>
							<select class="form-control select-adder" style="width: 90px">
								<option>状态</option>
								<option value="1">支付成功</option>
							</select>
						</span>
					</dt>
					<dd ng-repeat="tradeRecord in tradeRecordPage">
						<span ng-bind="tradeRecord.paytime | date : 'yyyy-MM-dd HH:mm:ss'">2017.01.18</span>
						<span><a ng-bind="tradeRecord.orderid" ng-href="user#/order/detail/{{tradeRecord.orderid | EncryptionFilter}}">20170116001</a></span>
						<span ng-bind="tradeRecord.sellername">优软科技</span>
						<span ng-bind="tradeRecord.currencyName"></span>
						<span style="text-align:left;padding-left:5px;">
							<!--<i class="fa fa-plus" style="color:#f51c24"></i>-->
							<i class="fa fa-minus" style="color:#1da902"></i>
                            <em style="color: #323232;" ng-bind="tradeRecord.ensurePrice | formateNumber : 2"></em></span>
						</span>
						<span>
							<b ng-if="tradeRecord.paytype == 1102">线上支付</b>
							<b ng-if="tradeRecord.paytype == 1103">线下支付</b>
						</span>
						<span><b>支付成功</b></span>
					</dd>
					<!--<dd>
						<span>2017.01.18</span>
						<span><em>20170116001</em></span>
						<span>￥8888.52</span>
						<span>支付宝</span>
						<span>12345678909</span>
						<span><em>退款成功</em></span>
					</dd>-->
					<dd ng-if="!tradeRecordPage || tradeRecordPage.length == 0" class="tab-dd" style="height: 125px; padding: 30px;">
						<div class="col-xs-offset-3 col-xs-2">
							<img src="static/img/all/empty-cart.png">
						</div>
						<div class="col-xs-4">
							<p class="grey" style="font-size: 12px">暂无支付记录，请下单购买商品吧！</p>
							<a href=".">马上去逛一逛</a>&nbsp;<i class="fa fa-arrow-right"></i>
						</div>
					</dd>

				</dl>
				<div style="text-align: right;margin-right:20px;margin-top:10px;">
					<span class="count-tip">显示 {{$$record.start}}-{{$$record.end}} 条,共 <em ng-bind="$$record.totalElements" style="color: #5078cb">2506</em> 条</span>
				</div>
                <!--<p class="height16">&nbsp</p>-->
                <div style="background-color: white; width: 100%; height: 75px;">
                    <div class="ng-cloak ng-table-pager" ng-if="pages.length" style="float: right;margin-right: 60px;">
                        <ul class="pagination ng-table-pagination">
                            <li ng-class="{'disabled': !page.active && !page.current, 'active': page.current}" ng-repeat="page in pages" ng-switch="page.type">
                                <a ng-switch-when="prev" ng-click="setPage(page.type, -1)" href="">&laquo;</a>
                                <a ng-switch-when="first" ng-click="setPage(page.type, page.number)" href=""><span ng-bind="page.number"></span></a>
                                <a ng-switch-when="page" ng-click="setPage(page.type, page.number)" href=""><span ng-bind="page.number"></span></a>
                                <a ng-switch-when="more" ng-click="setPage(page.type, -1)" href="">&#8230;</a>
                                <a ng-switch-when="last" ng-click="setPage(page.type, page.number)" href=""><span ng-bind="page.number"></span></a>
                                <a ng-switch-when="next" ng-click="setPage(page.type, -1)" href="" style="font-size: 12px;">&raquo;</a>
                            </li>
                        </ul>
                        <div class="page-go-block">
                            <input class="page-number" type="number" ng-model="tradeRecordPage.number" ng-keydown="listenEnter()"/>
                            <a class="page-a" ng-click="setPage('page', tradeRecordPage.number)" href="">GO</a>
                        </div>
                    </div>
                </div>
			</div>
		</div>
		<!--<div class="pay_banner">
			<a href="#"><img src="static/img/user/images/pay_banner.jpg"/></a>
		</div>-->
	</div>
</div>
