<style>
    .seek-purchase .seek-purchase-content {
        margin-top: 10px;
        background: #fff;
        min-height: 500px;
        padding-bottom: 60px;
    }
    .seek-purchase .seek-purchase-content .publish-purchase {
        padding: 17px 0;
    }
    .seek-purchase .seek-purchase-content .publish-purchase .fl {
        width: 1000px;
        height: 198px;
        padding: 0 40px 0 0;
        border: 2px dashed #fd7748;
        margin: 0 auto;
        float: none;
    }
    .seek-purchase .seek-purchase-content .publish-purchase .fl p {
        font-size: 18px;
        color: #fd7748;
        text-align: center;
        margin: 19px 0 0 0;
    }
    .seek-purchase .seek-purchase-content .publish-purchase .fl .form-block {
        width: 188px;
        display: inline-block;
        margin-top: 16px;
        position: relative;
    }
    .seek-purchase .seek-purchase-content .publish-purchase .fl .form-block >span {
        width: 68px;
        height: 24px;
        line-height: 24px;
        display: inline-block;
        text-align: right;
        font-size: 14px;
        float: left;
        padding-right: 5px;
    }
    .seek-purchase .seek-purchase-content .publish-purchase .fl .form-block >span i {
        color: #e41515;
    }
    .seek-purchase .seek-purchase-content .publish-purchase .fl .form-block input {
        display: inline-block;
        width: 111px;
        border: 1px solid #b5b5b5;
        height: 24px;
        line-height: 24px;
        padding: 0 5px;
        margin: 0;
    }
    .seek-purchase .seek-purchase-content .publish-purchase .fl .form-block input.error {
        border-color: #f4645f !important;
    }
    .seek-purchase .seek-purchase-content .publish-purchase .fl .form-block.single-price select {
        position: absolute;
        width: 32px;
        height: 24px;
        background: url('static/img/seekPurchase/currency-arrow-down.png') no-repeat;
        background-position: 14px -1px;
        padding: 0 3px;
        border: 1px solid #b5b5b5;
    }
    .seek-purchase select {
        opacity: 1;
    }
    .seek-purchase .seek-purchase-content .publish-purchase .fl .form-block.single-price input{
        padding-left: 37px;
    }
    .seek-purchase .seek-purchase-content .publish-purchase .fl .form-block ul.similar-list {
        position: absolute;
        top: 23px;
        left: 68px;
        background: #fff;
        border: 1px solid #b5b5b5;
        z-index: 1;
        max-height: 112px;
        overflow-y: auto;
        overflow-x: hidden;
        border-radius: 3px;
        width: 111px;
        font-size: 12px;
    }
    .seek-purchase .seek-purchase-content .publish-purchase .fl .form-block ul.similar-list li {
        height: 22px;
        line-height: 22px;
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0 5px;
    }
    .seek-purchase .seek-purchase-content .publish-purchase .fl .form-block ul.similar-list li:hover {
        background: #ddd;
    }
    .seek-purchase .seek-purchase-content .publish-purchase .fl >a {
        display: block;
        width: 142px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        color: #fefefe;
        background: #fd7748;
        border-radius: 3px;
        margin: 14px auto;
        font-size: 14px;
    }
    .seek-purchase .seek-purchase-content .empty-line {
        height: 20px;
        background: #f7f7f7;
        float: left;
        width: 1026px;
        margin: 20px 0;
    }
    /*搜索时间筛选 start*/
    .seek-purchase .screen {
        font-size: 14px;
        line-height: 32px;
        clear: both;
        background: #f5f8fe;
        height: 40px;
        margin-bottom: 15px;
        padding-top: 4px;
        padding-right: 13px;
    }
    .seek-purchase .screen .fl {
        margin-left: 14px;
    }
    .seek-purchase .screen .fl select{
        width: 88px;
        height: 32px;
        border: 1px solid #4290f7;
        display: inline-block;
        border-radius: 2px;
        margin-right: 11px;
        padding-left: 10px;
        box-shadow: none;
    }
    .seek-purchase .screen .sreach >span {
        float: left;
    }
    .seek-purchase .screen .sreach input{
        border: #4290f7 1px solid;
        height: 32px;
        width: 267px;
        box-shadow: none;
    }
    .seek-purchase .screen .sreach .date{
        margin-right: 6px;
    }
    .seek-purchase .screen .sreach .date input{
        width: 117px;
        text-align: left;
        border: 1px solid #4290f7;
    }
    .seek-purchase .screen .sreach .date input:hover{
        cursor: pointer;
    }
    .seek-purchase .screen .sreach .date em{
        float: left;
        line-height: 32px;
        color: #999;
        margin: 0 5px;
    }
    .seek-purchase .screen .sreach a.seek{
        width: 58px;
        height: 32px;
        background: #4290f7;
        color: #fff;
        line-height: 32px;
        float: left;
    }
    .seek-purchase .screen .sreach a.seek:hover{
        background: #3f7ae3;
    }
    .seek-purchase .screen .sreach .form-control{
        border-radius: 2px;
    }
    .seek-purchase .data-input{
        float: left;
        position: relative;
    }
    .seek-purchase .data-input button.open{
        position: absolute;
        right: 1px;
        top: 1px;
        width: 20px;
        height: 30px;
        background: url('static/img/user/images/xiala.png') right no-repeat #fff !important;
        background-position-x: 100% !important;
        border: none;
    }
    .seek-purchase .screen .sreach .date input.form-control{
        padding: 6px 6px;
    }
    .seek-purchase .seek-purchase-content .publish-purchase .fl .form-block .btn-default{
        border: none;
    }
    /*搜索时间筛选 end*/
    .seek-purchase .seek-purchase-content >table {
        width: 1000px;
        margin: 0 auto;
    }
    .seek-purchase .seek-purchase-content >table >thead {
        background: #89aefa;
    }
    .seek-purchase .seek-purchase-content >table >thead >tr th {
        height: 38px;
        line-height: 38px;
        color: #fff;
        text-align: center;
        font-weight: normal;
        font-size: 14px;
    }
    .seek-purchase .seek-purchase-content >table >thead >tr th select {
        color: #666;
        padding: 0 5px;
        height: 24px;
        width: 70px;
        opacity: 1;
        border: #fff 1px solid;
        border-radius: 2px;
        position: relative;
        left: 10px;
    }
    .seek-purchase .seek-purchase-content >table >tbody {
        border-right: 1px solid #dae5fd;
        border-left: 1px solid #dae5fd;
        border-bottom: 1px solid #dae5fd;
    }
    .seek-purchase .seek-purchase-content >table >tbody >tr.default-row {
        border-bottom: 1px solid #dae5fd;
    }
    .seek-purchase .seek-purchase-content >table >tbody >tr.default-row:hover {
        background: #f1f5ff;
    }
    .seek-purchase .seek-purchase-content >table >tbody >tr.default-row td {
        font-size: 14px;
        text-align: center;
        height: 70px;
    }
    .seek-purchase .seek-purchase-content >table >tbody >tr.default-row td.operate-seek >span {
        color: #4290f7;
        cursor: pointer;
    }
    .seek-purchase .red-text {
        color: #f62d37;
    }
    .seek-purchase .seek-purchase-content >table >tbody >tr .green-text{
        color: #15a211;
    }
    .seek-purchase .seek-purchase-content >table >tbody tr.expand-row table {
        width: 100%;
    }
    .seek-purchase .seek-purchase-content >table >tbody tr.expand-row table thead tr {
        height: 34px;
        line-height: 34px;
        background: #fce8df;
    }
    .seek-purchase .seek-purchase-content >table >tbody tr.expand-row table thead tr th,
    .seek-purchase .seek-purchase-content >table >tbody tr.expand-row table tbody tr td{
        text-align: center;
        font-size: 14px;
        position: relative;
        font-weight: normal;
    }
    .seek-purchase .seek-purchase-content >table >tbody tr.expand-row table tbody tr td {
        height: 48px;
        line-height: 48px;
    }
    .seek-purchase .seek-purchase-content >table >tbody tr.expand-row table tbody tr {
        border: 1px solid #fce8df;
    }
    .seek-purchase .seek-purchase-content >table >tbody tr.expand-row table tbody tr:nth-child(even) {
        background: #fce8df;
    }
    .seek-purchase .seek-purchase-content >table >tbody tr.expand-row table tbody tr td.input-number >div {
        position: relative;
        width: 100px;
        margin: 0 auto;
    }
    .seek-purchase .seek-purchase-content >table >tbody tr.expand-row table tbody tr td.operate >img {
        position: absolute;
        right: 0;
        top: 0;
    }
    .seek-purchase .seek-purchase-content >table >tbody tr.expand-row table tbody tr td.input-number input {
        width: 80px;
        height: 26px;
        text-align: center;
    }
    .seek-purchase .seek-purchase-content >table >tbody tr.expand-row table tbody tr td.input-number span {
        width: 17px;
        height: 26px;
        background: #4290f7;
        line-height: 26px;
        color: #fff;
        display: inline-block;
        font-size: 16px;
        vertical-align: middle;
        position: absolute;
        cursor: pointer;
    }
    .seek-purchase .seek-purchase-content >table >tbody tr.expand-row table tbody tr td.input-number span.not-allowed {
        cursor: not-allowed;
        background: #e8e8e8;
    }
    .seek-purchase .seek-purchase-content >table >tbody tr.expand-row table tbody tr td.input-number span:first-child {
        top: 12px;
    }
    .seek-purchase .seek-purchase-content >table >tbody tr.expand-row table tbody tr td.input-number span:last-child {
        top: 12px;
        right: 10px;
    }
    .seek-purchase .seek-purchase-content >table >tbody tr.expand-row table tbody tr td.operate a {
        color: #5078cb;
        font-size: 12px;
    }
    .seek-purchase .seek-purchase-content >table >tbody tr.expand-row table tbody tr td.operate span {
        display: inline-block;
        width: 64px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        background: #4290f7;
        color: #fff;
        margin-left: 13px;
        cursor: pointer;
        font-size: 12px;
        border-radius: 2px;
    }
    .seek-purchase .seek-purchase-content >table >tbody tr.expand-row .all-buy {
        height: 39px;
        line-height: 39px;
        color: #fff;
        font-size: 14px;
        background: #4290f7;
    }
    .seek-purchase .seek-purchase-content >table >tbody tr.expand-row .all-buy span {
        display: inline-block;
        width: 29%;
        text-align: center;
    }
    .seek-purchase .seek-purchase-content >table >tbody tr.expand-row .all-buy a {
        display: inline-block;
        text-align: center;
        width: 77px;
        height: 27px;
        line-height: 27px;
        background: #fff;
        color: #f91d06;
        font-weight: bold;
    }
    .seek-purchase .seek-purchase-content >table >tbody tr.expand-row > td {
        padding: 0 12px 15px;
    }
    .seek-purchase .seek-purchase-content >table >tbody tr.expand-row td .switch-line {
        display: flex;
        justify-content: space-between;
    }
    .seek-purchase .seek-purchase-content >table >tbody tr.expand-row td .switch-line a {
        position: relative;
        width: 50%;
        height: 34px;
        line-height: 34px;
        text-align: center;
        display: inline-block;
        background: #d7d6d5;
        color: #fff;
    }
    .seek-purchase .seek-purchase-content >table >tbody tr.expand-row td .switch-line a.active {
        background: #414140;
    }
    .seek-purchase .seek-purchase-content >table >tbody tr.expand-row td .switch-line a:first-child::after {
        position: absolute;
        right: 0;
        content: '';
        width: 0;
        height: 0;
        border-bottom: 34px solid #414140;
        border-left: 12px solid transparent;
    }
    .seek-purchase .seek-purchase-content >table >tbody tr.expand-row td .switch-line a:first-child.active::after {
        border-bottom-color: #d7d6d5;
    }
    .seek-purchase .seek-purchase-content >table >tbody tr.expand-row td .seek-list {
        max-height: 250px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .seek-purchase .seek-purchase-content >table >tbody tr.expand-row td .seek-list table tbody tr td.seek-replies {
        position: relative;
        overflow: unset;
    }
    .seek-purchase .seek-purchase-content >table >tbody tr.expand-row td .seek-list table tbody tr td.seek-replies .red-text span {
        display: inline-block;
        width: 49%;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .seek-purchase .seek-purchase-content >table >tbody tr.expand-row td .seek-list table tbody tr td.seek-replies ul {
        /*position: absolute;*/
        margin: 0 auto;
       /* border-radius: 2px;
        background: #fff;
        top: 0;
        left: 33px;*/
        width: 135px;
       /* border: 1px solid #fce8df;*/
    }
    .seek-purchase .seek-purchase-content >table >tbody tr.expand-row td .seek-list table tbody tr td.seek-replies ul li {
        line-height: normal;
        font-size: 14px;
    }
    /*提示框样式 start*/
    /*.seek-purchase .com-del-box {
        display: none;
    }*/
    .seek-purchase .com-del-box .title {
        background-color: #4290f7;
    }
    .seek-purchase .com-del-box .content p {
        line-height: initial;
        padding-bottom: 7px;
    }
    .seek-purchase .com-del-box .content p i{
        color: #4290f7;
    }
    .seek-purchase .com-del-box >div a:first-child {
        color: #fff;
    }
    .seek-purchase .com-del-box >div a:last-child {
        background-color: #4290f7;
    }
    .seek-purchase .com-del-box >div {
        font-size: 14px;
    }
    .seek-purchase .com-del-box .input-line {
        margin: 17px 0 21px 0;
    }
    .seek-purchase .com-del-box .input-line input {
        width: 109px;
        height: 24px;
        display: inline-block;
        font-size: 12px;
        padding: 0 10px;
        border-radius: 2px;
    }
    .seek-purchase .com-del-box .btn-line {
        margin: 0 0 18px 0;
    }
    /*提示框样式 end*/
    .seek-purchase .seek-purchase-content >table >tbody tr.pager-row td div {
        text-align: right;
        padding-right: 15px;
        margin: 20px 0 12px 0;
    }
    .seek-purchase .seek-purchase-content >table >tbody tr.empty td div {
        text-align: center;
        height: 200px;
        line-height: 200px;
    }
    .seek-purchase .seek-purchase-content >table >tbody tr.empty td div span {
        color: #999;
        margin-left: 10px;
    }
    .seek-purchase table {
        table-layout: fixed;
    }
    .seek-purchase table tbody tr td {
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .seek-purchase .bom-manage {
        margin: 10px 0 0 0;
        background: #fff;
        padding-bottom: 30px;
    }
    .seek-purchase .bom-manage .bom-manage-header {
        height: 83px;
        line-height: 83px;
        padding: 0 16px 0 39px;
    }
    .seek-purchase .bom-manage .bom-manage-header p {
        font-size: 18px;
        font-weight: bold;
        display: inline-block;
    }
    .seek-purchase .bom-manage .bom-manage-header p span {
        font-size: 24px;
        color: #fd7748;
    }
    .seek-purchase .bom-manage .bom-manage-header .fr a {
        color: #4290f7;
        font-size: 14px;
        margin-right: 6px;
    }
    .seek-purchase .bom-manage .bom-manage-header .fr label {
        display: inline-block;
        height: 32px;
        width: 104px;
        text-align: center;
        line-height: 32px;
        color: #fff;
        background: #fd7748;
        cursor: pointer;
        border-radius: 2px;
        font-size: 14px;
    }
    .seek-purchase .bom-manage .bom-manage-header .fr label input {
        display: none;
    }
    .seek-purchase .bom-manage > table {
        width: 1003px;
        margin: 0 auto;
        border-bottom: 1px solid #4290f7;
    }
    .seek-purchase .bom-manage > table tbody tr {
        height: 100px;
        line-height: 100px;
        margin: 0 12px;
        border: 1px solid #fff;
    }
    .seek-purchase .bom-manage > table tbody tr td img {
        margin: 0 0 0 28px;
    }
    .seek-purchase .bom-manage > table tbody tr td > div {
        display: inline-block;
        line-height: 23px;
        font-size: 14px;
        vertical-align: middle;
        margin: 0 0 0 21px;
    }
    .seek-purchase .bom-manage > table tbody tr td > div p {
        font-size: 14px;
        font-weight: bold;
    }
    .seek-purchase .blue-text {
        color: #4290f7;
    }
    .seek-purchase .bom-manage > table tbody tr td > a {
        width: 64px;
        height: 24px;
        display: inline-block;
        font-size: 12px;
        text-align: center;
        line-height: 24px;
        background: #4290f7;
        color: #fff;
        border-radius: 2px;
        margin: 38px 20px 0 0;
    }
    .seek-purchase .bom-manage > table tbody tr:hover {
        background: #fdf8f5;
        border: 1px solid #fce8df;
    }
    .seek-purchase .seek-purchase-content .BOM-header {
        height: 164px;
        padding: 14px;
    }
    .seek-purchase .seek-purchase-content .BOM-header > a {
        font-size: 14px;
        color: #4290f7;
    }
    .seek-purchase .seek-purchase-content .BOM-header > div {
        height: 100px;
        margin: 14px 0 0 0;
        line-height: 100px;
        border: 1px dashed #fd7748;
        padding: 0 66px 0 21px;
    }
    .seek-purchase .seek-purchase-content .BOM-header > div .fr {
        line-height: normal;
        font-size: 14px;
        margin-top: 25px;
    }
    .seek-purchase .seek-purchase-content .BOM-header > div p.BOM-name-area {
        font-size: 22px;
        font-weight: bold;
    }
    .seek-purchase .seek-purchase-content .BOM-header > div p {
        display: inline-block;
    }
    .seek-purchase .seek-purchase-content .BOM-header > div p.BOM-name-area a {
        margin-left: 10px;
        display: inline-block;
        width: 102px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        background: #fd7748;
        color: #fff;
        font-size: 12px;
        cursor: pointer;
        border-radius: 2px;
        vertical-align: middle;
        position: relative;
        bottom: 2px;
    }
    .seek-purchase .seek-purchase-content .BOM-header > div p.BOM-edit input {
        display: inline-block;
        width: 358px;
        height: 30px;
        border-radius: 2px;
        border: 1px solid #dedede;
    }
    .seek-purchase .seek-purchase-content .BOM-header > div p.BOM-edit a {
        padding: 6px 14px;
        color: #fff;
        font-size: 12px;
        border-radius: 2px;
        background: #c6c6c6;
        vertical-align: middle;
    }
    .seek-purchase .seek-purchase-content .BOM-header > div p.BOM-edit a:last-child {
        background: #fd7748;
    }
    .seek-purchase .link-saler-box {
        width: 289px;
        height: auto;
        min-height: auto;
        border-radius: 2px;
    }
    .seek-purchase .link-saler-box .title {
        background-color: #4290f7;
        height: 22px;
        line-height: 22px;
        margin-bottom: 20px;
    }
    .seek-purchase .link-saler-box .content p {
        line-height: 20px;
        padding-top: 0;
    }
    .seek-purchase .link-saler-box .content p i {
        color: #4290f7;
        margin-right: 4px;
    }
    .seek-purchase .link-saler-box .content p span {
        color: #f62d37;
    }
    .seek-purchase .link-saler-box .content div a {
        width: 78px;
        background: #4290f7;
        margin: 18px 0 13px 0;
        border-radius: 2px;
    }
</style>
<div class="user_right fr seek-purchase">
    <!--求购询价-->
    <div class="oder" style="margin-top: 10px;">
        <div class="oder01">
            <ul>
                <li ng-class="{'active': activeType == 'seekManage'}"><a href="javascript:void(0)" ng-click="toogleType('seekManage')">单个求购</a></li>
                <li ng-class="{'active': activeType == 'bomManage'}"><a href="javascript:void(0)" ng-click="toogleType('bomManage')">BOM求购</a></li>
            </ul>
        </div>
    </div>
    <div class="oder" style="margin-top: 10px;" ng-show="activeType == 'seekManage'">
        <div class="oder01">
            <ul>
                <li ng-class="{'active': tab == 'waitOffer'}"><a href="javascript:void(0)" ng-click="toogleTab('waitOffer')">待报价</a></li>
                <li ng-class="{'active': tab == 'offered'}"><a href="javascript:void(0)" ng-click="toogleTab('offered')">已报价</a></li>
            </ul>
        </div>
    </div>
    <div class="seek-purchase-content" ng-show="activeType == 'seekManage'">
        <div class="publish-purchase">
            <div class="fl">
                <p>单个发布</p>
                <div class="form-block">
                    <span><i>*</i>型号</span>
                    <input type="text" class="form-group" ng-model="applyObj.code" ng-class="{'error': !validObj.code}" ng-blur="checkCode()" ng-change="onCodeChange()" >
                    <ul class="similar-list" ng-show="showSimilarCodeList" ng-mouseenter="isInCodeList = true;" ng-mouseleave="isInCodeList = false;">
                        <li ng-repeat="sCode in similarCode" ng-bind="sCode.code" title="{{sCode.code}}" ng-click="setCode(sCode.code)"></li>
                    </ul>
                </div>
                <div class="form-block">
                    <span><i>*</i>品牌</span>
                    <input type="text" class="form-group" ng-class="{'error': !validObj.brand}" maxlength="20" ng-model="applyObj.brand" ng-blur="checkBrand()" ng-change="onBrandChange()">
                    <ul class="similar-list" ng-show="showSimilarBrandList" ng-mouseenter="isInBrandList = true;" ng-mouseleave="isInBrandList = false;">
                        <li ng-repeat="sBrand in similarBrand" ng-bind="sBrand.nameEn" title="{{sBrand.nameEn}}" ng-click="setBrand(sBrand.nameEn)"></li>
                    </ul>
                </div>
                <div class="form-block">
                    <span><i>*</i>截止日期</span>
                    <input type="text" ng-model="applyObj.deadline"
                           readonly
                           class="form-control select-adder" placeholder="截止日期"
                           ng-class="{'error': !validObj.deadline}"
                           datepicker-popup="yyyy-MM-dd"
                           is-open="condition.deadlineOpen"
                           min-date="nowDate" max-date="deadDate"
                           current-text="今天" clear-text="清除" close-text="关闭"
                           ng-click="openDatePicker($event, condition, 'deadlineOpen',3)"
                           datepicker-options="{formatDayTitle: 'yyyy年M月', formatMonth: 'M月', showWeeks: false}"
                           ng-change="checkDeadline()"
                    />
                </div>
                <div class="form-block">
                    <span>采购数量</span>
                    <input type="text" ng-change="onAmountChange()" class="form-group" ng-class="{'error': !validObj.amount}" ng-model="applyObj.amount" ng-blur="checkAmount()" >
                </div>
                <div class="form-block single-price">
                    <span>单价预算</span>
                    <select ng-model="applyObj.currency">
                        <option value="RMB">¥</option>
                        <option value="USD">$</option>
                    </select>
                    <input type="number" class="form-group" ng-class="{'error': !validObj.unitPrice}" ng-model="applyObj.unitPrice" ng-blur="checkUnitPrice()"  ng-change="onUnitPriceInput()" >
                </div>
                <div class="form-block">
                    <span>封装</span>
                    <input type="text" class="form-group" ng-model="applyObj.encapsulation" ng-change="onEncapsulationChange()">
                </div>
                <div class="form-block">
                    <span>生产日期</span>
                    <input type="text" class="form-group" ng-model="applyObj.produceDate" ng-change="onProduceDateChange()">
                </div>
                <a href="javascript:void(0)" ng-click="release()">发布求购</a>
            </div>
        </div>
        <div class="empty-line"></div>
        <!--搜索时间筛选-->
        <div class="screen">
            <div class="fl">
                <!--
                <label class="com-check-box">
                    <input type="checkbox" id="1" ng-model="isMallGoods" ng-change="onSearch()">
                    <label for="1"></label>
                </label>&nbsp;有现货&nbsp;&nbsp;-->
                <!--
                截止时间&nbsp;
                <select class="form-control select-adder" ng-model="overdue" ng-change="onSearch()" ng-init="overdue='0'">
                    <option value="0">全部</option>
                    <option value="1">已截止</option>
                    <option value="正在生效">正在生效</option>
                </select>
                -->
            </div>
            <div class="sreach fr">
                <span>发布时间&nbsp;</span>
                <div class="date fl">
                    <div class="data-input">
                        <input type="text" ng-model="startDate"
                               class="form-control select-adder" placeholder="起始时间"
                               datepicker-popup="yyyy-MM-dd"
                               is-open="condition.startDateOpen"
                               max-date="endDate" current-text="今天" clear-text="清除" close-text="关闭"
                               ng-click="openDatePicker($event, condition, 'startDateOpen',1)"
                               datepicker-options="{formatDayTitle: 'yyyy年M月', formatMonth: 'M月', showWeeks: false}"
                               ng-change="vaildDate(true)"
                        />
                        <button class="open" ng-click="openDatePicker($event, condition, 'startDateOpen')"></button>
                    </div>

                    <em>–</em>
                    <div class="data-input">
                        <input type="text" ng-model="endDate"
                               class="form-control select-adder" placeholder="结束时间"
                               datepicker-popup="yyyy-MM-dd"
                               is-open="condition.endDateOpen"
                               min-date="startDate" current-text="今天" clear-text="清除" close-text="关闭"
                               ng-click="openDatePicker($event, condition, 'endDateOpen',2)"
                               datepicker-options="{formatDayTitle: 'yyyy年M月', formatMonth: 'M月', showWeeks: false}"
                               ng-change="changeEndDate()"
                        />
                        <button class="open" ng-click="openDatePicker($event, condition, 'endDateOpen')"></button>
                    </div>
                </div>
                <div class="sreach-input fr">
                    <input type="search" placeholder="型号/品牌" class="form-control" ng-model="keyWord" ng-search="onSearch()"/>
                    <a class="seek" href="javascript:void(0)" ng-click="onSearch()">搜索</a>
                </div>
            </div>
        </div>
        <table ng-table="seekPurchaseTableParams">
            <thead>
            <tr>
                <th width="165">发布时间</th>
                <th width="202">型号 / 品牌</th>
                <th width="93">采购数量</th>
                <th width="78">单价预算</th>
                <th width="70">封装</th>
                <th width="105">生产日期</th>
                <th width="123">截止时间</th>
                <th width="81">
                    <!--
                    <select class="select-adder form-control" ng-model="searchStatus" ng-change="onSearch(searchStatus)">
                        <option value="0">全部</option>
                        <option value="">待报价</option>
                        <option value="done">已报价</option>
                        <option value="202">已采纳</option>
                    </select>-->
                    状态
                </th>
                <th width="92">操作</th>
            </tr>
            </thead>
            <tbody ng-repeat="seek in seekListData.content">
            <tr class="default-row">
                <td ng-bind="seek.date | date:'yyyy-MM-dd HH:mm'"></td>
                <td style="text-align: left;">
                    <p title="{{seek.cmpCode}}" class="text-bold" style="width: 205px;">
                        <span ng-bind="seek.cmpCode || '-'"></span>
                    </p>
                    <p title="{{seek.inbrand}}" ng-bind="seek.inbrand || '-'" style="width: 205px;"></p>
                </td>
                <td ng-bind="seek.needquantity || '-'"></td>
                <td>
                    <span title="{{seek.currency + seek.unitPrice | currencyStr}}">{{seek.currency + seek.unitPrice | currencyStr}}</span>
                </td>
                <td ng-bind="seek.encapsulation || '-'" title="{{seek.encapsulation}}">盘装</td>
                <td ng-bind="seek.produceDate || '-'" title="{{seek.produceDate}}">2012-12-12</td>
                <td class="left-time" ng-if="seek.remainingTime > 0">剩余&nbsp;<span ng-bind="getDay(seek.remainingTime)" ng-if="getDay(seek.remainingTime) > 0" class="red-text"></span><i ng-if="getDay(seek.remainingTime) > 0">&nbsp;天&nbsp;</i><span ng-if="getDay(seek.remainingTime) <= 0" ng-bind="getHours(seek.remainingTime)" class="red-text">5</span><i ng-if="getDay(seek.remainingTime) <= 0">&nbsp;小时</i></td>
                <td class="left-time" ng-if="seek.remainingTime <= 0"><span style="color: red;">已截止</span></td>
                <td class="left-time" ng-if="seek.remainingTime == null"><span style="color: red;">-</span></td>
                <td>
                    <span ng-if="seek.offerAmount == 0" style="color:red;">待报价</span>
                    <span ng-if="seek.agreed == 0 && seek.offerAmount > 0">已报价</span>
                    <span ng-if="seek.agreed == 1" style="color:green;">已采纳</span>
                </td>
                <td class="operate-seek">
                    <span ng-if="seek.offerAmount > 0" ng-show="!seek.$status || seek.$status == 0" ng-click="setSeekStatus(seek, 2)">查看报价&nbsp;<i class="fa fa-angle-double-down"></i></span>
                    <span ng-if="seek.goodsAmount > 0" ng-show="!seek.$status || seek.$status == 0" ng-click="setSeekStatus(seek, 1)">查看现货&nbsp;<i class="fa fa-angle-double-down"></i></span>
                    <span ng-show="seek.$status && (seek.$status == 1 || seek.$status == 2)" ng-click="setSeekStatus(seek, 0)">收起&nbsp;<i class="fa fa-angle-double-up"></i></span>
                </td>
            </tr>
            <tr class="expand-row" ng-if="seek.$status == 1 || seek.$status == 2">
                <td colspan="10">
                    <div>
                        <div class="switch-line">
                            <a ng-disabled="goodsCount == 0" ng-class="{'active': seek.$status == 1}" ng-click="setSeekStatus(seek, 1)">商城现货（<span ng-bind="goodsCount"></span>）</a>
                            <a ng-disabled="offerCount == 0" ng-class="{'active': seek.$status == 2}"  ng-click="setSeekStatus(seek, 2)">当前报价（<span ng-bind="offerCount"></span>）</a>
                        </div>
                        <div ng-show="seek.$status == 1">
                            <table>
                                <thead>
                                <tr>
                                    <!-- <th width="68">全选</th>-->
                                    <th width="214">卖家</th>
                                    <th width="83">交期(天)</th>
                                    <th width="104">单价</th>
                                    <th width="137">生产日期</th>
                                    <th width="111">库存</th>
                                    <th width="142">购买数量</th>
                                    <th width="186">操作</th>
                                </tr>
                                </thead>
                            </table>
                            <div class="seek-list">
                                <table>
                                    <tbody>
                                    <tr ng-repeat="go in goods track by $index">
                                        <!--<td width="68">
                                            <label class="com-check-box">
                                                <input type="checkbox" id="{{$index + 2}}" ng-model="go.$checked" ng-change="onSelectGoods(go, seek, $index)">
                                                <label for="{{$index + 2}}"></label>
                                            </label>
                                        </td>-->
                                        <td width="214" title="{{go.enterpriseName}}" ng-bind="go.enterpriseName">哈哈哈</td>
                                        <td width="83" class="red-text" ng-bind="go.minDelivery+'-'+go.maxDelivery">4-6{{fragments[i].price}}</td>
                                        <td width="104" class="red-text">{{go.currencyName + fragments[$index].price | currencyStr}}</td>
                                        <td width="137" ng-bind="go.produceDate">2012-12-12</td>
                                        <td width="111" ng-bind="go.reserve">21412</td>
                                        <td width="142" class="input-number">
                                            <div>
                                                <span ng-click="subNum($index)" ng-class="{'not-allowed': !fragments[$index].canSub}">-</span>
                                                <input type="number" ng-model="fragments[$index].num" ng-blur="inputNum($index)">
                                                <span ng-click="addNum($index)" ng-class="{'not-allowed': !fragments[$index].canAdd}">+</span>
                                            </div>
                                        </td>
                                        <td width="186" class="operate">
                                            <a href="javascript:void(0)" ng-controller="ChatContactCtrl as chat" ng-click="chat.contactWithOther('12345', go.enUU, chat.UserType.ENTERPRISE)">联系卖家<img src="static/img/seekPurchase/link-buyer.png" alt=""></a>
                                            <span ng-click = "purchase(go, $index)">立即购买</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!--
                            <div class="all-buy">
                                <span><div ng-if="seek.amount">剩余数量：{{seek.amount - selectAmount}}</div></span>
                                <span><div ng-if="seek.amount">已选数量：{{selectAmount}}</div></span>
                                <span>产品小计：{{selectPrice}}元</span>
                                <a href="javascript:void(0)">立即购买</a>
                            </div>
                            -->
                        </div>
                        <div ng-show="seek.$status == 2">
                            <table>
                                <thead>
                                <tr>
                                    <th width="273">卖家</th>
                                    <th width="233">交期(天)</th>
                                    <th width="234">价格梯度</th>
                                    <!--<th width="195">生产日期</th>-->
                                    <th width="221">操作</th>
                                </tr>
                                </thead>
                            </table>
                            <div class="seek-list">
                                <table>
                                    <tbody>
                                    <tr ng-repeat="of in offer track by $index">
                                        <td width="273" ng-bind="of.vendName" title="{{of.vendName}}"></td>
                                        <td width="233" class="red-text" ng-bind="of.leadtime">4-6</td>
                                        <td width="234" class="seek-replies">
                                            <!--<span>{{of.currency + of.unitPrice | currencyStr}}</span>-->
                                            <div class="red-text">
                                                <!--<span>{{of.replies[0].lapQty}}</span>
                                                <span>{{of.currency + of.replies[0].price | currencyStr}}</span>-->
                                            </div>
                                            <ul class="red-text">
                                              <li ng-repeat="re in of.replies">
                                                  <span ng-bind="re.lapQty" title="{{re.lapQty}}">1+</span>
                                                  <span title="{{of.currency + re.price | currencyStr}}">{{of.currency + re.price | currencyStr}}</span>
                                              </li>
                                            </ul>
                                        </td>
                                        <!--<td width="195" ng-bind="of.produceDate || '-'"></td>-->
                                        <td width="221" class="operate">
                                            <a ng-click="setLinkBoxIndex($index)">联系卖家<img src="static/img/seekPurchase/link-buyer.png" alt=""></a>

                                            <img ng-if="of.agreed == 1" src="static/img/seekPurchase/recieved.png" alt="" class="ng-scope">
                                            <span ng-if="seek.agreed != 1" ng-click="adopt(of.id)">采纳报价</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
            <tbody>
            <tr class="pager-row" ng-if="seekListData.totalElements > 0">
                <td colspan="10">
                    <div>
                        显示&nbsp;{{(seekListData.number - 1 ) * seekListData.size + 1}}-{{seekListData.number * seekListData.size}}&nbsp;条，共&nbsp;{{seekListData.totalElements}}&nbsp;条
                    </div>
                </td>
            </tr>
            <tr ng-if="!seekListData.totalElements" class="empty">
                <td colspan="10">
                    <div>
                        <img src="static/img/all/empty-cart.png">
                        <span>暂无求购信息</span>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="bom-manage" ng-show="activeType == 'bomManage'">
        <div class="bom-manage-header">
            <p><span ng-bind="bomTotal">56</span>&nbsp;个BOM清单</p>
            <div class="fr">
                <a href="seek/release/template">下载BOM模板 <i class="fa fa-long-arrow-down"></i></a>
                <label>导入新BOM
                    <input type="file" id="uploadCommodity" ng-file-select="" ng-change="upload()" ng-model="bomFiles" accept="*.xls,*.xlsx" ng-multiple="false"/>
                </label>
            </div>
        </div>
        <!--
        <div class="screen">
            <div class="sreach fr">
                <span>发布时间&nbsp;</span>
                <div class="date fl">
                    <div class="data-input">
                        <input type="text" ng-model="bomSearch.startDate"
                               class="form-control select-adder" placeholder="起始时间"
                               datepicker-popup="yyyy-MM-dd"
                               is-open="condition.startDateOpen"
                               max-date="endDate" current-text="今天" clear-text="清除" close-text="关闭"
                               ng-click="openDatePicker($event, condition, 'startDateOpen',1)"
                               datepicker-options="{formatDayTitle: 'yyyy年M月', formatMonth: 'M月', showWeeks: false}"
                               ng-change="vaildDate(true)"
                        />
                        <button class="open" ng-click="openDatePicker($event, condition, 'startDateOpen')"></button>
                    </div>
                    <em>–</em>
                    <div class="data-input">
                        <input type="text" ng-model="bomSearch.endDate"
                               class="form-control select-adder" placeholder="结束时间"
                               datepicker-popup="yyyy-MM-dd"
                               is-open="condition.endDateOpen"
                               min-date="startDate" current-text="今天" clear-text="清除" close-text="关闭"
                               ng-click="openDatePicker($event, condition, 'endDateOpen',2)"
                               datepicker-options="{formatDayTitle: 'yyyy年M月', formatMonth: 'M月', showWeeks: false}"
                               ng-change="changeEndDate()"
                        />
                        <button class="open" ng-click="openDatePicker($event, condition, 'endDateOpen')"></button>
                    </div>
                </div>
                <div class="sreach-input fr">
                    <input type="search" placeholder="BOM名称" class="form-control" ng-model="bomSearch.name" />
                    <a class="seek" href="javascript:void(0)" ng-click="onBomSearch()">搜索</a>
                </div>
            </div>
        </div>
        -->
        <table ng-table="bomTableParams">
            <tbody>
            <tr ng-repeat="bom in $data">
                <td>
                    <img src="static/img/seekPurchase/Excel.png" alt="">
                    <div>
                        <p ng-bind="bom.remark"></p>
                        <div>共 <span class="blue-text" ng-bind="bom.amount || 0"></span> 个产品<!--，<span class="red-text" ng-bind="bom.offerAmount || 0">10</span> 个有报价，<span class="red-text" ng-bind="bom.goodsAmount || 0">7</span> 个有现货--></div>
                        <div ng-bind="bom.releaseDate | date:'yyyy-MM-dd HH:mm:ss'"></div>
                    </div>
                    <a href="user#/bomDetail/{{bom.id}}" class="fr">查看详情</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="com-del-box" ng-show="showUseFlag">
        <div class="title">
            <i ng-click="setShowUseFlag(false)"></i>
        </div>
        <div class="content">
            <p><i class="fa fa-exclamation-circle"></i>是否要采纳此报价?</p>
            <div class="remind-line"><i class="red-text">*</i>点击【确认】后默认终止该求购</div>
            <div class="input-line"><i class="red-text">*</i>采购数量&nbsp;<input  ng-change="purchaseQuantityChange()" type="text" placeholder="请输入采购数量" class="form-control" ng-model="purchaseQuantity"></div>
            <div class="btn-line">
                <a ng-click="setShowUseFlag(false)">取消</a>
                <a ng-click="adopt()">确认</a>
            </div>
        </div>
    </div>
    <div class="com-mall-del-box link-saler-box" ng-if="linkBoxIndex > -1">
        <div class="title">
            <i ng-click="setLinkBoxIndex(-1)"></i>
        </div>
        <div class="content">
            <p><i class="fa fa-exclamation-circle"></i>抱歉，暂时无法与卖家在线沟通！</p>
            <p>卖家联系电话：<span ng-bind="currentSeek.qutations[linkBoxIndex].userTel"></span></p>
            <div>
                <a ng-click="setLinkBoxIndex(-1)">我知道了</a>
            </div>
        </div>
    </div>
</div>