<!--右侧主体部分-->
<div class="user_right fr">
    <!--我的求购-->
    <div class="wanted">
        <div class="wanted01">
            <ul class="fl">
                <li class="active"><a href="#"> 所有申请</a></li>
                <li><a href="#"> 待审核<em>（6）</em></a></li>
                <li><a href="#"> 审核中</a></li>
                <li><a href="#"> 审核通过</a></li>
                <li><a href="#"> 审核失败</a></li>
            </ul>
            <div class="wanted_btn01 fr"><a href="#">发布求购</a> </div>
        </div>
        <div class="wanted_list01">
            <!--所有申请-->
            <dl class="clearfix" style="display: inline-block;">
                <dt>
                    <span class="wd01">序号</span>
                    <span>原厂型号</span>
                    <span>品牌</span>
                    <span>类目</span>
                    <span>提交人</span>
                    <span>提交时间</span>
                    <span>审核状态</span>
                    <span>审核意见</span>
                    <span>操作</span>
                </dt>
                <p class="height16">&nbsp</p>
                <dd>
                    <span class="wd01">01</span>
                    <span>LPC1112</span>
                    <span>NXP</span>
                    <span>ARM处理器</span>
                    <span>Vincent</span>
                    <span>2017.02.15</span>
                    <span>审核中</span>
                    <span>审核中 </span>
                    <span><a href="#">修改/</a><a href="#">取消审核</a> </span>
                </dd>
                <dd>
                    <span class="wd01">01</span>
                    <span>LPC1112</span>
                    <span>NXP</span>
                    <span>ARM处理器</span>
                    <span>Vincent</span>
                    <span>2017.02.15</span>
                    <span>已审核</span>
                    <span>审核通过 </span>
                    <span><a href="#">推送求购</a></span>
                </dd>
                <dd>
                    <span class="wd01">01</span>
                    <span>LPC1112</span>
                    <span>NXP</span>
                    <span>ARM处理器</span>
                    <span>Vincent</span>
                    <span>2017.02.15</span>
                    <span>已审核</span>
                    <span>审核通过 </span>
                    <span><a href="#">联系客服</a></span>
                </dd>
                <dd><a href="#" class="more gray">查看更多</a></dd>
            </dl>
            <!--待审核-->
            <dl class="clearfix">
                <dt>
                    <span class="wd01">序号</span>
                    <span>原厂型号</span>
                    <span>品牌</span>
                    <span>类目</span>
                    <span>提交人</span>
                    <span>提交时间</span>
                    <span>审核状态</span>
                    <span>审核意见</span>
                    <span>操作</span>
                </dt>
                <p class="height16">&nbsp</p>
                <dd>
                    <span class="wd01">01</span>
                    <span>LPC1112</span>
                    <span>NXP</span>
                    <span>ARM处理器</span>
                    <span>Vincent</span>
                    <span>2017.02.15</span>
                    <span>审核中</span>
                    <span>审核中 </span>
                    <span><a href="#">修改/</a><a href="#">取消审核</a> </span>
                </dd>
                <dd>
                    <span class="wd01">01</span>
                    <span>LPC1112</span>
                    <span>NXP</span>
                    <span>ARM处理器</span>
                    <span>Vincent</span>
                    <span>2017.02.15</span>
                    <span>已审核</span>
                    <span>审核通过 </span>
                    <span><a href="#">联系客服</a></span>
                </dd>
                <dd><a href="#" class="more gray">查看更多</a></dd>
            </dl>
            <!--审核中-->
            <dl class="clearfix">
                <dt>
                    <span class="wd01">序号</span>
                    <span>原厂型号</span>
                    <span>品牌</span>
                    <span>类目</span>
                    <span>提交人</span>
                    <span>提交时间</span>
                    <span>审核状态</span>
                    <span>审核意见</span>
                    <span>操作</span>
                </dt>
                <p class="height16">&nbsp</p>
                <dd>
                    <span class="wd01">01</span>
                    <span>LPC1112</span>
                    <span>NXP</span>
                    <span>ARM处理器</span>
                    <span>Vincent</span>
                    <span>2017.02.15</span>
                    <span>审核中</span>
                    <span>审核中 </span>
                    <span><a href="#">修改/</a><a href="#">取消审核</a> </span>
                </dd>
                <dd>
                    <span class="wd01">01</span>
                    <span>LPC1112</span>
                    <span>NXP</span>
                    <span>ARM处理器</span>
                    <span>Vincent</span>
                    <span>2017.02.15</span>
                    <span>审核中</span>
                    <span>审核中 </span>
                    <span><a href="#">修改/</a><a href="#">取消审核</a> </span>
                </dd>
                <dd>
                    <span class="wd01">01</span>
                    <span>LPC1112</span>
                    <span>NXP</span>
                    <span>ARM处理器</span>
                    <span>Vincent</span>
                    <span>2017.02.15</span>
                    <span>已审核</span>
                    <span>审核通过 </span>
                    <span><a href="#">联系客服</a></span>
                </dd>
                <dd><a href="#" class="more gray">查看更多</a></dd>
            </dl>
            <!--审核通过-->
            <dl class="clearfix">
                <dt>
                    <span class="wd01">序号</span>
                    <span>原厂型号</span>
                    <span>品牌</span>
                    <span>类目</span>
                    <span>提交人</span>
                    <span>提交时间</span>
                    <span>审核状态</span>
                    <span>审核意见</span>
                    <span>操作</span>
                </dt>
                <p class="height16">&nbsp</p>
                <dd>
                    <span class="wd01">01</span>
                    <span>LPC1112</span>
                    <span>NXP</span>
                    <span>ARM处理器</span>
                    <span>Vincent</span>
                    <span>2017.02.15</span>
                    <span>审核中</span>
                    <span>审核中 </span>
                    <span><a href="#">修改/</a><a href="#">取消审核</a> </span>
                </dd>
                <dd>
                    <span class="wd01">01</span>
                    <span>LPC1112</span>
                    <span>NXP</span>
                    <span>ARM处理器</span>
                    <span>Vincent</span>
                    <span>2017.02.15</span>
                    <span>已审核</span>
                    <span>审核通过 </span>
                    <span><a href="#">联系客服</a></span>
                </dd>
                <dd><a href="#" class="more gray">查看更多</a></dd>
            </dl>
            <!--审核失败-->
            <dl class="clearfix">
                <dt>
                    <span class="wd01">序号</span>
                    <span>原厂型号</span>
                    <span>品牌</span>
                    <span>类目</span>
                    <span>提交人</span>
                    <span>提交时间</span>
                    <span>审核状态</span>
                    <span>审核意见</span>
                    <span>操作</span>
                </dt>
                <p class="height16">&nbsp</p>
                <dd>
                    <span class="wd01">01</span>
                    <span>LPC1112</span>
                    <span>NXP</span>
                    <span>ARM处理器</span>
                    <span>Vincent</span>
                    <span>2017.02.15</span>
                    <span>审核中</span>
                    <span>审核中 </span>
                    <span><a href="#">修改/</a><a href="#">取消审核</a> </span>
                </dd>
                <dd>
                    <span class="wd01">01</span>
                    <span>LPC1112</span>
                    <span>NXP</span>
                    <span>ARM处理器</span>
                    <span>Vincent</span>
                    <span>2017.02.15</span>
                    <span>已审核</span>
                    <span>审核通过 </span>
                    <span><a href="#">联系客服</a></span>
                </dd>
                <dd><a href="#" class="more gray">查看更多</a></dd>
            </dl>
        </div>
        <div class="wanted_list02">
            <dl class="clearfix">
                <dt>
                    <span class="wd01"><a href="#">批量删除</a> </span>
                    <span>求购产品名</span>
                    <span>分装信息</span>
                    <span>需求数量</span>
                    <span>状态</span>
                    <span>操作</span>
                </dt>
                <p class="height16">&nbsp</p>
                <dd>
                    <span class="wd01"><label for="checkon"><input type="checkbox" id="checkon" name="checkbox"/></label></span>
                    <span>日期：2017.01.12</span>
                    <span>订单号：20170112001</span>
                    <span></span>
                    <span></span>
                    <span><a href="#" class="xiazai gray"><em></em>下载查看EXCEL</a></span>
                </dd>
                <dd>
                    <span class="wd01"><label for="checkon"><input type="checkbox" id="checkon" name="checkbox"/></label></span>
                    <span>STM32F405RGT6</span>
                    <span>QFP64</span>
                    <span>1888</span>
                    <span>求购中</span>
                    <span><a href="#">取消求购</a></span>
                </dd>
                <dd>
                    <span class="wd01"><label for="checkon"><input type="checkbox" id="checkon" name="checkbox"/></label></span>
                    <span>STM32F405RGT6</span>
                    <span>QFP64</span>
                    <span>1888</span>
                    <span>求购中</span>
                    <span><a href="#">取消求购</a></span>
                </dd>
                <p class="height16">&nbsp</p>
                <dd>
                    <span class="wd01"><label for="checkon"><input type="checkbox" id="checkon" name="checkbox"/></label></span>
                    <span>日期：2017.01.12</span>
                    <span>订单号：20170112001</span>
                    <span></span>
                    <span></span>
                    <span><a href="#" class="xiazai gray"><em></em>下载查看EXCEL</a></span>
                </dd>
                <dd>
                    <span class="wd01"><label for="checkon"><input type="checkbox" id="checkon" name="checkbox"/></label></span>
                    <span>STM32F405RGT6</span>
                    <span>QFP64</span>
                    <span>1888</span>
                    <span>求购中</span>
                    <span><a href="#">取消求购</a></span>
                </dd>
                <dd>
                    <span class="wd01"><label for="checkon"><input type="checkbox" id="checkon" name="checkbox"/></label></span>
                    <span>STM32F405RGT6</span>
                    <span>QFP64</span>
                    <span>1888</span>
                    <span>求购中</span>
                    <span><a href="#">取消求购</a></span>
                </dd>
                <dd>
                    <span class="wd01"><label for="checkon"><input type="checkbox" id="checkon" name="checkbox"/></label></span>
                    <span>STM32F405RGT6</span>
                    <span>QFP64</span>
                    <span>1888</span>
                    <span>求购中</span>
                    <span><a href="#">取消求购</a></span>
                </dd>
                <dd>
                    <span class="wd01"><label for="checkon"><input type="checkbox" id="checkon" name="checkbox"/></label></span>
                    <span>STM32F405RGT6</span>
                    <span>QFP64</span>
                    <span>1888</span>
                    <span>求购中</span>
                    <span><a href="#">取消求购</a></span>
                </dd>
            </dl>
        </div>
    </div>
</div>