<!--右侧主体部分-->
<div class="user_right fr">
    <div class="right_l">
        <!--我的钱包-礼券-->
        <div class="wallet">
            <div class="wallet_head">
                <ul>
                    <li class="active"><a href="#"><em class="coupon01"></em><p>礼券</p></a></li>
                    <li><a href="#"><em class="coupon02"></em><p>银行优惠</p></a></li>
                    <li><a href="#"><em class="coupon03"></em><p>积分</p></a></li>
                    <li><a href="#"><em class="coupon04"></em><p>申请样品</p></a></li>
                </ul>
            </div>
            <div class="wallet_list clearfix">
                <!--礼券-->
                <dl style="display: inline-block;">
                    <dt>
                        <span>劵</span>
                        <span>类型</span>
                        <span>劵号</span>
                        <span>优惠</span>
                        <span>使用规则</span>
                        <span>提示</span>
                    </dt>
                    <dd>
                        <span><img src="static/img/user/images/coupon01.png"/> </span>
                        <span>折扣卷</span>
                        <span>20170112001</span>
                        <span>8折</span>
                        <span><a href="#">点击查看</a> </span>
                        <span><a href="#" class="btn01">立即使用</a></span>
                    </dd>
                    <dd>
                        <span><img src="static/img/user/images/coupon02.png"/> </span>
                        <span>现金券</span>
                        <span>20170112001</span>
                        <span>50.00￥</span>
                        <span><a href="#">点击查看</a> </span>
                        <span><a href="#" class="btn02">已过期</a></span>
                    </dd>
                    <dd>
                        <span><img src="static/img/user/images/coupon01.png"/> </span>
                        <span>折扣卷</span>
                        <span>20170112001</span>
                        <span>8折</span>
                        <span><a href="#">点击查看</a> </span>
                        <span><a href="#" class="btn01">立即使用</a></span>
                    </dd>
                    <dd>
                        <span><img src="static/img/user/images/coupon02.png"/> </span>
                        <span>现金券</span>
                        <span>20170112001</span>
                        <span>8折</span>
                        <span><a href="#">点击查看</a> </span>
                        <span><a href="#" class="btn02">已过期</a></span>
                    </dd>
                    <dd>
                        <span><img src="static/img/user/images/coupon01.png"/> </span>
                        <span>折扣卷</span>
                        <span>20170112001</span>
                        <span>8折</span>
                        <span><a href="#">点击查看</a> </span>
                        <span><a href="#" class="btn01">立即使用</a></span>
                    </dd>
                    <dd>
                        <span><img src="static/img/user/images/coupon02.png"/> </span>
                        <span>现金券</span>
                        <span>20170112001</span>
                        <span>8折</span>
                        <span><a href="#">点击查看</a> </span>
                        <span><a href="#" class="btn02">已过期</a></span>
                    </dd>
                    <dd>
                        <span><img src="static/img/user/images/coupon02.png"/> </span>
                        <span>现金券</span>
                        <span>20170112001</span>
                        <span>8折</span>
                        <span><a href="#">点击查看</a> </span>
                        <span><a href="#" class="btn02">已过期</a></span>
                    </dd>
                </dl>
                <!-- 银行优惠-->
                <dl>
                    <dt>
                        <span>劵</span>
                        <span>类型</span>
                        <span>劵号</span>
                        <span>优惠</span>
                        <span>使用规则</span>
                        <span>提示</span>
                    </dt>
                    <dd>
                        <span><img src="static/img/user/images/coupon01.png"/> </span>
                        <span>折扣卷</span>
                        <span>20170112001</span>
                        <span>8折</span>
                        <span><a href="#">点击查看</a> </span>
                        <span><a href="#" class="btn01">立即使用</a></span>
                    </dd>
                    <dd>
                        <span><img src="static/img/user/images/coupon02.png"/> </span>
                        <span>现金券</span>
                        <span>20170112001</span>
                        <span>50.00￥</span>
                        <span><a href="#">点击查看</a> </span>
                        <span><a href="#" class="btn02">已过期</a></span>
                    </dd>
                </dl>
                <!--积分-->
                <dl>
                    <dt>
                        <span>劵</span>
                        <span>类型</span>
                        <span>劵号</span>
                        <span>优惠</span>
                        <span>使用规则</span>
                        <span>提示</span>
                    </dt>
                    <dd>
                        <span><img src="static/img/user/images/coupon01.png"/> </span>
                        <span>折扣卷</span>
                        <span>20170112001</span>
                        <span>8折</span>
                        <span><a href="#">点击查看</a> </span>
                        <span><a href="#" class="btn01">立即使用</a></span>
                    </dd>
                    <dd>
                        <span><img src="static/img/user/images/coupon02.png"/> </span>
                        <span>现金券</span>
                        <span>20170112001</span>
                        <span>50.00￥</span>
                        <span><a href="#">点击查看</a> </span>
                        <span><a href="#" class="btn02">已过期</a></span>
                    </dd>
                </dl>
                <!--申请样品-->
                <dl>
                    <dt>
                        <span>劵</span>
                        <span>类型</span>
                        <span>劵号</span>
                        <span>优惠</span>
                        <span>使用规则</span>
                        <span>提示</span>
                    </dt>
                    <dd>
                        <span><img src="static/img/user/images/coupon01.png"/> </span>
                        <span>折扣卷</span>
                        <span>20170112001</span>
                        <span>8折</span>
                        <span><a href="#">点击查看</a> </span>
                        <span><a href="#" class="btn01">立即使用</a></span>
                    </dd>
                    <dd>
                        <span><img src="static/img/user/images/coupon02.png"/> </span>
                        <span>现金券</span>
                        <span>20170112001</span>
                        <span>50.00￥</span>
                        <span><a href="#">点击查看</a> </span>
                        <span><a href="#" class="btn02">已过期</a></span>
                    </dd>
                </dl>
            </div>
            <div class="wallet_banner"><img src="static/img/user/images/wallet_banner02.jpg"/></div>
        </div>
    </div>
    <div class="right_r">
            <div id="calender" class="right_r_01" style="margin-top:0px">
    			<div id="date"></div>
			</div>
        <div class="wallet_banner"><img src="static/img/user/images/wallet_banner01.jpg"/></div>
    </div>
</div>
