<!-- 页面编辑 -->
<!-- 店铺header Start -->
<div class="shop-header">
	<div class="container">
		<img src="static/img/shop/ex/shop_header.png">
	</div>
</div>
<!-- 店铺header End -->
<!-- 店铺內容编辑 Start -->
<div class="shop-content">
	<!-- 店铺招牌 Start -->
	<div class="shop-sign">
		<div class="container">
			<img src="static/img/shop/ex/shop_sign.png">
		</div>
		<div class="shop-sign-mark">以上为页头区域</div>
	</div>
	<!-- 店铺招牌 End -->
	<!-- 图片轮播 Start -->

	<!-- 图片轮播 End -->
	<!-- 产品推荐 Start -->

	<!-- 产品推荐 End -->
	<!-- 产品搜索、分类、排行 Start -->

	<!-- 产品搜索、分类、排行 End -->
	<!-- 自定义内容区 Start -->

	<!-- 自定义内容区 End -->
</div>
<!-- 店铺內容编辑 End -->
<!-- 店铺页脚 Start -->

<!-- 店铺页脚 End -->