/*招商注册*/
ul,li{
  list-style: none;
}
.business{
  width: 100%;
  margin: 0 auto;
}
.business .banner{
  height: 630px;
  margin-top: -47px;
  background: url("/images/activity/business-banner.png") no-repeat center;
}
@media screen and (max-width: 1366px) {
  .business .banner{
    height: 630px;
  }
}
.business  .session{
  width: 100%;
  margin: 0 auto;
}
.business  .session .content{
  width: 1190px;
  margin: 0 auto;
}
.business .introduction{
  height: 420px;
}
.business h3{
  text-align: center;
  font-size: 30px;
  margin: 0;
}
.business .introduction .theme{
  width: 60px;
  height: 11px;
  border-top:2px solid #ff8400;
  margin: 0 auto;
  position: relative;
  top: 3px;
}
.business .introduction .text{
  text-indent: 2em;
  font-size: 16px;
  color: #666;
  line-height: 35px;
  margin: 50px 130px 140px 130px;
  /*opacity:0;
  transform:scale(0);
  transition:.5s 0.1s;*/
}
.business .introduction .text p {
  margin: 0;
}
.business .introduction.active .text{
  opacity:1 !important; transform:none !important;
}
.business .join{
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
.business .introduction .join{
  margin-top: -100px;
}
.business .join a{
  width: 170px;
  height: 46px;
  display: inline-block;
  line-height: 46px;
  text-align: center;
  background: #ff8400;
  font-size: 20px;
  border-radius: 4px;
  color: #fff;
}
.business .join a:hover{
  background: #d32526;
}
.business .advantage{
  background: #6a99fa;
  height: 630px;
}
.business .advantage h3{
  color: #fff;
  padding: 95px 0 95px 0;
}
.business .advantage .advantage-list{
  width: 100%;
  margin: 0 auto;
  display: inline-block;
}
.business .advantage .advantage-list ul{
  width: 95%;
  padding-left: 110px;
  margin: 0 auto;
  display: inline-block;
  height: 235px;
}
.business .advantage .advantage-list ul  li {
  float: left;
  width: 174px;
  height: 206px;
  border-radius: 10px;
  background: #fff;
  margin: 0 10px;
  overflow: hidden;
  position: relative;
  text-align: center;
}
.business .advantage .advantage-list ul  li img{
  margin-top: 25px;
  margin-bottom: 10px;
}
.business .advantage .advantage-list ul  li:hover{
  cursor: pointer;
  top: -16px;
  transition: top 1s ease-out;
  transform:scale(1.2);
}
.business .advantage .advantage-list ul  li:hover p.title{
  height: 40px;
  line-height: 40px;
  font-size: 18px;
}
.business .advantage .advantage-list ul  li:hover img{
  margin-top: 15px;
  margin-bottom: 10px;
}
.business .advantage .advantage-list ul  li:hover p:last-child{
  color: #333;
}
.business .advantage .advantage-list ul  li p{
  display: inline-block;
  width: 100%;
  text-align: left;
  margin-top: -20px;
}
.business .advantage .advantage-list ul  li p.title{
  height: 28px;
  line-height: 28px;
  text-align: center;
  font-size: 16px;
  color: #333;
}
.business .advantage .advantage-list ul  li p:last-child{
  padding: 16px 20px;
  color: #999;
  font-size: 14px;
  line-height: 20px;
}
.business .advantage .join{
  margin-top: 75px;
}
.business .style{
  height: 700px;
}
.business .style h3{
  padding-top: 80px;
}
.business .style .theme{
  width: 80px;
  height: 11px;
  border-top:2px solid #ff8400;
  margin: 0 auto;
  position: relative;
  top: 3px;
}
.business .style .style-list{
  width: 100%;
  margin: 0 auto;
  display: inline-block;
  margin-top: 55px;
}
.business .style .style-list ul{
  width: 96%;
  margin: 0 auto;
  display: inline-block;
  overflow: hidden;
}
.business .style .style-list ul li{
  float: left;
  width: 25%;
  text-align: center;
}
.business .style .style-list ul li:hover img {
  transform: scale(1.01);
}
/*.business .style .style-list ul li:hover p{
    color: #5078cb;
}*/
.business .style .style-list ul li img {
  width: 108px;
  height: 108px;
}
.business .style .style-list ul li p{
  font-size: 16px;
  color: #333;
  line-height: 70px;
  margin-bottom: 20px;
}
.business .style .join{
  margin-top: 25px;
}
.business  .join-us{
  background: #64c7f2;
  height: 630px;
}
.business  .join-us h3{
  color: #fff;
  padding-top: 75px;
}
.business  .join-us .content{
  height: 660px;
  background: url("/images/activity/business.png") no-repeat center;
}
.business  .join-us  .join-step{
  width: 94%;
  margin: 0 auto;
  margin-top: 307px;
  display: inline-block;
}
.business  .join-us  .join-step div{
  float: left;
  width: 28%;
  text-align: center;
}
.business  .join-us  .join-step div:first-child{
  margin-left: 125px;
}
.business  .join-us  .join-step div h5{
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  color: #fff;
}
.business  .join-us  .join-step div p{
  line-height: 20px;
  font-size: 14px;
  color: #fff;
}
.business  .join-us .join{
  margin-top: 50px;
}
.business .join a:hover{
  transform: scale(1.1);
  transition: transform .2s ease-out;
}
.business  .contact-us{
  background: url("/images/activity/contact01.png") no-repeat center;
  height: 630px;
  margin-top: -50px;
}
.business  .contact-us h3{
  color: #fff;
  padding-top: 100px;
  margin-bottom: 70px;
}
.business .contact-us .contact-step{
  background-color: #fff;
  width: 900px;
  height: 300px;
  margin: 0 auto;
  overflow: hidden;
}
.business .contact-us .contact-step img{
  float: left;
  padding: 90px 0px 0px 50px;
}
.business .contact-us .contact-step div {
  float: right;
  border-left: 1px solid #ccc;
  height: 250px;
  width: 470px;
  padding: 75px 35px 0px 45px;
  margin: 30px 0px 30px 0px;
}
.business .contact-us .contact-step .list-one {
  background: url("/images/activity/contact03.png") no-repeat 2% 70%;
  padding: 10px 0px 5px 50px;
  font-size: 15px;
}
.business .contact-us .contact-step .list-two {
  background: url("/images/activity/contact04.png") no-repeat 2% 70%;
  padding: 10px 0px 5px 50px;
  font-size: 15px;
}
.business .contact-us .contact-step .list-three {
  background: url("/images/activity/contact05.png") no-repeat 3% 70%;
  padding: 10px 0px 5px 50px;
  font-size: 15px;
}
.business .function-hinting{
  height: 200px;
  margin: -30px 0px 35px 0px;
}
.business .function-hinting .hinting-list{
  width: 100%;
  margin: 0 auto;
  display: inline-block;
  margin-top: 55px;
}
.business .function-hinting .hinting-list ul{
  width: 96%;
  margin: 0 auto;
  display: inline-block;
}
.business .function-hinting .hinting-list ul li{
  float: left;
  width: 25%;
  text-align: center;
}
.business .function-hinting .hinting-list ul li img{
  width: 108px;
  height: 108px;
}
.business .function-hinting .hinting-list ul li p{
  font-size: 16px;
  color: #333;
  line-height: 70px;
  margin-bottom: 20px;
}



/*
.business .join{
    animation:come_on 2s infinite;
}
@keyframes come_on {
    0% {
        transform: scale(1); }
    50% {
        transform: scale(1.04); }
    100% {
        transform: scale(1); }
}*/
