// scroll

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: hsla(0, 0%, 100%, 0.6);
}

::-webkit-scrollbar-track {
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: rgba(95,95,95,.4);
  transition: background-color .15s;

  &:hover {
    background-color: rgba(95,95,95, .7);
  }
}

// ie等滚动条遮住元素
html, body {
  -ms-overflow-style: scrollbar;
}

#cnzz_stat_icon_1267002346 {
  display: none;
}

// common style
.clearfix {
  &:before, &:after {
    display: table;
    content: " ";
  }
  &:after {
    clear: both;
  }
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-inline li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.hide {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.container {
  width: $container-width;
  margin: 0 auto;
}

.dl-horizontal dt {
  float: left;
  width: 160px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dl-horizontal dd {
  display: block;
  margin-left: 180px;

  &:before, &:after {
    display: table;
    content: " ";
  }
  &:after {
    clear: both;
  }
}
.dropdown {
  position: relative;

  .dropdown-toggle {
    cursor: pointer;
  }
  .dropdown-menu {
    position: absolute;
    left: 0;
    top: 100%;
    min-width: 100%;
    display: none;
    background-color: $white;
    z-index: 100;
  }
  &:hover {
    .dropdown-menu {
      display: block;
    }
  }
}
// button
.btn {
  display: inline-block;
  height: 36px;
  line-height: 1;
  padding: 3px 12px;
  margin: 0;
  border: 1px solid transparent;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  &.btn-default {
    color: $text;
    background-color: $white;
    border-color: $dividers;
  }
  &.btn-primary {
    color: $white;
    background-color: $primary;
    border-color: $primary;
  }
}
// form
.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: $white;
  background-image: none;
  border: $border;
  color: $text;
  display: inline-block;
  font-size: inherit;
  height: 36px;
  line-height: 1;
  outline: none;
  padding: 3px 10px;
  width: 100%;

  &.input-primary {
    border-color: $primary;
  }
}

.input-group {
  position: relative;
  display: inline-table;
  width: 100%;
  border-collapse: separate;

  .form-control, .input-group-btn {
    display: table-cell;
  }

  .input-group-addon, .input-group-btn {
    position: relative;
    width: 1px;
    white-space: nowrap;
    vertical-align: middle;
  }

  .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
  }

  .input-group-btn {
    .btn {
      position: relative;
    }
  }
}

// vue animate
.slide-down-enter-active, .slide-down-leave-active {
  transition: all .4s cubic-bezier(0, 1.2, 1, 0.5);
  opacity: .7;
  transform: translate3d(0, 4em, 0);
}
.slide-down-enter, .slide-down-leave-active {
  opacity: .3;
  transform: translate3d(0, 4em, 0);
}

.slide-left-enter-active, .slide-left-leave-active {
  transition: all .2s cubic-bezier(0, 1.2, 1, 0.5);
  opacity: .5;
  transform: translate3d(2em, 0, 0);
}

.slide-left-enter, .slide-left-leave-active {
  opacity: .3;
  transform: translate3d(2em, 0, 0);
}

.slide-right-enter-active, .slide-right-leave-active {
  transition: all .4s cubic-bezier(0, 1.2, 1, 0.5);
  opacity: .5;
  transform: translate3d(5em, 0, 0);
}
.slide-right-enter, .slide-right-leave-active {
  opacity: .3;
  transform: translate3d(5em, 0, 0);
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .25s
}
.fade-enter, .fade-leave-active {
  opacity: 0
}
.fade-move {
  transition: transform .25s;
}

.page-enter-active, .page-leave-active {
  transition: opacity .25s
}
.page-enter, .page-leave-active {
  opacity: 0
}

.module-enter-active, .module-leave-active {
  transition: opacity .25s
}
.module-enter, .module-leave-active {
  opacity: 0
}

.aside-enter-active {
  transition: opacity .25s cubic-bezier(1, -1.17, 1, -1.17);
}
.aside-leave-active {
  transition: opacity 0s
}
.aside-enter, .aside-leave-active {
  opacity: 0
}
// 轮播
.swiper-pagination-bullet{
  width: 12px !important;
  height: 12px !important;
  opacity: 1 !important;
  background: none !important;
  border: #fff 1px solid;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active{
  background: #fff !important;
}
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets{
  bottom: 20px !important;
}
.swiper-button-prev i,.swiper-button-next i{
  font-size: 40px;
  color: #fff;
  opacity: 1;
  font-weight: 900;
  text-shadow: 2px 0px 5px #333;
}

.swiper-button-prev,.swiper-button-next{
  background: none !important;
  width: 40px !important;
  height: 80px !important;
  line-height: 80px;
  margin-top: -45px !important;
  opacity: .6;
}
.swiper-button-prev:hover,.swiper-button-next:hover{
  opacity: 1;
}
.menu-title{
  line-height: 30px;
  font-size: 14px;
  margin-bottom: 10px;
}
.menu-title a {
  color: #5078cb;
  font-size: 14px;
}
/*  产品分类调整*/
.el-tree {
  border: none !important;
  /*min-height: 300px;*/
}
.el-tree--highlight-current .el-tree-node.is-current>.el-tree-node__content,.el-tree-node:hover{
  background: none !important;
}
.el-tree-node__content:hover{
  background: none !important;
}
.el-tree-node__content:hover span{
  color: #5078cb;
}
.is-current>div.el-tree-node__content:first-child{
  color: #5078cb;
}
.el-pagination .el-pager li.active{
  background-color: #5078cb;
  border-color: #337ab7;
}
.el-tree-node__content .el-tree-node__expand-icon{
  font-family: "iconfont" !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  width: inherit;
  height: inherit;
  border: inherit;
  font-weight: bold;
  text-shadow: -1px 0px 0 #333;
  margin-right: 3px !important;
}
div.el-tree-node__content{
  line-height: 36px;
  height: 36px;
}
/*.el-tree-node__children .el-tree-node__content{
  padding-left: 8px !important;
}*/
.el-tree-node__expand-icon.is-leaf{
  visibility: hidden;
}
.el-tree-node__expand-icon:before{
  content: "\E621";
}
.el-pagination{
  margin-bottom: 15px;
}
// 留言板弹出框
.dialog .el-dialog__header{
  display: none;
}
.dialog .el-dialog__body{
  padding: 0 !important;
}
/*留言板查看*/
.messageBoard .img-item .preview {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 82px;
  height: 70px;
  overflow: hidden;
}
.messageBoard .img-item .preview img.previewImage{
  //background: #fff url('/images/all/msg_uploadPic.png')no-repeat center center;
  //max-height: 68px;
  //max-width: 80px;
  //line-height: 68px;
  //cursor: pointer;

  max-height: 82px;
  max-width: 70px;
  cursor: pointer;
  line-height: 70px;
  overflow: hidden;

  //width:100%;
  //height:0;
  //padding-bottom: 100%;
  //overflow:hidden;
  //background-position: center center;
  //background-repeat: no-repeat;
  //-webkit-background-size:cover;
  //-moz-background-size:cover;
  //background-size:cover;
}
.messageBoard .img-item input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  line-height: 70px;
  display: inline-block !important;
}
.messageBoard .img-item .hover-show{
  position: absolute;
  z-index: 1001;
  width: 82px;
  height: 70px;
  opacity: 0;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}
.messageBoard .img-item:hover .hover-show{
  opacity: 1;
}
.messageBoard .img-item .hover-show .delete{
  position: absolute;
  top: 3px;
  right: 3px;
  padding: 0;
  width: 20px;
  height: 20px;
  float: right;
  text-align: center;
}
.messageBoard .img-item .hover-show .delete i{
  color: #fff;
  font-size: 16px;
}
.messageBoard .img-item .hover-show a{
  display: inline-block;
  width: 100%;
  height: 70px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  line-height: 70px;
}
.messageBoard .img-item .hover-show a i{
  margin-right: 5px;
  font-size: 16px;
}
.messageBoard .img-item #image-box .x-floating-wrap{
  position: fixed;
  z-index: 99998;
  background: #000;
  top: 0;
  left: 0;
  width: 680px;
  height: 100%;
  opacity: 0.5;
}
/*查看大图*/
#image-box .x-floating-wrap,.image-box .x-floating-wrap {
  position: fixed;
  z-index: 99998;
  background: #000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
#image-box,.image-box{
  display:table; overflow:hidden; margin-left:50px; _position:relative;  width: 1200px;height: 700px;
  position: fixed;
  top: 50%;
  margin-top: -350px;
  left: 50%;
  margin-left: -600px;
  z-index: 2020;
}
#image-box .x-floating,.image-box .x-floating {
  vertical-align:middle !important;
  display:table-cell;
  text-align:center;
  _position:absolute;
  _top:50%; _left:50%;
  top: inherit !important;
  left: inherit !important;
}
#image-box .x-floating img ,.image-box .x-floating img {
  margin: auto auto;
  max-width: 970px !important;
  max-height: 600px !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#image-box .x-floating-wrap,.image-box .x-floating-wrap{
  z-index: 1000000 !important;
}
#item-content{
  color:#fff; display:inline-block; _position:relative; _top:-50%; _left:-50%;
  position: relative;
  z-index: 10000000;
}
#item-content div.x-close-wrap{
  position: absolute;
  right: -15px;
  line-height: 30px;
  top: -13px;
  color: #fff;
  width: 35px;
  height: 35px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  opacity: 1;
  margin: 0;
  z-index: 100000;
  min-height: initial;
  text-align: center;
}
#item-content div.x-close-wrap a{
  position: relative;
  left: 0;
  bottom: 0;
  font-size: 34px;
  color: #fff;
}
#item-content div.x-close-wrap a:hover{
  color: #fff !important;
}
#item-content div.x-close-wrap:hover{
  cursor: pointer;
  opacity: .9;
}
#item-content div.x-close-wrap img{
  width: 30px !important;
  height: 30px !important;
}
#item-content .img{
  position: relative;
  z-index: 10;
}


/*查看大图*/
#image-box .x-floating-wrap,.image-box .x-floating-wrap {
  position: fixed;
  z-index: 99998;
  background: #000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
#image-box,.image-box{
  display:table; overflow:hidden; margin-left:50px; _position:relative;  width: 1200px;height: 700px;
  position: fixed;
  top: 50%;
  margin-top: -350px;
  left: 50%;
  margin-left: -600px;
  z-index: 2000;
}
#image-box .x-floating,.image-box .x-floating {
  vertical-align:middle !important;
  display:table-cell;
  text-align:center;
  _position:absolute;
  _top:50%; _left:50%;
  top: inherit !important;
  left: inherit !important;
}
#image-box .x-floating img ,.image-box .x-floating img {
  margin: auto auto;
  max-width: 970px !important;
  max-height: 600px !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#image-box .x-floating-wrap,.image-box .x-floating-wrap{
  z-index: 1000000 !important;
}
#item-content{
  color:#fff; display:inline-block; _position:relative; _top:-50%; _left:-50%;
  position: relative;
  z-index: 10000000;
}
#item-content div.x-close-wrap{
  position: absolute;
  right: -15px;
  line-height: 30px;
  top: -13px;
  color: #fff;
  width: 35px;
  height: 35px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  opacity: 1;
  margin: 0;
  z-index: 100000;
  min-height: initial;
  text-align: center;
}
#item-content div.x-close-wrap a{
  position: relative;
  left: 0;
  bottom: 0;
  font-size: 34px;
  color: #fff;
}
#item-content div.x-close-wrap a:hover{
  color: #fff !important;
}
#item-content div.x-close-wrap:hover{
  cursor: pointer;
  opacity: .9;
}
#item-content div.x-close-wrap img{
  width: 30px !important;
  height: 30px !important;
}
#item-content .img{
  position: relative;
  z-index: 10;
}
.componentDetail .el-dialog--tiny{
  width: 320px !important;
}
.componentDetail .el-dialog__body{
  padding: 14px !important;
}

a {
  color: #2d8cf0;
  background: 0 0;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
  transition: color .2s ease;
}
.select-adder {
  background:url("../../static/images/all/xiala.png") right no-repeat #fff !important;
  background-position-x: 100% !important;

}
select {
  /*将默认的select选择框样式清除*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  -ms-appearance:none;
}
select::-ms-expand {
  display: none;
}

/*input number 箭头*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"]{
  -moz-appearance: textfield;
}

.banner-img {
  display: block;
  margin: 10px auto;
}

.fl {
  float: left;
}

.fr {
  float: right;
}
/*new 标签*/
@keyframes newAnimate {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, -3px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

img.new-animate{
  position: relative;
  top: -7px;
  animation: newAnimate 1s infinite;
}

/*提示横条*/
.com-result{
  position: relative;
  height: 30px;
  width: 100%;
  line-height: 30px;
  text-align: center;
  background: #fef6f2;
  border: 1px solid #ec854d;
  overflow: hidden ;
}
.com-result .text{
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #f15601;
}
.com-result .text em{
  margin-right: 3px;
  font-style: normal;
}
.com-result .text a {
  color: #5078cb;
}
.com-result .close-tip{
  position: absolute;
  right: 0;
  padding-right: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #ef1d1d;
  line-height: 28px;
}

.clear-float {
  clear: both;
}

.inline-block {
  display: inline-block;
  vertical-align: middle;
}

.text-ellipse {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
