<style>
	.marketing {
		width: 1190px;
		padding: 0px;
	}

	.marketing .store-box {
		width: 218px;
		height: 200px;
		border: 1px solid #D6D3CE;
		margin-left: 22px;
		margin-bottom: 22px;
	}

	.margin-left-zero {
		margin-left: 0px !important;
	}

	.marketing ul.list-inline {
		margin-left: 0px;
	}

	.marketing .list-inline>li {
		padding-right: 0px;
		padding-left: 0px;
	}

	.marketing .see-more {
		float: right;
		width: 70px;
		height: 26px;
		border: 1px solid #d6d3ce;
		color: #579aff;
		font-size: 14px;
		line-height: 26px;
		padding-left: 6px;
		margin-top: 20px;
	}

	.marketing .see-more:hover {
		cursor: pointer;
	}

	.marketing .title {
		font-weight: 600;
		font-size: 24px;
		line-height: 60px;
		height: 60px;
	}

	.store-box .content {
		padding: 5px;
		height: 103px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		word-break: break-all;
	}

	.store-box .name {
		font-size: 16px;
		color: #383939;
		font-weight: 600;
	}

	.store-box .subject, .store-box .description {
		font-size: 12px;
		color: #9A9691;
		line-height: 1.4;;
	}

	.store-box .description span {
		word-break: normal;
		width: 204px;
		display: inline;
		white-space: pre-wrap;
		word-wrap : break-word ;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.store-index-top {
		height: 360px;
	}

	.store-index-top-left {
		width: 240px;
		float: left;
		display: inline-block;
	}

	.store-index-top-center {
		width: 670px;
		display: inline-block;
		float: left;
		border: 1px solid #D6D3CE;
	}

	.store-index-top-right {
		width: 280px;
		float: left;
		display: inline-block;
	}

	/*index*/
	#manufacturer-header {
		width: 1190px;
		padding: 0px;
	}

	#banner .banner-body {
		margin: 0 auto;
		width: 1190px;
	}
	#newBrands {
		float: left;
		width: 350px;
		height: 360px;
		border: 1px solid #ccc;
	}

	#newBrands .newBrands-header {
		font-size: 18px;
		font-weight: bold;
		color: #323232;
		height: 55px;
		padding-top: 8px;
	}

	#newBrands .newBrands-header img {
		width: 35px;
		height: 35px;
		margin-left: 35px;
		margin-right: 18px;
	}

	#newBrands .newBrands-body {
		/*text-align: center;*/
	}

	#newBrands .newBrands-body .newBrand {
		margin-bottom: 15px;
	}

	#newBrands .newBrands-body .newBrand .newBrand-img {
		display: inline-block;
		margin-right: 18px;
		margin-left: 27px;
		float: left;
		width: 50px;
		height: 50px;
		text-align: center;
		line-height: 50px;
		border: #e8e8e8 1px solid;
		overflow: hidden;
	}

	#newBrands .newBrands-body .newBrand .newBrand-img img {
		max-width: 50px;
		max-height: 50px;
		vertical-align: middle;
	}

	#newBrands .newBrands-body .newBrand .newBrand-text {
		display: inline-block;
		line-height: 26px;
		height: 60px;
		width: 250px;
	}

	#newBrands .newBrands-body .newBrand .newBrand-text .newBrands-title {
		font-size: 16px;
		color: #337ab7;
	}
	#newBrands .newBrands-body .newBrand .newBrand-text:hover .newBrands-title{
		color: #d32526;
	}
	#newBrands .newBrands-body .newBrand .newBrand-text .newBrands-message {
		font-size: 14px;
		color: #787878;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	#category {
		text-align: center;
		float: left;
		width: 20%;
		height: 300px;
		color: white;
		font-size: 16px;
	}

	#carousel {
		float: left;
		width: 840px;
		height: 360px;
		/*margin-bottom: 60px;*/
	}

	#recommends {
		width: 1190px;
		padding: 0px;
	}

	#recommends .hr-blue {
		border-bottom: 2px solid #6493FF;
		border-right: 0px;
		border-top: 0px;
		border-left: 0px;
		width: 100%;
		margin-bottom: 20px;
	}

	#recommends .recommend-list {
		margin-bottom: 20px;
		margin: 0;
	}

	#recommends .recommend-list .recommend {
		width: 220px;
		height: 210px;
		border: 1px solid #D6D3CE;
		margin-right: 22.5px;
		margin-bottom: 22px;
	}
	#recommends .recommend-list .recommend:last-child{
		margin-right: 0px !important;
	}
	.margin-left-zero {
		margin-left: 0px !important;
	}
	#recommends .recommend-list .recommend a {
		text-decoration: none;
	}
	#recommends .recommend-list .recommend .img{
		width: 200px;
		height: 80px;
		display: inline-block;
		overflow: hidden;
		line-height: 80px;
		text-align: center;
		margin-top: 5px;
	}
	#recommends .recommend-list .recommend img{
		max-height: 75px;
		max-width: 200px;
		margin-top: 5px;
	}

	#recommends .recommend-list .recommend .content {
		margin: 0 10px;
		height: 108px;
		text-align: left;
	}

	#recommends .recommend-list .recommend .name {
		font-size: 16px;
		color: #383939;
		font-weight: 600;
		width: 200px;
		height: 30px;
		margin-top: 10px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		word-break: break-all;
	}
	/*#recommends .recommend-list .recommend:hover .name{*/
		/*width: auto;*/
	/*}*/
	#recommends .recommend-list .recommend .subject, #recommends .recommend-list .recommend .description {
		font-size: 12px;
		color: #797979;
		line-height: 18px;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		max-height: 36px;
	}
	#recommends .recommend-list .recommend .description{
		margin-top: 5px;
		width: 200px;
		height: 35px;
	}
	#recommends .recommend-list .recommend .subject span {
		width: 204px;
		white-space: pre-wrap;
		word-wrap : break-word ;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	#recommends .recommend-list .recommend:hover{
		border: #5078cb 1px solid;
	}
	#recommends .recommend-list .recommend .description span {
		word-break: keep-all;
		width: 204px;
		display: inline;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: pre-wrap;
		word-wrap : break-word ;
	}
	.title-icon {
		font-size: 24px;
		color: #323232;
		margin-top: 30px;
		margin-bottom: 10px
	}

	#carousel li {
		width: 12px;
		height: 12px;
		margin: 3px;
	}
	#newBrands .sign {
		height: 80px;
		box-shadow: 0px -5px 20px 0px #E3E1DE;
		padding-top: 5px;
	}

	#newBrands .count {
		font-size: 16px;
		padding: 5px;
	}

	#newBrands .count span {
		color: #328CFE;
	}

	.sign button {
		background-color: #3D76C6;
		color: white;
		font-size: 14px;
		font-weight: 600;
		border-radius: 4px;
		height: 30px;
		width: 160px;
		border: #3D76C6;
	}
	.sign button:hover{
		transform: scale(1.05);
		background: #5078cb;
	}
	.sign div.img, .sign div.content {
		display: inline-block;
	}
	.sign div.img{
		margin-left: 30px;
	}
	.sign div.img img {
		margin-bottom: 25px;
	}
	.sign div.content {
		font-size: 0px;
		padding-left: 3px;
		height: 70px;
	}
	.carousel-control:focus, .carousel-control:hover {
		cursor: pointer;
	}
	.carousel-control:focus, .carousel-control:hover {
		cursor: pointer;
	}
</style>
<div>
	<!-- 轮播及店铺推荐 -->
	<div class="container marketing">
		<div class="store-index-top-left">
			<div ng-include src="'static/view/provider/home/sale_outstanding_store.html'"></div>
		</div>
		<div class="store-index-top-center">
			<div ng-include src="'static/view/provider/home/carousel.html'"></div>
		</div>
		<div class="store-index-top-right">
			<div ng-include src="'static/view/provider/home/new_sign.html'"></div>
		</div>
	</div>
</div>

<!--<div id="manufacturer-header" class="container">
	<div id="carousel">
		<carousel interval="5000">
			<slide ng-repeat="c in carousels" active="slide.active">
				<img ng-src="{{c.pictureUrl}}" width="840px" height="360px" style="max-width: 840px;max-height: 360px">
				<div class="carousel-caption">
					<h4 ng-bind="c.body"></h4>
				</div>
			</slide>
		</carousel>
	</div>
	<div id="newBrands">
		<div  class="newBrands-header">
			<img ng-src="static/img/icon/new.png" />
			<span>新入驻的原厂</span>
		</div>
		<div  class="newBrands-body">
			<div style="min-height: 210px;margin-bottom: 15px;">
				<div class="newBrand" ng-repeat="newStore in newStores | limitTo:3">
					<a ng-href="store/{{newStore.uuid}}#/home" target="_blank">
						<div class="newBrand-img">
							<img ng-src="{{newStore.logoUrl}}" />
						</div>
						<div class="newBrand-text">
							<div class="newBrands-title" ng-bind="newStore.storeName"></div>
							<div class="newBrands-message" style="display: none;">
								<span>主营：</span>
								<span>未知</span>
							</div>
							<div class="newBrands-message">
								<span>商家介绍：</span>
								<span>{{newStore.description || '暂无'}}</span>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="sign">
				<div class="img">
					<img ng-src="static/img/store/home/shop.png"/>
				</div>
				<div class="content">
					<div class="count">
						已入驻原厂<span ng-bind="storeCount">0</span>家
					</div>
					<div>
						<a ng-href="vendor#/store-apply"><button>立即入驻</button></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>-->

<div id="recommends"  class="container" ng-if="recommendOriginal && recommendOriginal.length > 0">
	<div class="title-icon">原厂推荐</div>
	<div class="hr-blue"></div>
	<ul class="recommend-list list-unstyled list-inline">
		<li class="recommend" ng-repeat="store in recommendOriginal">
			<a ng-href="store/{{store.uuid}}#/home" target="_blank">
				<div class="img"><img ng-src="{{store.logoUrl || 'static/img/all/default.png'}}" /></div>
				<div class="content">
					<div class="name">
						<span ng-bind="store.storeName" title="{{store.storeName}}"></span>
					</div>
					<div class="subject" style="min-height: 5px;">
						<!--<strong>主营分类</strong>： <span ng-bind="hotBrand.series"></span> <span ng-if="!hotBrand.series">未知</span>-->
					</div>
					<div class="description">
						<strong>商家介绍</strong>：
						<span ng-if="store.description">{{store.description}}</span>
						<span ng-if="!store.description">暂无简介</span>
					</div>
				</div>
			</a>
		</li>
	</ul>
</div>

<div style="margin-top: 20px;">
	<!-- 供应商列表 -->
	<div ng-include src="'static/view/provider/list/suppliers.html'"></div>
</div>
