<style>
	.marketing {
		width: 1190px;
		padding: 0px;
	}

	.marketing .store-box {
		width: 218px;
		height: 200px;
		border: 1px solid #D6D3CE;
		margin-left: 22px;
		margin-bottom: 22px;
	}

	.margin-left-zero {
		margin-left: 0px !important;
	}

	.marketing ul.list-inline {
		margin-left: 0px;
	}

	.marketing .list-inline>li {
		padding-right: 0px;
		padding-left: 0px;
	}

	.marketing .see-more {
		float: right;
		width: 70px;
		height: 26px;
		border: 1px solid #d6d3ce;
		color: #579aff;
		font-family: "Microsoft Yahei", "微软雅黑";
		font-size: 14px;
		line-height: 26px;
		padding-left: 6px;
		margin-top: 20px;
	}

	.marketing .see-more:hover {
		cursor: pointer;
	}

	.marketing .title {
		font-weight: 600;
		font-size: 24px;
		font-family: "Microsoft Yahei", "微软雅黑";
		line-height: 60px;
		height: 60px;
	}

	.store-box .content {
		font-family: "Microsoft Yahei";
		padding: 5px;
		height: 103px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		word-break: break-all;
	}
	.store-box img {
		max-height: 88px;
		max-width: 220px;
		margin-top: 5px;
	}
	.store-box .name {
		font-size: 16px;
		color: #383939;
		font-weight: 600;
		margin: 0 0 5px 0;
	}

	.store-box .subject, .store-box .description {
		font-size: 12px;
		color: #9A9691;
		line-height: 1.4;
		margin-bottom: 5px;
	}

	.store-box .description span {
		word-break: normal;
		width: 204px;
		display: inline;
		white-space: pre-wrap;
		word-wrap : break-word ;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.store-index-top {
		height: 360px;
	}

	.store-index-top-left {
		width: 240px;
		float: left;
		display: inline-block;
	}

	.store-index-top-center {
		width: 670px;
		display: inline-block;
		float: left;
		border: 1px solid #D6D3CE;
	}

	.store-index-top-right {
		width: 280px;
		float: left;
		display: inline-block;
	}
</style>
<div>
	<!-- 轮播及店铺推荐 -->
	<div class="container marketing">
		<div class="store-index-top-left">
			<div ng-include src="'static/view/provider/home/sale_outstanding_store.html'"></div>
		</div>
		<div class="store-index-top-center">
			<div ng-include src="'static/view/provider/home/carousel.html'"></div>
		</div>
		<div class="store-index-top-right">
			<div ng-include src="'static/view/provider/home/new_sign.html'"></div>
		</div>
	</div>
	<!-- 优秀供应商列表 -->
	<div ng-include src="'static/view/provider/common/excellent_suppliers.html'"></div>
	<!-- 热销产品列表 -->
	<div ng-include src="'static/view/provider/home/hot_commodities.html'"></div>
</div>
