<div class="news" ng-controller="NewsCtrl">
    <div class="news-container">
        <h2><a ng-href="news#/home">优软快讯</a></h2>
        <ul class="title-list pull-left">
            <li ng-repeat="new in news | limitTo: 5">
                <a ng-href="{{'news#/detail/' + new.id}}" ng-bind="new.title" target="_blank"></a>
            </li>
            <li><a ng-href="news#/home">查看更多>></a></li>
        </ul>
        <ul class="thumbnail-list pull-right">
            <li ng-repeat="new in news | limitTo: 3">
                <a ng-href="{{'news#/detail/' + new.id}}" style="padding: 0;" target="_blank">
                    <img ng-src="{{ new.thumbnail }}" alt="new.title">
                    <a ng-href="{{'news#/detail/' + new.id}}" ng-bind="new.title" target="_blank"></a>
                </a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>
