<!--<style type="text/css">
    .content-header {
        font-size: 24px;
        border-bottom: 1px dashed rgb(129,184,233);
        padding-bottom: 10px;
        padding-left: 1em;
    }

    .content-title {
        font-size: 19px;
    }

    td > .simple-select {
        display: inline;
    }

    .normal-control-label {
        margin-bottom: 0;
        text-align: right;
        padding-top: 6px;
    }

    #bill-info label {
        font-weight: 700;
    }

    .base-line {
        vertical-align: -webkit-baseline-middle;
    }

    #bill-info .row {
        margin-left: 0px;
        margin-right: 0px;
    }

    #bill-info {
        font-size: 15px;
        margin-bottom: 1em;
    }

    .error {
        padding-top: 7px;
        line-height: 1.5;
    }

    div.radio {
        margin-top: 0px;
    }

    .padding-top-5 {
        padding-top: 5px;
    }

    label.padding-left-0 {
        padding-left: 0px;
    }

    .checkbox .col-md-3 {
        padding-right: 0px;
    }

    div.upload {
        margin-left: 15px;
        width: 370px;
    }

    #bill-info,  #bill-info input, #bill-info select{
        font-size: 14px !important;
    }

    .height-34 {
        height: 34px;
        line-height: 26px;
    }

    .a-background {
        color: red;
    }

    .address .checkbox .col-md-3{
        width: 20%;
    }
    #bill-info .form-control {
        color: #000;
        font-size: 14px;
    }
    #bill-info .format-error {
        color: red;
        height: 30px;
        line-height: 30px;
    }

    #bill-info select {
        opacity: 1;
    }
    #bill-info .content-header{
        font-size: 14px;
        line-height: 40px;
        padding-bottom: 0;
    }
    .select-adder{
        background:url("static/img/user/images/xiala.png") right no-repeat ;
        background-position-x: 150px;
    }
</style>-->
<!--<div id="bill-info">
      <div class="row">
          <h2 class="content-header" ng-bind="bill.head?'修改开票资料':'新增开票资料'">修改开票资料</h2>
      </div>
      <div class="row">
          <label class="col-md-3 normal-control-label"><b class="text-inverse">*</b>发票类型：</label>
          <div class="radio col-md-9">
              <label class="radio-inline" ng-show="isNormal">
        			<label class="padding-top-5"><input type="radio" ng-model="bill.kind" value="1206" ng-checked="bill.kind==1206"></label>
        			<label class="padding-left-0">增值税普通发票（不可抵扣）</label>
			</label>
              <label class="radio-inline" ng-show="isSpecial">
              		<label class="padding-top-5"><input type="radio" ng-model="bill.kind" value="1205" ng-checked="bill.kind==1205"></label>
              		<label class="padding-left-0">增值税专用发票（可抵扣） </label>
              </label>
          </div>
      </div>
      <form class="form-horizontal" novalidate="novalidate" name="form" ng-if="bill.kind==1206">
      		 <div class="form-group">
                <label class="col-md-3 control-label"><b class="text-inverse">*</b>发票抬头：</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" ng-model="bill.head" name="billHead" required="required">
                </div>
                <div class="text-inverse error col-md-2" ng-show="(bill.head||form.billHead.$touched)&&form.billHead.$invalid">必填项</div>
              </div>
              <div class="form-group">
                  <label class="col-md-3 control-label"><b class="text-inverse">*</b>收票人：</label>
                  <div class="col-md-5">
                      <input id="mpbillname" type="text" class="form-control" ng-model="bill.name" name="billName"  required="required" ng-change="linkmanLen()">
                  </div>
                  <div class="text-inverse error col-md-2">
                      <span ng-show="form.billName.$dirty && linkError">请勿超过10个字</span>
                      <span ng-show="(bill.name||form.billName.$touched)&&form.billName.$invalid">必填项</span>
                  </div>
              </div>
               <div class="form-group">
                  <label class="col-md-3 control-label"><b class="text-inverse">*</b>收票人联系电话：</label>
                  <div class="col-md-5">
                      <input type="text" class="form-control" ng-model="bill.telephone" name="billTel"
                      ng-pattern="/^((\(\d{3}\))|(\d{3}\\-))?(13|15|17|18)\d{9}$/" ng-length="11" required="required">
                  </div>
                  <div class="text-inverse error col-md-2" ng-show="(bill.telephone||form.billTel.$touched)&&form.billTel.$invalid">
                  		请输入正确的手机号码
                  	</div>
              </div>
              <div class="form-group">
                  <label for="landlineNumber" class="col-md-3 control-label"><strong class="text-inverse">*</strong>座机号码：</label>
                  <div class="col-md-5">
                      <input type="text" ng-model="bill.landlineNumber" required class="form-control" id="landlineNumber" name="landlineNumber" placeholder="请输入你的办公号码" ng-pattern="/^[0-9]{2,4}[\-\+]?[0-9]{6,8}$/">
                  </div>
                  <div class="col-md-2">
                      <span ng-show="(bill.landlineNumber || form.landlineNumber.$touched) && myForm.landlineNumber.$invalid" class="format-error">请输入正确的座机号</span>
                  </div>
              </div>
              <div class="form-group address">
                  <label class="col-md-3 control-label"><b class="text-inverse">*</b>收票地址：</label>
                  <div class="row checkbox">
					<div class="col-md-3">
						<select class="select-adder form-control"
							ng-model="bill.address.province" name="province"
							ng-options="key as key for (key,value) in division"
							ng-change="bill.address.city='';bill.address.district='';">
							<option value="">省</option>
						</select>
					</div>
					<div class="col-md-3">
						<select class="select-adder form-control" ng-model="bill.address.city" name="city"
							ng-options="key as key for (key,value) in division[bill.address.province]"
							ng-change="bill.address.district='';">
							<option value="">市</option>
						</select>
					</div>
					<div class="col-md-3">
					<select class="select-adder form-control" ng-model="bill.address.district" name="district"
						ng-options="value as value for value in division[bill.address.province][bill.address.city]" required="required">
						<option value="">区</option>
					</select>
					</div>
				</div>
              </div>
              <div class="form-group">
                  <label class="col-md-3 control-label"><b class="text-inverse">*</b>收票详细地址：</label>
                  <div class="col-md-5">
                      <input id="mpaddress" type="text" class="form-control" ng-model="bill.detailAddress" name="billDetail" required="required" ng-change="addressLen()">
                  </div>
                  <div class="text-inverse error col-md-2">
                      <span ng-show="form.billName.$dirty && addressError">请勿超过30个字</span>
                      <span ng-show="(bill.detailAddress||form.billDetail.$touched)&&form.billDetail.$invalid">必填项</span>
                  </div>
              </div>
              <div class="form-group">
              		<label class="col-md-3 control-label"><b class="text-inverse">*</b></label>
              		<div class="col-md-5">
                     <label class="check-active checkbox-inline text-inverse">
                     		<input type="checkbox" checked="true" name="is_agree" ng-model="bill.is_agree" required="required"  id="check-mpy" style="margin-top: 12px;" />
                            <label for="check-mpy"></label>
                             <span>我已阅读并同意</span>
                     </label>
                     <a href="/help/helpList/205" class="base-line" target="_blank" style=" position: relative;top: -3px;">《发票须知》</a>
                    </div>
              </div>
              <div class="col-md-offset-3">
                  <input type="submit" value="保存发票信息" class="btn btn-warning" ng-disabled="form.$invalid||(!bill.is_agree)||linkError||addressError" ng-click="saveBill()">
                  <input type="button" value="取消修改" class="btn btn-default" ng-click="exit()">
              </div>
      </form>
      <form class="form-horizontal" novalidate="novalidate" name="form" ng-if="bill.kind==1205">
           	  <div class="form-group">
                  <label class="col-md-3 control-label"><b class="text-inverse">*</b>发票抬头：</label>
                  <div class="col-md-5">
                      <input type="text" class="form-control" ng-model="bill.head" name="billHead" required="required">
                  </div>
                  <div class="text-inverse error col-md-2" ng-show="(bill.head||form.billHead.$touched)&&form.billHead.$invalid">必填项</div>
              </div>
              <div class="form-group">
                  <label class="col-md-3 control-label"><b class="text-inverse">*</b>收票人：</label>
                  <div class="col-md-5">
                      <input id="mzbillname" type="text" class="form-control" ng-model="bill.name" name="billName" required="required" ng-change="linkmanLen()">
                  </div>
                  <div class="text-inverse error col-md-2">
                      <span ng-show="form.billName.$dirty && linkError">请勿超过10个字</span>
                      <span ng-show="(bill.name||form.billName.$touched)&&form.billName.$invalid">必填项</span>
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-md-3 control-label"><b class="text-inverse">*</b>收票人联系电话：</label>
                  <div class="col-md-5">
                      <input type="text" class="form-control" ng-model="bill.telephone" name="billTel"
                      ng-pattern="/^((\(\d{3}\))|(\d{3}\\-))?(13|15|17|18)\d{9}$/" ng-length="11" required="required">
                  </div>
                  <div class="text-inverse error col-md-2" ng-show="(bill.telephone || form.billTel.$touched)&&form.billTel.$invalid">输入正确的联系方式</div>
              </div>
              <div class="form-group">
                  <label for="landlineNumber" class="col-md-3 control-label">座机号码：</label>
                  <div class="col-md-5">
                      <input type="text" ng-model="bill.landlineNumber" class="form-control" name="landlineNumber" placeholder="请输入你的办公号码" ng-pattern="/^[0-9]{2,4}[\-\+]?[0-9]{6,8}$/">
                  </div>
                  <div class="col-md-2">
                      <span ng-show="(bill.landlineNumber || form.landlineNumber.$touched) && myForm.landlineNumber.$invalid" class="format-error">请输入正确的座机号</span>
                  </div>
              </div>
              <div class="form-group address">
             	 <label class="col-md-3 control-label"><b class="text-inverse">*</b>收票地址：</label>
                <div class="row checkbox">
					<div class="col-md-3">
						<select required="required" class="select-adder form-control"
							ng-model="bill.address.province" name="province"
							ng-options="key as key for (key,value) in division"
							ng-change="bill.address.city='';bill.address.district='';">
							<option value="">省</option>
						</select>
					</div>
					<div class="col-md-3">
						<select class="select-adder form-control" ng-model="bill.address.city" name="city"
							ng-options="key as key for (key,value) in division[bill.address.province]"
							ng-change="bill.address.district='';" required="required">
							<option value="">市</option>
						</select>
					</div>
					<div class="col-md-3">
					<select class="select-adder form-control" ng-model="bill.address.district" name="district"
						ng-options="value as value for value in division[bill.address.province][bill.address.city]" required="required">
						<option value="">区</option>
					</select>
					</div>
				</div>
          	  </div>
              <div class="form-group">
                  <label class="col-md-3 control-label"><b class="text-inverse">*</b>收票详细地址：</label>
                  <div class="col-md-5">
                      <input id="mzaddress" type="text" class="form-control" required="required" name="billDetail" ng-model="bill.detailAddress" ng-change="addressLen()">
                  </div>
                  <div class="text-inverse error col-md-2">
                      <span ng-show="form.billName.$dirty && addressError">请勿超过30个字</span>
                      <span ng-show="(bill.detailAddress||form.billDetail.$touched)&&form.billDetail.$invalid">必填项</span>
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-md-3 control-label"><b class="text-inverse">*</b>单位地址：</label>
                  <div class="col-md-5">
                      <input type="text" class="form-control" ng-model="bill.companyAddress" name="companyAddr" required="required">
                  </div>
                  <div class="text-inverse error col-md-2" ng-show="(bill.companyAddress||form.companyAddr.$touched)&&form.companyAddr.$invalid">必填项</div>
              </div>
              <div class="form-group">
                  <label class="col-md-3 control-label"><b class="text-inverse">*</b>单位电话：</label>
                  <div class="col-md-5">
                      <input type="text" class="form-control" placeholder="区号和号码使用 '-' 隔开,或者不填区号" name="companyPhone" ng-model="bill.companyPhone" ng-pattern="/^[0-9][0-9\-]*[0-9]$/" required="required">
                  </div>
                  <div class="text-inverse error col-md-2" ng-show="(bill.companyPhone||form.companyPhone.$touched)&&form.companyPhone.$invalid">输入正确的电话</div>
              </div>
              <div class="form-group">
                 <label class="col-md-3 control-label"><b class="text-inverse">*</b>税务登记号：</label>
                  <div class="col-md-5">
                      <input type="text" class="form-control" ng-model="bill.companyTaxNumber" name="companyTaxNum" required="true" ng-minlength="15">
                  </div>
                  <div class="text-inverse error col-md-2" ng-show="(bill.companyTaxNumber||form.companyTaxNum.$touched)&&(form.companyTaxNum.$error.required||form.companyTaxNum.$error.minlength)">至少15位数字</div>
              </div>
              <div class="form-group">
                  <label class="col-md-3 control-label"><b class="text-inverse">*</b>开户银行：</label>
                  <div class="col-md-5">
                      <input type="text" class="form-control" ng-model="bill.bankName" name="bankName" required="required">
                  </div>
                  <div class="text-inverse error col-md-2" ng-show="(bill.bankName||form.bankName.$touched)&&form.bankName.$invalid">必填项</div>
              </div>
               <div class="form-group">
                  <label class="col-md-3 control-label"><b class="text-inverse">*</b>开户银行账户：</label>
                  <div class="col-md-5">
                      <input type="text" class="form-control" ng-model="bill.bankAccount" name="account" ng-pattern="/^[0-9]*$/" required ng-minlength="8" ng-maxlength="30">
                  </div>
                  <div class="text-inverse error col-md-3" ng-show="(bill.bankAccount||form.account.$touched)&&(form.account.$invalid)">输入正确的银行卡账号</div>
              </div>
              &lt;!&ndash;<div class="form-group" ng-show="bill.generalTaxpayerCertUrl">
                  <label for="generalTaxpayerCert" class="col-md-3 control-label">一般纳税人认定证书:</label>
                  <div class="col-md-5">
                      <input type="file" id="generalTaxpayerCert" name="generalTaxpayerCert" class="form-control" ng-file-select ng-model="generalTaxpayerCertFile" ng-multiple="false" accept="image/*,application/pdf,*.pdf">
                  </div>
              </div>&ndash;&gt;
              <div class="form-group" ng-show="bill.attachUrl&&!billInfoRevise">
                  <label class="col-md-3 control-label" for="exampleInputFile">开票资料:</label>
                  <div class="col-md-5 height-34">
                      <a href="{{bill.attachUrl}}" target="_blank">点击查看</a>&nbsp;<a class="a-background" ng-click="billInfoRevise=true;">修改</a>
                  </div>
              </div>
              <div class="form-group" ng-show="!bill.attachUrl || billInfoRevise">
			    <label class="col-md-3 control-label" for="exampleInputFile">上传开票资料:</label>
			    <div class="col-md-5">
			    	<input class="form-control" type="file" ng-file-select ng-model="bill.billInfo" name="billInfo" id="InputFile" ng-multiple="false" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg,application/pdf,*.pdf">
			    </div>
              </div>
              <div class="form-group">
                  <label class="col-md-3 control-label"><b class="text-inverse">*</b></label>
                  <div class="col-md-5">
                      <label class="check-active checkbox-inline text-inverse">
                          <input checked="true" type="checkbox" ng-model="bill.is_agree" name="is_agree" required="required" id="check-mzy">
                          <label for="check-mzy"></label>
                          <span>我已阅读并同意</span>
                      </label>
                      <a href="/help/helpList/205">《发票须知》</a>
                  </div>
              </div>
              <div class="col-md-offset-3">
                  <input type="submit" value="保存发票信息" class="btn btn-warning" ng-disabled="form.$invalid||(!bill.is_agree)||linkError||addressError" ng-click="saveBill()">
                  <input type="button" ng-if="!invoiceId" value="取消新建" class="btn btn-default" ng-click="exit()">
                  <input type="button" ng-if="invoiceId" value="取消修改" class="btn btn-default" ng-click="exit()">
              </div>
      </form>
</div>-->

<style>
    /*新增普票样式*/
    .content-title {
        font-size: 19px;
    }

    td > .simple-select {
        display: inline;
    }
    .normal-control-label {
        margin-bottom: 0;
        text-align: right;
        padding-top: 7px;
        padding-right: 23px;
    }

    #bill-info label {
        font-size: 14px;
        line-height: 1.429;
        font-weight: normal;
    }
    #bill-info span.disable {
        color: rgb(153, 153, 153);
    }
    .base-line {
        vertical-align: -webkit-baseline-middle;
    }

    #bill-info .row {
        margin-left: 0px;
        margin-right: 0px;
    }

    #bill-info {
        font-size: 15px;
        margin-bottom: 1em;
    }

    .error {
        padding-top: 7px;
        line-height: 1.5;
    }

    div.radio {
        margin-top: 0px;
        margin-bottom: 0;
        height: 27px;
        line-height: 27px;
        padding-top: 6px;
        padding-left: 0;
    }

    .padding-top-5 {
        padding-top: 5px;
    }

    label.padding-left-0 {
        padding-left: 0px;
    }

    .checkbox .col-md-3 {
        padding-right: 0px;
    }

    div.upload {
        margin-left: 15px;
        width: 370px;
    }

    #bill-info,  #bill-info input, #bill-info select{
        font-size: 14px !important;
    }

    .height-34 {
        height: 34px;
        line-height: 26px;
    }

    .a-background {
        color: red;
    }

    .address .checkbox .col-md-3{
        width: 20%;
    }
    #bill-info .form-control {
        color: #000;
        font-size: 14px;
    }
    #bill-info .format-error {
        color: red;
        height: 30px;
        line-height: 30px;
    }

    #bill-info select {
        opacity: 1;
    }
    #bill-info .content-header{
        font-size: 14px;
        color: rgb(80, 120, 203);
        font-weight: bold;
        line-height: 1.429;
        padding: 10px 0 10px 40px;
    }
    .select-adder{
        background:url("static/img/user/images/xiala.png") right no-repeat ;
        background-position-x: 150px;
    }
    .form-btn .btn {
        background: #5078cb;
        border-color: #3b88c3;
        width: 60px;
        height: 26px;
        line-height: 13px;
        color: #fff;
        border-radius: 0;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
    }
    .form-btn .btn:first-child{
        background: #c8c6c6;
        border: 1px solid #c8c6c6;
    }
    .form-area {
        background: #f5f8fe;
        margin: 0 15px;
    }
    .form-area .row {
        padding-top: 15px;
    }
    .form-area .address .row {
        padding-top: 0px;
    }
    .form-area form {
        padding-top: 15px;
    }
    .form-bottom {
        background: #fff;
        text-align: center;
        vertical-align: middle;
        padding-top: 20px;
        padding-bottom: 3px;
    }
    .ticket_record_list dl dt span {
        font-weight: normal;
    }
    /*radio*/
    #bill-info .radioLabel {
        line-height: 20px;
        cursor: pointer;
        color: #666;
    }
    #bill-info .radio-inline {
        padding-left: 0;
        margin: 0 26px;
    }
    #bill-info .radioLabel label{
        width: 12px;
        height: 12px;
        background: url(static/img/icon/check-rule.png);
        background-position: 0 0px;
        vertical-align: middle;
        margin-bottom: 0 !important;
        margin-right: 0px !important;
        padding: 0;
        min-height: 12px;
        left: -7px;
    }
    #bill-info .radioLabel input[type="radio"]:checked + label {
        background-position: -15px -12px;
    }
    #bill-info .radioLabel input[type="radio"]:checked + label{
        color: #5078cb;
    }
    #bill-info .radioLabel input[type="radio"]{
        display: none;
    }
    #bill-info .form-area .input-file-default {
        width: 75px;
    }
    .ticket_record_list dl dd:hover {
        background: #f1f5ff;
    }
    #bill-info .select-file-box input {
        display: none;
    }
    #bill-info .select-file-box span {
        width: 74px;
        display: block;
        text-align: center;
        height: 22px;
        line-height: 22px;
        background: #ff8522;
        font-size: 12px;
        color: #fff;
        margin-top: 5px;
        position: relative;
        left: -22px;
        border-radius: 2px;
    }
    .cursor-not-allowed {
        cursor: not-allowed!important;
    }
    .ticket_record_list .ticket_data dd {
        border-left: #dae5fd 1px solid;
        border-bottom: #dae5fd 1px solid!important;
        border-right: #dae5fd 1px solid;
    }
    #bill-info .form-input-line {
        height: 34px;
        width: 331px;
        display: inline-block;
        margin: 0 15px;
        float: left;
    }
    #bill-info .form-input-line input[type='text'],#bill-info .form-input-line select {
        border-radius: 2px;
        border: 1px solid #eef4ff;
    }
    #bill-info .file-line {
        width: 247px;
    }
    #bill-info .address .form-input-line {
        margin: 0 10px 0 0;
    }
    #bill-info .address .form-input-line:first-child {
        margin-left: 15px;
    }
    #bill-info .control-label{
        position: relative;
        top: 7px;
    }
    #bill-info .normal-control-label {
        position: relative;
        top: 5px;
    }
    .bg-fff8ee {
        background: #fff8ee;
    }
    .bg-fff {
        -webkit-box-shadow: 0 0 0px 1000px white inset!important;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-transition-delay: 99999s;
        -webkit-transition: color 99999s ease-out, background-color 99999s ease-out;
        /* -webkit-box-shadow: 0 0 0px 1000px white inset;*/
    }
    .modal-lg {
        width: 914px;
    }
    .modal-content {
        overflow-y: auto;
        max-height: 520px;
        overflow-x: hidden;
        height: auto !important;
    }
</style>

<div id="bill-info">
    <div class="row">
        <h2 class="content-header ng-binding" ng-bind="bill.head?'修改开票资料':'新增开票资料'">修改开票资料</h2>
    </div>
    <div class="form-area">
        <form class="form-horizontal" novalidate="novalidate" name="form">
            <div class="form-group">
                <label class="col-md-2 control-label"><b class="text-inverse">*</b>发票抬头：</label>
                <div class="form-input-line">
                    <input type="text" class="form-control" ng-class="{'bg-fff8ee': !initFlag.initBillHead&&(form.billHead.$invalid || !validForm.validBillHead)}" ng-model="bill.head" ng-focus="form.billHead.$touched = false;" ng-blur="form.billHead.$touched = true;initFlag.initBillHead = false;checkBillHead()" name="billHead" required="required" placeholder="请输入发票抬头">
                </div>
                <div class="text-inverse error col-md-3" ng-show="form.billHead.$touched&&(form.billHead.$invalid || !validForm.validBillHead)" ng-bind="form.billHead.$error.required?'请填写发票抬头':'请勿超过50个字'"></div>
            </div>
            <div class="form-group" ng-if="invoiceType == 1205">
                <label class="col-md-2 control-label"><b class="text-inverse">*</b>单位地址：</label>
                <div class="form-input-line">
                    <input type="text" class="form-control" ng-class="{'bg-fff8ee': !initFlag.initCompanyAddress&&(form.companyAddr.$invalid || !validForm.validCompanyAddress)}" ng-model="bill.companyAddress" ng-focus="form.companyAddr.$touched = false;" ng-blur="form.companyAddr.$touched = true;initFlag.initCompanyAddress = false; checkCompanyAddress()" name="companyAddr" required="required" placeholder="请输入单位地址">
                </div>
                <div class="text-inverse error col-md-3" ng-show="form.companyAddr.$touched&&(form.companyAddr.$invalid || !validForm.validCompanyAddress)" ng-bind="form.companyAddr.$error.required?'请填写单位地址':'请勿超过50个字'"></div>
            </div>
            <div class="form-group"  ng-if="invoiceType == 1205">
                <label class="col-md-2 control-label"><b class="text-inverse">*</b>单位电话：</label>
                <div class="form-input-line">
                    <input type="text" class="form-control" ng-class="{'bg-fff8ee':!initFlag.initCompanyPhone&&form.companyPhone.$error.required, 'bg-fff':!form.companyPhone.$invalid}" ng-focus="form.companyPhone.$touched = false" ng-blur="form.companyPhone.$touched = true;initFlag.initCompanyPhone=false;" placeholder="区号和号码使用 '-' 隔开" name="companyPhone" ng-model="bill.companyPhone" ng-pattern="/^0\d{2,3}-[1-9]\d{6,7}$/" ng-maxlength="20" required="required">
                </div>
                <div class="text-inverse error col-md-3" ng-show="form.companyPhone.$touched&&form.companyPhone.$invalid" ng-bind="form.companyPhone.$error.required?'请填写单位电话':form.companyPhone.$error.maxlength?'请勿超过20个字符':'请填写正确的电话号码，用-隔开'"></div>
            </div>
            <div class="form-group"  ng-if="invoiceType == 1205">
                <label class="col-md-2 control-label"><b class="text-inverse">*</b>税务登记号：</label>
                <div class="form-input-line">
                    <input type="text" class="form-control" ng-class="{'bg-fff8ee':!initFlag.initCompanyTaxNum&&form.companyTaxNum.$error.required, 'bg-fff':!form.companyTaxNum.$invalid}" ng-model="bill.companyTaxNumber" ng-focus="form.companyTaxNum.$touched = false" ng-blur="form.companyTaxNum.$touched = true; initFlag.initCompanyTaxNum = false;" name="companyTaxNum" required="true" ng-maxlength="20" ng-minlength="15" ng-pattern="/^[0-9a-zA-Z]+$/" placeholder="请输入税务登记号">
                </div>
                <div class="text-inverse error col-md-3" ng-show="form.companyTaxNum.$touched&&(form.companyTaxNum.$invalid)" ng-bind="form.companyTaxNum.$error.required?'请填写税务登记号':'请填写15-20位数字或字母'"></div>
            </div>
            <div class="form-group"  ng-if="invoiceType == 1205">
                <label class="col-md-2 control-label"><b class="text-inverse">*</b>开户银行：</label>
                <div class="form-input-line">
                    <input type="text" class="form-control" ng-class="{'bg-fff8ee': !initFlag.initBankName&&(form.bankName.$invalid || !validForm.validBankName)}" ng-model="bill.bankName" ng-focus="form.bankName.$touched = false;" ng-blur="form.bankName.$touched = true;initFlag.initBankName = false; checkBankName()" name="bankName" required="required" placeholder="请输入开户银行">
                </div>
                <div class="text-inverse error col-md-3" ng-show="form.bankName.$touched&&(form.bankName.$invalid || !validForm.validBankName)" ng-bind="form.bankName.$error.required?'请填写开户银行':'请勿超过30个字'"></div>
            </div>
            <div class="form-group"  ng-if="invoiceType == 1205">
                <label class="col-md-2 control-label"><b class="text-inverse">*</b>开户银行账户：</label>
                <div class="form-input-line">
                    <input type="text" class="form-control" ng-class="{'bg-fff8ee':!initFlag.initBankAccount&&form.account.$error.required}" ng-model="bill.bankAccount" name="account" ng-focus="form.account.$touched = false" ng-blur="form.account.$touched = true; initFlag.initBankAccount=false" ng-pattern="/^[0-9]*$/" required ng-maxlength="30" placeholder="请输入开户银行账号">
                </div>
                <div class="text-inverse error col-md-3" ng-show="form.account.$touched&&(form.account.$invalid)" ng-bind="form.account.$error.required?'请填写开户银行账号':'请填写30位以内的数字'"></div>
            </div>
            <div class="form-group"  ng-if="invoiceType == 1205">
                <label class="col-md-2 control-label"><b class="text-inverse">*</b>上传开户许可证：{{form.permissionUpload}}</label>
                <div class="form-input-line file-line">
                    <input type="text" name="permission" required class="form-control" ng-model="bill.attachUrl" readonly style="background: #fff">
                </div>
                <div class="col-md-1">
                    <label class="select-file-box">
                        <span>选择文件</span>
                        <input class="input-file-default" type="file" ng-file-select ng-model="bill.billInfo" ng-change="onUploadPermission()" ng-multiple="false" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg,application/pdf,*.pdf">
                    </label></div>
                <div class="text-inverse error col-md-3" ng-show="isDoUpload&&(form.permission.$error.required)">请勿超过3M</div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label"><b class="text-inverse">*</b>收票人：</label>
                <div class="form-input-line">
                    <input id="mzbillname" ng-class="{'bg-fff8ee': !initFlag.initBillName&&(form.billName.$invalid || !validForm.validBillName)}" type="text" class="form-control" ng-focus="form.billName.$touched = false; " ng-blur="form.billName.$touched = true;initFlag.initBillName = false; checkBillName()" ng-model="bill.name" name="billName" required="required" placeholder="请输入收票人">
                </div>
                <div class="text-inverse error col-md-3" ng-show="form.billName.$touched&&(form.billName.$invalid || !validForm.validBillName)" ng-bind="form.billName.$error.required?'请填写收票人姓名':'请勿超过10个字'"></div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label"><b class="text-inverse">*</b>联系电话：</label>
                <div class="form-input-line">
                    <input type="text" class="form-control" ng-class="{'bg-fff8ee':!initFlag.initTelephone&&form.billTel.$error.required, 'bg-fff':!form.billTel.$invalid||!form.billTel.$touched}" ng-model="bill.telephone" ng-focus="form.billTel.$touched = false" ng-blur="form.billTel.$touched = true; initFlag.initTelephone=false;" name="billTel"
                           ng-pattern="/^[0-9]*$/" ng-minlength="8" ng-maxlength="11" required="required" placeholder="请输入联系电话">
                </div>
                <div class="text-inverse error col-md-3" ng-show="form.billTel.$touched&&form.billTel.$invalid" ng-bind="form.billTel.$error.required?'请填写联系电话':'请输入8-11位数字'"></div>
            </div>
            <div class="form-group address">
                <label class="col-md-2 control-label"><b class="text-inverse">*</b>所在地区：</label>
                <div class="row checkbox">
                    <div class="form-input-line" style="width: 160px">
                        <select required="required" class="select-adder form-control"
                                ng-model="bill.address.province" name="province"
                                ng-options="key as key for (key,value) in division"
                                ng-change="bill.address.city='';bill.address.district='';">
                            <option value="">省</option>
                        </select>
                    </div>
                    <div class="form-input-line" style="width: 160px">
                        <select class="select-adder form-control" ng-model="bill.address.city" name="city"
                                ng-options="key as key for (key,value) in division[bill.address.province]"
                                ng-change="bill.address.district='';" required="required">
                            <option value="">市</option>
                        </select>
                    </div>
                    <div class="form-input-line" style="width: 160px">
                        <select class="select-adder form-control" ng-model="bill.address.district" name="district"
                                ng-options="value as value for value in division[bill.address.province][bill.address.city]" required="required">
                            <option value="">区</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label"><b class="text-inverse">*</b>详细地址：</label>
                <div class="form-input-line" style="width: 502px">
                    <input id="mzaddress" type="text" class="form-control" ng-class="{'bg-fff8ee': !initFlag.initDetailAddress&&(form.billDetail.$invalid|| !validForm.validDetailAddress)}" required="required" name="billDetail" ng-model="bill.detailAddress" title="建议您填写详细发件地址，如街道名，门牌号，楼层和房间号等信息"
                           placeholder="建议您填写详细发件地址，如街道名，门牌号，楼层和房间号等信息" ng-focus="form.billDetail.$touched = false; " ng-blur="form.billDetail.$touched = true;initFlag.initDetailAddress = false; checkDetailAddress()" >
                </div>
                <div class="text-inverse error col-md-3" ng-show="form.billDetail.$touched&&(form.billDetail.$invalid|| !validForm.validDetailAddress)" ng-bind="form.billDetail.$error.required?'请填写详细地址':'请勿超过30个字'"></div>
            </div>
            <div class="form-bottom">
                <div class="form-group">
                    <label class="check-active checkbox-inline text-inverse">
                        <input checked="true" type="checkbox" ng-model="bill.is_agree" name="is_agree" id="check-mzy">
                        <label for="check-mzy" style="position: relative;bottom: 2px;"></label>
                        <span style="color: #333;">我已阅读并同意</span>
                    </label>
                    <a href="/help/helpList/19" target="_blank" style="color: #5078cb; font-size: 14px; position: relative;top: 2px;">《发票须知》</a>
                </div>
                <div class="form-btn">
                    <input type="button" value="取消" class="btn" ng-click="exitEdit()">
                    <input type="submit" value="保存" class="btn"
                           ng-click="saveBill(form.$invalid)">
                </div>
            </div>
        </form>
    </div>
</div>