<style>
	.modal-body label{
		margin-right: -15px;
	}
	.heigth30 {
		height: 30px;
		line-height: 30px;
	}
</style>
<div class="modal-header">
	<h3 class="modal-title">
		选择发票类型
	</h3>
</div>
<div class="modal-body">
	<div class="row" >
		<table class="table table-bordered">
			<tr>
				<!-- @TODO 丰富内容 -->
				<th>开票种类</th>
				<th><th>
			</tr>
			<tr ng-repeat="invoice in invoices">
				<td>{{invoice.name}}</td>
				<td><button ng-click="select(invoice)" class="btn btn-primary">选择</button></td>
			</tr>
		</table>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-default" ng-click="cancel()" type="button">取消</button>
</div>