<style>
.row-fluid .span7:first-child {
	margin-left: 2.127659574%;
}
.units {
	border: 2px solid #fff1d0;
	margin-bottom: 10px;
    padding: 10px;
}
.options {
	border: 2px solid #fff1d0;
	margin-bottom: 15px;
    padding: 10px;
    height: 52px;
}
.form-group .labelCn {
	font-weight: bolder;
}
.margin-top-10 {
	margin-top: 15px
}
</style>

<div class="modal-header">
	<h3 class="modal-title">属性详细值修改</h3>
</div>
<div class="modal-body">
	<div class="form-group row">
		<div class="col-sm-8 col-sm-offset-2 text-center">
			<h4><span class="text-center labelCn" ng-bind="property.property.labelCn"></span></h4>
		</div>
		<div class="col-sm-2 margin-top-10 text-right">
			<a ng-click="updateProperty(property)">编辑属性</a>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-2 text-right">属性类型：</label>
		<div class="col-sm-3">
			<select class="form-control input-sm" ng-model="property.type">
				<option value="F">F(范围型)</option>
				<option value="N">N(数字型)</option>
				<option value="S">S(选项型)</option>
				<option value="A">A(文本型)</option>
			</select>	
		</div>
					
	</div>
	<div class="form-group row" ng-if="property.type == 'N' || property.type == 'F'">
		<label class="col-sm-2 text-right">基本单位：</label>
		<div class="col-sm-3">
			<input class="col-sm-3 form-control input-sm" type="text" ng-model="property.unit"/>
		</div>
	</div>
	<div class="form-group" ng-if="property.type == 'N' || property.type == 'F'">
		<div class="row">
			<label class="col-sm-2 text-right">全部单位：</label>
			<div class="text-right col-sm-offset-8 col-sm-2">
				<a ng-click="addUnit()"><i class="fa fa-plus"></i>添加单位</a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-offset-2 col-sm-10">
				<div class="col-sm-10 units" ng-repeat="units in property.multiUnits" ng-click="changeUnits(units)">
					<div class="form-group">
						<div class="col-sm-4 text-right">
							<span>单位:</span>
						</div>
						<div class="col-sm-5" ng-if="!units.isChange">
							<span ng-bind="units.unit"></span>
						</div>
						<div class="col-sm-5" ng-if="units.isChange">
							<input type="text" class="form-control input-sm" ng-model="units.unit"/>
						</div>
						<div class="col-sm-3 text-right">
							<a ng-click="deleteUnit(units)" title="删除单位"><i class="fa fa-times"></i></a>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-4 text-right">
							<span>相对基本单位的进制:</span>
						</div>
						<div class="col-sm-6" ng-if="!units.isChange">
							<span ng-bind="units.radix"></span>
						</div>
						<div class="col-sm-6" ng-if="units.isChange">
							<input type="text" class="form-control input-sm" ng-model="units.radix"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="form-group row" ng-if="property.type == 'S'">
		<div class="row">
			<label class="col-sm-2 text-right">可能值：</label>
			<div class="text-right col-sm-offset-8 col-sm-2">
				<a ng-click="addOption()"><i class="fa fa-plus"></i>添加可能值</a>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-offset-2 col-sm-10">
				<div class="col-sm-10 options" ng-repeat="o in property.options" ng-click="changeOption(o)">
					<div class="col-sm-offset-1 col-sm-10" ng-if="!o.isChange">
						<span ng-bind="o.option"></span>
					</div>
					<div class="col-sm-offset-1 col-sm-10" ng-if="o.isChange">
						<input type="text" class="form-control input-sm" ng-model="o.option"/>
					</div>
					<div class="col-sm-1 text-right">
						<a ng-click="deleteOption(o)"><i class="fa fa-times"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button  class="btn btn-success" ng-click="confirm()">确认</button>
	<button class="btn btn-default" ng-click="cancel()">取消</button>
</div>