<style>
    #store-list .table tr>th,
    #store-list .table tr>td{
        text-align: center;
        vertical-align: middle;
    }

    #store-list table td .info-line {
        white-space: nowrap;
    }
    /*切换导航*/
    .menu .col-sm-8{
        padding: 0;
        width: auto;
    }
    .menu{
        width: 100%;
        height: 40px;
        background: #229ee6;
        margin: 0;
        line-height: 40px;
        overflow: hidden;
    }
    .menu .btn{
        border: none;
        background: none;
        color: #fff;
        padding: 8px 30px;
        width: 100px;
    }
    .menu .btn:active{
        background: none;
    }
    .menu .btn-group{
        height: 40px;
    }
    .menu .btn-primary:before,.menu a:hover:before{
        content: "";
        width: 20px;
        height: 20px;
        display: inline-block;
        background: #fff;
        transform: rotate(-45deg);
        position: absolute;
        bottom: -18px;
        left: 40%;
    }
    .menu .col-sm-3{
        float: right;
        margin-right: 100px;
        width: 270px;
        padding: 0;
    }
    .menu .sreach-input{
        position: relative;
        margin-top: 5px;
        width: 300px;
        height: 40px;
    }
    .menu .sreach-input .form-control{
        height: 30px;
        float: left;
        border-radius: 0;
        font-size: 12px;
        padding-right:70px;
    }
    .menu .sreach-input button{
        width: 60px;
        height: 30px;
        background: #b9e1f9;
        float: right;
        position: absolute;
        right: 0;
        top: 0;
        border: none;
        font-size: 14px;
    }
    .com-title h2{
        font-size: 24px;
        color: #219ee6;
    }
    /*显示记录条数*/
    .text-rt{
        text-align: right;
    }
    .record-stort{
        line-height: 34px;
        font-size: 12px;
        margin-bottom: 0;
        padding-right: 30px;
    }
    .record-stort em{
        font-family: "Microsoft Yahei", "微软雅黑";
        color: #229ee6;
        font-style: inherit;
        font-weight: inherit;
        background: none;
    }
    /*表格样式*/
    .application-tab table tbody tr{
        height: 70px;
    }
    .application-tab table tr th,.application-tab table tr td{
        border: #cfedfe 1px solid;
        text-align: center;
        vertical-align: middle;
    }
    .application-tab .table-bordered{
        border-top: #cfedfe 1px solid;
    }
    .application-tab table tr th{
        background: #cfedfe;
        height: 35px;
    }
    .application-tab table tbody tr:hover{
        background: #e4f3fc;
    }
    .application-tab table tbody tr .btn{
        border: none;
        width: 90px;
        height: 25px;
        line-height: 25px;
        color: #fff;
        display: inline-block;
        margin-bottom: 5px;
        padding: 0;
        font-size: 12px;
        border-radius: 2px;
    }
    .text-left{
        text-align: left !important;
    }
    .application-tab table tbody tr .btn:hover{
        background: #219ee6 ;
    }
    .application-tab table tbody tr .apply-bg{
        background: #fb9c06;
    }
    .application-tab table tbody tr .detail-bg{
        background: #3ba9e9;
    }
    .application-tab table tbody tr .wait{
        color:#e02f2f ;
    }
    .application-tab table tbody tr .no-pass{
        color: #219ee6;
    }
    .application-tab table thead th p i{
        color: #219ee6;
        /*margin-left: 4px;*/
    }
    .application-tab table thead th p:hover{
        cursor: pointer;
    }
    .application-tab .status{
        width: 80px;
        height: 21px;
        text-align: center;
        font-size: 12px;
        border: none;
        padding: 0;
        padding-left: 2px;
        font-weight: bold;
    }
    .application-tab .hot-icon div{
        text-align: left;
        margin-left: 30px;
    }
    .application-tab .hot-icon i{
        width: 17px;
        height: 17px;
        display: inline-block;
        position: relative;
        top: 3px;
        margin-right: 3px;
        background: url("static/img/icon/store-hot-icon.png");
    }
    .application-tab .hot-icon i.hot{
        background-position: -1px 0;
    }
    .application-tab .hot-icon i.new{
        background-position: 0 -19px;
    }
    .application-tab .hot-icon i.new-apply{
        background-position: 0 -39px;
    }
    .blue{
        color: #3ba9e9 !important;
    }
    .red{
        color: #f00 !important;
    }
    .application-tab table tr td p{
        margin-bottom: 0;
    }

    .audit-fail {
        display: block !important;
        position: fixed;
        background-color: white;
        opacity: 1;
        width: 300px;
        height: 155px;
        top: 250px;
        left: 50%;
        margin-left: -150px;
        border: 1px solid #d9d5ce;
        z-index: 10;
        padding-bottom: 10px;
    }
    .audit-fail .title{
        line-height: 31px;
        height: 31px;
        font-size: 14px;
        background-color: #3a76e4;
        color: white;
        text-align: left;
        padding-left: 15px;
    }
    .audit-fail  .content{
        margin: 10px 0;
    }
    .audit-fail  .btn{
        width: 90px;
        padding: 5px 10px;
        border: none;
        font-size: 14px;
        border-radius: 0;
    }
    .audit-fail  .btn-default{
        background: #D9D5CE;
        color: #333;
    }
    .audit-fail .btn-primary{
        background: #3A76E4;
        color: white;
        margin-right: 10px;
    }
    .audit-fail  .btn:hover{
        background: #5078cb;
        color: #fff;
    }
</style>
<div class="row-fluid sortable" id="bankInfoAudit">
    <div class="com-title">
        <h2>银行账户审核</h2>
    </div>
    <div class="menu row">
        <div class="col-sm-8">
            <div class="btn-group" role="group" aria-label="...">
                <a type="button" class="btn btn-default" ng-class="{'btn-primary': active === 'tobeAudit'}" ng-click="setActive('tobeAudit')">未审核</a>
                <a type="button" class="btn btn-default" ng-class="{'btn-primary': active === 'pass'}" ng-click="setActive('pass')">已通过</a>
                <a type="button" class="btn btn-default" ng-class="{'btn-primary': active === 'fail'}" ng-click="setActive('fail')">未通过</a>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="sreach-input">
                <input type="search" class="form-control ng-pristine ng-valid ng-touched" placeholder="根据银行、企业名称、银行账号搜索" ng-model="keyword" ng-search="onSearch()"/>
                <button ng-click="onSearch()" type="button">搜索</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="text-rt col-sm-12">
            <p class="record-stort">显示1-10条记录，&nbsp;&nbsp;共<em ng-bind="bankInfoTableParams.total()">1000</em>条</p>
        </div>
    </div>
    <!--表格-->
    <div class="application-tab">
        <table class="table table-bordered table-hover" ng-table="bankInfoTableParams">
            <thead>
            <tr>
                <th width="80">序号</th>
                <th width="350">企业名称</th>
                <th width="350">开户银行</th>
                <th width="210">银行账号</th>
                <th width="150">上传文件</th>
                <th width="120">创建时间</th>
                <th width="100">状态</th>
                <th  ng-if="active=='fail'" width="220">说明描述</th>
                <th width="220" ng-if="active=='tobeAudit'">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="info in $data">
                <td>{{$index + 1}}</td>
                <td ng-bind="::info.accountname"></td>
                <td ng-bind="::info.bankname"></td>
                <td ng-bind="::info.number"></td>
                <td><a target="_blank" ng-href="{{info.attachUrl}}"><span ng-bind="info.attachUrl ? '查看文件' : '没有可查看文件'"></span></a></td>
                <td ng-bind="::info.createTime | date : 'yyyy-MM-dd'"></td>
                <td ng-bind="::info.status | bankStatusFilter"></td>
                <td ng-if="active=='fail'" ng-bind="::info.remark"></td>
                <td ng-if="active=='tobeAudit'" class="text-center" style="position: relative;">
                    <a class="btn btn-sm btn-primary" ng-click="auditPass(info)">审核通过</a>
                    <a class="btn btn-info btn-sm" ng-click="auditFail(info)">审核未通过</a>
                    <div class="audit-fail" ng-if="$$auditBankInfo.openDiv">
                        <div class="title">审核不通过的原因</div>
                        <div class="content col-md-12">
                            <textarea spellcheck="false" ng-model="$$auditBankInfo.reason" placeholder="请输入审核不通过原因" maxlength="50" class="form-control"></textarea>
                        </div>
                        <button class="btn btn-sm btn-primary" ng-click="confirm()" ng-disabled="!$$auditBankInfo.reason">确定</button><button class="btn btn-sm btn-default" ng-click="cancle()">取消</button>
                    </div>
                </td>
            </tr>
            <tr ng-if="!$data || $data.length <= 0">
                <td colspan="8">当前没有对应的银行信息</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
