<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, width=device-width">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<title>优软商城</title>
<link href="static/img/all/u.png" rel="icon" type="image/x-icon" />
<link rel="stylesheet" href="static/lib/weui/weui.min.css">
<link rel="stylesheet" href="static/css/mobile/index.css">
</head>
<body>
	<div class="logo">
		<img src="static/img/logo/uas_mall.png" alt="优软商城" width="120px"/>
	</div>
 	<div class="weui_cells">
 		<div class="weui_cell">
 			<div class="weui_cell_bd weui_cell_primary">
				<input id="search" type="search" class="weui_input" name="search" placeholder="输入器件型号搜索" />
				<div class="weui_cells">
					<ul class="tip-list">
						<li>
							> 欢迎免费<a href="http://make-guest.saas.ubtob.com?mobile=0">体验优企云服</a>
						</li>
						<li>
							> 注册请访问<a href="http://www.ubtob.com">优软云主页</a>
						</li>
					</ul>
				</div>
				<div id="app-bar">
					<div class="app-logo"><img src="static/img/mobile/client-icon-32.png"/></div>
					<div class="app-text"><h2>UU互联</h2><p>畅享移动办公</p></div>
					<div class="app-close"></div>
					<div class="app-btn">立即下载</div>	
				</div>
			</div>
 		</div>
	</div>
</body>
<script type="text/javascript" src="static/lib/zepto/zepto.min.js"></script>
<script type="text/javascript" src="static/js/mobile/index/app.js"></script>
</html>