<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, width=device-width">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<title>器件详情页</title>
<link href="static/img/all/u.png" rel="icon" type="image/x-icon" />
<link rel="stylesheet" href="static/lib/weui/weui.min.css">
<link rel="stylesheet" href="static/lib/fontawesome/css/font-awesome.min.css">
</head>
<body>
	<div class="ui-view"></div>
</body>
<script type="text/javascript" src="static/lib/zepto/zepto.min.js"></script>
<script type="text/javascript" src="static/lib/vipspa/vipspa.min.js" ></script>
<script type="text/javascript" src="static/js/mobile/product/app.js"></script>
</html>