<style>
	#reason {
		margin: 15px auto;
	}

	#reason label.col-md-4{
		margin: auto 0;
		height: 34px;
		line-height: 34px;
		text-align: right;
		font-size: 16px;
	}

	#choice {
		width: 250px;
		margin-left: 100px;
	}

	div.modal-dialog.modal-md {
		width: 440px !important;
		position: fixed !important;
		top: 150px !important;
		left: 50% !important;
		margin-left: -200px;
	}

	a.cancle-close {
		float: right;
		color: white;
		padding-right: 10px;
		font-size: 23px;
		line-height: 31px;
		height: 31px
	}

	.modal-backdrop {
		background-color: transparent !important;
	}

	.modal-header {
		background-color: #5078cb;
		line-height: 31px;
		padding: 0px !important;
		height: 31px;
	}

	.attention {
		font-size: 14px;
		text-align: center;
		line-height: 31px;
		height: 31px;
	}

	.modal-footer .confirm {
		width: 70px;
		padding: 5px 10px;
		background-color: #5078cb;
		border: none;
		color: white;
		font-size: 14px;
	}

	.modal-footer .cancle-button {
		width: 70px;
		padding: 5px 10px;
		background-color: #D9D5CE;
		border: none;
		color: #333333;
		font-size: 14px;
	}
	.select-adder {
		background: url(static/img/user/images/xiala.png) right no-repeat;
		background-position-x: 265px;
	}
</style>
<div class="modal-header">
	<a title="关闭" class="cancle-close" ng-click="cancel()">×</a>
</div>
<div class="modal-body" style="height: 150px">
	<div class="row" >
		<div class="text-inverse attention"><img src="static/img/common/pay-attention.png" style="margin-right: 5px;"/>您确认需要取消该订单吗？取消订单后，不能恢复!</div>
		<div id="reason" class="col-md-12 form-inline">
			<select id="choice" class="select-adder col-md-10 col-md-offset-2 form-control" ng-model="order.reason" style="opacity: 1;">
				<option value="">请选择取消订单的理由</option>
				<option value="我不想买了">我不想买了</option>
				<option value="信息填写有误，重新购买">信息填写有误，重新购买</option>
				<option value="先看看样品再下单">先看看样品再下单</option>
				<option value="付款遇到问题（如余额不足、超出限额等）">付款遇到问题（如余额不足、超出限额等）</option>
				<option value="买错了">买错了</option>
				<option value="其他原因">其他原因</option>
			</select>
		</div>
	</div>
</div>
<div class="modal-footer" style="text-align: center;">
	<button class="confirm" ng-click="confirm()" type="button">确定</button>
	<button class="cancle-button" ng-click="cancel()" type="button" style="margin-left: 15px;">关闭</button>
</div>