/*招商注册*/
ul,li{
    list-style: none;
}
.business{
    width: 100%;
    margin: 0 auto;
}
.business .banner{
    width: 100%;
    height: 676px;
    margin: 0 auto;
    background: url("../img/activity/business-banner.jpg") no-repeat center;
}
@media screen and (max-width: 1366px) {
    .business .banner{
        height: 560px;
        background-size: 100% 100%;
    }
}
.business  .session{
    width: 100%;
    margin: 0 auto;
}
.business  .session .content{
    width: 1190px;
    margin: 0 auto;
}
.business .introduction{
    margin-top: 75px;
}
.business h3{
    text-align: center;
    font-size: 30px;
    margin: 0;
}
.business .introduction .text{
    font-size: 16px;
    color: #666;
    line-height: 35px;
    margin: 50px 130px 140px 130px;
    /*opacity:0;
    transform:scale(0);
    transition:.5s 0.1s;*/
}
.business .introduction.active .text{
    opacity:1 !important; transform:none !important;
}
.business .join{
    text-align: center;
    width: 100%;
    margin: 0 auto;
}
.business .introduction .join{
    margin-bottom: 45px;
}
.business .join a{
    width: 154px;
    height: 46px;
    display: inline-block;
    line-height: 46px;
    text-align: center;
    background: #f51f1f;
    font-size: 18px;
    border-radius: 25px;
    color: #fff;
}
.business .join a:hover{
    background: #d32526;
}
.business .advantage{
    background: #6a99fa;
    height: 630px;
}
.business .advantage h3{
    color: #fff;
   padding: 95px 0 95px 0;
}
.business .advantage .advantage-list{
    width: 100%;
    margin: 0 auto;
    display: inline-block;
}
.business .advantage .advantage-list ul{
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    height: 235px;
}
.business .advantage .advantage-list ul  li{
    float: left;
    width: 174px;
    height: 206px;
    border-radius: 10px;
    background: #fff;
    margin: 0 6px;
    overflow: hidden;
    position: relative;
    /*opacity:0;
    transform:scale(0);
    transition:.5s 0.1s;*/
}
/*.business .advantage.active .advantage-list ul  li{
    opacity:1 !important; transform:none !important;
}*/
.business .advantage .advantage-list ul  li:hover{
    cursor: pointer;
    width: 200px;
    height: 233px;
    margin: 0 10px;
    top: -16px;
    transition: top 2s ease-out;
}
.business .advantage .advantage-list ul  li:hover p.title{
    background: #61d2f3;
    height: 70px;
    line-height: 70px;
    color: #fff;
    font-size: 18px;
}
.business .advantage .advantage-list ul  li:hover p:last-child{
    color: #333;
}
.business .advantage .advantage-list ul  li p{
    display: inline-block;
    width: 100%;
}
.business .advantage .advantage-list ul  li p.title{
    height: 58px;
    line-height: 58px;
    background: #e1eafc;
    text-align: center;
    font-size: 14px;
    color: #666;
}
.business .advantage .advantage-list ul  li p:last-child{
    padding: 16px 20px;
    color: #999;
    font-size: 14px;
    line-height: 20px;
}
.business .advantage .join{
    margin-top: 85px;
}
.business .style{
    height: 700px;
}
.business .style h3{
    padding-top: 80px;
}
.business .style .style-list{
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    margin-top: 55px;
}
.business .style .style-list ul{
    width: 96%;
    margin: 0 auto;
    display: inline-block;
}
.business .style .style-list ul li{
    float: left;
    width: 25%;
    text-align: center;
}
.business .style .style-list ul li:hover img{
    transform: scale(1.01);
}
/*.business .style .style-list ul li:hover p{
    color: #5078cb;
}*/
.business .style .style-list ul li img{
    width: 108px;
    height: 108px;
}
.business .style .style-list ul li p{
    font-size: 16px;
    color: #333;
    line-height: 70px;
    margin-bottom: 20px;
}
.business .style .join{
    margin-top: 15px;
}
.business  .join-us{
    background: #64c7f2;
    height: 630px;
    margin-bottom: 40px;
}
.business  .join-us h3{
    color: #fff;
    padding-top: 55px;
}
.business  .join-us .content{
    height: 660px;
    background: url("../img/activity/business.png") no-repeat center;
}
.business  .join-us  .join-step{
    width: 94%;
    margin: 0 auto;
    margin-top: 307px;
    display: inline-block;
}
.business  .join-us  .join-step div{
    float: left;
    width: 28%;
    text-align: center;
}
.business  .join-us  .join-step div:first-child{
    margin-left: 125px;
}
.business  .join-us  .join-step div h5{
    margin: 0;
    line-height: 30px;
    font-size: 18px;
    color: #fff;
}
.business  .join-us  .join-step div p{
    line-height: 20px;
    font-size: 14px;
    color: #fff;
}
.business  .join-us .join{
    margin-top: 90px;
}
.business .join a:hover{
    transform: scale(1.1);
    transition: transform .2s ease-out;
}
/*
.business .join{
    animation:come_on 2s infinite;
}
@keyframes come_on {
    0% {
        transform: scale(1); }
    50% {
        transform: scale(1.04); }
    100% {
        transform: scale(1); }
}*/
