/* 
color
	theme color = #5078cb
	header color = #8fbcdc
	header kind color = #5078cb
	header dropdown background color = #f3faff
	footer color = #7bb4dc
	button color = #f39800;
 */

body {
	margin-top: 30px;
	min-width: 1190px;
}

body::-webkit-scrollbar {
  display: none
}

a {
	color: #0000ff;
}

a:hover, a:focus {
	color: #5078cb;
}

.f12 {
	font-size: 12px;
}

.text-bold {
	font-weight: 600;
}

.text-link {
	text-decoration: underline;
}

.text-muted {
	color: #888;
}

.text-orange {
	color: #ff7300;
}

.text-normal {
	color: #333;
}

.text-num {
	font-style: normal;
	font-family: verdana;
}

/*dropdown*/
.dropdown>.dropdown-toggle {
	border-style: solid;
	border-width: 0 1px;
	border-color: transparent;
}

.dropdown>.dropdown-toggle>.caret {
	margin-top: -2px;
	color: #9c9c9c
}

.dropdown:hover>.dropdown-toggle {
	position: relative;
	background-color: #ffffff;
	border: 1px solid #eee;
	border-top: 0;
	border-bottom: 0;
	z-index: 1001;
}

.dropdown:hover>.dropdown-menu {
	display: block;
	position: absolute;
	border-color: #eee;
}

.dropdown:hover .caret,.dropdown-toggle:hover .caret {
	border-bottom: 4px solid !important;
	border-top: none;
}

.dropdown-submenu {
	position: relative;
}

.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: 0;
}

.dropdown-submenu:hover>.dropdown-toggle {
	position: relative;
	background-color: #ffffff;
	border-color: transparent;
	z-index: 1001;
}

.dropdown-submenu:hover>.dropdown-menu {
	display: block;
	min-width: 120px;
	font-size: 12px;
}

.dropdown-submenu.pull-left {
	float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}

.dropdown-menu.arrow:before,.dropdown-menu.arrow:after {
	content: '';
	position: absolute;
	top: 15%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
}

.dropdown-menu.arrow.left:before {
	margin-top: -11px;
	left: -20px;
	border: 10px solid transparent;
	border-right-color: #aaa;
}

.dropdown-menu.arrow.left:after {
	margin-top: -11px;
	left: -19px;
	border: 10px solid transparent;
	border-right-color:#fff;
}

/* navigation */
nav {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 30px;
	line-height: 30px;
	background: #fff;
	z-index: 50;
}

nav>div {
	padding-top: 5px; 
	margin: 0 auto;
	max-width: 1190px;
}

/* category 器件库、品牌 */
#category {
	float: left;
	position: relative;
	padding-bottom: 10px;
}

#category>a {
	display: inline-block;
	padding: 0px 15px;
	margin-right: 15px;
	height: 25px;
	width: 100px;
	line-height: 25px;
	text-align: center;
	color: #fff;
	background: #5078cb;
	border-radius: 10px;
}

#category>a:hover {
	color: #fff;
	/* font-weight: bold; */
}

#category .angle, .more .angle {
	position: absolute;
	display: none;
	left: 16px;
	top: 30px;
	height: 10px;
	width: 10px;
	border-top: 1px solid #5078cb;
	border-left: 1px solid #5078cb;
	background: #f3faff;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg); 	/* IE 9 */
	-moz-transform: rotate(45deg); 	/* Firefox */
	-webkit-transform: rotate(45deg); /* Safari 和 Chrome */
	-o-transform: rotate(45deg); 	/* Opera */
	z-index: 21;
}

#category .angle.kind {
	left: 45px;
	transition: left 0.5s ease;
	-moz-transition: left 0.5s ease; /* Firefox 4 */
	-webkit-transition: left 0.5s ease; /* Safari 和 Chrome */
	-o-transition: left 0.5s ease; /* Opera */
}

#category .angle.brand {
	left: 164px;
	transition: left 0.5s ease;
	-moz-transition: left 0.5s ease; /* Firefox 4 */
	-webkit-transition: left 0.5s ease; /* Safari 和 Chrome */
	-o-transition: left 0.5s ease; /* Opera */
}

#category .category-content {
	position: absolute;
	left: 0px;
	top: 35px;
	display: none;
	padding: 10px;
	width: 800px;
	height: 330px;
	background: #f3faff;
	border: 1px solid #5078cb;
	z-index: 20;
}

#category .category-content .kind-list li {
	min-width: 240px;
	font-family: '微软雅黑';
	font-size: 16px;
	height: 30px;
	line-height: 30px;
}

#category .category-content .brand-list li {
	position: relative;
	margin: 0px 20px 10px 0px;
	width: 120px;
	height: 60px;
}

#category .category-content .brand-list li div {
	position: absolute;
	left: 0;
	top: 0;
	width: 120px;
	height: 60px;
	padding: 5px;
	border: 1px solid #eeeeee;
}

#category .category-content .brand-list li div img {
	width: 100%;
	height: 100%;
}

#category .category-content .brand-list li a {
	position: absolute;
	display: inline-block;
	left: 0;
	top: 0;
	width: 120px;
	height: 60px;
	opacity: 0;
	background: #fff;
	border: 1px solid #5078cb;
	text-align: center;
	vertical-align: middle;
}

#category .category-content .brand-list li a:hover {
	opacity: 1;
	color: #5078cb;
	text-decoration: none;
	transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease; /* Firefox 4 */
	-webkit-transition: opacity 0.3s ease; /* Safari 和 Chrome */
	-o-transition: opacity 0.3s ease; /* Opera */
}

#category:hover .category-content, #category:hover .angle, .more:hover .angle {
	display: block;
}

#navigation {
	float: right;
}

#navigation ul>li>a {
	color: #8fbcdc;
}

#navigation ul>li>a:hover {
	color: #5078cb;
}

/* more 更多 */
.more {
	position: relative;
}

.more:hover {
	background: #fff;
}

.more:hover .more-list {
	display: block;
}

.more .angle {
	border-color: #a9d4f2;
	top: 24px;
    left: 27px;
}

.more-list {
	position: absolute;
	top: 29px;
	right: 0px;
	display: none;
	padding: 10px;
	width: 110px;
	background-color: #f3faff;
	border: 1px solid #a9d4f2;
}

.more-list li a {
	display: inline-block;
	width: 100%;
	line-height: 30px;
	cursor: pointer;
}

/* content */
#content {
	min-height: 500px;
}

/* header Logo */
#header {
	width: 800px;
	margin: 50px auto 110px;
}
#header .logo {
	position: relative;
    display: inline-block;
	width: 340px;
    height: 100px;
    color: #5078cb;
    background: url("../img/logo/logo_squirrel.png") no-repeat;
}

#header .logo .banner {
	position: absolute;
	bottom: 10px;
	right: 8px;
	display: inline-block;
	font-size: 14px;
	font-family: '微软雅黑';
} 

/* search 搜索框 */
#search {
	position: relative;
	margin: 10px auto 20px;
	width: 650px;
	height: 40px;
	font-size: 20px;
}

#search .input-group {
	z-index: 21;
}

#search_input {
	height: 40px;
	font-size: 20px;
	font-family: '微软雅黑';
	border: 2px solid #5078cb;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

#search_input:focus {
	border-color: #5078cb;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#search_btn {
	height: 40px;
	line-height: 40px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 20px;
	background: #5078cb;
	color: #fff;
	border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#search .suggestion {
	position: absolute;
	margin-top: -1px;
	width: 545px;
	background-color: #fff;
	border: 1px solid #bbb;
	border-top: none;
	z-index: 20;
}

#search .suggestion ul {
	margin-bottom: 0;
}

#search .suggestion ul li {
	padding: 0px 12px;
	color: #0080c0;
	cursor: pointer;
}

#search .suggestion ul li:hover, #search .suggestion ul li.active {
	background: #eee;
}

/* slide 幻灯片 */
#slide {
	position: relative;
	margin: 0 auto;
	width: 650px;
	height: 240px;
}

#slide .carousel-inner .item img {
	width: 650px;
	height: 240px;
}

.carousel-control:focus, .carousel-control:hover {
	cursor: pointer;
}

#slide .slide-switch {
	display: inline-block;
	position: absolute;
	right: 0;
	top: 0;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #eee;
	cursor: pointer;
}

#slide .slide-switch:hover {
	color: #f00;
}

/* footer */
footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	border-top: 1px solid #e5e5e5;
	padding-top: 10px;
	padding-bottom: 5px;
	color: #fff;
	background: #7bb4dc;
}

footer a {
	color: #fff;
}

footer .container>div {
	width: 800px;
	margin: 0 auto;
}

footer .qrcode .qrcode-text {
	padding-left: 10px;
	padding-top: 18px;
}