/* 这个css原本是yingp写的给product页面使用的 */
body {
	font: 12px/1.5 Tahoma, Arial, "\5b8b\4f53", sans-serif;
}

a:hover,a:focus {
	color: #f60;
	text-decoration: underline;
	cursor: pointer;
}

/* font size */
.f12 {
	font-size: 12px !important;
}

.f14 {
	font-size: 14px !important;
}

.f16 {
	font-size: 16px !important;
}

/* ng-click */
[ng-click] {
	cursor: pointer;
}

/* border */
.br-r {
	border-right: 1px solid #e6e6e6;
}

.br-l {
	border-left: 1px solid #e6e6e6;
}

.br-b {
	border-bottom: 1px solid #e6e6e6;
}

/* text */
.text-default {
	color: #56a022;
}

.text-inverse {
	color: #f40 !important
}

.text-muted {
	color: #888 !important;
}

.text-light {
	color: #666;
}

.text-simple {
	color: #aaa;
}

.text-num {
	font-style: normal;
	font-family: verdana;
}

.text-small {
	font-size: 10px;
	font-family: "microsoft yahei";
	-webkit-transform: scale(0.83);
	-o-transform: scale(0.83);
	transform: scale(0.83);
}

.text-bold {
	font-weight: 700;
}

.text-border-success {
	border: 1px solid #f40;
	color: #f40;
	background-color: #fff;
	padding: 2px 4px;
}

.text-trans {
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: #fff;
	border: 1px solid;
	padding: 3px 14px;
	font-size: 16px;
	font-family: "LiShu";
	border-radius: 10px;
	-moz-transform: rotate(-10deg);
	-webkit-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	transform: rotate(-10deg);
	border-radius: 10px;
	opacity: 0.7;
	white-space: nowrap;
}

.text-trans.success {
	color: #ffb433;
	border-color: #ffb433;
}

.text-trans.error {
	color: #d44950;
	border-color: #d44950;
}

.text-trans.warning {
	color: #7f64b5;
	border-color: #7f64b5;
}

.text-ellipsis {
	float: left;
    width: 260px;
    clear: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;	
}

.text-link {
	color: #5e696e;
  	cursor: pointer;
  	text-decoration: underline;
}

.text-required {
	font-family: '楷体';
	color: #e42a2a;
	margin-right: 2px;
}

/* form input */
textarea:focus,input[type="search"]:focus {
	border-color: #ccc;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

input.ng-invalid.ng-dirty,textarea.ng-invalid.ng-dirty,select.ng-invalid.ng-dirty
	{
	background-color: #fff8ee;
}

input:focus:invalid,textarea:focus:invalid,select:focus:invalid {
	color: #b94a48;
	border-color: #ee5f5b;
}

input:focus:invalid:focus,textarea:focus:invalid:focus,select:focus:invalid:focus,input.ng-invalid:focus,textarea.ng-invalid:focus,select.ng-invalid:focus
	{
	border-color: #e9322d;
	-webkit-box-shadow: 0 0 6px #f8b9b7;
	-moz-box-shadow: 0 0 6px #f8b9b7;
	box-shadow: 0 0 6px #f8b9b7;
}

.radio-inline,.checkbox-inline {
	margin-right: 10px;
}

.radio-inline+.radio-inline,.checkbox-inline+.checkbox-inline {
	margin-left: 0;
}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

.breadcrumb>li+li:before {
	content: ">\00a0";
}

.dropdown>.dropdown-toggle {
	border-style: solid;
	border-width: 0 1px;
	border-color: transparent;
}

.dropdown:hover>.dropdown-toggle {
	position: relative;
	background-color: #ffffff;
	border: 1px solid #ccc;
	border-top: 0;
	border-bottom: 0;
	z-index: 1001;
}

.dropdown:hover>.dropdown-menu {
	display: block;
	position: absolute;
}

.dropdown:hover .caret,.dropdown-toggle:hover .caret {
	border-bottom: 4px solid !important;
	border-top: none;
}

.btn-shadow {
	color: #333;
	background-color: #fff;
	border-color: #eee;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12), inset 0 1px 2px
		rgba(255, 255, 255, 0.95);
}

.btn-inverse {
	color: #ff7300;
	background-color: #fff;
	border-color: #ef5813;
}

.btn-inverse:hover {
	color: #fff;
	background-color: #ff7300;
}

.modal-header {
	padding: 5px 15px 5px 15px;
}

.modal-body {
	padding-top: 5px;
}

.modal-body .tabbable .nav>li>a {
	padding: 5px 10px;
}

.modal-body .tips {
	margin-top: 5px;
	margin-right: 8px;
}

.nav-tabs>li {
	cursor: pointer;
}

.panel-sm .panel-heading {
	padding: 5px 10px;
}

.panel-sm .panel-title {
	font-size: 100%;
}

.image-content li {
	float: left;
	margin-right: 10px;
	width: 64px;
	height: 64px;
	line-height: 64px;
	overflow: hidden;
	border: dotted 1px #d9d9d9;
	background-color: #f7f7f7;
	font-size: 18px;
	font-family: 'Arial';
	font-style: italic;
	color: #e1e1e1;
	text-align: center;
}

.tab-pane {
	padding-top: 15px;
}

/*top nav*/
#top {
	background-color: #f5f5f5;
	height: 25px;
	line-height: 25px;
	z-index: 5;
	font: 12px/1.5 tahoma, arial, \5b8b\4f53;
}

#top.navbar {
	min-height: 25px;
	border-bottom: 1px solid #e7e7e7;
}

#top .container {
	width: 990px;
}

#top .navbar-nav>li>a {
	padding-top: 0;
	padding-bottom: 0;
	line-height: 25px;
}

#top a {
	color: #666;
}

#top a:hover,#top a:focus {
	color: #f60;
}

#top .dropdown:hover>.dropdown-menu {
	margin-top: -1px;
	min-width: 120px;
	font-size: 12px;
}

#top .dropdown-menu ul>li>h4 {
	font-size: 100%;
	font-weight: 700;
	color: #404040;
}

#top .dropdown-menu .nav-pills>li+li {
	margin-left: 0;
}

#top .dropdown-menu .nav-pills>li>a {
	padding: 5px 10px;
}

/*header*/
#header>.container {
	width: 990px;
}

#header .title {
	display: inline-block;
	font-family: "\5FAE\8F6F\96C5\9ED1";
	font-size: 28px;
	font-weight: 600;
	color: #888;
	background: url("../img/logo/ubtoc.min.png") no-repeat left center;
	padding-left: 200px;
	margin-left: 15px;
	height: 50px;
	line-height: 50px;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

#header .search-container {
	margin-top: 30px;
	margin-bottom: 10px;
}

#header .search-container .form-control-feedback {
	margin-right: 15px;
	color: #ff7300;
}
/*nav*/
#nav {
	color: #ffffff;
	min-height: 40px;
	z-index: 4;
}

#nav .container {
	width: 990px;
}

#nav a {
	font-family: "\5fae\8f6f\96c5\9ed1", sans-serif;
}

#nav.navbar-inverse {
	background-color: #3ba354;
	border: none;
}

#nav.navbar-inverse .navbar-text {
	color: #ffffff;
}

#nav.navbar-inverse .navbar-nav>li>a {
	color: #ffffff;
	font: 700 15px/40px "microsoft yahei";
	padding: 0 70px;
}

#nav.navbar-inverse .navbar-nav>li>a:hover,#nav.navbar-inverse .navbar-nav>li>a:focus
	{
	color: #ffffff !important;
	background-color: #3b9651;
}

#nav.navbar-inverse .navbar-nav>.active>a,#nav.navbar-inverse .navbar-nav>.active>a:hover,#nav.navbar-inverse .navbar-nav>.active>a:focus
	{
	color: #ffffff;
	background-color: #318846;
	border-top: 2px solid #ff7300;
	position: relative;
}

#nav.navbar-inverse .navbar-nav>.disabled>a,#nav.navbar-inverse .navbar-nav>.disabled>a:hover,#nav.navbar-inverse .navbar-nav>.disabled>a:focus
	{
	color: #444444;
	background-color: transparent;
}

#nav.navbar-inverse .navbar-toggle {
	border-color: #333333;
}

#nav.navbar-inverse .navbar-toggle:hover,#nav.navbar-inverse .navbar-toggle:focus
	{
	background-color: #333333;
}

#nav.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #ffffff;
}

#nav.navbar-inverse .dropdown-menu>li>a {
	font-size: 14px;
}

#nav.navbar-inverse .dropdown-menu>li>a:hover {
	background-color: #3ba354;
	color: #ffffff;
}
/*main*/
#main {
	background-color: #f0f0f0;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	padding-bottom: 30px;
}

#main [ng-view] .container {
	width: 990px;
}

#main .main-guide {
	width: 600px;
	margin: 0 auto;
	text-align: center;
	font: 16px/43px 'Microsoft Yahei';
}

#main .main-guide ul {
	margin-bottom: 0;
}

#main .main-guide li {
	cursor: pointer;
	position: relative;
}

#main .main-guide li.arrow_right:before {
	font-family: 'Glyphicons Halflings';
	content: "\e092";
	padding-left: 0.5em;
	padding-right: 0.5em;
	color: #ddd;
	font-weight: normal;
	font-size: 100%;
}

#main .main-guide li:nth-child(1):before {
	content: "";
	padding: 0;
}

#main .main-guide li.active {
	color: #ff7300;
	border-bottom: 3px solid #ff7300;
}

#main .main-guide li .caret {
	position: absolute;
	display: none;
	bottom: 1px;
	left: 50%;
	margin-left: -2px;
	border-bottom: 5px solid !important;
	border-top: none;
}

#main .main-guide li.active .caret {
	display: block;
}

#main .main-content {
	margin-top: 10px;
}

#main .main-content .panel {
	padding: 10px;
	border-color: #d6d6d6;
	margin-bottom: 10px;
}

#main .main-content .panel-shadow {
	-webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, .2);
	-moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, .2);
	box-shadow: 2px 2px 8px rgba(0, 0, 0, .2);
}

#main .main-content .panel .panel-title {
	border-bottom: 1px dashed #d7d7d7;
	padding-left: 7px;
}

#main .main-content .panel .panel-title * {
	display: inline-block;
}

#main .main-content .panel .panel-title h4 {
	color: #926437;
	font-size: 14px;
	font-weight: 700;
}

#main .main-content .panel .panel-title h5 {
	color: #444;
	font-size: 12px;
}

#main .main-content .panel .panel-title .glyphicon {
	margin-right: 7px;
}

#main .main-content .panel .panel-body {
	padding-bottom: 0;
}

.choose-body {
	display: table;
	width: 100%;
	margin-top: 10px;
	padding: 10px;
	table-layout: fixed;
	border-collapse: separate;
	border: 1px solid #ccc;
}

.choose-body>.choose-item {
	display: table-cell;
}

.choose-body>.choose-item>ul {
	height: 380px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.choose-body>.choose-item>ul>li {
	line-height: 30px;
	padding-left: 5px;
	position: relative;
}

.choose-body>.choose-item>ul>li.add {
	margin: 10px 5px;
	text-align: center;
	border: 1px solid #ff7300;
	color: #ff7300;
	border-radius: 4px;
	cursor: pointer;
}

.choose-body>.choose-item>ul>li:hover {
	background: #f1f1f1;
}

.choose-body>.choose-item>ul>li.active {
	background: #fff1d0;
}

.choose-body>.choose-item>ul>li.active a {
	color: #ff7300;
}

.choose-body>.choose-item>ul>li>a {
	color: #666666;
}

.choose-body>.choose-item .caret {
	float: right;
	margin-top: 14px;
	margin-right: 8px;
	border-left: 3px solid;
	border-right: none;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
}

.choose-body>.choose-item .setting {
	display: none;
	position: absolute;
	right: 20px;
	top: 1px;
}

.choose-body>.choose-item>ul>li:hover .setting {
	display: block;
}

.choose-result {
	margin-top: 10px;
}

.choose-result .breadcrumb {
	border: 1px solid #ffdbab;
	background-color: #fffbf2;
	color: #b68571;
	display: inline-block;
	margin-bottom: 0;
}

#main .form-group {
	margin-bottom: 8px;
}

#main .modal-body .form-group {
	margin-left: 0;
	margin-right: 0;
}

#main .form-horizontal .control-subinfo {
	text-align: left;
	margin-bottom: 0;
	padding-top: 7px;
	padding-left: 0;
	padding-right: 0;
}

#main .form-horizontal .control-subinfo * {
	display: inline;
}

#main .text-danger {
	color: #e42a2a;
}

#main .well label.control-label {
	font-weight: normal;
	color: #444;
}

#main .img-thumbnail {
	cursor: pointer;
	margin-right: 15px;
}

.side-box {
    padding-bottom: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0 14px 14px;
    border: 1px solid #e6e6e6;
    background: #fcfcfc;
    line-height: 22px;
    color: #555;
}

.side-box .title {
	font-size: 14px;
    font-weight: 700;
    padding-bottom: 4px;
    line-height: 20px;
    margin-bottom: 5px;
    margin-top: 12px;
    color: #555;
}

.base-info {
	margin-bottom: 10px;
}

.base-info .item {
	line-height: 26px;
	border-bottom: 1px dotted #e8e8e8;
	padding: 5px 15px;
	margin: 0;
}

.base-info .title {
	float: left;
	width: 78px;
	color: #999;
	font-weight: bold;
}

.base-info .content {
	float: left;
	white-space: nowrap;
}

.headerline {
	font-size: 22px;
	font-family: Microsoft YaHei, SimHei, Verdana;
	font-weight: 500;
	line-height: 22px;
	margin: 25px 0 25px -10px;
	clear: both;
	zoom: 1;
	border-top: 1px solid #eee;
	position: relative;
}

.headerline .title {
	float: left;
	line-height: 24px;
	margin-top: -12px;
	padding: 0 15px 0 18px;
	border-left: 12px solid #4F9CEE;
	background: #fff;
	z-index: 2;
}

.text-box {
	padding: 20px;
	font-size: 14px;
    word-wrap: break-word;
    color: #333;
    margin-bottom: 15px;
    text-indent: 2em;
    line-height: 24px;
    zoom: 1;
}
/*mgr*/
#main .mgr {
	font-family: "microsoft yahei";
}

#main .mgr a {
	color: #666;
}

#main .mgr a:hover {
	color: #3ba354 !important;
}
/*mgr category*/
#main .categories {
	width: 200px;
	float: left;
}

#main .categories .list-group-item {
	border-radius: 0;
	background-color: #3ba354;
	border-left: 1px solid #318846;
	border-right: 1px solid #318846;
	border-bottom: 1px solid #318846;
	padding: 0;
}

#main .categories .list-group-item:hover {
	background-color: #fff;
	border-right-color: #fff;
}

#main .categories .list-group-item>a {
	color: #fff;
	font-weight: 700;
	padding: 15px;
	display: block;
}

#main .categories .list-group-item:hover>a {
	color: #3ba354;
}
/**nav dropdown-submenu**/
#main .categories .list-group-item:hover>.dropdown-toggle {
	z-index: 1001;
	border-right: 0;
}

#main .dropdown-submenu:hover .dropdown-menu {
	position: absolute;
	left: 198px;
	top: -1px;
	width: 700px;
	min-height: 100px;
	border: 1px solid #ddd;
	background-color: #fff;
	-moz-box-shadow: 10px 10px 10px #ddd;
	-webkit-box-shadow: 10px 10px 10px #ddd;
	box-shadow: 10px 10px 10px #ddd;
	border-radius: 0;
	border: 0;
}

#main .categories .dropdown-submenu:nth-child(2):hover .dropdown-menu {
	top: -50px;
}

#main .categories .dropdown-submenu:nth-child(3):hover .dropdown-menu {
	top: -99px;
}

#main .categories .dropdown-submenu:nth-child(4):hover .dropdown-menu {
	top: -148px;
}

#main .categories .dropdown-submenu:nth-child(5):hover .dropdown-menu {
	top: -197px;
}

#main .categories .dropdown-submenu:nth-child(6):hover .dropdown-menu {
	top: -1px;
}

#main .categories .dropdown-submenu:nth-child(7):hover .dropdown-menu {
	top: -50px;
}

#main .categories .dropdown-submenu:nth-child(8):hover .dropdown-menu {
	top: -50px;
}

#main .categories .dropdown-submenu:nth-child(9):hover .dropdown-menu {
	top: -99px;
}

#main .categories .dropdown-submenu:last-child:hover .dropdown-menu {
	top: -50px;
}

#main .dropdown-submenu:hover .dropdown-menu {
	display: block;
	margin-top: 0;
}

#main .subcates {
	float: left;
	width: 700px;
	font-size: 12px;
}

#main .subcates dl {
	margin: 0;
	padding: 20px 0;
	border-top: 1px dashed #eee
}

#main .subcates dl:first-child {
	border-top: none;
	padding-top: 0;
}

#main dt {
	color: #3ba354;
	font-weight: 700;
	font-size: 14px;
}

#main .subcates dt {
	width: 120px;
	line-height: 45px;
}

#main .subcates dd {
	margin-left: 140px;
}

#main .subcates>ul {
	margin-left: 140px;
}

#main .subcates li {
	padding: 0 10px;
	min-width: 140px;
	height: 26px;
	line-height: 26px;
}

#main .subcates li>a {
	color: #666;
}

#main .subcates li>a:hover {
	color: #3ba354;
}
/*mgr design*/
#main .design {
	padding: 10px 0px;
	position: relative;
}

#main .design .drop-container, #main .design .drag-container {
	min-height: 491px;
}

#main .design .drag-container {
	width: 320px;
	position: absolute;
	top: 10px;
	right: 0;
}

#main .design .drag-container .drag-fixed {
	width: 320px;
	position: fixed;
}

#main .design .drop-container {
	margin-right: 320px;
	padding-bottom: 10px;
	border-right: 1px solid #ddd;
}

#main .design .header {
	padding: 5px 10px;
	border-bottom: 1px solid #ddd;
	font-weight: 700;
	color: #444;
}

#main .design .header .breadcrumb {
	padding: 0;
	margin: 0;
	background-color: transparent;
}

#main .design .header .btn-group {
	margin-top: -3px;
}

.input-group.group-2 .form-control {
	width: 50%;
}

.input-group.group-2 .form-control:first-child {
	border-right: 0;
}

.form-group .input-file {
	padding-top: 7px;
}

#main .drop-container .drop-add {
	margin-top: 10px;
	background-color: #fff1d0;
	padding: 15px 5px 5px 5px;
	border: 1px dashed #ff9831;
}

#main .drop-container .drop-unit {
	padding: 15px 5px 5px 0;
	border-bottom: 1px dashed #ddd;
	position: relative;
	z-index: 11;
}

#main .drop-container .drop-unit>.form-group {
	margin-left: 0;
}

#main .drop-container .drop-unit .operator {
	background-color: #000000;
	opacity: 0;
	filter: alpha(opacity = 50);
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
}

#main .drop-container .drop-unit:hover .operator {
	opacity: 0.5;
	right: -30px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
}

#main .drop-container .drop-unit .operator a {
	color: #fff;
	padding: 3px 10px;
	display: block;
}

#main .drop-container .drop-unit .operator a:first-child {
	border-bottom: 1px dashed #fff;
}

#main .drop-container .drop-unit .popover {
	width: 390px;
	border-color: #3ba354;
	border-width: 3px;
}

#main .drop-container .drop-unit .popover.fade.in {
	display: block;
	left: 100%;
	margin-left: 34px;
}

#main .drop-container .drop-unit .popover.right>.arrow {
	top: 20px;
	border-right-color: #3ba354;
}

#main .drop-container .drop-unit .popover.right>.arrow:after {
	left: 4px;
	border-right-color: #f7f7f7;
}
/*navtabs*/
.nav-tabs {
	border: 0;
}

.nav-tabs>li {
	background: #f0f0f0;
	border-bottom: 1px solid #e2e2e2;
	border-right: 1px solid #e1e1e1;
}

.nav-tabs.nav-justified>li:last-child {
	border-right: none;
}

.nav-tabs>li>a,.nav-tabs.nav-justified>li>a {
	padding: 5px 8px;
	border-radius: 0;
	border: none;
}

.nav-tabs>li.active {
	border-bottom-color: #fff;
}

.nav-tabs>li.active>a {
	color: #444 !important;
	font-weight: bold;
}

.nav-tabs>li.active>a:hover,.nav-tabs>li.active>a:focus {
	color: #f50;
}

.nav-tabs>li.active>a,.nav-tabs>li.active>a:hover,.nav-tabs>li.active>a:focus,.nav-tabs.nav-justified>.active>a,.nav-tabs.nav-justified>.active>a:hover,.nav-tabs.nav-justified>.active>a:focus
	{
	border: none;
	cursor: pointer;
}
/* footer css stylesheet */
#footer {
	text-align: center;
	font-size: 11px;
}

#footer li:before {
	content: "|";
	padding-right: 1em;
	color: #f0f0f0;
}

#footer li:nth-child(1):before {
	content: "";
	padding: 0;
}

#footer .link-group {
	height: 46px;
	line-height: 46px;
	border-bottom: 1px solid #e1e1e1;
}

#footer .link-group ul>li>a {
	color: #666;
	font-size: 12px;
}

#footer .link-group ul>li>a:hover {
	color: #f60;
}
/*fixed style*/
.fixed-btn {
	position: fixed;
	_position: absolute;
	z-index: 10000;
	overflow: hidden;
}

.fixed-btn a {
	display: block;
	width: 18px;
	text-align: left;
	padding: 10px 0 12px 5px;
	text-decoration: none;
	color: #954200;
	line-height: 1.2;
	font: 12px/1.5 Tahoma, Arial, "\5b8b\4f53", sans-serif;
	background-color: #edc947;
	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1,
		startColorStr=#f2f0e9, endColorStr=#edc947);
	background: -ms-linear-gradient(left, #f2f0e9, #edc947);
	background: -moz-linear-gradient(left, #f2f0e9, #edc947);
	background: -webkit-gradient(linear, 100% 0%, 0% 0%, from(#f2f0e9),
		to(#edc947));
	background: -webkit-linear-gradient(left, #f2f0e9, #edc947);
	background: -o-linear-gradient(left, #f2f0e9, #edc947);
}

.fixed-btn:hover a {
	width: 24px;
}

.fixed-btn a:hover,.fixed-btn a:focus {
	background: #edc947;
	text-decoration: none;
	margin-right: 6px;
	-webkit-transition: margin 0.5s ease-out;
	-moz-transition: margin 0.5s ease-out;
	-o-transition: margin 0.5s ease-out;
	-ms-transition: margin 0.5s ease-out;
	transition: margin 0.5s ease-out;
}

.fixed-btn a:first-child {
	-webkit-border-radius: 16px 0px 0px 0px;
	-moz-border-radius: 16px 0px 0px 0px;
	border-radius: 16px 0px 0px 0px;
}

.fixed-btn a:last-child {
	-webkit-border-radius: 0px 0px 0px 16px;
	-moz-border-radius: 0px 0px 0px 16px;
	border-radius: 0px 0px 0px 16px;
}

.fixed-right {
	position: fixed;
	top: 180px;
	left: 50%;
	margin-left: 495px;
}
/*helper*/
.helper {
	width: 200px;
}

.helper .panel-heading {
	padding: 8px 10px;
	cursor: pointer;
}

.helper .panel-heading .panel-title {
	font-size: 13px;
	font-weight: 700;
	color: #777;
}

.helper .panel-body {
	padding: 0;
}

.helper .panel-body .list-group {
	margin-bottom: 0;
}

.helper .panel-body .list-group-item {
	border-left: none;
	border-right: none;
	border-radius: 0;
	padding: 8px 15px;
}

.helper .panel-body .list-group-item a {
	padding: 8px 15px;
	cursor: pointer;
}

.helper .panel-body .list-group>.list-group-item:first-child {
	border-top: none;
}

.helper .panel-body .list-group-item:hover {
	background: #fff1d0;
}

.helper .panel-body .list-group-item:hover .glyphicon {
	color: #ff7300;
}
/*********directives***********/
/*loading*/
.loading-container {
	width: 160px;
	height: 56px;
	position: absolute;
	top: 50%;
	left: 50%;
	line-height: 56px;
	color: #fff;
	padding-left: 60px;
	font-size: 15px;
	background: #000 url(../img/all/loading.gif) no-repeat 10px 50%;
	opacity: 0.7;
	z-index: 9999;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}

.loading-container:before,.loading-container:after {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	min-height: 50px;
	min-width: 50px;
}

.loading-container:before {
	background-color: white;
	opacity: 0.5;
}
/*loading new by suntg*/
.loading {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.loading.in {
	display: block;
	z-index: 99999;
}

.loading.in>i {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -66px 0 0 -33px;
	background: url("../img/all/loading.gif") no-repeat center center;
	width: 66px;
	height: 66px;
}
#floor-1 a{
	float: right;
}#floor-1 a img{
	float: right;
 }
