.down-payment{
    width: 100%;
    margin:0 auto;
    background: #fff;
    display: inline-block;
    padding-bottom: 70px;
}
.down-payment .content{
    width: 1000px;
    margin: 0 auto;
    border: #89aefa 1px solid;
    margin-top: 15px;
    padding-bottom: 30px;
}
.payment-title{
    width: 100%;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    background: #f9f9fa;
    padding-left: 10px;
}
.payment-title em{
    color: #fe3e3c;
}
.common-title{
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    font-weight: bold;
    padding-left: 10px;
    margin-top: 20px;
}
.common-title.margin-top-none{
    margin-top: 2px;
}
.down-payment .order-list{
    width: 100%;
    margin: 0 auto;
    background: #f5f8fe;
}
.down-payment .order-list ul{
    width: 100%;
    margin: 0 auto;
    display: inline-block;
}
.down-payment .order-list li{
    width: 25%;
    height: 42px;
    /*background: #f9f9fa;*/
    line-height: 42px;
    float: left;
}
.down-payment .payment-style ul li.no-count span{
    margin-left: 28px;
}
.down-payment .payment-style ul li.no-count span i{
    font-size: 16px;
    color: #5078cb;
    margin-right: 5px;
}
.down-payment .payment-style ul li.no-count span a{
    color: #5078cb;
}
.down-payment .order-list li a{
    font-size: 14px;
}
.down-payment .order-list li a:hover{
    color: #5078cb;
}
.down-payment .order-list li a em{
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #89aefa;
    border-radius: 2px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    line-height: 15px;
    margin: 0 10px 0 28px;
    position: relative;
    top: -1px;
}
.check-act input{
    display: none;
}
.check-act label{
    width: 12px;
    height: 12px;
    display: inline-block;
    background: url(../img/icon/check-rule.png) no-repeat;
    position: relative;
    top: 15px;
    margin-right: 10px;
    margin-left: 28px;
}
.check-act label{
    background-position: 0 0;
}
.check-act input:checked + label{
    background-position: -15px 0;
}
.word-in-10 {
    max-width: 152px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.down-payment .payment-style{
    width:100%;
    margin: 0 auto;
    background: #f5f8fe;
}
.down-payment .payment-style ul{
    width: 100%;
    margin: 0 auto;
    display: inline-block;
}
.down-payment .payment-style ul li{
    width: 100%;
    float: left;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
}
.down-payment .payment-style ul li div{
    float: left;
}
.down-payment .payment-style ul li label{
    float: left;
}
.down-payment .payment-style ul li .tip-content{
    position: relative;
}
.down-payment .payment-style ul li div{
    margin-right: 30px;
}
.down-payment .payment-style ul li .tip-content img{
    position: relative;
    top: -2px;
}
.down-payment .payment-style ul li .tip-content img:hover + .tip-content-01{
    display: inline-block;
}
.down-payment .payment-style ul li .tip-content .tip-content-01{
    display: none;
    position: absolute;
    left: -82px;
    top: 40px;
    width: 233px;
    height: 80px;
    border: #89aefa 1px solid;
    box-shadow: 1px 1px 5px #999;
    font-size: 12px;
    color: #666;
    line-height: 20px;
    padding-left: 11px;
    padding-top: 7px;
    background: #fff;
    z-index: 500;
}
.down-payment .pay-price{
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    padding-right: 14px;
}
.down-payment .pay-price div.row{
    font-size: 16px;
    margin: 0;
    margin-top: 20px;
}
.down-payment .pay-price div.row em{
    font-size: 18px;
    color: #e41515;
    font-weight: bold;
}
.down-payment .pay-price div.row button{
    border: none;
    width: 64px;
    height: 30px;
    line-height: 30px;
    background: #5078cb;
    text-align: center;
    color: #fff;
    float: right;
    font-size: 14px;
}

/*立即支付*/
.payment-style ul.payment-80{
   max-height: 80px;
}
.payment-style ul.payment-80 li{
    height: 35px;
    line-height: 35px;
}
.payment-style ul.payment-80 .check-act label{
    top: 12px;
}
.payment-detail{
    width: 100%;
    margin: 0 auto;
    background: #f5f8fe;
}
.payment-detail ul{
    width: 100%;
    margin: 0 auto;
    padding: 18px 0 18px 28px;
    display: inline-block;
}
.payment-detail ul li{
    width: 100%;
    float: left;
    font-size: 14px;
    margin-bottom: 16px;
}
.payment-detail ul li:last-child{
    margin-bottom: 0;
}
.payment-detail ul li span:nth-child(2){
    margin: 0 50px 0 25px;
}
.payment-detail ul li em img{
    position: relative;
    top: -3px;
}
.change-count{
    width: 70px;
    height: 22px;
    border: none;
    line-height: 22px;
    border-radius: 2px;
    color: #fff;
    background: #ff8522;
}
.common-title.margin-top-8{
    margin-top: 8px;
}
.payment-upload{
    width: 100%;
    margin: 0 auto;
    background: #f5f8fe;
    margin-top: -2px;
}
.payment-upload ul{
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    padding-left: 28px;
    padding-top: 15px;
}
.payment-upload ul li{
    width: 114px;
    float: left;
    margin-left: 40px;
}
.payment-upload ul li:first-child{
    margin-left: 0;
}
.payment-upload ul li .upload{
    width: 114px;
    height: 114px;
    background: #fff;
    position: relative;
    overflow: hidden;
}
.payment-upload ul li .upload .img{
    width: 100%;
    height: 100%;
    text-align: center;
}
.payment-upload ul li .upload .img img{
    width: 114px;
    height: 114px;
}
.payment-upload ul li .price{
    width: 114px;
    height: 26px;
    margin: 0 auto;
    margin-top: 26px;
}
.payment-upload ul li .price em{
    width: 21px;
    height: 26px;
    display: inline-block;
    text-align: center;
    line-height: 26px;
    color: #fff;
    background: #5078cb;
    float: left;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}
.payment-upload ul li .price input{
    width: 93px;
    height: 26px;
    padding: 0;
    line-height: 26px;
    float: right;
    border-radius: 0;
    text-align: center;
    font-size: 12px;
}
.img-specifications{
    width: 100%;
    padding: 14px 28px;
    color: #999;
    font-size: 12px;
}
.down-payment .pay-price div.stage{
    margin-top: 0;
}
.down-payment .pay-price div.stage .content{
    text-align: right;
    border: none;
    margin-top: 0;
    padding-bottom: 0;
}
.down-payment .pay-price div.stage p{
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    background: #f5f8fe;
}
.down-payment .pay-price div.stage p em{
    font-size: 14px;
    color: #333;
}
.down-payment .pay-price div.stage p.total{
    background: #fff;
    font-size: 16px;
    margin-top: 5px;
}
.down-payment .pay-price div.stage p.total em{
    font-size: 18px;
}
.down-payment .pay-price div.stage p span{
    width: 60px;
    text-align: right;
    display: inline-block;
    margin-left: 55px;
}
.red{
    color: #e41515 !important;
}
.bule{
    color: #5078cb !important;
}

.deal-btn{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}
.deal-btn a{
    width: 70px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
}
.deal-btn a.off{
    background: #cdcccc;
    color: #fff;
    margin-right: 8px;
}
.deal-btn a.ok{
    background: #5078cb;
    color: #fff;
}
.deal-btn a:hover{
    background: #337ab7;
    color: #fff;
}
.down-payment .pay-price div.row .deal-btn{
    margin-top: 12px;
}
.down-payment .pay-price div.row .deal-btn a{
    float: right;
}
.down-payment .pay-price div.row .deal-btn a.off{
    margin-right: 10px;
}
.down-payment .hover-show{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 100%;
    background: rgba(0,0,0,.35);
}
.payment-upload ul li .upload:hover .hover-show{
    top: 0;
}
.down-payment .hover-show a{
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 114px;
}
.down-payment .hover-show a i{
    margin-right: 5px;
}
.down-payment .hover-show span.delete{
    position: absolute;
    z-index: 100;
    display: inline-block;
    width: 30px;
    height: 30px;
    right: 0;
    top: 0;
    color: #fff;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
}
.down-payment .hover-show span.delete i{
    font-size: 18px;
}
/*修改扫描单*/
.payment-upload-list{
    width: 100%;
    margin: 0 auto;
    background: #ecf2fd;
    display: inline-block;
    padding: 15px 0 0 10px;
}
.payment-upload-list .item{
    width: 140px;
    float: left;
    margin: 0 7px;
}
.payment-upload-list .item .img-list{
    width: 100%;
    height: 114px;
    margin: 0 auto;
}
.payment-upload-list .item .img-list div{
    float: left;
}
.payment-upload-list .item .img-list .img{
    width: 114px;
    height: 114px;
    border: solid 1px rgb(212, 212, 212);
    position: relative;
    overflow: hidden;
    background: #fff;
}
.payment-upload-list .item .img-list .number{
    position: absolute;
    top: 0;
    left: 0;
    width: 47px;
    height: 47px;
    display: inline-block;
    background: url("../img/icon/nummber-bg.png") no-repeat center;
    z-index: 20;
}
.payment-upload-list .item .img-list .number em{
    line-height: 30px;
    font-size: 12px;
    color: #fff;
    transform: rotate(-45deg);
    display: inline-block;
    position: relative;
    left: -3px;
}
.payment-upload-list .item .img-list div.prev,.payment-upload-list .item .img-list div.next{
    width: 10px;
    height: 16px;
    font-size: 28px;
    position: relative;
    top: 40px;
    color: #c9c9c7;
}
.payment-upload-list .item .img-list div.prev:hover,.payment-upload-list .item .img-list div.next:hover{
    color: #5078cb;
}
.payment-upload-list .item .img-list div.prev{
    margin-right: 3px;
}
.payment-upload-list .item .img-list div.next{
    margin-left: 3px;
}
.payment-upload-list .item .img-list .list,.payment-upload-list .item .img-list .list img{
    width: 114px;
    height: 114px;
    margin: 0 auto;
    position: relative;
}
.payment-upload-list .item .img-list .list span{
    width: 114px;
    height: 114px;
    display: inline-block;
}
.payment-upload-list .item .img-list .list:hover .hover-show{
    top: 0;
}
.payment-upload-list .item .price-input{
    width: 114px;
    height: 26px;
    line-height: 26px;
    margin-left: 13px;
}
.payment-upload-list .item .price-input input{
    height: 26px;
    text-align: center;
    font-size: 14px;
    color: #5078cb;
    border: #5078cb 1px solid;
    background: #fff;
    border-radius: 0;
    cursor: default;
}
.payment-upload-list .item .time{
    width:100%;
    font-size: 12px; color: #999999;
    text-align: left;
    margin: 16px 0 15px 13px;
}
.payment-upload-list .item .small-img{
    width: 114px;
    height: 15px;
    margin: 4px 0 8px 13px;
}
.payment-upload-list .item  .small-img span{
    width: 15px;
    height: 15px;
    display: inline-block;
    overflow: hidden;
    border: #e0dddd 1px solid;
    background: #e0dddd;
    float: left;
    margin-left: 4.5px;
}
.payment-upload-list .item  .small-img span:first-child{
    margin-left: 0;
}
.payment-upload-list .item .small-img span.active,.payment-upload-list .item .small-img span:hover{
    border: #5078cb 1px solid;
}
.payment-upload-list .item .small-img span img{
    width: 15px;
    height: 15px;
}