<style>
.padding-left-15 {
	padding-left: 15px;
}

.component-code {
	color: #39D04C;
	font-size: 20px;
	font-weight: 600;
}

.component-minBuy {
	color: #314F96;
	font-size: 20px;
}

.component-min-price {
	color: red;
	font-size: 20px;
}

.component-reserve {
	color: #439607;
	font-size: 20px;
}

.component-delivery {
	color: #2F084C;
	font-size: 20px;
}

.text-num {
	font-style: normal;
	font-family: verdana;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.half-width {
	width: 50%;
}

div.weui_cell.no-top:before {
	border-top: white;
}

div#batch:after, div#batch:before {
	border: white;
}

div#content:after {
	border-bottom: white;
}

.batch-content {
	padding-bottom: 3px;
	padding-top: 3px;
}
</style>
<div id="component" class='weui_cell'></div>
<div id="batch" class='weui_cells'></div>