<style>
.padding-left-15 {
	padding-left: 15px;
}

.text-num {
	font-style: normal;
	font-family: verdana;
}

.title {
	font-size: 20px;
	font-weight: 600;
	padding: 10px 0px;
	margin: -1px;
	margin-bottom: 0px;
	background-color: white;
}

.normal-name {
	color: #B7B2B2;
}

.component-code {
	color: #39D04C;
	font-size: 20px;
	font-weight: 600;
}

.component-minBuy {
	color: #314F96;
	font-size: 20px;
}

.component-min-price {
	color: red;
	font-size: 20px;
}

.component-reserve {
	color: #439607;
	font-size: 20px;
}

.component-delivery {
	color: #2F084C;
	font-size: 20px;
}

.component-standard {
	padding: 6px 10px;
}

.text-right {
	text-align: right;
}

div.weui_cells:before, div.weui_cell:BEFORE{
	border-top: white;
	border-bottom: white;
}

div.weui_cells.margin-top-zero {
	margin-top: 0px;
}

div.weui_cell.paddingTB_0 {
	padding-bottom: 0px;
	padding-top: 0px;
}
</style>
<div id="content"></div>