<style>
	.container.commodity {
		width: 1190px;
		padding-left: 0px;
		padding-right: 0px;
		font-family: "Microsoft Yahei", "微软雅黑";
	}

	.commodity .commodity-detail {
		width: 100%;
		display: inline-block;
		font-size: 0px;
	}

	.commodity-detail .img{
		float: left;
		width: 258px;
		height: 320px;
	}

	.commodity-detail .img img {
		border: 1px solid #D6D3CE;
	}

	.commodity-detail .img  .box {
		height: 62px;
	}

	.commodity-detail .content {
		width: 932px;
		float: left;
		font-size: 14px;
	}

	.commodity-detail .content {
		padding-left: 20px;
	}

	.commodity-detail .content .code {
		font-size: 24px;
		color: rgb(50, 50, 50);
		font-weight: 600;
		border-bottom: 1px solid #D6D3CE;
		line-height: 40px;
	}

	.commodity-detail .content .com-info {
		font-size: 14px;
		font-family: "Microsoft Yahei", "微软雅黑";
		line-height: 26px;
	}

	.input-group .input-group-operate {
		padding: 6px 12px;
		font-size: 14px;
		font-weight: 400;
		line-height: 1;
		color: #555;
		text-align: center;
		background-color: #eee;
		border: 1px solid #ccc;
		border-radius: 4px;
	}

	.input-group .input-group-operate:last-child {
		border-bottom-left-radius: 0px;
		border-top-left-radius: 0px;
	}

	.input-group .input-group-operate:first-child {
		border-bottom-right-radius: 0px;
		border-top-right-radius: 0px;
	}

	.content .com-info .name {
		letter-spacing: 15px;
	}

	.commodity-info-detail {
		float: left;
		padding-top: 10px;
		width: 582px;
	}

	.price-block {
		float: right;
		width: 330px;
		margin-top: 10px;
		height: 220px;
	}

	.commodity-price {
		line-height: 30px;
		text-align: center;
		border: 1px solid #D6D3CE;
	}

	.commodity-price .title {
		background-color: #f7f7f7;
		border-bottom: 1px solid #D6D3CE;
	}

	.commodity-price .head {
		border-bottom: 1px solid #D6D3CE;
	}

	.commodity-price .fragment {
		display: inline-block;
		width: 70px;
	}

	.commodity-price .price {
		width: 123px;
		display: inline-block;
	}

	.com-info div.select {
		display: inline-block;
	}

	.com-info .operate {
		cursor: pointer;
	}

	.com-info .operate:hover, .com-info .operate:link {
		background-color: #00B83F;
		color: white;
	}

	.com-info .money {
		font-weight: 600;
		color: red;
	}

	.com-info select {
		border-radius: 4px;
		width: 120px!important;
	}

	ul.list-inline {
		margin: 0px;
	}

	.commodity-price ul.list-inline li {
		padding-left: 0px;
		padding-right: 0px;
		border-bottom: 1px dashed #D6D3CE;
	}

	.commodity-price .table {
		margin-bottom: 0px;
	}

	.commodity-price ul>li:last-child {
		border-bottom: none;
	}

	div.button {
		padding-top: 20px;
		float: left;
	}

	button.btn-now {
		border: 1px solid #3D76C6;
		color: #3D76C6;
		margin-left: 30px;
	}

	.com-info .delivery {
		display: inline;
	}
	#commodity-info-fragment{
		margin-bottom: 20px;
	}
</style>
<div class="menu-com row">
	<div class="menu-title col-md-12">
		<a href=".">商城首页</a> >
		<a href="providers#/home" ng-if="storeInfo.type == 'AGENCY' || storeInfo.type == 'DISTRIBUTION'" title="代理经销">代理经销</a>
		<a href="providers#/factories" ng-if="storeInfo.type == 'ORIGINAL_FACTORY'" title="原厂专区">原厂专区</a>
		<a ng-href="{{ 'store/' + storeInfo.uuid + '#/home' }}" ng-if="storeInfo.type == 'CONSIGNMENT'" title="库存寄售">库存寄售</a>
		>
		<span ng-if="storeInfo.type != 'CONSIGNMENT'"><a ng-href="{{ 'store/' + storeInfo.uuid + '#/home'}}" title="{{storeInfo.storeName}}">{{storeInfo.storeName}}</a>> </span>
		<span>产品详情</span>
	</div>
</div>
<div id="commodity-info-fragment">
	<div class="commodity-detail">
		<div class="img">
			<img ng-src="{{commodity.img ? commodity.img : rootPath + '/static/img/store/common/default.png'}}" style="width: 256px;height: 256px;"/>
			<div class="box"></div>
		</div>
		<div class="content">
			<div class="code">
				<span ng-bind="commodity.code"></span>
			</div>
			<div class="commodity-info-detail">
				<div class="com-info">
					<span class="name">价&nbsp;格</span>：
					<span class="money">
                            <span ng-if="fragment.currency == 'RMB'">￥</span>
                            <span ng-if="fragment.currency == 'USD'">$</span>
                            <span ng-bind="fragment.price | formateNumber : 6"></span>
                        </span>
				</div>
				<div class="com-info">
					<span class="name">品&nbsp;牌</span>：<span ng-bind="commodity.brandNameEn"></span>
				</div>
				<div class="com-info">
					<span class="name">类&nbsp;目</span>：<span ng-bind="commodity.kindNameCn"></span>
				</div>
				<div class="com-info">
					<span class="name">下&nbsp;载</span>：<a target="_blank" ng-href="{{component.attach}}">{{component.attach ? '规格书' : '暂无信息'}}</a>
				</div>
				<div class="com-info">
					<span class="name">包&nbsp;装</span>：<span ng-bind="commodity.packaging || '无包装信息'"></span>
				</div>
				<div class="com-info">
					<span class="name">封&nbsp;装</span>：<span ng-bind="commodity.encapsulation || '无封装信息'"></span>
				</div>
				<div class="com-info">
					<span class="name">库&nbsp;存</span>：<span ng-bind="commodity.reserve || 0"></span>
					（<span ng-bind="commodity.minBuyQty || 1"></span>个起订）
				</div>
				<div class="com-info">
					<span class="name">货&nbsp;期</span>：
					<div class="delivery">
						<span ng-bind="commodity.b2cMinDelivery"></span>-
						<span ng-bind="commodity.b2cMaxDelivery"></span>
						<span>(天)</span>
					</div>
					<!--<div class="delivery" ng-if="commodity.currencyName.indexOf('RMB') > -1">-->
						<!--<span ng-bind="commodity.b2cMinDelivery"></span>- -->
						<!--<span ng-bind="commodity.b2cMaxDelivery"></span>-->
						<!--<span>(天/大陆)</span>-->
					<!--</div>-->
				</div>
				<div class="com-info form-inline">
					<span class="name">数&nbsp;量</span>：
					<div class="input-group" style="width: 120px">
						<div class="input-group-addon operate" ng-click="subNum()" ng-disabled="!fragment.canAdd">-</div>
						<input type="text" class="form-control text-center" placeholder="数量" ng-model="fragment.num" ng-change="inputNum()" style="padding: 0; min-width: 100px;"/>
						<div class="input-group-addon operate" ng-click="addNum()" ng-disabled="!fragment.canSub">+</div>
					</div>
					×
					<div class="select">
						<select class="form-control"  ng-disabled="commodity.currencyName != 'RMB-USD'" ng-model="fragment.currency" ng-change="changeCurrency()">
							<option value="RMB" ng-model="fragment.currency">RMB</option>
							<option value="USD" ng-model="fragment.currency">USD</option>
						</select>
					</div>
					＝
					<span class="money">
                           <span ng-if="fragment.currency == 'RMB'">￥</span>
                           <span ng-if="fragment.currency == 'USD'">$</span>
                           <span ng-bind="fragment.total | formateNumber : 2"></span>
                        </span>
				</div>
				<div class="button" ng-controller="GoodsPickUpCtrl">
					<button class="btn btn-default btn-primary" ng-click="addToCart(commodity, false, fragment.num, fragment.currency)">加入购物车</button>
					<button class="btn btn-default btn-now" ng-click="addToCart(commodity, true, fragment.num, fragment.currency)">立即购买</button>
				</div>
			</div>
			<div class="price-block">
				<div class="commodity-price">
					<div class="title">价格梯度</div>
					<div class="table">
						<div class="head">
							<div class="fragment">数量</div>
							<div class="price">单价￥(含税)</div>
							<div class="price">单价$</div>
						</div>
						<ul class="list-unstyled list-inline">
							<li ng-repeat="price in commodity.prices">
								<div class="fragment">
									<span ng-bind="price.start"></span>+
								</div>
								<div class="price">
										<span ng-if="price.rMBPrice" ng-bind="price.rMBPrice ||0 | formateNumber : 6"></span>
								</div>
								<div class="price">
									<span ng-if="price.uSDPrice" ng-bind="price.uSDPrice || 0 | formateNumber : 6"></span>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
