<style>
	body{
		font-family: "Microsoft Yahei", "微软雅黑";
	}
	#goods-list-fragment .category-title {
		height: 34px;
		background-color: #5078cb;
		font-size: 14px;
		color: rgb(255,255,255);
		font-weight: 600;
		text-align: center;
	}

	#goods-list-fragment .category-content li {
		line-height: 33px;
		font-size: 14px;
		color: #333;
		float: left;
		width: 100%;
		padding-left: 10px;
	}

	#goods-list-fragment .category-content li a {
		display: block;
		padding-left: 15px;
		text-decoration: none;
		color: #333;
		background:url("static/img/store/default/openblackR.png") no-repeat left;
	}

	#goods-list-fragment .category-content li a:hover{
		color: #5078cb;
		cursor: pointer;
	}

	#goods-list-fragment .category-content ul.list-body {
		display: none;
		color: #666;
	}

	#goods-list-fragment .category-content ul.list-body.active {
		display: block;
	}

	#goods-list-fragment .category-content ul.list-body li {
		float: none;
		background-image: none;
		min-height: 26px;
		line-height: 26px;
		font-size: 12px;
	}

	#goods-list-fragment .category-content ul.list-body li a {
		padding-left: 15px;
		display: block;
		color: rgb(50,50,50);
		background: none;
	}

	#goods-list-fragment .category-content ul.list-body li a:hover {
		color: #5078cb;
		cursor: pointer;
	}

	#goods-list-fragment .category-content ul.list-body li a.cur {
		text-decoration: none;
		font-size: 14px;
		background:url("static/img/store/default/openblackR.png") no-repeat left;
	}

	#goods-list-fragment .title-area {
		margin-bottom: 30px;
		width: 200px;
		float: left;
	}
	#goods-list-fragment .category-content{
		border: 1px solid #e8e8e8;
	}
	/* goods-area */
	#goods-list-fragment .goods-area {
		margin-left: 20px;
		float: left;
		margin-bottom: 30px;
	}

	#goods-list-fragment .goods-area .btn-line {
		border-radius: 0;
	}


	#goods-list-fragment .btn-info.btn-line {
		background-color: #5078CB;
		color: #fff;
		font-weight: 600;
	}

	#goods-list-fragment .btn-line {
		height: 34px;
		width: 150px;
		border: 1px solid #5078cb;
		background-color: #fff;
		color: rgb(80,120,203);
		font-weight: 600;
	}

	#goods-list-fragment .btn-line:hover {
		background-color: #5078CB;
		color: #fff;
	}

	/* 物品列表 */
	#goods-list-fragment .goodslist .brand-code {
		font-size: 14px;
		text-align: center;
	}

	#goods-list-fragment #search_btn {
		background: #5078CB;
		color: #FFFFFF;
	}

	#goods-list-fragment #search_input {
		font-size: 14px;
	}

	#goods-list-fragment .brand-code .code {
		font-weight: 600;
	}

	#goods-list-fragment .goodslist th {
		color: rgb(50,50,50);
		font-size: 14px;
		font-weight: 600;
		background-color: #f7f7f7;
		text-align: center;
	}

	#goods-list-fragment .category-content a.selected-node,
	#goods-list-fragment .category-content ul.list-body li a.selected-node {
		color: #5078cb;
	}

	#goods-list-fragment .category-content a.selected-parent-node,
	#goods-list-fragment .category-content ul.list-body li a.selected-parent-node {
		background:url("static/img/store/default/openblack.png") no-repeat left;
	}

	#goods-list-fragment .goodslist tbody>tr {
		border: 1px solid #e8e8e8;
	}
	#goods-list-fragment .goodslist tbody>tr td.commodity-icon .img{
		border: 1px solid #e8e8e8;
		margin: 10px;
		width: 80px;
		height: 80px;
		overflow: hidden;
		line-height: 75px;
	}
	#goods-list-fragment .goodslist tbody>tr td.commodity-icon .img>img {
		width: 80px;
		height: 80px;
	}
	#goods-list-fragment .goodslist td {
		font-size: 12px;
		color: #333;
		text-align: center;
		line-height: 20px;
	}

	/* 物品列表按钮 */
	#goods-list-fragment .btn-buy-now {
		background-color: #5078CB;
		color: #fff;
		width: 80px;
		height: 30px;
		font-size: 12px;
		border: 1px solid #5078cb;
	}

	#goods-list-fragment .btn-add-cart {
		margin-top: 10px;
		color: #214797;
		width: 80px;
		height: 30px;
		font-size: 12px;
		background-color: #fff;
		border: 1px solid #e8e8e8;
	}
	#goods-list-fragment .btn-buy-now:hover{
		background: #214797;
	}
	#goods-list-fragment .btn-add-cart:hover{
		background-color: #5078CB;
		color: #fff;
	}
	.category-content{
		min-height: 243px;
	}
	.no-record{
		font-size: 14px;
		color: #999;
		text-align: center;
		line-height: 200px;
	}
	.no-record i{
		margin-right: 5px;
	}
	.text-center{
		text-align: center;
		margin-top: 30px;
	}
	.text-center  .col-xs-2  img{
		margin: 50px 0 50px 95px;
		vertical-align: middle;
	}
	.text-center .txt-info{
		font-size: 14px;
		margin-top: 70px;
	}
	.text-center  .col-xs-4  p{
		color: #999;
		margin-top: 3px;
		margin-bottom: 2px;
	}
	.text-center  .txt-info a{
		font-size: 14px;
	}
	.text-center  .col-xs-4 i{
		color: #5078cb;
		font-size: 14px;
	}
	.goodslist{
		margin-bottom: 16px;
	}
</style>
<div id="goods-list-fragment">
	<div class="container" style="width: 1190px; padding: 0;">
		<div class="title-area">
			<div class="category-title">
				<span style="line-height: 34px;">产品分类</span>
			</div>
			<div class="category-content">
				<ul class="clearfix list-unstyled">
					<li ng-repeat="firstKind in kinds">
						<a ng-class="{'cur' : firstKind.children, 'selected-node' : selectedFirst == firstKind.id, 'selected-parent-node' : selectedFirst == firstKind.id && firstKind.children}" ng-bind="firstKind.nameCn" ng-click="showSecondList(firstKind)"></a>
						<ul class="clearfix list-unstyled list-body" ng-if="firstKind.children" ng-class="{ 'active' : selectedFirst == firstKind.id }">
							<li ng-repeat="secondKind in firstKind.children">
								<a ng-class="{'cur' : secondKind.children, 'selected-node' : selectedSecond == secondKind.id, 'selected-parent-node' : selectedSecond == secondKind.id && secondKind.children}" ng-bind="secondKind.nameCn" ng-click="showLeafList(secondKind)"></a>
								<ul class="clearfix list-unstyled list-body" ng-if="secondKind.children" ng-class="{ 'active' : selectedSecond == secondKind.id }">
									<li ng-repeat="thirdKind in secondKind.children">
										<a ng-class="{'cur' : thirdKind.children, 'selected-node' : selectedLeaf == thirdKind.id}" style="display: block;" ng-click="showLeaf(thirdKind)" ng-bind="thirdKind.nameCn">晶体管</a>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
				<div ng-if="kinds.length == 0" class="no-record">
					<!--<i class="fa fa-smile-o fa-lg"></i>-->
					暂无类目信息
				</div>
			</div>
		</div>
		<div class="goods-area">
			<div class="row" style="margin: 0;width: 970px;">
				<div class="col-md-3 btn-group btn-group-sm" style="padding: 0;">
					<a type="button" class="btn btn-default btn-line btn-info"
					   ng-class="{'btn-info':status=='goodslist'}" >产品列表</a>
				</div>
				<!--<div class="btn-group btn-group-sm">
				<a type="button" class="btn btn-default btn-line" ui-sref=""
				   ng-class="{'btn-info':status=='repositry'}" >库存列表</a>
				</div>-->

				<div class="col-md-4 col-md-offset-5" style="padding: 0;">
					<div class="input-group">
						<input type="search" class="form-control" id="search_input" title="code" placeholder="请输入要筛选的原厂型号"
							   ng-model="searchCode" ng-search="goodsSearch(searchCode)"/>
						<span class="input-group-btn">
							<button type="button" class="btn" id="search_btn" ng-click="goodsSearch(searchCode)">&nbsp;筛&nbsp;选&nbsp;</button>
						</span>
					</div>
				</div>
			</div>

			<!-- 列表展示 -->
			<table class="goodslist" ng-table="goodsListTableParams" style="width: 970px" ng-controller="GoodsPickUpCtrl">
				<thead>
				<tr style="height: 40px;">
					<th width="90"></th>
					<th width="150">品牌/型号</th>
					<th width="100">包装/生产日期</th>
					<th width="90">库存</th>
					<th width="90">数量</th>
					<th width="90">香港交货<span style="font-size: 12px;">($)</span></th>
					<th width="100">大陆交货<span style="font-size: 12px;">(￥)</span></th>
					<th width="100">交期(天)</th>
					<th width="100">操作</th>
				</tr>
				</thead>
				<tbody id="goodslist-content">
				<tr ng-repeat="commodity in $data">
					<td class="commodity-icon">
						<a ng-href="{{'store/' + commodity.storeid + '#/batchInfo/' + commodity.batchCode}}" target="_blank">
							<div class="img"><img ng-src="{{commodity.img || 'static/img/store/common/default.png'}}"/></div>
						</a>
					</td>
					<td class="brand-code">
						<div class="brand" ng-bind="commodity.brandNameEn"></div>
						<div class="code" ng-bind="commodity.code"></div>
					</td>
					<td>
						<div class="package" ng-bind="commodity.packaging || '暂无包装信息'"></div>
						<div class="date" ng-bind="commodity.produceDate">2016-12-01</div>
					</td>
					<td style="text-align: left;vertical-align: middle;">
						<div class="goods">
							库存：<span ng-bind="commodity.reserve">31500</span>
						</div>
						<div class="from">
							起拍：<span ng-bind="commodity.minBuyQty">300</span>
						</div>
						<!--<div class="multiple">-->
							<!--倍数：<span>1</span>-->
						<!--</div>-->
					</td>
					<td>
						<div ng-repeat="price in commodity.prices">{{price.start}}+</div>
					</td>
					<td>
						<div ng-show="commodity.currencyName.indexOf('USD')==-1 || !commodity.prices">
							<span>—</span>
						</div>
						<div ng-repeat="price in commodity.prices">{{price.uSDPrice | formateNumber : 6}}</div>
					</td>
					<td>
						<div ng-show="commodity.currencyName.indexOf('RMB')==-1 || !commodity.prices">
							<span>—</span>
						</div>
						<div ng-repeat="price in commodity.prices">{{price.rMBPrice | formateNumber : 6}}</div>
					</td>
					<td>
						<div ng-if="commodity.b2cMinDelivery">交期：
							<span ng-if="commodity.b2cMinDelivery != commodity.b2cMaxDelivery" ng-bind="commodity.b2cMinDelivery + '-' + commodity.b2cMaxDelivery"></span>
							<span ng-if="commodity.b2cMinDelivery == commodity.b2cMaxDelivery" ng-bind="commodity.b2cMinDelivery"></span>
						</div>
					</td>
					<td>
						<div>
							<button class="btn btn-primary btn-buy-now" ng-click="addToCart(commodity, true, commodity.minBuyQty, commodity.currencyName)"><span class="watch">立即购买</span></button>
						</div>
						<div>
							<button class="btn btn-add-cart" ng-click="addToCart(commodity, false, commodity.minBuyQty, commodity.currencyName)"><span class="watch">加入购物车</span></button>
						</div>
					</td>
				</tr>
				<tr ng-if="$data.length == 0">
					<td colspan="12">
						<div class="empty">
							<p class="empty-img">
								<img src="static/img/all/empty-cart.png">
							</p>
							<div class="empty-info">
								<p class="grey"> 暂无器件信息 </p>
								<a href="/">马上去逛一逛</a>
							</div>
						</div>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<style>
	/**/
	.goodslist .empty{
		overflow: hidden;
		margin: 0!important;
		width:100%;
		display:inline-flex;
		justify-content:center;
		align-items: center;
		height:200px;
	}
	.goodslist .empty-info{
		line-height: 14px;
		padding-top:10px;
		margin-left:10px;
		text-align:left;
	}
	.goodslist .empty-info .grey{
		color: #999;
		font-size: 14px;
	}
	.goodslist .empty .empty-info>a{
		display: block;
		font-size: 14px;
		color: #5078cb;
		background: url(static/img/all/icon_nianxian.jpg)no-repeat;
		padding-left: 25px;
	}
</style>