#category {
    position: relative;
    width: 200px;
    height: 477px;
}
#category .category-title {
    position: absolute;
    margin-top: -40px;
    background-color: rgb(33, 71, 151);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    width: 200px;
    line-height: 40px;
}
#category a {
    color: #fff;
}

#category .list-group .level1 {
    height: 34.1px;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    text-align: left;
    border: 0px;
    padding-left: 20px;
    padding-top: 7px;
    line-height: 20px;
    background: rgba(80,120,203,0.9);
    margin-bottom: 0;
    border-radius: 0;
}
#category .list-group .level1 span i{
    margin-top: 2px;
}
#category .list-group :hover {
    background-color: #a0b2eb;
}

#category .list-group .level1 .dropdown-toggle .arrow{
    display: none;
}
#category .list-group .level1 .dropdown-toggle:hover a,#category .list-group .level1 .dropdown-toggle:hover .arrow{
    font-weight: bold;
}
#category .list-group .level1:hover .dropdown-toggle .arrow{
    display: inline-block;
}
#category .list-group .dropdown-menu {
    display: none;
    left: 200px;
    background-color: #fff;
    color: #000;
    width: 990px;
    height: 477px;
    padding: 15px 0px;
    box-shadow: 1px 0 3px #666;
    overflow-y: scroll;
    border: 0px;
    border-radius: 0;
}

#category .list-group .dropdown-menu :hover{
    background-color: #fff;
}

#category .list-group .dropdown:hover .dropdown-menu {
    display: block;
}

#category .list-group .dropdown-menu .level2 {
    display: block;
    text-align: left;
    font-family: 'Microsoft YaHei';
    font-size: 12px;
    line-height: 22px;
}
#category .list-group .dropdown-menu .level2 dt a span{
    width: 90%;
    display: inline-block;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#category .list-group .dropdown-menu .level2 dd a span{
    margin: 0 5px;
}
#category .list-group .dropdown-menu .level2 dt a:hover,#category .list-group .dropdown-menu .level2 dd a:hover{
    color: #ff0006;
}
#category .list-group .dropdown-menu dt span{
    line-height: 22px;
}

#category .list-group .dropdown-menu dt a {
    color: #000;
}

#category .list-group .dropdown-menu dt i {
    line-height: 22px;
}

#category .list-group .dropdown-menu dd {
    display: block;
    font-family: 'Microsoft YaHei';
}

#category .list-group .dropdown-menu dd a{
    color: #000;
}

#category .list-group .dropdown-menu dd ul li {
    border-left: 1px solid #ccc;
    margin: 4px 0px;
}

#category .list-group .moreCategory {
    background-color: #4c66bb;
    font-weight: bold;
    font-size: 12px;
}

#category .list-group .moreCategory:hover {
    background-color: #a0b2eb;
}
    /* scroll */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #d8d4d4;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #b1abab;
}
.dl-horizontal dt{
    white-space: inherit;
}