#corp-case {
    width: 1190px;
    margin: auto;
    text-align: center;
}
#corp-case > h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: rgb(50, 50, 50);
}
#corp-case>ul {
    margin-bottom: 40px;
}
#corp-case ul > li {
    display: inline-block;
    width: 13.27%;
    margin-right: 0.7665%;
    line-height: 50px;
    border: 1px solid #ccc;
    font-size: 2em;
}
#corp-case ul > li:last-child{
    margin-right: 0;
}
#corp-case ul > li img {
    width: 100%;
}

