#banner {
    /*background-color: #db143c;*/
    height: 477px;
}
#banner .banner-body {
    margin: 0 auto;
    width: 1190px;
}
#banner .carousel-indicators li{
    width: 12px;
    height: 12px;
    margin: 3px;
}
#banner .carousel-indicators li.active{
    margin: 3px;
}
#category {
    text-align: center;
    float: left;
    color: white;
    font-size: 16px;
}

.marketing {
    width: 1190px;
    padding: 0;
}

.news {
    height: 280px;
    background: url("../../img/index/news-bg.jpg");
    background-size: 102% 102%;
    color: #ffffff;
    margin-top: 50px;
}

.news-container, .news-container a {
    width: 1190px;
    margin: auto;
}
.news-container h2{
    padding-top: 27px;
    margin-bottom: 6px;
}
.news-container h2 a{
    color: #fff;
}
.news-container h2 a:hover{
    color: #feb900;
}
.news-container ul.title-list {
    width: 450px;
    margin: 0;
    padding: 0;
    margin-top: 8px;
}
.news-container ul.title-list li {
    list-style: none;
    font-size: 14px;
    line-height: 25px;
}
ul.thumbnail-list li img{
    width: 220px;
    height: 190px;
}
.news-container ul.title-list li a {
    display: inline-block;
    width: 100%;
    color: #ffffff;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.news-container ul.title-list li a:hover{
    color: #feb900;
}
.news-container .thumbnail-list{
    margin: 0;
    padding: 0;
}
ul.thumbnail-list li {
    display: inline-block;
    position: relative;
    margin-left: 15px;
    list-style: none;
    overflow: hidden;
    width: 220px;
    height: 190px;
}
ul.thumbnail-list li:hover img{
    transform: scale(1.15);
}
ul.thumbnail-list li a {
    position: absolute;
    bottom: 0;
    width: 220px;
    padding: 0 10px;
    line-height: 38px;
    background: #ffffff;
    color: #666;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;
    left: 0
}
ul.thumbnail-list li:hover a{
    color: #feb900;
}
 ul.title-list li:last-child a{
     color: #feb900 !important;
 }