<style>
	#carousel-fragment li {
		width: 12px;
		height: 12px;
		margin: 3px;
	}
	#carousel-fragment .carousel-indicators{
		bottom: 5px;
	}
	.carousel-control:focus, .carousel-control:hover {
		cursor: pointer;
	}
	.carousel-control:focus, .carousel-control:hover {
		cursor: pointer;
	}
</style>
<div id="carousel-fragment">
	<carousel interval="5000">
		<slide ng-repeat="carousel in carousels" active="slide.active">
			<a  ng-href="{{carousel.hrefUrl}}" target="{{targetName || '_blank'}}"><img ng-src="{{carousel.pictureUrl}}" style="width: 668px;height: 358px;max-width: 668px;max-height: 358px;"/></a>
			<div class="carousel-caption">
				<h4 ng-bind="carousel.body"></h4>
			</div>
		</slide>
	</carousel>
</div>
