<style>
	.new-sign-module {
		width: 280px;
		height: 360px;
		padding-left: 10px;
		border-right: 1px solid #D6D3CE;
		border-bottom: 1px solid #D6D3CE;
		border-top: 1px solid #D6D3CE;
	}

	.new-sign-module .head {
		height: 60px;
	}

	.new-sign-module .head .title {
		height: 60px;
		line-height: 60px;
		font-size: 18px;
		font-weight: 600;
		display: inline-block;
	}

	.new-sign-module .new-store {
		display: inline-block;
		height: 70px;
		padding-bottom: 0px;
		padding-left: 10px;
		width: 260px;
	}

	.new-sign-module .new-store .img, .new-sign-module .head .img {
		width: 50px;
		height: 50px;
		display: inline-block;
		text-align: center;
		line-height: 50px;
	}
	.new-sign-module .head .img{
		margin-right: 14px;
	}
	.new-sign-module .new-store .img{
		border: #e8e8e8 1px solid;
	}
	.new-sign-module .new-store .content {
		width: 200px;
		display: inline-block;
		padding: 8px;
		vertical-align: middle;
		margin-left: 10px;
	}

	.new-sign-module .new-store .content .name {
		font-size: 16px;
		color: #6D6B66;
		width: 190px;
		line-height: 28px;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		word-break: keep-all;
	}
	/*.new-sign-module .new-store .content .name:hover a,.sale-module .content .name:hover a{*/
		/*color: #d32526;*/
		/*width: 100%;*/
		/*display: inline-block;*/
		/*overflow: visible;*/
	/*}*/
	.new-sign-module .new-store .content .subject {
		font-size: 14px;
		color: #777570;
		line-height: 28px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		word-break: keep-all;
	}
	.new-sign-module .sign {
		height: 80px;
		box-shadow: 0px -5px 20px 0px #E3E1DE;
		margin-left: -20px;
		padding-left: 20px;
		padding-top: 5px;
	}

	.new-sign-module .count {
		font-size: 16px;
		padding: 5px;
	}

	.new-sign-module .count span {
		color: #328CFE;
	}

	.sign button {
		background-color: #3D76C6;
		color: white;
		font-size: 14px;
		font-weight: 600;
		border-radius: 4px;
		height: 30px;
		width: 160px;
		border: #3D76C6;
	}
	.sign button:hover{
		transform: scale(1.05);
		background: #5078cb;
	}
	.sign div.img, .sign div.content {
		display: inline-block;
	}

	.sign div.img img {
		margin-bottom: 25px;
	}

	.sign div.content {
		font-size: 0px;
		padding-left: 3px;
		height: 70px;
	}

	.new-sign-module ul {
		font-size: 0px;
	}
</style>
<div id="new-sign-fragment">
	<div class="new-sign-module">
		<div class="head">
			<div class="img">
				<img src="static/img/store/home/new.png" />
			</div>
			<div class="title">新入驻的商家</div>
		</div>
		<ul class="list-unstyled list-inline" style="height: 210px;">
			<li ng-repeat="store in newStores" class="new-store">
				<div class="img">
					<img ng-src="{{store.logoUrl || 'static/img/all/default.png'}}" style="max-width: 100%;max-height: 100%;" />
				</div>
				<div class="content">
					<div class="name"><a target="_blank" ng-href="store/{{store.uuid}}#/home" ng-bind="store.storeName" title="{{store.storeName}}"></a></div>
					<div class="subject" style="display: none;">
						主营：<span ng-bind="store.subjectCategory"></span>
					</div>
					<div class="subject">
						商家简介：<span ng-bind="store.description || '暂无'"></span>
					</div>
				</div>
			</li>
		</ul>
		<div class="sign">
			<div class="img">
				<img src="static/img/store/home/shop.png"/>
			</div>
			<div class="content">
				<div class="count">
					已入驻商家<span>{{storeCount || 0}}</span>家
				</div>
				<div>
					<a ng-href="vendor#/store-apply"><button>立即入驻</button></a>
				</div>
			</div>
		</div>
	</div>
</div>
