<style>
	.sale-module {
		width: 240px;
		height: 360px;
		border-left: 1px solid #D6D3CE;
		border-bottom: 1px solid #D6D3CE;
		border-top: 1px solid #D6D3CE;
	}

	.sale-module .title {
		height: 60px;
		line-height: 60px;
		font-size: 18px;
		font-weight: 600;
	}

	.sale-module img {
		float: left;
	}

	.sale-module ul {
		font-size: 0px;
	}

	.sale-module .rank {
		display: inline-block;
		height: 60px;
		padding-bottom: 0px;
		padding-top: 18px;
		padding-left: 10px;
		width: 60px;
	}

	.sale-module .content {
		width: 170px;
		display: inline-block;
		padding: 5px;
		vertical-align: bottom;
		line-height: 20px;
	}
	.sale-module li:nth-child(1) .content  .grade span,.sale-module li:nth-child(2) .content  .grade span,.sale-module li:nth-child(3) .content  .grade span{
		color: #f00;
	}
	.sale-module .content .name {
		font-size: 16px;
		width: 150px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		color: #6D6B66;
	}

	.sale-module .content .grade {
		font-size: 14px;
		color: #777570;
	}

	.sale-module > ul > li {
		height: 55px;
	}
	.sale-module .title span{
		font-size: 18px;
		font-weight: bold;
	}
	#saleoutstanding-fragement .list-unstyled{
		position: relative;
		top: -12px;
	}
</style>
<div id="saleoutstanding-fragement">
	<div class="sale-module">
		<div class="title">
			<img src="static/img/store/home/hot.png" />
			<span>销售排行榜</span>
		</div>
		<ul class="list-unstyled list-inline">
			<li ng-repeat="store in topSalesStores">
				<div class="rank" ng-switch="$index">
					<img ng-switch-when="0" src="static/img/store/home/first.png" width="40" height="33" />
					<img ng-switch-when="1" src="static/img/store/home/second.png" width="40" height="33" />
					<img ng-switch-when="2" src="static/img/store/home/third.png" width="40" height="33" />
				</div>
				<div class="content">
					<div class="name"><a target="_blank" ng-href="store/{{store.uuid}}#/home" ng-bind="store.storeName" title="{{store.storeName}}">优软测试二</a></div>
					<div class="grade"> 交易量： <span ng-bind="store.orderCount">118</span></div>
				</div>
			</li>
		</ul>
	</div>
</div>
