<style>
	.modal-body label{
		margin-left: -15px;
		font-size: 15px;
	}
</style>
<div class="modal-header">
	<h3 class="modal-title">
		新增审核人邮箱
	</h3>
</div>
<div class="modal-body form-group">
	<form name="myform">
			<div  class="row form-group">
				<label class="col-md-4 control-label">审核人姓名:</label>
				<div class="col-md-8">
					<input type="text" class="form-control" ng-model="userName"
						ng-length="11" required="required">
				</div>
			</div>
			<div class="row form-group">
				<label class="col-md-4 control-label" >审核人邮箱:</label>
				<div class="col-md-8">
					<input type="email" class="form-control" ng-model="userEmail"
						ng-length="11" required="required">
				</div>
			</div>
	</form>
</div>
<div class="modal-footer">
	<center>
		<button class="btn btn-primary"
			ng-click="saveMailInfo(userName, userEmail)" ng-disabled="myform.$invalid">确定</button>
		<button class="btn btn-danger" ng-click="cancel()">取消</button>
	</center>
</div>