<style type="text/css">
	.margin15 {
		margin-left: 15px;
		margin-right: 15px;
		font-size: 15px;
		font-weight: 500;
		width: 16%;
	}

	h3.modal-title {
		font-size: 17px;
		line-height: 1;
	}

	.auto-br {
		word-break: break-all;
		word-wrap: break-word;
	}

	#body {
		padding-left: 10px;
		padding-right: 10px;
		font-size: 15px;
	}

	div.title {
		background-color: #F3F3F3;
	}

	#body . {
		margin-bottom: 10px;
	}

	.close {
		font-size: 22px;
	}
	[class^="span"] {
		width: auto;
	}

	.padding-bottom-10 {
		padding-bottom: 10px;
	}

	.row-left {
		width: 160px;
		display: inline-block;
	}

	.row-right {
		width: 310px;
		display: inline;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: eclipsis;
		padding-left: 10px;
	}
</style>
<div class="modal-header title">
	<button type="button" class="close" ng-click="dismiss()"><span >×</span></button>
	<h3 class="modal-title">原因</h3>
</div>
<form class="form-horizontal " name="myForm" novalidate>
	<div class="modal-body" id="body">
		<div class="form-group">
			<div class="col-sm-12">
				<textarea class="form-control" id="reason" title="reason" rows="10" ng-model="reason"></textarea>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-6">
				<input class="btn btn-primary" type="button" value="确定" ng-click="saveReason()" style="float: right;"/>
			</div>
			<div class="col-sm-6">
				<input class="btn btn-default" type="button" value="取消" ng-click="dismiss()"/>
			</div>
		</div>
	</div>
</form>
