<style type="text/css">
.margin15 {
	margin-left: 15px; 
	margin-right: 15px;
	font-size: 15px;
	font-weight: 500;
	width: 16%;
}

h3.modal-title {
	font-size: 17px;
	line-height: 1;
}

.auto-br {
	word-break: break-all;
	word-wrap: break-word;
}

#body {
	padding-left: 10px;
	padding-right: 10px;
	font-size: 15px;
}

div.title {
	background-color: #F3F3F3;
}

#body . {
	margin-bottom: 10px;
}

.close {
	font-size: 22px;
}
[class^="span"] {
	width: auto;
}

.padding-bottom-10 {
	padding-bottom: 10px;
}

.row-left {
	width: 160px;
	display: inline-block;
}

.row-right {
	width: 310px;
	display: inline;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: eclipsis;
	padding-left: 10px;
}
</style>
<div class="modal-header title">
	<button type="button" class="close" ng-click="dismiss()"><span >×</span></button>
	<h3 class="modal-title">发票详细信息</h3>
</div>
<form class="form-horizontal " name="myForm" novalidate>
	<div class="modal-body" id="body">
			<div class="padding-bottom-10">
				<div class="row-left text-right">开票抬头:</div>
				<div class="row-right" ng-bind="bill.head"></div>
			</div>
			<div class="padding-bottom-10">
				<div class="row-left text-right">发票类型:</div>
				<div class="row-right" ng-bind="bill.kind==1206 ? '增值税（普通）发票': '增值税（专用）发票'"></div>
			</div>
			<div class="padding-bottom-10">
		    	<div class="row-left text-right">收票人:</div>
		    	<div class="row-right" ng-bind="bill.name"></div>
		  	</div>
		  	<div class="padding-bottom-10">
		  		<div class="row-left text-right">收票人电话:</div>
		  		<div class="row-right" ng-bind="bill.telephone"></div>
		  	</div>
		  	<div class="padding-bottom-10">
		  		<div class="row-left text-right">收票人地址:</div>
		  		<div class="row-right auto-br" title="{{address}}" ng-init="address= bill.area+ bill.detailAddress">
		  			<span ng-bind="bill.area"></span>
		  			<span ng-bind="bill.detailAddress"></span>
		  		</div>
		  	</div>
		  	<div class="padding-bottom-10" ng-show="bill.companyAddress">
		  		<div class="row-left text-right">企业地址:</div>
		  		<div class="row-right" ng-bind="bill.companyAddress"></div>
		  	</div>
		  	<div class="padding-bottom-10" ng-show="bill.companyTaxNumber">
		  		<div class="row-left text-right">税务登记号:</div>
		  		<div class="row-right" ng-bind="bill.companyTaxNumber"></div>
		  	</div>
		  	<div class="padding-bottom-10" ng-show="bill.companyPhone">
		  		<div class="row-left text-right">企业电话:</div>
		  		<div class="row-right" ng-bind="bill.companyPhone"></div>
		  	</div>
		  	<div class="padding-bottom-10" ng-show="bill.bankName">
		  		<div class="row-left text-right">开户银行:</div>
		  		<div class="row-right" ng-bind="bill.bankName"></div>
		  	</div>
		  	<div class="padding-bottom-10" ng-show="bill.bankAccount">
		  		<div class="row-left text-right">开户银行账户:</div>
		  		<div class="row-right" ng-bind="bill.bankAccount"></div>
		  	</div>
		  	<div class="padding-bottom-10" ng-show="bill.attachUrl">
		  		<div class="row-left text-right">发票资料:</div>
		  		<div class="row-right"><a href="{{bill.attachUrl}}" target="_blank">点击查看</a></div>
		  	</div>
	</div>
</form>