<style type="text/css">
	body,button,input{
		font-family: "Microsoft Yahei", "微软雅黑";
	}
.text-inverse {
	color: #f40 !important;
}
.text-success {
	color: green !important;
}
.checkboxs select {
	width: 110px;
}
.control-labels{
	float: left;
    width: 105px;
    padding-top: 5px;
    text-align: right;
}
.label-controls{
	margin-left: 125px;
}
.modal-header h3{
	font-size: 16px;
}
.modal-body .row .col-md-2 {
	font-size: 14px;
	width: 97px;
	font-weight: normal;
}
.modal-body .row {
	line-height: 34px;
	margin-bottom: 10px;
}
.modal-body .row .form-control {
  height: 34px;
}
.btn-ensure{
	width: 60px;height: 30px;
	padding: 0;
}
</style>
<div class="modal-header" data-original-title>
	<h3 class="modal-title" ng-if="!eidt">新增账户</h3>
	<h3 class="modal-title" ng-if="eidt">编辑账户</h3>
</div>
<div class="modal-body">
	<form class="form-horizontal" name="myForm"  role="form" ng-submit="confirm()" novalidate>
		<fieldset>
			<div class="row">
				<label class="col-md-2"><strong class="text-inverse">* </strong>开户名称</label>
				<div class="col-md-7">
					<input ng-required="true" ng-model="creditCard.accountname" type="text" class="form-control" name="name"
						   placeholder="请输入开户人姓名">
				</div>
				<div class="col-md-3">
					<span ng-show="myForm.name.$touched&&myForm.name.$invalid" class="text-inverse help-inline">输入开户人姓名</span>
					<span ng-show="!myForm.name.$invalid" class="text-success help-inline">正确</span>
				</div>
			</div>
			<div class="row">
				<label class="col-md-2"><strong class="text-inverse">* </strong>开户银行</label>
				<div class="col-md-7">
					<input ng-required="true" ng-model="creditCard.bankname" type="text" class="form-control" name="bank"
						   placeholder="输入开户银行">
				</div>
				<div class="col-md-3">
					<span ng-show="myForm.bank.$touched&&myForm.bank.$invalid" class="text-inverse help-inline">输入开户银行</span>
					<span ng-show="myForm.bank.$valid" class="text-success help-inline">正确</span>
				</div>
			</div>
			<div class="row">
				<label class="col-md-2"><strong class="text-inverse">* </strong>开户支行</label>
				<div class="col-md-7">
					<input ng-required="true" ng-model="creditCard.branchname" type="text" class="form-control" name="branch"
						   placeholder="输入开户银行">
				</div>
				<div class="col-md-3">
					<span ng-show="myForm.bank.$touched&&myForm.branch.$invalid" class="text-inverse help-inline">输入开户银行</span>
					<span ng-show="myForm.bank.$valid" class="text-success help-inline">正确</span>
				</div>
			</div>
			<div class="row">
				<label class="col-md-2"><strong class="text-inverse">* </strong>银行账号</label>
				<div class="col-md-7">
					<input ng-required="true" ng-model="creditCard.number" ng-pattern="/^[0-9]*$/"
						   type="text" name="account" placeholder="请输入银行账号" class="form-control">
				</div>
				<div class="col-md-3">
					<span ng-show="(myForm.account.$error.pattern||myForm.account.$error.required)&&(myForm.account.$dirty||myForm.account.$touched)" class="text-inverse help-inline">银行账号不正确</span>
					<span ng-show="myForm.account.$valid" class="text-success help-inline">正确</span>
				</div>
			</div>
		</fieldset>
	</form>
</div>
<div class="modal-footer">
	<span class="pull-left text-inverse"><i class="icon-warning-sign"></i>&nbsp;需要将所有带*必填项填完才能保存</span>
	<button ng-disabled="myForm.$invalid" class="btn btn-success btn-ensure" ng-click="confirm()" type="button">保存</button>
	<button class="btn btn-primary btn-ensure" ng-click="cancel()" type="button">取消</button>
</div>
</div>