<style>
.head {
	border: 1px solid #ddd;
	margin-top: 10px;
	padding-left: 15px;	
	font-size:15px;	
}

.modal-body {
	heigth: 400px;
}
.modal-body .row {
	line-height: 30px; 
}

.title {
	border: 1px solid #ddd;
	margin: 5px 25px;
	line-height: 25px;
}

.title .span4 {
	border-right: 1px solid #ddd;
}

.row {
	margin: 5px 25px;
}

</style>

<div>
	<div class="modal-header" style="background-color: #f2f2f2;">
		<span class="pull-right" ng-click="cancel()"><i class="fa fa-close fa-lg"></i></span>
		<h5>
			物流进度跟踪
		</h5>
	</div>
	<div class="modal-body row">
		<div class="col-md-12 row-fluid">
			<div class="row title text-center">
				<div class="col-md-5">处理时间</div>
				<div class="col-md-7">进度监控记录</div>
			</div>
			<div class="row" ng-model="Info" ng-repeat="details in Info">
				<div class="col-md-5">
					<span ng-bind="details.AcceptTime"></span>
				</div>
				<div class="col-md-7">
					<span ng-bind="details.AcceptStation"></span>
				</div>
			</div>
		</div>
	</div>
</div>