<div class="modal-header">
	<h3 class="modal-title">请选择参数对应关系</h3>
</div>
<div class="modal-body f14 row">
	<div class="box-header well" data-original-title>
		<i class="icon-user"></i> 基本信息
	</div>
	<div class="box-content">
		<div class="fullscreen" style="padding: 10px;">
			<div class="row">
				<div class="form-group row">
					<label class="col-sm-2 text-right">来源:</label>
					<div class="col-sm-4">
						<span ng-bind="kindContrast.resource"></span>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 text-right">商城品牌:</label>
					<div class="col-sm-4">
						<span ng-bind="kindContrast.b2cBrand.nameCn"></span>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 text-right">目标类目:</label>
					<div class="col-sm-4">
						<span ng-bind="kindContrast.kindName"></span>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 text-right">商城类目:</label>
					<div class="col-sm-4">
						<span ng-bind="kindContrast.b2cKind.nameCn"></span>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 text-right">来源网址:</label>
					<div class="col-sm-4">
						<a href="{{kindContrast.url}}" ng-bind="kindContrast.url" target="blank"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="box-header well" data-original-title>
		<i class="icon-user"></i> 参数对照
	</div>
	<div class="box-content">
		<div class="fullscreen" style="padding: 10px;">
			<div class="form-group">
				<div class="form-group property-group row" ng-repeat="p in kindContrast.properties | orderBy : 'detno'">
					<div class="col-sm-6">
						<label class="col-sm-7">商城标准参数：</label>
						<div class="col-sm-5">
							<span ng-bind="p.property.labelCn"></span>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group row">
							<span class="col-sm-6 text-right">目标参数：</span>
							<div class="col-sm-6">
								<span ng-bind="p.name"></span>
							</div>
						</div>
						<div class="form-group row">
							<span class="col-sm-6 text-right">对应商城单位：</span>
							<div class="col-sm-6">
								<span ng-bind="p.unit"></span>
							</div>
						</div>
						<div class="form-group row">
							<span class="col-sm-6 text-right">备注：</span>
							<div class="col-sm-6">
								<span ng-bind="p.remark"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-default" ng-click="cancel()">取消</button>
</div>
