<div>
	<!-- 产品审批详情Start -->
	<div class="box">
		<div class="box-header well" data-original-title>
			<i class="fa fa-user"></i> 标准器件批量建档审批详情
		</div>
		<div class="box-content ">
			<div>
				<div class="row form-group">
					<div class="col-xs-2">
						<h4>基本信息</h4>
					</div>
					<div class="col-xs-offset-7 col-xs-3 text-right" ng-if="submit.auditStatus==311">
						<button class="btn btn-default" data-toggle="dropdown">审核申请</button>
						<div class="dropdown-menu" style="padding: 15px;">
							<textarea ng-model="submit.remark" cols="30" rows="10"></textarea>
							<p></p>
							<button class="btn btn-primary btn-block" type="button" ng-click="audit()">审核通过</button>
							<button class="btn btn-danger btn-block" type="button" ng-click="unAduidt()">审核不通过</button>
						</div>
					</div>
				</div>
				<div class="row form-group">
					<span class="col-xs-2" >申请人：</span>
					<span class="col-xs-8" ng-bind="submit.submiter.userName"></span>
				</div>
				<div class="row form-group">
					<span class="col-xs-2">申请时间：</span>
					<span class="col-xs-8" ng-bind="submit.createDate| date:'yyyy-MM-dd HH:mm:ss'"></span>
				</div>
				<div class="row form-group">
					<span class="col-xs-2">审批状态：</span>
					<span class="col-xs-8" ng-bind="submit.auditStatus | status"></span>
				</div>
				<div class="row form-group" ng-show="submit.auditStatus != 311">
					<span class="col-xs-2">审核意见：</span>
					<span class="col-xs-8" ng-bind="submit.remark"></span>
				</div>
				<div class="row form-group">
					<span class="col-xs-2">任务状态：</span>
					<span class="col-xs-8" ng-show="submit.crawlStatus==350">未完成</span>
					<span class="col-xs-8" ng-show="submit.crawlStatus==312">未处理</span>
				</div>
				<div class="row form-group">
					<span class="col-xs-2">申请总数量：</span>
					<span class="col-xs-8" ng-bind="submit.details.length"></span>
				</div>
				<div class="row form-group">
					<span class="col-xs-2">发起任务数量：</span>
					<span class="col-xs-8" ng-bind="submit.taskCount"></span>
				</div>
				<div class="row form-group">
					<span class="col-xs-2">已完成数量：</span>
					<span class="col-xs-8" ng-bind="submit.crawlCount"></span>
				</div>
			</div>
		
			<div class="part">
				<div class="row form-group">
					<div class="col-sm-2">
						<h4>申请详情</h4>
					</div>
				</div>
				<table class="table table-striped table-bordered">
					<thead class="t-head">
						<tr role="row">
							<th width="50px">序号</th>
							<th width="100px">原厂型号</th>
							<th width="100px">品牌</th>
							<th width="100px">一级类目</th>
							<th width="100px">二级类目</th>
							<th width="200px">三级类目</th>
							<th width="auto">官网网址</th>
							<th width="100px">状态</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="detail in submit.details">
							<td class="text-center">
								<span ng-bind="$index + 1"></span>
							</td>
							<td>
								<span ng-bind="detail.code"></span>
							</td>
							<td>
								<span ng-bind="detail.brName"></span>
							</td>
							<td>
								<span ng-bind="detail.gradeOneKiName"></span>
							</td>
							<td>
								<span ng-bind="detail.gradeTwoKiName"></span>
							</td>
							<td>
								<span ng-bind="detail.gradeThreeKiName"></span>
							</td>
							<td>
								<a href="{{detail.url}}"><span ng-bind="detail.url"></span></a>
							</td>
							<td>
								<span ng-show="detail.crawlStatus==312">未审核</span>
								<span ng-show="detail.crawlStatus==810">待处理</span>
								<span ng-show="detail.crawlStatus==350">任务中</span>
								<span ng-show="detail.crawlStatus==520">已完成</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>