<div class="box">
	<div class="box-header well" data-original-title>
		<i class="icon-user"></i> 品牌审批
	</div>
	<div class="box-content">
		<!-- ng-tableStart -->
		<div class="fullscreen" style="padding: 10px;">
			<div class="row">
				<div class="col-sm-1">
					共<span class="badge">{{brandTableParams.total()}} </span>条
				</div>
				<div class="col-sm-5">
					<div class="btn-group" role="group" aria-label="...">
						<button type="button" class="btn btn-default" ng-class="{'btn-primary':active=='all'}" ng-click="setActive('all')">全部</button>
						<button type="button" class="btn btn-default" ng-class="{'btn-primary':active=='unAudited'}" ng-click="setActive('unAudited')">待审核</button>
						<button type="button" class="btn btn-default" ng-class="{'btn-primary':active=='allow'}" ng-click="setActive('allow')">已通过</button>
						<button type="button" class="btn btn-default" ng-class="{'btn-primary':active=='notAllow'}" ng-click="setActive('notAllow')">未通过</button>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="input-group" style="float: right">
						<input type="search" class="form-control ng-pristine ng-valid ng-touched" ng-model="keyword" 
							ng-search="onSearch()" placeholder="按品牌名/提交人搜索">
						<div class="input-group-btn">
							<button ng-click="onSearch()" class="btn btn-primary" type="button">搜索</button>
						</div>
					</div>
				</div>
			</div>
			<table ng-table="brandTableParams" class="table table-bordered table-striped" style="margin-top: 10px;">
				<thead>
					<tr>
						<th width="30"></th>
						<th width="150">品牌名</th>
						<th width="auto">应用领域</th>
						<th width="80">提交人</th>
						<th width="150">提交时间</th>
						<th width="80">审核状态</th>
						<th width="80">操作</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="brand in $data">
						<td class="text-center">{{($index + 1)}}</td>
						<td width="150" style="word-break: break-all">{{brand.nameEn}}
							<span class="label label-success f12" ng-if="brand.isUpdate == 0">新增</span>
							<span class="label label-warning f12" ng-if="brand.isUpdate == 1">更新</span>
						</td>
						<td>{{brand.application}}</td>
						<td>{{brand.userModify.userName}}</td>
						<td>{{brand.lastModifyDate | date: "yyyy-MM-dd HH:mm"}}</td>
						<td>{{brand.status | statusAndTypeFilter}}</td>
						<td>
							<a ng-href="#/audit/brand/{{brand.id}}" target="_blank">
								<button type="button" class="btn btn-default btn-sm"
								>查 看</button>
							</a>
							
						</td>
					</tr>
					<tr ng-if="$data.length == 0">
						<td colspan="10" class="text-center" style="line-height: 40px; font-size: 20px;"><i class="fa fa-smile-o fa-lg"></i> 当前没有对应的品牌资料</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- ng-tableEnd -->
	</div>
</div><!--/span-->