<style>
	.box-header {
		height: 35px;
		line-height: 26px;
		font-size: 14px;
	}
	.audit-fail {
		display: block !important;
		position: fixed;
		background-color: white;
		opacity: 1;
		width: 300px;
		height: 155px;
		top: 250px;
		left: 50%;
		margin-left: -150px;
		border: 1px solid #d9d5ce;
		z-index: 10;
		padding-bottom: 10px;
	}
	.audit-fail .title{
		line-height: 31px;
		height: 31px;
		font-size: 14px;
		background-color: #3a76e4;
		color: white;
		text-align: left;
		padding-left: 15px;
	}
	.audit-fail  .content{
		margin: 10px 0;
	}
	.audit-fail  .btn{
		width: 90px;
		padding: 5px 10px;
		border: none;
		font-size: 14px;
		border-radius: 0;
	}
	.audit-fail  .btn-default{
		background: #D9D5CE;
		color: #333;
	}
	.audit-fail .btn-primary{
		background: #3A76E4;
		color: white;
		margin-right: 10px;
	}
	.audit-fail  .btn:hover{
		background: #5078cb;
		color: #fff;
	}
	.table-bordered>tbody>tr>td{
		vertical-align: middle;
	}
</style>
<div class="box" id="realAuthAudit">
	<div class="box-header well" data-original-title>
		<i class="icon-user"></i> 实名认证审核
	</div>
	<div class="box-content">
		<!-- ng-tableStart -->
		<div class="fullscreen" style="padding: 10px;">
			<div class="row">
				<!--
				<div class="col-sm-1">
					共<span class="badge">{{bankInfoTableParams.total()}} </span>条
				</div>
				<div class="col-sm-5">
					<div class="btn-group" role="group" aria-label="...">
						<button type="button" class="btn btn-default" ng-class="{'btn-primary':active=='tobeAudit'}" ng-click="setActive('tobeAudit')">未审核</button>
						<button type="button" class="btn btn-default" ng-class="{'btn-primary':active=='pass'}" ng-click="setActive('pass')">已通过</button>
					</div>
				</div>

				<div class="col-sm-6">
					<div class="col-sm-9 text-right">
						<div class="input-group">
							<input type="search" class="form-control ng-pristine ng-valid ng-touched" ng-model="keyword"
										 ng-search="onSearch()" placeholder="根据银行、企业名称、银行账号搜索">
							<div class="input-group-btn">
								<button ng-click="onSearch()" class="btn btn-primary" type="button">搜索</button>
							</div>
						</div>
					</div>
				</div>-->
			</div>
			<table ng-table="realAuthTableParams" class="table table-bordered table-striped" style="margin-top: 10px;">
				<thead>
				<tr>
					<th width="30">序号</th>
					<th width="100">姓名</th>
					<th width="100">身份证</th>
					<th width="100">查看文件</th>
					<th width="100">申请时间</th>
					<th width="100">状态</th>
					<th width="80" ng-if="active=='tobeAudit'">操作</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="info in $data">
					<td>{{$index + 1}}</td>
					<td ng-bind="::info.userName"></td>
					<td ng-bind="::info.userIdcode"></td>
					<td><a target="_blank" ng-href="{{info.idImgUrl}}">查看文件</a></td>
					<td ng-bind="::info.idDate | date : 'yyyy-MM-dd'"></td>
					<td ng-bind="::info.idEnable"></td>
					<td ng-if="active=='tobeAudit'" class="text-center" style="position: relative;">
						<a class="btn btn-sm btn-primary" ng-click="updateIdEnable(1,info)">审核通过</a>
						<a class="btn btn-sm btn-default" ng-click="remarks(info)">审核未通过</a>
					</td>
				</tr>
				<tr ng-if="$data.length == 0">
					<td colspan="10" class="text-center" style="line-height: 40px; font-size: 20px;"><i class="fa fa-smile-o fa-lg"></i> 没有实名认证需要审核</td>
				</tr>
				</tbody>
			</table>
		</div>
		<!-- ng-tableEnd -->
	</div>
</div>