<style type="text/css">
.border_top {
	border-top: 1px solid #f5f5f5;
}

.box-content .form-horizontal . {
	margin-left: 0px;
}
.mt-units {
	position: relative;
	cursor: pointer;
}

.mt-units:hover .mt-units-down {
	display: block;
}

.mt-units-down {
	display: none;
	position: absolute;
	top: 100%;
	left: -1px;
	border: solid 1px #aaa;
	list-style: none;
	background: #eee;
	margin-bottom: 0;
	z-index: 10;
}

.mt-units-item {
	padding: 6px 12px;
	border-bottom: solid 1px #ccc;
}

.mt-units-item:last-child {
	border-bottom: none;
}

.mt-units-item:hover {
	background: #ddd;
	color: #000;
}
</style>
<div>
	<!-- 产品审批详情Start -->
	<div class="box">
		<div class="box-header well" data-original-title>
			<i class="fa fa-user"></i> 标准器件审批详情
		</div>
		<div class="box-content ">
			<form class="form-horizontal" name="myform" novalidate>
				<!-- 填写基本信息 Start -->
				<div>
					<div class="row form-group">	
						<div class="col-sm-4">
							<h4>器件基本信息</h4>
						</div>
					</div>
					<div class="row form-group">
						<label class="col-sm-2 text-right"><col-sm-
							class="text-required">*</col-sm->原厂型号：</label>
						<div class="col-sm-3">
							<input type="text" class="form-control input-sm" name="code" ng-model="component.code" required>
						</div>
					</div>
					<div class="row form-group">
						<label class="col-sm-2 text-right"> <col-sm-
							class="text-required"></col-sm->封装：
						</label>
						<div class="col-sm-3">
							<input type="text" class="form-control input-sm" name="packaging" ng-model="component.encapsulation" autocomplete="off">
						</div>
					</div>
					<div class="row form-group">
						<label class="col-sm-2 text-right">单位：</label>
						<div class="col-sm-3">
							<input  class="form-control input-sm" ng-model="component.unit" type="text"  placeholder="常用的单位描述，如个、pcs">
						</div>
					</div>
					<div class="row form-group">
						<label class="col-sm-2 text-right">净重量：</label>
						<div class="col-sm-2">
							<div class="input-group input-group-sm">
								<input class="form-control input-sm" ng-model="component.weight" ng-pattern="/^((\d)|(\d+\.?\d+))$/" type="text">
								<div class="input-group-addon">g</div>
							</div>
						</div>
					</div>
					<div class="row form-group">
						<label class="col-sm-2 text-right">
							<span class="text-required">*</span>品牌：</label>
						<div class="col-sm-3">
							<div class="input-group input-group-sm">
								<input type="text" class="form-control input-sm" name="brandName" ng-model="component.brand.nameCn" required>
								<a ng-click="selectBrand('lg')" class="input-group-addon"><i class="fa fa-search"></i></a>
							</div>
						</div>
					</div>
					<div class="row form-group">
						<label class="col-sm-2 text-right"> 
							<span class="text-required">*</span>所属类目：
						</label>
						<div class="col-sm-3">
							<div class="input-group input-group-sm">
								<input type="text" class="form-control input-sm" name="kind" ng-model="activesString" required>
								<a ng-click="selectKind()" class="input-group-addon"><i class="fa fa-search"></i></a>
							</div>
						</div>
					</div>
					<div class="row form-group">
						<label class="col-sm-2 text-right">器件图片：</label>
						<div class="col-sm-10">
							<img class="img-thumbnail" ng-src="{{component.img}}"
								style="width: 100px; height: 100px;"
								ng-click="showImageDialog()">
						</div>
					</div>
					<div class="row form-group">
						<div class="col-sm-2 text-right">
							<col-sm->规格文档：</col-sm->
						</div>
						<div class="col-sm-8">
							<a href="{{component.attach}}" ng-bind="component.attach"></a>
						</div>
					</div>
					<div class="row form-group">	
						<div class="col-sm-4">
							<h4>申请人员信息</h4>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-sm-2 text-right">
							<col-sm->姓名：</col-sm->
						</div>
						<div class="col-sm-8">
							<col-sm- ng-bind="component.userModify.userName"></col-sm->
						</div>
					</div>
					<div class="row form-group">
						<div class="col-sm-2 text-right">
							<col-sm->联系电话：</col-sm->
						</div>
						<div class="col-sm-8">
							<col-sm- ng-bind="component.userModify.userTel"></col-sm->
						</div>
					</div>
					<!-- 产品图片插入modal End -->
					<div class="row form-group">	
						<div class="col-sm-4">
							<h4>器件参数描述</h4>
						</div>
					</div>
					<!-- 属性 Start -->
					<div class="row form-group">	
						<div class="col-sm-offset-1 col-sm-4">
							<h5>类目标准属性</h5>
						</div>
					</div>
					<div ng-repeat="property in kindProperties" class="row form-group">
						<div class="col-sm-3 text-right">
							<strong ng-bind="property.property.labelCn"></strong>：
						</div>
						<div class="col-sm-5" ng-if="!property.isChange">
							<span ng-bind="property.stringValue"></span>
						</div>
						<div class="col-sm-5" ng-if="property.isChange">
							<div property-input="property"></div>
						</div>
						<div class="col-sm-1">
							<button class="btn btn-default" ng-click="changeProperty(property)" ng-if="!property.isChange"><i class="fa fa-pencil-square-o"></i></button>
							<button class="btn btn-default" ng-click="returnProperty(property)" ng-if="property.isChange"><i class="fa fa-reply"></i></button>
						</div>
					</div>
					<div class="row form-group">	
						<div class="col-sm-offset-1 col-sm-4">
							<h5>其他属性</h5>
						</div>
					</div>
					<!-- 属性 End -->
				</div>
				<!-- 填写基本信息 End -->
			</form>
		</div>
		<div class="row border_top">
			<div class="col-sm-1"></div>
			<div class="col-sm-6">
				<h4>审批意见</h4>
				<p class="center">
					<textarea ng-disabled="component.status != 311" ng-model="component.auditOpinion" 
						class="autog" placeholder="{{component.status == 311 ? '审批意见' : '状态不可审核'}}" 
						style="height: 54px;width: 90%">
					</textarea>
				</p>
				<p ng-if="component.status == 311" class="pull-right">
					<a ng-click="ComponentSubmitvalid()" class="btn btn-large btn-primary"><i class="icon-ok icon-white"></i> 审批通过</a> 
					<a ng-click="ComponentSubmitinvalid(component.id, component.auditOpinion)" class="btn btn-large btn-danger"><i class="icon-remove icon-white"></i> 不通过</a>
				</p>
			</div>
		</div>
	</div>
</div>
	<!-- 产品审批详情End -->
</div><!--/-->

	<!-- 产品图片插入modal Start -->
	<script type="text/ng-template" id="offer/image/insert.html">
		<div class="modal-header">
			<button type="button" class="close" ng-click="close()">×</button>
			<h4 class="modal-title">插入图片</h4>
		</div>
		<div class="modal-body">
			<div>
				<div class="col-xs-7" style="padding: 20px;">
					<p class="help-block">提示：选择的图片单张大小不超过3MB，支持jpg,jpeg,gif,bmp,png</p>
					<div class="upload-container" ng-disabled="getImages().length == images.length">
						<div id="uploadify" on-success="onUploadSuccess($data)" uploadify="{buttonText:'选择图片'}"></div>
					</div>
				</div>
				<div class="col-xs-5">
					<h3>预览</h3>
					<div class="image-content">
						<img ng-src="{{image.src}}" class="img-thumbnail" style="width: 100px; height: 100px;">
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<div class="pull-right"><a ng-click="confirm()" class="btn btn-primary" ng-disabled="!image.src">确定</a></div>
		</div>
	</script>