<style type="text/css">
.padding-left-5 {
	padding: 5px 30px;
}

.dashboard-avatar-brand {
	height: 50px;
	width: 50px;
	padding: 1px;
	float: left;
	margin-left: 15px;
	margin-right: 15px;
	border: 1px solid #EBEBEB;
}

.border_top {
	border-top: 1px solid #f5f5f5;
}

.border_bottom {
	border-bottom: 1px solid #f5f5f5;
}

.margintop {
	margin-top: 2px;
}

.box-content .form-horizontal .form-group {
	margin-left: 0px;
}

.radio-inline {
	position: relative;
    display: inline-block;
    padding-left: 20px;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
}

.width100 {
	width: 100%;
}

.control-label-text {
	float: left;
    width: 140px;
    padding-top: 5px;
}
</style>
<div class="row sortable">
	<!-- 产品审批详情Start -->
	<div class="box col-sm-9 page-header">
		<div class="box-header well" data-original-title>
			<i class="fa fa-icon-user"></i> 品牌审批详情
		</div>
		<div class="box-content row">
			<form class="form-horizontal" name="form1" novalidate>
				<div class="form-group">
					<label class="col-sm-2 control-label">
						中文品牌：
					</label>
					<div class="col-sm-10">
						<input type="text" class="form-control input-sm" name="nameCn" autofocus
							ng-model="BrandSubmitData.nameCn" placeholder="输入品牌名称，例如：松下">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">
						<span class="text-required">*</span>英文品牌：
					</label>
					<div class="col-sm-10">
						<input type="text" class="form-control input-sm" name="nameEn" required autofocus
							ng-model="BrandSubmitData.nameEn" placeholder="输入品牌名称，例如：Panasonic">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label"><span
						class="text-required">*</span>官网地址：</label>
					<div class="col-sm-10">
						<input type="text" class="form-control input-sm" name="vendor" required
							ng-model="BrandSubmitData.url" placeholder="输入品牌官网地址，例如：http://panasonic.cn/" autocomplete="off">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Logo：</label>
					<div class="col-sm-10">
						<img class="img-thumbnail" ng-src="{{imageUrl}}"
							style="width: 150px; height: 90px;" ng-click="showImageDialog()">
						<span class="help-block">品牌Logo，建议图片尺寸在150*90像素左右</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label"><span
						class="text-required">*</span>简介：</label>
					<div class="col-sm-10">
						<textarea ng-model="BrandSubmitData.brief" required style="width:100%; height: 190px; float: left;border: #ccc 1px solid;"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">销售区域：</label>
					<div class="col-sm-10">
						<label class="radio-inline" ng-repeat="area in areas">
							<input type="checkbox" name="area" ng-model="area.checked" value="area" style="margin-top: 2px;">
							<span ng-bind="area.name"></span>
						</label>
						<hr>
						<div class="well well-sm">
							<div class="form-group" ng-repeat="e in extraAreas">
								<div class="span4">
									<div class="input-group">
										<input type="text" class="form-control input-sm" ng-model="e.name">
										<span class="input-group-btn">
											<button class="btn btn-default btn-sm" type="button" ng-click="removeExtraAreas($index)">删除</button>
										</span>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="span3">
									<a ng-click="addExtraAreas()"><span
										class="fa fa-plus-square fa-fw"></span>&nbsp;其他销售区域</a>
								</div>
								<div class="span8 text-muted">
									如果您的品牌销售区域不在上述范围，您可以手动添加其他销售区域</div>
							</div>
						</div>
					</div>
				</div>
			</form>
			
			<form class="form-horizontal" name="form2" novalidate>
				<div class="form-group">
					<label class="col-sm-2 control-label"><span
						class="text-required">*</span>主打产品：</label>
					<div class="col-sm-10">
						<textarea rows="3" class="width100" name="series"
							ng-model="BrandSubmitData.series" placeholder="输入主要生产产品，例如：车载继电器" required></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">应用领域：</label>
					<div class="col-sm-10">
						<div>
							<label class="radio-inline" ng-repeat="app in applications"> 
								<input type="checkbox" name="application" ng-model="app.checked"
									value="app" style="margin-top: 1px;"> <span ng-bind="app.name"></span>
							</label> 
						</div>
						<hr>
						<div class="well well-sm">
							<div class="form-group" ng-repeat="e in extraApp">
								<div class="span4">
									<div class="input-group">
										<input type="text" class="form-control input-sm" ng-model="e.name">
										<span class="input-group-btn">
											<button class="btn btn-default btn-sm" type="button" ng-click="removeExtraApp($index)">删除</button>
										</span>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-2">
									<a ng-click="addExtraApp()"><span
										class="fa fa-plus-square fa-fw"></span>&nbsp;其他领域</a>
								</div>
								<div class="col-sm-10 text-muted">
									如果您的品牌应用领域不在上述范围，您可以手动添加其他领域</div>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">申请人：</label>
					<div class="col-sm-10 control-label-text">
						<span ng-bind="BrandSubmitData.userModify.userName"></span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">申请人联系电话：</label>
					<div class="col-sm-10 control-label-text">
						<span ng-bind="BrandSubmitData.userModify.userTel"></span>
					</div>
				</div>
			</form>
			<div class="row-fluid-fluid border_top">
				<div class="span6"></div>
				<div class="span6">
					<h4>审批意见</h4>
					<p class="center">
						<textarea ng-disabled="BrandSubmitData.status != 311" ng-model="BrandSubmitData.auditOpinion" class="autogrow-fluid" placeholder="审批意见" style="height: 54px;width: 90%"></textarea>
					</p>
					<p ng-if="BrandSubmitData.status == 311" class="pull-right">
						<button ng-click="BrandSubmitvalid()" class="btn btn-large btn-primary" ng-disabled="form1.$invalid || form2.$invalid"><i class="icon-ok icon-white"></i> 审批通过</button> 
						<button ng-click="BrandSubmitinvalid(BrandSubmitData.id, BrandSubmitData.auditOpinion)" class="btn btn-large btn-danger"><i class="icon-remove icon-white"></i> 审批失败</button>
					</p>
				</div>
			</div>
			
		</div>
	</div>
	<!-- 产品审批详情End -->
	
	<!-- 历史版本列表 Start-->
	<div class="box col-sm-3">
		<div class="box-header well" data-original-title="">
			版本列表
		</div>
		<div class="box-content">
			<ol>
				<li ng-repeat="num in arr"><a target="_blank" ng-href="product/brand/{{BrandSubmitData.uuid}}/{{num}}">版本 {{num}}</a></li>
			</ol>           
		</div>
		<div ng-hide="BrandSubmitData.uuid" class="box-content">
			暂无版本信息         
		</div>
	</div>
	<!-- 历史版本列表 End-->
	
</div><!--/row-fluid-->