<div class="box">
	<div class="box-header well" data-original-title>
		<i class="icon-user"></i> 器件批量建档申请列表
	</div>
	<div class="box-content">
		<!-- ng-tableStart -->
		<div class="fullscreen" style="padding: 10px;">
			<div class="row">
				<div class="col-sm-1">
					共<span class="badge">{{componentTableParams.total()}} </span>条
				</div>
				<div class="col-sm-5">
					<div class="btn-group" role="group" aria-label="...">
						<button type="button" class="btn btn-default" ng-class="{'btn-primary':active=='tobe_handle'}" ng-click="setActive('tobe_handle')">待处理</button>
						<button type="button" class="btn btn-default" ng-class="{'btn-primary':active=='pending'}" ng-click="setActive('pending')">任务中</button>
						<button type="button" class="btn btn-default" ng-class="{'btn-primary':active=='complete'}" ng-click="setActive('complete')">已完成</button>
						<button type="button" class="btn btn-default" ng-class="{'btn-primary':active=='complete'}" ng-click="setActive('failed')">失败</button>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="input-group" style="float: right">
						<input type="search" class="form-control ng-pristine ng-valid ng-touched" ng-model="keyword" 
							ng-search="onSearch()" placeholder="按申请单号搜索">
						<div class="input-group-btn">
							<button ng-click="onSearch()" class="btn btn-primary" type="button">搜索</button>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group text-right">
				<p></p>	
				<button class="btn btn-success btn-sm" ng-click="saveTask()">发起任务</button>
			</div>
			<table  class="table table-bordered table-striped" style="margin-top: 10px;">
				<thead>
					<tr>
						<th width="30 text-center">
							<input type="checkbox" ng-click="selectAll()" ng-model="isSelectAll"/>
						</th>
						<th width="30">序号</th>
						<th width="150">原厂型号</th>
						<th width="100">品牌</th>
						<th width="100">一级类目</th>
						<th width="100">二级类目</th>
						<th width="150">三级类目</th>
						<th width="100">参考网址</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="component in submits">
						<td class="text-center">
							<input type="checkbox" ng-click="selectSubmit(component)" ng-model="component.select"/>
						</td>
						<td class="text-center">
							{{($index + 1)}}
						</td>
						<td ng-bind="component.code"></td>
						<td ng-bind="component.brName"></td>
						<td ng-bind="component.gradeOneKiName"></td>
						<td ng-bind="component.gradeTwoKiName"></td>
						<td ng-bind="component.gradeTKiName"></td>
						<td>
							<a href="{{component.url}}" target="_blank"><span ng-bind="component.url"></span></a>
						</td>
					</tr>
					<tr ng-if="submits.length == 0">
						<td colspan="10" class="text-center" style="line-height: 40px; font-size: 20px;"><i class="fa fa-smile-o fa-lg"></i> 当前没有对应的品牌资料</td>
					</tr>
				</tbody>
			</table>
			<a ng-click="getMore()" ng-show="componentTableParams.total()>submits.length">加载更多</a>
		</div>
		<!-- ng-tableEnd -->
	</div>
</div><!--/span-->