<div class="row-fluid sortable">		
	<div class="box span12">
		<div class="box-header well" data-original-title>
			<h2><i class="icon-user"></i> <a ng-click="load('disable')">禁用品牌 </a> / <a ng-click="load('disabled')">已禁用品牌</a></h2>
		</div>
		<div class="box-content">
			<!-- ng-tableStart -->
			<div class="fullscreen" style="padding: 10px;overflow-y:auto;">
				<table ng-table="brandsTableParams" class="table table-condensed table-bordered table-striped">
			        <tr ng-repeat="brand in $data">
			          <td data-title="'品牌名'" filter="{nameCn: 'text'}">{{brand.nameCn}}</td>
			          <td data-title="'厂商'" filter="{nameCn: 'text'}">{{brand.nameCn}}</td>
			          <td data-title="'操作'"> <button ng-click="disable(brand)" class="btn btn-danger btn-sm" ng-if="!isDisable"><i class="fa fa-check"></i> 禁用</button> <button ng-click="" class="btn btn-danger btn-sm" ng-if="isDisable")><i class="fa fa-check"></i> 解除禁用</button></td>
			        </tr>
		        </table>
			</div>
			<!-- ng-tableEnd -->
		</div>
	</div><!--/span-->

</div><!--/row-->