<style>
.navbar {
	min-height: 40px;
}

.navbar.navbar-fixed-top {
	padding: 0 15px;
}

.navbar-brand {
	padding: 10px 15px;
	height: 40px;
	font-weight: 600;
	font-size: 24px;
	font-family: '楷体';
}

.navbar-btn.btn-sm {
	margin-top: 6px;
	margin-bottom: 6px;
}
</style>

<!-- topbar begin -->
<div class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="collapse navbar-collapse">
			<div class="navbar-header">
				<a class="navbar-brand" href="#/index">优软商城 后台管理系统</a>
			</div>
			<ul class="nav navbar-nav navbar-right" ng-controller="AuthenticationCtrl">
				<li class="dropdown">
					<button href="" class="btn btn-default navbar-btn btn-sm">
						<i class="fa fa-user"></i>
						<span class="hidden-phone" ng-bind="userInfo.userName"></span>
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">账号管理</a></li>
						<li class="divider"></li>
						<li><a ng-click="logout()">退出</a></li>
					</ul>
				</li>
			</ul>
			<form class="navbar-form navbar-right" role="search">
				<div class="form-group form-group-sm">
					<input type="text" class="form-control input-sm" placeholder="请输入关键词进行搜索">
				</div>
			</form>
		</div>
	</div>
</div>
<!-- topbar ends -->