<!-- 采购销售统计 begin -->
<div class="row">
	<div class="col-md-12">
		<div class="box">
			<div class="box-header well" data-original-title>
				<i class="fa fa-rocket"></i> 快速入口
			</div>
			<div class="box-content">
				<ul class="dashboard-list">
					<li><a href="#/store/application"> <span
							class="green">1</span> 店铺审核
					</a></li>
					<li><a href="#/audit/crawlTask"> <span
							class="red">2</span> 器件爬取任务
					</a></li>
					<li><a href="#/brandmaintenance"> <span
							class="blue">3</span> 品牌维护
					</a></li>
					<li><a href="#/help/publish"> <span
							class="yellow">4</span> 帮助中心-发布
					</a></li>
					<li><a href="#/search/see"> <span
							class="green">5</span> 搜索预览
					</a></li>
					<li><a href="#/logUsage"> <span
							class="red">6</span> 用户操作日志
					</a></li>
					<li><a href="#/trade/order"> <span
							class="blue">7</span> 买家订单管理
					</a></li>
					<li><a href="#/product/sailingGoods"> <span
							class="yellow">8</span> 在售中的产品
					</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- 采购销售统计 end -->