<style type="text/css">
.rright {
	padding-right: 0px;
}

div[role="button"] > a {
	color: white;
	text-decoration: none;
}

div[role="button"] {
	width: 80px;
	height: 20px;
	line-height: 20px;
	background: #317EBC;
	padding-left: 10px;
	padding-top: 3px;
}
div[role="button"]:HOVER {
	cursor: pointer;
}

.btn-group-left {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.btn-group-rigth {
	margin-left: -4px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
</style>
<div class="row-fluid sortable">		
	<div class="box span12" id="platformRepository">
		<div class="box-header well" data-original-title>
			<i class="icon-user"></i> 平台仓库地址信息
		</div>
		<div class="box-content">
			<!-- ng-tableStart -->
			<div class="fullscreen" style="padding: 10px;">
				<div class="row">
					<div class="col-sm-1">
						共<span class="badge">{{platformAddrTableParams.total()}} </span>条
					</div>
					<div class="col-sm-9">
						<button type="button" class="btn btn-default btn-group-left" ng-class="{'btn-primary':active=='ship'}" ng-click="setActive('ship')">收货地址</button>
						<button type="button" class="btn btn-default btn-group-rigth" ng-class="{'btn-primary':active=='send'}" ng-click="setActive('send')">发货地址</button>
					</div>
					<div class="col-sm-2">
						<div class="label label-primary" role="button">
							<a ng-click="addAdress()" class="text-default"> <i class="fa fa-plus"></i>新增地址</a>
						</div>
					</div>
				</div>
				<table ng-table="platformAddrTableParams" class="table  table-bordered table-striped" style="margin-top: 10px;">
					<thead  class="text-center">
					    <tr>
					    	<th width="100">地址类型</th>
							<th width="100px">联系人</th>
							<th width="auto">地址信息</th>
							<th width="100">联系电话</th>
							<th width="150px">操作</th>	    	
					    </tr>
				  	</thead>
				    <tbody>
					    <tr ng-repeat="addr in $data">
					    	<td>
					    		<span ng-show="addr.num==1">
					    			<span style="font-weight: 600;" ng-bind="addr.type==1001 ? '默认收货地址' : '默认发货地址'"></span>
					    		</span>
					    		<span ng-show="addr.num!=1">
					    			<span ng-bind="addr.type==1001 ? '收货地址' : '发货地址'"></span>
					    		</span>
					    	</td>
					        <td ng-bind="addr.name"></td>
					        <td>
					        	<span ng-bind="::addr.area"></span>
					        	&nbsp;<span ng-bind="::addr.detailAddress"></span>
					        </td>
					        <td ng-bind="addr.tel"></td>
					        <td>
					        	<button class="btn btn-sm btn-default" ng-click="deleteAddress(addr.id)">删除</button>
					        	<a class="btn btn-sm btn-default" ng-click="addAdress(addr)" style="margin-left: 24px;">修改</a>
					        	<a class="btn btn-sm btn-default" ng-show="addr.type==1002&&addr.num!=1" ng-click="setTop(addr.id)">设为发货默认地址</a>
					        	<a class="btn btn-sm btn-default" ng-show="addr.type==1001&&addr.num!=1" ng-click="setTop(addr.id)">设为收货默认地址</a>
					        </td>
					    </tr>
				    </tbody>
				</table>			
			</div>
			<a id="bottom"></a>
			<!-- ng-tableEnd -->
		</div>
	</div><!--/span-->
</div><!--/row-->





