<style>
.row {
	margin-bottom: 10px;
}
</style>
<div>
	<div class="box-header well">
		求购-优质采购商
	</div>
	<div  class="box-content">
		<div class="row">
			<div class="col-xs-offset-9 col-xs-4">
				<a class="btn btn-primary" ng-click="add()"><i class="fa fa-plus"></i>添加优质采购商</a>
			</div>
		</div>
		<p ng-model="test"></p>
		<table ng-table="seekQualityBuyerTableParams"
			class="table table-bordered table-striped table-hover" style="word-break:break-all; word-wrap:break-all;">
			<thead>
				<tr class="tr-default">
					<th width="10%;" class="text-center">编号</th>
					<th width="7%;" class="text-center">名称</th>
					<th width="10%" class="text-center">排序</th>
					<th width="10%" class="text-center">操作</th>
				</tr>
			</thead>
			<tbody ng-repeat="buyer in $data">
				<tr class="text-center">
					<td><span ng-bind="buyer.id"></span></td>
					<td><span ng-bind="buyer.name"></span></td>
					<td><span ng-bind="buyer.sort"></span></td>
					<td>
						<button class="btn btn-primary" ng-click="edit(buyer.id)">编辑</button>
						<button class="btn btn-primary" ng-click="deleteBuyer(buyer.id)">删除</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
