<style>
.row {
	margin-bottom: 10px;
}
.menu .col-sm-8{
	padding: 0;
	width: auto;
}
.menu{
	width: 100%;
	height: 40px;
	background: #229ee6;
	margin: 0;
	line-height: 40px;
	overflow: hidden;
}
.menu .btn{
	border: none;
	background: none;
	color: #fff;
	padding: 8px 30px;
	width: 100px;
}
.menu .btn:active{
	background: none;
}
.menu .btn-group{
	height: 40px;
}
.menu .btn-primary:before,.menu a:hover:before{
	content: "";
	width: 20px;
	height: 20px;
	display: inline-block;
	background: #fff;
	transform: rotate(-45deg);
	position: absolute;
	bottom: -18px;
	left: 40%;
}
.menu .col-sm-3{
	float: right;
	margin-right: 100px;
	width: 270px;
	padding: 0;
}
.menu .sreach-input{
	position: relative;
	margin-top: 5px;
	width: 300px;
	height: 40px;
}
.menu .sreach-input .form-control{
	height: 30px;
	float: left;
	border-radius: 0;
	font-size: 12px;
	padding-right:70px;
}
.menu .sreach-input button{
	width: 60px;
	height: 30px;
	background: #b9e1f9;
	float: right;
	position: absolute;
	right: 0;
	top: 0;
	border: none;
	font-size: 14px;
}
.com-title h2{
	font-size: 24px;
	color: #219ee6;
}
	.adopt {
		background: red;
	}
</style>
<div>
	<div class="box-header well">
		求购详情
	</div>
	<div class="box-content row">
		<div class="fullscreen" style="padding: 10px;">
			<div class="col-sm-3 f14">
				<div class="form-group row">
					<span class="col-sm-4 text-right">询价单号：</span>
					<span class="col-sm-6" ng-bind="seek.inquiry.code"></span>
				</div>
				<div class="form-group row">
					<span class="col-sm-4 text-right">规格：</span>
					<span class="col-sm-6" ng-bind="seek.spec"></span>
				</div>
				<div class="form-group row">
					<span class="col-sm-4 text-right">币种：</span>
					<span class="col-sm-6" ng-bind="seek.currency"></span>
				</div>
			</div>
			<div class="col-sm-3 f14">
				<div class="form-group row">
					<span class="col-sm-4 text-right">型号：</span>
					<span class="col-sm-6" ng-bind="seek.cmpCode"></span>
				</div>
				<div class="form-group row">
					<span class="col-sm-4 text-right">封装：</span>
					<span class="col-sm-6" ng-bind="seek.encapsulation"></span>
				</div>
				<div class="form-group row">
					<span class="col-sm-4 text-right">生产日期：</span>
					<span class="col-sm-6" ng-bind="seek.produceDate"></span>
				</div>
			</div>
			<div class="col-sm-3 f14">
				<div class="form-group row">
					<span class="col-sm-4 text-right">品牌：</span>
					<span class="col-sm-6" ng-bind="seek.inbrand"></span>
				</div>
				<div class="form-group row">
					<span class="col-sm-4 text-right">采购数量：</span>
					<span class="col-sm-6" ng-bind="seek.needquantity"></span>
				</div>
				<div class="form-group row">
					<span class="col-sm-4 text-right">截止日期：</span>
					<span class="col-sm-6" ng-bind="seek.endDate | date:'yyyy-MM-dd HH:mm:dd'"></span>
				</div>
			</div>
			<div class="col-sm-3 f14">
				<div class="form-group row">
					<span class="col-sm-4 text-right">求购状态：</span>
					<span ng-if="seek.agreed && seek.agreed == 1 && seek.offerAmount > 0" class="col-sm-4" style="color:green;">已采纳</span>
					<span ng-if="(!seek.agreed || seek.agreed == 0) && seek.offerAmount > 0" class="col-sm-4" style="color:red;">已报价</span>
					<span ng-if="!seek.offerAmount || seek.offerAmount == 0" class="col-sm-4">待报价</span>
					<!--<span ng-if="seek.agreed && seek.agreed == 1" class="col-sm-4" style="color:green;">已截至</span>-->
				</div>
				<div class="form-group row">
					<span class="col-sm-4 text-right">发布日期：</span>
					<span class="col-sm-6" ng-bind="seek.date | date:'yyyy-MM-dd HH:mm:dd'"></span>
				</div>
				<div class="form-group row" ng-if="salesman_name">
					<span class="col-sm-4 text-right">业务员：</span>
					<span class="col-sm-6" ng-bind="salesman_name"></span>
				</div>
				<div class="form-group row" ng-if="!salesman_name">
					<span class="col-sm-4 text-right"></span>
					<button class="btn btn-primary" ng-click="orders()">我来接单</button></p>
				</div>
			</div>
		</div>
	</div>
	<div class="box-content row">
		<div class="fullscreen" style="padding: 10px;">
		</div>
			<div class="col-sm-3 f14">
				<div class="form-group row">
					<span class="col-sm-4 text-right">买家：</span>
					<span class="col-sm-6" ng-bind="seek.userName + '|' + seek.inquiry.enterprise.enName"></span>
				</div>
			</div>
			<div class="col-sm-3 f14">
				<div class="form-group row">
					<span class="col-sm-4 text-right">电话：</span>
					<span class="col-sm-6" ng-bind="seek.userTel"></span>
				</div>
			</div>
	</div>
	<div class="menu row">
		<div class="col-sm-8">
			<div class="btn-group" role="group" aria-label="...">
				<a type="button" class="btn btn-default" ng-class="{'btn-primary': active === 'offer'}" ng-click="setActive('offer')">当前报价({{seek.qutations.length}})</a>
				<a type="button" class="btn btn-default" ng-class="{'btn-primary': active === 'goods'}" ng-click="setActive('goods')">商城现货({{goods.length}})</a>
				<a type="button" class="btn btn-default" ng-class="{'btn-primary': active === 'pricing'}" ng-click="setActive('pricing')">核价信息(0)</a>
			</div>
		</div>
	</div>
	<div  class="box-content">
		<table ng-show="status == 101" class="table table-bordered table-striped table-hover" style="word-break:break-all; word-wrap:break-all;">
			<thead>
				<tr class="tr-default">
					<th width="10%;" class="text-center">报价时间</th>
					<th width="20%;" class="text-center">卖家</th>
					<th width="10%" class="text-center">联系电话</th>
					<th width="10%" class="text-center">交期（天）</th>
					<th width="50%" class="text-center">价格梯度</th>
				</tr>
			</thead>
			<tbody ng-repeat="qutation in seek.qutations">
				<tr class="text-center" ng-class="{'adopt':qutation.agreed == 1}">
					<td><span ng-bind="qutation.offerTime | date:'yyyy-MM-dd HH:mm:ss'"></span></td>
					<td><p ng-bind="qutation.enterprise.enName"></p></td>
					<td><span ng-bind="qutation.enterprise.enTel"></span></td>
					<td><span ng-bind="qutation.leadtime"></span></td>
					<td><p ng-repeat="re in qutation.replies"><span ng-bind="re.lapQty + '+'"></span>|<span ng-bind="qutation.currency + re.price | currencyStr"></span></p></td>
				</tr>
			</tbody>
		</table>

		<table ng-show="status == 104" class="table table-bordered table-striped table-hover" style="word-break:break-all; word-wrap:break-all;">
			<thead>
			<tr class="tr-default">
				<th width="10%;" class="text-center">卖家</th>
				<th width="20%;" class="text-center">交期（天）</th>
				<th width="10%" class="text-center">价格梯度</th>
				<th width="10%" class="text-center">生产日期</th>
				<th width="50%" class="text-center">库存</th>
			</tr>
			</thead>
			<tbody ng-repeat="go in goods">
			<tr class="text-center">
				<td><span ng-bind="go.enterpriseName"></span></td>
				<td><p ng-bind="go.b2cMinDelivery + '-' + go.b2cMaxDelivery"></p></td>
				<td><p ng-if="go.currencyName == 'RMB'" ng-repeat="p in go.prices">
					<span ng-bind="p.start + '+'"></span>|<span ng-bind="go.currencyName + p.rMBPrice | currencyStr"></span>
				</p><p ng-if="go.currencyName == 'USD'" ng-repeat="p in go.prices">
					<span ng-bind="p.start + '+'"></span>|<span ng-bind="go.currencyName + p.uSDPrice | currencyStr"></span>
				</p></td>
				<td><span ng-bind="go.produceDate"></span></td>
				<td><span ng-bind="go.reserve"></span></td>
			</tr>
			</tbody>
		</table>

		<table  ng-show="status == 103" class="table table-bordered table-striped table-hover" style="word-break:break-all; word-wrap:break-all;">
			<thead>
			<tr class="tr-default">
				<th width="10%;" class="text-center">卖家</th>
				<th width="20%;" class="text-center">物料编号</th>
				<th width="10%" class="text-center">物料名称</th>
				<th width="10%" class="text-center">标记</th>
				<th width="50%" class="text-center">价格梯度</th>
			</tr>
			</thead>
			<tbody ng-repeat="qutation in seek.qutations">
			<!--<tr class="text-center">-->
				<!--<td><span ng-bind="qutation.offerTime | date:'yyyy-MM-dd HH:mm:ss'"></span></td>-->
				<!--<td><p ng-bind="qutation.enterprise.enName"></p></td>-->
				<!--<td><span ng-bind="qutation.enterprise.enTel"></span></td>-->
				<!--<td><span ng-bind="qutation.leadtime"></span></td>-->
				<!--<td><p ng-repeat="re in qutation.replies"><span ng-bind="re.lapQty + '+'"></span>|<span ng-bind="qutation.currency + re.price | currencyStr"></span></p></td>-->
			<!--</tr>-->
			</tbody>
		</table>
	</div>
</div>
