<style>
	body,input,select,textarea{
		font-family: "Microsoft Yahei", "微软雅黑";
	}
	#store-applications .table tr>th,
	#store-applications .table tr>td{
		text-align: center;
		vertical-align: middle;
	}

	#store-applications .table tr>td {
		height: 60px;
	}

	#store-applications .application-num {
		padding: 0;
		width: 60px;
		line-height: 38px;
	}
	/*增加样式*/
	.text-rt{
		text-align: right;
	}
	.record-stort{
		line-height: 34px;
		font-size: 12px;
		margin-bottom: 0;
		padding-right: 30px;
	}
	.record-stort em{
		font-family: "Microsoft Yahei", "微软雅黑";
		color: #229ee6;
		font-style: inherit;
		font-weight: inherit;
		background: none;
	}
	.menu .col-sm-8 ,.menu02 .col-sm-8{
		padding: 0;
		width: auto;
	}
	.menu{
		width: 100%;
		height: 40px;
		background: #229ee6;
		margin: 0;
		line-height: 40px;
		overflow: hidden;
	}
	.menu02{
		width: 100%;
		height: 40px;
		background: #fff;
		margin: 0;
		line-height: 40px;
		overflow: hidden;
		border-bottom: #219ee6 1px solid;
	}
	.menu .btn,.menu02 .btn{
		border: none;
		background: none;
		color: #fff;
		padding: 8px 30px;
		width: 100px;
	}
	.menu02 .btn{
		color: #323232;
	}
	.menu .btn:active{
		background: none;
	}
	.menu .btn-group{
		height: 40px;
	}
	.menu .btn-primary:before{
		content: "";
		width: 20px;
		height: 20px;
		display: inline-block;
		background: #fff;
		transform: rotate(-45deg);
		position: absolute;
		bottom: -18px;
		left: 40%;
	}
	.menu02 .btn-primary{
		border-bottom: 5px #219ee6 solid;
	}
	.menu .col-sm-3{
		float: right;
		margin-right: 100px;
		width: 270px;
		padding: 0;
	}
	.menu .sreach-input{
		position: relative;
		margin-top: 5px;
		width: 270px;
		height: 40px;
	}
	.menu .sreach-input .form-control{
		height: 30px;
		float: left;
		border-radius: 0;
		font-size: 12px;
	}
	.menu .sreach-input button{
		width: 60px;
		height: 30px;
		background: #b9e1f9;
		float: right;
		position: absolute;
		right: 0;
		top: 0;
		border: none;
	}
	.application-tab table tr th,.application-tab table tr td{
		border: #cfedfe 1px solid;
	}
	.application-tab .table-bordered{
		border-top: #cfedfe 1px solid;
	}
	.application-tab table tr th{
		background: #cfedfe;
		height: 35px;
	}
	.application-tab table tbody tr:hover{
		background: #e4f3fc;
	}
	.application-tab table tbody tr .btn{
		border: none;
		width: 60px;
		height: 22px;
		line-height: 22px;
		color: #fff;
		display: inline-block;
		margin-bottom: 5px;
		padding: 0;
		font-size: 12px;
		border-radius: 2px;
	}
	.text-left{
		text-align: left !important;
	}
	.application-tab table tbody tr .btn:hover{
		background: #219ee6 ;
	}
	.application-tab table tbody tr .apply-bg{
		background: #fb9c06;
	}
	.application-tab table tbody tr .detail-bg{
		background: #3ba9e9;
	}
	.application-tab table tbody tr .wait{
		color:#e02f2f ;
	}
	.application-tab table tbody tr .no-pass{
		color: #219ee6;
	}
	.application-tab table thead th p i{
		color: #219ee6;
		/*margin-left: 4px;*/
	}
	.application-tab table thead th p:hover{
		cursor: pointer;
	}
</style>
<div class="row-fluid sortable" id="store-applications">
	<div class="menu row">
		<div class="col-sm-8">
			<div class="btn-group" role="group" aria-label="...">
				<a type="button" class="btn btn-default" ng-class="{'btn-primary' : status == 'ALL'}" ng-click="switchTab('ALL', 'status')">全部</a>
				<a type="button" class="btn btn-default" ng-class="{'btn-primary' : status == authType.PREPARE.name}" ng-click="switchTab(authType.PREPARE.name, 'status')">待审核</a>
				<a type="button" class="btn btn-default" ng-class="{'btn-primary' : status == authType.PASS.name}" ng-click="switchTab(authType.PASS.name, 'status')">已通过</a>
				<a type="button" class="btn btn-default" ng-class="{'btn-primary' : status == authType.UNPASS.name}" ng-click="switchTab(authType.UNPASS.name, 'status')">未通过</a>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="sreach-input">
				<input type="search" class="form-control" placeholder="请输入公司名称" ng-model="keyword" ng-search="refreshTableData()"/>
				<button ng-click="refreshTableData()">搜索</button>
			</div>
		</div>
	</div>
	<div class="menu02 row">
		<div class="col-sm-8">
			<div class="btn-group" role="group" aria-label="...">
				<a type="button" class="btn btn-default" ng-class="{'btn-primary' : type == 'ALL_TYPE'}" ng-click="switchTab('ALL_TYPE', 'type')">全部</a>
				<a type="button" class="btn btn-default" ng-class="{'btn-primary' : type == storeType.ORIGINAL_FACTORY.name}" ng-click="switchTab(storeType.ORIGINAL_FACTORY.name, 'type')">原厂</a>
				<a type="button" class="btn btn-default" ng-class="{'btn-primary' : type == storeType.AGENCY.name}" ng-click="switchTab(storeType.AGENCY.name, 'type')">代理商</a>
				<a type="button" class="btn btn-default" ng-class="{'btn-primary' : type == storeType.DISTRIBUTION.name}" ng-click="switchTab(storeType.DISTRIBUTION.name, 'type')">经销商</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="text-rt col-sm-12">
			<p class="record-stort">显示1-10条记录，&nbsp;&nbsp;共<em>{{applicationTableParams.total()}}</em>条</p>
		</div>
	</div>
	<div class="application-tab">
		<table class="table table-bordered" ng-table="applicationTableParams">
			<thead>
			<tr>
				<th width="50">序号</th>
				<th>店铺名称</th>
				<th>店铺简称</th>
				<th>店铺类型</th>
				<th>
					<p ng-click="changeShorting()" style="margin: 0;">申请日期
						<i class="fa fa-long-arrow-up"></i>
						<i class="fa fa-long-arrow-down"></i>
					</p>
				</th>
				<th>审核日期</th>
				<th>审核人</th>
				<th>审核状态</th>
				<th width="150">审核操作</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="application in $data ">
				<td ng-bind="$index + (applicationTableParams.page()-1 )* 10 + 1"></td>
				<td ng-bind="application.storeName" class="text-left"></td>
				<td ng-bind="application.storeShortName"></td>
				<td ng-bind="application.type | storeType"></td>
				<td>{{application.createTime | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
				<td>
					<span ng-if="application.authTime">{{application.authTime | date: 'yyyy-MM-dd HH:mm:ss'}}</span>
					<span ng-if="!application.authTime">——</span>
				</td>
				<td>{{application.authPerson || '——'}}</td>
				<td>
					<p ng-if="application.status == authType.PASS.name">已通过</p>
					<p class="wait" ng-if="application.status == authType.PREPARE.name">待审核</p>
					<p class="no-pass" ng-if="application.status == authType.UNPASS.name">未通过</p>
				</td>
				<td>
					<div ng-if="application.status === 'PREPARE'">
						<a class="apply-bg btn" href="javascript:void(0)" ng-click="auditQualification(application)">资质审核</a><br/>
						<span style="color: #9d9d9d">已申请 {{application.time.day}}天{{application.time.hour}}时</span>
					</div>
					<div ng-if="application.status !== 'PREPARE'">
						<a class="detail-bg btn" href="javascript:void(0)" ng-click="auditQualification(application)">查看详情</a>
					</div>
				</td>
			</tr>
			<tr ng-if="!$data || $data.length <= 0">
				<td colspan="9" style="font-size: 18px;">暂时没有待审核申请</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
