<style>
	body,input,select,textarea{
		font-family: "Microsoft Yahei", "微软雅黑";
	}
	.row{
		margin: 0;
	}
	.title-top{
		height: 40px;
		margin-bottom: 10px;
	}
	.title-top h4{
		color: #3ba9e9;
	}
	.store-qualification-content{
		border: #e8e8e8 1px solid;
		border-top: #3ba9e9 10px solid;
	}
	.qualification-list01{
		margin-top: 20px;
	}
	.qualification-list01 .row{
		line-height: 40px;
		font-size: 14px;
	}
	.qualification-list01 .row .col-sm-2{
		width: 100px;
		padding-right: 0;
	}
	.qualification-list01 .store-img{
		margin-bottom: 20px;
	}
	.qualification-list01 .store-img .photo-img{
		width: 210px;
		height: 170px;
		overflow: hidden;
		text-align: center;
		border: #e8e8e8 1px solid;
		line-height: 170px;
		float: left;
		position: relative;
	}
	.qualification-list01 .store-img .photo-img div img{
		max-width: 220px;
		max-height: 170px;
	}
	.qualification-list01 .store-img .col-sm-10 div{
		padding: 0;
	}
	.qualification-list01 .store-img em{
		color: #f00;
		background: none;
		font-style: normal;
	}
	.qualification-list01 .store-img .no-photo-img{
		width: 220px;
		line-height: 170px;
		color: #f80f3b;
		border: #e8e8e8 1px solid;
		text-align: center;
		float: left;
	}
	.qualification-list01 .store-img .col-sm-4 span.text{
		margin-left: 5px;
		position: relative;
		top: 140px;
		font-size: 12px;
	}
	.qualification-list01 ul{
		width: 100%;
		height: 40px;
		border-bottom: #3ba9e9 1px solid;
	}
	.qualification-list01 ul li,.qualification-list01 ul li a{
		list-style: none;
		width: 120px;
		float: left;
		font-size: 14px;
		text-align: center;
		height: 40px;
		line-height: 40px;
		display: inline-block;
		color: #323232;
	}
	.qualification-list01 ul li:first-child{
		text-align: left;
		padding-left: 15px;
	}
	.qualification-list01 ul li.active a{
		border: #3ba9e9 1px solid;
		color: #3ba9e9;
		border-bottom: #fff 1px solid;
	}
	.open-web{
		margin-left: 13%;
		width: 150px;
		height: 40px;
		display: inline-block;
		line-height: 40px;
		background: #3ba9e9;
		text-align: center;
		color: #fff;
		border-radius: 5px;
	}
	.open-web:hover{
		background: #5078cb;
		color: #fff;
	}
	.open-img{
		margin-left: 2%;
		width: 150px;
		height: 40px;
		display: inline-block;
		line-height: 40px;
		background: #3ba9e9;
		text-align: center;
		color: #fff;
		border-radius: 5px;
	}
	.open-img:hover{
		background: #5078cb;
		color: #fff;
	}
	.comon-row{
		margin-top: 20px;
	}
	.comon-row .col-sm-6{
		padding-left: 0;
	}
	@media screen and (max-width: 1366px) {
		/*.comon-row .col-sm-6{
			max-width: 500px;
		}*/
		/*.qualification-list01 .row .col-sm-2{
			width: 89px;
		}*/
	}
	.comon-row .col-sm-6 .row{
		margin-bottom: 10px;
	}
	.comon-row .col-sm-6 .form-control{
		height: 34px;
		border-radius: 2px;
		line-height: 34px;
		padding: 0 15px;
	}
	.store-list-img{
		margin-top: 16px;
		margin-bottom: 20px !important;
	}
	.store-list-img .big-img{
		width: 150px;
		height: 180px;
		text-align: center;
		line-height: 180px;
		border: #ccc 1px solid;
		overflow: hidden;
		position: relative;
	}
	.store-list-img .big-img div img{
		max-width: 150px;
		max-height: 180px;
	}
	.store-detail{
		width: 100%;
		height: 180px;
		border: #ccc 1px solid;
		overflow: hidden;
		padding-top: 10px;
	}
	.store-detail .short-img{
		width: 120px;
		height: 120px;
		text-align: center;
		line-height: 120px;
		border: #ccc 1px solid;
		overflow: hidden;
		float: left;
		margin: 15.5px;
		position: relative;
	}
	.store-detail .short-img div img{
		max-width: 130px;
		max-height: 130px;
	}
	.store-detail .store-detail-content{
		float: left;

	}
	.store-detail .store-detail-content h5{
		line-height: 30px;
		font-style: normal;
		margin-bottom: 0;
		font-size: 14px;
		color: #323232;
		text-align: center;
	}
	.store-detail .store-detail-content p{
		line-height: 20px;
		margin-bottom: 0;
		font-size: 12px;
	}
	.deal-btn{
		width: 100%;
		margin: 0 auto;
		text-align: center;
		margin-top: 20px;
		border-top: #3ba9e9 2px solid;
		padding-top: 30px;
	}
	.deal-btn .btn{
		border: none;
		border-radius: 0;
		font-family: "Microsoft Yahei", "微软雅黑";
		width: 120px;
		margin: 0 10px;
	}
	.no-pass{
		background: #fb9c06;

	}
	.pass{
		background: #3ba9e9;
	}
	.edit{
		background: #84d10c;

	}
	.off{
		background: #afb0b0;
	}

	.hover-show{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 100%;
		left: 0;
		background: rgba(0,0,0,.5);
	}
	.hover-show .delete{
		padding: 0;
		width: 30px;
		height: 30px;
		float: right;
		text-align: center;
		line-height: 30px;
	}
	.hover-show .delete:hover{
		cursor: pointer;
	}
	.hover-show .delete i{
		color: #fff;
		font-size: 18px;
		margin-top: 10px;
	}
	.hover-show a{
		display: inline-block;
		width: 100%;
		height: 90px;
		font-size: 14px;
		color: #fff;
		text-align: center;
		line-height: 90px;
	}
	.hover-show a i{
		margin-right: 5px;
		font-size: 16px;
	}
	.qualification-list01 .store-img .hover-show{
		line-height: 100px;
	}
	.qualification-list01 .photo-img:hover .hover-show,.store-list-img .big-img:hover .hover-show,.store-list-img .short-img:hover .hover-show{
		top: 0;
		transition: top .3s ease-in;
	}
	.store-list-img .big-img .hover-show{
		line-height: 106px;
	}
	.store-list-img .short-img .hover-show{
		line-height: 50px;
	}
	/*.comon-row .com-max-width{
		max-width: 300px;
	}*/
	/* 预览框 start */
	.image-box .x-floating-wrap {
		position: fixed;
		z-index: 99998;
		background: #000;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0.5;
	}
	.image-box .x-floating {
		position: fixed;
		z-index: 99999;
		top: 60px !important ;
		left: 0 !important ;
		width: 100%;
		height: 100%;
		text-align: center;
		vertical-align: middle;
	}
	.image-box .x-floating img {
		margin: auto auto;
		max-width: 100%;
		max-height: 80%;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none
	}

	.image-box .x-close-wrap {
		position: fixed;
		top: 42px;
		right: 0;
		z-index: 100000;
		width: 120px;
		height: 120px;
		margin: -60px -60px 0 0;
		border-radius: 100%;
		background: #000;
		opacity: .3
	}

	.image-box .x-close-wrap a {
		position: absolute;
		left: 25px;
		bottom: -42px;
		font-size: 42px;
		color: #fff
	}

	.image-box .x-close-wrap:hover {
		opacity: .7
	}
	.img-big-btn{
		position: absolute;
		text-align: center;
		width: 100%;
		line-height: 50px;
	}
	.img-big-btn a{
		margin: 0 20px;
		font-size: 18px;
		color: #fff;
		font-weight: normal;
	}
	/* 预览框 end */
</style>
<div class="row-fluid sortable" id="store-qualification">
	<div class="title-top row">
		<h4>企业信息 <a style="font-size: 14px;" ui-sref="store_application_maintenance">返回列表</a></h4>
	</div>
	<div class="store-qualification-content">
		<div class="qualification-list01">
			<div class="row">
				<div class="col-sm-2">企业全称</div>
				<div class="col-sm-10" ng-bind="application.storeName">深圳市优软商城科技有限公司</div>
			</div>
			<div class="row">
				<div class="col-sm-2">企业简称</div>
				<div class="col-sm-10" ng-bind="application.storeShortName">优软商城</div>
			</div>
			<div class="store-img row">
				<div class="col-sm-2"></div>
				<div class="col-sm-10">
					<div class="col-sm-4">
						<div class="photo-img" ng-if="qualifications[qType.businessLicense]">
							<div><img ng-src="{{createShowUrl(qualifications[qType.businessLicense].resourceUrl)}}"/></div>
							<div class="hover-show">
								<span class="delete" title="删除"></span>
								<a ng-href="{{qualifications[qType.businessLicense].resourceUrl}}" target="_blank"><i class="fa fa-search"></i>查看</a>
							</div>
						</div>
						<div class="no-photo-img" ng-if="!qualifications[qType.businessLicense]">未上传图片！</div>
						<span class="text">营业执照 <em>*</em></span>
					</div>
					<div class="col-sm-4">
						<div class="photo-img" ng-if="qualifications[qType.taxPayer]">
							<div><img ng-src="{{createShowUrl(qualifications[qType.taxPayer].resourceUrl)}}"/></div>
							<div class="hover-show">
								<span class="delete" title="删除"></span>
								<a ng-href="{{qualifications[qType.taxPayer].resourceUrl}}" target="_blank"><i class="fa fa-search"></i>查看</a>
							</div>
						</div>
						<div class="no-photo-img" ng-if="!qualifications[qType.taxPayer]">未上传图片！</div>
						<span class="text">纳税人证明</span>
					</div>
					<div class="col-sm-4">
						<div class="photo-img" ng-if="qualifications[qType.taxRegistration]">
							<div><img ng-src="{{createShowUrl(qualifications[qType.taxRegistration].resourceUrl)}}"/></div>
							<div class="hover-show">
								<span class="delete" title="删除"></span>
								<a ng-href="{{qualifications[qType.taxRegistration].resourceUrl}}" target="_blank"><i class="fa fa-search"></i>查看</a>
							</div>
						</div>
						<div class="no-photo-img" ng-if="!qualifications[qType.taxRegistration]">未上传图片！</div>
						<span class="text">税务登记证</span>
					</div>
				</div>
			</div>
			<span ng-if="qualification.type == 'BUSINESS_LICENSE'">营业执照</span>
		</div>
		<div class="qualification-list01" style="margin-top: 40px; border-bottom: #ccc 1px dashed; padding-bottom: 20px;">
			<ul ng-if="application.status === 'PREPARE'">
				<li>公司资质：</li>
				<li ng-class="{ 'active': tab === 'MAINLAND' }"><a href="javascript:void(0)" ng-click="switchTab('MAINLAND')">中国大陆</a></li>
				<li ng-class="{ 'active': tab === 'HK' }"><a href="javascript:void(0)" ng-click="switchTab('HK')">香港</a></li>
			</ul>
			<ul ng-if="application.status !== 'PREPARE'">

				<li>公司资质：</li>
				<li ng-if="tab ==='MAINLAND'"> <a href="javascript:void(0)" >中国大陆</a></li>
				<li ng-if="tab ==='HK'"><a href="javascript:void(0)" >香港</a></li>
			</ul>
			<!--<ul ng-if="application.status != 'PREPARE'">
				<li>公司资质：</li>
				<li ng-class="{ 'active': tab === 'MAINLAND' }"><a href="javascript:void(0)" ng-click="switchTab('MAINLAND')">中国大陆</a></li>
				<li ng-class="{ 'active': tab === 'HK' }"><a href="javascript:void(0)" ng-click="switchTab('HK')">香港</a></li>
			</ul>-->
			<!-- 大陆资质信息 Start -->
			<div class="comon-row china-info" ng-if="tab === 'MAINLAND'">
				<div class="row">
					<div class="col-sm-6">
						<div class="row">
							<div class="col-sm-2">名称</div>
							<div class="col-sm-9"><input type="text" class="form-control" title="name" ng-disabled="application.status !== 'PREPARE' && !updateState" ng-model="enQualification.name"/></div>
						</div>
						<div class="row">
							<div class="col-sm-2">类型</div>
							<div class="col-sm-9"><input type="text" class="form-control" title="type" ng-disabled="application.status !== 'PREPARE' && !updateState" ng-model="enQualification.type"/></div>
						</div>
						<div class="row">
							<div class="col-sm-2">住所</div>
							<div class="col-sm-9"><input type="text" class="form-control" title="address" ng-disabled="application.status !== 'PREPARE' && !updateState" ng-model="enQualification.address"/></div>
						</div>
						<div class="row">
							<div class="col-sm-2">法定代表人</div>
							<div class="col-sm-9"><input type="text" class="form-control" title="representative" ng-disabled="application.status !== 'PREPARE' && !updateState" ng-model="enQualification.representative"/></div>
						</div>
						<div class="row">
							<div class="col-sm-2">信用代码</div>
							<div class="col-sm-9"><input type="text" class="form-control" title="creditCode" ng-disabled="application.status !== 'PREPARE' && !updateState" ng-model="enQualification.creditCode"/></div>
						</div>
						<div class="row">
							<div class="col-sm-2">注册资本</div>
							<div class="col-sm-9"><input type="text" class="form-control" title="capital" ng-disabled="application.status !== 'PREPARE' && !updateState" ng-model="enQualification.capital"/></div>
						</div>
						<div class="row">
							<div class="col-sm-2">成立日期</div>
							<div class="col-sm-9"><input type="text" class="form-control" title="setUpDate" ng-disabled="application.status !== 'PREPARE' && !updateState" ng-model="enQualification.setUpDate"/></div>
						</div>
						<div class="row">
							<div class="col-sm-2">经营范围</div>
							<div class="col-sm-9"><input type="text" class="form-control" title="businessScope" ng-disabled="application.status !== 'PREPARE' && !updateState" ng-model="enQualification.businessScope"/></div>
						</div>
						<div class="row">
							<div class="col-sm-2">公司状态</div>
							<div class="col-sm-9">
								<select class="form-control" title="status" ng-disabled="application.status !== 'PREPARE' && !updateState" ng-model="enQualification.status">
									<option value="正常">正常</option>
									<option value="企业无查证信息">企业无查证信息</option>
									<option value="企业被列入经营异常名录">企业被列入经营异常名录</option>
									<option value="企业被行政处罚">企业被行政处罚</option>
									<option value="企业被列入严重违法失信名单">企业被列入严重违法失信名单</option>
									<option value="其他">其他</option>
								</select>
							</div>
						</div>
						<div class="row" ng-if="enQualification.status === '其他'">
							<div class="col-sm-2"></div>
							<div class="col-sm-9"><input type="text" class="form-control"  placeholder="请填写原因" title="reason" ng-disabled="application.status !== 'PREPARE' && !updateState" ng-model="enQualification.reason"/></div>
						</div>
					</div>
					<div class="col-sm-6">
						<a href="http://www.gsxt.gov.cn" target="_blank" class="open-web" style="margin-top: 35%;">打开认证网站</a>
					</div>
				</div>
			</div>
			<!-- 大陆资质信息 End -->
			<!-- 香港资质信息 Start -->
			<div class="comon-row hk-info" ng-if="tab === 'HK'">
				<div class="row">
					<div class="col-sm-6">
						<div class="row">
							<div class="col-sm-2">名称</div>
							<div class="col-sm-9"><input type="text" class="form-control" title="name" ng-disabled="application.status !== 'PREPARE' && !updateState" ng-model="enQualification.name"/></div>
						</div>
						<div class="row">
							<div class="col-sm-2 ">地址</div>
							<div class="col-sm-9"><input type="text" class="form-control" title="address" ng-disabled="application.status !== 'PREPARE' && !updateState" ng-model="enQualification.address"/></div>
						</div>
						<div class="row">
							<div class="col-sm-2">业务性质</div>
							<div class="col-sm-9"><input type="text" class="form-control" title="businessNature" ng-disabled="application.status !== 'PREPARE' && !updateState" ng-model="enQualification.businessNature"/></div>
						</div>
						<div class="row">
							<div class="col-sm-2">法律地位</div>
							<div class="col-sm-9"><input type="text" class="form-control" title="legalStatus" ng-disabled="application.status !== 'PREPARE' && !updateState" ng-model="enQualification.legalStatus"/></div>
						</div>
						<div class="row">
							<div class="col-sm-2">生效日期</div>
							<div class="col-sm-9"><input type="text" class="form-control" title="effectiveDate" ng-disabled="application.status !== 'PREPARE' && !updateState" ng-model="enQualification.effectiveDate"/></div>
						</div>
						<div class="row">
							<div class="col-sm-2">届满日期</div>
							<div class="col-sm-9"><input type="text" class="form-control" title="expiryDate" ng-disabled="application.status !== 'PREPARE' && !updateState" ng-model="enQualification.expiryDate"/></div>
						</div>
						<div class="row">
							<div class="col-sm-2">公司状态</div>
							<div class="col-sm-9">
								<select class="form-control" title="status" ng-disabled="application.status !== 'PREPARE' && !updateState" ng-model="enQualification.status">
									<option value="正常">正常</option>
									<option value="企业不存在">企业不存在</option>
									<option value="企业已清盘">企业已清盘</option>
									<option value="企业已解散">企业已解散</option>
									<option value="其他">其他</option>
								</select>
							</div>
						</div>
						<div class="row" ng-if="enQualification.status === '其他'">
							<div class="col-sm-2"></div>
							<div class="col-sm-9"><input type="text" class="form-control"  placeholder="请填写原因" title="reason" ng-model="enQualification.reason"/></div>
						</div>
					</div>
					<div class="col-sm-6">
						<a href="https://www.icris.cr.gov.hk/csci/" target="_blank" class="open-web" style="margin-top: 25%;">打开认证网站</a>
					</div>
				</div>
			</div>
			<!-- 香港资质信息 End -->
		</div>
		<!-- 品牌列表 Start -->
		<div class="qualification-list01" style="margin-top: 40px;" ng-repeat="brand in brands" ng-if="application.type === 'ORIGINAL_FACTORY'">
			<div class="row">
				<div class="col-sm-2">品牌{{$index + 1}}</div>
			</div>
			<div class="comon-row">
				<div class="row">
					<div class="col-sm-6">
						<div class="row">
							<div class="col-sm-2">品牌证明文件</div>
							<div class="col-sm-3">
								<select class="form-control" title="certificate" ng-disabled="application.status !== 'PREPARE' && !updateState" ng-model="brand.certificate">
									<option value="大陆商标注册证" ng-if="application.type === 'ORIGINAL_FACTORY'">大陆商标注册证</option>
									<option value="香港注册证明书" ng-if="application.type === 'ORIGINAL_FACTORY'">香港注册证明书</option>
									<option value="Logo/商标授权书" ng-if="application.type === 'ORIGINAL_FACTORY'">Logo/商标授权书</option>
									<option value="代理证明书" ng-if="application.type === 'AGENCY'">代理证明书</option>
									<option value="代理授权书" ng-if="application.type === 'AGENCY'">代理授权书</option>
								</select>
							</div>
							<div class="col-sm-2" style="width:80px;">品牌状态</div>
							<div class="col-sm-3">
								<select class="form-control" title="status" ng-disabled="application.status !== 'PREPARE' && !updateState" ng-model="brand.status">
									<option value="正常">正常</option>
									<option value="商标不存在">商标不存在</option>
									<option value="商标注册人不符">商标注册人不符</option>
									<option value="商标已过有效期">商标已过有效期</option>
									<option value="其他">其他</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-2">注册人</div>
							<div class="col-sm-9"><input type="text" class="form-control" title="registrant" ng-disabled="application.status !== 'PREPARE' && !updateState" ng-model="brand.registrant" /></div>
						</div>
						<div class="row">
							<div class="col-sm-2">注册编号</div>
							<div class="col-sm-9"><input type="text" class="form-control" title="number" ng-disabled="application.status !== 'PREPARE' && !updateState" ng-model="brand.number"/></div>
						</div>
						<div class="row">
							<div class="col-sm-2">注册地址</div>
							<div class="col-sm-9"><input type="text" class="form-control" title="address" ng-disabled="application.status !== 'PREPARE' && !updateState" ng-model="brand.address"/></div>
						</div>
						<div class="row">
							<div class="col-sm-2">注册日期</div>
							<div class="col-sm-9"><input type="text" class="form-control" title="registrationDate" ng-disabled="application.status !== 'PREPARE' && !updateState" ng-model="brand.registrationDate"/></div>
						</div>
						<div class="row">
							<div class="col-sm-2">有效日期</div>
							<div class="col-sm-9"><input type="text" class="form-control" title="effectiveDate" ng-disabled="application.status !== 'PREPARE' && !updateState" ng-model="brand.effectiveDate"/></div>
						</div>
						<div class="row">
							<div class="col-sm-2">批准单位</div>
							<div class="col-sm-9"><input type="text" class="form-control" title="approvalUnit" ng-disabled="application.status !== 'PREPARE' && !updateState" ng-model="brand.approvalUnit"/></div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="row" ng-if="brand.status === '其他'">
							<div class="col-sm-12"><input type="text" class="form-control" placeholder="请填写原因" style="max-width: 676px;" title="reason" ng-disabled="application.status !== 'PREPARE' && !updateState" ng-model="brand.reason"/></div>
						</div>
						<div class="store-list-img row">
							<div class="col-sm-4" style="width: 160px;">
								<div class="big-img" ng-if="brand.url">
									<div><img ng-src="{{brand.url}}"/></div>
									<div class="hover-show">
										<span class="delete" ng-click="" title="删除"></span>
										<a ng-click="showBrandInfo(brand, true)"><i class="fa fa-search"></i>查看</a>
									</div>
									<div>
										<div class="image-box" ng-show="brand.isShow">
											<div class="x-close-wrap" title="关闭">
												<a href="javascript:void(0);" ng-click="showBrandInfo(brand, false)">×</a>
											</div>
											<div class="x-floating-wrap" style="z-index: 10 !important;"></div>
											<div class="x-floating">
												<img ng-src="{{brand.url}}"/>
											</div>
										</div>
									</div>
								</div>
								<div class="no-photo-img" style="height: 180px;text-align: center;line-height: 180px;border: #ccc 1px solid;" ng-if="!brand.url">未上传图片！</div>
							</div>
							<div class="col-sm-8">
								<div class="store-detail">
									<div class="col-sm-6 short-img">
										<div><img ng-src="{{brand.logoUrl}}"/></div>
									</div>
									<div class="col-sm-6 store-detail-content">
										<h5>商城品牌信息</h5>
										<p>英文名称：<span ng-bind="brand.nameEn">LJHJNGHBFGVGHVHGH</span></p>
										<p>中文名称：<span ng-bind="brand.nameCn">这个是中文名称</span></p>
										<p>官方网址：<span ng-bind="brand.website || '暂无'">http://www.usoftmall.com</span></p>
									</div>
								</div>
							</div>
						</div>
						<a ng-href="{{brand.url}}" class="open-img" target="_blank">查看大图</a>
						<a href="http://sbj.saic.gov.cn/sbcx/" class="open-web" target="_blank" ng-if="brand.certificate === '大陆商标注册证' && application.type === 'ORIGINAL_FACTORY'">打开认证网站</a>
						<a href="http://ipsearch.ipd.gov.hk/trademark/index.html" class="open-web" target="_blank" ng-if="brand.certificate === '香港注册证明书' && application.type === 'ORIGINAL_FACTORY'">打开认证网站</a>
					</div>
				</div>
			</div>
			<div ng-if="qualification.type == 'BUSINESS_LICENSE'">
				<input type="text" class="form-control" ng-model="businessLicense" title="businessLicense" placeholder="编号" ng-change="changeNumber('BUSINESS_LICENSE', businessLicense)"/>
			</div>
		</div>
		<!-- 品牌列表 End -->
		<!-- 授权列表 Start -->
		<div class="qualification-list01" style="margin-top: 40px;" ng-repeat="brand in brands" ng-if=" application.type === 'AGENCY'">
			<div class="row">
				<div class="col-sm-2">授权书{{$index + 1}}</div>
			</div>
			<div class="comon-row">
				<div class="row">
					<div class="col-sm-6">
						<div class="row">
							<div class="col-sm-2">授权期限</div>
							<div class="col-sm-3">
								<input type="text" class="form-control" title="authorizedDate" ng-disabled="application.status !== 'PREPARE' && !updateState" ng-model="brand.authorizedDate" />
							</div>
							<div class="col-sm-2" style="width:80px;">授权状态</div>
							<div class="col-sm-3">
								<select class="form-control" title="authorizedStatus" ng-disabled="application.status !== 'PREPARE' && !updateState" ng-model="brand.authorizedStatus" >
									<option value="正常">正常</option>
									<option value="过期">过期</option>
									<option value="其他">其他</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-2">授权方</div>
							<div class="col-sm-9"><input type="text" class="form-control" title="authorizedFrom" ng-disabled="application.status !== 'PREPARE' && !updateState"  ng-model="brand.authorizedFrom" /></div>
						</div>
						<div class="row">
							<div class="col-sm-2">授权产品</div>
							<div class="col-sm-9"><input type="text" class="form-control" title="authorizedProduct" ng-disabled="application.status !== 'PREPARE' && !updateState" ng-model="brand.authorizedProduct"/></div>
						</div>
						<div class="row">
							<div class="col-sm-2">授权区域</div>
							<div class="col-sm-9"><input type="text" class="form-control" title="authorizedArea" ng-disabled="application.status !== 'PREPARE' && !updateState" ng-model="brand.authorizedArea"/></div>
						</div>

					</div>
					<div class="col-sm-6">
						<div class="row" ng-if="brand.authorizedStatus === '其他'">
							<div class="col-sm-12"><input type="text" class="form-control" placeholder="请填写原因" ng-disabled="application.status !== 'PREPARE' && !updateState" style="max-width: 676px;" title="reason" ng-model="brand.authorizedReason"/></div>
						</div>
						<div class="store-list-img row">
							<div class="col-sm-4" style="width: 160px;">
								<div class="big-img" ng-if="brand.url">
									<div><img ng-src="{{brand.url}}"/></div>
									<div class="hover-show">
										<span class="delete" ng-click="" title="删除"></span>
										<a ng-click="showBrandInfo(brand, true)"><i class="fa fa-search"></i>查看</a>
									</div>
									<div>
										<div class="image-box" ng-show="brand.isShow">
											<div class="x-close-wrap" title="关闭">
												<a href="javascript:void(0);" ng-click="showBrandInfo(brand, false)">×</a>
											</div>
											<div class="x-floating-wrap" style="z-index: 10 !important;"></div>
											<div class="x-floating">
												<img ng-src="{{brand.url}}"/>
											</div>
										</div>
									</div>
								</div>
								<div class="no-photo-img" style="height: 180px;text-align: center;line-height: 180px;border: #ccc 1px solid;" ng-if="!brand.url">未上传图片！</div>
							</div>
							<div class="col-sm-8">
								<div class="store-detail">
									<div class="col-sm-6 short-img">
										<div><img ng-src="{{brand.logoUrl}}"/></div>
									</div>
									<div class="col-sm-6 store-detail-content">
										<h5>商城品牌信息</h5>
										<p>英文名称：<span ng-bind="brand.nameEn">LJHJNGHBFGVGHVHGH</span></p>
										<p>中文名称：<span ng-bind="brand.nameCn">这个是中文名称</span></p>
										<p>官方网址：<span ng-bind="brand.website || '暂无'">http://www.usoftmall.com</span></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div ng-if="qualification.type == 'BUSINESS_LICENSE'">
				<input type="text" class="form-control" ng-model="businessLicense" title="businessLicense" placeholder="编号" ng-change="changeNumber('BUSINESS_LICENSE', businessLicense)"/>
			</div>
		</div>
		<!-- 授权列表 End-->
	</div>
	<div class="qualification-list01" style="margin-top: 40px;" ng-if="application.status ==='UNPASS'">
        <div class="row">
            <div class="col-sm-2">未通过原因</div>
            <div class="col-sm-9"><input type="text" class="form-control" title="reason" ng-disabled="application.status !== 'PREPARE' && !updateState" ng-model="application.reason"/></div>
        </div>
	</div>

	<div class="deal-btn">
		<button type="button" class="pass btn btn-primary" ng-if="application.status === 'PREPARE' "  ng-click="audit(true)">通过</button>
		<button type="button" class="no-pass btn btn-primary" ng-if="application.status === 'PREPARE' " ng-click="auditUnpass()">不通过</button>
		<button type="button" class="edit btn btn-primary" ng-if="application.status !== 'PREPARE' && canUpdate && !updateState"  ng-click="changeToUpdate(true)">修改</button>
		<button type="button" class="edit btn btn-primary" ng-if="application.status !== 'PREPARE' && updateState"  ng-click="saveUpdate()">保存</button>
		<button type="button" class="off btn btn-primary" ng-if="application.status !== 'PREPARE' && updateState" ng-click="changeToUpdate(false)">取消</button>
	</div>
</div>

<script type="text/javascript">
	var oTime;
	function changeSize(id,action){
		var obj=document.getElementById(id);
		obj.style.zoom=parseInt(obj.style.zoom)+(action=='+'?+20:-20)+'%';
		oTime=window.setTimeout('changeSize(\''+id+'\',\''+action+'\')',100);
	}
	document.onmouseup=function(){
		window.clearTimeout(oTime);
	}
</script>