<div class="row-fluid sortable">		
	<div class="box span12">
		<div class="box-header well" data-original-title>
			<h2><i class="icon-user"></i> 品牌审批</h2>
		</div>
		<div class="box-content">
			<div>上传品牌信息<button ng-click="uploadBrands()">上传</button></div>
			<div>上传类目信息<button ng-click="uploadKinds()">上传</button></div>
			<div>上传属性信息<button ng-click="uploadProperty()">上传</button></div>
			<div>上传器件信息<input ng-model="componentFileCount" type="number"><button ng-click="uploadComponent(componentFileCount)">上传</button></div>
			<div>上传属性值信息<input ng-model="brandFileCount" type="number"><button ng-click="uploadPropertyValues(brandFileCount)">上传</button></div>
		</div>
	</div><!--/span-->

</div><!--/row-->