<style>
.rright {
	padding-right: 0px;
}

div[role="button"] > a {
	color: white;
	text-decoration: none;
}

div[role="button"] {
	width: 98px;
	height: 20px;
	line-height: 20px;
	background: #317EBC;
	padding-left: 10px;
	padding-top: 3px;
}
div[role="button"]:HOVER {
	cursor: pointer;
}
</style>
<div class="row-fluid sortable">		
	<div class="box span12" id="logisticPickUp">
		<div class="box-header well" data-original-title>
			<i class="icon-user"></i> 上门自取地址
		</div>
		<div class="box-content">
			<!-- ng-tableStart -->
			<div class="fullscreen" style="padding: 10px;">
				<div class="row">
					<div class="col-sm-1">
						共<span class="badge">{{pickUpAddressTableParams.total()}} </span>条
					</div>
					<div class="col-sm-9"></div>
					<div class="col-sm-2">
						<div class="label label-primary" role="button">
							<a ng-click="addAdress()" class="text-default"> <i class="fa fa-plus"></i> &nbsp;新增自取地址</a>
						</div>
					</div>
				</div>
				<table ng-table="pickUpAddressTableParams" class="table  table-bordered table-striped" style="margin-top: 10px;">
					<thead  class="text-center">
					    <tr>
							<th width="280px">区域</th>
							<th width="auto">详细地址</th>
							<th width="120px">操作</th>	    	
					    </tr>
				  	</thead>
				    <tbody>
					    <tr ng-repeat="addr in $data">
					        <td ng-bind="addr.area"></td>
					        <td ng-bind="addr.detailAddress"></td>
					        <td>
					        	<button class="btn btn-sm btn-default" ng-click="deleteAddress(addr.id)">删除</button>
					        	<a class="btn btn-sm btn-default" ng-click="addAdress(addr)">修改</a>
					        </td>
					    </tr>
				    </tbody>
				</table>			
			</div>
			<a id="bottom"></a>
			<!-- ng-tableEnd -->
		</div>
	</div><!--/span-->
</div><!--/row-->





