body {
}

input[type="search"] {
	border: 1px solid #5078cb;
	height: 40px;
	padding: 4px 8px;
	border-radius: 4px;
}

input[type="search"]:FOCUS {
	border: 1px solid #5078cb;
	
}

.weui_cells:before, .weui_cells:after{
	border-top: white;
	border-bottom: white;
}

.logo {
	margin-top: 80px;
	text-align: center;
}

.tip-list {
	margin-top: 10px;
	font-size: 14px;
	color: #999999;
}

.tip-list li {
	padding: 5px 0;
}

.tip-list a {
	color: #666666;
}

/* 客户端下载条 */
#app-bar {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
	height: 45px;
	background: rgba(0, 0, 0, .5);
	color: #fff;
	z-index: 10001;
	font-size: 12px;
	font-family: "Microsoft Yahei";
}
#app-bar .app-logo {
	float: left;
	width: 29px;
	height: 29px;
	margin: 8px 0 0 15px;
}
#app-bar .app-text {
	float: left;
	padding: 7px 0 0 8px;
	line-height: 16px;
}
#app-bar .app-text h2 {
	font-weight: normal;
    font-size: 15px;
	margin-top: 0px;
	margin-bottom: 0px;
}
#app-bar .app-close {
	float: right;
	width: 12px;
	height: 12px;
	background: url(../../img/mobile/app_close.png) no-repeat;
	background-size: 100%;
	margin: 16px 15px 0 0;
}
#app-bar .app-btn {
	float: right;
	background-color: #527ACC;
	border-radius: 3px;
	height: 32px;
	padding: 0px 6px;
	line-height: 32px;
	margin: 6px 18px 0 0;
	color: #FFF;
}
