<style>
    /*删除操作*/
    .com-del-box,.modal-content{
        height: 152px;
        width: 310px;
        border-radius: 0;
        outline: 0;
    }
    .modal-dialog{
        height: 152px;
        width: 310px;
        position: fixed;
        margin: -155px 0 0 -75px;
        top: 55%;
        left: 50%;
    }
    .com-del-box .title{
        height: 30px;
        background-color: #5078cb;
        text-align: right;
        padding-right: 15px;
        line-height: 30px;
        width: 99.5%;
    }
    .com-del-box .title a{
        color: white;
        font-size: 16px;
    }
    .com-del-box .content{
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    .com-del-box .content p{
        line-height: 50px;
        font-size: 14px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .com-del-box .content p i{
        color: #5078cb;
        font-size: 16px;
        margin-right: 10px;
    }
    .com-del-box .content div{
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    .com-del-box .content div a{
        width: 55px;
        height: 26px;
        line-height: 26px;
        display: inline-block;
        text-align: center;
        font-size: 14px;
    }
    .com-del-box .content div a:first-child{
        background: #b4b5b9;
        color: #333;
        margin-right: 10px;
    }
    .com-del-box .content div a:last-child{
        background: #5078cb;
        color: #fff;
    }
    .com-del-box .content div a:hover{
        background: #3f7ae3;
        color: #fff;
    }
</style>
<div class="com-del-box">
    <div class="title">
        <a ng-click="cancleDelete()"><i class="fa fa-close fa-lg"></i></a>
    </div>
    <div class="content">
        <p><i class="fa fa-exclamation-circle"></i>是否清空购物车内的无效产品</p>
        <div><a ng-click="cancleDelete()">取消</a><a ng-click="confirmDeleteInvalid()">确认</a></div>
    </div>
</div>