<style>
    .section-item {
        font-size: 14px;
    }
    .section-item>h3 {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .section-item .content {
        padding: 15px 80px;
    }
    .section-item .content p {
        line-height: 25px;
    }
    .breadcrumb-ol {
        padding: 8px 15px;
        margin-bottom: 20px;
        list-style: none;
        border-radius: 4px;
    }
    .breadcrumb-ol>li {
        display: inline-block;
    }
    .hot-news {
        border: 1px solid #e8e8e8;
    }
    .hot-news ol {
        padding: 0 15px;
    }
    .hot-news li{
        border-bottom: #e8e8e8 1px dotted;
    }
    .hot-news li h5{
        margin-top: 20px;
        margin-bottom: 0;
        padding: 5px 0;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 16px;
        color: #666666;
        line-height: 20px;
        font-weight: 600;
    }
    .hot-news h5 a{
        font-weight: normal;
        color: #323232;
    }
    .hot-news li .list-order {
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 1px solid #666666;
        border-radius: 4px;
        text-align: center;
    }
    .news {
        display: table;
        width: 100%;
    }
    .new {
        display: table-row;
    }
    .new>div {
        display: table-cell;
        vertical-align: middle;
        border-bottom: 1px dashed #ccc;
    }
    .new h5 {
        font-size: 16px;
        font-weight: 600;
    }
    .thumbnail-width img {
        max-width: 160px;
    }

    .thumbnail-height img {
        max-height: 100px;
    }

    .thumbnail-news {
        width: 160px;
        height: 100px;
        overflow: hidden;
        margin: 20px 0 20px;
    }
    .thumbnail-news img{
        width: 160px;
        height: 100px;
    }
    .news .new h5 a{
        color: #323232;
        font-weight: normal;
    }
    .news-list{
        padding: 10px 10px 10px 20px;
    }
    .col-md-9 h4{
        border-bottom: #e8e8e8 1px solid;
        line-height: 40px;
        margin: 0;
    }
    .news .new h5 a:hover,.hot-news h5 a:hover{
        color: #5078cb;
        text-decoration: underline;
    }
    .news-list .pull-right{
        font-size: 12px;
        color: #999;
    }
    .news-list .pull-right i{
        margin-right: 10px;
    }
    .news-content{
        width: 1190px;
    }
    .news-content .col-md-3{
        padding: 0;
        width: 260px;
    }
    .news-content .col-md-9{
        float: right;
    }
    .news-content .col-md-3 .hot-news h4{
        background: #ecf2fd;
        width: 100%;
        height: 40px;
        line-height: 40px;
        margin: 0;
    }
    .news-content .col-md-3 .hot-news h4 span{
        background: #feb900;
        width: 30px;
        height: 40px;
        display: inline-block;
        position: relative;
        text-align: right;
        color: #fff;
        margin-right: 40px;
        font-size: 12px;
        line-height: 40px;
        float: left;
    }
    .news-content .col-md-3 .hot-news h4 span:before{
        content: '';
        position: absolute;
        right: -20px;
        top: 0;
        width: 0;
        height: 0;
        border-width: 20px 0 20px 20px;
        border-style: solid;
        border-color: transparent transparent transparent #feb900;
    }
    .label-primary{
        background: #5078cb;
    }

    .height16 {
        width: 100%;
        height: 16px;
        background: #ecf2fd;
        display: inline-block;
    }
    /*分页*/
    .pagination{
        margin-bottom: 0;
    }
   .pagination.ng-table-pagination > li > a > span {
        height: 17px;
        line-height: 17px;
    }
    .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
        z-index: 2;
        color: #fff;
        cursor: default;
        background-color: #5078cb;
        border-color: #5078cb;
    }
    .pagination.ng-table-pagination > li > a{
        font-size: 12px;
    }
    .ng-table-pager  input.page-number {
        vertical-align: inherit;
        display: inline-block;
        width: 40px;
        height: 31px;
        padding: 6px 6px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #9B9792;
        text-align: center;
        background-color: #F6F5F4;
        background-image: none;
        border: 1px solid #ccc;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
    .ng-table-pager{
        margin-right: 0 !important;
        background: #fff;
    }
    .ng-table-pager a.page-a {
        color: #fff;
        cursor: pointer;
        background-color: #5078cb;
        border-color: #5078cb;
        padding: 7px 6px;
        font-size: 14px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        text-decoration: none;
        height: 31px;
    }

    .ng-table-pager div.page-go-block {
        float: right;
        margin-left: 20px;
        font-size: 0px;
        height: 31px;
        line-height: 31px;
    }
    .news-content .col-md-9 h4 span.label{
        font-size: 12px;
        padding: 5px 2px;
        margin-right: 8px;
    }
    .news-content .col-md-9{
        padding-left: 0;
    }
    .hot-time{
        line-height: 30px;
    }
    .hot-time span{
        font-size: 14px;
        color: #999;
    }
    .news-content i{
        margin-right: 5px;
    }
</style>
<section>
    <div class="news-content container">
        <div class="section-item">
           <!-- <ol class="breadcrumb-ol">
                <li><a href=#">首页</a></li>&nbsp;>&nbsp;
                <li><a href="#">新闻中心</a></li>&nbsp;>&nbsp;
                <li>232323</li>
            </ol>
            <h3>新闻中心</h3>-->
            <div class="content" style="padding: 15px 0 30px;">
                <div class="row">
                    <div class="col-md-3" ng-controller="hotNewsCtrl">
                        <div class="hot-news" ng-if="news">
                            <h4><span>hot</span> 热门文章</h4>
                            <div>
                                <ol class="list-unstyled">
                                    <li ng-repeat="new in news">
                                        <h5>
                                            <!--<span class="list-order" ng-bind="$index+1"></span> -->
                                            <a ui-sref="newsDetail({id:new.id})" title="{{new.title}}">{{new.title}}</a>
                                        </h5>
                                        <div class="hot-time">
                                            <span class="text-num" ng-bind="new.created | date: 'yyyy-MM-dd'"></span>
                                            <span class="pull-right text-num" style="font-size: 12px;"><i class="fa fa-eye" style="margin-left: 15px;"></i>{{new.viewCount}}</span>
                                        </div>
                                        <p class="text-muted" style="font-size: 12px;line-height: 20px;height: 40px;overflow: hidden;" ng-bind="new.summary.slice(0,35)+ '...'"></p>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <h4><span class="label label-primary">News</span> 新闻资讯</h4>
                        <div class="news" ng-repeat="new in news">
                                <div class="new">
                                    <div style="width: 120px;">
                                        <div class="thumbnail-news">
                                            <a ui-sref="newsDetail({id:new.id})" title="{{new.title}}"><img class="content-thumbnail" ng-src="{{ new.thumbnail }}" alt="新闻缩略图"/></a>
                                        </div>
                                    </div>
                                    <div class="news-list">
                                        <h5><a ui-sref="newsDetail({id:new.id})" title="{{new.title}}">{{new.title}}</a></h5>
                                        <p ng-bind="new.summary.slice(0,90)+ '...'"></p>
                                        <div class="text-muted">
                                            <span class="pull-left" ng-bind="new.created | date: 'yyyy-MM-dd HH:mm'"></span>
                                            <span class="pull-right text-num">
                                              <i class="fa fa-eye" style="margin-left: 15px;"></i>{{new.viewCount}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="ng-cloak ng-table-pager" style="float: right; margin-top: 30px;">
                            <ul class="pagination ng-table-pagination">
                                <li ng-class="{'disabled': !page.active && !page.current, 'active': page.current}" ng-repeat="page in pages" ng-switch="page.type">
                                    <a ng-switch-when="prev" ng-click="setPage(page.type, -1)" href="">&laquo;</a>
                                    <a ng-switch-when="first" ng-click="setPage(page.type, page.number)" href=""><span ng-bind="page.number"></span></a>
                                    <a ng-switch-when="page" ng-click="setPage(page.type, page.number)" href=""><span ng-bind="page.number"></span></a>
                                    <a ng-switch-when="more" ng-click="setPage(page.type, -1)" href="">&#8230;</a>
                                    <a ng-switch-when="last" ng-click="setPage(page.type, page.number)" href=""><span ng-bind="page.number"></span></a>
                                    <a ng-switch-when="next" ng-click="setPage(page.type, -1)" href="">&raquo;</a>
                                </li>
                            </ul>
                            <div class="page-go-block">
                                <input class="page-number" type="text" ng-model="param.currentPage" ng-keydown="listenEnter()"/>
                                <a class="page-a" ng-click="setPage('page', param.currentPage)">GO</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>