<div class="box">
	<div class="box-header well" data-original-title>
		<i class="icon-user"></i> 留言板管理
	</div>
	<div class="box-content">
		<!-- ng-tableStart -->
		<div class="fullscreen" style="padding: 10px;">
			<div class="row">
				<div class="col-sm-1">
					共<span class="badge">{{messageBoardTableParams.total()}} </span>条
				</div>
				<div class="col-sm-5">
					<div class="btn-group" role="group" aria-label="...">
						<button type="button" class="btn btn-default" ng-class="{'btn-primary':active=='all'}" ng-click="setActive('all')">全部</button>
						<button type="button" class="btn btn-default" ng-class="{'btn-primary':active=='tobehandle'}" ng-click="setActive('tobehandle')">待处理</button>
						<button type="button" class="btn btn-default" ng-class="{'btn-primary':active=='handled'}" ng-click="setActive('handled')">已处理</button>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="input-group" style="float: right">
						<input type="search" class="form-control ng-pristine ng-valid ng-touched" ng-model="keyword" 
							ng-search="onSearch()" placeholder="按问题类型搜索">
						<div class="input-group-btn">
							<button ng-click="onSearch()" class="btn btn-primary" type="button">搜索</button>
						</div>
					</div>
				</div>
			</div>
			<table ng-table="messageBoardTableParams" class="table table-bordered table-striped" style="margin-top: 10px;">
				<thead>
					<tr>
						<th width="30">序号</th>
						<th width="100">问题类型</th>
						<th width="100">留言者姓名</th>
						<th width="50">身份</th>
						<th width="100">留言者手机号</th>
						<th width="100">留言者邮箱</th>
						<th width="100">留言时间</th>
						<th width="100">留言页面</th>
						<th width="100">状态</th>
						<th width="80">操作</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="messageBoard in $data">
						<td class="text-center">{{($index + 1)}}</td>
						<td>{{messageBoard.type}}
							<span class="label label-success f12" ng-if="messageBoard.isRead == 0">未阅</span>
						</td>
						<td ng-bind="messageBoard.userName"></td>
						<td>
							<span ng-show="messageBoard.role=='buyer'">买家</span>
							<span ng-show="messageBoard.role=='seller'">卖家</span>
						</td>
						<td ng-bind="messageBoard.userTel"></td>
						<td ng-bind="messageBoard.email"></td>
						<td ng-bind="messageBoard.createDate | date: 'yyyy-MM-dd HH:mm'"></td>
						<td><a ng-href="{{messageBoard.submitUrl}}" ng-bind="messageBoard.submitTitle" target="_blank"></a></td>
						<td>
							<span ng-if="messageBoard.status == 810">未处理</span>
							<span ng-if="messageBoard.status == 811">已处理</span>
						</td>
						<td>
							<a ng-href="#operation/messageBoard/{{messageBoard.id}}" target="_blank">
								<button type="button" class="btn btn-default btn-sm"
								>查 看</button>
							</a>
						</td>
					</tr>
					<tr ng-if="$data.length == 0">
						<td colspan="10" class="text-center" style="line-height: 40px; font-size: 20px;"><i class="fa fa-smile-o fa-lg"></i> 当前没有对应的属性对照资料</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- ng-tableEnd -->
	</div>
</div><!--/span-->